<p-dialog [closable]="false" [modal]="true" [(visible)]="openModel" [style]="{'width': '90vw', 'height':'100vh'}" class="dialog-header">

  <div class="header mb-5">
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-primary"
              (click)="downloadFile()">{{'shared.downloadFile'| translate}}</button>
      <button  >
        <i class="pi pi-times" (click)="openModel=false"></i>
      </button>
    </div>
  </div>

 <iframe
  width="100%"
  height="100%"
  [src]="src |safe"
  frameborder="0"
  allowfullscreen></iframe>
</p-dialog>
