
<ng-container *ngIf="mode=='view'">

    <ng-container *ngIf="!attachments.length && loading">
        <div class="row g-5">
            <div class="col-md-4">
                <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}" ></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>

        </div>
    </ng-container >

    <div class="float-btn " (click)="mode='edit'" *permit="claimsEnum.SEG_U_StudentAttachments">
        <img src="assets/images/shared/pen-blue-filled.svg" alt="">
    </div>
    <ng-container *ngIf="attachments && attachments.length">

        <div class="">
            <div class="row mt-5">
                <ng-container *ngFor="let file of attachments; let i = index">
                    <div class="col-md-4 mt-4" *ngIf="file?.url">
                        <app-file [file]="file" [clickable]="true"></app-file>
                    </div>
                </ng-container>

            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="!attachments?.length && !loading">
        <app-informative-block subTitle="{{'emptyList.noAttachments' |translate}}" ></app-informative-block>
    </ng-container>
</ng-container>


<ng-container *ngIf="mode=='edit'">


    <div class="d-flex justify-content-end gap-3">
        <button class="btn btn-primary" (click)="addMode=true" >{{'shared.addNewFile' |translate}}</button>

        <ng-container *ngIf="attachments?.length">
          <button class="btn btn-primary "
          [disabled]="onSubmit"
          (click)="updateStudentAttachment(studentId || childId, attachments)">
              <span>{{'shared.saveChanges'| translate}}</span>
              <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
          </button>

          <button  (click)="mode='view'"><a class="cancelbtn mx-4">{{'shared.Cancel'|translate}}</a></button>
        </ng-container>

    </div>

    <div class="mt-5 border-dark radius-15 p-5" *ngIf="addMode">
      <div class="row gx-5 "  [formGroup]="fileForm">
          <div class="col-md-4">
              <label class="label required">{{'dashboard.students.attachmentsToAdd'|translate}}</label>
              <p-dropdown formControlName="indexId" (ngModelChange)="fileTypeChanged($event)" [options]="gurdiansAttachmentsTypes$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'dashboard.SystemSetting.chooseAttachment' |translate}}"></p-dropdown>
              <p *ngIf="showErrMess" class="color-red-500 fs-4 mt-3">هناك بالفعل مرفقات محفوظه لهذا النوع ، وبهذا الحفظ ستحل محل البيانات السابقة</p>
          </div>
          <ng-container formGroupName="titel">

              <div class="col-md-3">
                  <label  class="label">{{'dashboard.SystemSetting.fileNameAr'|translate}}</label>
                  <input pInputText formControlName="ar" >
              </div>
              <div class="col-md-3">
                  <label  class="label">{{'dashboard.SystemSetting.fileNameEn'|translate}}</label>
                  <input pInputText formControlName="en" >
              </div>
          </ng-container>

          <!-- <div class="col-md-2">
              <label  class="label">{{'dashboard.SystemSetting.attachmentType'|translate}}</label>
              <p-dropdown formControlName="fileType" [options]="filesTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
          </div> -->

                  <div class="col mb-2 gap-3 align-self-end d-flex justify-content-end mt-4">
                      <button class="btn btn-primary" (click)="addNewAttachment()" [disabled]="!fileForm.valid">{{'shared.save' |translate}}</button>
                      <button class="fs-3" ><a (click)="addMode=false" class="cancelbtn">{{'shared.Cancel'|translate}}</a></button>
                  </div>

        </div>
    </div>


    <hr class="my-5">

    <div class="">
        <div class="row gx-5">
            <div class="col-md-4"  *ngFor="let file of attachments; let i=index">
                <div class="">
                    <app-file-upload [files]="[{url: file.url,name:file.name, comment:file.comment}]" [hasComment]="true" view="full" (onFileUpload)="onFileUpload($event, i)" [title]="file.titel.ar"></app-file-upload>
                </div>
            </div>
        </div>

    </div>
</ng-container>

