<div class="survey-report" >


    <div class="survey-report__content my-5 radius-12  custom-form" *ngIf="survey?.responsesCount&&survey">
        <div class="report mb-5">
            <div class="row gx-5">

                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'dashboard.surveys.questions numbers'| translate}}</p>
                        <span class="color-primary">{{survey?.questionsCount}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'dashboard.surveys.answers numbers'| translate}}</p>
                        <span class="color-primary">{{survey?.responsesCount}}</span>

                    </div>
                </div>
                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'dashboard.surveys.Percentge'| translate}}</p>
                        <div class="d-flex w-75" *ngIf="survey?.responsePercentage<=20">
                            <p-progressBar id="optionA" [value]="survey?.responsePercentage"></p-progressBar>
                           {{survey?.responsePercentage}} %
                      </div>
                      <div class="d-flex w-75" *ngIf="survey?.responsePercentage>20&&survey?.responsePercentage<=50">
                        <p-progressBar id="optionB" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                     </div>
                     <div class="d-flex w-75" *ngIf="survey?.responsePercentage>50&&survey?.responsePercentage<=80">
                        <p-progressBar id="optionC" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                     </div>
                     <div class="d-flex w-75" *ngIf="survey?.responsePercentage>80">
                        <p-progressBar id="optionD" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                      </div>

                    </div>
                </div>

            </div>
        </div>
    <div class="prim-table" infiniteScroll [infiniteScrollDistance]="0.1" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
       
        <p-table [value]="questions.list" dataKey="id"   >
            <ng-template pTemplate="body" let-item let-expanded="expanded">
                <tr class="questions" >
                    <td  >
                        <button type="button" pButton pRipple [pRowToggler]="item" (click)="expanded ? closeRow():openRow(item?.id);" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{'dashboard.surveys.questionText'| translate}} </td>
                    <td class="  fs-3  questions">{{item.questionText|currentLang}} </td>
                    <td>{{'dashboard.surveys.questionType'| translate}}</td>
                    <td class=" fs-3 type">{{'dashboard.surveys.'+item.questionType| translate}}</td>
                </tr>
            </ng-template>
         

           
            <ng-template pTemplate="rowexpansion" let-question>
                <tr  *ngIf="question?.loading">
                    <td colspan="15">
                
                    <app-skeleton count="4"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                    </td>
                </tr>
                <ng-container *ngIf="!question?.loading">
                  <tr  *ngIf="question?.questionType==QuestionsTypeEnum.SurveyMultiChoiceQuestion" >
                    <td colspan="15">
                <div class="row mt-5 mx-5">
                  
                    <div  class="col-lg-3 mb-5" *ngFor="let element of question?.choices; let j = index">
                 
                            <span class="d-inline" >
                                <label class="label "><span class="color-primary mt-2">{{element.choice|currentLang}}</span></label>
                              
                                <div class="d-flex w-75" *ngIf="element?.choicePercentage<=20">
                                    <p-progressBar id="optionA" [value]="element?.choicePercentage"></p-progressBar>
                                    {{element?.choicePercentage}} %
                              </div>
                              <div class="d-flex w-75" *ngIf="element?.choicePercentage>20&&element?.choicePercentage<=50">
                                <p-progressBar id="optionB" [value]="element?.choicePercentage"></p-progressBar>
                                {{element?.choicePercentage}} %
                             </div>
                             <div class="d-flex w-75" *ngIf="element.choicePercentage>50&&element?.choicePercentage<=80">
                                <p-progressBar id="optionC" [value]="element?.choicePercentage"></p-progressBar>
                                {{element?.choicePercentage}} %
                             </div>
                             <div class="d-flex w-75" *ngIf="element.choicePercentage>80">
                                <p-progressBar id="optionD" [value]="element?.choicePercentage"></p-progressBar>
                               {{element?.choicePercentage}} %
                              </div>
                            </span>
                            
                    </div>
                
                 
                </div>
            </td>
            </tr>
                <tr>
                    <td colspan="15"  class="expand pt-1 pb-1">
                        <div class="prim-table">
                            <p-table [value]="question?.parents" dataKey="guardianId">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="category"  >{{'dashboard.surveys.parentName'|translate }}
                                            
                                        </th>
                                        <th pSortableColumn="quantity">{{'shared.phoneNumber'|translate }}
                                            
                                        </th>
                                        <th pSortableColumn="price" class="answer">{{'dashboard.surveys.answer'|translate }}
                                         
                                        </th>
                                        <th pSortableColumn="time" >{{'dashboard.surveys.answerDateAndTime'|translate }}
                                           
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-parent>
                                    <tr>
                        
                                        <td >{{parent.gurdianName|currentLang}}</td>
                                        <td >{{parent.gurdianPhoneNumber}}</td>
                                        <td class="action" *ngIf="question.questionType==QuestionsTypeEnum.SurveyMultiChoiceQuestion||question.questionType==QuestionsTypeEnum.SurveyFreeTextQuestion">{{parent.answer}}</td>
                                        <td class="action" *ngIf="question.questionType==QuestionsTypeEnum.SurveyAttachmentQuestion">
                                            <button class="link" (click)="exportPdf(parent?.answer)" [di]>
                                                <a class="color-skyBlue-400">{{'dashboard.surveys.Open File'|translate}}</a>
                                            </button>
                                        </td>
                                        <td class="action" *ngIf="question.questionType==QuestionsTypeEnum.SurveyRateQuestion">
                                            <p-rating [disabled]="true" [(ngModel)]="parent.answer" [cancel]="false"></p-rating> 
                                        </td>
                                        
                                        <td>{{parent.responseDateAndTime |LocalizeDate}}</td>
                
                                    </tr>
                                </ng-template>
                               
                            </p-table>
                        </div>
                    </td>
                </tr>
              </ng-container>
            
            </ng-template>
        
        </p-table>
       
           
  
    </div>
  
    <!-- <button *ngIf="questions.list.length!=questions.totalAllData" class="btn btn-primary LoadMore" type="button"
    disabled [ngClass]="showSpinner?'shown-spinner':'hidden-spineer'">

    {{questions.list.length}} {{'shared.From'|translate}} {{questions.totalAllData}}

    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
   </button> -->

    </div>
    <div *ngIf="!survey?.responsesCount&&survey">
        <app-informative-block  title="{{'emptyList.No replies yet'|translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </div>

    <ng-container *ngIf="!survey">
        <div class="row g-5 mt-5">
           
                <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        
        </div>
    
     </ng-container>
</div>

