@import '../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../assets/css/components/primng-table';
@import'../../../../../../assets/css/components/input';
@import'../../../../../../assets/css/components/buttons';
@import '../../../../../../assets/css/components/forms.scss';
@import '../../../../../../assets/css/components/validation-form.scss';
.subjects{
    textarea{
    height: 176px !important;
    overflow: hidden;
    border-radius: 2rem !important;
}
}


.content {
    width: 100%;
    .Btn-group {
            position: absolute;
       
            bottom:75% ;
    
         
    }
       
}
   
  

hr {
    width: 90%;
}
.submitBtn{
    position: absolute;
    top: 15rem;
    left: 20rem;
}

::ng-deep p-calendar{
    box-shadow: none !important;
}
.star {
    color: red;
    font-size: 1.5rem;
 }
// .input-group {
//     flex-wrap: nowrap;
// }
// #switchbtn {
//     position: absolute;
//     margin-right: 28px;
//     transform: rotate(0deg);
// }
// .switch {
//     .Label {
//         margin-right: 0.5rem;
//     }
//     .status {
//         color: #AFAFAF;
//         font-weight: 400;
//         // margin-left: 1rem;
//     }
//     position: relative;
//     top:0.2rem;
//     // right: 9rem;
// }
// span.Label.ng-star-inserted {
//     margin-right: 8rem;
// }