<!-- <app-add-btn fs-4 [backGroundColor]="'btn-primary'" [route]="'register'" [content]="'breadcrumb.Studentregister'">
</app-add-btn> -->

<form [formGroup]="registerWithoutIdentityForm" (ngSubmit)="sendRegisterForm()" class="container-fluid ">
    <div class="radius-15 border p-5 mb-5 bg-white">
        <div class="row gx-5 form-set  custom-form ">
            <div class="col-md-4">
                <label class="label" for="day">{{'dashboard.addChild.The reason for the lack of identification' | translate}} <span class="star">*</span></label>
                <p-dropdown *ngIf="currentLang == 'ar'" [options]="indexes" formControlName="reason"  optionLabel="name.ar" optionValue="id"  placeholder="{{'dashboard.addChild.The reason for the lack of identification' | translate}}"></p-dropdown>
                <p-dropdown *ngIf="currentLang == 'en'" [options]="indexes" formControlName="reason"  optionLabel="name.en" optionValue="id"  placeholder="{{'dashboard.addChild.The reason for the lack of identification' | translate}}"></p-dropdown>

            </div>
        </div>
    </div>

    <!-----------------------------add row------------------------------->
    <div class="row">
        <ul class="subjects" >
            <div class="row mb-5">
                <div class="col-md-3 m-4">
                    <P>{{'dashboard.addChild.Please attach a photo ID' | translate}} <span class="star">*</span></P>
                    <app-file-upload [accept]="'image/*,application/pdf'" view="full" (onFileUpload)="messageUpload1($event)" (onFileDelete)="messageDeleted1($event)"></app-file-upload>
                </div>
                <div class="col-md-4 pt-4">
                    <P class="pb-4 px-5">{{'dashboard.addChild.note (optional)' | translate}}</P>
                    <textarea [cols]="30" class="w-100 rounded textareaBorder" [rows]="9" placeholder="{{'dashboard.addChild.note (optional)' | translate}}" formControlName="note" pInputTextarea [autoResize]="true"></textarea>
                </div>
                <div class="col-md-3 m-4">
                    <P>{{'dashboard.addChild.Sons profile picture' | translate}}</P>
                    <app-file-upload [accept]="'image/*,application/pdf'" view="full" (onFileUpload)="messageUpload2($event)" (onFileDelete)="messageDeleted2($event)"></app-file-upload>
                </div>
            </div>
        </ul>
    </div>

    <div class="row mb-5">
        <div class="radius-15 border p-5 mb-5 bg-white">
            <div class="row gx-5 form-set  custom-form mb-5">

                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.name' | translate}} <span class="star">*</span></label>
                    <input type="text" (keypress)="charactersOnly($event)" id="day" formControlName="name" pInputText placeholder="{{'dashboard.addChild.name' | translate}}" />
                </div>
                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.nickname' | translate}} <span class="star">*</span></label>
                    <input type="text" id="day"  (keypress)="charactersOnly($event)" formControlName="nickname" pInputText placeholder="{{'dashboard.addChild.nickname' | translate}}" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.gender' | translate}} <span class="star">*</span> </label>
                    <p-dropdown *ngIf="currentLang == 'ar'" [options]="gender" formControlName="gender"  optionLabel="name.ar" optionValue="id" placeholder="{{'dashboard.addChild.gender' | translate}}"></p-dropdown>
                    <p-dropdown *ngIf="currentLang == 'en'" [options]="gender" formControlName="gender"  optionLabel="name.en" optionValue="id" placeholder="{{'dashboard.addChild.gender' | translate}}"></p-dropdown>
                </div>
            </div>
            <div class="row gx-5 form-set  custom-form  mb-5">

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Date of Birth' | translate}} <span class="star">*</span></label>
                    <p-calendar formControlName="birthdate" [showIcon]="true" inputId="icon" appValidation
                                placeholder="dd/mm/yy" [readonlyInput]="true" >
                   </p-calendar>
                </div>
                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.Nationality' | translate}} <span class="star">*</span> </label>
                    <p-dropdown *ngIf="currentLang == 'ar'" [options]="Nationalities" formControlName="nationality" optionLabel="name.ar" optionValue="id" placeholder="{{'dashboard.addChild.Nationality' | translate}}"></p-dropdown>
                    <p-dropdown *ngIf="currentLang == 'en'" [options]="Nationalities" formControlName="nationality" optionLabel="name.en" optionValue="id" placeholder="{{'dashboard.addChild.Nationality' | translate}}"></p-dropdown>
                </div>
                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Relevance Type' | translate}} <span class="star">*</span></label>
                    <p-dropdown *ngIf="currentLang == 'ar'" [options]="relatives" formControlName="relativity" optionLabel="arabicName" optionValue="id" placeholder="{{'dashboard.addChild.Relevance Type' | translate}}"></p-dropdown>
                    <p-dropdown *ngIf="currentLang == 'en'" [options]="relatives" formControlName="relativity" optionLabel="englishName" optionValue="id" placeholder="{{'dashboard.addChild.Relevance Type' | translate}}"></p-dropdown>

                </div>
            </div>

            <div class="row gx-5 form-set  custom-form mb-5">

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Passport number' | translate}} <span class="star">*</span></label>
                    <input type="text"  (keypress)="numbersOnly($event)" id="day" formControlName="travelId" pInputText placeholder="{{'dashboard.addChild.Passport number' | translate}}" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Religion' | translate}} <span class="star">*</span></label>
                    <p-dropdown *ngIf="currentLang == 'ar'" [options]="religions" formControlName="religion" optionLabel="name.ar" optionValue="id" placeholder="{{'dashboard.addChild.Religion' | translate}}"></p-dropdown>
                    <p-dropdown *ngIf="currentLang == 'en'" [options]="religions" formControlName="religion" optionLabel="name.en" optionValue="id" placeholder="{{'dashboard.addChild.Religion' | translate}}"></p-dropdown>

                </div>

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.The expiry date of the passport' | translate}} <span class="star">*</span></label>
                    <p-calendar formControlName="PassportNumberExpirationDate" [showIcon]="true" inputId="icon" [minDate]="minimumDate" appValidation
                                placeholder="dd/mm/yy" [readonlyInput]="true" >
                   </p-calendar>
                </div>
            </div>
        </div>



    </div>
    <div class="row">
        <ul class="subjects">
            <h3>{{'dashboard.addChild.required attachments' | translate}}</h3>
            <div class="row mt-5">
                <div class="col-md-5">
                    <P>{{'dashboard.addChild.Copy of date of birth proof' | translate}} <span class="star">*</span></P>
                    <app-file-upload [accept]="'image/*,application/pdf'" view="full" (onFileUpload)="messageUpload3($event)" (onFileDelete)="messageDeleted3($event)"></app-file-upload>
                </div>
                <div class="col-md-4">
                    <P class="pb-4">{{'dashboard.addChild.note (optional)' | translate}}</P>
                    <textarea class="textareaBorder" [rows]="9" placeholder="{{'dashboard.addChild.note (optional)' | translate}}" formControlName="note2" [cols]="45" pInputTextarea [autoResize]="true"></textarea>
                </div>
            </div>
        </ul>
    </div>
    <button class="btn btn-primary submitBtn" [disabled]="!registerWithoutIdentityForm.valid || imageResult1.length == []|| imageResult3.length == []">{{'dashboard.issue of certificate.Save' | translate}} </button>
</form>