<div class="tabView">

    <!-- <div class="radius-15 border p-5 mb-5 bg-white">



        <!-- <div class="row gx-5 p-4 bg-gray-30 my-5">
            <div class="col-md-3  d-flex align-items-center  gap-4">
                <span class="color-gray-300">رقم الأستبيان</span>
                <span class="color-primary">204204205</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">تاريخ الأنشاء</span>
                <span class="color-primary">2022/07/04</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300"> نشأ من قبل </span>
                <span class="color-primary">محمد علي طارق</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">حالة الأستبيان</span>
                <span class="color-green-600 Surveystatus">جديد</span>
            </div>
        </div> -->
    <!-- <div class="row gx-5 form-set  custom-form ">
            <div class="col-md-4">
                <label class="label" for="day">عنوان الاستبيان </label>
                <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="اكتب عنوان الاستبيان"></p-dropdown>
            </div>

            <div class="col-md-4">
                <label class="label" for="day">نوع الاستبيان </label>
                <input type="text" id="day" pInputText placeholder="اكتب نوع الاستبيان" />
            </div>
        </div> --
</div> -->
    <div id="content">
        <div class="container mt-5 custom-form custom-validation-form" style="margin-bottom: 20rem;">
            <form [formGroup]="assesmentFormGrp" class="container-fluid ">

                <h4 class="heading heading--tertiary my-5">قاعدة التسجيل من المنهج الاسترالي الى المنهج الأميركي
                    <button class="color-skyBlue-500 fs-3 fw-700 m-3" routerLink="">
                    {{'shared.edit'|translate}} <img src="assets/images/shared/arrow.svg" alt="">
                </button>
                </h4>

                <div class="row gx-5 form-set">

                    <div class="col-xs-4 col-lg-4">
                        <label class="label" for="day">المناهج القديمة</label>
                        <p-multiSelect [options]="diseases" formControlName="chronicDiseases" optionLabel="name" display="chip" appValidationoption></p-multiSelect>

                        <!-- <label for="PID8" class="label"><b>خيارات السؤال</b></label>
                  <p-multiSelect [options]="choices" formControlName="chronicDiseases" placeholder="{{'dashboard.Assessment.succeeded'| translate}}" class="form-control" appValidationoption></p-multiSelect> -->


                        <div [hidden]="status.valid || status.untouched">
                            <small *ngIf="status.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                </small>

                        </div>


                    </div>
                    <div class="col-xs-4 col-lg-4">
                        <label class="label" for="day"> المناهج الجديدة </label>
                        <p-multiSelect [options]="diseases" formControlName="Assessmenttwo" optionLabel="name" display="chip" appValidationoption></p-multiSelect>

                        <!-- <label for="PID8" class="label"><b>خيارات السؤال</b></label>
                  <p-multiSelect [options]="choices" formControlName="chronicDiseases" placeholder="{{'dashboard.Assessment.succeeded'| translate}}" class="form-control" appValidationoption></p-multiSelect> -->


                        <div [hidden]="status.valid || status.untouched">
                            <small *ngIf="status.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                </small>

                        </div>


                    </div>
                    <div class="col-xs-4 col-lg-4">
                    </div>
                    <div class="col-xs-4 col-lg-4">
                        <label class="label" for="day"> الصفوف </label>
                        <p-multiSelect [options]="diseases" formControlName="chronicDiseases" optionLabel="name" display="chip" appValidationoption></p-multiSelect>

                        <!-- <label for="PID8" class="label"><b>خيارات السؤال</b></label>
                  <p-multiSelect [options]="choices" formControlName="chronicDiseases" placeholder="{{'dashboard.Assessment.succeeded'| translate}}" class="form-control" appValidationoption></p-multiSelect> -->


                        <div [hidden]="status.valid || status.untouched">
                            <small *ngIf="status.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                </small>

                        </div>


                    </div>
                    <div class="col-xs-2 col-lg-4  switch">

                        <div class="d-flex status">
                            <span class="text">{{'shared.activated'|translate}}</span>
                            <p-inputSwitch (onChange)="isToggleLabel($event)" formControlName="status"></p-inputSwitch>
                            <span class="Label" *ngIf="!isShown && !urlParameter">{{'shared.no'|translate}}</span>
                            <span class="Label" *ngIf="isShown && !urlParameter">{{'shared.yes'|translate}}</span>

                        </div>

                    </div>




                </div>

                <!-----------------------------add row------------------------------->
                <div class="row">
                    <ul class="subjects" formArrayName="subjects">
                        <li class="subject border p-4 pb-5" *ngFor="let subject of classSubjects.controls ;let i=index" [formGroupName]="i">


                            <div class="p-5">
                                <h4 class="heading heading--tertiary my-5">قاعدة التسجيل من المنهج الاسترالي الى المنهج الأميركي
                                    <button class="color-skyBlue-500 fs-3 fw-700 m-3" routerLink="">
                                {{'shared.edit'|translate}} <img src="assets/images/shared/arrow.svg" alt="">
                            </button>
                                </h4>
                                <div class="row gx-5 form-set">

                                    <div class="col-xs-4 col-lg-4">
                                        <label class="label" for="day">المناهج القديمة</label>
                                        <p-multiSelect [options]="diseases" formControlName="chronicDiseases" optionLabel="name" display="chip" appValidationoption></p-multiSelect>

                                        <div [hidden]="status.valid || status.untouched">
                                            <small *ngIf="status.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                    </small>

                                        </div>


                                    </div>
                                    <div class="col-xs-4 col-lg-4">
                                        <label class="label" for="day"> المناهج الجديدة </label>
                                        <p-multiSelect [options]="diseases" formControlName="Assessmenttwo" optionLabel="name" display="chip" appValidationoption></p-multiSelect>



                                        <!-- <label for="PID8" class="label"><b>خيارات السؤال</b></label>
                                      <p-multiSelect [options]="choices" formControlName="chronicDiseases" placeholder="{{'dashboard.Assessment.succeeded'| translate}}" class="form-control" appValidationoption></p-multiSelect> -->


                                        <div [hidden]="status.valid || status.untouched">
                                            <small *ngIf="status.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                    </small>

                                        </div>


                                    </div>
                                    <div class="col-xs-4 col-lg-4">
                                    </div>
                                    <div class="col-xs-4 col-lg-4 m-3">
                                        <label class=" label " for="day "> الصفوف </label>
                                        <p-multiSelect [options]="diseases " formControlName="chronicDiseases " optionLabel="name " display="chip " appValidationoption></p-multiSelect>



                                        <!-- <label for="PID8 " class="label "><b>خيارات السؤال</b></label>
                                      <p-multiSelect [options]="choices " formControlName="chronicDiseases " placeholder="{{ 'dashboard.Assessment.succeeded'| translate}} " class="form-control " appValidationoption></p-multiSelect> -->


                                        <div [hidden]="status.valid || status.untouched ">
                                            <small *ngIf="status.errors?.[ 'required'] " id="helpId " class="form-text text-muted d-block " class="alert-danger ">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]="exclamationIcon "  class="dangericon ms-1 "></fa-icon>
                                    </small>

                                        </div>


                                    </div>
                                    <div class="col-xs-2 col-lg-4 m-3 switch ">
                                        <div class="d-flex status ">
                                            <span class="text ">{{'shared.activated'|translate}}</span>
                                            <p-inputSwitch (onChange)="isToggleLabel($event) " formControlName="status "></p-inputSwitch>
                                            <span class="Label " *ngIf="!isShown && !urlParameter ">{{'shared.no'|translate}}</span>
                                            <span class="Label " *ngIf="isShown && !urlParameter ">{{'shared.yes'|translate}}</span>

                                        </div>

                                    </div>
                                </div>



                            </div>
                        </li>

                        <div role="button " class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 " (click)="addSubject() ">
                            <fa-icon [icon]="faPlus "></fa-icon>
                            <span> إضافة قاعدة جديدة </span>
                        </div>
                    </ul>

                </div>

            </form>
            <hr class="color-gray-400 mb-4 ">
            <!-------------------------second row---------------------------------------------->
        </div>

    </div>
</div>