@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';
@import 'src/assets/css/components/message.scss';
@import 'src/assets/css/components/inputswitch';
@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/forms.scss';
.survey {
    &__content {
        padding: 4.5rem 3rem;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 2px 4px 32px 2px rgba(0, 0, 0, 0.07);
        width: 95%;
    }
}

#question.p-multiselect {
    width: 200%;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #F5F5F5;
    margin-right: 4px;
    background: #F5F5F5;
    padding: 0 5px;
    color: #337ab7;
    border-radius: 2px;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 4px 3px 8px;
    gap: 4px;
}

.Surveystatus {
    width: 81px;
    height: 30px;
    background: rgba(57, 192, 71, 0.1);
    border-radius: 15px;
    text-align: center;
}

#content {
    width: 100%;
    .Btn-group {
        position: absolute;
        bottom: 100%;
        padding-bottom: 2.6%;
        .cancelbtn {
            color: #EF8071;
            font-weight: 400;
            margin-right: 2rem;
        }
    }
    .switch {
        .Label {
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
        .status {
            margin-top: 2rem;
        }
        .text {
            margin-top: 0.5rem;
        }
    }
}