

<div class="submit-btn d-flex gap-4 justify-content-end position-absolute">

    <button *permit="claimsEnum.E_RaiseDivisionAbsenceRecord" class="btn btn-primary btn--md" (click)="openRaisAbsenceModel()">
        <span>{{'dashboard.schools.raisAbsence'|translate}}</span>
    </button>
</div>


<div class="prim-table mt-4" *ngIf="absenceRecord.totalAllData || absenceRecord.loading">
    <p-table #dt [value]="absenceRecord.list" (onSort)="onSort($event)">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">

            <div class="mb-5">
                <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3">
                    <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                    <span class="color-gray-800">{{'Last Date Of abbsence'|translate}} {{lastDate|LocalizeDate:'d MMMM y - hh:mm'}}</span>
                </div>
                <app-button-group [items]="btnGroupItems" (onClick)="filtration.status=$event; getAbsenceRecords()"></app-button-group>

                <div class="d-flex align-items-end gap-5 mt-5 custom-form">
                    <div >
                        <label class="label required">{{'shared.chooseDay' |translate}}</label>
                        <div class="calender">
                            <p-calendar #calendar  icon="pi pi-clock"
                                [showIcon]="true" placeholder="{{'dd/mm/yy'| translate}}"
                                dateFormat="DD dd-mm-yy"
                                (onSelect)="dateSelected($event)"></p-calendar>
                                <!-- [(ngModel)]="absenceStudentsForm.date" -->

                            <div class="icon calendar" (click)="calendar.toggle()">
                                <img src="assets/images/navBar/calendar.svg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="bg-orange-50 p-3 radius-15">
                        <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                        <span class="color-gray-800">" {{'shared.youShouldChooseDay' |translate}}"</span>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center bg-gray-30 radius-15">
                <div class="flex-grow-1">
                    <app-table-caption
                    [hasFilter]="false"
                    [hasExport]="false"
                    (onExport)="onExport($event)"
                    (onSearch)="this.filtration.Page=1;filtration.KeyWord = $event; getAbsenceRecords()"
                    (onClear)="clearFilter()"></app-table-caption>
                </div>
                <!-- <button class="btn btn--sm btn-outline-none pe-2 mb-4" (click)="addStudentsModelOpened=true">
                    <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                    <span>{{'dashboard.schools.addStudent'|translate}}</span>
                </button> -->
            </div>
        </ng-template>

    <ng-template pTemplate="header" let-columns="columns">
            <tr>
                <th pSortableColumn="studentNumber">{{'dashboard.schools.studentId'|translate}} <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">{{'dashboard.schools.studentName'|translate}} <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="surname">{{'dashboard.schools.studentNickname'|translate}} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="withCause">{{'dashboard.parents.absenceType'|translate}}</th>
                <th pSortableColumn="cause">{{'dashboard.parents.absenceCause'|translate}}</th>
                <th *permit="claimsEnum.E_D_AbsentStudent"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-studentObj let-columns="columns">
            <tr>
                <td>{{studentObj.student.studentNumber}}</td>
                <td>{{studentObj.student.name |currentLang}}</td>
                <td>{{studentObj.student.surname |currentLang}}</td>
                <td>{{studentObj.withCause=='WithCause' ? ("dashboard.parents.withCause"|translate) : ("dashboard.parents.withoutCause"|translate)}}</td>
                <td *ngIf="studentObj?.cause">{{studentObj?.cause?.name | currentLang}}</td>
                <td *ngIf="!studentObj?.cause">-----</td>
                <td *permit="claimsEnum.E_D_AbsentStudent">
                    <div class="d-flex justify-content-end gap-5 ps-5">
                        <div class="alerting success">
                            <span class="fw-bold color-skyBlue-600">{{'dashboard.schools.absent' |translate}}</span>
                        </div>
                        <div role="button" (click)="this.confirmModelService.openModel(); selectedRecord=studentObj">
                                <img   src="assets/images/shared/rect-xmark.svg" alt="">
                       </div>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="absenceRecord.totalAllData && absenceRecord.list.length == 0 &&  !absenceRecord.loading && absenceRecord.isDateSelected">
                        <app-informative-block subTitle="{{'emptyList.noAbcenceStudents' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <ng-container *ngIf="!absenceRecord.isDateSelected">
                        <app-informative-block subTitle="{{'emptyList.youShouldSelectDate' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div *ngIf="absenceRecord.total > paginationState.rows">
        <app-pagination [totalItems]="absenceRecord.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
</div>


<!-- <ng-container *ngIf="!absenceRecord.totalAllData && !absenceRecord.loading">
    <app-informative-block subTitle="{{'emptyList.absenceRecord' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container> -->





<!-- Add absence Student Dialog -->
<p-dialog header="{{'dashboard.schools.raisAbsence'| translate}}" [(visible)]="absenceModelOpened" [draggable]="false" [modal]="true" [style]="{width: '45vw',height:'75vh'}">
    <ng-template pTemplate="content">
        <div class="custom-form parent-modal" #form="ngForm" ngForm>
            <label class="label required">{{'shared.date' | translate}}</label>
            <p-calendar
            [style]="{'font-size': '1.6rem'}"
            icon="pi pi-clock"
            [showIcon]="true"
            [(ngModel)]="absenceStudentsForm.date"
            dateFormat="DD dd /mm /yy"
            name="date"
            useUtc
            placeholder="{{'dd/mm/yy'| translate}}"
             required></p-calendar>


             <div class="d-flex align-items-center gap-4  my-5">
              <!-- <input-switch  for="optional" label="{{'shared.yes'| translate}}"></input-switch> -->
              <label class="mb-2" for="description">{{'dashboard.schools.absenceStudentsExist'|translate}}</label>
              <p-inputSwitch name="isAbsence" #isAbsence ngModel (onChange)="resetSelectedStudents()"></p-inputSwitch>
              <span class="mb-2" for="name">{{(isAbsence.checked() )? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
            </div>

             <ng-container *ngIf="isAbsence.checked()">
               <div class="myInput myInput--full myInput--search p-input-icon-right">
                   <i class="pi pi-search fs-3 "></i>
                   <input class="input" [formControl]="studentSearchText" [ngModelOptions]="{standalone: true}" type="text" pInputText placeholder="{{'shared.Search...'|translate}}"/>
               </div>

               <!-- Search Result -->
               <div class="row g-4 mt-6 mb-5" *ngIf="!isLoading">
                   <ng-container *ngFor="let student of absenceStudentsForm.studentAbsences |localizeSearch:studentSearchText.value; let i =index">

                       <div class="col-md-6 col-md-6 d-flex gap-4 align-items-center">
                               <p-checkbox  name="students" [binary]="true" [inputId]="i" [(ngModel)]="student.isAbsencent" ></p-checkbox>
                               <!-- <p-checkbox  name="students" [value]="student" [inputId]="i" [(ngModel)]="absenceStudentsForm.studentAbsences"></p-checkbox> -->
                               <label class="label label--sm" >[ {{student.studentNumber}} ] {{student.name|currentLang}}</label>
                       </div>
                       <div class="col-md-6 d-flex align-items-center gap-5">
                           <div class="d-flex align-items-center gap-4">
                               <p-checkbox [name]="'withCause'+i"  [trueValue]="1" [(ngModel)]="student.withCause" [binary]="true" [required]="true"></p-checkbox>
                               <label class="label label--sm" > {{'dashboard.parents.withCause' | translate}}</label>
                           </div>

                           <div class="d-flex align-items-center gap-4">
                               <p-checkbox [name]="'withoutCause'+i"  [trueValue]="0" [(ngModel)]="student.withCause" [binary]="true" [required]="true"></p-checkbox>
                               <label class="label label--sm" > {{'dashboard.parents.withoutCause' | translate}}</label>
                           </div>
                       </div>

                       <div class="my-4" *ngIf="student.withCause">
                           <p-dropdown [options]="absenceReason$ |async" [(ngModel)]="student.cause" [required]="true" [name]="'cause'+i" optionLabel="{{lang=='ar' ?'name.ar':'name.en'}}" optionValue="id" placeholder="{{'dashboard.parents.chooseAbsenceCause'|translate}}"></p-dropdown>
                       </div>

                   </ng-container>

               </div>

               <!-- Loader -->
               <ng-container *ngIf="isLoading; then loader"></ng-container>
               <!-- Loader -->
             </ng-container>

            <div class="d-flex  align-items-center justify-content-end mt-5">
                <!-- || !isAbsenteStudentsSelected() -->
                <button class="btn btn-primary btn--sm" (click)="addStudentsToAbsenceRecords()" [disabled]="isSubmited || !form.valid ">
                    <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </div>
    </ng-template>
</p-dialog>




<ng-template #loader>
    <div class="row gx-5 mt-5">
        <div class="col-md-6">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-2">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-2">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>

    <div class="row gx-5">
        <div class="col-md-6">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-2">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-2">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>
</ng-template>
