@import 'src/assets/css/utils/variables';
@import '../../../../../../../../assets/css/components/primng-table';
@import '../../../../../../../../assets/css/components/model';
@import'src/assets/css/components/forms';



.submit-btn {
    top: -14rem;
    inset-inline-end: 3rem;
}


.calender{
    display: flex;
    align-items: center;
    position: relative;

    .icon{
        position: absolute;
        display: flex;
        color: $color-primary;
        z-index: 10;
        cursor: pointer;
        
        &.calendar{
            inset-inline-end: 1.5rem;

        }
        // &.arrow{
        //     inset-inline-start: 1rem;
        // }
    }

    ::ng-deep p-calendar{
        .p-calendar{
            // width: 18rem;
            border-radius: 15px;
            background-color: #fff;

            .p-datepicker{
                top: 65px !important;
                // border: 2px solid $color-primary !important;
                border-radius: 15px !important;

                .p-datepicker-header{font-size: 1.4rem;}
                .p-yearpicker {
                    font-size: 1.4rem;
                    color: #858585;

                    &-year.p-highlight{
                        background: $color-skyBlue-600;
                        color: $color-primary;
                        font-weight: 500;
                    }
                }
                
            }

            .p-placeholder{
                color: $color-gray-250;
            }

            &.p-calendar-w-btn{
                // border: 2px solid $color-primary;
                &:not(.p-calendar-disabled).p-focus{border-width: 1px;}
            }

            .pi{
                display: none;
            }

            input{
                border: none;
                border-radius: 12px;
                font-size: 1.6rem;
                font-weight: 500;
                color: $color-primary;
                height: 50px;

                &.p-inputtext{
                    padding: 0rem 1rem;
                }

                &::placeholder{color: $color-gray-250;}
                &:enabled:focus{box-shadow: none;}
            }
        }
    }
}