


    <ng-container *ngIf="!(student$ |async)">
        <div class="row g-5">
            <div class="col-md-4">
                <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
        </div>

    </ng-container>


<ng-container *ngIf="mode=='edit'">
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary " 
        [disabled]="(this.childService.loading$ |async )|| !studentForm.valid" 
        (click)="onFormSubmited.emit()">
            <span>{{'shared.saveChanges'| translate}}</span>
            <div class="spinner-border text-light" role="status" *ngIf="this.childService.loading$ |async"></div>
        </button>
        <button  (click)="mode=='view'" ><a class="cancelbtn mx-4">{{'shared.Cancel'|translate}}</a></button>
    </div>
    <hr class="my-5">
</ng-container>


<ng-container *ngIf="student$ |async as student">

    <ng-container *ngIf="mode=='view'">
        <!-- *permit="claimsEnum.SEG_U_StudentAcceptanceInfo" -->
        <div class="float-btn " (click)="mode='edit';modeChange.emit(mode)" >
            <img src="assets/images/shared/pen-blue-filled.svg" alt="">
        </div>

        <div class="child__info__section info">
            <div class="row g-5">
                <div class="col-sm-3 d-flex align-items-baseline gap-5">
                    <p class="color-gray-300 fs-3">{{ 'dashboard.parents.acceptanceDate'|translate }}</p>
                    <span class="color-primary mb-2 fs-3">{{student.dateOfAcceptance | LocalizeDate}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-baseline gap-5">
                    <p class="color-gray-300 fs-3">{{ 'dashboard.parents.studentEnrollmentStatus'|translate }}</p>
                    <span [ngSwitch]="student.studentStatus">
                        <p *ngSwitchCase="registrationStatusEnum.Registered">
                            <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Registered' | translate}}</span>
                        </p>
                        <p *ngSwitchCase="registrationStatusEnum.Unregistered">
                            <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Unregestered' | translate}}</span>
                        </p>
                        <p *ngSwitchCase="registrationStatusEnum.Withdrawal">
                             <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Withdrawal' | translate}}</span>
                        </p>
                        <p *ngSwitchCase="registrationStatusEnum.ReEnrolment">
                             <span class="color-primary mb-2 fs-3">{{'shared.allStatus.ReEnrolment' | translate}}</span>
                        </p>
                        <p *ngSwitchCase="registrationStatusEnum.Deleted">
                            <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Deleted' | translate}}</span>
                       </p>
                       <p class="color-primary mb-2 fs-3" *ngSwitchCase="registrationStatusEnum.Transferd">
                            <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Transferd' | translate}}</span>
                        </p>

                    </span>
                </div>     
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'shared.mobile'|translate }}</p>
                    <span class="color-primary mb-2" *ngIf="student?.isHasPhone">{{'shared.yes'|translate}}</span>
                    <span class="color-primary mb-2" *ngIf="!student?.isHasPhone">{{'shared.no'|translate}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{'shared.internet'|translate }}</p>
                    <span class="color-primary mb-2" *ngIf="student?.isHasInternet">{{'shared.yes'|translate}}</span>
                    <span class="color-primary mb-2" *ngIf="!student?.isHasInternet">{{'shared.no'|translate}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'shared.publicTransport'|translate }}</p>
                    <span class="color-primary mb-2" *ngIf="student?.isUsePublicTransportation">{{'shared.yes'|translate}}</span>
                    <span class="color-primary mb-2" *ngIf="!student?.isUsePublicTransportation">{{'shared.no'|translate}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'dashboard.parents.specialEducation'|translate }}</p>
                    <span class="color-primary mb-2" *ngIf="student?.specialEducation">{{'shared.yes'|translate}}</span>
                    <span class="color-primary mb-2" *ngIf="!student?.specialEducation">{{'shared.no'|translate}}</span>
                </div>
            </div>
    
            <!-- <div class="d-flex justify-content-end mt-auto">
                <button class="btn btn-outline-primary btn--md">
                    <div class="icon">
                        <img src="assets/images/shared/pen.svg" alt="">
                    </div>
                    <span>{{ 'shared.edit' |translate}}</span>
                </button>
            </div> -->
        </div>
    </ng-container>
</ng-container>



<ng-container *ngIf="mode=='edit'">

    <form >

        <div class="row mt-5 gx-5" [formGroup]="studentForm">
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label required" for="description">{{'shared.internet'| translate}}</label>
                    <p-dropdown formControlName="isHasInternet" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-set">
                    <label class="label required" for="description">{{'shared.mobile'| translate}}</label>
                    <p-dropdown formControlName="isHasPhone" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label required" for="description">{{'shared.publicTransport'| translate}}</label>
                    <p-dropdown formControlName="isUsePublicTransportation" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label required" for="description">{{'dashboard.parents.specialEducation'| translate}}</label>
                    <p-dropdown formControlName="isSpecialEducation" #specialEducation [options]="booleanOptions" optionValue="value" optionLabel="name" (ngModelChange)="onSpecialEducationChanged($event)" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>

            <div class="col-md-4" *ngIf="specialEducation.value">
                <div class="form-set" formGroupName="specialEducation">
                    <label class="label required" for="description">{{'dashboard.parents.specialEducationtype'| translate}}</label>
                    <p-dropdown formControlName="id" [options]="educationType$|async" optionValue="id" optionLabel="{{lang=='ar'?'name.ar' : 'name.en'}}" placeholder="{{'dashboard.parents.specialEducationtype' |translate}}" [required]="specialEducation.value"></p-dropdown>
                </div>
            </div>

            <div class="col-md-8 align-self-center gap-5"  *ngIf="student$ |async as student">
                <div class="row">
                    <div class="col-sm-6 d-flex align-items-baseline gap-5">
                        <p class="color-gray-300 fs-3">{{ 'dashboard.parents.acceptanceDate'|translate }}</p>
                        <span class="color-primary mb-2 fs-3">{{student.dateOfAcceptance | LocalizeDate}}</span>
                    </div>
                    <div class="col-sm-6 d-flex align-items-baseline gap-5">
                        <p class="color-gray-300 fs-3">{{ 'dashboard.parents.studentEnrollmentStatus'|translate }}</p>
                        <span [ngSwitch]="student.studentStatus">
                            <p *ngSwitchCase="registrationStatusEnum.Registered">
                                <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Registered' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Unregistered">
                                <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Unregestered' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Withdrawal">
                                 <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Withdrawal' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.ReEnrolment">
                                 <span class="color-primary mb-2 fs-3">{{'shared.allStatus.ReEnrolment' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Deleted">
                                <span class="color-primary mb-2 fs-3">{{'shared.allStatus.Deleted' | translate}}</span>
                           </p>
                        </span>                    
                    </div>         
                </div>
                
            </div>

        </div>






    </form>
</ng-container>
