


    <ng-container *ngIf="!(student$ |async)">
        <div class="row g-5">
            <div class="col-md-4">
                <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
        </div>

    </ng-container>

<ng-container *ngIf="student$ |async as student">

    <ng-container *ngIf="mode=='view' && !(childService.onEditMode$ | async)">

        <div class="float-btn " (click)="childService.onEditMode$.next(true)">
            <img src="assets/images/shared/pen-blue-filled.svg" alt="">
        </div>

        <div class="child__info__section info">
            <div class="row g-5">
                <div class="col-sm-3 d-flex align-items-baseline gap-5">
                    <p class="color-gray-300 fs-3">{{ 'dashboard.parents.acceptanceDate'|translate }}</p>
                    <span class="color-primary mb-2 fs-3">{{student.dateOfAcceptance}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-baseline gap-5">
                    <p class="color-gray-300 fs-3">{{ 'dashboard.parents.studentEnrollmentStatus'|translate }}</p>
                    <span class="color-primary mb-2 fs-3">{{student.registrationStatus}}</span>
                </div>     
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'shared.mobile'|translate }}</p>
                    <span class="color-primary mb-2">{{student.isHasPhone}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{'shared.internet'|translate }}</p>
                    <span class="color-primary mb-2">{{student.isHasInternet}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'shared.publicTransport'|translate }}</p>
                    <span class="color-primary mb-2">{{student.isUsePublicTransportation}}</span>
                </div>
                <div class="col-sm-3 d-flex align-items-center gap-5">
                    <p class="color-gray-300 ">{{ 'dashboard.parents.specialEducation'|translate }}</p>
                    <span class="color-primary mb-2">{{student.specialEducation}}</span>
                </div>
            </div>
    
            <!-- <div class="d-flex justify-content-end mt-auto">
                <button class="btn btn-outline-primary btn--md">
                    <div class="icon">
                        <img src="assets/images/shared/pen.svg" alt="">
                    </div>
                    <span>{{ 'shared.edit' |translate}}</span>
                </button>
            </div> -->
        </div>
    </ng-container>
</ng-container>



<ng-container *ngIf="mode=='edit' || (childService.onEditMode$ | async)">

    <form >

        <div class="row mt-5 gx-5" [formGroup]="studentForm">
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label" for="description">{{'shared.internet'| translate}}</label>
                    <p-dropdown formControlName="isHasInternet" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-set">
                    <label class="label" for="description">{{'shared.mobile'| translate}}</label>
                    <p-dropdown formControlName="isHasPhone" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label" for="description">{{'shared.publicTransport'| translate}}</label>
                    <p-dropdown formControlName="isUsePublicTransportation" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-set">
                    <label class="label" for="description">{{'dashboard.parents.specialEducation'| translate}}</label>
                    <p-dropdown formControlName="isSpecialEducation" #specialEducation [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>
            </div>

            <div class="col-md-4" *ngIf="specialEducation.value">
                <div class="form-set">
                    <label class="label" for="description">{{'dashboard.parents.specialEducationtype'| translate}}</label>
                    <p-dropdown formControlName="SpecialEducationId" [options]="educationType$|async" optionValue="id" optionLabel="{{lang=='ar'?'name.ar' : 'name.en'}}" placeholder="{{'dashboard.parents.specialEducationtype' |translate}}" [required]="specialEducation.value"></p-dropdown>
                </div>
            </div>

            <div class="col-md-8 align-self-center gap-5"  *ngIf="student$ |async as student">
                <div class="row">
                    <div class="col-sm-6 d-flex align-items-baseline gap-5">
                        <p class="color-gray-300 fs-3">{{ 'dashboard.parents.acceptanceDate'|translate }}</p>
                        <span class="color-primary mb-2 fs-3">{{student.dateOfAcceptance}}</span>
                    </div>
                    <div class="col-sm-6 d-flex align-items-baseline gap-5">
                        <p class="color-gray-300 fs-3">{{ 'dashboard.parents.studentEnrollmentStatus'|translate }}</p>
                        <span class="color-primary mb-2 fs-3">{{student.registrationStatus}}</span>
                    </div>         
                </div>
                
            </div>

        </div>






    </form>
</ng-container>
