@import 'src/assets/css/utils/variables.scss';

::ng-deep .p-paginator{
    font-size: 1.6rem;
    border-bottom: 0;
    // margin-top: 1.2rem;
    justify-content: flex-end !important;
    height: 100%;
    background: #F8FAFB;
    padding: 1.1rem 1rem;
    border-radius: 0 0 15px 15px;
    // .p-paginator-right-content{margin-inline-start: 0;}
    // .p-paginator-left-content{margin-inline-end: 0;}

    .p-paginator-right-content,
    .p-paginator-left-content{

        button:disabled{
            opacity: .5;
            filter: grayscale(1);
        }
        button img{
            width: 2rem;
            height: 2rem;
        }
    }

    .p-paginator-right-content{margin: 0 1.5rem 0 0 !important;}

    .p-paginator-left-content{
        margin:0; 
        margin-inline-start: auto;
        display: flex;
        align-items: center;

        span{color: #9E9E9E; margin-inline-end: 1.3rem;}
        button{margin: 0 1.5rem 0 0;}
        
        ::ng-deep p-dropdown{
            .p-dropdown{
                border: none;
                
                .p-inputtext{
                    font-size: 1.4rem; 
                    display: flex;
                    align-items: center;
                }

                &-label{ padding: 1rem;}
            }
        }
    }

    & > button.p-paginator-element{display: none;}

    .p-paginator-pages{
        margin: 0 1.5rem;
        .p-paginator-page{
            border-radius: 5px;
            font-size: 1.6rem;
            
            &.p-highlight{
                background-color: $color-blue-100;
                color: $color-primary;
            }
        }
    }
    .p-paginator-current{order: -1; color: #9E9E9E; font-size: 1.4rem; margin-inline-end: auto;}
}