


<div class="border-dark radius-15 p-5 position-relative " ngForm #f="ngForm">

    <div class="sendBtn d-flex align-items-center gap-4 position-absolute">
        <button class="btn btn-primary btn--sm px-5 " [disabled]="!f.valid ||isLoading ||(reqForm.attachments.length!=requiredFiles?.filesCount &&requiredFiles?.isRequired)" (click)="sendWithdrawalReq()">
            <span>{{'shared.send'| translate}}</span>
            <div class="spinner-border text-light" role="status" *ngIf="isLoading"></div>
        </button>
        <span role="button" class="color-red-500 text-decoration-underline" routerLink="../">{{'shared.cancel' |translate}}</span>
    </div>

    <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.withdrawalReq'|translate}} <span class="color-gray-300">({{student?.school?.name |currentLang}})</span></h3>

    <app-workflow [steps]="[{ar:'موافقة الهيئة / المدرسة', en:'Spea / School Approval'}]"></app-workflow>

    <div class="row gx-5 custom-form mt-6">
        <div class="col-md-4 form-set">
            <label class="label required" for="description">{{'dashboard.students.withdrawalType'| translate}}</label>
            <p-dropdown  [options]="transferType" [(ngModel)]="reqForm.withdrawalType" name="type" optionValue="value" optionLabel="name" [required]="true" placeholder="{{'dashboard.students.withdrawalType' |translate}}"></p-dropdown>
        </div>
        <div class="col-md-4 form-set">
            <label class="label required" for="description">{{'dashboard.students.withdrawalCause'| translate}}</label>
            <p-dropdown  [options]="reasonForRepeateStudyPhase$|async" name="cause" [(ngModel)]="reqForm.withdrawalReasonId"  optionValue="id"  optionLabel="{{lang=='ar' ? 'name.ar':'name.en'}}" [required]="true" placeholder="{{'dashboard.students.withdrawalCause' |translate}}"></p-dropdown>
         </div>
    </div>

    <div class="row mt-6">
        <!-- <div class="col-md-5">
            <app-file-upload (onFileUpload)="onFileUpload($event)" [accept]="fileTypesEnum.Pdf" view="full" title="{{'dashboard.students.attachmentsToDefineWithdrawalCause'| translate}}"></app-file-upload>
        </div> -->
        <ng-container *ngIf="requiredFiles">
            <div class="col-md-4 mt-6" *ngFor="let file of requiredFiles.files; let i =index">
                <label class="label" for="day">{{file.name |currentLang}} <span *ngIf="!requiredFiles.isRequired">(اختيارى)</span> </label>
                <app-file-upload [accept]="file.type" [maxFileSize]="file.size" (onFileUpload)="onFileUpload($event, file.name,i)" view="full" ></app-file-upload>
            </div>


        </ng-container>
    </div>


</div>
