<div class="border-dark radius-15 p-5">
    <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.withdrawalReq'|translate}} <span class="color-gray-300">({{student.school?.name |currentLang}})</span></h3>
    <div class="row gx-5 custom-form">
        <div class="col-md-4 form-set">
            <label class="label" for="description">{{'dashboard.students.withdrawalType'| translate}}</label>
            <p-dropdown  [options]="[]" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
        </div>
        <div class="col-md-4 form-set">
            <label class="label" for="description">{{'dashboard.students.withdrawalCause'| translate}}</label>
            <p-dropdown  [options]="[]" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
         </div>
    </div>

    <div class="row mt-6">
        <div class="col-md-5">
            <app-file-upload accept=".pdf" view="full" title="{{'dashboard.students.attachmentsToDefineWithdrawalCause'| translate}}"></app-file-upload>
        </div>
    </div>
</div>