
    @import 'src/assets/css/utils/variables.scss';
    @import 'src/assets/css/components/profile';
    @import 'src/assets/css/components/forms.scss';

  .submit-btn{
    position: absolute;
    top: -6rem;
    inset-inline-end: 2rem;
  }
    .custom-tooltip{
        position: absolute;
        top: 3rem;
        left: 0;
        transform: translate(0, 7%);
        background-color: #F8F8F8;
        border-radius: 15px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
        overflow: hidden;
    }

    .createdBy:hover ~ .custom-tooltip{
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }


    .tabView__content{
        // height: 55rem;

        position: relative;




        .comments-wrapper{
            // height: 40rem;
            overflow-y: auto;
        }



    }
