@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';


#content{
    width: 100%;
    .Btn-group{
        position: absolute;
        right: 80.25%;
        bottom:75.3rem;
        font-family: 'DINNext';
        .leftbtn{
            width:14rem;
            margin-right: 1rem;
           
        }
        .addBtn{
            margin-right: 14.8rem;

        }
    }
   
}
