@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';

.status{
    margin-right: 26rem;position: relative;bottom:9.2rem;
   
}
.content{
    width: 100%;
    .custom-validation-form{padding-bottom: 18rem;}
    .Btn-group{
        position: absolute;
        right: 92.8%;
        bottom:100% ;
        padding-bottom: 3%;
        // top:-9rem;
      
        .leftbtn{
            width:14.5rem;
            margin-right: 1rem;
           
        }
        .addBtn{
            margin-right: 14.8rem;
    
        }
    }
    .tabView{
      
       
    .tabView__nav{
        
        column-gap: 7rem;
    }
    .tabView__content{
   
        
    .custom-validation-form{
        padding-top: 0rem;
        .value{
            color: $color-skyBlue-600;
            &-1{padding-right: 1.7rem;}
        }
    }
    .curriculum{
        margin-left: 0.5rem;
        .class{
             margin-right: 1rem;
        }
       
    }
  
   
}
}
}


.heading--tertiary{
    padding-top: 2.5rem;
    font-size: 1.4rem;
    line-height:22.87px;
    font-weight: 700;
}
  
  ::ng-deep{
    .p-dialog{
       
       
       &.large{margin-top: 12rem;
       
    }
       border: none;
      
         .p-dialog-header {
            font-family: 'Droid';
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            display: block !important;
           padding-bottom: 0rem;
            padding-top: 2.5rem;
            .tittle{
                color:$color-gray-300;
                font-weight: 400;
              font-size:1.5rem;
              font-family: 'Droid';
             }
             .detail{
              color:$color-primary;
              font-weight: 400;
              font-size: 1.5rem;
              font-family: 'Droid';
              &.class{
                position: relative;
                left:1.5rem
              }
             }

         
           .caption__filter{
           input{
            width: 100%;
            margin-top: 2.5rem;
            &.p-inputtext {padding:0.5rem 3.5rem;font-family: 'Droid';}
            }
            i{margin-top: 1.5rem;}
        }
        .header{
         
            .headeritem {
                
                 font-weight: 600;
                 font-family: 'Droid';
                 font-size: 1.8rem;
                 line-height:26.68px ;
                
                 &.send{font-size: 18px;line-height: 24px;}
             }
             button{
                color:rgba(0, 0, 0, 0.6);
                width: 9px;
                position: relative;
                bottom: 0.5rem;
                
                right: 53%;
                &.md{position: relative;
                    right: 70%;}
           

            }
            
            }
    

            } 
            .p-dialog-content{
                flex-grow: 0;
                padding-top: 0rem;
                line-height: 24px;
                font-family: "Droid";
                font-weight: 400;
                .space{ line-height: 24px;}
                .heading--tertiary{padding-top: 0rem;font-size: 15px;font-weight: 700;font-family: 'Droid';}
            }
            .p-dialog-footer{
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
               padding-top: 0rem;
                .footeritem{color:$color-skyBlue-400;
                    width: 100%;
                    margin-top: 1rem;
                    font-weight: 400;
                    font-size: 14px;
                    font-family: 'Droid';}
                
            }
  
 }

}

.prim-table{
      a{
        text-decoration: underline;
        &.number {
            &:hover{
            color:$color-skyBlue-400;
        }
      }
        &.nonnumber {
            &:hover{
            color:$color-red-500;
        }
      
       }
    }
    ::ng-deep p-table{
        .p-datatable-tbody tr{     
            &.expandrow{ border-bottom: none ;}  
        }
        
        .p-datatable-tbody tr td{  
            &.action{
                color: $color-black;
                &-b{font-weight: 700;}
            }
            &:first-child{
                &.expand{padding:0rem}
            }
        } 
    }
}
.prim-table{

::ng-deep app-loader{
    
    width:117rem;
    overflow-y: hidden;
}

.small{
    ::ng-deep app-informative-block{

        .informative-block{
                width:100%;
                min-height: 30rem !important;
                position: relative;
                right:40rem;
                .title{
                    width: 90% !important;
                
                }
            }
        }
      }
    }

.custom-form{
    ::ng-deep app-informative-block{

        .informative-block{
        
               position: relative;
               bottom: 4rem;
                   min-height: 15rem !important;
                   
             }
           }
   } 