@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';


#content{
    width: 100%;
  
   
}

.line{
    margin-right: 1.2rem;
    width:98%;
    color:#a9a9a9;
}