@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';


#content{
    width: 100%;
    .tabView{
    .tabView__nav{
        column-gap: 7rem;
    }
    .tabView__content{
   
        
    .custom-validation-form{
        padding-top: 0rem;
    }
    .curriculum,.class{
        .btn{
            width:20%;
            margin-right: 39.5rem;

        }
        .btn-outline-primary{
            border: none;
          
        }

    }
  
    .Btn-group{
        position: absolute;
        right: 79.5%;
        bottom:100% ;
        padding-bottom: 3%;
        .leftbtn{
            width:14.5rem;
            margin-right: 1rem;
           
        }
        .addBtn{
            margin-right: 14.8rem;

        }
    }
}
}
}


.heading--tertiary{
    padding-top: 2.5rem;
    font-size: 1.4rem;
    line-height:22.87px;
    font-weight: 700;
}
  
  ::ng-deep{
    .p-dialog{
        font-family: 'Droid';
       border: none;
        .p-dialog-content{
          
          
        }
         .p-dialog-header {
           
            padding-top: 2.5rem;
         
           .caption__filter{
           input{
            width: 100%;
            margin-top: 2.5rem;
            &.p-inputtext {padding:0.5rem 3.5rem;}
            }
            i{margin-top: 1.5rem;}
        }
        .header{
            .headeritem {
                
                 font-weight: 700;
                 font-family: 'Droid';
                 font-size: 1.4rem;
                 line-height:26.68px ;
                 

             }
             button{color:rgba(0, 0, 0, 0.6); ;width: 9px;position: relative;right: 98%;}
            }
    

            } 
            .p-dialog-footer{
                // border-bottom-left-radius: 12px;
                // border-bottom-right-radius: 12px;
            }
  
 }

}