<div class="justify-content-center status" *ngIf="urlParameter">
  <span  class="heading--secondary">{{schoolYear?.schoolYearName|currentLang}}</span>             
  <div   *ngIf="schoolYear?.schoolYearStatus?.name.en=='Current'" class='alerting danger mx-4'>{{schoolYear?.schoolYearStatus?.name|currentLang}}</div>
  <div   *ngIf="schoolYear?.schoolYearStatus?.name.en=='Finished'" class='alerting success mx-4'>{{schoolYear?.schoolYearStatus?.name|currentLang}}</div>
  <div   *ngIf="schoolYear?.schoolYearStatus?.name.en=='Sent'" class='alerting primary mx-4'>{{schoolYear?.schoolYearStatus?.name|currentLang}}</div>
  <div   *ngIf="schoolYear?.schoolYearStatus?.name.en=='Draft'" class='alerting secondry mx-4'>{{schoolYear?.schoolYearStatus?.name|currentLang}}</div>
  <ng-container *ngIf="!schoolYear">
    <p-skeleton width="11.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
  </ng-container>


</div>
  <div class="content" >
    <div class="Btn-group d-flex" *ngIf="schoolYear?.schoolYearStatus?.name.en=='Draft'&&urlParameter">

      <!-- <button type="submit" class="btn  btn-primary addBtn" [hidden]="urlParameter>0">{{'shared.Add'|translate}}</button> -->
    
      <button type="submit" class="btn  btn-primary"  (click)="sendModelOpened=true">{{'shared.send'|translate}}</button>
    
      <!-- <button type="submit" class="btn btn-outline-primary leftbtn" (click)="saveDraftYear()">{{'shared.Save as draft'|translate}}</button> -->
    
    </div>
    <div class="tabView">

      <!-- Navigations Options -->
      <ul class="tabView__nav" #nav>
          <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1"><span>{{ 'dashboard.SchoolYear.School Year Information'|translate }}</span></li>
          <li class="tabView__nav__link" [class.active]="step==2"  (click)="checkSchoolYearStatus()"><span>{{ 'dashboard.SchoolYear.curriculum'|translate }}</span></li>
          <li class="tabView__nav__link" [class.active]="step==3" *ngIf="schoolYear?.schoolYearStatus?.name.en=='Finished'"  (click)="step=3"><span>{{ 'dashboard.SchoolYear.Top Students'|translate }}</span></li>
      </ul>
         <!-- Navigations Options -->

      <div class="tabView__content">

        <div class=" ">
              <!-- form -->
          <ng-container *ngIf="step==1">
            <div class=" custom-form custom-validation-form " >
              <ng-container *ngIf="!schoolYear&&urlParameter">
                <div class="row g-5">
                   
                        <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                
                </div>
            
             </ng-container>
            <form [formGroup]="schoolYearFormGrp" class="container-fluid  " *ngIf="schoolYear||!urlParameter">
              
                <div class="row mb-5" *ngIf="urlParameter">
                  <div class="col-4">

                         <div class="row">
                                  <div class="col-5 label">{{'dashboard.SchoolYear.last publishdate'|translate}}</div>
                                  <div class="col-6 value ">{{schoolYear?.lastPublishdDate|LocalizeDate}}</div>
                                
                         </div>
                  
                  </div>
                  <div class="col-4">

                      <div class="row">
                                  <div class="col-5 label">{{'dashboard.SchoolYear.last editeddate'|translate}}</div>
                                  <div class="col-6 value value-1" >{{schoolYear?.lastEditedDate|LocalizeDate}}</div>
                               
                      </div>
               
                 </div>                       

              </div>
              <div class="row mb-5"  *ngIf="urlParameter&&schoolYear?.schoolYearStatus?.name.en=='Finished'||schoolYear?.schoolYearStatus?.name.en=='Current'" >
                <div class="col-4">

                       <div class="row">
                                <div class="col-6 label">{{'dashboard.SchoolYear.School Year Name in Arabic'|translate}}</div>
                                <div class="col-6 value ">{{schoolYear?.schoolYearName|currentLang}}</div>
                               
                       </div>
                
                </div>
                <div class="col-4">

                       <div class="row">
                                <div class="col-6 label">{{'dashboard.SchoolYear.School Year Name in English'|translate}}</div>
                                <div class="col-6 value ">{{schoolYear?.schoolYearName|currentLang}}</div>
                               
                       </div>
                
                </div>
                <div class="col-4">

                    <div class="row">
                                <div class="col-5 label">{{'dashboard.SchoolYear.School Year StartDate'|translate}}</div>
                                <div class="col-6 value value-1" >{{schoolYear?.schoolYearStartDate|LocalizeDate}}</div>
                              
                    </div>
             
               </div>     
         
           </div>                   

          
            <div class="row mb-5" *ngIf="urlParameter&&schoolYear?.schoolYearStatus?.name.en=='Finished'||schoolYear?.schoolYearStatus?.name.en=='Current'" >
              <div class="col-4">

                <div class="row">
                            <div class="col-5 label">{{'dashboard.SchoolYear.School Year EndDate'|translate}}</div>
                            <div class="col-6 value value-1" >{{schoolYear?.schoolYeaEndDate|LocalizeDate}}</div>
                          
                </div>
              </div>
              <div class="col-4">

                     <div class="row">
                              <div class="col-5 label">{{'dashboard.SchoolYear.AnnualHolidays'|translate}}</div>
                              <div class="col-6 value ">
                                <ng-container *ngFor="let item of annualCalendersList "> 
                                  <ng-container  *ngFor="let annual of schoolYear?.annualCalenders;  let i=index">
                                    <ng-container *ngIf="annual==item.id">
                                      {{item.name.ar|translate}} 
                                      <ng-container *ngIf="i<schoolYear?.annualCalenders.length-1">,</ng-container> 
                                    </ng-container>
                                  </ng-container>
                              </ng-container>
                              </div>
                            
                     </div>
              
              </div>
              <div class="col-4">

                  <div class="row">
                              <div class="col-5 label">{{'dashboard.SchoolYear.WeekEnd Days'|translate}}</div>
                              <div class="col-6 value value-1" >
                                <ng-container *ngFor="let item of weekendsList "> 
                                  <ng-container  *ngFor="let day of schoolYear?.weekendDays;  let i=index">
                                    <ng-container *ngIf="day==item.id">
                                      {{item.name.ar|translate}} 
                                      <ng-container *ngIf="i<schoolYear?.weekendDays.length-1">,</ng-container> 
                                    </ng-container>
                                  </ng-container>
                              </ng-container>
                                
                              </div>
                              
                  </div>
           
             </div>     
                 

          </div>
          <div class="row mb-5" *ngIf="urlParameter&&schoolYear?.schoolYearStatus?.name.en=='Finished'||schoolYear?.schoolYearStatus?.name.en=='Current'" >
 
           <div class="col-4">

            <div class="row">
                        <div class="col-5 label">{{'dashboard.SchoolYear.AgeDetermination Date'|translate}}</div>
                        <div class="col-6 value value-1" >{{schoolYear.ageDeterminationDate|LocalizeDate}}</div>
                       
            </div>
     
          </div>                   

        </div>
       
                <div class=" row gx-5 form-set " *ngIf="schoolYear?.schoolYearStatus?.name.en!='Finished'&&schoolYear?.schoolYearStatus?.name.en!='Current'||!urlParameter">
                    <div class="col-xs-2 col-lg-4">
                        <label for="PID" class="label">{{'dashboard.SchoolYear.School Year Name in Arabic'|translate}}</label>
                        <input type="text" pInputText formControlName="schoolYearArabicName"  class="form-control basicinput" appValidatorsInput placeholder="{{'dashboard.SchoolYear.Write School Year Name'|translate}}" name="PID" id="PID"> 
                        
                          <div [hidden]="schoolYearArabicName.valid || schoolYearArabicName.untouched">
                              <small *ngIf="schoolYearArabicName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                             
                              <small *ngIf="schoolYearArabicName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                  {{'shared.Numbres Of Characters must not more than 32 character'|translate}}
                                  <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                           </div>
                    </div>
                    <div class="col-xs-2 col-lg-4">
                      <label for="PID" class="label">{{'dashboard.SchoolYear.School Year Name in English'|translate}}</label>
                      <input type="text" pInputText formControlName="schoolYearEnglishName"  class="form-control basicinput leftaction" appValidatorsInput placeholder="{{'dashboard.SchoolYear.Write School Year Name'|translate}}" name="PID" id="PID"> 
                      
                        <div [hidden]="schoolYearEnglishName.valid || schoolYearEnglishName.untouched">
                            <small *ngIf="schoolYearEnglishName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                            <small *ngIf="schoolYearEnglishName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'shared.Numbres Of Characters must not more than 32 character'|translate}}
                                <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                         </div>
                  </div>
                    <div class="col-xs-4 col-lg-4">
                      <label for="PID8" class="label">{{'dashboard.SchoolYear.School Year StartDate'|translate}}</label>
                      <p-calendar   [showIcon]="true" inputId="icon"    formControlName="schoolYearStartDate"    placeholder="--/--/--"   class="form-control" appValidation   [readonlyInput]="true" dataType="string"  dateFormat="yy-mm-dd"  ></p-calendar>
                      <div>
                          <div [hidden]="schoolYearStartDate.valid || schoolYearStartDate.untouched">
                              <small *ngIf="schoolYearStartDate.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                             
                           </div>
                              
                      </div>
                  </div>
                </div>
              
                <div class=" row gx-5 form-set " *ngIf="schoolYear?.schoolYearStatus?.name.en!='Finished'&&schoolYear?.schoolYearStatus?.name.en!='Current'||!urlParameter">
                  <div class="col-xs-4 col-lg-4">
                    <label for="PID7" class="label">{{'dashboard.SchoolYear.School Year EndDate'|translate}}</label>
                      <p-calendar   [showIcon]="true" inputId="icon"    formControlName="schoolYearEndDate"     placeholder="--/--/--" class="form-control" appValidation   [readonlyInput]="true" dataType="string"  dateFormat="yy-mm-dd"  ></p-calendar>
                    <div>
                        <div [hidden]="schoolYearEndDate.valid || schoolYearEndDate.untouched">
                            <small *ngIf="schoolYearEndDate.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                         </div>
                            
                    </div>
                </div>
                <div class="col-xs-4 col-lg-4">
                  <label for="PID8" class="label">{{'dashboard.SchoolYear.AgeDetermination Date'|translate}}</label>
                  <p-calendar   [showIcon]="true" inputId="icon"    formControlName="ageDeterminationDate"    placeholder="--/--/--" class="form-control" appValidation   [readonlyInput]="true" dataType="string"   dateFormat="yy-mm-dd"  ></p-calendar>
                  <div>
                      <div [hidden]="ageDeterminationDate.valid || ageDeterminationDate.untouched">
                          <small *ngIf="ageDeterminationDate.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                         
                       </div>
                          
                  </div>
              </div>
                  <div class="col-xs-4 col-lg-4">
                      <label for="PID6" class="label">{{'dashboard.SchoolYear.WeekEnd Days'|translate}}</label>
                        <p-multiSelect [options]="weekendsList" optionLabel="name.ar" optionValue="id" display="chip" formControlName="weekendDays" class="form-control"  appValidation  styleClass="p-multiselect"  defaultLabel="{{'dashboard.SchoolYear.Select WeekEnd Days'|translate}}"></p-multiSelect>
                      <div>
                          <div [hidden]="weekendDays.valid || weekendDays.untouched">
                              <small *ngIf="weekendDays.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                             
                           </div>
                              
                      </div>
                  </div>
              </div>
              <div class=" row gx-5 form-set " *ngIf="schoolYear?.schoolYearStatus?.name.en!='Finished'&&schoolYear?.schoolYearStatus?.name.en!='Current'||!urlParameter">
              <div class="col-xs-4 col-lg-4">
                <label for="PID5" class="label">{{'dashboard.SchoolYear.AnnualHolidays'|translate}}</label>
                  <p-multiSelect [options]="annualCalendersList" optionLabel="name.ar" optionValue="id" display="chip" formControlName="annualHolidays" class="form-control"  appValidation  styleClass="p-multiselect"  defaultLabel="{{'dashboard.SchoolYear.AnnualHolidays'|translate}}"></p-multiSelect>
                <div>
                    <div [hidden]="annualHolidays.valid || annualHolidays.untouched">
                        <small *ngIf="annualHolidays.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                          {{'shared.This Field is Required'|translate}}
                           <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                        </small>
                       
                     </div>
                        
                </div>
            </div>
           
              
                <div class=" d-flex align-items-center justify-content-end ">
                  <div class=" d-flex ">
                    <button class="btn  btn-primary " (click)="saveSchoolYear()" [disabled]="schoolYearFormGrp.invalid||isBtnLoading">
                      {{'Next'|translate}}
                      <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                    </button>
                  </div>
             
            </div>
   
           
               
             
            </div>

             
          
            </form>
          </div>                   

          </ng-container>
          <!-- curriculum-->
          <ng-container *ngIf="step==2">
              <div class="d-flex justify-content-end" *ngIf="schoolYear?.schoolYearStatus?.name.en!='Finished'&&schoolYear?.schoolYearStatus?.name.en!='Current'">
                 <div class="curriculum d-flex">
                      <div class="btn btn-outline-primary " role="button" (click)="addCurriculumsModelOpened=true;">
                        <fa-icon  [icon]="plusIcon" class="icon "></fa-icon>
                        {{'dashboard.SchoolYear.Add curriculum'|translate}}
                     </div>
                    <button *ngIf="!urlParameter" class="btn btn-outline-primary class"     [disabled]="curriculumClassList?.length==0" routerLink='/dashboard/educational-settings/school-year/new-school-year/class-details'>
                      <fa-icon  [icon]="plusIcon" class="icon "></fa-icon>
                      {{'dashboard.SchoolYear.Add Class'|translate}}
                    </button>
                    <button *ngIf="urlParameter" class="btn btn-outline-primary class"  [disabled]="curriculumClassList?.length==0" routerLink="/dashboard/educational-settings/school-year/display-school-year/{{urlParameter}}/class-details" >
                      <fa-icon  [icon]="plusIcon" class="icon "></fa-icon>
                      {{'dashboard.SchoolYear.Add Class'|translate}}
                    </button>

                 </div>
                </div>
                 <div class="prim-table mt-5" *ngIf="curriculumClassList?.length">
                  <p-table  [lazy]="true"  #dt [value]="curriculumClassList"   sortMode="single"  dataKey="curriculumId" [scrollable]="true" scrollHeight="480px" [virtualScroll]="true" [virtualRowHeight]="95"  >
       
                    <ng-template pTemplate="header" >
                          <tr  >
                            <th style="max-width: 0rem"  ></th>
                            <th   pSortableColumn="name" >{{'dashboard.SchoolYear.curriculum Name'|translate}}</th>
                            <th   pSortableColumn="id">{{'dashboard.SchoolYear.Class Number'|translate}}</th>
                            <th   pSortableColumn="id">{{'dashboard.SchoolYear.Top Students Number'|translate}}</th>
    
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-e  let-expanded="expanded" >
                          <tr [ngClass]="expanded ? 'expandrow' : ''"  >
                              <td style="max-width:11rem">
                                   
                                   <button type="button" pButton pRipple [pRowToggler]="e"  class="p-button-text p-button-rounded p-button-plain" (click)="expanded ? closeRow():openRow(e?.curriculumId);" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                              </td>
                              <td [ngClass]="expanded ? 'action action-b' : 'action'"   >{{e?.name|currentLang}}</td>
                              <td [ngClass]="expanded ? 'action action-b' : 'action'"   >{{e?.gradesCount||0}} {{'dashboard.SchoolYear.classes'|translate}}</td>
                              <td  ></td>
                              
                          </tr>
                      </ng-template>
                      <ng-template  pTemplate="rowexpansion" let-e>
                        <tr>
                            <td colspan="15"  class="expand ">
                                <div class="" *ngIf="e.classTopStudentList?.length  || e.loading" >
            
                                
                                        <p-table  #dt [value]="e?.classTopStudentList"  dataKey="gradeId"  >
                                            <ng-template pTemplate="body" let-class  let-expanded="expanded">
                                                <tr class="border-bottom-0" >
                                                    
                                                    <td class="color-gray-50" style="min-width:45rem"></td>
                                                    <td  class=" color-gray-50" style="min-width:37rem">{{class?.name|currentLang}}</td>
                                              
                                                    <td *ngIf="schoolYear?.schoolYearStatus?.name.en!='Finished'||!urlParameter" class="color-gray-50" style="min-width:18rem"><span>-</span></td>
                                                    <td *ngIf="schoolYear?.schoolYearStatus?.name.en=='Finished'&&class?.topStudentsNumber>0" class="color-gray-50" style="min-width:18rem"><a class="color-skyBlue-400 number" (click)="TopStudentsModelOpened=true;schoolYearClass=class;schoolYearCurriculum=e;selectTopStudents(urlParameter,e?.curriculumId,class?.gradeId);">{{class?.topStudentsNumber}} {{'dashboard.SchoolYear.students'|translate}}</a></td>
                                                    <td *ngIf="schoolYear?.schoolYearStatus?.name.en=='Finished'&&class?.topStudentsNumber==0" class="color-gray-50" style="min-width:18rem"><a class="color-red-500 nonnumber" (click)="TopStudentsModelOpened=true;schoolYearClass=class;schoolYearCurriculum=e;selectTopStudents(urlParameter,e?.curriculumId,class?.gradeId);">{{'dashboard.SchoolYear.undefined'|translate}}</a></td>
                                                    <td class="edit color-gray-50"  style="min-width: 15.4rem">
                                                      <button *ngIf="!urlParameter" routerLink='/dashboard/educational-settings/school-year/new-school-year/curriculum/{{e?.curriculumId}}/class-details/{{class?.gradeId}}'>
                                                          {{'shared.details'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                                                       </button>
                                                       <button *ngIf="urlParameter" routerLink='/dashboard/educational-settings/school-year/display-school-year/{{urlParameter}}/curriculum/{{e?.curriculumId}}/class-details/{{class?.gradeId}}'>
                                                        {{'shared.details'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                                                     </button>
                                                    </td>

                                                </tr>
                                            </ng-template> 
                                            <ng-template pTemplate="emptymessage" let-columns>
              
                                              <tr>

                                                  <app-loader></app-loader>
 
                                              </tr>
                                  
                                            </ng-template>
                
                                         </p-table>
                                      

                                </div>
                                <ng-container *ngIf="!e.classTopStudentList?.length  && !e.loading">
                                  <div class="small">
                                     <app-informative-block title="{{'emptyList.grades' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                                  </div>
                                </ng-container>
                        </td>
                   </tr>


                    </ng-template>
            
              
                      <ng-template pTemplate="emptymessage" let-columns>
              
                          <tr>
              
                            <app-loader></app-loader>
              
                          </tr>
              
                        </ng-template>
                  </p-table>
                
                
                  
                  
                  </div>
                  <ng-container *ngIf="!curriculumClassList?.length">
                    <div class="small">
                    <app-informative-block title="{{'emptyList.Curriculum List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </div>
                  </ng-container>

          </ng-container>


       <!--Top Students-->
       <ng-container *ngIf="step==3">
       
        <app-top-students schoolYearId="{{urlParameter}}"></app-top-students>

       </ng-container>

      
          </div>
         </div>
    
      
   
      
    </div>
 
  </div>


  <!-- send -->
<p-dialog [closable]="false"  [resizable]="false" [(visible)]="sendModelOpened" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
   <p-dialog-header>
      
   <div class="header ">
    <span class="headeritem send">{{'dashboard.SchoolYear.Send'| translate}}\{{'dashboard.SchoolYear.Post schoolYear'| translate}}</span>
    <button (click)="sendModelOpened=false" class="md" ><i class="pi pi-times  " ></i></button>
   </div>
   
   </p-dialog-header>
  </ng-template>
 
  <ng-template pTemplate="content">
      <h5 class="mt-5 mb-5">
       {{'dashboard.SchoolYear.Are you sure that you want'|translate}} {{'dashboard.SchoolYear.Send'| translate}}\{{'dashboard.SchoolYear.Post schoolYear'| translate}} ؟
      </h5>

      <h5 class="mt-5 space">
       {{'dashboard.SchoolYear.If you confirm this,Notification will be send to every school to inform them to plan to new schoolyear'|translate}}
       </h5>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="d-flex  align-items-center mb-4 mt-2 ">
      <button class="btn btn-primary btn--sm" (click)="sendModelOpened=false;sendSchoolYear()">
          <span>{{'dashboard.SchoolYear.confirm posting'| translate}}\{{'dashboard.SchoolYear.Send'| translate}} </span>
      </button>
      <button class="btn btn-outline-primary btn--sm border-0" (click)="sendModelOpened=false">
        <span>{{'dashboard.SchoolYear.Discard'| translate}} </span>
    </button>
  </div>

  </ng-template>
</p-dialog>




<!-- Add Curriculum -->
<p-dialog  [closable]="false" [resizable]="false" [(visible)]="addCurriculumsModelOpened" [draggable]="false" [modal]="true" [style]="{width: '45vw'}">
  <ng-template pTemplate="header">
   <p-dialog-header>
      
   <div class="header">
    <span class="headeritem ">{{'dashboard.SchoolYear.Add curriculum for schoolyear'| translate}}</span>
    <button (click)="addCurriculumsModelOpened=false" ><i class="pi pi-times  " ></i></button>
   </div>
    <div class="col-12 caption__filter caption__filter--actions mb-5">
      <div class="myInput myInput--full myInput--search p-input-icon-right ms-auto">
          <i class="pi pi-search fs-3 "></i>
          <input class="input" [formControl]="searchInput" type="text"  pInputText placeholder="{{'shared.Search...'|translate}}"/>
      </div>
   </div>
   </p-dialog-header>
  </ng-template>
 
  <ng-template pTemplate="content">
      <div class="custom-form parent-modal">
     

          <div class="row gx-5 gy-4 form-set">
              <h2 class="heading heading--tertiary mb-3 mt-5">{{'dashboard.SchoolYear.Curriculum List' | translate}}</h2>
              <ng-container *ngFor="let curriculum of curriculumsList;  let i =index">
                  <div class="col-md-6 d-flex gap-4 align-items-center">
                      <p-checkbox   [value]="curriculum.id"  name="curriculum"   [(ngModel)]="curriculumsIds"></p-checkbox>
                      <label class="label label--sm" [for]="i"> {{curriculum.name|currentLang}}</label>
                  </div>
              </ng-container>
              <ng-container *ngIf="curriculumsList?.length==0">
                <app-informative-block title="{{'emptyList.noDataMatch'  |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
              </ng-container>
          </div>
          
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
   
  <div class="d-flex mt-5">
    <span class="footeritem">{{'dashboard.SchoolYear.you select'|translate}} {{curriculumsIds.length}} {{'dashboard.SchoolYear.From curriculums'|translate}}</span>
    <button class="btn btn-primary btn--sm  " (click)="addCurriculumsModelOpened=false;saveCurriculumsIds()">
        <span>{{'shared.save'| translate}} </span>
    </button>
</div>

  </ng-template>
</p-dialog>



<!--selectTopStudents -->
<p-dialog   [closable]="false" [resizable]="false" [(visible)]="TopStudentsModelOpened" [draggable]="false" [modal]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
   <p-dialog-header>
      
   <div class="header mb-5">
    <span class="headeritem ">{{'dashboard.SchoolYear.choose Top Students'| translate}}</span>
    <button class="md" (click)="TopStudentsModelOpened=false"><i class="pi pi-times " ></i></button>
   </div>
   <div class="row mt-5 ">
    <div class="col-2 tittle">
      {{'dashboard.SchoolYear.curriculum'| translate}}
   </div>
   <div class="col-4 detail">
    {{schoolYearCurriculum?.name|currentLang}}
  </div>
  <div class="col-2 tittle">
    {{'dashboard.SchoolYear.Class'| translate}}
  </div>
  <div class="col-4 detail class">
    {{schoolYearClass?.name|currentLang}}
 </div>
   </div>
    <div class="col-12 caption__filter caption__filter--actions">
      <div class="myInput myInput--full myInput--search p-input-icon-right ms-auto">
          <i class="pi pi-search fs-3 "></i>
          <input class="input" [formControl]="searchInput" type="text"  pInputText placeholder="{{'shared.Search...'|translate}}"/>
      </div>
   </div>
<div class="custom-form mt-4">
   <div class="row gx-5 form-set">
          <div class="col-6">
              <label class="label" for="nationality">{{'dashboard.SchoolYear.Nationality'|translate }} </label>
              <p-dropdown [options]="nationalityList" [showClear]="true" StopProp optionLabel="name.ar" optionValue="id" (onChange)="getStudentsFiltration()" [(ngModel)]="nationalityId" inputId="nationality" placeholder="{{'dashboard.SchoolYear.Select Nationality'|translate }}"></p-dropdown>
          </div>
          <div class="col-6">
              <label class="label" for="precantage">{{'dashboard.SchoolYear.Minmum Precantage'|translate }} </label>
              <p-dropdown [options]="precentage" [showClear]="true" StopProp  inputId="precantage" (onChange)="getStudentsFiltration()" [(ngModel)]="perecentgeId" placeholder="{{'dashboard.SchoolYear.Select Precantage'|translate }}"></p-dropdown>
          </div>
    </div>
  </div>
   </p-dialog-header>
  </ng-template>
 
  <ng-template pTemplate="content">
      <div class="custom-form parent-modal">
     

          <div class="row gx-5 gy-4 form-set">
              <h2 class="heading heading--tertiary mb-3 ">{{'dashboard.SchoolYear.Student List' | translate}} ( {{studentsList.length}} )</h2>
              <ng-container *ngFor="let student of studentsList; let i =index">
                  <div class="col-md-6 d-flex gap-4 align-items-center">
                      <!-- <p-checkbox  name="students" binary="true" (onChange)="getTopStudentsNumber()" [(ngModel)]="student.isSelected" [inputId]="i" ></p-checkbox> -->
                      <p-checkbox  name="students" [value]="student?.id" (onChange)="getTopStudentsNumber()" [(ngModel)]="topStudentIds"  ></p-checkbox>
                      <label class="label label--sm col-md-12" [for]="i"> 
                        <div class="row">
                          <div class="col-2">{{student?.id}}</div>
                          <div class="col-7">{{student?.name|currentLang}}</div>
                          <div class="col-3">{{student?.percentage}}</div>
                        </div>
                      </label>
                  </div>
              </ng-container>
          </div>
          
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
    
    <div class="d-flex mt-5">
      <span class="footeritem">{{'dashboard.SchoolYear.you select'|translate}} {{topStudentIds.length}} {{'dashboard.SchoolYear.from students'|translate}} . {{'dashboard.SchoolYear.you can select 10 top students at max'|translate}}</span>
      <button class="btn btn-primary btn--sm  " (click)="TopStudentsModelOpened=false;saveTopStudent(schoolYearCurriculum.curriculumId,schoolYearClass.gradeId)">
          <span>{{'shared.save'| translate}} </span>
      </button>
  </div>

  </ng-template>
</p-dialog>




