@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/breadcrumb';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/icons';
@import 'src/assets/css/components/input';
#homeicon
{ width:12px;
    height:12.32px;
    color: #8B8B8B;
    font-size: 1.4rem;
}

#holidaylist{
    color: #8B8B8B;
   
    width:127px;
    height:22px;
    
    font-family: 'DIN Next LT Arabic';
    font-style: Regular;
    font-size: 15px;

}


#searchicon{
    position: relative;
    right: 83%;
    bottom: 48%;
    color: #A7A5A5;
   
}


input::placeholder{
    font-size: 1.4rem;
    width:400;
    font-family: DIN Next LT Arabic;
}


 #paginationdiv{
 
    direction: ltr;
    margin-top: 2.5%;
    
}
#Editbtn{
    color: #2E50A3;
    background-color: rgba(46, 80, 163, 0.16); 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 12px;
    width: 3em;
    padding: 0.7em;
    a{
        font-style: Medium;
        font-size: 16px;
    }
}



.pag{color:  #A8A6A6;}

#files{
    direction: ltr;
    background-color: #fff;
 
    margin-right: 88.5%;
    
    width: 5rem;
    height: 1.6rem;
   position: absolute;
    top:32%;
    left:2.3%;
    border-radius: 12px;
    
   
}


#csvimg{position: absolute;left: 10%;top: 23%;padding: 0.1px;}
#excelimg{position: absolute;left: 65%;top: 23%;padding: 0.1px;}


#verticalfileline{
color: whitesmoke;margin-left: 44%;position: relative;bottom:0.58rem 
}