<div style="overflow-x: hidden;">
<nav class="navbar navbar-expand-lg navbar-light bg-white " id="nav" >
   <!-- Header component here -->
  </nav>
  <div class="d-flex ">
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="min-width:17%" id="side">
     <!-- Side Bar component here -->
  </div>
  <div id="AnnualHoliday">
    <div  id="searchsection">
        <div class="mb-3 mt-2">
            <fa-icon [icon]=" Homeicon" class="ms-1 " id="homeicon"></fa-icon> <span id="holidaylist"> > قائمة الأجازات الثانوية</span>
       </div>
      
        <div class=" rounded mb-3"  >
          <span class="p-input-icon-left">
            <input type="text" style="width:85% ;height: 3em" pInputText [(ngModel)]="value1" placeholder="بحث...">  
            <fa-icon [icon]=" searchicon" class="ms-1 " id="searchicon"></fa-icon>        
        </span>

         <button type="button" class="btn ms-4" id="filterbtn"><a>فلتر</a></button>
         <fa-icon [icon]=" filtericon" class="ms-1 " id="filtericon"></fa-icon>   
         
         <button type="button" style="height: 3em" class="btn btn-primary btn-rounded" (click)="gotoAddHoliday()" id="addbtn"><span id="addholidayspan">اضافة تقويم الاجازات السنوية</span></button>
         
        </div>
        <div id="files" >
          <button  ><img id="csvimg" src="assets/images/csv-file.jpg" /></button>
         
          <span style="color: whitesmoke;margin-left: 44%;">|</span>

          <button class="excelbtn ms-3 " ><img id="excelimg" src="assets/images/Microsoft_Office_Excel.jpg" /></button>
        
        </div>
   
    </div>
   
   <div id="tablediv" >
    <p-table [value]="AnnualHolidayList|paginate: { itemsPerPage: tableSize, currentPage: page }"    sortMode="multiple"  scrollHeight="38.97em" styleClass="mt-5 ms-5 ">
        <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="name" ><span class="tablecontent text-white"><p-sortIcon  field="name" ></p-sortIcon>مسمي التقويم السنوي</span></th>
              <th   pSortableColumn="id"><span class="tablecontent text-white"><p-sortIcon [ngStyle]="{color:'white'}" field="id"></p-sortIcon>مسمي الأجازة</span></th>
              <th   pSortableColumn="phoneno"><span class="tablecontent text-white"><p-sortIcon field="phoneno"></p-sortIcon>المنهج</span></th>
              <th   pSortableColumn="email"><span class="tablecontent text-white"><p-sortIcon  field="email"></p-sortIcon>التاريخ</span></th>
              <th   pSortableColumn="gender"><span class="tablecontent text-white"><p-sortIcon field="gender"></p-sortIcon>تاريخ الإنشاء</span></th>
              <th   pSortableColumn="nationality"><span class="tablecontent text-white"><p-sortIcon field="nationality"></p-sortIcon>حالة المرونة</span></th>
              <th   pSortableColumn="edit"><span class="tablecontent text-white"><p-sortIcon field="edit"></p-sortIcon>تعديل</span></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
                <td  ><span class="tablecontent">{{e.name}}</span></td>
                <td   ><span class="tablecontent">{{e.id}}</span></td>
                <td  ><span class="tablecontent">{{e.name}}</span></td>
                <td  ><span class="tablecontent">{{e.phoneno}}</span></td>
                <td  ><span class="tablecontent">{{e.email}}</span></td>
                <td ><span class="tablecontent">{{e.gender}}</span></td>
                <td><span class="tablecontent"><button type="button" class="btn " id="Editbtn" (click)="gotoEditHoliday(e.id)"><a>Edit</a></button></span></td>
            </tr>
        </ng-template>
    </p-table>
  </div>
    <div  id="paginationdiv" >
      <pagination-controls
        previousLabel="Previous"
        nextLabel="Next"
        class="pag"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
    

  </div>
</div>

</div>
