@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/primng-table';
@import '../../../../../../../assets/css/components/model';
.newStatus {
    color: blue;
}

.sentStatus {
    color: green;
}

.closeStatus {
    color: red;
}