<!-- <app-add-btn [route]="'/dashboard/educational-settings/surveys/new-survey'" [content]="'breadcrumb.createNewSurvey'">
</app-add-btn> -->


<app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/educational-settings/surveys/new-survey'" [content]="'breadcrumb.createNewSurvey'"></app-add-btn>


<div class="parents">

    <div class="prim-table " *ngIf="isLoaded">
        <p-table #dt [value]="assignmentList" [paginator]="true" [(rows)]="rows" [(first)]="first" sortMode="multiple">



            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="surveyNumber">
                        <p-sortIcon field="surveyNumber"></p-sortIcon>{{'dashboard.surveys.surveyNumber' | translate}}
                    </th>

                    <th pSortableColumn="arabicTitle">
                        <p-sortIcon field="arabicTitle"></p-sortIcon>{{'dashboard.surveys.surveyAddress' | translate}}
                    </th>

                    <th pSortableColumn="surveyType">
                        <p-sortIcon field="surveyType"></p-sortIcon>{{'dashboard.surveys.surveyType' | translate}}
                    </th>

                    <th pSortableColumn="arabicUserName">
                        <p-sortIcon field="arabicUserName"></p-sortIcon>{{'dashboard.surveys.targetsNumber' | translate}}
                    </th>


                    <th pSortableColumn="targetGuardians">
                        <p-sortIcon field="targetGuardians"></p-sortIcon>{{'dashboard.surveys.responsesNumber' | translate}}
                    </th>
                    <th pSortableColumn="surveyStatus">
                        <p-sortIcon field="surveyStatus"></p-sortIcon>{{'dashboard.surveys.surveyStatus' | translate}}
                    </th>

                    <th></th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.surveyNumber| translate}}</td>
                    <td>{{product.arabicTitle| translate}}</td>
                    <td>{{product.surveyType| translate}}</td>
                    <td>{{product.arabicUserName| translate}}</td>
                    <td>{{product.targetGuardians| translate}}</td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div [ngSwitch]="product.surveyStatus">
                                <div class="alerting primary" *ngSwitchCase="StatusEnum.New"> {{'dashboard.surveys.'+StatusEnum.New| translate}}</div>
                                <div class="alerting success" *ngSwitchCase="StatusEnum.Sent "> {{'dashboard.surveys.'+StatusEnum.Sent | translate}}</div>
                                <div class="alerting warning " *ngSwitchCase="StatusEnum.Close "> {{'dashboard.surveys.'+StatusEnum.Close | translate}}</div>

                            </div>

                        </div>
                    </td>
                    <td class=" edit ">
                        <button routerLink=" ">
                                {{'shared.details'|translate}} <img src="assets/images/shared/arrow.svg " alt=" ">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage " let-columns>

                <tr>

                    <td [attr.colspan]="20 " [att.rowspan]="10 ">

                        <app-informative-block title="{{ 'emptyList.Survey List is empty' |translate}} " src="assets/images/empty-list/empty-list.svg "></app-informative-block>

                    </td>

                </tr>

            </ng-template>
        </p-table>


        <div>

            <app-pagination [totalItems]="assignmentList.length " (paginationChanged)="onTableDataChange($event) ">
            </app-pagination>
        </div>

    </div>
</div>