<ng-container *ngIf="currentUserScope==userScope.Employee">
  <ng-container *permit="claimsEnum.E_TransferStudentGroup">
      <div class="StudentGroup position-relative" *ngIf="(isSchoolAllowToTransferGroup$ | async)">
          <div class=" submit-btn d-flex justify-content-end position-absolute bottom-100">
              <button class="btn btn-primary btn--md" routerLink="/dashboard/school-management/school/{{schoolId}}/transfer-students">
                  <span>{{'dashboard.students.TransferStudentGroup'| translate}}</span>
              </button>
          </div>
      </div>
  </ng-container>
</ng-container>


<div class="students">

    <div class="search-box bg-gray-30 mb-5 border-dark radius-15">
        <div class="d-flex justify-content-between p-5 " role="button" (click)="isCollapsed = !isCollapsed">
            <span class="fs-2 color-primary">{{'dashboard.students.searchCriteria' |translate}}</span>
            <fa-icon [icon]="isCollapsed ? faAngleDown :faAngleLeft"></fa-icon>
        </div>

        <div class="custom-form p-5 " *ngIf="isCollapsed">

           <div class="row g-5 form-set" >
                <div class="col-md-4" *ngIf="currentUserScope!=userScope.Employee" >
                    <label class="label">{{'dashboard.schools.SchoolCurriculum'| translate}}</label>
                    <p-multiSelect [options]="(curriculums$ | async)" display="chip" [(ngModel)]="filtration.curriculumId"  optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"  placeholder="{{'shared.chooseCurriculum'|translate }}"></p-multiSelect>
                </div>
                <div class="col-md-4" *ngIf="currentUserScope!=userScope.Employee" >
                    <label class="label">{{'School'|translate}}</label>
                    <p-multiSelect  [options]="(schools$| async)"   (ngModelChange)="schoolSelected($event)" display="chip" (onClear)="isSchoolSelected=false" [(ngModel)]="filtration.SchoolId"  optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"  placeholder="{{'shared.chooseSchool'|translate }}"></p-multiSelect>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'shared.grade'| translate}}</label>
                     <p-multiSelect  [options]="(AllGrades$ | async)" display="chip" (ngModelChange)="onGradeSelected($event)"  (onClear)="isGradeSelected=false" [(ngModel)]="filtration.GradeId"   optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"  placeholder="{{'dashboard.students.chooseClasse' |translate}}"></p-multiSelect>
                </div>
                <div class="col-md-4">
                    <label class="label">{{'shared.division'| translate}}</label>
                    <p-multiSelect  [disabled]="!isSchoolSelected"    [options]="(schoolDivisions$ | async)" display="chip"   [(ngModel)]="filtration.DivisionId" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"    placeholder="{{'dashboard.students.choosedivision' |translate}}"></p-multiSelect>
                </div>
                <div class="col-md-4">
                    <label class="label">{{'shared.track'| translate}}</label>
                    <p-multiSelect  [options]="(gradeTracks$ | async)?.data"  [disabled]="(!this.isGradeSelected || !this.isSchoolSelected)"  display="chip"    [(ngModel)]="filtration.TrackId"  optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"  placeholder="{{'dashboard.students.chooserack' |translate}}"></p-multiSelect>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.nationalities'| translate}}</label>
                    <p-multiSelect [filter]="true" [filterBy]="lang=='ar' ?'name.ar' :'name.en'" [options]="(countries$ | async)" display="chip" [(ngModel)]="filtration.NationalityId"  optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"  placeholder="{{'dashboard.students.chooseNationalitie' |translate}}"></p-multiSelect>
                </div>
                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.StudentCategory'| translate}}</label>
                    <p-multiSelect    [options]="studentCategoryList"     [ngModelOptions]="{standalone: true}"  display="chip"     [(ngModel)]="filtration.StudentCategory" optionValue="value" optionLabel="name" placeholder="{{'dashboard.students.SelectStudentCategory' |translate}}"></p-multiSelect>
                </div>
                <div class="col-md-4" *ngIf="filtration.StudentCategory==statusEnum.IsSpecialAbilities">
                    <label class="label">{{'shared.classroom'| translate}}</label>
                    <p-dropdown [options]="specialClassOptions"  [showClear]="true"  ngModel (ngModelChange)="onSpecialClassSelected($event)" optionValue="value" optionLabel="name" placeholder="{{'dashboard.schools.SelectClassType' |translate}}"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.finalScore'| translate}}</label>
                    <p-dropdown [options]="passedOptions" [showClear]="true"  [(ngModel)]="filtration.StudentDegreeResultFilter" optionValue="value" optionLabel="name" placeholder="{{'shared.choosePassedOrnot' |translate}}"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.forbiddenFromWithdrow'| translate}}</label>
                    <p-dropdown [options]="booleanOptions" [(ngModel)]="filtration.IsSpecialAbilities" [showClear]="true"  optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.forbiddenFromCertificate'| translate}}</label>
                    <p-dropdown [options]="booleanOptions" [(ngModel)]="filtration.IsSpecialAbilities" [showClear]="true"  optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.talent'| translate}}</label>
                    <p-multiSelect      [options]="(talents$|async)"     [ngModelOptions]="{standalone: true}"  display="chip"     [(ngModel)]="filtration.talentId"    optionValue="id" optionLabel="arabicName"    placeholder="{{'dashboard.students.chooseTalent' |translate}}"></p-multiSelect>
                </div>
                <div class="col-md-4">
                    <label class="label"> {{'dashboard.addChild.gender' | translate}} </label>
                    <p-dropdown [options]="genderList"  [ngModelOptions]="{standalone: true}" [(ngModel)]="filtration.gender"  [showClear]="true"  optionLabel="name" optionValue="value" placeholder="{{'dashboard.addChild.gender' | translate}}"></p-dropdown>
                </div>
            </div>


            <div class="d-flex justify-content-end align-items-center gap-5" >
                <span role="button" class="color-red-500 text-decoration-underline" (click)="clearFilter()">{{'shared.deleteAll' |translate}}</span>
                <button class="btn btn--md btn-primary" (click)="isSearching =true;getStudents()" [disabled]="isSearching">
                    {{'shared.search' |translate}}
                    <div class="spinner-border text-light" role="status" *ngIf="isSearching"></div>
                </button>


            </div>
        </div>

    </div>


    <div class="prim-table mt-4" *ngIf="students.totalAllData || students.loading">
        <p-table #dt [value]="students.list" (onSort)="onSort($event)" [lazy]="true" [scrollable]="true">
            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <app-table-caption
                [hasFilter]="false"
                (onExport)="onExport($event)"
                (onFilter)="checkStudentList()"
                (onSearch)="filtration.KeyWord = $event; checkStudentList()"
                (onClear)="clearFilter()"></app-table-caption>
            </ng-template>

            <ng-template pTemplate="header" let-columns="columns">
                <tr>
                    <!-- <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                    <th pSortableColumn="actions"></th> -->
                    <th pSortableColumn="studentDaleelNumber">{{'dashboard.schools.studentId'|translate}} <p-sortIcon field="studentDaleelNumber"></p-sortIcon></th>
                    <th style="min-width: 22rem;" pSortableColumn="arabicName">{{'dashboard.schools.student'|translate}} <p-sortIcon field="arabicName"></p-sortIcon></th>
                    <th style="min-width: 16rem;" pSortableColumn="surName">{{'dashboard.students.studentNickname'|translate}} <p-sortIcon field="surName"></p-sortIcon></th>
                    <th pSortableColumn="studentMinisterialNumber">{{ ('dashboard.parents.ministerialNumber' |translate)}} <p-sortIcon field="studentDaleelNumber"></p-sortIcon></th>
                    <th pSortableColumn="studentNumber">{{'dashboard.students.daleelNumber1'|translate}} <p-sortIcon field="studentDaleelNumber"></p-sortIcon></th>
                    <th style="min-width: 15rem;" pSortableColumn="studentEmiratesNumber">{{'sign up.digitalIdentity'|translate}} <p-sortIcon field="studentDaleelNumber"></p-sortIcon></th>
                    <th pSortableColumn="nationality">{{'shared.nationality'|translate}} <p-sortIcon field="nationality"></p-sortIcon></th>
                    <th style="min-width: 22rem;" pSortableColumn="currentSchoolName" *ngIf="currentUserScope!=userScope.Employee">{{'School'|translate}} <p-sortIcon field="currentSchoolName"></p-sortIcon></th>
                    <th pSortableColumn="guardianName">{{'dashboard.students.parent'|translate}}  <p-sortIcon field="guardianName"></p-sortIcon></th>
                    <th pSortableColumn="gradeName">{{'shared.grade'|translate}}</th>
                    <th pSortableColumn="divisionName">{{'shared.division'|translate}}</th>
                    <!-- <th class="actions"></th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student >
                <tr [routerLink]="['student/', student.id]" class="clickable">
                    <td>{{student.studentDaleelNumber}}</td>
                    <td style="min-width: 22rem;">{{student.name |currentLang}}</td>
                    <td style="min-width: 16rem;">{{student.surName |currentLang }}</td>
                    <td>{{student.studentMinisterialNumber}}</td>
                    <td>{{student.studentNumber}}</td>
                    <td style="min-width: 15rem;" >{{student.studentEmiratesNumber}}</td>
                    <td>{{student.nationality |currentLang}}</td>
                    <td style="min-width: 22rem;" class="p-0" *ngIf="currentUserScope!=userScope.Employee" [routerLink]="['/dashboard/schools-and-students/schools/school/2']">
                        <a  [style.height.rem]="'8'"  class="text color-skyBlue-500 fs-3 d-flex align-items-center">{{student.currentSchoolName |currentLang}}</a>
                    </td>
                    <td>
                        <!-- <span routerLink="../all-parents/parent/2/all-children">محمد أنوار</span> -->
                        <span>{{student.guardianName |currentLang}}</span>
                    </td>
                    <td>
                        <!-- <span routerLink="../schools/school/2/class/5">الصف الخامس</span> -->
                        <span>{{student.gradeName |currentLang}}</span>
                    </td>
                    <td>
                        <!-- <span routerLink="../schools/school/2/track/7">B 1</span> -->
                        <span>{{student.divisionName |currentLang}}</span>
                    </td>
                    <!-- <td >
                        <app-dropdown [items]="items"></app-dropdown>
                    </td> -->
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="20" class="search">
                        <ng-container *ngIf="!students.total &&  !students.loading">
                            <app-informative-block subTitle="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                        </ng-container>

                        <div  class="w-100">
                          <app-loader></app-loader>
                        </div>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <div class="" *ngIf="students.total  > paginationState.rows">
            <app-pagination [totalItems]="students.total + 5" (paginationChanged)="paginationChanged($event)"></app-pagination>
        </div>
    </div>

    <ng-container *ngIf="!students.totalAllData && !students.loading">
        <app-informative-block title="{{'emptyList.students' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>
</div>
