@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/forms';


.StudentGroup{

    .submit-btn {
        top: -6.5rem;
        inset-inline-end: 3rem;
        .btn-primary{
            height: 46px;
            font-size: 1.4rem;
        }
    }
}

