@import 'src/assets/css/utils/variables.scss';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../assets/css/components/forms.scss';
@import '../../../../../../assets/css/components/validation-form.scss';
@import 'src/assets/css/components/inputswitch';


.Btn-group{
    position: absolute;
    bottom:100% ;
    padding-bottom: 3%;

}

textarea{
    overflow: hidden;
    border-radius: 2rem;
    font-size: 1.6rem;
    width: 100%;
    height:17.75rem !important;
}
::ng-deep p-calendar{
    box-shadow: none !important;
}
.star {
    color: red;
    font-size: 1.5rem;
 }