@import '../utils/variables.scss';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}



ul,
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}



html {


    font-size: 62.5%; //1rem = 10px -- 10/16= 62.5%
    
    @media screen and (max-width: 992px) {
        font-size: 56.25%; //1rem = 9px -- 9/16= 56.25%
    }

    @media screen and (max-width: 780px) {
        font-size: 50%; //1rem = 8px -- 8/16= 50%
    }


    @media screen and (min-width: 1500px) {
        font-size: 68%; //1rem = 11.5px -- 11.5/16= 72%
    }

    @media screen and (min-width: 1600px) {
        font-size: 72%; //1rem = 11.5px -- 11.5/16= 72%
    }

    // scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 7px;
        height: 6px;
    
        
    }
      
    ::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background: #B6B6B6;
          transition: all .3s ease-in-out;
          &:hover{
              background: #2E50A3;
            
        }
      }
      
    ::-webkit-scrollbar-track {
        // margin-top: 80px;
        background-color: #F2F2F2;
    
      
      }
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
    font-family: 'Droid' !important;
}