.heading{

    display: inline-block;

    &--primary{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &--secondary{
        font-size: 2rem;
    }
    &--tertiary{}

}




.paragraph{
    line-height: 1.7;

    &--lg{
        color: $color-gray-400;
        font-size: 1.7rem;
        font-weight: 500;
    }

    &--sm{
        color: $color-gray-300;
        font-size: 1.3rem;
    }
}