<h3 class="heading heading--tertiary mb-6"> {{'dashboard.SystemSetting.schoolStaffAttachmentConditions'|translate}}</h3>

<div class="actions-btn">
    <button (click)="updateAttachedFiles()" class="btn btn-primary" [disabled]="onSubmitForm">
        {{'shared.saveChanges' | translate}}
        <div class="spinner-border" role="status" *ngIf="onSubmitForm"></div>
    </button>
</div>

<ng-container [formGroup]="attachementConditionsForm">

    <ng-container formArrayName="employees" >
        <div class="row gx-5 mb-5 custom-form" *ngFor="let item of employeesCtr.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentTypes'|translate}}</label>
                <p-dropdown formControlName="fileType" [options]="schoolTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
            </div>
            
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentSize'|translate}}</label>
                <p-inputNumber formControlName="fileSize" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
            </div>
            <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end" >
                <img (click)="deleteConditionFromSchool(i)" src="assets/images/shared/rect-xmark.svg" alt="">
            </div>
        </div>
    </ng-container>

    <div role="button" 
    class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
    (click)="addConditionToEmployees()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
    </div>




    <h3 class="heading heading--tertiary my-6"> {{'dashboard.SystemSetting.parentsAttachmentConditions'|translate}}</h3>

    <ng-container formArrayName="guardians" >
        <div class="row gx-5 mb-5 custom-form" *ngFor="let item of guardiansCtr.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentTypes'|translate}}</label>
                <p-dropdown formControlName="fileType" [options]="parentsTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
            </div>
            
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentSize'|translate}}</label>
                <p-inputNumber formControlName="fileSize" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
            </div>

            <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end" (click)="deleteConditionFromParents(i)">
                <img (click)="deleteConditionFromParents(i)" src="assets/images/shared/rect-xmark.svg" alt="">
            </div>
        </div>
    </ng-container>
    
    <div role="button" 
    class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
    (click)="addConditionToParents()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
    </div>

</ng-container>




