
<div class="actions-btn">
    <button (click)="updateAttachedFiles()" class="btn btn-primary" [disabled]="onSubmitForm">
        {{'shared.saveChanges' | translate}}
        <div class="spinner-border" role="status" *ngIf="onSubmitForm"></div>
    </button>
</div>

<ng-container [formGroup]="attachementConditionsForm" >

    <h3 class="heading heading--tertiary my-6"> {{'dashboard.SystemSetting.speaAttachmentConditions'|translate}}</h3>

    <ng-container formArrayName="speaEmployees" *ngIf=" speaCtr?.controls?.length && !loading">
        <div class="row gx-5 mb-5 custom-form" *ngFor="let item of speaCtr.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentTypes'|translate}}</label>
                <p-dropdown formControlName="fileType" [options]="speaTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
            </div>

            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentSize'|translate}}</label>
                <p-inputNumber formControlName="fileSize" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
            </div>

            <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end">
                <!-- <img (click)="deleteConditionFromSpea(i)" src="assets/images/shared/rect-xmark.svg" alt=""> -->
                <img  ConfirmDialog (onConfirm)="deleteConditionFromSpea(i)" src="assets/images/shared/rect-xmark.svg" alt="">
            </div>
        </div>
    </ng-container>

    <div role="button"
    *ngIf="!loading"
    class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
    (click)="addConditionToSpea()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
    </div>


    <!-- -------------------------------------------------------- -->

    <h3 class="heading heading--tertiary my-6"> {{'dashboard.SystemSetting.schoolStaffAttachmentConditions'|translate}}</h3>

    <ng-container formArrayName="employees" *ngIf=" employeesCtr?.controls?.length && !loading">
        <div class="row gx-5 mb-5 custom-form" *ngFor="let item of employeesCtr.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentTypes'|translate}}</label>
                <p-dropdown formControlName="fileType" [options]="schoolTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
            </div>

            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentSize'|translate}}</label>
                <p-inputNumber formControlName="fileSize" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
            </div>
            <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end" >
                <!-- <img (click)="deleteConditionFromSchool(i)" src="assets/images/shared/rect-xmark.svg" alt=""> -->
                <img  ConfirmDialog (onConfirm)="deleteConditionFromSchool(i)" src="assets/images/shared/rect-xmark.svg" alt="">
            </div>
        </div>
    </ng-container>

    <div role="button"
    *ngIf="!loading"
    class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
    (click)="addConditionToEmployees()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
    </div>




    <h3 class="heading heading--tertiary my-6"> {{'dashboard.SystemSetting.parentsAttachmentConditions'|translate}}</h3>

    <ng-container formArrayName="guardians" *ngIf=" guardiansCtr?.controls?.length && !loading">
        <div class="row gx-5 mb-5 custom-form" *ngFor="let item of guardiansCtr.controls; let i=index" [formGroupName]="i">
            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentTypes'|translate}}</label>
                <p-dropdown formControlName="fileType" [options]="parentsTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.attachmentType'|translate}}"></p-dropdown>
            </div>

            <div class="col-md-4">
                <label  class="label">{{'dashboard.SystemSetting.attachmentSize'|translate}}</label>
                <p-inputNumber formControlName="fileSize" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
            </div>

            <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end" (click)="deleteConditionFromParents(i)">
                <!-- <img (click)="deleteConditionFromParents(i)" src="assets/images/shared/rect-xmark.svg" alt=""> -->
                <img  ConfirmDialog (onConfirm)="deleteConditionFromParents(i)" src="assets/images/shared/rect-xmark.svg" alt="">
            </div>
        </div>
    </ng-container>

    <div role="button"
    *ngIf="!loading"
    class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
    (click)="addConditionToParents()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
    </div>


</ng-container>




<ng-container *ngIf="loading">
    <div class="row g-5">
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>

</ng-container>
