
@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/inputswitch';

.content{
    width: 100%;
   
    border-radius: 12px;
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    .label{
        font-weight: 400;
        color:$color-gray-300;
        
        
    }
    
    .value{
       
        font-weight: 400;
        color:$color-primary;
        &.username{color: $color-skyBlue-600;}
        &.switch{position: relative;bottom:0.3rem}
        &.late{
            &-2{padding-right: 2.2rem;}
           
          }
       }
    .information{
        position: relative;
        bottom: 7.5rem;
    }
}