
<!-- <h3 class="heading heading--tertiary mb-5">{{'dashboard.SystemSetting.notificationList' |translate}}</h3> -->

<div class="prim-table" *ngIf="notifications.totalAllData || notifications.loading">
    <p-table #dt [value]="notifications.list" [lazy]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">

            <app-table-caption 
            [hasExport]="false"
            [hasFilter]="false"
            (onFilter)="getnotifications()" 
            (onSearch)="filtration.KeyWord = $event; getnotifications()" 
            (onClear)="clearFilter()">
            <!-- <div class="row gx-5 form-set">
                <div class="col-4">
                    <label class="label" for="indexType">{{'dashboard.SystemSetting.Receiver'|translate}} </label>
                    <p-multiSelect [options]="indexListType" display="chip" [(ngModel)]="filtration.IndexType" optionLabel="indexType" optionValue="value"  placeholder="{{'dashboard.Indexes.Select Index Type'|translate }}"></p-multiSelect>
                </div>
 
            </div> -->
        </app-table-caption>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="cause"> {{'dashboard.SystemSetting.NotficationReason'|translate}} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="receivedBy" >{{'dashboard.SystemSetting.Receiver'|translate}} <p-sortIcon field="content.ar"></p-sortIcon> </th>
                <th pSortableColumn="content.en" >{{'dashboard.SystemSetting.NotificationContentAr'|translate}} <p-sortIcon field="content.en"></p-sortIcon> </th>
                <th pSortableColumn="content.ar" >{{'dashboard.SystemSetting.NotificationContentEN'|translate}} <p-sortIcon field="recievedBy"></p-sortIcon> </th>
                <th pSortableColumn="channal" >{{'dashboard.SystemSetting.NotificationChannel'|translate}} <p-sortIcon field="channal"></p-sortIcon> </th>
                <th class="actions"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notification>
            <tr>
                <td>{{notification.cause |currentLang}}</td>
                <td>{{notification.receivedBy |currentLang}}</td>
                <td>{{notification.content.ar |truncate}}</td>
                <td dir="ltr" class="text-end">{{notification.content.en |truncate}}</td>
                <td>{{'dashboard.SystemSetting.' + notification.channal | translate}}</td>
                <td>
                    <div class="d-flex align-items-center gap-4" role="button" (click)="openNotificationModel(notification)">
                        <span class="color-skyBlue-400">{{'shared.edit' |translate}}</span>
                        <fa-icon [class.rotate180]="lang=='en'" class="color-skyBlue-400 fs-6" [icon]="faChevronLeft"></fa-icon>
                    </div>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="notifications.totalAllData && notifications.list.length == 0 &&  !notifications.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>

    </p-table>


    <div *ngIf="notifications.total > paginationState.rows">
        <app-pagination [totalItems]="notifications.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>

</div>

<ng-container *ngIf="!notifications.totalAllData && !notifications.loading">
    <app-informative-block subTitle="{{'emptyList.Notifications List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>







<p-dialog header="{{'dashboard.SystemSetting.editNotification' |translate}}" [(visible)]="notificationModelOpend" [modal]="true" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">

        <ng-container [formGroup]="notificationForm">
            <div class="row gx-5 mb-6 mt-4">
                <div class="col d-flex align-items-center gap-5">
                    <p class="color-gray-300 fs-4">{{ 'dashboard.SystemSetting.NotficationReason'|translate }}</p>
                    <span class="color-primary mb-2">{{selectedNotification?.cause |currentLang}}</span>
                </div>
    
                <div class="col d-flex align-items-center gap-5">
                    <p class="color-gray-300 fs-4">{{ 'dashboard.SystemSetting.Receiver'|translate }}</p>
                    <span class="color-primary mb-2">{{selectedNotification?.recievedBy|translate}} </span>
                </div>
            </div>
    
            <div class="row mb-5 gx-5 custom-form" formGroupName="content" *ngIf="notification?.channal ==channelEnum.SMS || notification?.channal ==channelEnum.Email ">
                <div class="col">
                    <label class="label">{{ 'dashboard.SystemSetting.NotificationContentAr'|translate }}</label>
                    <textarea [rows]="4" formControlName="ar" pInputTextarea placeholder="{{'shared.addText' |translate}}"></textarea>
    
                </div>
                <div class="col">
                    <label class="label">{{ 'dashboard.SystemSetting.NotificationContentEN'|translate }}</label>
                    <textarea [rows]="4" formControlName="en" pInputTextarea placeholder="{{'shared.addText' |translate}}"></textarea>
    
                </div>
            </div>
    
            <div class="row mb-5  custom-form">
                <h3 class="heading heading--tertiary mb-4">{{'dashboard.SystemSetting.NotificationChannel'|translate}}</h3>
                <div class="col d-flex align-items-center gap-3">
                    <p-radioButton label="{{'dashboard.SystemSetting.shortMessage'|translate}}" formControlName="channelId"  [value]="channelEnum.SMS"></p-radioButton>
                    <!-- <span>{{'dashboard.SystemSetting.shortMessage'|translate}}</span> -->
                </div>
                <div class="col d-flex align-items-center gap-3">
                    <p-radioButton label="{{'shared.email'|translate}}" formControlName="channelId"  [value]="channelEnum.Email" ></p-radioButton>
                </div>
                <div class="col d-flex align-items-center gap-3">
                    <p-radioButton  label="{{'dashboard.SystemSetting.throwSystem'|translate}}" formControlName="channelId"  [value]="channelEnum.System"></p-radioButton>
                </div>

                <div class="col d-flex align-items-center gap-3 color-red-500 fw-bold">
                    <p-radioButton  label="{{'shared.inActive'|translate}}" formControlName="channelId"  [value]="channelEnum.None"></p-radioButton>
                </div>
            </div>
    
            <div class="d-flex  align-items-center justify-content-end mt-6">
                <button class="btn btn-primary btn--md" (click)="updateNotification()" [disabled]="!notificationForm.valid || onSubmit">
                    <span>{{'shared.save'| translate}} </span>
                    <div class="spinner-border" role="status" *ngIf="onSubmit"></div>
                </button>
            </div>
        </ng-container>

    </ng-template>
        
</p-dialog>