::ng-deep{
  
    .p-dialog{
    
        height: 20rem;
        .p-dialog-content{
          background-color: black;
            .p-confirm-dialog-message{
                font-size: 2rem;
                font-family:'Droid';
    
            }
            .p-dialog-header-icon{
                margin-right: 20rem;
            }
            .p-button{
                font-family:'Droid';
                .p-confirm-dialog-accept{}
            }
        }
    }
    }