<div class="confirm-model">

    <p-dialog [(visible)]="isOpend" [modal]="true" [style]="{width: '35vw'}" >
        <ng-template pTemplate="content">
           <div class="d-flex flex-column justify-content-center align-items-center gap-4">
            <img [src]="(modelData$ |async).img" alt="">
            <p class="fs-3 text-center" *ngIf="(modelData$ |async).message"> {{(modelData$ |async).message}}</p>
            <!-- <p class="fs-3">{{'shared.confirmDelete' |translate}}</p> -->
            <div class="d-flex align-items-center gap-4 mt-5">
                <button (click)="confirm()" class="btn btn-secondary">{{'shared.yesImSure' |translate}}</button>
                <button (click)="this.confirmModelService.closeModel()" class="btn btn-primary ">{{'shared.notSure' |translate}}</button>
    
            </div>
           </div>
        </ng-template>
    </p-dialog>
</div>
