@import '../../../../assets/css/utils/variables.scss';
@import '../../../../assets/css/components/model';


.confirm-model{
    ::ng-deep p-dialog{
    
        .p-dialog{
            overflow: hidden;
            border-radius: 15px;
            .p-dialog-header{
                padding:1.2rem !important;
                justify-content: end;
            }
            
        }
    }

    .btn-secondary{
      background-color: $color-red-200 !important;
      color: $color-red-500 !important;
    }

    img{
        width: 11rem;
        border-radius: 100%;
    }
}

