<p-dialog [baseZIndex]="10000" header="{{'schools.addDivisionToschool'|translate}}" (onHide)="onModelClosed()"   [resizable]="false" [(visible)]="isOpen" [draggable]="false" [modal]="true" [style]="{width: '50vw'}">

    <ng-template pTemplate="content">
        <div class=" custom-form custom-validation-form " >
            <form [formGroup]="divisionFormGrp" class="container-fluid  ">


        <div class="row gx-5 form-set">
          <div class="col-6">
            <label for="PID" class="label">{{'schools.DivisionNameInArabic'|translate}} <span class="star">*</span></label>
              <input type="text" pInputText formControlName="arabicName"  class="form-control " [LangRestrict]="'ar'"  placeholder="{{'schools.WriteDivisionName'|translate}}" name="PID" id="PID">
              <div [hidden]="arabicName?.valid || arabicName?.untouched">
                <small *ngIf="arabicName?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                </small>

             </div>
            </div>
            <div class="col-6">
                <label for="PID1" class="label">{{'schools.DivisionNameInEnglish'|translate}} <span class="star">*</span></label>
                  <input type="text" pInputText formControlName="englishName"  class="form-control " [LangRestrict]="'en'"  placeholder="{{'schools.WriteDivisionName'|translate}}" name="PID1" id="PID1">
                  <div [hidden]="englishName?.valid || englishName?.untouched">
                    <small *ngIf="englishName?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                      {{'shared.This Field is Required'|translate}}
                       <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                    </small>

                 </div>
            </div>
        </div>
        <div class="row gx-5 form-set">
            <div class="col-6">
                <label for="PID2" class="label">{{'schools.DivisionCode'|translate}} <span class="star">*</span></label>
                  <input type="text" pInputText formControlName="code"  class="form-control "   placeholder="{{'schools.WriteDivisionCode'|translate}}" name="PID2" id="PID2">
                  <div [hidden]="code?.valid || code?.untouched">
                    <small *ngIf="code?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                      {{'shared.This Field is Required'|translate}}
                       <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                    </small>

                 </div>
            </div>
          <div class="col-6">

            <label class="label" for="grade">{{'Class'|translate }} <span class="star">*</span> </label>

                <p-dropdown [options]="gradesList" [showClear]="true"  StopProp  optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" optionValue="id" formControlName="gradeId" [ngClass]="{'ng-invalid ng-dirty':gradeId?.errors?.['required'] && gradeId.touched}" inputId="grade" placeholder="{{'SchoolYear.Select Class'|translate}}"></p-dropdown>
                <div [hidden]="gradeId?.valid || gradeId?.untouched">
                  <small *ngIf="gradeId?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                    {{'shared.This Field is Required'|translate}}
                     <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                  </small>
                </div>

        </div>
        </div>

        <div class="row gx-5 form-set">
            <div class="col-6">
                <label class="label " for="precantage">{{'schools.sectionNumber'|translate }} <span class="star">*</span> </label>
                <input type="text" pInputText  formControlName="divisionNumber" [LangRestrict]="'numb'" class="form-control" placeholder="{{'schools.WritesectionNumber'|translate}}" name="PID3" id="PID3">
                <div [hidden]="divisionNumber?.valid || divisionNumber?.untouched">
                  <small *ngIf="divisionNumber?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                    {{'shared.This Field is Required'|translate}}
                     <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                  </small>

               </div>
            </div>
          <div class="col-6">

            <label class="label mb-5" for="precantage">{{'schools.sectionForSpetialAbilitiesStudents'|translate }} <span class="star">*</span> </label>
            <p-radioButton  [value]="true"  formControlName="isSpecialAbilities" label="{{'true'|translate}}" ></p-radioButton>
            <p-radioButton [value]="false"  formControlName="isSpecialAbilities" class="mx-5"  label="{{'false'|translate}}" ></p-radioButton>
        </div>
        </div>
        <div class="row gx-5 form-set" >
            <div class="col-6">
              <label class="label " for="precantage">{{'schools.allowedStudentsNumber'|translate }} <span class="star">*</span> </label>
              <p-inputNumber formControlName="maxStudentCount"  mode="decimal" [showButtons]="false"  class=" form-control number b-0" inputId="minmax-buttons" ></p-inputNumber>
              <div [hidden]="maxStudentCount?.valid || maxStudentCount?.untouched">
                <small *ngIf="maxStudentCount?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                </small>

             </div>
            </div>
            <div class="col-6">
                <label class="label " for="precantage">{{'schools.exceptionStudentNumber'|translate }} <span class="star">*</span> </label>
                <p-inputNumber formControlName="studentToleranceCount"  mode="decimal" [showButtons]="false"  class=" form-control number b-0" inputId="minmax-buttons" ></p-inputNumber>
                <div [hidden]="studentToleranceCount?.valid || studentToleranceCount?.untouched">
                  <small *ngIf="studentToleranceCount?.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                    {{'shared.This Field is Required'|translate}}
                     <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                  </small>

               </div>
              </div>

          </div>
            </form>
        </div>

        </ng-template>


        <ng-template pTemplate="footer">

          <div class="d-flex align-items-center justify-content-end  ">

            <button class="btn btn-primary" (click)="saveDivision()" [disabled]="divisionFormGrp.invalid||isBtnLoading">
                <span>{{'shared.save'| translate}} </span>
                <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
            </button>
        </div>

        </ng-template>
      </p-dialog>
