    @import 'src/assets/css/utils/variables.scss';
    @import 'src/assets/css/components/breadcrumb';
    @import 'src/assets/css/components/forms.scss';
    @import 'src/assets/css/components/model';
    @import 'src/assets/css/utils/variables.scss';
    @import 'src/assets/css/components//forms.scss';
    @import 'src/assets/css/components/validation-form.scss';



    .contain{
        height:45rem;

        &.scroll{
        overflow-y:scroll;
        overflow-x: auto;


        }
     }
