#nav{
    border: 0.05em solid black;
    height: 80px;
}
#side{
    border: 0.05em solid black;
    height: 800px;
}
#homeicon{
    color: #8B8B8B;
}
#addAnnualfont{
    font-family: 'DIN Next LT Arabic';
font-style: normal;
font-size: 24px;
}
#Annuallistfont{
    font-size: 15px;
    font-family: 'DIN Next LT Arabic';
    font-style: normal;
    color:#8B8B8B;
}
#addeditAnnualHoliday{
    width: 100%;
    
background-color: #E2E2E2;;
}
#homesection{
    margin-right: 1.5%;
}
#addbtn{
   color:white;
    background-color:#2E50A3; 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 12px;
    width: 8%;
}

    #rightarrow{
       font-size:15px;
       color:#2E50A3;
    }
    #circlebtn{
        height: 39px;
      width: 39px;
     border:solid #2E50A3 0.05em ;
     border-radius: 50%;
      display: inline-block;
     background-color:  #E2E2E2;
    }

    #formstyle{
        background-color: white;
        max-width: 97%; 
        min-width: 97;
        margin-right: 1.5%;
        border-radius: 12px;
       
      
    }
    
    

    select{
        width: 13.7em;
        background-color: #EFEFEF;
        font-size:0.99em  ;
        font-family: 'DIN Next LT Arabic'; 
        color: #AFAFAF;
        background-position: right 90% center !important;
        border: none !important;
      
       
     }
     option{
        position: relative;
        left: 50%;
     }
    
      input{
        width: 12.4em;
        background-color: #EFEFEF;
        font-size:1.1em ;
        font-family: 'DIN Next LT Arabic';
        color: #AFAFAF;
        border: none !important;
    
    }
   
    
   hr{
    width:90%;
   

   }
   #addnewyearline{
   
    width:72%;
    margin-right: 0.5%;
   }
   #addnewyearbtn{
    color:#2E50A3;
    font-size: .8em;
    background-color:rgba(46, 80, 163, 0.16); 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 12px;
    width: 17.5%;
  
   }
   #plusicon{
    color:#2E50A3;
    font-size: 1em;
  
   }
   
   .calendericon{
  
    position: relative;
    left: 7%;
    font-size:1.1em ;
    font-family: 'DIN Next LT Arabic';
    color: #AFAFAF;
   
    
   }

   input::placeholder{
    
     color: #AFAFAF;
     
     
   }
   input:focus{
   
    background-color: #EFEFEF;
   
   }
  
 
   



 