<div class="class">
    <h3 class="heading heading--secondary color-primary mb-3">مدرسه الشارقه الابتدائيه</h3>
    <span class="sub-heading d-inline-block ms-2">تعديل الصف </span><span class="color-gray-300 ">(الصف الرابع)</span>

    <p-breadcrumb [model]="items" [home]="{icon: 'pi pi-home', routerLink: '/'}" 
    [style]="{'font-size':'1.4rem','color':'#9E9E9E','margin':'1.7rem 0'}"></p-breadcrumb>

    <div class="class__content my-5">
        <div class="actions d-flex align-items-center gap-3 mb-5">
            <div class="actions__back" role="button" routerLink="../../">
                <fa-icon [icon]="faArrowRight" class="icon color-primary"></fa-icon>
            </div>
            <button class="btn btn-primary btn--sm">
                <fa-icon class="icon" [icon]="faCheck"></fa-icon>
                <span>حفظ التغيرات</span>
            </button>
        </div>

        <div class="class__form rounded-4 p-4">
            <!-- Nav Tabs -->
            <div class="nav nav-tabs mb-5">
                <ul class="nav__list">
                    <li class="nav__item" [class.active]="step==1" (click)="step=1"><span>معلومات الصف</span></li>
                    <li class="nav__item" [class.active]="step==2" (click)="step=2"><span>المسارات</span></li>
                    <li class="nav__item" [class.active]="step==3" (click)="step=3"><span>جدول الحصص</span></li>
                </ul>
            </div>

            <!-- Class Form -->
            <form class="custom-form mt-2">
                <ng-container *ngIf="step==1">
                    <div class="row gx-5">
                        <div class="col-md-4">
                            <label class="label" for="name">مواد الصف <span>(للاطلاع فقط)</span></label>
                            <input type="text" id="name" pInputText />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="description">امكانيه كتابه وصف مع ادخال الدرجات</label>
                            <div class="">
                                <input-switch  for="optional" label="نعم"></input-switch>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- مســــارات -->
                <ng-container *ngIf="step==2">

                    <div class="mb-4">
                        <p-checkbox label="يتضمن مسارات" name="withTracks" [(ngModel)]="withTracks"  [binary]="true" [style]="{'font-size':'2rem'}"></p-checkbox>
                    </div>
                    <ng-container *ngIf="withTracks; then withTraks else withoutTraks"></ng-container>
                    <!-- in case there is traks -->
                    <ng-template #withTraks>
                        <div class="">

                            <p-accordion [style]="{'font-size':'1.4rem'}">

                                <ng-container *ngFor="let track of tracks let i =index">
                                    <!-- Accordion tab -->
                                    <p-accordionTab [selected]="i==0">
                                        <!-- Accordion Header -->
                                        <ng-template pTemplate="header">
                                            <div class="row w-100 align-items-center">
                                                <div class="col-6">
                                                    <span><strong>مسار : </strong> {{track.name}}</span>
                                                </div>
                                                <div class="col-3">
                                                    <span><strong>عدد المواد : </strong> {{track.subjects.length}}</span>
                                                </div>
                                                <div class="col-3">
                                                    <button class="btn btn-secondary btn--sm ">
                                                        <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                                                        <span>اضافه مسار</span>
                                                    </button>
                                                </div>
                                               </div>
                                        </ng-template>
                                        
                                        <!-- Accordion Body -->
                                        <ng-container >
                                            <ng-template pTemplate="body">
                                                <div class="row">
                                                    <ul class="subjects">
                                                        <li class="subject border rounded-4 mb-4 p-5" *ngFor="let subject of track.subjects; let i =index">
                                                            <div class="row mb-0 align-items-center">
                                                                <div class="col">
                                                                    <div class="col-md-4 myInput myInput--form">
                                                                        <p-dropdown [options]="track.subjects" inputId="description" optionLabel="name"></p-dropdown>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="d-flex align-items-center gap-5 ">
                                                                        <div class="bg-blue-100 align-items-center color-primary rounded-3 py-1 px-4">
                                                                            <input-switch  class="optional" for="{{optional+i}}" label="اختياريه"></input-switch>
                                                                        </div>
                                                                        <div class="d-flex align-items-center rounded-3 gap-3 py-1 px-4 bg-skyBlue-300 color-skyBlue-500">
                                                                            <input-switch class="mandatory" for="{{mandatory+i}}" label="تدخل بالمجموع النهائي "></input-switch>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </p-accordionTab>
                                </ng-container>

                            </p-accordion>
                        </div>
                    </ng-template>

                    <!-- in case there is no traks -->
                    <ng-template #withoutTraks>
                        <div class="row">
                            <ul class="subjects">
                                <li class="subject border rounded-4 mb-4 p-5" *ngFor="let li of [1,2,3]">
                                    <div class="row mb-0 align-items-center">
                                        <div class="col">
                                            <div class="col-md-4 myInput myInput--form">
                                                <p-dropdown [options]="['yes', 'now']" inputId="description" optionLabel="name"></p-dropdown>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center gap-5 ">
                                                <div class="bg-blue-100 align-items-center color-primary rounded-3 py-1 px-4">
                                                    <input-switch  class="optional" for="optional" label="اختياريه"></input-switch>
                                                </div>
                                                <div class="d-flex align-items-center rounded-3 gap-3 py-1 px-4 bg-skyBlue-300 color-skyBlue-500">
                                                    <input-switch class="mandatory" for="mandatory" label="تدخل بالمجموع النهائي "></input-switch>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                            <div class="mb-4">
                                <button class="btn btn-secondary btn--sm ">
                                    <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                                    <span>اضافه ماده</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>


                <ng-container *ngIf="step==3">

                </ng-container>
                <!-- <div class="">
                    <div class="row gx-5">
                        <div class="col-md-4 myInput myInput--form">
                            <label for="day">اليوم </label>
                            <input type="text" id="day" pInputText placeholder="اختر اليوم" />
                        </div>
                        <div class="col-md-4 myInput myInput--form">
                            <label for="classCount">عدد الحصص</label>
                            <p-inputNumber 
                            [style]="{'font-size': '1.6rem'}"
                            [showButtons]="true" 
                            [min]="0" 
                            [max]="100" 
                            inputId="classCount"></p-inputNumber>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-md-4 myInput myInput--form">
                            <label for="classNum">رقم الحصه </label>
                            <input type="text" id="classNum" pInputText  placeholder="اكتب رقم الحصه"/>
                        </div>
                        <div class="col-md-4 myInput myInput--form">
                            <label for="classTime">وقت الحصه</label>
                            <p-calendar 
                            [style]="{'font-size': '1.6rem'}"
                            timeOnly="true" 
                            icon="pi pi-clock" 
                            [showIcon]="true" 
                            selectionMode="range" 
                            placeholder="15:30 PM - 17:00PM"
                            (onSelect)="selectedDate($event)"></p-calendar>
                        </div>
                    </div>
                    <div class="action d-flex align-items-center gap-4 mb-4">
                        <button class="btn btn-secondary btn--sm ">
                            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                            <span>اضافه يوم</span>
                        </button>
                        <hr class="flex-grow-1">
                    </div>
                </div> -->

            </form>
        </div>
    </div>
</div>