<div class="tabView">
    <!-- Navigations Options -->
    <ul class="tabView__nav">
        <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1"><span>{{ 'dashboard.parents.personalInfo'|translate }}</span></li>
        <li class="tabView__nav__link" [class.active]="step==2" (click)="step=2;"><span>{{ 'dashboard.parents.sonAttachments'|translate }}</span></li>
        <li class="tabView__nav__link" [class.active]="step==3" (click)="step=3"><span> {{ 'dashboard.parents.requests'|translate }}(2)</span></li>

    </ul>

    <div class="tabView__content">
        <!-- In case student Not Registered -->

            <div class="float-btn">
                <img src="assets/images/shared/pen-blue-filled.svg" alt="">
            </div>
            <ng-container *ngIf="step==1">
                <div class="child__info__section info">
                    <div class="row gap-6">
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.childName'|translate }}</p>
                            <h4 class="color-primary mb-2">محمد على</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.nickname'|translate }}</p>
                            <h4 class="color-primary mb-2">طارق</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.gender'|translate }}</p>
                            <h4 class="color-primary mb-2">ذكر</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{'shared.birthDay'|translate }}</p>
                            <h4 class="color-primary mb-2">2002/07/04</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.personalId'|translate }}</p>
                            <h4 class="color-primary mb-2">254535</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.nationality'|translate }}</p>
                            <h4 class="color-primary mb-2">مصرى</h4>
                        </div>
                    </div>

                    <!-- <div class="d-flex justify-content-end mt-auto">
                        <button class="btn btn-outline-primary btn--md">
                            <div class="icon">
                                <img src="assets/images/shared/pen.svg" alt="">
                            </div>
                            <span>{{ 'shared.edit' |translate}}</span>
                        </button>
                    </div> -->
                </div>
            </ng-container>
 
</div>