
@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/profile';
@import '../../../../../../../assets/css/components/forms.scss';
// ::ng-deep app-add-btn .btn.btn-primary.leftbtn {
//     font-size: 18px;
//     line-height: 23px;
//     bottom: 0.5rem
// }


.tabView__content{
    min-height: 100vh;
}

.bg-skyBlue-600 {
    background-color: $color-orange !important;
}

.add-attach{
    background-color: $color-skyBlue-600 !important;
}


.profile__avatar{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;

    .pi-camera{
        display: none !important;
        color: #fff!important;
        position: absolute;
        z-index: 3;
        transition: all .2s ease-in-out;
    }

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // backdrop-filter: blur(3px);
        background-color: rgba($color: #000000, $alpha: .3);
        display: none;
        z-index: 1;
        transition: all .2s ease-in-out;
    }

    &:hover{
    
        .pi-camera{display: block !important;}
        &::after{display: block;}
    }
}
.profile__avatar:hover::after{display: block;}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background-color: rgba($color: #000000, $alpha: .2);
    display: flex;
    align-items: center;
    justify-content: center;
}