

<!-- {{('2012-10-12T14:41:44.793')| LocalizeDate}} -->
<div class="prim-table" *ngIf="periods.totalAllData || periods.loading">
    <p-table #dt [value]="periods.list" [lazy]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">

            <app-table-caption 
            [hasFilter]="false"
            (onFilter)="getPeriods()" 
            (onExport)="onExport($event)"
            (onSearch)="filtration.KeyWord = $event; getPeriods()" 
            (onClear)="clearFilter()">></app-table-caption>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pSortableColumn="name">#</th> -->
                <th pSortableColumn="name"> {{'dashboard.SystemSetting.Type'|translate}} <p-sortIcon field="city"></p-sortIcon></th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.SchoolNumber'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.ClassNumber'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.TimeFrom'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.TimeTo'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.CreatedBy'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th pSortableColumn="id" >{{'dashboard.SystemSetting.CreatedDate'|translate}} <p-sortIcon field="city"></p-sortIcon> </th>
                <th class="actions" pSortableColumn="edit"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-gracePeriod>
            <tr>
                <!-- <td>{{gracePeriod.code}}</td> -->
                <td>{{gracePeriod.gracePeriodType.name| currentLang}}</td>
                <td>{{gracePeriod.allowedSchools.length}}</td>
                <td>{{gracePeriod.allowedGradesCount}}</td>
                <td>{{gracePeriod.dateFrom | LocalizeDate}}</td>
                <td>{{gracePeriod.dateTo | LocalizeDate}}</td>
                <td>{{gracePeriod.createdBy}}</td>
                <td>{{gracePeriod.createdDate |LocalizeDate}}</td>
                <td class="actions">
                    <div role="button" class=" d-flex gap-3 color-skyBlue-500 align-items-center" (click)="editGracePeriod(gracePeriod)">
                        {{'shared.edit'|translate}}   <img  [class.rotate180]="lang=='en'" src="assets/images/shared/arrow.svg" alt="">
                    </div>
               </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="periods.totalAllData && periods.list.length == 0 &&  !periods.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>

    </p-table>


    <div *ngIf="periods.total > paginationState.rows">
        <app-pagination [totalItems]="periods.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>

</div>

<ng-container *ngIf="!periods.totalAllData && !periods.loading">
    <app-informative-block title="{{'emptyList.gracePeriod' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>