// @import '../../../assets/css/layout/header.scss';
@import '../../../assets/css/utils/variables.scss';
@import 'src/assets/css/components/_dropdown';
@import '../../../assets/css/components/forms.scss';

.language-switch-btn {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #000000;
    background-color: transparent;
    border: none;
    z-index: 200;
}


.nav{
    
 padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items:center;
    background-color: #fff;
    // border-bottom: 1px solid $color-gray-200;
    box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.02);
    z-index: 9000;
    transition: all .3s ease-in-out;
    min-height: 6rem;
    &.message{min-height: 0rem !important;}
    &.on-scroll{
        min-height: 5rem;
        padding: 1rem 2rem;
    }

    &__logo{
        cursor: pointer;
        &--main{

        }
        &--daleel{
           
        }
    }

    .divider{
        height: 4rem;
        border-right: 1px solid $color-gray-200;
        margin: 0 1.5rem;
    }

    &__menu {
        display: flex;
        gap: 3.5rem;
        margin: 0 auto;

        

        &__item{

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: .5rem;
                transition: all .3s ease-out;
                font-weight: 300;
                font-size: 1.4rem;
                cursor: pointer;

                .icon{
                    // filter: grayscale(1);
                    // opacity: .5;
                    // transition: all .2s ease-out;
                    // margin: 0;
                    fa-icon{font-size: 1.3rem;}
                    color: #000;
                    
                }
                .text{
                    color: #000; 
                    transition: all .2s ease-out;
                }

                &.active{
                    .text{
                        // color: $color-primary; 
                        text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
                    }
                }

                &:hover{
                    .icon{
                        // color: $color-primary;
                    }
                    .text{
                        // color: $color-primary; 
                        text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
                    }
                }
            }


        }
    }



    &__calender{
        display: flex;
        align-items: center;
        margin-inline-start: 1.5rem;
        position: relative;

        .icon{
            position: absolute;
            display: flex;
            color: $color-primary;
            z-index: 10;
            cursor: pointer;
            
            &.calendar{
                inset-inline-end: 1rem;

            }
            &.arrow{
                inset-inline-start: 1rem;
            }
        }

        ::ng-deep p-calendar{
            .p-calendar{
                width: 18rem;
                border-radius: 12px;
                background-color: #fff;

                .p-datepicker{
                    top: 50px !important;
                    border: 2px solid $color-primary !important;
                    border-radius: 15px !important;

                    .p-datepicker-header{font-size: 1.4rem;}
                    .p-yearpicker {
                        font-size: 1.4rem;
                        color: #858585;

                        &-year.p-highlight{
                            background: $color-skyBlue-600;
                            color: $color-primary;
                            font-weight: 500;
                        }
                    }
                    
                }

                .p-placeholder{
                    color: $color-gray-250;
                }
    
                &.p-calendar-w-btn{
                    border: 2px solid $color-primary;
                    &:not(.p-calendar-disabled).p-focus{border-width: 1px;}
                }

                .pi{
                    display: none;
                }
    
                input{
                    border: none;
                    border-radius: 12px;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $color-primary;

                    &.p-inputtext{
                        padding: .5rem;
                        padding: .5rem 3.5rem .5rem 1rem;
                    }
    
                    &::placeholder{color: $color-gray-250;}
                    &:enabled:focus{box-shadow: none;}
                }
            }
        }
    }


    &__notifications{
        display: flex;
        column-gap: 1.8rem;
        align-items: center;

    }

    &__user{
        display: flex;
        align-items: center;
        column-gap: .5rem;
        margin-inline-start: 1.7rem;
        cursor: pointer;


        .icon{margin-inline-end: .2rem;}
        .dropdown{

            .dropdown-menu {
                width: 19rem;

                &.show{transform: translate3d(0, 4.5rem, 0px) !important;}
                .dropdown-item {
                    padding: 1rem .5rem;
                    .link p{
                        font-size: 1.7rem;
                    }
                }
                
            }
            img{ width: 1.7rem;}
        }

        .name{font-weight: 500;}
        .image{
            margin-inline-start: .5rem;
            overflow: hidden;
            border-radius: 50%;
            img{
                width: 3rem;
                height: 3rem;
            }
        }
    }



    .menu{
        position: absolute;
        top: 101%;
        left: 50%;
        transform: translate(-50%, 7%);
        width: 65%;
        display: flex;
        background-color: #F8F8F8;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
        overflow: hidden;
        // transform: translateY(3rem);

        &.show{
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 0);
        }

        .links{
            padding: 3rem;

            h2{margin-bottom: 2rem;}

            ul{

                li{
                    padding: 1.25rem 1rem;
                    color: $color-primary;
                    transition: all .2s ease-in-out;
                    border-radius: 12px;
                    cursor: pointer;

                    &:hover{
                        background-color: $color-gray-100;
                        color: $color-skyBlue;
                        padding-inline-start: 2rem;
                    }
                }
            }

        }

        .more-common{
            width: 50%;
            border-radius: 0 18px 18px 0;
            background-color: $color-gray-100;
            display: flex;
            flex-direction: column;
            padding: 6rem 5rem;

            h2{margin-bottom: 3.5rem;}

            ul{
                li{
                    display: flex;
                    column-gap: 2rem;

                    &:not(:last-child){
                        margin-bottom: 2.5rem;
                    }

                    .icon{
                        padding: 1.75rem;
                        background-color: #fff;
                        border-radius: 18px;
                        img{
                            width: 3rem;
                            height: 3rem;
                        }
                    }

                    .content{
                        .title{
                            display: flex;
                            align-items: baseline;
                            column-gap: .75rem;
                            margin-bottom: .5rem;
                            
                            h4{font-size: 1.8rem;}

                            fa-icon{
                                font-size: 1.5rem;
                            }

                        }

                        p{
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: $color-gray-800;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }

}



.nav__notifications{
    .header-notification{
        .right{
            color: #3052A1;
            cursor: pointer;
        }
        .left{
             ::ng-deep select{
                // background-position: right 8rem center !important;  
                border: none!important;
                font-size: 1.3rem!important;
                width: 10rem;
                &:focus{
                    outline: none!important;
                }
            }
        }
    }
    .dropdown-menu{
        box-shadow: rgb(0 0 0 / 23%) -1px 2px 10px -1px;
    .dropdown-item{
        &:active span,h2{
            color: #000000;
        }
        &:hover{
            background-color: #fff;
        }
    }
}
    .link{
        &:hover .Description {
            p{
                 color: #C6C6C6!important;
            }
           
        }
    }
    .rightNotification{
        // text-align: right!important;
        // background-color: #F8F8F8;
    }
    
    #notification-content{
        .container-fluid{
            width: 40rem;
            .Description{
                // margin-right: 4rem !important;
                // border-right: 2px solid #c5c5c5;
                // padding-right: 2rem;
                .paragraph{
                    white-space: pre-wrap;
            
                }
            }
            .name-description{
                cursor: pointer;
                font-size: 1.4rem;
                margin-top: 2rem;
                .tittle{
                    font-weight: 700;
                    margin: 1rem;
                }
                .headerName{
                    font-weight: 700;
                    margin: 1rem;
                }
                .receviedTime{
                     color:$color-gray-250;
                     margin: 6rem;
                }
                .NotReadable{
                    margin-top: -3rem;

                }
            }
        }
        
        .cardimage{
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
       }
    }
    button{
        color: #5CD0DF;
        font-size: 1.4rem;
        position: relative;
         left: 34%;
         top: -2rem;

        img{
            transform: rotate(270deg);
            margin: 1rem;
        }
    }
}
