<nav class="nav" [class.border-0]="isInDashboard">
    <ng-container *ngIf="!isInDashboard">
        <div class="nav__logo nav__logo--main">
            <img src="assets/images/navBar/sharjah.svg" alt="">
        </div>
        <div class="divider"></div>
    </ng-container>
    <div class="nav__logo nav__logo--daleel">
        <img src="assets/images/navBar/daleel.svg" alt="">
    </div>

    <div class="mx-auto" *ngIf="!isInDashboard">
        <ul class="nav__menu">
            <li class="nav__menu__item">
                <a>
                    <div class="icon">
                        <img src="assets/images/navBar/home.svg" alt="">
                    </div>
                    <div class="text">الصفحه الرئيسيه</div>
                </a>

            </li>
            <li class="nav__menu__item">
                <a>
                    <div class="icon">
                        <img src="assets/images/navBar/notification.svg" alt="">
                    </div>
                    <div class="text">الإشعارات</div>
                </a>
            </li>
            <li class="nav__menu__item">
                <a>
                    <div class="icon">
                        <img src="assets/images/navBar/inbox.svg" alt="">
                    </div>
                    <div class="text">صندوق الوارد</div>
                </a>
            </li>
            <li class="nav__menu__item">
                <a>
                    <div class="icon">
                        <img src="assets/images/navBar/report.svg" alt="">
                    </div>
                    <div class="text">استبيانات</div>
                </a>
            </li>
            <li class="nav__menu__item">
                <a>
                    <div class="icon">
                        <img src="assets/images/navBar/info.svg" alt="">
                    </div>
                    <div class="text">عن دليل</div>
                </a>
            </li>

        </ul>
    </div>
    <div class="nav__notifications">
        <div class="">
            <img src="assets/images/navBar/inbox-solid.svg" alt="">
        </div>
        <div class="">
            <img src="assets/images/navBar/notification-solid.svg" alt="">
        </div>
    </div>
    <div class="nav__user">
        <div class="dropdown">
            <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                <fa-icon class="icon" [icon]="faAngleDown"></fa-icon>
                <!-- <fa-icon class="fs-4" [icon]="faEllipsisVertical" ></fa-icon> -->
            </div>
            <ul class="dropdown-menu dropdown-menu-end shadow-lg " aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item">
                    <a class="link" routerLink="track/1">
                      <img src="assets/images/shared/user.svg" alt="">
                      <p>{{'shared.account' |translate}}</p>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a class="link" routerLink="track/1">
                      <img src="assets/images/shared/logout.svg" alt="">
                      <p class="red">{{'shared.signOut' |translate}}</p>
                    </a>
                </li>
            </ul>
        </div>
        <span class="name">علي مصطفى</span>
        <div class="image">
            <img src="assets/images/navBar/user-img.png" alt="">
        </div>
    </div>
</nav>



<!-- <mat-toolbar>
    <mat-toolbar-row class="justify-content-between">

        <div class="content">
            <button class="d-lg-none d-md-none" mat-icon-button (click)="toggleSidebar()">
                <mat-icon>menu</mat-icon>
            </button>
            <img src="assets/images/dalel.png" alt="">
        </div>
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li class="d-flex">
                    <mat-icon class="icon">notification_important</mat-icon>
                    <mat-icon class="icon">message</mat-icon>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        User Name
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                        <mat-icon>face_unlock</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                    <button class="language-switch-btn" (click)="onSwitchLanguage()">{{'switchLanguage' |
                        translate}}</button>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->