@import '../../../assets/css/layout/header.scss';

.language-switch-btn {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #000000;
    background-color: transparent;
    border: none;
    z-index: 200;
}