
<div class=" d-flex align-items-center justify-content-end ">
    <div class="Btn-group d-flex align-items-center justify-content-end gap-3">
        <button class="btn  btn-primary addBtn" (click)="addNewChild()" [disabled]="registerWithoutIdentityForm.invalid || !birthDateAttach.url.length|| !noIdentityCauseAttach.url.length|| isBtnLoading "  >
            {{'shared.save'|translate}}
            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
        </button>
        <button  ><a routerLink="/" class="cancelbtn">{{'shared.Cancel'|translate}}</a></button>
    </div>
</div>


<div class="content bg-white radius-15">
    <div class="custom-form custom-validation-form m-0 p-0">
        <form [formGroup]="registerWithoutIdentityForm" (ngSubmit)="addNewChild()" class="container-fluid ">

            <div class="row gx-5  mb-6">
                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.The reason for the lack of identification' | translate}} <span class="star">*</span></label>
                    <p-dropdown [options]="NoIdentityReason|async"
                    [ngClass]="{'ng-invalid ng-dirty':reasonForNotHavingEmiratesId.errors?.['required'] && reasonForNotHavingEmiratesId.touched}" formControlName="reasonForNotHavingEmiratesId"  optionLabel="{{lang == 'ar'?'name.ar' : 'name.en'}}" optionValue="id"  placeholder="{{'dashboard.addChild.The reason for the lack of identification' | translate}}"></p-dropdown>
                    <div [hidden]="reasonForNotHavingEmiratesId.valid || reasonForNotHavingEmiratesId.untouched">
                        <small *ngIf="reasonForNotHavingEmiratesId.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                        </small>

                    </div>
                </div>
            </div>


        <!-----------------------------add row------------------------------->



            <hr class="mb-5">

            <div class="row gx-5 form-set   mb-5">

              <ng-container formGroupName="name">
                <div class="col-md-4">
                    <label class="label" for="day"> {{'sign up.Name (in Arabic)' | translate}} <span class="star">*</span></label>
                    <input type="text"  id="day" formControlName="ar"  class="form-control" pInputText placeholder="{{'dashboard.addChild.name' | translate}}" />
                    <div [hidden]="arabicName.valid || arabicName.untouched">
                        <small *ngIf="arabicName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                        </small>
                        <small *ngIf="arabicName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="day"> {{'sign up.Name (in English)' | translate}} <span class="star">*</span></label>
                    <input type="text" id="day" formControlName="en" class="form-control" pInputText placeholder="{{'dashboard.addChild.name' | translate}}" />
                    <div [hidden]="englishName.valid || englishName.untouched">
                        <small *ngIf="englishName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                        </small>
                        <small *ngIf="englishName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                        </small>
                    </div>
                </div>
              </ng-container>


                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.Nationality' | translate}} <span class="star">*</span> </label>
                    <p-dropdown  [options]=" Nationalities$|async"
                    [filter]="true"
                    filterBy="{{lang=='ar'? 'name.ar' : 'name.en'}}"
                    [ngClass]="{'ng-invalid ng-dirty':nationlityId.errors?.['required'] && nationlityId.touched}" formControlName="nationlityId" optionLabel="{{lang == 'ar'?'name.ar' : 'name.en'}}" optionValue="id" placeholder="{{'dashboard.addChild.Nationality' | translate}}"></p-dropdown>
                    <div [hidden]="nationlityId.valid || nationlityId.untouched">
                        <small *ngIf="nationlityId.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                        </small>

                    </div>
                </div>
            </div>

            <div class="row gx-5 form-set  mb-5">

              <ng-container formGroupName="surName">
                <div class="col-md-4">
                    <label class="label" for="day"> {{'sign up.NickName (in Arabic)' | translate}} <span class="star">*</span></label>
                    <input type="text" id="day"  class="form-control" formControlName="ar" pInputText placeholder="{{'dashboard.addChild.nickname' | translate}}" />
                    <div [hidden]="arabicNickName.valid || arabicNickName.untouched">
                        <small *ngIf="arabicNickName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                        </small>
                        <small *ngIf="arabicNickName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                        </small>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="day"> {{'sign up.NickName (in English)' | translate}} <span class="star">*</span></label>
                    <input type="text" id="day"   class="form-control" formControlName="en" pInputText placeholder="{{'dashboard.addChild.nickname' | translate}}" />
                    <div [hidden]="englishNickName.valid || englishNickName.untouched">
                        <small *ngIf="englishNickName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                        </small>
                        <small *ngIf="englishNickName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                        </small>
                    </div>
                </div>
              </ng-container>


                <div class="col-md-4">
                    <label class="label" for="day"> {{'dashboard.addChild.gender' | translate}} <span class="star">*</span> </label>
                    <p-dropdown  [options]="genderList" [ngClass]="{'ng-invalid ng-dirty':gender.errors?.['required'] && gender.touched}" formControlName="gender"  optionLabel="name" optionValue="value" placeholder="{{'dashboard.addChild.gender' | translate}}"></p-dropdown>
                    <div [hidden]="gender.valid || gender.untouched">
                        <small *ngIf="gender.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                        </small>

                    </div>
                </div>
            </div>


            <div class="row gx-5 form-set mb-5">

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Date of Birth' | translate}} <span class="star">*</span></label>
                    <p-calendar formControlName="birthDate" [ngClass]="{'ng-invalid ng-dirty':birthDate.errors?.['required'] && birthDate.touched}" [showIcon]="true" inputId="icon"  placeholder="{{'dd/mm/yy'|translate}}"  dataType="string"  [readonlyInput]="true" [maxDate]="maxDate"   dateFormat="yy-mm-dd" ></p-calendar>
                    <div [hidden]="birthDate.valid || birthDate.untouched">
                    <small *ngIf="birthDate.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                    </small>

                </div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Relevance Type' | translate}} <span class="star">*</span></label>
                    <p-dropdown [options]="relatives$|async"
                    [ngClass]="{'ng-invalid ng-dirty':relativeRelationId.errors?.['required'] && relativeRelationId.touched}"
                    formControlName="relativeRelationId" optionLabel="{{lang == 'ar'?'arabicName' : 'englishName'}}" optionValue="id" placeholder="{{'dashboard.addChild.Relevance Type' | translate}}"></p-dropdown>
                    <div [hidden]="relativeRelationId.valid || relativeRelationId.untouched">
                        <small *ngIf="relativeRelationId.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                        </small>

                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="day">{{'dashboard.addChild.Religion' | translate}} <span class="star">*</span></label>
                    <p-dropdown  [options]="religions$ |async"
                    [ngClass]="{'ng-invalid ng-dirty':religionId.errors?.['required'] && religionId.touched}"
                    formControlName="religionId" optionLabel="{{lang == 'ar'?'name.ar' : 'name.en'}}" optionValue="id" placeholder="{{'dashboard.addChild.Religion' | translate}}"></p-dropdown>
                    <div [hidden]="religionId.valid || religionId.untouched">
                        <small *ngIf="religionId.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                        </small>

                    </div>
                </div>
            </div>


            <hr class="my-5">

            <h3 class="mb-5 fw-bold">{{'dashboard.addChild.required attachments' | translate}}</h3>

            <div class="row gx-5 form-set  subjects ">
                <div class="col-md-6">
                    <P>{{'dashboard.addChild.personalPicture' | translate}}</P>
                    <app-file-upload view="full" (onFileUpload)="setAttachment(personalPhoto,$event)"></app-file-upload>
                </div>
                <div class="col-md-6">
                    <P>{{'dashboard.addChild.PassportPicture' | translate}}</P>
                    <app-file-upload view="full" (onFileUpload)="setAttachment(passportAttach,$event)"></app-file-upload>
                </div>
            </div>

            <div class="row gx-5 form-set  subjects ">
              <div class="col-md-6 ">
                  <P>{{'sign up.pleaze upload image to approve that you don’t have digital identity' |translate}} <span class="star">*</span></P>
                  <app-file-upload  view="full" (onFileUpload)="setAttachment(noIdentityCauseAttach,$event)"> </app-file-upload>

              </div>

              <div class="col-md-6">
                <P class="pb-6">{{'shared.note' | translate}}</P>
                <textarea [cols]="30" class="w-100 rounded textareaBorder" [rows]="9" placeholder="{{'shared.note' | translate}}" [(ngModel)]="noIdentityCauseAttach.comment" [ngModelOptions]="{standalone:true}" pInputTextarea [autoResize]="true"></textarea>
              </div>

            </div>
            <div class="row gx-5 form-set  subjects ">
                <div class="col-md-6">
                    <P>{{'dashboard.addChild.birthCertificate' | translate}} <span class="star">*</span></P>
                    <app-file-upload view="full" (onFileUpload)="setAttachment(birthDateAttach,$event)"></app-file-upload>
                </div>
                <div class="col-md-6">
                    <P class="pb-6">{{'shared.note' | translate}}</P>
                    <textarea class="textareaBorder" [rows]="9" placeholder="{{'shared.note' | translate}}" [(ngModel)]="birthDateAttach.comment" [ngModelOptions]="{standalone:true}" [cols]="45" pInputTextarea [autoResize]="true"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>
