@import '../../../../../../assets/css/utils/variables.scss';
@import'../../../../../../assets/css/components/input';
@import '../../../../../../assets/css/components/forms.scss';
@import '../../../../../../assets/css/components/validation-form.scss';
.subjects{
    textarea{
        height:17.75rem !important;
    overflow: hidden;
    border-radius: 2rem !important;
}
}


.content {
    width: 100%;
    padding: 3rem;
}


hr {
    width: 90%;
}
.Btn-group{
    position: absolute;
    bottom:100% ;
    padding-bottom: 3%;

}

::ng-deep p-calendar{
    box-shadow: none !important;
}
.star {
    color: red;
    font-size: 1.5rem;
 }
