@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms.scss';
@import 'src/assets/css/components/validation-form.scss';
@import 'src/assets/css/components/message.scss';

.All-content{
          
            .sidebar{
                
                background-image: url("/assets/images/Login/loginSidebar.svg");
                position: fixed;
               
                display: flexbox;
                background-size: cover;
                margin-top: 0.3rem;
                border-radius: 12px;
                width:48rem;
                height: 67.7rem;
        
            
            }
            .header-images{
                display: flexbox;
               margin-bottom:3rem;
               margin-right: 50.5rem;
               margin-top: 0.5rem;
            }
            .form-header{
                margin-right: 0.7rem;
            }
         .end-side{
          
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 12%;
            .inner {
                width: 100%;
        
                &>* {
                    width: 100%;
                }
            }
            .content{
             
                margin-right: 50rem;
                max-width:50.5rem ;
                .handimg{margin-right: 0.5rem;width: 4%;}
                .custom-validation-form{
                    box-shadow:  none;
                    border: none;
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    .label{
                        font-weight: 400;
                    }
                }
                .forget-password{
                    a{
                        font-size: 16px;
                        text-decoration-line: underline;
                    }
                }
                .btn{
                    width:48.5rem ;
                    
                }

                .hint {
                    text-align: center;
                    max-width:530px;
                    font-weight: 400;
                    font-size: 14px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    padding-right: 1.8rem;
                    color: #A5A5A5;
                }
                .signup{
                    text-align: center;
                  
                    margin-top: 2rem;
                        a{
                            font-size: 16px;
                            text-decoration-line: underline;
                        }
                     
                   }
                
            }
        }

}


::ng-deep{
    .p-dialog{
        .custom-validation-form{padding-top: 0rem;padding-bottom: 1rem;}
       border: none;
       &.OTP{
        .p-dialog-title{
            margin-top: 4rem;
            margin-right: 15rem;
        }
      }
         .p-dialog-header {
            font-family: 'Droid';
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            padding:1.2rem  !important;
            font-weight: 700;
            font-size: 2rem;

            } 
            .p-dialog-content{
                flex-grow: 0;
                padding-top: 0rem;
                line-height: 24px;
                font-family: "Droid";
                font-weight: 400;
                font-size: 1.6rem;
                .custom-validation-form{padding-bottom: 5.5rem;}
                .OTP{  
                    margin-right: 14rem;font-size: 1.2rem;display: grid;
                    .phonenumber{margin-right: 6.5rem}
                }
                .OTP-form{
                    &.custom-validation-form{padding-bottom: 2rem;}
                    margin-right: 8rem;
                    input{
                        width: 6rem;margin-left: 2rem;text-align:center;
                        &::placeholder{font-size: 2.6rem;}
                    }
                }
                .again-OTP{
                    font-size: 1.2rem;
                    margin-right: 9.5rem;
                    a{
                        
                        text-decoration-line: underline;
                    }
                    .second{margin-right: 10rem;font-weight: 700;}
                }
              
            }
            .p-dialog-footer{
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
                .OTP{margin-right: 9rem;
                    button{width:13rem;margin-left: 1rem;margin-bottom: 6.2rem;}
                }

                
            }
  
 }

}












