@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import 'src/assets/css/components/breadcrumb';
@import 'src/assets/css/components/forms.scss';
@import 'src/assets/css/components/validation-form.scss';

.All-content{
            .sidebar-img{
                margin-top: 0.5rem;
                border-radius: 12px;
                width:48rem;
                height: 66.8rem;
            
            }
            .header-images{
              
       
             margin-bottom:3.5rem;
               margin-right: 0.6rem;
            }
            .form-header{
                margin-right: 0.7rem;
            }
         .end-side{
      
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 12%;
            .inner {
                width: 100%;
        
                &>* {
                    width: 100%;
                }
            }
            .content{
                width: 100%;
            
                
                .handimg{margin-right: 0.5rem;width: 4%;}
                .custom-validation-form{
                    box-shadow:  none;
                    border: none;
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    .label{
                        font-weight: 400;
                    }
                }
                .forget-password{
                    a{
                        font-size: 16px;
                        text-decoration-line: underline;
                    }
                }
                .btn{
                    width:48.5rem ;
                }

                .hint {
                    text-align: center;
                    width:434px;
                    font-weight: 400;
                    font-size: 14px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    padding-right: 1.8rem;
                    color: #A5A5A5;
                }
                .signup{
                    text-align: center;
                    margin-left: 17rem;
                    margin-top: 2rem;
                        a{
                            font-size: 16px;
                            text-decoration-line: underline;
                        }
                     
                   }
                
            }
        }

}





.language-switch-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #000000;
    background-color: transparent;
    border: none;
    z-index: 200;
}







