<div class="container-fluid auth-container">
    <button class="language-switch-btn" (click)="onSwitchLanguage()">{{'switchLanguage' | translate}}</button>
    <div class="row h-100">
        <div class="col-md-4 start-side">
            <!-- <img class="header-img" src="assets/images/overlayimg.png" alt=""> -->
        </div>
        <div class="col-md-8 end-side">
            <div class="inner">
                <div class="header-images">
                    <img class="first-img" src="assets/images/1.png" alt="">
                    <div class="separator">

                    </div>
                    <!-- <img src="assets/images/dalel.png" alt=""> -->
                </div>
                <div id="content" >
                <div class="form">
                    <div class="form-header">
                        <h1 class="mb-4"><b>{{'Login' | translate}}</b></h1>
                        <h5>{{'Please enter your email and password' | translate}}</h5>
                    </div>
                </div>

              <div class="custom-form mt-5 container">
                <form  [formGroup]="loginForm" (ngSubmit)="onNext()" >
                    <div class="mb-3 row ">
                    <div class="col-xs-2 col-lg-10">
                        <label for="email"><b>{{'shared.User Name'|translate}}</b></label>
                        <input type="text" pInputText formControlName="email"  class="form-control " placeholder="{{'shared.Write User Name'|translate}}"  name="email"  id="email"> 
                       
                        <div [hidden]=" email.valid || email.untouched" class="passerror">
                            <small *ngIf="email?.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                            <small *ngIf="email?.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'Please write a valid email'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                        </div>
                        
                    </div>
                  </div>
                  <div class="mb-3 row ">
                    <div class="col-xs-2 col-lg-10">
                        
                        <label for="PID6" class="form-label mt-3"><b >{{'Password'| translate}}</b></label><br>
                       
                        <div class="input-group   ">  
                           <input  type="{{typeInputpass}}" formControlName="password" name="PID6" id="PID6" class="form-control inputpass" placeholder="{{'Write Password'| translate}}" />  
                           <span class="input-group-append">  
                             <button type="button" class="btn passbtn " [ngClass]=" !password.valid && password.touched ? 'eyediv' : ''" (click)="typeInputpass= 'password'" *ngIf="typeInputpass== 'text'">  
                               <fa-icon class="eyeicon" [icon]="SlashEyeicon"></fa-icon>
                            </button>  
                             <button type="button" class="btn passbtn" [ngClass]=" !password.valid && password.touched ? 'eyediv' : ''" (click)="typeInputpass= 'text'" *ngIf="typeInputpass== 'password'">  
                                <fa-icon class="eyeicon" [icon]="Eyeicon" ></fa-icon>
                             </button>  
                         </span>  
                       </div>  
                        <div [hidden]="password.valid || password.untouched" class="passerror">
                            <small *ngIf="password.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                            <small *ngIf="password.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                        </div>
                    </div>
                  </div>
                    <div class="forget-password mb-5">
                        <a href="#">{{'Forgot password?' | translate}}</a>

                    </div>

                  
                        
                        <button class="btn btn-primary mb-3" style="width:40.4rem ;" >
                            {{'Login'| translate}}
                         
                        </button>
                    
                         <button class="btn btn-outline-primary mb-5" style="width:40.4rem ;">
                             <img src="assets/images/Vector.png" alt="">
                             <p>{{'Sign in with digital identity' | translate}}</p>
                         </button>
                </form>
            </div>
               
                <p class="hint">
                    {{'A unified and certified digital identity that provides a unified digital identity solution for
                    all service providers' | translate}}
                </p>
            </div>

            </div>
        </div>
    </div>
</div>

<div toastContainer></div>