@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms.scss';
@import 'src/assets/css/components/validation-form.scss';
@import 'src/assets/css/components/message.scss';

.All-content{
          
            .sidebar{
                
                background-image: url("/assets/images/Login/loginSidebar.svg");
                position: fixed;
                display: flexbox;
                background-size: cover;
                margin-top: 0.3rem;
                border-radius: 12px;
                width:48rem;
                height: 99%;
        
            
            }
            .header-images{
                display: flexbox;
               margin-bottom:3rem;
               margin-inline-start: 50.5rem;
               margin-top: 0.5rem;
            }
            .form-header{
                margin-inline-start: 0.7rem;
            }
         .end-side{
          
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 12%;
            .inner {
                width: 100%;
        
                &>* {
                    width: 100%;
                }
            }
            .content{
             
               margin-inline-start: 50rem;
                max-width:50.5rem ;
                .handimg{margin-inline-start: 0.5rem;width: 4%;}
                .custom-validation-form{
                    box-shadow:  none;
                    border: none;
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    .label{
                        font-weight: 400;
                    }
                }
                .forget-password{
                    a{
                        font-size: 16px;
                        text-decoration-line: underline;
                    }
                }
                .btn{
                    width:48.5rem;
                    border-radius: 12px !important;
                }


                .signup{
                    text-align: center;
                  
                    margin-top: 2rem;
                        a{
                            font-size: 16px;
                            text-decoration-line: underline;
                        }
                     
                   }
                   .identity{
                    &.btn{
                        transition: all .2s ease-in-out;
                            border:1px solid black;
                            &:hover{
                                border:1px solid black !important;
                                box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .2);
                            }
                            &:active,:focus{
                                border:1px solid black !important;
                                border-color: #000 !important;
                                background-color: $color-gray-100;
                            }
                       }
                    }
                
            }
        }

}

.p-tooltip	{
    left: 6rem !important;
    top: 110% !important;

    .p-tooltip-text	{
        padding: 1.2rem;
        background-color: $color-gray-50 !important;
        color: $color-gray-700 !important;
        font-size: 1.28rem;
        text-align: center;
        width: 260%;
        border-radius: 12px;
        border: 1px solid $color-gray-400;

    }
}


.language{text-align: end;width: 100%;}









