<div class="schools">
    <div class="ui-g">
        <div class="row">
            <app-school-charts #chartsComp></app-school-charts>
        </div>

    </div>
    <div class="prim-table mt-4" *ngIf="schools.totalAllData || schools.loading">
        <p-table #dt [columns]="cols" [lazy]="true" [value]="schools.list" (onSort)="onSort($event)" [scrollable]="true">
            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <app-table-caption
                [seachKeyword]="filtration.KeyWord"
                (onExport)="onExport($event)"
                (onFilter)="this.filtration.Page=1;getSchools(); chartsComp.getChartData(filtration)"
                (onSearch)="this.filtration.Page=1;filtration.KeyWord = $event; getSchools();chartsComp.getChartData(filtration)"
                (onClear)="clearFilter();chartsComp.getChartData(filtration)">

                    <div class="row gx-5 form-set">
                        <div class="col">
                            <label class="label" for="status">{{'shared.status'|translate }} </label>
                            <p-dropdown [options]="schoolStatus" [(ngModel)]="filtration.Status" [showClear]="true"  optionValue="value" optionLabel="name" placeholder="{{'shared.status'|translate }}"></p-dropdown>
                        </div>
                        <div class="col">
                            <label class="label" for="city">{{'shared.city'|translate }} </label>
                            <p-multiSelect [options]="(cities$ |async)" display="chip" [(ngModel)]="filtration.CityId" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar': 'name.en'}}" placeholder="{{'shared.chooseCity'|translate }}"></p-multiSelect>
                        </div>
                        <div class="col">
                            <label class="label" for="region">{{'shared.state'|translate }}  </label>
                            <p-multiSelect [options]="(states$ |async)" display="chip" [(ngModel)]="filtration.StateId" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar': 'name.en'}}"  placeholder="{{'shared.chooseState'|translate }}"></p-multiSelect>
                        </div>
                        <div class="col">
                            <label class="label" for="curriculum">{{'shared.curriculum'|translate }}  </label>
                            <p-multiSelect [options]="(curriculums$ | async)" display="chip" [(ngModel)]="filtration.curriculumId" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" placeholder="{{'shared.chooseCurriculum'|translate }}"></p-multiSelect>

                        </div>
                    </div>
                    <!-- <div class="row gx-5 form-set">
                    </div> -->
                </app-table-caption>

            </ng-template>

            <ng-template pTemplate="header" let-columns="columns">
                <tr>
                    <!-- <th *ngFor="let col of cols">
                      {{col.header}}
                  </th> -->
                  <!-- <th pSortableColumn="actions"></th> -->
                    <th pSortableColumn="schoolname">{{'School'|translate}}
                        <p-sortIcon field="schoolname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cityname">{{'dashboard.schools.SchoolEmail'|translate}}
                        <p-sortIcon field="cityname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cityname">{{'dashboard.schools.schoolNumber'|translate}}
                        <p-sortIcon field="cityname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cityname">{{'dashboard.schools.schoolGrades'|translate}}
                        <p-sortIcon field="cityname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cityname">{{'shared.city'|translate}}
                        <p-sortIcon field="cityname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statename">{{'shared.state'|translate}}
                        <p-sortIcon field="statename"></p-sortIcon>
                    </th>
                    <th pSortableColumn="curriculumname">{{'dashboard.schools.SchoolCurriculum'|translate}}
                        <p-sortIcon field="curriculumname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="StudentNumber">{{'dashboard.schools.studentsNumber'|translate}}
                        <p-sortIcon field="StudentNumber"></p-sortIcon>
                    </th>
                    <th pSortableColumn="EstablishmentDate">{{'dashboard.schools.schoolStablishmentDate'|translate}}
                        <p-sortIcon field="EstablishmentDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="actions">{{'dashboard.schools.schoolStatus'|translate}}</th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="true" class="actions"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns" let-school>
                <!-- <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field] |currentLang}}
                    </td>
                </tr> -->
                    <tr >
                        <td>{{school.name|currentLang}}</td>
                        <td><span class="position-relative" pTooltip="{{school.email}}" [autoHide]="true" tooltipPosition="top">{{school.email}}</span></td>
                         <td>{{school.number}}</td>
                         <td >
                            <div class="color-skyBlue-700 " *ngIf="school?.grageNumber">
                                <a role="button"  (click)="showGrades(school.id)">
                                  <span class="color-skyBlue-700  text-decoration-underline fs-3">{{school?.grageNumber}}</span>
                                </a>
                            </div>
                            <span *ngIf="!school?.grageNumber" class="color-gray-300">{{'shared.notFound' |translate}}</span>
                        </td>
                        <td>{{(school.city |currentLang) || 'shared.notFound' |translate}}</td>
                        <td>{{ (school.state  | currentLang ) || 'shared.notFound' |translate}}</td>
                        <td>{{school.curriculum|currentLang}}</td>
                        <td>{{school.studentCount}}</td>
                        <td>{{school.establishmentDate | LocalizeDate}}</td>
                        <td>
                            <div class="alerting" [ngClass]="{'success':school.status == StatusEnum.Active, 'danger': school.status == StatusEnum.Inactive}">
                                {{ school.status == StatusEnum.Active ? ('shared.allStatus.SchoolActive'| translate) : ('shared.allStatus.SchoolInactive'| translate) }}
                            </div>
                        </td>
                        <td pFrozenColumn [frozen]="true" class="actions">
                            <div role="button" class=" d-flex gap-3 justify-content-end align-items-center mx-4" [routerLink]="['school/', school.id]">
                                <span class="color-skyBlue-400">{{'shared.details'|translate}}</span>
                                <img  [class.rotate180]="lang=='en'" src="assets/images/shared/left-arrow.svg" alt="">
                            </div>
                        </td>
                    </tr>
            </ng-template>

            <!-- <ng-template pTemplate="footer" let-columns="columns">
              <tr  class="p-rowgroup-footer">
                  <td [attr.colspan]="7" style="width: 100%">
                      <div *ngIf="schoolClasses.length > 0">
                          <app-pagination [totalItems]="schoolClasses.length" (paginationChanged)="paginationChanged($event)"></app-pagination>
                      </div>
                  </td>
              </tr>
          </ng-template> -->

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="20" class="search">
                        <ng-container *ngIf="schools.totalAllData && schools.list.length == 0 &&  !schools.loading">
                            <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                        </ng-container>

                        <app-loader></app-loader>
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <div *ngIf="schools.total > paginationState.rows">
            <app-pagination [currentPage]="filtration.Page" [totalItems]="schools.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
        </div>

    </div>

    <ng-container *ngIf="!schools.totalAllData && !schools.loading">
        <app-informative-block title="{{'emptyList.schools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>

</div>


<ng-template #totalSchoolCount>
    <div *ngIf="model.chartData" class="mt-4">
        <h2 class="chart-title">عدد المدارس الكلية</h2>
        <h2 class="number-chart">{{model.chartData.totalSchoolCount}}</h2>
    </div>
</ng-template>




<!-- gradesDialog -->

<p-dialog header="{{'dashboard.schools.SchoolGradesList'|translate}}" [draggable]="false" [resizable]="false" [modal]="true"  [(visible)]="displayGradesList" [style]="{width: '28vw'}">
    <div class="container">
        <div class="mb-5" >
                <div class="row" *ngIf="!showLoader">
                    <div *ngFor="let grade of gradesList;let i=index " class="col-lg-6">
                       {{i+1}}- {{grade.name|currentLang}}
                    </div>

                </div>

                <div class="row" *ngIf="showLoader">
                    <app-skeleton count="7"  height="2rem"></app-skeleton>

                </div>
        </div>

    </div>


   </p-dialog>
