<div class="caption" [style]="styles">
    <!-- Serach and Filter Button -->
    <div [ngClass]="template?'col-4':'col-8'" class="caption__filter caption__filter--actions position-relative" *ngIf="hasSearch">
        <div class="myInput myInput--full myInput--search p-input-icon-right ms-auto ">
            <i class="pi pi-search fs-3 "></i>
            <input class="input" type="text" [formControl]="searchInput" pInputText placeholder="{{'shared.Search...'|translate}}" />
          </div>
          <i (click)="searchInput.setValue('')" *ngIf="searchInput.value" class="pi pi-times fs-4 position-absolute"></i>
    </div>

    <div class="col-3" *ngTemplateOutlet="template"> </div>


    <!-- Import Export -->
    <div class="col-3 actions" [ngClass]="template?'me-0':'me-auto'" >
        <!-- <div class="filter" (clickOutside)="showFilterModel=false" *ngIf="hasFilter">

            <button class="btn btn--sm btn-secondary" (click)="showFilterModel=!showFilterModel"  >
                <p-badge [value]="filterAppliedCount$|async" *ngIf="filterAppliedCount$|async" ></p-badge>
                <img class="icon" src="assets/images/shared/filter.svg" alt="">
                <span>{{'shared.filter'|translate}}</span>
            </button>

            <div class="filter__model custom-form" [class.show]="showFilterModel" [ngClass]="small?'sm':''">
                <ng-content></ng-content>

                <div class="actions d-flex align-items-center justify-content-end mt-3 gap-5">
                    <span role="button" class="color-red-500 text-decoration-underline" [ngClass]="small?'sm':''" (click)="clearFilter()">امسح الكل</span>
                    <button class="btn btn-primary btn-sm" (click)="onFilterActivated()">بحث</button>
                </div>
            </div>
        </div> -->


        <div class="export" *ngIf="hasExport" (clickOutside)="showExportModel=false" [ngClass]="small?'sm':''">

            <button class="btn btn--sm btn-secondary" [disabled]="showExportLoader$|async" (click)="showExportModel=!showExportModel">
                <img class="icon" src="assets/images/shared/download.svg" alt="" *ngIf="!(showExportLoader$ |async)">
                <div class="spinner-border text-light" role="status" *ngIf="showExportLoader$ |async"></div>
                <span>{{'shared.downloadFiles'|translate}}</span>
            </button>

            <div class="export__model " [class.show]="showExportModel">
                <div role="button" (click)="exportPdf()">
                    <p>{{'shared.export file as'|translate}}.Pdf</p>
                </div>
                <hr>
                <div role="button" (click)="exportXslx()">
                    <p>{{'shared.export file as'|translate}}.xslx</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="custom-form">
    <ng-content></ng-content>

    <div *ngIf="hasFilter" class="actions mb-4 mx-4 d-flex align-items-center justify-content-end mt-3 gap-5">
            <span role="button" class="color-red-500 text-decoration-underline" [ngClass]="small?'sm':''" (click)="clearFilter()">{{'shared.deleteAll'|translate}}</span>
            <button class="btn btn-primary btn-sm" (click)="onFilterActivated()" [disabled]="loadingFilter">
                {{'Search'|translate}}
                <div class="spinner-border text-light" role="status" *ngIf="loadingFilter"></div>
            </button>
        </div>

    <!-- <div class="caption">
        <div class=" d-flex justify-content-between align-items-center">
            <div class="caption__filter caption__filter--actions" *ngIf="hasSearch">
                <div class="myInput myInput--full myInput--search p-input-icon-right ms-auto">
                    <i class="pi pi-search fs-3 "></i>
                    <input class="input" type="text" [formControl]="searchInput" pInputText placeholder="{{'shared.Search...'|translate}}" />
                </div>
            </div>

            <div *ngIf="hasFilter" class="actions mb-4 mx-4 d-flex align-items-center justify-content-end mt-3 gap-5">
                <span role="button" class="color-red-500 text-decoration-underline" [ngClass]="small?'sm':''" (click)="clearFilter()">امسح الكل</span>
                <button class="btn btn-primary btn-sm" (click)="onFilterActivated()">بحث</button>
            </div>
        </div>
    </div> -->

</div>
