@import '../../../../assets/css/utils/variables.scss';
@import '../../../../assets/css/components//forms.scss';

.caption{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.25rem;
    // margin-bottom: 1.5rem;
    border-radius: 15px;
    background-color: #F8FAFB;

    &__filter{
        // Search box and Buttons
        &--actions{
            display: flex;
            column-gap: 1rem;
            i{
                color: $color-primary;
            }
        }

        // Filter Box
        &--box{
            border: 1px solid $color-gray-100;
            padding: 1rem;
            border-radius: 12px;
            font-size: 1.7rem;
            
        }
    }

    // Import Export
    .actions{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        // border-radius: 100px;
        // padding: .25rem 2rem;
        // box-shadow: 0 0 2rem .5rem rgba(0,0,0,.08);
        // height: 41px;
        margin-inline-start: auto;

        // & > *{
        //     display: flex;
        //     align-items: center;
        // }

        // img{width: 1.75rem;}

        // ::ng-deep .p-divider.p-divider-vertical {
        //     padding: .75rem 0;
        // }


        .filter{
            position: relative;
            &__model{
                position: absolute;
                top: 140%;
                left: 0;
                background-color: #fff;
                width: 40vw;
                border-radius: 15px;
                padding: 3rem;
                box-shadow: 0 5px  2rem 1rem rgba(0,0,0,0.08);
                transition: all .3s ease-out;
                opacity: 0;
                visibility: hidden;

                &.show{
                    opacity: 1;
                    visibility: visible;
                    top: 117%;
                }

            }

            .actions{

            }
        }

        .files{
            position: relative;
            &__model{
                position: absolute;
                top: 140%;
                left: 0;
                background-color: #fff;
                width: 10vw;
                padding: 0.5rem 2rem 1rem 1rem;
                border-radius: 15px;
                // padding-right: 2rem;
                // padding-left: 0.5rem;
                // padding-top: 1rem;
                // padding-bottom: 1rem;
                box-shadow: 0 5px  2rem 1rem rgba(0,0,0,0.08);
                transition: all .3s ease-out;
                opacity: 0;
                visibility: hidden;

                &.show{
                    opacity: 1;
                    visibility: visible;
                    top: 117%;
                }

            }
            .files__model{
               .filesbox{
                          p{color: $color-primary ;font-weight: 400;font-size: 1.5rem;}
               }
            }
            
        }

    }

    // In Case filter Box displayed
    &.direction-col{
        flex-direction: column;
        align-items: stretch;

        .actions{
            align-self: flex-end;
        }

        .caption__filter--actions{
            align-self: flex-start;
        }
        
    }
}