
<!-- [formGroup]="gracePeriodForm"  -->
<div class="custom-form"  [formGroup]="gracePeriodForm">
    <div class="actions-btn d-flex align-items-center gap-4">
        <button *ngIf="onSubmitted || !gracePeriodId" (click)="createNewGracePeriod()" [disabled]="!gracePeriodForm.valid || !selectedSchools.length" class="btn btn-primary">
            {{'shared.save' | translate}}
         <div class="spinner-border text-light" role="status" *ngIf="onSubmitted"></div>
        </button>

        <button *ngIf="gracePeriodId"
        (click)="updateGracePeriod()"
        [disabled]="onSubmitted || !gracePeriodForm.valid || (!this.gracePeriodSchools.fromSchools.list?.length && !this.gracePeriodSchools.toSchools.list?.length && !this.gracePeriodSchools.schools?.list?.length)"
         class="btn btn-primary">
         {{'shared.saveChanges' | translate}}
         <div class="spinner-border text-light" role="status" *ngIf="onSubmitted"></div>
        </button>

        <span  *ngIf="!gracePeriodId" role="button" class="color-red-500 text-decoration-underline" (click)="reset()">{{'shared.cancel' |translate}}</span>
        <span *ngIf="gracePeriodId" role="button" class="color-red-500 text-decoration-underline" routerLink="../../">{{'shared.cancel' |translate}}</span>

    </div>

    <div class=" mb-4 border-dark radius-15  p-5 d-flex align-items-center" *ngIf="gracePeriodId">
        <div class="grid-container col-md-5">
            <span class="color-gray-300 fs-4" >{{'dashboard.SystemSetting.CreatedBy'|translate}}</span>
            <span class="color-primary"><a ></a>{{gracePeriodMainData?.createdBy |currentLang}}</span>
        </div>

        <div class="grid-container col-md-5">
            <span class="color-gray-300 fs-4" >{{'dashboard.SystemSetting.CreatedDate'|translate}}</span>
            <span class="color-primary">{{gracePeriodMainData?.createdDate | LocalizeDate}}</span>
        </div>
    </div>

    <div class=" mb-6 border-dark radius-15  p-5 ">
        <div class="row gx-5">
            <div class="col-md-5 form-set"  *ngIf="!gracePeriodId">
                <label  class="label required">{{'dashboard.SystemSetting.gracePeriodType'|translate}}</label>
                <p-dropdown
                [options]="gracePeriodTypes$|async" name="type"
                [(ngModel)]="selectedGracePeriod.currentValue"
                (ngModelChange)="onGracePeriodChange($event)"
                [ngModelOptions]="{standalone: true}" optionValue="code"
                optionLabel="{{lang=='ar'? 'name.ar': 'name.en'}}"
                placeholder="{{'dashboard.SystemSetting.gracePeriodType'|translate}}"></p-dropdown>

            </div>

            <div class="col-md-4" *ngIf="gracePeriodId">
                <div class="">
                    <label class="required color-gray-300 fs-4 mb-5" >{{'dashboard.SystemSetting.gracePeriodType'|translate}}</label>
                    <div class="color-primary">{{currentGracePeriodName |currentLang}}</div>
                </div>
            </div>

            <div class="col-md-4">
                    <label  class="label">{{'dashboard.SystemSetting.gracePeriodTimePeriod'|translate}}</label>
                    <p-calendar
                    [(ngModel)]="gracePeriodRange"
                    (ngModelChange)="onTimeRangeChanged($event)"
                    icon="pi pi-calendar"
                    dateFormat="DD dd-mm-yy"
                    rangeSeparator=" الى "
                    selectionMode="range"
                    [ngModelOptions]="{standalone: true}"
                    [showIcon]="true"
                     placeholder="{{'dashboard.Messages.date (from - to)'|translate}}"></p-calendar>
            </div>
        </div>
    </div>


    <!-- Transfer student Grace Period -->

    <div class=""  *ngIf="selectedGracePeriod.currentValue== gracePeriodEnum.transferStudents">

        <div class="form-set border-dark radius-15 p-5">
            <h3 class="heading heading--tertiary mb-5">{{'dashboard.SystemSetting.chooseSchoolsThatAllowedToTransferGroup'|translate}}</h3>
            <div class="prim-table mt-4" >
                <p-table #dt [lazy]="true" [value]="gracePeriodSchools.fromSchools.list.reverse()">
                    <!-- Table Caption -->
                    <ng-template pTemplate="caption">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="col-6">

                                <app-table-caption
                                [styles]="{background: 'transparent'}"
                                [hasFilter]="false"
                                [hasExport]="false"
                                (onSearch)="fromSchoolsFiltration.KeyWord= $event;fromSchoolsFiltration.page=1; getGracePeriodFromSchools()">
                                </app-table-caption>
                            </div>
                            <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 p-3"
                            (click)="openSchoolsModel('TransferFrom')">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                <span>{{'dashboard.SystemSetting.addSchool' |translate}}</span>
                            </div>
                        </div>

                    </ng-template>

                    <ng-template pTemplate="header" let-columns="columns">
                        <tr>
                            <th pSortableColumn="name" style="width:300px">{{'dashboard.schools.schoolName'|translate}}</th>
                            <!-- <th pSortableColumn="city">{{'shared.grades'|translate}}</th> -->
                            <th class="actions" pFrozenColumn></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-school>

                        <tr [routerLink]="gracePeriodId ? ['school',school.id]:[]" [class.clickable]="gracePeriodId">
                            <td>{{school.name|currentLang}}</td>
                            <!-- <td>{{school.city |currentLang}}</td> -->
                            <td  class="actions d-flex justify-content-end ms-5" StopProp><img role="button" (click)="deleteSelectdSchool(school.id, fromSchools)" src="assets/images/shared/rect-xmark.svg" alt=""></td>
                        </tr>
                    </ng-template>


                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="20">
                                <ng-container *ngIf="!gracePeriodSchools.fromSchools.list.length &&  !gracePeriodSchools.fromSchools.loading">
                                    <app-informative-block [styles]="{minHeight:'28rem'}" subTitle="{{'emptyList.gracePeriodSchools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                                </ng-container>

                                <app-loader></app-loader>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                <div *ngIf="gracePeriodSchools.fromSchools.total > paginationState.rows && gracePeriodId">
                    <app-pagination [totalItems]="schools.total" (paginationChanged)="fromSchoolsPaginationChanged($event)"></app-pagination>
                </div>

            </div>
        </div>



        <div class="form-set border-dark radius-15 p-5">
            <h3 class="heading heading--tertiary mb-5">{{'dashboard.SystemSetting.schoolsAllowedToTransferToIt'|translate}}</h3>

            <div class="prim-table mt-4" >
                <p-table #dt [lazy]="true" [value]="gracePeriodSchools.toSchools.list.reverse()">
                    <!-- Table Caption -->
                    <ng-template pTemplate="caption">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="col-6">

                                <app-table-caption
                                [styles]="{background: 'transparent'}"
                                [hasFilter]="fasle"
                                [hasExport]="false"
                                (onSearch)="toSchoolsFiltration.KeyWord= $event;toSchoolsFiltration.page=1; getGracePeriodToSchools()">
                                </app-table-caption>
                            </div>
                            <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 p-3"
                            (click)="openSchoolsModel('TransferTo')">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                <span>{{'dashboard.SystemSetting.addSchool' |translate}}</span>
                            </div>
                        </div>

                    </ng-template>

                    <ng-template pTemplate="header" let-columns="columns">
                        <tr>
                            <th pSortableColumn="name" style="width:300px">{{'dashboard.schools.schoolName'|translate}}</th>
                            <!-- <th pSortableColumn="city">{{'shared.grades'|translate}}</th> -->
                            <th class="actions" pFrozenColumn></th>

                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-school>

                        <tr [routerLink]="gracePeriodId ? ['school',school.id]:[]" [class.clickable]="gracePeriodId">
                            <td>{{school.name|currentLang}}</td>
                            <!-- <td>{{school.city |currentLang}}</td> -->
                            <td  class="actions d-flex justify-content-end ms-5" StopProp><img  role="button" (click)="deleteSelectdSchool(school.id, toSchools)" src="assets/images/shared/rect-xmark.svg" alt=""></td>
                        </tr>
                    </ng-template>


                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="20">
                                <ng-container *ngIf="!gracePeriodSchools.toSchools.list.length &&  !gracePeriodSchools.toSchools.loading">
                                    <app-informative-block [styles]="{minHeight:'28rem'}" subTitle="{{'emptyList.gracePeriodSchools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                                </ng-container>
                                <app-loader></app-loader>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
                <div *ngIf="gracePeriodSchools.toSchools.total > paginationState.rows">
                    <app-pagination [totalItems]="schools.total" (paginationChanged)="toSchoolsPaginationChanged($event)"></app-pagination>
                </div>

            </div>

        </div>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- Other Grace Periods -->
    <div class="border-dark radius-15 p-5" *ngIf="selectedGracePeriod.currentValue != gracePeriodEnum.transferStudents && selectedGracePeriod.currentValue" >

        <div class="prim-table mt-4" >
            <p-table #dt [lazy]="true" [value]="gracePeriodSchools.schools.list.reverse()">
                <!-- Table Caption -->
                <ng-template pTemplate="caption">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="col-6">

                            <app-table-caption
                            [styles]="{background: 'transparent'}"
                            [hasFilter]="fasle"
                            [hasExport]="false"
                            (onSearch)="allowedSchoolsFiltration.KeyWord= $event;allowedSchoolsFiltration.page=1; getGracePeriodSchools()">
                            </app-table-caption>
                        </div>
                        <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 p-3"
                        (click)="openSchoolsModel()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            <span>{{'dashboard.SystemSetting.addSchool' |translate}}</span>
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="header" let-columns="columns">
                    <tr>
                        <th pSortableColumn="name" style="width:300px">{{'shared.schoolName'|translate}}</th>
                        <th class="actions" ></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-school>

                    <tr [routerLink]="gracePeriodId ? ['school',school.id]:[]" [class.clickable]="gracePeriodId">
                        <td>{{school.name|currentLang}}</td>
                        <td class="actions d-flex justify-content-end ms-5" StopProp>
                            <img  role="button" src="assets/images/shared/rect-xmark.svg" (click)="deleteSelectdSchool(school.id, 'allowdSchools')">
                        </td>
                    </tr>
                </ng-template>


                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="20">
                            <ng-container *ngIf="!gracePeriodSchools.schools.list.length &&  !gracePeriodSchools.schools.loading">
                                <app-informative-block [styles]="{minHeight:'28rem'}" subTitle="{{'emptyList.gracePeriodSchools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                            </ng-container>
                            <app-loader></app-loader>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
            <div *ngIf="gracePeriodSchools.schools.total > paginationState.rows">
                <app-pagination [totalItems]="gracePeriodSchools.schools.total" (paginationChanged)="allowedSchoolsPaginationChanged($event)"></app-pagination>
            </div>

        </div>

    </div>
</div>





<p-dialog header="{{'dashboard.SystemSetting.addSchools'|translate}}" (onHide)="paginationState.rows=8" [(visible)]="isSchoolsModelOpend" [modal]="true" [style]="{width: '70vw'}">
    <ng-template pTemplate="content">
        <form class="custom-form">

            <!-- <div class="myInput myInput--full myInput--search p-input-icon-left ms-auto mb-5 mt-4">
                <i class="pi pi-search fs-3"></i>
                <input class="input " name="subject" type="text" pInputText placeholder="البحث عن المدارس..."
                [(ngModel)]="filtration.KeyWord"
                (ngModelChange)="getSchools()"
                [ngModelOptions]="{standalone: true}"/>
            </div> -->

            <app-table-caption
            [styles]="{background: 'transparent'}"
            [hasFilter]="fasle"
            [hasExport]="false"
            (onSearch)="filtration.KeyWord= $event;filtration.page=1; getSchools()">
            </app-table-caption>


            <div class="col-md-6 mb-6">
                <label class="label" for="curriculum">{{'shared.curriculum'|translate }}  </label>
                <p-dropdown [showClear]="true" [options]="(curriculums$ | async)" [(ngModel)]="filtration.curriculumId" (onChange)="getSchools()" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar': 'name.en'}}" placeholder="{{'shared.chooseCurriculum'|translate }}" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>

            <div class="row gx-5 gy-4 form-set">
                <label class="fw-bold" for="">{{'dashboard.schools.schoolsList'|translate}} ({{schools.total}})</label>

                <ng-container *ngIf="!schools.loading">

                    <div class=" d-flex align-items-center gap-3 my-4" *ngIf="schools.total>1">
                        <p-checkbox  name="all" [binary]="true" ngModel (ngModelChange)="onSelectAll($event)"></p-checkbox>
                        <label class="fw-bold" for="">{{'shared.selectAll'|translate}}</label>
                        <div class="spinner-border color-skyBlue-500" role="status" *ngIf="isLoading"></div>

                    </div>

                    <ng-container *ngFor="let item of schools.list">
                        <div class="col-md-4 d-flex align-items-center gap-3">
                            <p-checkbox  name="eventSubjects" [value]="item.id" [(ngModel)]="selectedSchools"></p-checkbox>
                            <label class="label label--sm" for=""> {{item.name |currentLang}}</label>
                        </div>
                    </ng-container>

                </ng-container>

                <ng-container *ngIf="schools.loading">
                    <app-loader></app-loader>
                </ng-container>




            </div>
            <div *ngIf="schools.total > paginationState.rows">
                <app-pagination [totalItems]="schools.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
            </div>

            <div class="d-flex  align-items-center justify-content-between mt-6">
                <label class="label fw-bold" for=""> لقد قمت بتحديد {{selectedSchools?.length}} من المدارس</label>
                <button class="btn btn-primary btn--md" (click)="addSchoolsToGracePeriod();$event.preventDefault()">
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </form>
    </ng-template>
</p-dialog>
