@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/input';

.header{
    &.dashboard{
    margin-right: 1.3rem;
}
}


#content{
    margin-right: 4rem;
    margin-top: 1.5rem;
    .Readingstatus{
        font-weight: 500;
    }
    .group{
        height: 44px;
    .button-group{
        background-color: $color-gray-50;
        height:transparent;
        align-items: center;
        border-radius: 12px;
        width: 250px;
        justify-content: center;
        
        .btn-primary{
            background-color: transparent;
            color:$color-gray-250 ;
            height: 37px;
            width:120px;
            &:focus{background-color: $color-primary;color: #fff;}
        }
    }
    .myInput{
         margin-right: 3rem;
        &--search{
                 input{height: 39px;margin-top: 0.4rem;}
        }
    }
}

    .Notifications__cards{
       

 
        .cardd{
            
            border-radius: 12px 12px 12px 12px;
            box-shadow:  0rem 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.06);
           
            .card-header{
                padding-right: 2.5rem;
                padding-bottom: 0.7rem;
                padding-top: 0.7rem;
                background-color: #fff;
                border-bottom:1px solid #E9E9E9 ;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                .headerName{
                    font-weight: 500;margin-right: 7px;
                }
                .NotReadable{margin-right: 0.5rem;}
                .receivedtime{
                    color:$color-gray-250;
                    font-weight: 400;
                    padding-right: 90.5rem;
                }
            }
            .card-body{
                margin-top: 3rem;
                padding-right: 2.5rem;
                margin-bottom: 0.7rem;
                padding-bottom: 1rem;
                .Information{
                           .cardimage{
                                    flex: none;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                
                                    margin-left: 8px;
                   
                                    }
                            .Date{
                                margin-top: 1.3rem;
                            .date{
                                color:$color-gray-250;
                                font-weight: 400;
                            
                            }
                            .calendaricon{margin-right: 0.7rem;padding-bottom: 8px;}
                            }
                            .tittle{font-weight: 500;}
                  }
                .Description{
                    width:40%;
                    
                    margin-right: 15rem;
                    .paragraph{
                        color:$color-gray-250;
                        font-weight: 400;
                    }
                }

                .Details{
                    padding-right: 23.2rem;
                    padding-top: 3.7rem;
                    .btn-primary{
                        padding-right: 0;
                        padding-left: 0;
                        height: 35px;
                        width: 155px;
                    }
                }
            }
           
            
        }
        .LoadMore{
            width: 140px;
            height: 35px;
            margin-right: 45%;
            margin-top: 2%;
            margin-bottom: 5%;
        }

    }
    .Empty{
        position: relative;
        bottom:90px;
    }
}

