
<div class="rounded-4"  >
    <div class="prim-table mt-1">
    <p-table  #dt [value]="IndexesList "    sortMode="multiple"   >
     
      <ng-template pTemplate="caption">
        <div class="caption" >
            <!-- Serach and Filter Button -->
            <div class="caption__filter caption__filter--actions d-flex">
                <div class="myInput myInput--md myInput--search p-input-icon-left ">
                    <i class="pi pi-search fs-3"></i>
                    <input class="input rounded-4" type="text" pInputText placeholder="{{'Search...' | translate}}" [(ngModel)]="searchText" />
                </div>
    
                <button class="btn btn--sm btn-secondary" >
                    {{'Filter' | translate}}
                    <img src="assets/images/Frame.svg" alt="">
                </button>
    
                <button class=" btn-primary mx-3 btn-rounded px-4 addbtn" routerLink="upload-assignment" (click)="gotoAddIndex()">
                  {{'dashboard.Indexes.Add Item'|translate}}
                </button>
            </div>
    
            <!-- Import Export -->
            <div class="actions">
                <div role="button"  pTooltip="CSV" (click)="dt.exportCSV()">
                    <img src="assets/images/shared/csv.svg" alt="import">
                </div>
                <p-divider layout="vertical"></p-divider>
                <div  pTooltip="XLS"  role="button">
                    <img src="assets/images/shared/excel.svg" alt="import">
                </div>
            </div>
        </div>
    </ng-template> 
      
      
      <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="Type" ><p-sortIcon  field="Type" ></p-sortIcon>{{'dashboard.Indexes.Index Type'|translate}}</th>
              <th  class="mediumrow"  pSortableColumn="Name"><p-sortIcon  field="Name"></p-sortIcon>{{'dashboard.Indexes.Index Name'|translate}}</th>
              <th  class="longrow"  pSortableColumn="Status"><p-sortIcon field="Status"></p-sortIcon>{{'dashboard.Indexes.Index Status'|translate}}</th>
              <th   pSortableColumn="nationality"></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
                <td  >{{e.IndexType|translate}}</td>
                <td  class="mediumrow" >{{e.IndexName|translate}}</td>
                <td Class="longrow" >
                
                    <div class="d-flex align-items-center gap-4 inputswitchgroup">
                        <p-inputSwitch (onChange)="handleChangetoFemale($event)" [hidden]="e.IndexStatus=='Male'" [(ngModel)]="e.Notchecked"></p-inputSwitch>
                        <p-inputSwitch (onChange)="handleChangetoMale($event)" [hidden]="e.IndexStatus=='Female'" [(ngModel)]="e.Notchecked"></p-inputSwitch>
                        <div [ngClass]="e.IndexStatus=='Female'?'alerting success':'alerting danger'">{{e.IndexStatus|translate}}</div>
                        
                    </div>
                </td>
                <td class="list"> 
    
                    <div class="dropdown">
                        <div class="" id="dropdownlistbtn" data-bs-toggle="dropdown">
                            <fa-icon class="fs-4" [icon]="faEllipsisVertical" ></fa-icon>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item first d-flex" href="/dashboard/manager-tools/Indexes/Edit-Index/:In"><img src="assets/images/dropdown/Edit.jpg" class="ms-2" />
                                    <p>{{'shared.Edit'|translate}}</p>
                                </a>
                            </li>
                         
                         
                        </ul>
                    </div>
                  
                </td>
            
            </tr>
        </ng-template>
    </p-table>
    
    </div>
  </div>
