<div class="track position-relative ">
    
    <div class="submit-btn d-flex gap-4 justify-content-end position-absolute bottom-100">
        <button class="btn btn-outline-primary btn--md" *ngIf="step==3" (click)="openAddStudentModel()">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span>{{'dashboard.schools.addStudent'|translate}}</span>
        </button>

        <button class="btn btn-primary btn--md" [disabled]="!divisionInfoForm.valid || isSubmited" *ngIf="step==1" (click)="updateDivisionInfo()" >
            <span>{{'shared.saveChanges'| translate}}</span>
            <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
        </button>
        <button class="btn btn-primary btn--md" [disabled]="!divisionTeachersForm.valid || isSubmited" *ngIf="step==2" (click)="updateDivisionTeachers()" >
            <span>{{'shared.saveChanges'| translate}}</span>
            <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
        </button>

    </div>
    <div class="">
        <!-- <div class="actions d-flex align-items-center gap-3 mb-5">
            <app-back route="../../"></app-back>
        </div> -->

        <div class="">
            <!-- Nav Tabs -->
            <div class="tabView">
                <!-- Navigations Options -->
                <ul class="tabView__nav">
                    <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1"><span>{{'dashboard.schools.sectionInfo'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==2" (click)="step=2;getDivisionTeachers()"><span> {{'dashboard.schools.sectionTeachers'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==3" (click)="step=3"><span>{{'dashboard.schools.sectionStudents'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==4" (click)="getGradeClassEvents(); getGradeSubjects();step=4"><span>{{'dashboard.schools.schedule'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==5" (click)="step=5"><span>{{'dashboard.schools.absenceRecord'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==6" (click)="step=6"><span>{{'dashboard.schools.annualDegrees'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==7" (click)="step=7"><span>{{'dashboard.schools.divisionSubjects'|translate}}</span></li>
                    <li class="tabView__nav__link" [class.active]="step==8" (click)="step=8"><span>{{'dashboard.schools.studentsRate'|translate}}</span></li>
                </ul>
                    <!-- Navigations Options -->

                    <div class="tabView__content">
                        <form class="custom-form mt-2">

                            <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Info >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==1"  [formGroup]="divisionInfoForm">
                                <ng-container *ngIf="!divisionInfo">
                                    <div class="row g-5">
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="divisionInfo">
                                    <div class="row gx-5 form-set">
                                        <div class="col-md-4 ">
                                            <div class="grid-container">
                                                <p class="color-gray-300 fs-4">{{'dashboard.schools.sectionNumber'| translate}}</p>
                                                <span class="color-primary mb-2">{{divisionInfo?.divisionNumber}} </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 px-6">
                                            <div class="grid-container">
                                                <p class="color-gray-300 fs-4">{{'shared.grade'| translate}}</p>
                                                <span class="color-primary mb-2">{{divisionInfo?.grade.name |currentLang}}  </span>
                                            </div>
                
                                        </div>
                                        <div class="col-md-3">
                                            <div class="grid-container">
                                                <p class="color-gray-300 fs-4">{{'dashboard.schools.maxStudentsNumber'| translate}}</p>
                                                <span class="color-primary mb-2">{{divisionInfo?.maxStudentCount}} </span>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row gx-5 form-set">
                                        <div class="col-md-4 px-5" formGroupName="name">
                                            <label class="label required" for="name">{{'dashboard.schools.sectionName'|translate}} </label>
                                            <input type="text" name="sectionName" id="name" formControlName="ar" pInputText />
                                        </div>
                                        <div class="col-md-8 d-flex justify-content-center align-self-end">
                                            <div class="grid-container">
                                                <p class="fs-4 fw-bold">{{'dashboard.schools.sectionForSpetialAbilitiesStudents'| translate}}</p>
                                                <span class="color-primary mb-2">{{divisionInfo?.forDisabilities? ('shared.yes' |translate):('shared.no' |translate)}} </span>
                                            </div>
                                            <!-- <div class="d-flex align-items-center gap-4">
                                                <label class="mb-2" for="description">{{'dashboard.schools.sectionForSpetialAbilitiesStudents'|translate}}</label>
                                                <p-inputSwitch   [binary]="true"></p-inputSwitch>  
                                                name="forSpecialAbilities"
                                                <span class="mb-2">{{'shared.yes' |translate}}</span>
                                            </div> -->
                                        </div>
                                    </div>
                                    
                                    <hr class="my-6">
    
                                    <ng-container  *ngIf="divisionInfo.hasTracks">
                                        <ng-container *ngIf=" tracks$ |async as tracks">
                                            <label class="label fw-bold" for="">{{'dashboard.schools.tracks'|translate}}</label>
                                            <div class="row gx-5 gy-4 mb-4">
                                                <ng-container *ngFor="let track of tracks; let i=index">
                                                    <div class="col-md-3 d-flex align-items-center gap-4">
                                                        <!-- [(ngModel)]="selectedTracks" -->
                                                        <p-checkbox  name="selectedTracks" [value]="track.id" formControlName="trackIds"></p-checkbox>
                                                        <label class="label label--sm" for=""> {{track?.name | currentLang}}</label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container> 
                                    </ng-container>
                                </ng-container>
                                
            
                            </ng-container>
            

                             <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Teacher >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==2">
                                <ng-container *ngIf="!divisionTeachers">
                                    <div class="row g-5">
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <app-skeleton count="4" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="divisionTeachers" [formGroup]="divisionTeachersForm">

                                    <div class="row gx-5 form-set" formGroupName="supervisior"  >
                                        <div class="col-md-4" >
                                            <label class="label required" for="manager">{{'dashboard.schools.sectionManager'|translate}}</label>
                                            <p-dropdown [options]="schoolTeachers$|async" formControlName="id" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar':'name.en'}}"></p-dropdown>
                
                                        </div>
                                        <div class="col-md-8 d-flex justify-content-center align-self-end ">
                                            <div class="d-flex align-items-center gap-4">
                                                <!-- <input-switch  for="optional" label="{{'shared.yes'| translate}}"></input-switch> -->
                                                <label class="mb-2" for="description">{{'dashboard.schools.abilityToEnterDegree'|translate}}</label>
                                                <p-inputSwitch name="addDegreesAvilability" formControlName="abilityToAddDegrees" (ngModelChange)="abilityToAddDegreesChanged($event)"></p-inputSwitch>  
                                                <span class="mb-2" for="name">{{'shared.yes'|translate}}</span>
                
                                            </div>
                                        </div>
                                    </div>
                
                                    <hr class="my-6">
    
                                    <div class="bg-orange-50 p-3 radius-15 mb-6 ">
                                        <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                                        <span class="color-gray-800">" {{'emptyList.divisionDegreeHint' |translate}} "</span>
                                    </div>
                                    
                                    <h3 class="heading heading--tertiary mb-4">{{'dashboard.schools.subjectsTeachers'|translate}}</h3>
                                    <ng-container formArrayName="subjectsTeachers">
                                        <div class="row gx-5 mb-4  align-items-center" *ngFor="let obj of subjectsTeachersCtr.controls; let i=index" [formGroupName]="i">
                                            <div class="col-md-4 px-5">
                                                <div class="grid-container">
                                                    <p class="color-gray-300 fs-4">{{'dashboard.schools.subject'| translate}}</p>
                                                    <span class="color-primary mb-2">{{obj.value.subject.name | currentLang}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5 px-5" formGroupName="teacher">
                                                <!-- <label class="label" for="name">{{'dashboard.schools.subjectsTeachers'|translate}} </label> -->
                                                <div class="grid-container align-items-center">
                                                    <p class="color-gray-300 fs-4" [class.required]="!isAllowToAddDegrees.value">{{'dashboard.schools.subjectTeacher'| translate}}</p>
                                                    <p-dropdown 
                                                    [options]="schoolTeachers$|async" 
                                                    formControlName="id" optionValue="id" 
                                                    [showClear]="true" 
                                                    optionLabel="{{lang=='ar' ? 'name.ar':'name.en'}}" 
                                                    placeholder="اختر المدرس"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                              
                                    
                                </ng-container>
                                <app-informative-block *ngIf="!divisionTeachers?.subjectsTeachers.length" subTitle="{{'emptyList.Subject List is Empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                                
            

                            </ng-container>
            
                             <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Students >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==3">
                                <app-division-students [gradeId]="gradeId" [hasTracks]="this.divisionInfo?.hasTracks"></app-division-students>
                            </ng-container>
            
                             <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Calendar >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==4">
                                <div class="d-flex align-items-center gap-3 mb-6">
                                    <img src="assets/images/shared/info-skyBlue.svg" alt="">
                                    <p class="color-primary">ملاحظة: يمكنك الضغط على الحصة لإضافة المواد</p>
                                </div>

                                <app-calender *ngIf="events" [events]="events" [editableEvents]="true" (onEventClicked)="eventClicked($event)" ></app-calender>

                                <ng-container *ngIf="!events">
                                    <div class="row g-5">
                                        <div class="col-md-3">
                                            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-3">
                                            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-3">
                                            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                        <div class="col-md-3">
                                            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                                        </div>
                                    </div>
                                </ng-container>
                                
                            </ng-container>

                             <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Absence Recored >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==5">
                                <app-absence-record (onStepChanged)="step =$event"></app-absence-record>
                            </ng-container>

                             <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Degrees >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==6">
                                <app-degrees></app-degrees>
                            </ng-container>

                            <!-- <<<<<<<<<<<<<<<<<<<<<< Divition Subjects >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==7">
                                <app-division-subjects [gradeHaveTracks]="divisionInfo?.hasTracks" [gradId]="gradeId"></app-division-subjects>
                            </ng-container>


                            <!-- <<<<<<<<<<<<<<<<<<<<<< Divition student Rate >>>>>>>>>>>>>>>>>>>>>>>> -->
                            <ng-container *ngIf="step==8">
                                <app-students-rate></app-students-rate>
                            </ng-container>



                        </form>
                    </div>
            </div>

        </div>
    </div>
</div>


<!-- Add Student to division Dialog -->
<p-dialog header="{{'dashboard.schools.addStudentToSection'|translate}}" [(visible)]="addStudentModelOpened" [modal]="true" [style]="{width: '35vw', height:'70vh'}">
    <ng-template pTemplate="content">
        <form class="custom-form" [formGroup]="addStudentForm">
            <div class="row form-set">
                <div class="col">
                    <label class="label" for="student">{{'dashboard.schools.student'|translate}} </label>
                    <p-dropdown 
                    [options]="(studentsWithoutDivision$ | async)"
                    [filter]="true" filterBy="{{lang=='ar' ? 'name.ar' : 'name.en'}}"
                    formControlName="studentId" optionValue="id" 
                    optionLabel="{{lang=='ar' ? 'name.ar':'name.en'}}" 
                    placeholder="{{'shared.chooseStudent'|translate}}"></p-dropdown>

                </div>
               
            </div>

            <div class="row form-set" *ngIf="divisionInfo?.hasTracks">
                <div class="col-md-12">
                    <label class="label" for="track">{{'dashboard.schools.track'|translate}} </label>
                    <p-dropdown [options]=" tracks$|async" formControlName="trackId" (ngModelChange)="onTrackChange($event)" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar':'name.en'}}" placeholder="{{'shared.chooseTrack'|translate}}"></p-dropdown>
                </div>
            </div>

            <div class="row gx-5 gy-4 form-set mt-6">
                <label class="label fw-bold" for="">{{'shared.optionalSubjects'|translate}}</label>
                <!-- Loader -->
                <ng-container *ngIf="!(optionalSubjects$|async); then loader"></ng-container>
               <!-- Loader -->
                <div class="col-md-6 d-flex align-items-center gap-4" *ngFor="let subject of optionalSubjects$|async">
                    <p-checkbox  name="subjects"  [formControl]="addStudentForm.controls['optionalSubjects']"  [value]="subject.id"></p-checkbox>
                    <label class="label label--sm" for="">{{subject.name | currentLang}}</label>
                </div>
                
            </div>
            <div class="py-5"></div>
            <div class="d-flex  align-items-center justify-content-end mt-4">
                <button class="btn btn-primary btn--sm" (click)="addStudentToDivision(addStudentForm.value)"  [disabled]="!addStudentForm.valid || isSubmited">
                    <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </form>
    </ng-template>
</p-dialog>



<!-- add Subjects to clendar -->
<p-dialog header="{{'dashboard.schools.chooseScheduleSubjects'|translate}}" [(visible)]="openSubjectsModel" [modal]="true" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">
        <form class="custom-form">

            <!-- <app-table-caption [hasExport]="false" [hasFilter]="false" (onSearch)="onSearch($event)"></app-table-caption> -->
            <div class="myInput myInput--full myInput--search p-input-icon-left ms-auto mb-5 mt-4">
                <i class="pi pi-search fs-3"></i>
                <input class="input " name="subject" type="text" 
                pInputText placeholder="البحث عن مواد..." 
                [(ngModel)]="searchText"
                (ngModelChange)="onSearch($event)" />
            </div>

            <div class="row  gx-5 gy-4">
                <div class="col-md-6 d-flex align-items-center gap-4" *ngFor="let subject of  gradeSubjects$|async |localizeSearch: searchText">
                    <p-checkbox  name="subjects"  [(ngModel)]="eventSubjects"  [value]="subject"></p-checkbox>
                    <label class="label label--sm" for="">{{subject.name | currentLang}}</label>
                </div>
            </div>
            <!-- Loader -->
            <ng-container *ngIf="!(gradeSubjects$|async); then loader"></ng-container>
            <!-- Loader -->

            <div class="d-flex  align-items-center justify-content-end mt-5">
                <button class="btn btn-primary btn--sm" (click)="addSubjectsToCalendarEvent($event,selectedEventId)">
                    <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </form>
    </ng-template>
</p-dialog>



<ng-template #loader>
    <div class="row gx-5">
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>

    <div class="row gx-5">
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>
</ng-template>

