
 <div class="dashboard-header header">
    <div class="header__title--main d-flex gap-4">

        <h3 class="heading heading--secondary color-primary" *ngIf="mainTitle">
            {{mainTitle.main}} 
            <span class="sub color-gray-300" *ngIf="mainTitle.sub">{{mainTitle.sub}}</span>
        </h3>

        <button class="btn btn--sm ntn btn-outline-primary" *ngIf="showContactUs">
            <span>تواصل معنا</span>
            <img src="assets/images/shared/contact-us.svg" alt="">
        </button>

        <span class="Notifications color-primary" *ngIf="showNoOfNotifications">({{NotificationNumber}})</span>
    </div>

    <h4 class="header__title--sub ms-2" *ngIf="subTitle">
        {{subTitle.main}}
        <span class="sub color-gray-300" *ngIf="subTitle.sub">{{subTitle.sub}}</span>
    </h4>

    <div class="header__breadcrumb">

        <p-breadcrumb [model]="breadCrump" [home]="{icon: 'pi pi-home', routerLink: '/'}"
        [style]="{'font-size':'1.5rem','color':'#9E9E9E','margin':'.5rem 0'}"></p-breadcrumb>
    </div>


 </div>

