<div class="grade position-relative">

    <div class="class__content my-4">

        <div *permit="claimsEnum.E_U_GradeInfo" class="submit-btn d-flex justify-content-end align-items-center gap-4 position-absolute bottom-100">
            <button *ngIf="step==2 || step==1" class="btn btn-primary btn--md" (click)="updateGrade()" [disabled]="isSubmited || gradeForm.invalid">
                <span>{{'shared.saveChanges'| translate}}</span>
                <div class="spinner-border text-light" role="status" *ngIf="isSubmited"></div>
            </button>
            <span *ngIf="step==2" (click)="getGradeDetails()" role="button" class="color-red-500 text-decoration-underline">{{'shared.cancel' |translate}}</span>

        </div>

        <div class="class__form rounded-4">
            <!-- Nav Tabs -->

            <div class="tabView">
                <!-- Navigations Options -->
                <ul class="tabView__nav">
                    <li class="tabView__nav__link" *permit="claimsEnum.E_R_GradeInfo" [class.active]="step==1" (click)="step=1"><span>{{'dashboard.schools.gradInfo'| translate}} </span></li>
                    <li class="tabView__nav__link" *permit="claimsEnum.E_R_GradeInfo" [class.active]="step==2" (click)="step=2; getGradeDetails()" ><span>{{'dashboard.schools.tracksAndSubjects'| translate}} </span></li>
                    <li class="tabView__nav__link" *permit="claimsEnum.E_R_GradeLecture" [class.active]="step==3" (click)="step=3; ngOnDestroy()"><span>{{'dashboard.schools.classesSchedule'| translate}} </span></li>
                    <li class="tabView__nav__link" *permit="claimsEnum.E_R_GradeStudents" [class.active]="step==4" (click)="step=4"><span>{{'dashboard.schools.gradeStudents'| translate}} </span></li>
                </ul>
                <!-- Navigations Options -->

                <div class="tabView__content">
                    <form class="custom-form mt-2" [formGroup]="gradeForm">

                        <ng-container *ngIf="!gradeData; then step1Lodaer"></ng-container>
                        <ng-container *ngIf="step==1">
                            <div class="row gx-5 " *ngIf="gradeData">
                                <div class="col-md-6 grid-container">
                                    <p class="color-gray-300 fs-4">{{'dashboard.schools.gradeName'| translate}}</p>
                                    <span class="color-primary mb-2">{{gradeData.name | currentLang}}</span>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="d-flex align-items-center gap-3">
                                        <label class="ms-3" for="description">{{'dashboard.schools.abilityToWriteDescription'| translate}}</label>
                                        <p-inputSwitch name="status" formControlName="addDegreesAndDescriptionPosiblity" ></p-inputSwitch>
                                        <span class="mb-2">
                                            {{ getCtr('addDegreesAndDescriptionPosiblity').value ? ('shared.yes' | translate): ('shared.no' | translate)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>


                        <!-- مســــارات -->
                        <ng-container *ngIf="step==2">
                            <ng-container *ngIf="!gradeData; then step2Lodaer"></ng-container>

                            <ng-container *ngIf="gradeData">
                                <div class="mb-5 px-5 d-flex align-items-center">


                                    <!-- formControlName="hasTracks" -->
                                    <div class="d-flex align-items-center gap-3">
                                      <label class="ms-3" for="description">{{'dashboard.schools.includingTracks'| translate}}</label>
                                      <p-inputSwitch name="status" [(ngModel)]="hasTracks" (onChange)="onTracksModeChange($event?.checked)" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                                      <span class="mb-2">
                                          {{ hasTracks ? ('shared.yes' | translate): ('shared.no' | translate)}}
                                      </span>
                                    </div>

                                    <!-- <p-checkbox [(ngModel)]="hasTracks" (ngModelChange)="onTracksModeChange($event)" [ngModelOptions]="{standalone: true}" [binary]="true" label="{{'dashboard.schools.includingTracks'| translate}}"  [style]="{'font-size':'2rem'}"></p-checkbox> -->
                                    <div class="" [class]="lang=='ar'? 'me-auto': 'ms-auto'">
                                        <button class="btn btn-primary btn--md " *ngIf="hasTracks" (click)="addTrack()">
                                            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
                                            <span>{{'dashboard.schools.addTrack'|translate}}</span>
                                        </button>
                                    </div>
                                </div>


                                <ng-container *ngIf="hasTracks; then withTraks else withoutTraks"></ng-container>


                                <!-- in case there is traks -->
                                <ng-template #withTraks>
                                    <div class="" formArrayName="tracks">

                                        <p-accordion [style]="{'font-size':'1.4rem'}" [styleClass]="">

                                            <ng-container *ngFor="let track of gradeTracks.controls; let trackIndex =index" [formGroupName]="trackIndex">
                                                <!-- Accordion tab -->
                                                <p-accordionTab [selected]="activeAccordion == trackIndex">
                                                    <!-- Accordion Header -->
                                                    <ng-template pTemplate="header">
                                                      <!-- red border in case there is no subjected add -->
                                                      <div class="invalid" *ngIf="!getTrackSubjects(trackIndex)?.controls?.length"></div>

                                                      <div class=" content row w-100 align-items-center">
                                                          <div class="col-4 d-flex align-items-center fs-4 gap-3" formGroupName="name">
                                                              <span class="flex-none">{{'dashboard.parents.trackNameAr'| translate}} </span>
                                                              <input class="w-75 required" pInputText [LangRestrict]="'ar'" formControlName="ar" name="trackName" StopProp (keydown.space)="$event.stopPropagation();">
                                                          </div>
                                                          <div class="col-2 d-flex align-items-center justify-content-center fs-4 gap-3">
                                                              <span class="color-gray-700">{{'dashboard.schools.subjectsNumber'| translate}} </span>
                                                              <span class="color-skyBlue-500 fw-bold"> {{track.value.subjects.length}}</span>
                                                          </div>

                                                          <div class="col-4 d-flex align-items-center fs-4 gap-3" formGroupName="name">
                                                              <span class="flex-none required">{{'shared.nameEn' |translate}}</span>
                                                              <input class="w-75" pInputText formControlName="en" [LangRestrict]="'en'" name="trackName" StopProp (keydown.space)="$event.stopPropagation();">
                                                          </div>

                                                          <!-- <div class="col-md-3">
                                                              <button class=" btn btn-outline-primary btn--sm px-5" (click)="deleteTrack()">
                                                                  <span>{{'dashboard.schools.deletTrack' |translate}}</span>
                                                              </button>
                                                          </div> -->
                                                          <div  class="col-md-2 d-flex align-items-center justify-content-end color-red-500  ps-4" >
                                                              <span class="delete-btn" role="button" (click)="$event.stopPropagation();deleteConfirmationCase='deleteTrack';deletedTrackIndex=trackIndex;openDeleteConfirmation=true">{{'shared.delete' |translate}}</span>
                                                              <!-- <img class="pt-5" (click)="deleteTrackSubjects(trackIndex,subjectIndex)" src="assets/images/shared/rect-xmark.svg" alt=""> -->
                                                          </div>

                                                        </div>
                                                      </ng-template>

                                                    <!-- Accordion Body -->
                                                    <ng-container >
                                                        <ng-template pTemplate="body">
                                                          <div class="color-red-500 p-5 fs-3 text-center" *ngIf="!getTrackSubjects(trackIndex)?.controls?.length">يجب اضافه ماده واحده على الاقل</div>

                                                          <div class="row" formArrayName="subjects">
                                                              <ul class="subjects">
                                                                  <li class="subject border rounded-4" *ngFor="let subject of getTrackSubjects(trackIndex).controls let subjectIndex =index" [formGroupName]="subjectIndex">
                                                                      <div class="p-5 ">
                                                                          <div class="row g-5 align-items-center mb-6">

                                                                              <div class="col-md-4" >
                                                                                  <label for="" class="label required">{{'dashboard.Subjects.subjectName'| translate}}</label>
                                                                                  <p-dropdown [options]="subjectsList" formControlName="id" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'Choose Subject' |translate}}"></p-dropdown>

                                                                              </div>

                                                                              <div class="col-md-3">
                                                                                  <label for="" class="label">{{'dashboard.Subjects.sessionsPerWeek'| translate}}</label>
                                                                                  <p-inputNumber
                                                                                  formControlName="weekClassRoomNumber"
                                                                                  [showButtons]="true"
                                                                                  [min]="1"
                                                                                  [max]="32"
                                                                                  placeholder="0"
                                                                                  inputId="classCount"  ></p-inputNumber>
                                                                              </div>

                                                                              <div class="col-md-4 align-self-end mb-3 d-flex align-items-center gap-5">
                                                                                  <div class="d-flex align-items-center gap-4 fs-3">
                                                                                      <label class="" for="description">{{'dashboard.Subjects.optional'| translate}}</label>
                                                                                      <p-inputSwitch formControlName="isOptional" [binary]="true"></p-inputSwitch>
                                                                                      <span class="mb-2">{{subject.value.isOptional ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                                                  </div>

                                                                                  <div class="d-flex align-items-center gap-4 fs-3" *ngIf="subject.value.isOptional">
                                                                                    <label class="" for="description">{{'dashboard.Subjects.IsInternalSubject'| translate}}</label>
                                                                                    <p-inputSwitch formControlName="isInternal" [binary]="true"></p-inputSwitch>
                                                                                    <span class="mb-2">{{subject.value.isInternal ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                                                  </div>
                                                                              </div>


                                                                              <div role="button" class="col-md-1 d-flex align-items-end justify-content-end" >
                                                                                  <img class="pt-5" (click)="deleteConfirmationCase='deleteTrackSubjects';deletedTrackIndex=trackIndex;deletedSubjectIndex=subjectIndex;deletedSubjectId=subject.value.gradeSubjectId;openDeleteConfirmation=true" src="assets/images/shared/rect-xmark.svg" alt="">
                                                                              </div>
                                                                          </div>

                                                                          <div class="row gx-5">
                                                                              <div class="col-md-4 align-self-end mb-3">
                                                                                  <div class="d-flex align-items-center gap-4 fs-3">
                                                                                      <label class="" for="description">{{'dashboard.Subjects.hasGPA'| translate}}</label>
                                                                                      <p-inputSwitch formControlName="haveGpa" [binary]="true"></p-inputSwitch>
                                                                                      <span class="mb-2">{{subject.value.haveGpa ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                                                  </div>

                                                                              </div>
                                                                              <div class="col-md-3">
                                                                                  <label for="" class="label">{{'dashboard.Subjects.subjectHours'| translate}} (Credit Hours)</label>
                                                                                  <div class=" position-relative" >
                                                                                      <!-- <input type="number" pInputText placeholder="0" /> -->
                                                                                      <p-inputNumber formControlName="studyHour" ></p-inputNumber>
                                                                                      <img class="position-absolute translate-middle-y top-50" [style]="{'inset-inline-end': '1.5rem'}" src="assets/images/shared/clock-solid.svg" alt="">
                                                                                  </div>
                                                                              </div>

                                                                              <div class="col-md-4 align-self-end mb-3">

                                                                                  <div class="d-flex align-items-center gap-4 fs-3">
                                                                                      <label class="" for="description">{{'dashboard.Subjects.AddToFinalScore'| translate}}</label>
                                                                                      <p-inputSwitch formControlName="isAddToFinalScore" [binary]="true"></p-inputSwitch>
                                                                                      <span class="mb-2">{{subject.value.isAddToFinalScore ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                                                  </div>

                                                                              </div>
                                                                          </div>

                                                                          <div class="row  mb-5 mt-6" *ngIf="subject.value.haveGpa">
                                                                              <div class="col-md-4">
                                                                                  <label for="" class="label">{{'dashboard.schools.maxValueForGpa'| translate}}</label>
                                                                                  <p-inputNumber
                                                                                  formControlName="maxGpa"
                                                                                  [showButtons]="true"
                                                                                  [min]="0"
                                                                                  [max]="100" ></p-inputNumber>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </li>
                                                                  <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-50 p-3 mt-4"
                                                                  (click)="addSubjectToTrack(trackIndex)">
                                                                      <fa-icon [icon]="faPlus"></fa-icon>
                                                                      <span>{{'dashboard.schools.addSubject' |translate}}</span>
                                                                  </div>
                                                              </ul>
                                                          </div>
                                                        </ng-template>
                                                    </ng-container>
                                                </p-accordionTab>
                                            </ng-container>

                                        </p-accordion>
                                    </div>
                                </ng-template>

                                <!-- in case there is no traks -->

                                <ng-template #withoutTraks>
                                    <div class="row">
                                        <ul class="subjects" formArrayName="subjects">
                                            <li class="subject border p-4 pb-5" *ngFor="let subject of gradeSubjects.controls ;let i=index" [formGroupName]="i">


                                                <div class="p-5">
                                                  <div class="row g-5 align-items-center mb-6">

                                                    <div class="col-md-4" >
                                                        <label for="" class="label required">{{'dashboard.Subjects.subjectName'| translate}}</label>
                                                        <p-dropdown [options]="subjectsList" formControlName="id" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'Choose Subject' |translate}}"></p-dropdown>

                                                    </div>

                                                    <div class="col-md-3">
                                                        <label for="" class="label">{{'dashboard.Subjects.sessionsPerWeek'| translate}}</label>
                                                        <p-inputNumber
                                                        formControlName="weekClassRoomNumber"
                                                        [showButtons]="true"
                                                        [min]="1"
                                                        [max]="32"
                                                        placeholder="0"
                                                        inputId="classCount"  ></p-inputNumber>
                                                    </div>

                                                    <div class="col-md-4 align-self-end mb-3 d-flex align-items-center gap-5">
                                                        <div class="d-flex align-items-center gap-4 fs-3">
                                                            <label class="" for="description">{{'dashboard.Subjects.optional'| translate}}</label>
                                                            <p-inputSwitch formControlName="isOptional" [binary]="true"></p-inputSwitch>
                                                            <span class="mb-2">{{subject.value.isOptional ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                        </div>

                                                        <div class="d-flex align-items-center gap-4 fs-3" *ngIf="subject.value.isOptional">
                                                          <label class="" for="description">{{'dashboard.Subjects.IsInternalSubject'| translate}}</label>
                                                          <p-inputSwitch formControlName="isInternal" [binary]="true"></p-inputSwitch>
                                                          <span class="mb-2">{{subject.value.isInternal ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                        </div>
                                                    </div>


                                                    <div role="button" class="col-md-1 d-flex align-items-end justify-content-end" >
                                                        <img class="pt-5" (click)="deleteConfirmationCase='deleteTrackSubjects';deletedTrackIndex=trackIndex;deletedSubjectIndex=subjectIndex;deletedSubjectId=subject.value.gradeSubjectId;openDeleteConfirmation=true" src="assets/images/shared/rect-xmark.svg" alt="">
                                                    </div>
                                                </div>

                                                <div class="row gx-5">
                                                    <div class="col-md-4 align-self-end mb-3">
                                                        <div class="d-flex align-items-center gap-4 fs-3">
                                                            <label class="" for="description">{{'dashboard.Subjects.hasGPA'| translate}}</label>
                                                            <p-inputSwitch formControlName="haveGpa" [binary]="true"></p-inputSwitch>
                                                            <span class="mb-2">{{subject.value.haveGpa ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <label for="" class="label">{{'dashboard.Subjects.subjectHours'| translate}} (Credit Hours)</label>
                                                        <div class=" position-relative" >
                                                            <!-- <input type="number" pInputText placeholder="0" /> -->
                                                            <p-inputNumber formControlName="studyHour" ></p-inputNumber>
                                                            <img class="position-absolute translate-middle-y top-50" [style]="{'inset-inline-end': '1.5rem'}" src="assets/images/shared/clock-solid.svg" alt="">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 align-self-end mb-3">

                                                        <div class="d-flex align-items-center gap-4 fs-3">
                                                            <label class="" for="description">{{'dashboard.Subjects.AddToFinalScore'| translate}}</label>
                                                            <p-inputSwitch formControlName="isAddToFinalScore" [binary]="true"></p-inputSwitch>
                                                            <span class="mb-2">{{subject.value.isAddToFinalScore ? ('shared.yes' | translate): ('shared.no' | translate)}}</span>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row  mb-5 mt-6" *ngIf="subject.value.haveGpa">
                                                    <div class="col-md-4">
                                                        <label for="" class="label">{{'dashboard.schools.maxValueForGpa'| translate}}</label>
                                                        <p-inputNumber
                                                        formControlName="maxGpa"
                                                        [showButtons]="true"
                                                        [min]="0"
                                                        [max]="100" ></p-inputNumber>
                                                    </div>
                                                </div>

                                                </div>
                                            </li>

                                            <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3"
                                            (click)="addSubject()">
                                                <fa-icon [icon]="faPlus"></fa-icon>
                                                <span>{{'dashboard.schools.addSubject' |translate}}</span>
                                            </div>
                                        </ul>

                                    </div>
                                </ng-template>
                            </ng-container>


                        </ng-container>


                        <ng-container *ngIf="step==3">

                            <app-class-schedule></app-class-schedule>
                        </ng-container>
                    </form>

                    <ng-container *ngIf="step==4">
                        <app-garde-students></app-garde-students>
                    </ng-container>
                </div>
            </div>

            <!-- Class Form -->

        </div>
    </div>
</div>





<ng-template #step2Lodaer>
    <div class="row g-5">
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>
</ng-template>

<ng-template #step1Lodaer>
    <div class="row g-5">
        <div class="col-md-4">
            <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>
</ng-template>


<div class="confirm-model">

    <p-dialog [(visible)]="openDeleteConfirmation" [closable]="false" [modal]="true" [style]="{width: '35vw'}" >
        <ng-template pTemplate="content">
           <div class="d-flex flex-column justify-content-center align-items-center gap-4">

            <img src="assets/images/empty-list/basket.svg" alt="">
            <p class="fs-3">{{'shared.confirmDelete' |translate}}</p>
            <div class="d-flex align-items-center gap-4 mt-5">
                <button (click)="checkDeleteCases()" class="btn btn-secondary">{{'shared.yesImSure' |translate}}</button>
                <button (click)="openDeleteConfirmation=false" class="btn btn-primary ">{{'shared.notSure' |translate}}</button>

            </div>
           </div>
        </ng-template>
    </p-dialog>
</div>

