@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';

::ng-deep p-table{

    app-table-caption{
        .export{
            // flex-grow: 1;
            flex-shrink: 0;
        }
    }

    tfoot.p-datatable-tfoot tr td{
        background-color:rgba(245, 206, 152, 0.15)!important;
        padding: 1.75rem 1rem !important;
        border: 0 !important;
        font-size: 1.4rem;
        color: $color-gray-800 !important;
        text-align: right !important;
    }
}
