

    ::ng-deep p-accordion .p-accordion{

            .p-accordion-tab{
                margin-bottom: 2rem;
                border: 1px solid $color-gray-200;
                box-shadow: none;
                overflow: hidden;

                &:first-child{
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                }
                &:last-child{
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
                .p-accordion-header{
                    
                    .p-accordion-header-link{
                        background-color: #2e50a30f;
                        
                        &:hover{
                            background-color: #2e50a30f;
                        }
                    }

                    &:not(.p-disabled).p-highlight .p-accordion-header-link{
                        background-color: #2e50a30f
                    }
                }
            }
        
    }

   
