.alerting {
    padding: .5rem 1.75rem;
    border-radius: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: inline-block;
    min-width: 90px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    &.primary {
        color: #1ABB3E;
        background-color: rgba(57, 192, 71, 0.1);
        ;
    }

    &.warning {
        color: $color-skyBlue-500;
        background-color: rgba($color-skyBlue-500, 0.18);
    }

    &.danger {
        color: #D55891;
        background-color: #FAEBF2;
        // background-color: rgba(#D55891, 0.18);
    }

    &.success {
        color: #52B9C7;
        background-color: #F0FBFC;
    }

    &.secondary{
        color: #F7AE4B;
        background: rgba(248, 192, 115, 0.12);
    }

    &.dark {
        color: #6B6B6B;
        background-color: #EDEDED;
        ;
    }

    &.dismissible {
        color: rgb(239, 128, 113);
        background:rgb(239, 128, 113,0.12);
        
    }
}

// alert-primary
// alert-warning
// alert-link
// alert-light
// alert-dark
// alert-dismissible
// alert-heading
// alert-danger
// alert-success
// alert-secondary
// fade