@import '../utils/variables.scss';

.custom-breadcrumb{
    color: $color-gray-400;
    font-size: 1.3rem;
    color: $color-gray-300;

    ul{
        li{
            display: flex;
            align-items: center;
            cursor: pointer;
            fa-icon{
                padding: 0 0.65rem;
            }
        }
    }
}