@import '../utils/variables.scss';

.myInput{

    &--search{
        i{
            transform: translateY(-50%);
            margin-top: 0;
           color: $color-primary !important;
          
        }
     
        input{
            border-radius: 15px;
            width : 100%;
            height: 42px;
            padding-inline-start: 1.3rem ;
            border: 1px solid #E9E9E9;
            // &::-webkit-input-placeholder{font-size: 1.6rem;}
            &::placeholder{
                font-family: 'Droid';
               color:$color-gray-300;
            }
           


        }
        .p-inputtext{
            padding: .5rem 3.5rem !important;
            font-size: 1.6rem !important;
            &:hover{
                border: 1px solid #E9E9E9;
            }
        }
        
    }

    ::ng-deep .p-inputtext:hover {border-color: #DBDBDB;}

    width:23rem;

    &--full{
        width: 100%;
    }

    &--sm{
        width:20rem;
    }
    &--md{
        width:25rem;
    }
    &--lg{
        width:28rem;
    }

    
}




