@import '../utils/variables.scss';

.myInput{

    &--search{
        i{
            transform: translateY(-50%);
            margin-top: 0;
        }
        input{
           border-radius: 12px;
            width : 100%;
            padding-inline-start: 1.3rem;
            border: 1px solid $color-gray-200;
            &::-webkit-input-placeholder{font-size: 1.6rem;}
        }
        .p-inputtext{padding: .5rem 1rem;}
        
    }

    width:23rem;
    // &--sm{
    //     width:20rem;
    // }
    // &--md{
    //     width:25rem;
    // }

    &--sm{
        width:20rem;
    }
    &--md{
        width:25rem;
    }

    
}



.forms{
   
    background-color: #FFFFFF;
    min-height: 70%;
    border-radius: 12px;
    
    .alert-danger{ color: $color-red-600;}
    .form-control.ng-touched.ng-invalid{
        border: $color-red-600 1.65px solid ;
    }
    
    
    
    .form-select.ng-touched.ng-invalid{
        border: $color-red-600 1.65px solid ;
    }
    small{
       
        font-style: Regular;
        font-size: 14px;
      
     
    }
    label{
        font-weight: 500;
       
        font-size: 18px;
    }
    input{
       
         height:40px;
         background-color: #EFEFEF;
         font-size: 16px;
         
         color: #AFAFAF;
       border: none;
         border-radius: 10px;
         small{
        
            font-style: Regular;
            font-size: 14px;
          
         
        }
    }
   
        ::placeholder{
                   color: #AFAFAF;
                
                   font-size: 15px;
                   font-weight: 400;
                   
                   
    }
       

     .form-select:focus {
        border: none}

     select{
          
            height: 40px;
            background-color: #EFEFEF;
            border-radius: 10px;
            
            color: #AFAFAF;
            box-shadow: none;
            background-position: right 90% center !important;
            border: none;
            .form-select-lg{
                font-size: 16px;
            }
         option{
         
           
            color: #AFAFAF;
            font-size: 16px;
            font-weight: 400;
            
           
         }
        }

        ::ng-deep .inputcalend{
            height:40px;width:100%;
            border-radius: 10px;
            font-size: 8px;
            font-family:DINNext;
            ::placeholder{  
            font-family:DINNext;
             color: #AFAFAF;
             font-size: 15px;
             font-weight: 400;
             box-shadow: none;
           
           }

         }
         .p-inputtext{ font-size: 16px; }

         .p-inputtext:enabled:focus{ box-shadow: none;}
        
   
}

