.myInput{

    &--search{
        i{
            transform: translateY(-50%);
            margin-top: 0;
        }
        input{
           border-radius: 12px;
            width : 100%;
            padding-inline-start: 1.3rem;
            border: 1px solid $color-gray-200;
            &::-webkit-input-placeholder{font-size: 1.6rem;}
        }
        .p-inputtext{padding: .5rem 1rem;}
        
    }

    width:23rem;
    // &--sm{
    //     width:20rem;
    // }
    // &--md{
    //     width:25rem;
    // }

    
}

  
  


// ::ng-deep p-calendar{
//     background-color:#EFEFEF;border:none;height:40px;width:300px
// }




.forms{
   
    background-color: #FFFFFF;
    min-height: 70%;
    border-radius: 12px;
    .alert-success{color: green;}
    .alert-danger{ color: #B00020;}
    .form-control.ng-touched.ng-invalid{
        border: #B00020 1.65px solid ;
    }
    
    
    
    .form-select.ng-touched.ng-invalid{
        border: #B00020 1.65px solid ;
    }
    small{
        font-family: 'DIN Next LT Arabic';
        font-style: Regular;
        font-size: 14px;
      
     
    }
    label{
        font-family: 'DIN Next LT Arabic';
        font-style: Medium;
        font-size: 18px
    }
    input{
          width:70%;
         height:40px;
         background-color: #EFEFEF;
         font-size: 16px;
          font-family: 'DIN Next LT Arabic';
         color: #AFAFAF;
       border: none;
         border-radius: 10px;
         small{
            font-family: 'DIN Next LT Arabic';
            font-style: Regular;
            font-size: 14px;
          
         
        }
    }
   
        ::placeholder{
                   color: #AFAFAF;font-family: 'DIN Next LT Arabic';
                   font-style: Regular;
                   font-size: 16px;
                   
                   
    }
       

     .form-select:focus {
        border: none}

     select{
            width:70%;
            height: 40px;
            background-color: #EFEFEF;
            border-radius: 10px;
            font-family: 'DIN Next LT Arabic'; 
            color: #AFAFAF;
            box-shadow: none;
            background-position: right 90% center !important;
            border: none;
            .form-select-lg{
                font-size: 16px;
            }
         option{
            position: relative;
        
            font-family: 'DIN Next LT Arabic';
            font-style: Regular;
            font-size: 16px;
            
           
         }
        }

        ::ng-deep .inputcalend{
            height:40px;width:70%;
            border-radius: 10px;
            font-size: 8px;
            ::placeholder{  
             color: #AFAFAF;font-family: 'DIN Next LT Arabic';
             font-style: Regular;
             font-size: 16px;
             box-shadow: none;
           
           }

         }
         .p-inputtext{ font-size: 16px; }

         .p-inputtext:enabled:focus{ box-shadow: none;}
        
   
}

