.nav{

    &.nav-tabs{
        background-color: $color-gray-100;
        color: $color-gray-600;
        border-radius: 12px;
        border: none;
        display: block;

    }

    &__list{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        column-gap: 3.5rem;
        padding: 0 1rem 0;
        overflow-x: auto;
    }
    &__item{
        font-size: 2rem;
        flex-shrink: 0;
        flex-basis: max-content;
      cursor: pointer;

        &::after{
            content: '';
            display: block;
            opacity: 0;
            bottom: 0;
            left: 0;
            border-top: 3.5px solid $color-primary;
            border-radius: 8px 8px 0 0;
            transition: all .25s ease-in-out;
        }
        &.active{
            &::after{opacity: 1;}
        }

        span{ padding: 1rem .5rem; display: inline-block;}

        &:hover{
            span{ color: $color-primary; }
            &::after{
                opacity: 1;
                // display: block;
            }
        }

    }
}