
.prim-table{


    
    ::ng-deep p-table{
    
        
         div.p-datatable-wrapper{
            border: 0.5px solid $color-gray-200; 
            border-radius: 12px;
            overflow-x: auto;
        
        }
 
        
        .p-datatable-header{border: none;}
        tr:hover {background-color: $color-gray-100;}

        .p-component{ font-size: inherit; }

        thead.p-datatable-thead tr th{
            background-color: $color-primary;
            color: $color-white;
            font-family: 'DINNext';
            text-align: start;
            font-size: 1.4rem;
          
            
           

            &.actions{min-width: 4rem; text-align: end;}

            &:first-of-type {border-top-right-radius: 12px;}
     
            &:last-of-type {border-top-left-radius: 12px;}
        
            p-sorticon i{color: $color-white;}
       
            &:hover{
                background-color: $color-primary;
                color: $color-white;
                p-sorticon .p-sortable-column-icon {color: $color-white;}
            }
        }
        .p-datatable .p-datatable-header {padding: 0px;}
       
        .mediumrow{padding-right: 10rem;}
       .longrow{ padding-right: 30rem;}
        .p-datatable-tbody tr td{ 
            font-family: 'DINNext';
            padding-top: 1.5rem;
            padding-left: 0.5rem;
            text-align: start;
            border-width:  0px ;
            font-size: 1.4rem;
             &.list{text-align: end;padding-left: 1.5rem;}
          
        }
        tr:last-child td:first-child { 
            border-bottom-right-radius: 12px;
           
            
 
           }

        tr:last-child td:last-child { 
            border-bottom-left-radius: 12px;

        }


            // Table Caption
        .caption{

            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            gap: 1.6rem;

            &__filter{
                // Search box and Buttons
                &--actions{
                    display: flex;
                    column-gap: 1rem;
                }

                // Filter Box
                &--box{
                    border: 1px solid $color-gray-200;
                    padding: 1rem;
                    border-radius: 12px;
                    font-size: 1.7rem;
                }
            }

            // Import Export
            .actions{
                display: flex;
                align-items: center;
                border-radius: 100px;
                padding: .25rem 2rem;
                box-shadow: 0 0 2rem .5rem rgba(0,0,0,.08);
                height: 41px;
                margin-inline-start: auto;

                & > *{
                    display: flex;
                    align-items: center;
                }

                img{width: 1.75rem;}

                ::ng-deep .p-divider.p-divider-vertical {
                    padding: .75rem 0;
                }

            }

            // In Case filter Box displayed
            &.direction-col{
                flex-direction: column;
                align-items: stretch;

                .actions{
                    align-self: flex-end;
                }

                .caption__filter--actions{
                    align-self: flex-start;
                }
                
            }
        }



        .p-paginator{
            font-size: 1.8rem;
            border-bottom: 0;
            margin-top: 2rem;
            justify-content: flex-end;
            // .p-paginator-right-content{margin-inline-start: 0;}
            // .p-paginator-left-content{margin-inline-end: 0;}
            
            .p-paginator-right-content{margin: 0;}
            .p-paginator-left-content{margin: 0;}

            & > button.p-paginator-element{display: none;}

            .p-paginator-pages{
                margin: 0 1.5rem;
                .p-paginator-page{
                    border-radius: 5px;
                    font-size: 1.6rem;
                    
                    &.p-highlight{
                        background-color: $color-blue-100;
                        color: $color-primary;
                    }
                }
            }


            // Hide pagination For Design purpous
            height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
        }



    }



    &.light-theme{

        ::ng-deep p-table{

            div.p-datatable-wrapper{
                border: none; 
            }

            thead.p-datatable-thead tr{
                // border-radius: 12px;
            }

            thead.p-datatable-thead tr th{
                background-color: #F0F0F0;
                color: #676767;
                border: none;

                &:first-of-type {border-radius: 0 12px 12px 0;}
     
                &:last-of-type {border-radius: 12px 0 0 12px;}
            }

            .p-datatable-tbody tr td{ 
                background-color: #FAFAFA;
                color: #767676;
                font-weight: 500;
            }
                
        }


    }
   
 
 
}
