.profile{

    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    &__avatar{
        width: 9rem;
        height: 9rem;
        border-radius: 15px;
        overflow: hidden;

        &.sm{
            height: 7rem;
            width: 7rem;
        }

        img{
            width: 100%;
            object-fit: cover;
        }

    }

    &__info{

    }
    &__name{
        display: flex;
        align-items: center;
        column-gap: 2rem;
        margin-bottom: 1rem;
        h4{

            font-size: 1.9rem;
        }
        & > *{
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    &__job{

    }

    &__details{
        display: flex;
        align-items: center;
        column-gap: 3rem;
        color: #5F5F5F;
        margin-top: 1.8rem;
        font-size: 1.6rem;

        div{
            display: flex;
            align-items: center;
            column-gap: .75rem;
        }
    }
}