// .image-uploader{
    
    


//     &__box{
//         color:$color-gray-250;
//         // background-color: $color-gray-50;
//         border: 1px solid $color-gray-200;
//         border-radius: 15px;
//         padding: 3rem;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         row-gap: .7rem;
//         height: 13rem;
//         cursor: pointer;

//         .icon{
            
//             &-upload{
//                 width: 5.5rem;
//                 height: 5.5rem;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 border-radius: 50%;
//                 background-color: #F5F8FF;
//             }

//             &-close{
//                 position: absolute;
//                 top: 1rem;
//                 left: 2rem;
//                 // color: red;
//                 font-size: 1.5rem;
//                 cursor: pointer;
//             }
//         }
//         &.upload-btn{
//             .sub-title{font-size: 1.3rem;}
//         }
    
//         &.images{
//             position: relative;
//             // height: 100%;
//             img{
//                 object-fit: contain;
//                 height: 100%;
//             }
//         }
//     }

//     &.blue-theme &__box{
//         background-color:  rgba(46, 80, 163, 0.12);
//         border: 1px dashed $color-primary;
//         height: 10rem;
//     }

//     .file{

//         &__list{
//             margin-top: 1rem;

//             &__item{
//                 display: flex;
//                 align-items: center;
//                 gap: 2rem;
//                 background-color: #EFEFEF;
//                 padding: .75rem 1rem;
//                 border-radius: 10px;
//                 font-size: 1.5rem;
//                 margin-bottom: .75rem;

//                 .icon{

//                     &--delete{
//                         margin-inline-start: auto;
//                         cursor: pointer;
//                     }
//                 }
//             }
//         }
//     }


// }