.btn {
    border-radius: 12px;
    // font-weight: 700;
    padding: 0 2.5rem;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: center;
    flex-shrink: 0;
    height: 45px;
    text-align: center;

    .icon {
        margin-inline-end: 1rem;
        display: inline-block;
    }

    &--full{
        width: 100%;
    }

}

.btn-primary {
    color: #FFFFFF;
    background: #2E50A3;
    border: none;

    &:hover {
        background-color: #2E50A3;
    }

    &:focus {
        background-color: #2E50A3;
        box-shadow: none;
    }

    &:active {
        background-color: #2E50A3;
        box-shadow: none;
    }
}

.btn-outline-primary {
    color: #2E50A3;
    background: #ffff;
    border: 1px solid #2E50A3;

    &:hover {
        background-color: #2E50A3;
        color: #FFFFFF;
    }
}


.filterbtn{
    color: $color-primary;
    background-color: rgba(46, 80, 163, 0.16); 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 12px;
    width: 7rem;
    height: 3rem;
    a{
        position: relative;
        left: 0.5rem;
        font-family: 'DIN Next LT Arabic';
        font-style: Medium;
        font-size: 16px;
    }

}

.addbtn{
    background-color: #2E50A3;
    width:16.5rem;
    height:3rem;
    border-radius:8px;
    span{
        font-family: 'DIN Next LT Arabic';
        font-style: Medium;
        font-size: 16px;
    }

   
}



