::ng-deep{

    .p-dialog-content{
        .p-confirm-dialog-message{
            font-size: 2rem;
            font-family: '';

        }
        .p-dialog-header-close{
            padding-right: 5rem;
        }
    }
}