@import '../utils/variables.scss';

::ng-deep{
  
    .p-dialog{
       border-radius: 12px;
        height: 20rem;
        .p-dialog-content{
            font-family:'Droid';
            font-weight: 400;
            font-size: 1.4rem;
            .p-confirm-dialog-message{
                font-size: 1.6rem;
                font-weight: 500;
                padding-right: 1rem;
                font-family:'Droid';
    
            }
        }
      
            .p-dialog-header{
             border-top-left-radius: 12px;
             border-top-right-radius: 12px;
             .p-dialog-title{font-size: 1.6rem;font-weight:700;font-family: "Droid";margin-top: 1rem;}
            .p-dialog-header-icon{
                
            }
        }
    
        .p-dialog-footer{
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
          
            .p-button-label{font-weight: 500;font-size: 1.6rem; padding: 0.1rem 2rem;  font-family:'Droid';}
            .p-button:enabled{
                border-radius: 15px;
                margin-bottom: 1rem;
                // margin-right: 16rem;
              
                button{width: 20rem;}
            
        }
        }
    }
    }
    