
::ng-deep {
         .toast-container .ngx-toastr{
                       z-index: 20000;
                        width: 141.05rem;
                        color:#fff;
                       
                  }
                  .toast-error{
                    background-color:rgba(224, 48, 51, 0.5) ; 
                   
                  }
                  .toast-success{
                    background-color:rgba(54, 126, 60, 0.5) ; 
                  }
          .toast-message{ 
            font-size: 1.6rem;
            font-weight: 400;
            margin-right: 2rem;
            font-family: "Droid";
           
        }

           .toast-top-left{
                top:0px !important;
                left: 0px !important;
        }
}
