.all {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;

    .files {
        width: 74px;
        background: #FFFFFF;
        border: 1px solid #EFEBEB;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 2px 0px 6px 0;

        a {
            margin: 4px;
        }
    }
}
