
<ng-container *permit="ClaimsEnum.S_C_Survey">
         <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/educational-settings/surveys/new-survey'" [content]="'breadcrumb.createNewSurvey'"></app-add-btn>
</ng-container>



    <div class="prim-table" *ngIf="surveyList.totalAllData|| surveyList.loading">
        <p-table #dt [lazy]="true" [value]="surveyList.list" (onSort)="onSort($event)" [scrollable]="true">


            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <app-table-caption (onExport)="onExport($event)" (onFilter)="getSurveyList()" (onSearch)="filtration.KeyWord = $event; getSurveyList()" (onClear)="clearFilter()">

                    <div class="row gx-5 form-set">
                        <div class="col-lg-4">
                            <label class="label" for="day"> {{'surveys.surveyType'|translate }} </label>
                            <p-dropdown [options]="surveyType" [showClear]="true" StopProp [(ngModel)]="filtration.SurveyType" optionLabel="name" optionValue="value" placeholder="{{'surveys.surveyTypechoices'|translate }}"></p-dropdown>
                        </div>
                        <div class="col-lg-4">
                            <label class="label" for="curriculum">{{'surveys.surveyStatus'|translate }}  </label>
                            <p-multiSelect [options]="surveyStatus" display="chip"  [(ngModel)]="filtration.SurveyStatus"  optionLabel="name" optionValue="value" placeholder="{{'surveys.Select surveyType'|translate }}"></p-multiSelect>
                        </div>
                    </div>
                </app-table-caption>

            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="SurveyNumber" class="lg">
                        <p-sortIcon field="SurveyNumber"></p-sortIcon>{{'surveys.surveyNumber' | translate}}
                    </th>

                    <th pSortableColumn="{{lang=='ar' ? 'ArabicTitle' : 'EnglishTitle'}}" class="lg">
                        <p-sortIcon field="title.ar"></p-sortIcon>{{'surveys.surveyAddress' | translate}}
                    </th>

                    <th pSortableColumn="SurveyType" class="md">
                        <p-sortIcon field="surveyType"></p-sortIcon>{{'surveys.surveyType' | translate}}
                    </th>

                    <th   pSortableColumn="UserName" class="lg"><p-sortIcon  field="userName.ar" >
                        </p-sortIcon>{{'Subjects.Created by'|translate}}
                    </th>

                    <th pSortableColumn="TargetGuardians" class="min">
                        <p-sortIcon field="targetGuardians"></p-sortIcon>{{'surveys.targets' | translate}}
                    </th>

                    <th pSortableColumn=" ResponsesTotalNumber" class="min">
                        <p-sortIcon field="responsesTotalNumber"></p-sortIcon>{{'surveys.responses' | translate}}
                    </th>
                    <th pSortableColumn="SurveyStatus" class="md">
                        <p-sortIcon field="surveyStatus"></p-sortIcon>{{'surveys.surveyStatus' | translate}}
                    </th>
                    <th  class="actions--lg" pSortableColumn="CreatedDate"><p-sortIcon  field="createdDate">
                         </p-sortIcon>{{'shared.Created Date'|translate}}
                    </th>
                    <th  class="actions--lg" pSortableColumn="DisAppearanceDate"><p-sortIcon  field="disAppearanceDate">
                    </p-sortIcon>{{'shared.End Date'|translate}}
                    </th>
                    <th alignFrozen="left" pFrozenColumn [frozen]="true" class="actions"></th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td class="lg">{{product.surveyNumber}}</td>
                    <td class="lg">{{product.title| currentLang}}</td>
                    <td class="md">
                        <span *ngIf="product.surveyType==StatusEnum.Mandatory">{{'surveys.mandatory'| translate}}</span>
                        <span *ngIf="product.surveyType==StatusEnum.Optional">{{'surveys.optional'| translate}}</span>
                    </td>
                    <td class="lg">{{product.userName|currentLang}}</td>
                    <td class="min">{{product.targetGuardians}}</td>
                    <td class="min">{{product.responsesTotalNumber}}</td>

                    <td class="md">
                        <div class="d-flex align-items-center">
                            <div [ngSwitch]="product.surveyStatus">
                                <div class="alerting primary" *ngSwitchCase="StatusEnum.Draft"> {{'surveys.'+StatusEnum.Draft| translate}}</div>
                                <div class="alerting success" *ngSwitchCase="StatusEnum.Sent "> {{'surveys.'+StatusEnum.Sent | translate}}</div>
                                <div class="alerting danger" *ngSwitchCase="StatusEnum.Closed "> {{'surveys.'+StatusEnum.Closed | translate}}</div>
                                <div class="alerting secondary" *ngSwitchCase="StatusEnum.Apparent "> {{'surveys.'+StatusEnum.Apparent | translate}}</div>
                                <div class="alerting dark" *ngSwitchCase="StatusEnum.Canceled "> {{'surveys.'+StatusEnum.Canceled | translate}}</div>
                            </div>

                        </div>
                    </td>
                    <td>{{product.createdDate| LocalizeDate}}</td>
                    <td >
                        <span *ngIf="product.surveyStatus==StatusEnum.Sent||product.surveyStatus==StatusEnum.Apparent">{{product?.disAppearanceDate| LocalizeDate}}</span>
                        <span *ngIf="product.surveyStatus==StatusEnum.Draft">{{'surveys.NotDeterminedYet'| translate}}</span>
                        <span *ngIf="product.surveyStatus==StatusEnum.Closed">{{'surveys.Finished'| translate}}</span>
                        <span *ngIf="product.surveyStatus==StatusEnum.Canceled">{{'surveys.Closed'| translate}}</span>
                    </td>
                    <td pFrozenColumn [frozen]="true">
                        <div role="button" class=" d-flex gap-3 justify-content-end align-items-center mx-4" routerLink="/educational-settings/surveys/Survey/{{product.id}}">
                            <span class="color-skyBlue-400">{{'shared.details'|translate}}</span>
                            <img  [class.rotate180]="lang=='en'" src="assets/images/shared/left-arrow.svg" alt="">
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>

                <tr>

                    <td [attr.colspan]="20 " class="search">
                        <ng-container *ngIf="surveyList.totalAllData && surveyList.list.length == 0 &&  !surveyList.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}} " src="assets/images/empty-list/empty-list.svg "></app-informative-block>
                        </ng-container>
                        <app-loader></app-loader>
                    </td>

                </tr>

            </ng-template>
        </p-table>


        <div *ngIf="paginationState.rows<surveyList.total">
            <app-pagination [currentPage]="filtration.Page" [totalItems]="surveyList.total" (paginationChanged)="onTableDataChange($event) ">
            </app-pagination>
        </div>

    </div>
    <!-- emptymessage -->
    <ng-container *ngIf="!surveyList.totalAllData && !surveyList.loading">
        <app-informative-block title="{{ 'emptyList.Survey List is empty' |translate}} " src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>

