@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/primng-table';
@import '../../../../../../../assets/css/components/nav-tabs';
// &__section{
//     min-height: 50rem;
//     padding: 9rem 6rem 3rem;
.info {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    .row {
        margin-bottom: 5rem;
    }
    p,
    h4 {
        font-size: 1.8rem;
    }
}

.notes {
    position: absolute;
    width: 1207px;
    height: 122px;
    // left: 124px;
    top: 771px;
    background: #F8FAFB;
    padding: 1.5rem;
    border-radius: 0px 0px 15px 15px;
}

span.HealthProfile {
    font-size: 14px;
    font-weight: 700;
}

// .icon {
//     color: #F8FAFB;
// }
.edit {
    border-radius: 77%;
    padding: 1rem;
    background-color: #3052A1;
}

.absence {
    .card {
        height: 25rem;
        // border: 1px solid $color-gray-200;
        border-radius: 12px;
        flex-grow: 1;
        overflow: hidden;
        .number {
            font-size: 4.5rem;
            font-weight: 700;
        }
        &__body {
            display: flex;
            align-items: flex-start;
            column-gap: 1rem;
            padding: 1.75rem;
            flex-grow: 1;
            .user {
                padding: 1.5rem;
                border-radius: 50%;
            }
            .text {
                margin-inline-end: auto;
                font-size: 1.8rem;
                font-weight: 500;
            }
        }
        &__footer {
            padding: 1rem;
            // color: #fff;
            font-weight: 500;
            font-size: 1.8rem;
        }
        &--attendance {
            .user {
                background-color: rgba($color-skyBlue, .12);
            }
            // .number{ color: $color-skyBlue;}
            // .footer{background-color: $color-skyBlue;}
        }
        &--absence {
            .user {
                background-color: $color-orange-100;
            }
            // .number{ color: $color-orange;}
            // .footer{background-color: $color-orange;}
        }
    }
}
