<!-- -----BreadCrumb-- -->
<div class="custom-breadcrumb my-4">
    <ul class="d-flex align-items-center">
        <li>
            <fa-icon class="p-0" [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </li>
        <li>
            <p>{{'Assignments List' | translate}}</p>
        </li>
        <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <p>{{'Upload Assignment' | translate}}</p>
        </li>
    </ul>
</div>
<!-- -------------- -->
<div class="buttons">
    <button class="back-btn">
        <img src="assets/images/back.svg" alt="">
    </button>
    <button class="form-save">
        <img src="assets/images/checked.svg" alt="">
        {{'save' | translate}}
    </button>
</div>

<!-- ---------------- -->

<div class="whole-form">
    <form class="forms">
        <div class="form-group">
            <label for="">
                {{'School' | translate}}
            </label>
            <div class="filter-school">
                <select style="width:100%" class="form-select" aria-label="Default select example">
                    <option selected>{{'Sharjah Primary School for Special Education' | translate}}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button class="filterbtn">
                    <img src="assets/images/Frame.svg" alt="">
                </button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Class' | translate}}
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{'Choose Class' | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Subject' | translate}}
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{'Choose Subject' | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam name' | translate}}
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>{{'Write Exam name' | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam duration (in minutes)' | translate}}
                    </label>
                    <input class="form-control" type="text" placeholder="{{'Minute' | translate}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam date' | translate}}
                    </label>
                    <div class="field col-12 md:col-4">
                        <p-calendar name="cal2" [inputStyle]="{'background-color':'#EFEFEF','border':'0px'}"
                            styleClass="clanderSpan" placeholder="    dd/mm/yy" Calss="calenderinput"
                            [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <fa-icon [icon]=" calendericon " class=" calendericon ms-1 "></fa-icon>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'School' | translate}}
                    </label>
                    <input class="form-control" type="time">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 files-upload">
                <h5>{{'Exam questions in both paper and audio formats' | translate}}</h5>
                <app-file-upload></app-file-upload>
            </div>
        </div>
    </form>

</div>