
<div  style="overflow-x: hidden;">
     
    <div class="d-flex ">
   
    <div id="content" >
     
      <div class="actions d-flex align-items-center gap-3 mb-5 mt-3">
        <app-back [route]="'/dashboard/educational-settings/Assessments/View-Assements-List'"></app-back>
        <button class="btn btn-primary btn--sm">
            <fa-icon class="icon" [icon]="righticon"></fa-icon>
            <span routerLink=''>{{'shared.save'| translate}} </span>
        </button>
      </div>
    
  
      
          <div class="container mt-5 custom-form" style="margin-bottom: 20rem;">
              <form [formGroup]=" AssesmentFormgrp" class="container-fluid " >
                  <div class="mb-5 row " >
                      <div class="col-xs-2 col-lg-4" >
                          <label for="PID" class="label"><b>{{'dashboard.Assessment.AssessmentName'|translate}}</b></label>
                          <input type="text" pInputText formControlName="AssesmentName" class="form-control"  name="PID" id="PID" placeholder="{{'dashboard.Assessment.Write AssessmentName'|translate}}"> 
                      <div>
                          <div [hidden]="AssesmentName.valid || AssesmentName.untouched">
                              <small *ngIf="AssesmentName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                             
                              <small *ngIf="AssesmentName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                  {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                  <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                           </div>
                              
                          </div>
                     
                         
                      </div>
                      <div class="col-xs-2 col-lg-4">
                         
                        <label for="PID2" class="label"><b>{{'dashboard.Assessment.Maximum Degree'|translate}}</b></label>
                        <input type="text" pInputText formControlName="MaximumDegree" class="form-control " placeholder="{{'dashboard.Assessment.Write Maximum Degree'|translate}}" name="PID2" id="PID2"> 
                        
                          <div [hidden]="MaximumDegree.valid ||  MaximumDegree.untouched">
                              <small *ngIf="MaximumDegree.errors?.['required']"   class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                              <small *ngIf="MaximumDegree.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Assessment.Degrees must be more than or equal Zero'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                             
                              
                        
                           </div>
          
                              
                          
                       
                    </div>
                    <div class="col-xs-2 col-lg-4">
                      
                      <label for="PID3" class="label"><b>{{'dashboard.Assessment.Minmum Degree'|translate}}</b></label>
                      <input type="text" pInputText formControlName="MinmumDegree"  class="form-control " placeholder="{{'dashboard.Assessment.Write Minmum Degree'|translate}}"  name="PID3" id="PID3"> 
                      
                          <div [hidden]="MinmumDegree.valid || MinmumDegree.untouched">
                              <small *ngIf="MinmumDegree.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                              <small *ngIf="MinmumDegree.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Assessment.Degrees must be more than or equal Zero'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                           </div>
          
                              
                      
                     
                  </div>
                     
                  </div>
                
                      <div class="d-flex mb-3">
                         <b>{{'dashboard.Assessment.AssessmentTable'|translate}}</b>
                         <hr id="assessmentline">
                    </div>
               
                    <div class="mb-3 row ">
                        <div class="col-xs-4 col-lg-4">
                            <label for="PID8" class="label"><b>{{'dashboard.Assessment.Assessment'| translate}}</b></label>
                              <p-dropdown [options]="cities"  formControlName="Assessment" placeholder="{{'dashboard.Assessment.Select Assessment'| translate}}" name="PID8" id="PID8" class="form-control prime-formcontrol selectcontrol"  ></p-dropdown>
                           
                            <div>
                                <div [hidden]="Assessment.valid || Assessment.untouched">
                                    <small *ngIf="Assessment.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                    </small>
                                   
                                 </div>
                                    
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-4">
                             
                            <label for="PID7" class="label"><b> {{'dashboard.Assessment.Deserving Degrees'| translate}}</b></label>
                 
                            <div class="p-inputgroup">
                                <input type="text" pInputText formControlName="DeservingDegreesFrom"  class="form-control inputgroupfrom " placeholder="{{'dashboard.Assessment.From'| translate}}"  name="PID7" id="PID7"> 
                               
                                <input type="text" pInputText formControlName="DeservingDegreesTo"  class="form-control inputgroupto " placeholder="{{'dashboard.Assessment.To'| translate}}"  name="PID7" id="PID7">   
                                  
                            </div>
                             
                          
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <label for="PID8" class="label"><b>{{'dashboard.Assessment.succeeded'| translate}}/{{'dashboard.Assessment.Try again'| translate}}</b></label>
                              <p-dropdown [options]="cities"  formControlName="Status" placeholder="{{'dashboard.Assessment.succeeded'| translate}}" name="PID8" id="PID8" class="form-control prime-formcontrol selectcontrol"  ></p-dropdown>
                           
                           
                                <div [hidden]="Status.valid || Status.untouched">
                                    <small *ngIf="Status.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                    </small>
                                   
                                 </div>
                                    
                        
                        </div>
                     
                    </div> 
         
              
                 
              </form>
            </div>                   
     
    </div>
  </div>
  
  </div>

