@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import'src/assets/css/components/LargeForm';

#content{
    width: 100%;
  
}

#assessmentline{
   
   margin-right: 0.8rem;
    width:86%;
    color:#cecbcb;
    
   }
