@import 'src/assets/css/utils/variables.scss';
.custom-validation-form{
   
    border-radius: 12px;
    padding-top: 4rem;
    padding-bottom: 8rem;
    input{
       
        border-radius: 15px !important;
        &.basicinput{height: 57px;}
        &.inputgroupfrom{border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;border-left: 2px solid #D1D1D1 !important;}
        &.inputgroupto{border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important}
        &.p-inputtext{
        
            border:0.1px solid  #d8d8d8 ;
            box-shadow: none;
           
        }
        
    }

    .alert-danger{ color: #EF525B;}
    .form-control.ng-touched.ng-invalid{
        border-radius: 16px !important;
        box-shadow:inset 0 0 0 1px #EF525B, inset 0 0 0 1px #EF525B, inset 0 0 0 1px #EF525B, inset 0 0 0 1px #EF525B !important;
        &.inputgroupfrom{border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important}
        &.inputgroupto{border-bottom-right-radius: 0px !important;border-top-right-radius: 0px !important}
    }

    

    .form-control{
        border: none;  
}
::ng-deep{
    input{&.p-inputtext:focus{box-shadow: none;border: none;}}
    p-dropdown{
 
        .p-dropdown{
            box-shadow: none; 
           
            
        }
    }
    
    .p-inputwrapper-focus{
        .p-inputnumber{
            border: none; 
        }
        .p-password{box-shadow: none;border: none;}

        .p-multiselect{box-shadow: none;border: none;}
    }

    p-calendar{
        
        .p-calendar{
            border:0.1px solid  #d8d8d8 !important;
            background-color: #fff ;
            box-shadow: none; 
        }
    }

    p-password{
        &.ng-invalid.ng-dirty > .p-password > .p-inputtext{border:none;}
        &.ng-dirty.ng-invalid .p-password input.p-inputtext:focuS{box-shadow:none;}
       
            i{left:14px;}
        
    }
    .p-chips{ box-shadow: none; }
}


}