<p-paginator 
[rows]="rows" 
[first]="first"
[pageLinkSize]="3"
[totalRecords]="totalItems" 
[templateLeft]="templateLeft" 
[templateRight]="templateRight"
[showCurrentPageReport]="true"
currentPageReportTemplate="عرض العناصر من {first} الى {last} من اصل {totalRecords} من العناصر"
(onPageChange)="onPageChange($event)"></p-paginator>

<ng-template #templateLeft let-state>
    <button [disabled]="isFirstPage()" 
    (click)="prev(state)" 
    class="color-gray-400 bg-transparent border-0 " 
    type="button" 
   >السابق</button>

</ng-template>

<ng-template #templateRight let-state>
    <button 
    [disabled]="isLastPage()" 
    (click)="next(state)" 
    class="color-gray-400 bg-transparent border-0 " 
    type="button" 
    >التالى</button>

</ng-template>