<app-header></app-header>

<div class="home-page container-lg px-5 px-lg-0">
    <ng-container *ngIf="userType != userEnum.U_PARENTS">
        <div class="title text-center" *ngIf="userEnum.U_SHARJAH_AUTHORITY === userType">
            <h1 class="heading heading--primary">الصفحة الرئيسية لموظف هيئة الشارقة للتعليم الخاص </h1>
            <p class="paragraph paragraph--lg">موظف هيئة الشارقة للتعليم الخاص يقوم بتحكم وادارة العلاقات مع المدارس التابعة لهيئة الشارقة</p>
        </div>
        <div class="title text-center" *ngIf="userEnum.U_SCHOOL === userType">
            <h1 class="heading heading--primary">الصفحة الرئيسية لموظف مدرسة الاهلية  </h1>
            <p class="paragraph paragraph--lg">موظف مدرسة الاهلية التابعة لهيئة الشارقة للتعليم الخاص</p>
        </div>

        <div class="search w-50">
            <div class="p-inputgroup">
                <input type="text" class="rounded-4 p-3" pInputText placeholder="بحث...">         
                <button type="button" class="rounded-4" pButton pRipple icon="pi pi-search"></button>
            </div>
        </div>
    </ng-container>
    <router-outlet></router-outlet>
</div>