<div class="prim-table mt-4" *ngIf="holidays.totalAllData || holidays.loading">
    <!-- <div class="color-red-500 mb-4" *ngIf="currentUserScope==userScope.Employee">{{'AnnualHoliday.you can request to edit flexible holiday only'|translate}}</div> -->
    <p-table  [lazy]="true" [value]="holidays.list" (onSort)="onSort($event)" >
        <ng-template pTemplate="caption">
            <app-table-caption
            [seachKeyword]="filtration.KeyWord"
            (onExport)="onExport($event)"
            (onFilter)="this.filtration.Page=1;getHolidays()"
            (onSearch)="this.filtration.Page=1;filtration.KeyWord = $event; getHolidays()"
            (onClear)="clearFilter()">
            <div class="row gx-5 form-set">
                <div class="col-md-3">
                    <label class="label" for="flexibilityStatus">{{'AnnualHoliday.Holiday Status'|translate }}  </label>
                    <p-dropdown [options]="holidayStatusList" StopProp [showClear]="true" optionLabel="name" optionValue="value" [(ngModel)]="filtration.flexibilityStatus" inputId="flexibilityStatus"  placeholder="{{'AnnualHoliday.Select Holiday Status'|translate }}"></p-dropdown>

                </div>

            </div>
        </app-table-caption>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="{{lang=='ar' ? 'AnnualCalenderAr' : 'AnnualCalenderEn'}}"> <p-sortIcon field="{{lang=='ar' ? 'AnnualCalenderAr' : 'AnnualCalenderEn'}}"></p-sortIcon>{{'schools.annulCalendarName' |translate}}</th>
                <th pSortableColumn="Year"><p-sortIcon field="Year"></p-sortIcon>{{'schools.SchoolYear' |translate}} </th>
                <th pSortableColumn="{{lang=='ar' ? 'HolidayArabicName' : 'HolidayEnglishName'}}"><p-sortIcon field="{{lang=='ar' ? 'HolidayArabicName' : 'HolidayEnglishName'}}"></p-sortIcon>{{'schools.holidayName' |translate}} </th>
                <th pSortableColumn="DateFrom"><p-sortIcon field="DateFrom"></p-sortIcon>{{'AnnualHoliday.HolidayStartDate' |translate}} </th>
                <th pSortableColumn="DateTo"><p-sortIcon field="DateTo"></p-sortIcon>{{'AnnualHoliday.HolidayEndDate' |translate}} </th>
                <th pSortableColumn="CreatedDate"><p-sortIcon field="CreatedDate"></p-sortIcon>{{'shared.Created Date' |translate}} </th>
                <th class="expand"  pSortableColumn="FlexibilityStatus"><p-sortIcon  field="FlexibilityStatus" ></p-sortIcon>{{'AnnualHoliday.Holiday Status'|translate}}</th>
                <th class="actions"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-holiday>
            <tr>
                <td>{{holiday?.annualCalendarName|currentLang}}</td>
                <td>{{holiday?.year}}</td>
                <td>{{holiday?.name |currentLang}}</td>
                <td>{{holiday?.dateFrom | toLocalDate:'YYYY-MM-DD'| LocalizeDate:'d MMMM y'}}</td>
                <td>{{holiday?.dateTo | toLocalDate:'YYYY-MM-DD'| LocalizeDate:'d MMMM y'}}</td>
                <td>
                    {{holiday?.createdDate | toLocalDate:'YYYY-MM-DD'| LocalizeDate:'d MMMM y'}}
                </td>
                <td  >
                    <div class="d-flex align-items-center gap-4">

                        <div *ngIf="holiday?.flexibilityStatus==statusEnum.Flexible" class='alerting success'>{{'shared.allStatus.Flexible'|translate}}</div>
                        <div *ngIf="holiday?.flexibilityStatus==statusEnum.NotFlexible" class='alerting danger'>{{'shared.allStatus.NotFlexible'|translate}}</div>
                    </div>
                </td>
                <td class="actions">

                    <ng-container *ngIf="currentUserScope==userScope.Employee">

                        <div role="button" class=" color-skyBlue-500 d-flex align-items-center gap-3 justify-content-end mx-4 "
                        [ngClass]="holiday.flexibilityStatus==statusEnum.Flexible ? '':'my-disable'" (click)="editFlexableHoliday(holiday)"  *permit="claimsEnum.E_EditFlexableHoliday">
                            {{'schools.sendEditHolidayReq'|translate}}
                        </div>
                    </ng-container>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="holidays.totalAllData && holidays.list.length == 0 &&  !holidays.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>


    </p-table>

    <div *ngIf="holidays.total > paginationState.rows">
        <app-pagination [currentPage]="filtration.Page" [totalItems]="holidays.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
</div>

<ng-container *ngIf="!holidays.totalAllData && !holidays.loading">
    <app-informative-block subTitle="{{'emptyList.AnnualHoliday List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>





<!-- <p-dialog [(visible)]="openHolidaytModel" [closable]="!reqInstance" [modal]="true" [style]="{width: '48vw',height:'83vh', fontSize:'2rem'}">
    <ng-template pTemplate="header">
        <div class="">
            <div class="fw-bold fs-3">{{'schools.editHolidayReq' | translate}}</div>
            <div class="paragraph paragraph--sm color-gray-200 mt-2">
                يرجى تحديد تاريخ بداية الاجازة المرنة وتاريخ نهاية الاجازة المرنة بحيث لا تتجاوز عدد أيام العطلة عدد الأيام المحددة مُسبقاً من قبل هيئة الشارقة للتعليم الخاص
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <app-workflow [steps]="[{ar:'موافقة الهيئة', en:'Spea Approval'}]"></app-workflow>

        <div class="details">

            <div class="custom-form">
                <form class="custom-form" [formGroup]="editHolidayForm">
                    <div class="row gx-5 form-set">
                        <div class="col-md-6">
                            <label class="label"  for="password">{{'shared.dateFrom' | translate}}</label>
                            <p-calendar formControlName="dateFrom" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="--/--/--"></p-calendar>
                        </div>

                        <div class="col-md-6">
                            <label class="label"  for="password">{{'shared.dateTo' | translate}}</label>
                            <p-calendar
                            [ngClass]="{'ng-invalid ng-dirty': holidayForm.dateTo.errors && holidayForm.dateTo.errors?.['not']}"
                            formControlName="dateTo"
                            [style]="{'font-size': '1.6rem'}" icon="pi pi-clock"
                            [showIcon]="true" placeholder="--/--/--"></p-calendar>

                            <div class="errors" *ngIf="holidayForm.dateTo.invalid && (holidayForm.dateTo.dirty)">
                                <div class="color-red-500" *ngIf="holidayForm.dateTo.errors?.['not']">تاريخ النهاية يجب أن يكون مساوي أو بعد تاريخ البداية</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col">
                            <label class="label">{{'shared.cause' | translate}}</label>
                            <textarea pInputTextarea formControlName="description" placeholder="{{'shared.cause' | translate}}" [required]="true"></textarea>
                        </div>
                    </div>
                    <div class="py-5"></div>

                    <div class="d-flex  align-items-center justify-content-end mt-6"  *ngIf="!reqInstance" >
                        <button class="btn btn-primary btn--md" (click)="updateFlexableHoliday()" [disabled]="editHolidayForm.invalid || submitted">
                            <span>{{'shared.send'| translate}} </span>
                            <div class="spinner-border text-light" role="status" *ngIf="submitted"></div>
                        </button>
                    </div>

                    <div class="d-flex  align-items-center justify-content-end mt-6" *ngIf="reqInstance" >
                        <button class="btn btn-primary "
                        [disabled]="editHolidayForm.invalid || submitted"
                        *ngFor="let action of actions"
                        (click)="resendFlexabelHolidayReq(action.id)">

                            <div class="spinner-border text-light" role="status" *ngIf="submitted"></div>
                            <span>{{action.title | currentLang}}</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-template>
</p-dialog> -->

<app-flexable-holiday-form
*ngIf="openHolidayModel"
[isOpen]="openHolidayModel"
mode="edit"
[selectedHoliday]="selectedHoliday"
[schoolId]="schoolId"
(onModelClosed)="onClose()"
></app-flexable-holiday-form>
