<div class="main-message-header dashboard d-flex justify-content-between">
    <div class="left d-flex align-items-center ">

<button class=" btn  custom-btn px-4 mx-3" routerLink='/dashboard/messages/messages' >{{'dashboard.Messages.close the conversation' | translate}}</button>
        <button class="btn btn-primary" (click)="showDialog()">{{'dashboard.Messages.Send Reply' | translate}}</button>
        
        
        <p-dialog header="{{'dashboard.Messages.Send Reply' | translate}}" [draggable]="false" [resizable]="false" [modal]="true"
            [(visible)]="display" [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">
            <form [formGroup]="replayForm">
            <div class="custom-form">
                
                <div class="form-group">
                    <label for="">{{'dashboard.Messages.Enter the text of the message' | translate}}</label>
                    <textarea class="form-control" formControlName="messegeText" placeholder="{{'dashboard.Messages.Enter the text of the message' | translate}}" rows="5" cols="30" pInputTextarea></textarea>
                    <div class="text-danger"
                     *ngIf="replayForm.get('messegeText')?.touched && replayForm.get('messegeText')?.invalid && replayForm.get('messegeText')?.errors">
                     <small *ngIf="replayForm.get('messegeText')?.errors?.['required']">{{'dashboard.Messages.descriptionMessage' | translate}}</small>
                     <small *ngIf="replayForm.get('messegeText')?.errors?.['maxlength']">{{'dashboard.Messages.maxLength' | translate}}</small>
            </div>
                </div>

                <div class="image-uploader__upload upload-btn">

                    <!-- <p-fileUpload (uploadHandler)="onFileUpload($event)" name="demo[]" customUpload="true" (onUpload)="onUpload($event)" multiple="multiple">

                        <ng-template pTemplate="content">

                            <ul *ngIf="uploadedFiles.length">

                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>

                            </ul>

                        </ng-template>

                    </p-fileUpload> -->
                    <app-file-upload view="full" (onFileUpload)="messageUpload($event)" (onFileDelete)="messageDeleted($event)"></app-file-upload>

                </div>  
            </div>

                <button (click)="sendReply()" [disabled]="replayForm.invalid" style="float: left;" class="btn btn-primary"> {{'dashboard.Messages.Send' | translate}}</button>
           
        </form>
        </p-dialog>
    </div>

</div>

<div id="main-message-content">
    <div class="d-flex group ">
        <div class="myInput myInput--md myInput--search p-input-icon-left  ">
            <i class="pi pi-search fs-3"></i>
            <input class="input rounded-4" type="text" pInputText placeholder="{{'Search...' | translate}}" />
        </div>
    </div>
</div>

<div class="messages">

    <div class="title">
        <p class="title-Message">{{'dashboard.Messages.title message' | translate}}</p>
        <p class="time">قبل ساعتين</p>
    </div>

    <ng-container *ngFor="let message of messagesDetails">
    <div class="first-message">
        <p class="title">{{ message.person1.UserName }}</p>
        <div class="body-content">
            <p>{{ message.person1.Description }}</p>
            <p class="time">{{message.person1.CreatedDate}}</p>
        </div>
    </div>
    <div class="second-message">
        <p class="title">{{ message.person2.UserName }}</p>
        <div class="body-content">
            <p>{{ message.person2.Description }}</p>
            <p class="time">{{message.person2.CreatedDate}}</p>
        </div>
    </div>
</ng-container>
</div>