
<ng-container *ngIf="!allowToEditIdentityInfo || !(childService.onEditMode$ | async)">
    <ng-container *ngIf="(student$ |async) as student">
        <div class="grid-container">
            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.studentName'|translate }}</p>
            <span class="color-primary mb-2">{{student.name |currentLang}}</span>

            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.studentNickname'|translate }}</p>
            <span class="color-primary mb-2">{{student.surname |currentLang}}</span>

            <p class="color-gray-300 fs-4">{{'shared.birthDay'|translate }}</p>
            <span class="color-primary mb-2">{{student.birthDate |LocalizeDate}}</span>

            <p class="color-gray-300 fs-4">{{ 'shared.gender'|translate }}</p>
            <span class="color-primary mb-2" *ngIf="student?.gender=='Female'">{{'shared.genderType.Female'|translate}}</span>
            <span class="color-primary mb-2" *ngIf="student?.gender=='Male'">{{'shared.genderType.Male'|translate}}</span>

            
            <p class="color-gray-300 fs-4">{{ 'shared.religion'|translate }}</p>
            <span class="color-primary mb-2">{{student?.religion?.name |currentLang}}</span>
            
            <p class="color-gray-300 fs-4">{{ 'shared.nationality'|translate }}</p>
            <span class="color-primary mb-2">{{student.nationality?.name |currentLang}}</span>
            <!-- 
            <p class="color-gray-300 fs-4">{{'shared.nationalId'|translate }}</p>
            <span class="color-primary mb-2">2002/07/04</span>
        
            <p class="color-gray-300 fs-4">{{ 'shared.nationalIdExpireDate'|translate }}</p>
            <span class="color-primary mb-2">مصرى</span> -->
                
        </div>
    </ng-container>
</ng-container>



<ng-container *ngIf="allowToEditIdentityInfo &&(childService.onEditMode$ | async)">
    <div class=" custom-form" [formGroup]="studentForm">         
        <div class="form-set " formGroupName="name">
            <label class="label">{{'dashboard.students.studentName'|translate}}</label>
            <input type="text" formControlName="ar"  pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
        </div>
    
        <div class="form-set" formGroupName="surname">
            <label class="label">{{'dashboard.students.studentNickname'|translate}}</label>
            <input type="text" formControlName="ar" pInputText placeholder="{{'dashboard.students.studentNickname'|translate}}" />
        </div>
    
        <div class="form-set">
            <label class="label">{{'shared.birthDay'|translate}}</label>
            <p-calendar formControlName="birthDate" useUtc dateFormat="DD dd-mm-yy" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
        </div>
    
        <div class="form-set">
            <label class="label">{{'shared.gender'|translate}}</label>
            <p-dropdown formControlName="gender" [options]="genderOptions" optionValue="value" optionLabel="name"></p-dropdown>
        </div>
    
        
        <div class="form-set">
            <label class="label">{{'shared.religion'|translate}}</label>
            <p-dropdown formControlName="religionId" [options]="religions$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeReligion' |translate}}"></p-dropdown>
        </div>
        
        <div class="form-set" >
            <label class="label">{{'shared.nationality'|translate}}</label>
            <p-dropdown 
            [filter]="true"
            filterBy="{{lang=='ar'? 'name.ar' : 'name.en'}}"
            formControlName="nationalityId" [lazy]="true" [options]="countries$ |async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}"></p-dropdown>
        </div>
    
    </div>
</ng-container>
