

<div class="survey-report" >

    <div class="survey-report__content my-5 radius-12 box-shadow custom-form" *ngIf="survey?.responsesCount&&survey">
        <div class="report mb-5">
            <div class="row gx-5">

                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'surveys.questions numbers'| translate}}</p>
                        <span class="color-primary">{{survey?.questionsCount}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'surveys.answers numbers'| translate}}</p>
                        <span class="color-primary">{{survey?.responsesCount}}</span>

                    </div>
                </div>
                <div class="col-4">
                    <div class="grid-container gap-5">
                        <p class="color-gray-300">{{'surveys.Percentge'| translate}}</p>
                        <div class="d-flex w-75" *ngIf="survey?.responsePercentage<=20">
                            <p-progressBar id="optionA" [value]="survey?.responsePercentage"></p-progressBar>
                           {{survey?.responsePercentage}} %
                      </div>
                      <div class="d-flex w-75" *ngIf="survey?.responsePercentage>20&&survey?.responsePercentage<=50">
                        <p-progressBar id="optionB" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                     </div>
                     <div class="d-flex w-75" *ngIf="survey?.responsePercentage>50&&survey?.responsePercentage<=80">
                        <p-progressBar id="optionC" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                     </div>
                     <div class="d-flex w-75" *ngIf="survey?.responsePercentage>80">
                        <p-progressBar id="optionD" [value]="survey?.responsePercentage"></p-progressBar>
                        {{survey?.responsePercentage}} %
                      </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row mb-3" *ngFor="let item of survey?.surveyQuestionReport; let i = index">
         <ng-container  *ngIf="item.questionType==QuestionsTypeEnum.SurveyMultiChoiceQuestion || item.questionType==QuestionsTypeEnum.SurveyRateQuestion">
            <div class="surveyQuestions2">
           <div class="row">
            <div class="col-md-6" >
                <div class="grid-container gap-5">
                    <p class="color-gray-300 fs-4">{{'surveys.questionText'| translate}} ({{i+1}})</p>
                    <span class="color-primary mb-2 fs-3"> {{item.questionText|currentLang}} </span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="grid-container gap-5">
                    <p class="color-gray-300 fs-4">{{'surveys.questionType'| translate}}</p>
                    <span class="color-primary mb-2 fs-3">
                        {{'surveys.'+item.questionType| translate}}
                       
                    </span>
                </div>

            </div>
          </div>
            <div class="row mt-5" *ngIf="item.questionType==QuestionsTypeEnum.SurveyMultiChoiceQuestion">
                <div  class="col-lg-3 mb-5" *ngFor="let element of item.choicesPercentage; let j = index">
                        <span class="d-inline" >
                            <label class="label "><span class="color-primary mt-2">{{element.choice|currentLang}}</span></label>
                          
                            <div class="d-flex w-75" *ngIf="element?.choicePercentage<=20">
                                <p-progressBar id="optionA" [value]="element?.choicePercentage"></p-progressBar>
                                {{element?.choicePercentage}} %
                          </div>
                          <div class="d-flex w-75" *ngIf="element?.choicePercentage>20&&element?.choicePercentage<=50">
                            <p-progressBar id="optionB" [value]="element?.choicePercentage"></p-progressBar>
                            {{element?.choicePercentage}} %
                         </div>
                         <div class="d-flex w-75" *ngIf="element.choicePercentage>50&&element?.choicePercentage<=80">
                            <p-progressBar id="optionC" [value]="element?.choicePercentage"></p-progressBar>
                            {{element?.choicePercentage}} %
                         </div>
                         <div class="d-flex w-75" *ngIf="element.choicePercentage>80">
                            <p-progressBar id="optionD" [value]="element?.choicePercentage"></p-progressBar>
                           {{element?.choicePercentage}} %
                          </div>
                        </span>
                        
                </div>
              
             
            </div>
           
            <div class="prim-table mt-4 px-5">
                <p-table #dt [value]="item?.questionsRsponseModels">
    
                   
                    <ng-template pTemplate="header" let-columns="columns">
                        <!-- <tr *ngIf="export">
                            <th colspan="3"><p class="color-gray-300 fs-4">{{'surveys.questionText'| translate}} ({{i+1}})</p></th>
                            <th colspan="4"><span class="color-primary mb-2 fs-3 w-100">{{item.text}}</span></th>
                            <th colspan="3"><p class="color-gray-300 fs-4">{{'surveys.questionType'| translate}}</p></th>
                            <th colspan="3"><span class="color-primary mb-2 fs-3 w-100">{{item.type}}</span></th> 
                            </tr> -->
                        <tr>
                            <th pSortableColumn="category">{{'surveys.parentName'|translate }}
                                <p-sortIcon field="category"></p-sortIcon>
                            </th>
                            <th pSortableColumn="quantity">{{'shared.phoneNumber'|translate }}
                                <p-sortIcon field="quantity"></p-sortIcon>
                            </th>
                            <th pSortableColumn="price">{{'surveys.answer'|translate }}
                                <p-sortIcon field="price"></p-sortIcon>
                            </th>
                            <th pSortableColumn="actions">{{'surveys.answerDateAndTime'|translate }}
                                <p-sortIcon field="price"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-parent let-columns="columns">
                        <tr>
                        
                            <td>{{parent.gurdianName|currentLang}}</td>
                            <td>{{parent.gurdianPhoneNumber}}</td>
                            <td *ngIf="item.questionType==QuestionsTypeEnum.SurveyMultiChoiceQuestion">
                                {{parent.choiceAnswer|currentLang}}
                            </td>
                            <td *ngIf="item.questionType==QuestionsTypeEnum.SurveyRateQuestion">
                                <p-rating  [(ngModel)]="parent.answer" [cancel]="false"></p-rating> 
                            </td>

                            <td>{{parent.responseDateAndTime| LocalizeDate}}</td>
    
                        </tr>
                    </ng-template>
    
                </p-table>
            </div>
          </div>
        </ng-container>
        </div>
    </div>
    <div *ngIf="!survey?.responsesCount&&survey">
        <app-informative-block  title="{{'emptyList.No replies yet'|translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </div>

    <ng-container *ngIf="!survey">
        <div class="row g-5 mt-5">
           
                <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        
        </div>
    
     </ng-container>
</div>
