<ng-container *permit="ClaimsEnum.S_C_SchoolYear">
                      <app-add-btn [backGroundColor]="'btn-outline-primary'" [route]="'/dashboard/educational-settings/school-year/new-school-year'" [content]="'breadcrumb.Add New School Year'"></app-add-btn>
</ng-container>

<div class="prim-table mt-4" *ngIf="schoolYears.totalAllData|| schoolYears.loading">
    <p-table    #dt [lazy]="true" [value]="schoolYears.list" (onSort)="sortMe($event)"   >
     
   

    <!-- Table Caption -->
    <ng-template pTemplate="caption">
        <app-table-caption (onExport)="onExport($event)" (onFilter)="filtration.Page=1;getAllSchoolYears()" (onSearch)="filtration.Page=1;filtration.KeyWord = $event; getAllSchoolYears()" (onClear)="clearFilter()">

            <div class="row gx-5 form-set">
                <div class="col-lg-4">
                    <label class="label" for="indexStatus">{{'dashboard.SchoolYear.SchoolYear Status'|translate }} </label>
                    <!-- <p-dropdown [options]="schoolYearsStatus" [showClear]="true" StopProp [(ngModel)]="filtration.statusId" inputId="statusId" optionLabel="name.ar" optionValue="id" placeholder="{{'dashboard.SchoolYear.Select SchoolYear Status'|translate }}"></p-dropdown> -->
                    <p-multiSelect [options]="schoolYearsStatus" display="chip" [(ngModel)]="filtration.statusId" optionLabel="name" optionValue="value" placeholder="{{'dashboard.SchoolYear.Select SchoolYear Status'|translate }}"></p-multiSelect>
                </div>
            </div>

        </app-table-caption>

    </ng-template>

       
      
      
      <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="name" ><p-sortIcon  field="name" ></p-sortIcon>{{'dashboard.SchoolYear.School Year Name'|translate}}</th>
              <th   pSortableColumn="curriculumCount"><p-sortIcon  field="curriculumCount"></p-sortIcon>{{'dashboard.SchoolYear.curriculum Number'|translate}}</th>
              <th   pSortableColumn="startDate"><p-sortIcon field="startDate"></p-sortIcon>{{'dashboard.SchoolYear.School Year StartDate'|translate}}</th>
              <th   pSortableColumn="endDate"><p-sortIcon  field="endDate"></p-sortIcon>{{'dashboard.SchoolYear.School Year EndDate'|translate}}</th>
              <th   pSortableColumn="gender"><p-sortIcon field="gender"></p-sortIcon>{{'dashboard.SchoolYear.WeekEnd Days'|translate}}</th>
              <th   pSortableColumn="createdDate"><p-sortIcon field="createdDate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
              <th   pSortableColumn="status"><p-sortIcon  field="status" ></p-sortIcon>{{'dashboard.SchoolYear.Status'|translate}}</th>
              <th pSortableColumn="edit" class="actions "></th>

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
                <td  >{{e?.name|currentLang}}</td>
                <td *ngIf="e?.curriculumCount"  >{{e.curriculumCount}}</td>
                <td *ngIf="!e?.curriculumCount"  >-</td>
                <td  >{{e?.startDate|LocalizeDate}}</td>
                <td  >{{e?.endDate|LocalizeDate}}</td>
                <td><ng-container *ngFor="let item of e?.weekEndDays let i=index"> 
                    {{item.name.en|translate}} 
                    <ng-container *ngIf="i<e?.weekEndDays.length-1">,</ng-container> 
                </ng-container></td>
                <td>{{e?.createdDate|LocalizeDate}}</td>
                <td  >
                    <div class="d-flex align-items-center gap-4">
                       
                        <div *ngIf="e?.status.name.en==schoolYearEnum.Current" class='alerting danger'>{{e?.status.name|currentLang}}</div>
                        <div *ngIf="e?.status.name.en==schoolYearEnum.Finished" class='alerting success'>{{e?.status.name|currentLang}}</div>
                        <div *ngIf="e?.status.name.en==schoolYearEnum.Sent" class='alerting primary'>{{e?.status.name|currentLang}}</div>
                        <div *ngIf="e?.status.name.en==schoolYearEnum.Draft" class='alerting dark'>{{e?.status.name|currentLang}}</div>
                    </div>
                </td>
             
          
                <td >
                        <div role="button" class=" d-flex gap-3 color-skyBlue-500 align-items-center" routerLink="/dashboard/educational-settings/school-year/display-school-year/{{e.id}}">
                            {{'shared.details'|translate}}   <img  [class.rotate180]="lang=='en'" src="assets/images/shared/arrow.svg" alt="">
                        </div>
                </td>
                
              
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="schoolYears.totalAllData && schoolYears.list.length == 0 &&  !schoolYears.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>
    
                    <app-loader></app-loader>
    
                </td>
            </tr>
        </ng-template>
    </p-table>
  
 
    <div *ngIf="paginationState.rows<schoolYears.total">
        <app-pagination [totalItems]="schoolYears.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
    </div>
    <!-- emptymessage -->
    <ng-container *ngIf="!schoolYears.totalAllData && !schoolYears.loading">
    <app-informative-block title="{{'emptyList.SchoolYear List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>
