<div class="dropdown " >

    <div class="mx-4" id="dropdownMenuButton1" data-bs-toggle="dropdown">
        <span role="button" class="color-primary link  d-flex" >
          {{label}}<img  class=" mt-2 rotate270"  src="assets/images/shared/blue-arrow.svg" alt=""></span>
    </div>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
        <ng-container *ngFor="let item of items; let i=index" >
            <li class=" dropdown-item" (click)="onClick(i)" *permit="item.claims">
                <a class="link" [routerLink]="item.routerLink" >
                    <img [src]="item.icon" alt="">
                    <p class="">{{item.label}}</p>
                </a>
            </li>
        </ng-container>

    </ul>
</div>
