

        <div class="card box-shadow radius-15 p-0" >

            <div class="profile d-flex align-items-center p-4 position-relative">
                <div class="profile__avatar">
                    <img src="assets/images/avatar.png" alt="Avatar">
                </div>

                <div class="profile__info" style=" white-space: nowrap;">
                    <div class="profile__name ">
                        <h4 class="heading heading--tertiary">{{student.name| currentLang}}</h4>
                       
                    </div>
                    <div class="profile__details mt-0">
                        <div class="fs-4">
                            <!-- <img src="assets/images/shared/child.svg" alt=""> -->
                            <span class="color-gray-300">{{student.age}} {{'dashboard.issue of certificate.year' | translate}}</span>
                        </div>
                    </div>
                </div>

                <div class="checkbox py-3">
                    <input (change)="increaseOrDecrease($event)" [checked]="isChecked" type="checkbox" [value]="student.id">
                </div>

            </div>


            <div class=" border-top-gray p-4 " >
                <div class="grid-container gap-sm pt-2 mb-4">
                    <ng-container *ngIf="student.grade ">
                        <p class="color-gray-300 fs-4">{{ 'dashboard.parents.academicLevel'|translate }}</p>
                        <span class="color-gray-800 mb-2">{{student.grade | currentLang}}</span>
                    </ng-container>

                    <ng-container *ngIf="student.school">
                        <p class="color-gray-300 fs-4">{{ 'the division'|translate }}</p>
                        <span class="color-gray-800 mb-2" style="height:5rem">{{student.school| currentLang}}</span>
                    </ng-container>

                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.relativeRelation'|translate }}</p>
                    <span class="color-gray-800 mb-2">{{student.relativeRelation| currentLang}}</span>

                    <ng-container  *ngIf="!student.school">
                        <p class="color-gray-300 fs-4">{{ 'dashboard.parents.studentEnrollmentStatus'|translate }}</p>
                        <span [ngSwitch]="student.studentStatus">
                            <p *ngSwitchCase="registrationStatusEnum.Registered">
                                <span class="color-primary mb-2 fs-4">{{'shared.allStatus.Registered' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Unregistered">
                                <span class="color-primary mb-2 fs-4">{{'shared.allStatus.Unregestered' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Withdrawal">
                                 <span class="color-red-500 mb-2 fs-4">{{'shared.allStatus.Withdrawal' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.ReEnrolment">
                                 <span class="color-primary mb-2 fs-4">{{'shared.allStatus.ReEnrolment' | translate}}</span>
                            </p>
                            <p *ngSwitchCase="registrationStatusEnum.Deleted">
                                <span class="color-primary mb-2 fs-4">{{'shared.allStatus.Deleted' | translate}}</span>
                           </p>
                           <p class="color-primary mb-2 fs-4" *ngSwitchCase="registrationStatusEnum.Transferd">
                                <span class="color-primary mb-2 fs-4">{{'shared.allStatus.Transferd' | translate}}</span>
                            </p>
    
                        </span>
                    </ng-container>
                    
                </div>
                
            </div>
        </div>