@import "src/assets/css/utils/variables.scss";
// @import '../../../../assets/css/components/profile';


.profile__avatar{
  width: 8rem;
  height: 8rem;
  border-radius: 15px;
  overflow: hidden;
}

.editBtn{
    top: -7rem;
    left: 5rem;
}
input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width:20px;
  height:20px;
  border: none;
  background: #fff;
  position: relative;
  border: 1px solid #C5C7D0;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}
input[type="checkbox"]:checked {
  background: #5CD0DF;
  border-color: #5CD0DF;
}
input[type="checkbox"]:checked:after {
  // content: url('./../../../../assets/images/shared/check.svg');
  // color: #fff;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // -webkit-transform: translate(-50%,-50%);
  // -moz-transform: translate(-50%,-50%);
  // -ms-transform: translate(-50%,-50%);
  // transform: translate(-50%,-50%);
  content: url('./../../../../assets/images/shared/check.svg');
  zoom: 127%;
  background-size: 100px !important;
  width: 100px !important;
  height: 33px !important;
  visibility: visible;
  display: block;
  position: absolute;
  top: -8px;
  left: -87px;

}

.checkbox{
  position: absolute;
  left: 17px;
  top: 11px;
}


.profile{
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;

  &__avatar{


      &.sm{
          height: 7rem;
          width: 7rem;
      }

      img{
        border-radius: 15px;
          width: 100%;
          object-fit: cover;
      }

  }

  &__info{

  }
  &__name{
      display: flex;
      align-items: center;
      column-gap: 2rem;
      margin-bottom: 1rem;
      color: #3052A1;
      h4{

          font-size: 1.9rem;
      }
      & > *{
          display: flex;
          align-items: center;
          gap: .5rem;
      }
  }

  &__job{

  }

  &__details{
      display: flex;
      align-items: center;
      column-gap: 3rem;
      color: #5F5F5F;
      margin-top: 1.8rem;
      font-size: 1.6rem;

      div{
          display: flex;
          align-items: center;
          column-gap: .75rem;
      }
  }
}
.card{
  min-height: 381px;
  border-color: #F5F5F5;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  gap: 2.5rem;
  row-gap: 2.5rem;
  column-gap: 2.5rem;
  min-height: 184px;

}
