

<div class="p-5 radius-15 border-dark bg-white" *ngIf="student">
    <div class="submit-btn d-flex justify-content-end gap-3">
      <!-- || !deleteStudentForm.valid ||(attachmentCtr.value.length!=requiredFiles?.filesCount &&requiredFiles?.isRequired) -->
        <button class="btn btn-primary btn px-5" [disabled]="loading|| !deleteStudentForm?.valid " (click)="deleteStudentReq(deleteStudentForm.value)">
            <div class="spinner-border text-light" role="status" *ngIf="loading"></div>
            <span>{{'shared.send' |translate}}</span>
        </button>
        <span role="button" class="color-red-500 text-decoration-underline mt-3" routerLink="//schools-and-students/students/student/{{studentGUID}}">{{'shared.cancel' |translate}}</span>
    </div>

    <app-workflow [steps]="[{ar:'موافقة الهيئة', en:'SPEA Approval'}]"></app-workflow>

        <div class="content  radius-15 border-dark custom-form" [formGroup]="deleteStudentForm">
            <div class="col-md-4 form-set">
                <label class="label required" for="cause">{{'dashboard.students.reasonForDelete' |translate}} </label>
                <p-dropdown [options]=" deletsCauseOptions$ | async" formControlName="deleteRequestReasonId" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" optionValue="id" placeholder="{{'WriteDeleteReason'|translate}}"></p-dropdown>
            </div>

            <ng-container *ngIf="requiredFiles">
                <div class="col-md-4 mt-6" *ngFor="let file of requiredFiles.files; let i =index">
                    <!-- <label class="label" for="day">{{file.name |currentLang}} <span *ngIf="!requiredFiles.isRequired">(اختيارى)</span> </label> -->
                    <app-file-upload title="{{file.name | currentLang}}"  (onFileUpload)="onFileUpload($event, file.name,i)" view="full" ></app-file-upload>
                </div>
            </ng-container>
        </div>
</div>
