@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms';

.submit-btn {
    position: absolute;
    top: -7rem;
    inset-inline-end: 4rem;
}


.content{
    padding: 4rem 3rem;
    min-height: 80vh;
}
