

  

 
  
   
 <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/educational-settings/annual-holiday/new-holiday'" [content]="'dashboard.AnnualHoliday.Define Annual Holidays Calendar'"></app-add-btn>
  
 <div class="prim-table mt-4" *ngIf="holiday.total || holiday.loading">
    <p-table  #dt [value]="annualHolidayList" (onSort)="sortMe($event)"   dataKey="id"   >
     

                <!-- Table Caption -->
                <ng-template pTemplate="caption">
                    <app-table-caption 
                    (onExport)="first=false;onExport($event)" 
                    (onFilter)="first=false;getAllHolidays()" 
                    (onSearch)="first=false;filtration.KeyWord = $event; getAllHolidays()"
                    (onClear)="first=false;clearFilter()"
                    
                    >
    
                    <div class="row gx-5 form-set">
                        <div class="col-6">
                            <label class="label" for="year">{{'dashboard.AnnualHoliday.Year'|translate }} </label>
                            <p-dropdown [options]="yearList" [(ngModel)]="filtration.year" optionLabel="year" optionValue="year" inputId="year"   placeholder="{{'dashboard.AnnualHoliday.Select Year'|translate }}"></p-dropdown>
                        </div>
                        <div class="col-6">
                            <label class="label" for="curriculumName">{{'dashboard.AnnualHoliday.curriculum'|translate }} </label>
                            <p-dropdown [options]="curriculumList"  optionLabel="name.ar" optionValue="name.ar" [(ngModel)]="filtration.curriculumName" inputId="curriculumName"  placeholder="{{'dashboard.AnnualHoliday.Select curriculum'|translate }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row gx-5 form-set">
                        <div class="col-6">
                            <label class="label" for="flexibilityStatus">{{'dashboard.AnnualHoliday.Holiday Status'|translate }}  </label>
                            <p-dropdown [options]="holidayStatusList" optionLabel="name" optionValue="name" [(ngModel)]="filtration.holidayStatus" inputId="flexibilityStatus"  placeholder="{{'dashboard.AnnualHoliday.Select Holiday Status'|translate }}"></p-dropdown>
                        </div>
                       
                    </div>
                    </app-table-caption>
    
                </ng-template>

       
      
      
      <ng-template pTemplate="header"  >
            <tr  >
              <th style="width: 3rem"  ></th>
              <th   pSortableColumn="annualCalendarName" ><p-sortIcon  field="annualCalendarName" ></p-sortIcon>{{'dashboard.AnnualHoliday.Annual Calender Name'|translate}}</th>
              <th   pSortableColumn="year"><p-sortIcon  field="year" ></p-sortIcon>{{'dashboard.AnnualHoliday.Year'|translate}}</th>
              <th   pSortableColumn="edit" class="actions--sm"></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  let-expanded="expanded" >
            <tr  >
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="e" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td  class="boldaction">{{e.annualCalendarName|translate}}</td>
                <td  class="boldaction" >{{e.year|translate}}</td>
                <td class="edit actions--sm"> 
                        <button  routerLink="/dashboard/educational-settings/annual-holiday/edit-holiday/{{e.id}}">
                            {{'shared.edit'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                         </button>
                </td>
               
            </tr>
        </ng-template>
        <ng-template  pTemplate="rowexpansion" let-e>
            <tr>
                <td colspan="15"  class="expand color-gray-50">
                    <div class="">

                        <div class="prim-table mt-4" *ngIf="holiday.total || holiday.loading">
                            <p-table  #dt [value]="e.holidayList" (onSort)="sortMe($event)"   dataKey="id"   >

                              <ng-template pTemplate="header"  >
                                    <tr class="expand"  >
                                      <th style="width: 3rem" class="expand" ></th>
                                      <th  class="expand" pSortableColumn="arabicName" ><p-sortIcon  field="arabicName" ></p-sortIcon>{{'dashboard.AnnualHoliday.Holiday Name'|translate}}</th>
                                      <th class="expand"  pSortableColumn="curriculumName"><p-sortIcon field="curriculumName" ></p-sortIcon>{{'dashboard.AnnualHoliday.curriculum'|translate}}</th>
                                      <th class="expand"  pSortableColumn="dateFrom"><p-sortIcon  field="dateFrom" ></p-sortIcon>{{'dashboard.AnnualHoliday.Date'|translate}}</th>
                                      <th class="expand"  pSortableColumn="createdDate" ><p-sortIcon  field="createdDate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
                                      <th class="expand"  pSortableColumn="flexibilityStatus"><p-sortIcon  field="flexibilityStatus" ></p-sortIcon>{{'dashboard.AnnualHoliday.Holiday Status'|translate}}</th>
                                      <th   pSortableColumn="edit" class="actions expand"></th>
                                    
                        
                                      
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-holiday  let-expanded="expanded">
                                    <tr [ngClass]="expanded ? 'expandrow' : ''" >
                                        
                                      
                                        <td  class="color-gray-50" >
                                            <button type="button" pButton pRipple [pRowToggler]="holiday" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                          
                                        </td>
                                        <td [ngClass]="expanded ? 'boldaction' : ''" class="color-gray-50" >{{holiday.arabicName|translate}}</td>
                                        <td [ngClass]="expanded ? 'color-black' : ''" class="color-gray-50">{{holiday.curriculumName[0].name|translate}}</td>
                                        <td [ngClass]="expanded ? 'color-black' : ''" class="color-gray-50">{{'shared.From'|translate}} {{holiday.dateFrom|translate}} - {{'shared.To'|translate}} {{holiday.dateTo|translate}}</td>
                                        <td [ngClass]="expanded ? 'color-black' : ''" class="color-gray-50" >{{holiday.createdDate |date:'yyyy/mm/dd'|translate}}</td>
                                        <td  class="color-gray-50">
                                            <div class="d-flex align-items-center gap-4">
                                               
                                                <div [ngClass]="holiday.flexibilityStatus=='مرنة'?'alerting success':'alerting danger'">{{holiday.flexibilityStatus|translate}}</div>
                                                
                                            </div>
                                        </td>
                                      
                                
                                           
                                        <td class="edit color-gray-50"> 
                                        
                                                <button  (click)="editHoliday()">
                                                    <img  src="assets/images/shared/rect-bluepen.svg" alt="">
                                                 </button>

                                                 <button  routerLink="/dashboard/educational-settings/annual-holiday/edit-holiday/{{holiday.id}}">
                                                    <img  src="assets/images/shared/rect-xmark.svg" alt="">
                                                 </button>
                                        </td>
                                        
                                      
                                        
                                      </tr>
                              </ng-template>
                              <ng-template  pTemplate="rowexpansion" let-holiday>
                                <tr>
                                    <td colspan="15"  class="expand color-gray-50">
                                        <div class="">
                    
                                          
                                                <p-table  #dt [value]="holiday.curriculumName"   dataKey="name"    >
                                                  
                                                 
                                                  
                                                    <ng-template pTemplate="body" let-curriculum  let-expanded="expanded">
                                                        <tr  class="border-bottom-0"  *ngIf="curriculum.name!=holiday.curriculumName[0].name">
                                                        
                                                            <td class="color-gray-50 w-25" ></td>
                                                            <td   class="color-black color-gray-50 w-25" >{{curriculum.name|translate}}</td>
                                                            <td class="color-gray-50 " ><span class="leftpostion">-</span></td>
                                                            <td class="color-gray-50"  >-</td>
                                                            <td class="color-gray-50"  ></td>
                                                            <td class="color-gray-50"  ></td>
                                                    
                                                            
                                                          
                                                            
                                                        </tr>
                                                    </ng-template> 
                  
                        
                                                 </p-table>
                          

                                        </div>
                                </td>
                           </tr>


        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="holiday.total &&  allHolidayLength == 0">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>
                   
                    <app-loader></app-loader>
             
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div *ngIf="paginationState.rows<allHolidayLength" >
        <app-pagination [totalItems]="allHolidayLength" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
</div>
   <!-- emptymessage -->
   <ng-container *ngIf="!holiday.total && !holiday.loading">
        <app-informative-block title="{{'emptyList.AnnualHoliday List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
   </ng-container>


   <app-holiday-model (onSave)="saveForm($event)" Title="dashboard.AnnualHoliday.Edit Holiday" isOpened="false"></app-holiday-model>
    







