<div class="caption">
    <!-- Serach and Filter Button -->
    <div class="col-8  caption__filter caption__filter--actions">
        <div class="myInput myInput--full myInput--search p-input-icon-right ms-auto">
            <i class="pi pi-search fs-3 "></i>
            <input class="input" [(ngModel)]="searchKey" (keyup)="applyFilter()" type="text" pInputText placeholder="{{'shared.Search...'|translate}}" />
        </div>
    </div>
</div>





<!-- -----BreadCrumb-- -->

<!-- -------------- -->

<app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/performance-managment/assignments/upload-assignment'" [content]="'breadcrumb.Addassignment'">
</app-add-btn>

<!-- ------Table------- -->
<div class="prim-table mt-4" *ngIf="isLoaded">
    <p-table #dt [value]="assignmentList" [paginator]="true" [(rows)]="rows" [(first)]="first" sortMode="multiple">



        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name.ar">
                    <p-sortIcon field="name.ar"></p-sortIcon>{{'dashboard.Assignments.Assignment Name' | translate}}
                </th>

                <th pSortableColumn="gradeName.ar">
                    <p-sortIcon field="gradeName.ar"></p-sortIcon>{{'dashboard.Assignments.Class' | translate}}
                </th>

                <th pSortableColumn="curriculmName.ar">
                    <p-sortIcon field="curriculmName.ar"></p-sortIcon>{{'dashboard.Assignments.curriculum' | translate}}
                </th>

                <th pSortableColumn="schoolName">
                    <p-sortIcon field="schoolName"></p-sortIcon>{{'dashboard.Assignments.schoolCount' | translate}}
                </th>


                <th pSortableColumn="subjectName.ar">
                    <p-sortIcon field="subjectName.ar"></p-sortIcon>{{'dashboard.Assignments.Subject' | translate}}
                </th>
                <th pSortableColumn="examShowDate">
                    <p-sortIcon field="examShowDate"></p-sortIcon>{{'dashboard.Assignments.Exam Date And Time' | translate}}
                </th>
                <th pSortableColumn="examStatus">
                    <p-sortIcon field="examStatus"></p-sortIcon> {{'dashboard.Assignments.Status' | translate}}
                </th>
                <th></th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name.ar}}</td>
                <td>{{product.gradeName.ar}}</td>
                <td>{{product.curriculmName.ar}}</td>
                <td>{{product.schoolCount}}</td>
                <td>{{product.subjectName.ar}}</td>
                <td>{{product.examShowDate | date:"MM/dd/yyyy"}}{{product.ExamDuration| date:"MM/dd/yyyy"}}</td>
                <td>
                    <div class="d-flex align-items-center gap-4">

                        <div [ngClass]="product.examStatus=='Available'?'alerting success':'alerting danger'">
                            {{product.examStatus | translate}}</div>

                    </div>
                </td>
                <td>
                    <div class="dropdown" *ngIf="product.examStatus === 'Available'">
                        <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                            <fa-icon class="fs-4" [icon]="faEllipsisVertical"></fa-icon>
                        </div>
                        <ul class="dropdown-menu shadow-lg " aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item">
                                <button class="link" (click)="exportPdf(product)">
                                  <img src="assets/images/shared/download.svg" alt="">
                                  <p>{{'shared.downloadfile'|translate}}</p>
                              </button>
                            </li>
                            <li class="dropdown-item">
                                <button class="link" (click)="exportAudio(product)" [di]>

                                  <img src="assets/images/shared/download.svg" alt="">
                                  <p>{{'shared.downloadaudio'|translate}}</p>
                              </button>
                            </li>
                        </ul>
                    </div>
                    <!-- <button class="ui-shadow-5" type="button" pButton icon="fa-file-o" iconPos="left" label="Pdf" style="float:left"></button> -->
                </td>

                <!-- <td>
                  <button class="ui-shadow-5" type="button" pButton icon="fa-file-o" iconPos="left" label="Audio" (click)="exportAudio(product.examAudioPath)" style="float:left"></button>
              </td> -->

            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="indexes.totalAllData && indexes.list.length == 0 &&  !indexes.loading">
                        <app-informative-block title="{{'emptyList.Assignments List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>

    </p-table>


    <div>
        <div>
            <app-pagination [totalItems]="totalItems" (paginationChanged)="onTableDataChange($event)"></app-pagination>
        </div>
        <!-- <app-pagination [totalItems]="assignmentList.length" (paginationChanged)="onTableDataChange($event)">
        </app-pagination> -->
    </div>

    <ng-container *ngIf="!indexes.totalAllData && !indexes.loading">
        <app-informative-block title="{{'emptyList.parent' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>
</div>
<!-- ------------------ -->
