
<ng-container *permit="ClaimsEnum.S_C_User">
         <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/manager-tools/user-information/new-user'" [content]="'breadcrumb.AddUser'"></app-add-btn>
</ng-container>



<div class="parents" >
    <div class="prim-table" *ngIf="users.totalAllData|| users.loading">
        <p-table #dt [value]="users.list"   [scrollable]="true" [lazy]="true" (onSort)="sortMe($event)">

            <ng-template pTemplate="caption">
                <app-table-caption (onExport)="onExport($event)" (onFilter)="filtration.Page=1;getUsersList()" (onSearch)="filtration.Page=1;filtration.KeyWord = $event; getUsersList()" (onClear)="clearFilter()">

                    <div class="row gx-5 form-set">
                        <div class="col-lg-4">
                            <label class="label" for="status">{{'shared.status'|translate }} </label>
                            <p-dropdown [showClear]="true" StopProp [options]="usersStatus" [(ngModel)]="filtration.isactive" optionValue="value" optionLabel="name" placeholder="{{'shared.status'|translate }}"></p-dropdown>
                        </div>
                        <div class="col-lg-4">
                            <label class="label" for="city">{{'dashboard.UserInformation.Select Private Role'|translate }} </label>
                            <p-multiSelect [options]="roles" display="chip" [(ngModel)]="filtration.roleId" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar' : 'name.en'}}" placeholder="{{'dashboard.UserInformation.Select Private Role' | translate}}"></p-multiSelect>
                        </div>

                    </div>

                </app-table-caption>

            </ng-template>

            <ng-template pTemplate="header" et-columns="columns">
                <tr>
                    <th pSortableColumn="fullName">
                        <p-sortIcon field="fullName"></p-sortIcon>{{'shared.Full Name'|translate}}</th>
                    <th pSortableColumn="fullName">
                        <p-sortIcon field="fullName"></p-sortIcon>{{'dashboard.UserInformation.Private Role'|translate}}</th>
                    <th pSortableColumn="email">
                        <p-sortIcon field="email"></p-sortIcon>{{'shared.email'|translate}}</th>
                        <th pSortableColumn="lastLoginDate">
                            <p-sortIcon field="lastLoginDate"></p-sortIcon>{{'dashboard.UserInformation.lastLoginDate'|translate}}</th>
                    <th pSortableColumn="emiratesIdNumber">
                        <p-sortIcon field="emiratesIdNumber"></p-sortIcon>{{'shared.Identity Number'|translate}}</th>
                    <th pSortableColumn="phoneNumber">
                        <p-sortIcon field="phoneNumber"></p-sortIcon>{{'shared.phoneNumber'|translate}}</th>
                    <th pSortableColumn="createdDate">
                        <p-sortIcon field="createdDate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
                    <th pSortableColumn="status">
                        <p-sortIcon field="status"></p-sortIcon>{{'dashboard.UserInformation.User Status'|translate}}</th>
                    <th pSortableColumn="status" class="actions" ></th>



                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e let-columns="columns">
                <tr>
                    <!-- <td>{{translationService.lang=='ar'?e.fullName.ar :e.fullName.en}}</td> -->
                    <td>{{e?.fullName|currentLang}}</td>
                    <td>{{e?.roleName|currentLang}}</td>
                    <td>{{e?.email}}</td>
                    <td *ngIf="e?.lastLoginDate">{{e?.lastLoginDate|LocalizeDate}}</td>
                    <td *ngIf="!e?.lastLoginDate" >-</td>
                    <td>{{e?.emiratesIdNumber}}</td>
                    <td>{{e?.phoneNumber}}</td>
                    <td>{{e?.createdDate | LocalizeDate}}</td>
                    <td>
                        <div class="d-flex align-items-center gap-4">
                            <div *ngIf="e?.isActive" [ngClass]="e?.isActive?'alerting success':'alerting danger'">{{'Active'|translate}}</div>
                            <div *ngIf="!e?.isActive" [ngClass]="!e?.isActive?'alerting danger' : 'alerting success'">{{'Inactive'|translate}} </div>
                        </div>
                    </td>
                    <td class="actions">
                        <div  role="button" class=" d-flex align-items-center gap-3 justify-content-end mx-4" routerLink="/dashboard/manager-tools/user-information/edit-user/{{e.id}}" *permit="ClaimsEnum.S_U_User">
                           <span class="color-skyBlue-400">{{'shared.edit'|translate}}</span>
                           <img  [class.rotate180]="lang=='en'" src="assets/images/shared/left-arrow.svg" alt="">
                        </div>

                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>

                <tr>
                    <td [attr.colspan]="20" class="search">
                        <ng-container *ngIf="users.totalAllData && users.list.length == 0 &&  !users.loading">

                            <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                        </ng-container>
                        <app-loader></app-loader>

                    </td>

                </tr>

            </ng-template>
        </p-table>

        <div>
            <div *ngIf="paginationState.rows<users.total">
                <app-pagination [totalItems]="users.total" (paginationChanged)="onTableDataChange($event)"></app-pagination>
            </div>
        </div>

    </div>
    <ng-container *ngIf="!users.totalAllData &&  !users.loading">
        <app-informative-block title="{{'emptyList.Users List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>
</div>
