@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-UltraLight-4.ttf") format("TrueType");
    font-weight: 100;
}

@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNEXTLTARABIC-LIGHT-2-2.ttf") format("TrueType");
    font-weight: 200;
}

@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Regular-4.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Medium-4.ttf") format("TrueType");
    font-weight: 500;
}

@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Heavy2-2.ttf") format("TrueType");
    font-weight: 600;
}

@font-face {
    font-family: DINNext;
    src: url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Bold-4.ttf") format("TrueType");
    font-weight: 700;
}

@font-face {
    font-family: Droid;
    src: url("/assets/font/droid/DroidKufi-Regular.ttf") format("TrueType");
    font-weight: 500;
}

@font-face {
    font-family: Droid;
    src: url("/assets/font/droid/DroidKufi-Bold.ttf") format("TrueType");
    font-weight: 700;
}

html[dir="rtl"] {
    body {
        font-family: 'Droid' !important;
    }
}

[lang="en"] body {
    text-align: left !important;
    .panal-wrapper {
        right: 4rem;
        .befor,
        .after {
            right: 100%;
            transform-origin: right;
            border-radius: 0 30px 30px 0;
        }
    }
    .panal {
        &__list {
            &__item {
                .lable {
                    // inset-inline-end: calc(100% + .5rem);
                    inset-inline-end: calc(100%);
                    transform-origin: right;
                    border-radius: 30px 0px 0px 30px;
                }
            }
        }
    }
    .panal-wrapper.second {
        right: 0rem;
        top: 4vh;
        .befor,
        .after {
            left: 50%;
            transform-origin: left;
            border-radius: 30px 30px 30px 30px;
        }
    }
    .panal-wrapper.second .panal {
        &__list {
            &__item {
                .lable {
                    inset-inline-start: calc(100% + .5rem);
                    transform-origin: left;
                    border-radius: 0px 30px 30px 0px;
                }
            }
        }
    }
}

[lang="ar"] body {
    text-align: right !important;
    .panal-wrapper {
        position: fixed;
        top: 50%;
        left: 4rem !important;
        border-radius: 30px;
        transform: translateY(-40%);
        z-index: 9;
        .befor,
        .after {
            left: 100%;
            transform-origin: left;
        }
    }
    .panal {
        &__list {
            &__item {
                .lable {
                    // inset-inline-end: calc(100% + .5rem);
                    inset-inline-end: calc(100%);
                    transform-origin: left;
                    border-radius: 0px 30px 30px 0px;
                }
            }
        }
    }
    .panal-wrapper.second {
        left: 0rem !important;
        top: 20vh;
        .befor,
        .after {
            right: 47%;
            transform-origin: right;
            border-radius: 30px 30px 30px 30px;
        }
    }
    .panal-wrapper.second .panal {
        &__list {
            &__item {
                .lable {
                    inset-inline-start: calc(100% + .5rem);
                    transform-origin: right;
                }
            }
        }
    }
}

// url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Black-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Black-3.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Black-4.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Bold-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Bold-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Bold-4.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Heavy-1.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Heavy2-1.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Heavy2-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Heavy2-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNEXTLTARABIC-LIGHT-2-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Medium-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Medium-3.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Medium-4.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Regular-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Regular-3.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-Regular-4.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-UltraLight-1.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-UltraLight-2.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-UltraLight-3.ttf") format("TrueType"),
//     url("/assets/font/ArbFonts.com-(21)/ArbFONTS-DINNextLTArabic-UltraLight-4.ttf") format("TrueType"),