@import "./utils/variables.scss";
@import "./utils/mixins.scss";

@import "./global";

@import "./base/base";
@import "./base/typography";

@import "./layout/header.scss";
@import "./rtl-styles.scss";
@import "./components/buttons.scss";
@import "./components/forms.scss";
@import "./components/breadcrumb";
<<<<<<< HEAD
@import "./components/input"
=======


//Removing browser default styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
>>>>>>> 7cee60edc56e3e4f4eed3b2ecb61c9f7cb669b9c
