<p-dialog header="{{tittle}}" [baseZIndex]="10000"   [resizable]="false" [(visible)]="openModel" (onHide)="closeModel()" [draggable]="false" [modal]="true" [style]="{width: '45vw'}">
  <ng-template pTemplate="content">
    <ng-container >
      <ng-container  *ngIf="step==1">
             <div class="sign up">
                <div class=" mt-5 mb-5 custom-form custom-validation-form " >
                    <form  [formGroup]="registrationWayFormGrp" >
                                <div class="row gx-5 form-set">
                                        <div class="col-12">
                                            <label class="label" for="nationality">{{'sign up.with'|translate }} <span class="star">*</span> </label>
                                            <p-dropdown [options]="signUpWaysList" optionLabel="name"  formControlName="registrationWay"  (onFocus)="registrationWay.markAsTouched()" (onBlur)="registrationWay.markAsUntouched()"  [ngClass]="{'ng-invalid ng-dirty':registrationWay.errors?.required&& registrationWay.touched}" optionValue="value" (onChange)="changeRegistrationField($event.value)" inputId="nationality" placeholder="{{'sign up.select...'|translate }}"></p-dropdown>
                                            <div>
                                                <div [hidden]="registrationWay.valid || registrationWay.untouched">
                                                    <small *ngIf="registrationWay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                       <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                </div>

                                             </div>
                                        </div>
                                </div>
                                    <div class="row gx-5 form-set">
                                        <div class="col-12" *ngIf="showPhoneField">
                                            <label class="label" for="precantage">{{'sign up.phoneNumber'|translate}} <span class="star">*</span></label>
                                            <input type="text" pInputText  formControlName="phoneWay" [LangRestrict]="'numb'"  class="form-control "   placeholder="{{'sign up.enter phoneNumber'|translate}}" >
                                            <div>
                                                <div [hidden]="phoneWay.valid || phoneWay.untouched">
                                                    <small *ngIf="phoneWay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                       <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                    <small *ngIf="phoneWay.errors?.['pattern']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                        {{'shared.Mobile Must Start With 05 and Contain 10 Numbers Only'|translate}}
                                                         <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                      </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="showIdentityField">
                                            <label class="label" for="precantage">{{'sign up.digitalIdentity'|translate}} <span class="star">*</span></label>
                                            <input type="text" pInputText   formControlName="emairatesWay" [LangRestrict]="'numb'"  class="form-control "  placeholder="{{'sign up.enter personal digitalIdentity'|translate}}" >
                                            <div>
                                                <div [hidden]="emairatesWay.valid || emairatesWay.untouched">
                                                    <small *ngIf="emairatesWay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                       <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                      <small *ngIf="emairatesWay.errors&&!emairatesWay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                        {{'shared.Must Start With 784 and Contain 15 Numbers Only'|translate}}
                                                         <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                      </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="showEmailField">
                                            <label class="label" for="precantage">{{'sign up.email'|translate}} <span class="star">*</span></label>
                                            <input type="text" pInputText  formControlName="emailWay"   class="form-control"    placeholder="{{'sign up.enter email'|translate}}" >
                                            <div>
                                                <div [hidden]="emailWay.valid || emailWay.untouched">
                                                    <small *ngIf="emailWay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                       <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                    <small *ngIf="emailWay.errors?.['pattern']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                        {{'shared.Must be Valid Email'|translate}}
                                                         <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                      </small>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                       </form>
                   </div>
            </div>
            </ng-container>
            <ng-container *ngIf="step==2">
                <div class="OTP pt-3 pb-5">

                    {{'sign up.Pleaze enter OTP that send to your Account'|translate}}
                    <div class="justify-content-center w-50 d-flex" [hidden]="!timeLeft">
                        <span >{{'sign up.through'|translate}}</span>
                        <span  ><b>{{timeLeft}} {{'sign up.second'|translate}}</b></span>
                    </div>

                </div>
                <div class="mt-5 mb-5" >




                                <div class="otp-change d-flex  justify-content-center">

                                    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"   [config]="{length:6,placeholder:'*'}"></ng-otp-input>

                                </div>



                </div>
                <div class="again-OTP pt-5 pb-5">

                        <div  [hidden]="timeLeft">
                            <span>{{'sign up.not have OTP yet ?'|translate}}</span>
                            <button class="" (click)="sendOtpAgain()" [disabled]="!enableSendOtpAgain" ><a class="color-skyBlue-400">{{'sign up.send OTP again'|translate}}</a></button>

                        </div>




                </div>

            </ng-container>

            <ng-container *ngIf="step==3">
                <div class="sign up">
                    <div class=" mt-5 custom-form custom-validation-form " >
                        <form   [formGroup]="passwordsFormGrp"  >
                                    <div class="row gx-5 form-set">
                                            <div class="col-12">
                                                <label class="label" for="nationality">{{'Your password'|translate }} <span class="star">*</span> </label>
                                                <p-password iconPos="left"  formControlName="newUserPassword"    [ngClass]="{'ng-invalid ng-dirty':newUserPassword.errors?.required&& newUserPassword.touched||newUserPassword.errors?.pattern && newUserPassword.touched}" [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'Enter Your password'| translate}}"></p-password>
                                                <div [hidden]="newUserPassword.valid || newUserPassword.untouched" class="passerror">
                                                    <small *ngIf="newUserPassword.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                      <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>

                                                    <small *ngIf="newUserPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                     {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                                     <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="row gx-5 form-set">
                                            <div class="col-12" >
                                                <label class="label" for="precantage">{{'Confirm ypur Password'|translate}} <span class="star">*</span></label>
                                                <p-password iconPos="left"  formControlName="newUserConfirmPassword"      [ngClass]="{'ng-invalid ng-dirty':newUserConfirmPassword.errors?.required && newUserConfirmPassword.touched || newUserConfirmPassword.errors?.pattern && newUserConfirmPassword.touched || passwordsFormGrp.errors?.matching && newUserConfirmPassword.touched}" [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'Confirm ypur Password'| translate}}"></p-password>
                                                <div [hidden]="newUserConfirmPassword.valid || newUserConfirmPassword.untouched" class="passerror">
                                                    <small *ngIf="newUserConfirmPassword.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                    {{'shared.This Field is Required'|translate}}
                                                     <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                   </small>

                                                    <small *ngIf="newUserConfirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                    {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                     </small>


                                                 </div>
                                                 <small *ngIf="passwordsFormGrp.errors?.['matching'] && newUserConfirmPassword.touched && !newUserConfirmPassword.errors?.['required'] && newUserPassword.valid && !newUserConfirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                {{'shared.Confirm Password Must Match Password'|translate}}
                                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                 </small>
                                            </div>
                                    </div>
                           </form>
                       </div>
                </div>

            </ng-container>
            <ng-container  *ngIf="step==4">
                <div class="sign up">
                    <div class=" mt-5 custom-form custom-validation-form " >
                        <form  [formGroup]="accountFormGrp" >

                            <div class="row gx-5 form-set">
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.Name (in Arabic)'|translate }} <span class="star">*</span> </label>
                                    <input type="text" pInputText  formControlName="arabicName" [LangRestrict]="'ar'" class="form-control " placeholder="{{'sign up.Enter Name'|translate}}" >
                                    <div [hidden]="arabicName.valid || arabicName.untouched">
                                        <small *ngIf="arabicName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>

                                        <small *ngIf="arabicName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>


                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.Name (in English)'|translate }} <span class="star">*</span> </label>
                                    <input type="text" pInputText  formControlName="englishName" [LangRestrict]="'en'" class="form-control leftaction"   placeholder="{{'sign up.Enter Name'|translate}}" >
                                    <div [hidden]="englishName.valid || englishName.untouched">
                                        <small *ngIf="englishName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>

                                        <small *ngIf="englishName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>


                                    </div>
                                </div>

                            </div>
                            <div class="row gx-5 form-set">
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.NickName (in Arabic)'|translate }} <span class="star">*</span> </label>
                                    <input type="text" pInputText  formControlName="arabicNickName" class="form-control " [LangRestrict]="'ar'" placeholder="{{'sign up.Enter NickName'|translate}}" >
                                    <div [hidden]="arabicNickName.valid || arabicNickName.untouched">
                                        <small *ngIf="arabicNickName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>

                                        <small *ngIf="arabicNickName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>


                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.NickName (in English)'|translate }} <span class="star">*</span> </label>
                                    <input type="text" pInputText formControlName="englishNickName"  class="form-control leftaction" [LangRestrict]="'en'"  placeholder="{{'sign up.Enter NickName'|translate}}" >
                                    <div [hidden]="englishNickName.valid || englishNickName.untouched">
                                        <small *ngIf="englishNickName.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>

                                        <small *ngIf="englishNickName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>


                                    </div>
                                </div>

                            </div>
                            <div class="row gx-5 form-set">
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.Gender'|translate }} <span class="star">*</span> </label>
                                    <p-dropdown [options]="genderList" formControlName="gender"    [ngClass]="{'ng-invalid ng-dirty':gender.errors?.required && gender.touched}" optionLabel="name" optionValue="value"  inputId="nationality" placeholder="{{'sign up.Enter Gender'|translate }}"></p-dropdown>
                                    <div [hidden]="gender.valid || gender.untouched">
                                        <small *ngIf="gender.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.Birthday'|translate }} <span class="star">*</span> </label>
                                    <p-calendar formControlName="birthDay"  [showIcon]="true" inputId="icon"   [maxDate]="currentDate"  [ngClass]="{'ng-invalid ng-dirty':birthDay.errors?.required && birthDay.touched}"  placeholder="yy-mm-dd"  dataType="string"  [readonlyInput]="true"    dateFormat="yy-mm-dd"  ></p-calendar>
                                    <div [hidden]="birthDay.valid || birthDay.untouched">
                                        <small *ngIf="birthDay.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                </div>

                            </div>
                            <div class="row gx-5 form-set">
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.Nationality'|translate }} <span class="star">*</span> </label>
                                    <p-dropdown [options]="nationalityList" formControlName="nationality"   [filter]="true"
                                    filterBy="{{lang=='ar'? 'name.ar' : 'name.en'}}"   [ngClass]="{'ng-invalid ng-dirty':nationality.errors?.required && nationality.touched}" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" optionValue="id"  inputId="nationality" placeholder="{{'sign up.Enter Nationality'|translate }}"></p-dropdown>
                                    <div [hidden]="nationality.valid || nationality.untouched">
                                        <small *ngIf="nationality.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="label" for="nationality">{{'sign up.reason of identity not exist'|translate }} <span class="star">*</span> </label>
                                    <p-dropdown [options]="noIdentityReasonList" formControlName="identityReasonId"     [ngClass]="{'ng-invalid ng-dirty':identityReasonId.errors?.required && identityReasonId.touched}" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" optionValue="id"  inputId="nationality" placeholder="{{'sign up.reason of identity not exist'|translate }}"></p-dropdown>
                                    <div [hidden]="identityReasonId.valid || identityReasonId.untouched">
                                        <small *ngIf="identityReasonId.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                </div>

                            </div>

                            <div class="row gx-5 form-set">

                                <div class="col-12">
                                   <label class="label" for="day">{{'sign up.pleaze upload image to approve that you don’t have digital identity' |translate}} <span class="star">*</span></label>
                                   <app-file-upload [hideHint]="true"  [accept]="fileTypeEnum.Pdf" [maxFileSize]="5" (onFileUpload)="onFileUpload($event)"  view="full" ></app-file-upload>
                                </div>
                            </div>
                           </form>
                       </div>
                </div>
            </ng-container>
          </ng-container>
        </ng-template>
        <ng-template pTemplate="footer">
           <ng-container *ngIf="step==1">
            <div class="d-flex align-items-center justify-content-end  ">

              <button class="btn btn-primary  "  (click)="saveRegistrationWay()" [disabled]="registrationWayFormGrp.invalid||isBtnLoading" >
                  <span *ngIf="!showIdentityField">{{'sign up.Next'| translate}} </span>
                  <span *ngIf="showIdentityField">{{'sign up.SignUp'| translate}} </span>
                  <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
              </button>

          </div>
        </ng-container>
        <ng-container  *ngIf="step==2">
            <div class="d-flex align-items-center justify-content-center ">

                <button class="btn btn-primary   " (click)="confirmOTP()" [disabled]="!otp||isBtnLoading">
                    <span>{{'sign up.confirm'| translate}} </span>
                    <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
                </button>
                <button class="btn btn-outline-primary  mx-5 " (click)="step=1">
                    <span>{{'sign up.return'| translate}} </span>
                </button>
            </div>
        </ng-container>
        <ng-container  *ngIf="step==3">
            <div class="d-flex align-items-center justify-content-end  ">

                <button class="btn btn-primary " (click)="savePassword()" [disabled]="passwordsFormGrp.invalid||isBtnLoading">
                    <span>{{'sign up.Next'| translate}} </span>
                    <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
                </button>
            </div>
        </ng-container>
        <ng-container  *ngIf="step==4">
            <div class="d-flex align-items-center justify-content-end  ">

                <button class="btn btn-primary " (click)="savePersonalInformation()"  [disabled]="accountFormGrp.invalid||isBtnLoading">
                    <span>{{'sign up.Next'| translate}} </span>
                    <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
                </button>
            </div>
        </ng-container>


        </ng-template>

    </p-dialog>
