<p-fieldset class="position-relative" [toggleable]="true">
  <ng-template pTemplate="header">
    <p class="my-3" style="color: #AFAFAF;"> 
     <span style="color:black">{{student?.name | currentLang}}</span>
   </p> 
  </ng-template>

<form [formGroup]="stdForm">
  <div formArrayName="certificates">
    <div *ngFor="let employee of certificates.controls; let i=index">
      <div [formGroupName]="i">


        <div class="row g-5 form-set custom-form">
          <div class="col-md-4 field position-relative">
            <label>{{'dashboard.students.academic year'|translate}}</label> <br>
            <!-- <p-calendar formControlName="certificateId" [readonlyInput]="true" [showIcon]="true" inputId="icon"
              selectionMode="range" optionValue="id" appValidation placeholder="dd/mm/yy" dateFormat="dd/mm/yy">
            </p-calendar> -->
            <p-dropdown #dropdown  [dropdownIcon]="'none'"
            [options]="[{id: 0,name:'2022'}, {id: 1,name:'2023'}, {id: 2,name:'2024'}]"
            optionLabel="name" formControlName="yearId" optionValue="id" placeholder="2022 / 2023">
            </p-dropdown>
         <img src="assets/images/navBar/calendar.svg" alt="">

          </div>
          <div class="col-md-4">
            <label>{{'dashboard.students.School Name'| translate}}</label> <br>
            <p-dropdown *ngIf="currentLang=='ar'" placeholder="{{'dashboard.students.School Name'| translate}}" [options]="schoolNames"
             (onChange)="takeSchoolId($event.value)" formControlName="schoolId" optionLabel="name.ar" optionValue="id" appValidation></p-dropdown>
             <p-dropdown *ngIf="currentLang=='en'" placeholder="{{'dashboard.students.School Name'| translate}}" [options]="schoolNames"
             (onChange)="takeSchoolId($event.value)" formControlName="schoolId" optionLabel="name.en" optionValue="id" appValidation></p-dropdown>

          </div>
          <div class="col-md-4">
            <label>{{'dashboard.students.Class'|translate}}</label> <br>
            <p-dropdown  *ngIf="currentLang=='ar'" placeholder="{{'dashboard.students.Class'|translate}}" [options]="grades[i]"
              formControlName="gradeId" optionLabel="name.ar" optionValue="id" appValidation></p-dropdown>
              <p-dropdown  *ngIf="currentLang=='en'" placeholder="{{'dashboard.students.Class'|translate}}" [options]="grades[i]"
              formControlName="gradeId" optionLabel="name.en" optionValue="id" appValidation></p-dropdown>
          </div>

        </div>



      </div>

    </div>
  </div>
</form>
</p-fieldset>
<!-- <pre>{{this.stdForm.value | json}}</pre> -->