@import "src/assets/css/utils/variables.scss";
@import "../../../../../assets/css/components/forms.scss";
@import "../../../../../assets/css/components/validation-form.scss";
img{
    position: absolute;
    top: 4rem;
    left: 2.7rem;
  }
  ::ng-deep p-fieldset{
    fieldset{
      margin: 4rem 0;
      border-radius: 15px !important;
  
    }
    legend{
      display: flex;
      width: 30rem;
      border: 1px solid #AFAFAF !important ;
      position: relative;
      top: -2rem;
      right: -92rem;
      border-radius: 15px !important;
      &:hover{
        background-color: #fff !important;
      }
    }
    a{
      background: none !important;
      padding: .5rem !important;
      &:hover{
        text-decoration: none !important;
      }
    }

   
  }

  label{
    font-size: 1.5rem;

  }