@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/breadcrumb';
@import '../../../../../../../assets/css/components/model';

.absence-records{

    


    .records{

        &__list{
            color: #767676;

            &__item{
                display: flex;
                align-items: center;
                column-gap: 10rem;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 1.75rem 3rem;

                &:not(:last-child){

                    border-bottom: 1px solid #E8E8E8;
                }

                .actions{
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                    margin-inline-start: auto;

                    .alerte{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        column-gap: .7rem;
                        background-color: #1EB8D5;
                        border-radius: 100px;
                        // width: 5rem;
                        padding: .5rem .5rem .5rem 3rem;

                        .icon{
                            width: 1.77rem;
                            height: 1.77rem;
                            border-radius: 100px;
                            background: rgba(#fff, .2);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            fa-icon{color: #fff; font-size: 1.2rem;}
                        }
                        span{
                            color: #fff;
                            font-size: 1.4rem;
                            font-weight: 500;
                        }
                    }

                    .icon-close{
                        font-size: 1.4rem;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}