
 <app-add-btn [backGroundColor]="'btn-outline-primary'" [route]="'/dashboard/manager-tools/indexes/new-index'" [content]="'dashboard.Indexes.Add Item'"></app-add-btn>
    <div class="prim-table ">
    <p-table  #dt [value]="indexesList" (onSort)="sortMe($event)"  [paginator]="true" [(rows)]="rows" [(first)]="first"  [hidden]="!tableShown"   >
     

             <ng-template pTemplate="caption">
                <app-table-caption 
                (onExport)="onExport($event)" 
                (onFilter)="getAllIndexes()" 
                (onSearch)="filtration.KeyWord = $event; getAllIndexes()"
                (onClear)="clearFilter()">

                <div class="row gx-5 form-set">
                    <div class="col-6">
                        <label class="label" for="indexType">{{'dashboard.Indexes.List Type'|translate }} </label>
                        <p-dropdown [options]="cities" [(ngModel)]="filtration.indexType" inputId="indexType"  placeholder="{{'dashboard.Indexes.Select Index Type'|translate }}"></p-dropdown>
                    </div>
                    <div class="col-6">
                        <label class="label" for="indexStatus">{{'dashboard.Indexes.Index Status'|translate }} </label>
                        <p-dropdown [options]="cities" [(ngModel)]="filtration.indexStatus" inputId="indexStatus"  placeholder="{{'dashboard.Indexes.Select Index Status'|translate }}"></p-dropdown>
                    </div>
                </div>
    
                </app-table-caption>

            </ng-template>

      
      
      <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="indexType" ><p-sortIcon  field="indexType" ></p-sortIcon>{{'dashboard.Indexes.List Type'|translate}}</th>
              <th  class="mediumrow"  pSortableColumn="indexName"><p-sortIcon field="indexName" ></p-sortIcon>{{'dashboard.Indexes.Index Name'|translate}}</th>
              <th  class="longrow"  pSortableColumn="Status" >{{'dashboard.Indexes.Index Status'|translate}}</th>
              <th   pSortableColumn="edit" class="actions "></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
                <td  >{{e.indexType|translate}}</td>
                <td  class="mediumrow" >{{e.indexName|translate}}</td>
                <td  Class="longrow" >
                    <div class="d-flex align-items-center gap-4">
                       
                        <div [ngClass]="e.indexStatus=='Active'?'alerting success':'alerting danger'">{{e.indexStatus|translate}}</div>
                        
                    </div>
                
                </td>
                <td class="edit"> 
                    <button  routerLink="/dashboard/manager-tools/indexes/new-index">
                        {{'shared.edit'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                     </button>
                </td>
            
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>

            <tr>
    
                <td [colSpan]="8" >

                    <div style="padding-left: '3.2rem';">
                        <ngx-skeleton-loader
                          count="5"
                          [theme]="{ 
                            'border-radius': '5px',
                            height: '50px',
                            'background-color': '#EEEEEE',
                            border: '1px solid white'
                          }"
                        ></ngx-skeleton-loader>
                    </div>
    
                </td>
    
            </tr>
    
          </ng-template>
    </p-table>
  
    <div [hidden]="!tableShown">
        <app-pagination [totalItems]="indexesList.length" (paginationChanged)="onTableDataChange($event)"></app-pagination>
    </div>

    <!-- emptymessage -->
    <div [hidden]="tableShown">
        <app-informative-block title="{{'emptyList.Indexes List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </div>
    
    </div>
 