<!------------------------------------------------------------------------->
<div class="school position-relative">
    <div class="submit-btn d-flex justify-content-end position-absolute bottom-100 mb-5 downloadbtn " *ngIf="step==3">
        <!-- <app-add-btn [backGroundColor]="'btn-primary'" [content]="'breadcrumb.downloadfiles'"></app-add-btn> -->
        <button class="btn btn-primary btn--md">
            <span>{{'dashboard.surveys.downloadfiles'| translate}}</span>
        </button>


    </div>
    <div class="submit-btn d-flex justify-content-end position-absolute bottom-100 mb-5 downloadbtn "
        *ngIf="step==2 || step==1">
        <!-- <app-add-btn [backGroundColor]="'btn-primary'" [content]="'breadcrumb.downloadfiles'"></app-add-btn> -->
        <button class="btn btn-primary btn--md"
        (click)="goToEditSurvey()"
        [disabled]="!assesmentFormGrp.valid">
            <span>{{'shared.save'| translate}}</span>
        </button>
        <button class="btn color-orange-200 cancelbtn" routerLink="/dashboard/educational-settings/surveys">
            <span>{{'shared.Cancel'| translate}}</span>
        </button>


    </div>

    <div class="tabView">
        <!-- Navigations Options -->
        <div class="radius-15 border p-5 mb-5 bg-white">


            <div class="row gx-5 p-4 bg-gray-30 my-5 " *ngIf="step==3">
                <div class="col-md-3  d-flex align-items-center  gap-4">
                    <span class="color-gray-300">رقم الأستبيان</span>
                    <span class="color-primary">{{editSurvey.surveyNumber}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">تاريخ الأنشاء</span>
                    <span class="color-primary">{{editSurvey.createdDate }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300"> نشأ من قبل </span>
                    <span class="color-primary">{{editSurvey.createdBy }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">حالة الأستبيان</span>
                    <span class="color-orange-300 Surveystatus-close">{{editSurvey.surveyStatus}}</span>
                </div>
            </div>
            <div class="row gx-5 p-4 bg-gray-30 my-5" *ngIf="step==2 || step==1">
                <div class="col-md-3  d-flex align-items-center  gap-4">
                    <span class="color-gray-300">رقم الأستبيان</span>
                    <span class="color-primary">{{editSurvey.surveyNumber}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">تاريخ الأنشاء</span>
                    <span class="color-primary">{{editSurvey.createdDate | date:"MM/dd/yyyy" }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300"> نشأ من قبل </span>
                    <span class="color-primary">{{editSurvey.createdBy}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">حالة الأستبيان</span>
                    <span class="color-green-600 Surveystatus">{{editSurvey.surveyStatus}}</span>
                </div>
            </div>
            <form [formGroup]="assesmentFormGrp" class="container-fluid">
                <div class="row gx-5 form-set  custom-form ">
                    <div class="col-md-4">
                        <label class="label" for="day">عنوان الاستبيان </label>
                        <!-- {{translationService.lang=='ar'?student.name.ar:student.name.en}} -->
                        <input type="text" formControlName="surveyTitle" id="day" pInputText
                            placeholder="اكتب عنوان الاستبيان" />

                    </div>

                    <div class="col-md-4">
                        <label class="label" for="day">نوع الاستبيان </label>
                        <p-dropdown [options]="surveyType" [(ngModel)]="selectedSurveyType" formControlName="surveyType"
                            optionLabel="name" placeholder="اجباري / اختياري"></p-dropdown>
                    </div>
                </div>
            </form>


        </div>


        <ul class="tabView__nav">
            <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1">
                <span>{{'dashboard.surveys.surveyquestion'| translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==2" (click)="step=2;">
                <span>{{'dashboard.surveys.surveyInfo'|translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==3" (click)="step=3">
                <span>{{'dashboard.surveys.surveyAnswer'|translate}}
                    <label style="color: #CD578A;" *ngIf="step==3">(11)</label></span>
            </li>

        </ul>
        <!-- Navigations Options -->

        <div class="tabView__content-survey">
            <!-- general Info -->
            <ng-container *ngIf="step==1">
                <div id="content">
                    <div class="container mt-5 custom-form custom-validation-form" style="margin-bottom: 20rem;">
                        <form [formGroup]="assesmentFormGrp" class="container-fluid ">

                            <!-----------------------------add row------------------------------->
                            <div class="row">
                                <ul class="subjects" formArrayName="subjects">
                                    <li class="subject border p-4 pb-5"
                                        *ngFor="let subject of classSubjects.controls ;let i=index" [formGroupName]="i">
                                        <div class="p-5">
                                            <div class="row gx-5 form-set">
                                                <div class="col-xs-4 col-lg-4">
                                                    <label for="PID8" class="label"><b>نوع السؤال</b></label>
                                                    <p-dropdown (onChange)="onChangesurveyQuestionType($event , i)"
                                                        formControlName="surveyQuestionType"
                                                        [options]="surveyQuestionType" inputId="day" optionLabel="name"
                                                        placeholder="اختر نوع السؤال" appValidation></p-dropdown>
                                                </div>

                                                <div class="col-xs-4 col-lg-4">
                                                    <label for="PID7" class="label"><b>نص السؤال </b></label>
                                                    <div class="p-inputgroup">
                                                        <input type="text" formControlName="questionText" pInputText
                                                            class="form-control basicinput "
                                                            placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                                    </div>
                                                </div>

                                                <div class="col-xs-4 col-lg-4" id="div_questionChoices_{{i}}"
                                                    [ngStyle]="{'display': 'none'}">
                                                    <label class="label" for="day">خيارات السؤال </label>
                                                    <input type="text"  pInputText formControlName="questionChoices"
                                                        class="form-control basicinput " placeholder="اكتب نص السؤال"
                                                        name="PID7" id="PID7">
                                                </div>
                                                <div class="col-md-4" id="div_attachment_{{i}}"
                                                    [ngStyle]="{'display' : (subject.get('surveyQuestionType').value.code ==2 ) ? 'block': 'none'}">
                                                    <label class="label" for="day">الملف </label>
                                                
                                                    <div class="file-upload" (click)="file.click()">
                                                        <input type="file" name="" id="" hidden #file formControlName="attachment" (change)="uploadFile($event,i)">
                                                        <img src="assets/images/shared/PDFSEC.svg" alt="upload">
                                                
                                                        <div class="file">{{_fileName[i]==null ? fileName : _fileName[i]
                                                            }}</div>
                                                        <img src="assets/images/shared/delete.svg" alt="delete file">
                                                    </div>
                                                </div>

                                                <div class="col-xs-4 col-lg-4" *ngFor="let item of AllList[i] ;let x=index">
                                                    <label class="label" for="day"> </label>
                                                    <div class="p-inputgroup" >
                                                        <input type="text"  
                                                            pInputText
                                                            class="form-control basicinput"
                                                            value="{{item}}"
                                                            [(ngModel)]="AllList[i][x]"
                                                            [ngModelOptions]="{standalone: true}"
                                                            placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <div role="button"
                                        class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3"
                                        (click)="addSubject()">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                        <span>{{'dashboard.surveys.AddSurvey' |translate}}</span>
                                    </div>
                                </ul>
                            </div>
                        </form>
                        <hr class="color-gray-400 mb-4">
                        <!-------------------------second row---------------------------------------------->

                        <!-------------------------end second row----------------------------------------------------------->
                    </div>

                </div>
            </ng-container>
            <!-- general Info -->
            <!-- school manager -->
            <ng-container *ngIf="step==2">
                <app-send-survey></app-send-survey>
            </ng-container>
            <!-- school managar -->


            <!-- school Classes -->
            <ng-container *ngIf="step==3">
                <app-survey-report></app-survey-report>
            </ng-container>
            <!-- school Classes -->
        </div>
    </div>
</div>