<!------------------------------------------------------------------------->
<div class="school position-relative">
    <div class="export"  (clickOutside)="showExportModel=false" >
      
        <div class="submit-btn d-flex justify-content-end position-absolute bottom-100 mb-5 downloadbtn"  *ngIf="editSurvey.surveyStatus==StatusEnum.Closed">
        
            <button class="btn btn-primary btn--md" (click)="showExportModel=!showExportModel">
                <span>{{'dashboard.surveys.downloadfiles'| translate}}</span>
            </button>
    
    
        </div>
        <div class="export__model " [class.show]="showExportModel">
            <div role="button" (click)="pdfToExport()">
                <p>{{'shared.export file as'|translate}}.Pdf</p>
            </div>
            <hr>
            <div role="button" (click)="ExportToExcel()">
                <p>{{'shared.export file as'|translate}}.xslx</p>
            </div>
        </div>
    </div>
    <!-- <div  class="export__model" (clickOutside)="showExportModel=false">
    <div class="submit-btn d-flex justify-content-end position-absolute bottom-100 mb-5 downloadbtn"  *ngIf="editSurvey.surveyStatus==StatusEnum.Closed">
        
        <button class="btn btn-primary btn--md" (click)="showExportModel=!showExportModel">
            <span>{{'dashboard.surveys.downloadfiles'| translate}}</span>
        </button>


    </div>
   
        <div   [class.show]="showExportModel">
            <div role="button" (click)="pdfToExport()">
                <p>{{'shared.export file as'|translate}}.Pdf</p>
            </div>
            <hr>
            <div role="button" (click)="ExportToExcel()">
                <p>{{'shared.export file as'|translate}}.xslx</p>
            </div>
        </div>
    </div> -->
   
    <div class="submit-btn d-flex justify-content-end position-absolute bottom-100 mb-5 downloadbtn " *ngIf="editSurvey.surveyStatus==StatusEnum.New">
        
        <button class="btn btn-primary btn--md"
        (click)="goToEditSurvey()"
        [disabled]="!assesmentFormGrp.valid">
            <span>{{'shared.save'| translate}}</span>
        </button>
        <button class="btn color-orange-200 cancelbtn"  routerLink="/dashboard/educational-settings/surveys">
            <span>{{'shared.Cancel'| translate}}</span>
        </button>
    

    </div>

    <div class="tabView">
        <!-- Navigations Options -->
        <div class="radius-15 border p-5 mb-5 bg-white" *ngIf="surveyId">


            <div class="row gx-5 p-4 bg-gray-30 my-5 " >
                <div class="col-md-3  d-flex align-items-center  gap-4">
                    <span class="color-gray-300">رقم الأستبيان</span>
                    <span class="color-primary">{{editSurvey.surveyNumber}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">تاريخ الأنشاء</span>
                    <span class="color-primary">{{editSurvey.createdDate|LocalizeDate }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300"> نشأ من قبل </span>
                    <span class="color-primary">{{editSurvey.createdBy }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">حالة الأستبيان</span>
                    <div [ngSwitch]="editSurvey.surveyStatus">
                        <div class="alerting primary" *ngSwitchCase="StatusEnum.New"> {{'dashboard.surveys.'+StatusEnum.New| translate}}</div>
                        <div class="alerting success" *ngSwitchCase="StatusEnum.Sent "> {{'dashboard.surveys.'+StatusEnum.Sent | translate}}</div>
                        <div class="alerting danger" *ngSwitchCase="StatusEnum.Closed "> {{'dashboard.surveys.'+StatusEnum.Closed | translate}}</div>
                        <div class="alerting visible" *ngSwitchCase="StatusEnum.Visible "> {{'dashboard.surveys.'+StatusEnum.Visible | translate}}</div>
                        <div class="alerting secondry" *ngSwitchCase="StatusEnum.Canceled "> {{'dashboard.surveys.'+StatusEnum.Canceled | translate}}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row gx-5 p-4 bg-gray-30 my-5" *ngIf="step==2 || step==1">
                <div class="col-md-3  d-flex align-items-center  gap-4">
                    <span class="color-gray-300">رقم الأستبيان</span>
                    <span class="color-primary">{{editSurvey.surveyNumber}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">تاريخ الأنشاء</span>
                    <span class="color-primary">{{editSurvey.createdDate | LocalizeDate}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300"> نشأ من قبل </span>
                    <span class="color-primary">{{editSurvey.createdBy}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">حالة الأستبيان</span>
                    <span class="color-green-600 Surveystatus">{{editSurvey.surveyStatus}}</span>
                </div>
            </div> -->
            <form [formGroup]="assesmentFormGrp" class="container-fluid">
                <div class="row gx-5 form-set  custom-form ">
                    <div class="col-md-4">
                        <label class="label" for="day">{{'dashboard.surveys.surveyAddress' | translate}}</label>
                        <input type="text" formControlName="surveyTitle" id="day" pInputText placeholder="{{'dashboard.surveys.write surveyAddress' | translate}}" />

                    </div>

                    <div class="col-md-4">
                        <label class="label" for="day">{{'dashboard.surveys.surveyType' | translate}}</label>
                        <p-dropdown [options]="surveyType"  formControlName="surveyType"  optionValue="value" optionLabel="name" placeholder="{{'dashboard.surveys.Select surveyType' | translate}}"></p-dropdown>
                    </div>
                </div>
            </form>


        </div>


        <ul class="tabView__nav" *ngIf="surveyId">
            <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1">
                <span>{{'dashboard.surveys.surveyquestion'| translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==2" (click)="step=2;">
                <span>{{'dashboard.surveys.surveyInfo'|translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==3" (click)="step=3">
                <span>{{'dashboard.surveys.surveyAnswer'|translate}}
                    <label style="color: #CD578A;" *ngIf="step==3">(11)</label></span>
            </li>

        </ul>
        <!-- Navigations Options -->

        <div class="tabView__content-survey">
            <!-- general Info -->
            <ng-container *ngIf="step==1">
                <div id="content">
                    <div class="container mt-5 custom-form custom-validation-form" style="margin-bottom: 20rem;">
                        <form [formGroup]="assesmentFormGrp" class="container-fluid ">

                            <!-----------------------------add row------------------------------->
                 
                                <div class="subjects" formArrayName="subjects">
                                    <div class="subject " *ngFor="let subject of subjects.controls ;let i=index" [formGroupName]="i">
                                        <div class="p-5">
                                            <div class="row gx-5 form-set">
                                                <div class="col-xs-4 col-lg-3">
                                                    <label for="PID8" class="label">{{'dashboard.surveys.questionType' | translate}}</label>
                                                    <p-dropdown 
                                                        formControlName="surveyQuestionType" (onChange)="onChangesurveyQuestionType($event.value,i)"
                                                        [options]="questionType" inputId="day" optionLabel="name" optionValue="value" 
                                                        placeholder="{{'dashboard.surveys.Selest questionType' | translate}}" appValidation></p-dropdown>
                                                </div>
                                               
                                                <div class="col-xs-4 col-lg-3">
                                                    <label for="PID7" class="label">{{'dashboard.surveys.questionText' | translate}}</label>
                                                    <div class="p-inputgroup">
                                                        <input type="text" formControlName="questionText" pInputText
                                                            class="form-control basicinput "
                                                            placeholder="{{'dashboard.surveys.Write questionText' | translate}}" name="PID7" id="PID7">
                                                    </div>
                                                </div>
                                            
                                                <!-- <div class="col-xs-4 col-lg-3" id="div_questionChoices_{{i}}"
                                                    [ngStyle]="{'display': 'none'}">
                                                    <label class="label" for="day">خيارات السؤال </label>
                                                    <input type="text"  pInputText formControlName="questionChoices"
                                                        class="form-control basicinput " placeholder="اكتب نص السؤال"
                                                        name="PID7" id="PID7">
                                                </div> -->
                                        
                                           <ng-container *ngIf="questionArray[i]">
                                              <div id="div_questionChoices_{{i}}"  [ngClass]="questionArray[i]?'visible':'invisible'"  >
                                                <div class="col-xs-4 col-lg-3 mt-3"  formArrayName="questionChoices" >
                                                    <span    *ngFor="let mobile of find(i); let j=index">
                                                      <label for="uMobile + {{j}}" class="form-label">{{'dashboard.replySurvey.Question options'|translate}} {{j+1}}</label>
                                                      <input type="text" [formControlName]="mobile.value" class="form-control" name="uMob + {{j}}" id="uMobile + {{j}}"
                                                        placeholder="" >
                                                    
                                                    </span>
                                                    
                                                 
                                                </div>
                                            </div> 
                                         
                                        </ng-container>
                                          <ng-container *ngIf="attachmentArray[i]">
                                             <div class="col-lg-3" id="div_attachment_{{i}}"
                                                    [ngClass]="attachmentArray[i]?'visible':'invisible'">
                                                    <label class="label" for="day">الملف </label>
                                                    <div>
                                                        <app-file-upload   (onFileUpload)="onFileUpload($event)" accept="application/pdf" view="full" ></app-file-upload>
                                                </div>
                                                
                                                </div> 
                                            </ng-container>

                                                <div role="button" class="color-primary col-lg-2 mt-7 " (click)="addChoices()">
                                                <fa-icon [icon]="faPlus"></fa-icon>
                                                <span class="mx-3">{{'dashboard.surveys.AddChoices' |translate}}</span>
                                                </div>
                                            
                                                <!-- <div class="col-xs-4 col-lg-4" *ngFor="let item of AllList[i] ;let x=index">
                                                    <label class="label" for="day"> </label>
                                                    <div class="p-inputgroup" >
                                                        <input type="text"  
                                                            pInputText
                                                            class="form-control basicinput"
                                                            value="{{item}}"
                                                            [(ngModel)]="AllList[i][x]"
                                                            [ngModelOptions]="{standalone: true}"
                                                            placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div role="button"
                                        class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3"
                                        (click)="addSubject()">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                        <span>{{'dashboard.surveys.AddSurvey' |translate}}</span>
                                    </div>
                                </div> 

                        </form>
                        <hr class="color-gray-400 mb-4">
                        <!-------------------------second row---------------------------------------------->

                        <!-------------------------end second row----------------------------------------------------------->
                    </div>

                </div>
            </ng-container>
            <!-- general Info -->
            <!-- school manager -->
            <ng-container *ngIf="step==2">
                <app-send-survey></app-send-survey>
            </ng-container>
            <!-- school managar -->


            <!-- school Classes -->
           
            <ng-container *ngIf="step==3||showExportModel">
                <div id="contentToConvert">
                     <app-survey-report ></app-survey-report>
               </div> 
            </ng-container>
            <!-- school Classes -->
        </div>
    </div>
</div>

