@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import '../../../../../../../assets/css/components/profile';
@import '../../../../../../../assets/css/components/model';
@import '../../../../../../../assets/css/components/forms.scss';

.school{

    ::ng-deep p-menu{
        .p-menu{
            z-index: 1001 !important;
            transform-origin: center !important;
            top: -40px !important;
            left: 40px !important;
        }
    }

    .submit-btn {
        top: -8rem;
        inset-inline-end: 0;
    }

    .map-container{
        min-height: 230px;
        overflow: hidden;
        &.hide{
            min-height: 0;
            height: 0; 
            overflow: hidden;
        }
    }
    .map {
        width: 100%;
        // height: 100%;
    }

    
}

