<!-- <div
[style]="styles"
(click)="openFile()"
[style.cursor]="clickable?'pointer':'default'"
 class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15">
    <img src="assets/images/shared/pdf.svg" alt="">
    <span>{{name}}</span>
</div> -->

<div
*ngIf="file.name || file?.url"
[style]="styles"
(click)="openFile()"
[style.cursor]="clickable?'pointer':'default'">
    <label class="fw-bold mb-3" [style.minHeight.rem]="'2'">{{(file?.titel |currentLang )|| titel|currentLang}}</label>
    <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
        <div class="d-flex align-items-center gap-5">
            <img src="assets/images/shared/file.svg" [style.width.rem]="5" alt="">
            <span class="word-break-all"> {{file.name}}</span>
        </div>
        <ng-container *ngIf="file.comment">
            <p class="position-relative paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                <span class="comment" *ngIf="file.comment">{{file.comment}}</span>
            </p>
        </ng-container>

        <div *ngIf="hasFooter" class="fs-5 d-flex justify-content-between align-items-center py-2 px-4 radius-8 bg-gray-30 mt-2">
          <span>{{'shared.by' |translate}} / {{(file?.uploader|currentLang) || '--'}}</span>
          <span>{{'shared.in date' |translate}} / {{file?.createdDate |LocalizeDate}}</span>
        </div>

        <div *ngIf="showDeletedBy && !file.isActive " class="fs-5 d-flex justify-content-between align-items-center py-2 px-4 radius-8 color-red-500 bg-red-50 mt-2">
          <p>حذف بواسطه موظف المدرسه</p>
        </div>

    </div>
</div>
