<!------------------------------------------------------------------------->

<ng-container *ngIf="!editSurvey&&surveyId">
    <div class="row g-5 mt-5">

            <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>

    </div>

 </ng-container>

<div class="school position-relative" *ngIf="editSurvey||!surveyId">
    <div class="export"  (clickOutside)="showExportModel=false" >

        <div class="d-flex justify-content-end mb-5 downloadbtn"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Closed">
          <div class="files d-flex">
            <button class="btn btn-primary btn--md" (click)="showExportModel=!showExportModel">
                <span>{{'dashboard.surveys.Survey Report'| translate}}</span>
            </button>
        </div>

        </div>
        <div class="export__model " [class.show]="showExportModel">
            <div role="button" (click)="pdfToExport()">
                <p>{{'shared.export file as'|translate}}.Pdf</p>
            </div>
            <hr>
            <div role="button" (click)="ExportToExcel()">
                <p>{{'shared.export file as'|translate}}.xslx</p>
            </div>
        </div>
    </div>

    <!-- [disabled]="!surveyFormGrp.valid" -->
    <div class="d-flex align-items-center justify-content-end " *ngIf="editSurvey?.surveyStatus==StatusEnum.Draft||editSurvey?.surveyStatus==StatusEnum.Sent||!surveyId">
        <div class="Btn-group d-flex gap-3">

            <button class="btn btn-primary btn--md" (click)="saveSurvey()" [disabled]="surveyFormGrp.invalid||isBtnLoading" *permit="[ClaimsEnum.S_U_Survey,ClaimsEnum.S_C_Survey]">
                <span>{{'shared.save'| translate}}</span>
                <div class="spinner-border text-light" role="status" [hidden]="!isBtnLoading"></div>
            </button>
            <button   >
                <a class="cancelbtn" routerLink="/educational-settings/surveys">{{'shared.Cancel'| translate}}</a>
            </button>
    </div>

    </div>



    <div class="tabView">
        <!-- Navigations Options -->
        <div class="radius-15  p-5 pt-0 mb-5 bg-white">
            <div class="d-flex align-items-center mt-5"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent">

                        <button class="btn  btn--md  color-white cancel" (click)="changeStatus()" [disabled]="isSentBtnLoading">
                            <span>{{'dashboard.surveys.cancelSent'| translate}}</span>
                            <div class="spinner-border text-light" role="status" [hidden]="!isSentBtnLoading"></div>
                        </button>


            </div>

            <div class="row gx-5 p-4 bg-gray-30 my-5 "  *ngIf="surveyId">
                <div class="col-md-3  d-flex align-items-center  gap-4">
                    <span class="color-gray-300">{{'dashboard.surveys.surveyNumber' | translate}}</span>
                    <span class="color-primary">{{editSurvey?.surveyNumber}}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">{{'shared.Created Date'|translate}}</span>
                    <span class="color-primary">{{editSurvey?.createdDate|LocalizeDate }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300"> {{'dashboard.Subjects.Created by'|translate}}</span>
                    <span class="color-primary">{{editSurvey?.createdBy|currentLang }}</span>
                </div>
                <div class="col-md-3 d-flex align-items-center  gap-4">
                    <span class="color-gray-300">{{'dashboard.surveys.surveyStatus' | translate}}</span>
                    <div [ngSwitch]="editSurvey?.surveyStatus">
                        <div class="alerting primary" *ngSwitchCase="StatusEnum.Draft"> {{'dashboard.surveys.'+StatusEnum.Draft| translate}}</div>
                        <div class="alerting success" *ngSwitchCase="StatusEnum.Sent "> {{'dashboard.surveys.'+StatusEnum.Sent | translate}}</div>
                        <div class="alerting danger" *ngSwitchCase="StatusEnum.Closed "> {{'dashboard.surveys.'+StatusEnum.Closed | translate}}</div>
                        <div class="alerting secondary" *ngSwitchCase="StatusEnum.Apparent "> {{'dashboard.surveys.'+StatusEnum.Apparent| translate}}</div>
                        <div class="alerting dark" *ngSwitchCase="StatusEnum.Canceled "> {{'dashboard.surveys.'+StatusEnum.Canceled | translate}}</div>
                    </div>
                </div>
            </div>

            <form [formGroup]="surveyFormGrp" >
                <div class="row gx-5 form-set  custom-form custom-validation-form basic">
                    <div class="col-md-4 col-lg-4">
                        <label class="label" for="day">{{'dashboard.surveys.surveyAddress (inArabic)' | translate}} <span class="star">*</span></label>
                        <input type="text" formControlName="arabicSurveyTitle" *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" class="form-control" [LangRestrict]="'ar'" id="day" pInputText placeholder="{{'dashboard.surveys.write surveyAddress' | translate}}" />
                        <input type="text" formControlName="arabicSurveyTitle" [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" class="form-control" [LangRestrict]="'ar'" id="day" pInputText placeholder="{{'dashboard.surveys.write surveyAddress' | translate}}" />
                        <div>
                            <div [hidden]="arabicSurveyTitle.valid || arabicSurveyTitle.untouched">
                                <small *ngIf="arabicSurveyTitle.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <label class="label" for="day">{{'dashboard.surveys.surveyAddress (inEnglish)' | translate}} <span class="star">*</span></label>
                        <input type="text" formControlName="englishSurveyTitle" *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" class="form-control leftaction" [LangRestrict]="'en'" id="day" pInputText placeholder="{{'dashboard.surveys.write surveyAddress' | translate}}" />
                        <input type="text" formControlName="englishSurveyTitle"  [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" class="form-control leftaction" [LangRestrict]="'en'" id="day" pInputText placeholder="{{'dashboard.surveys.write surveyAddress' | translate}}" />
                        <div>
                            <div [hidden]="englishSurveyTitle.valid || englishSurveyTitle.untouched">
                                <small *ngIf="englishSurveyTitle.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4">
                        <label class="label" for="day">{{'dashboard.surveys.surveyType' | translate}} <span class="star">*</span></label>
                        <p-dropdown [options]="surveyTypes"  formControlName="surveyType" *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" [ngClass]="{'ng-invalid ng-dirty':surveyType.errors?.['required'] &&surveyType.touched}"  optionValue="value" optionLabel="name" placeholder="{{'dashboard.surveys.Select surveyType' | translate}}"></p-dropdown>
                        <p-dropdown [options]="surveyTypes"  formControlName="surveyType" [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" [ngClass]="{'ng-invalid ng-dirty':surveyType.errors?.['required'] &&surveyType.touched}"  optionValue="value" optionLabel="name" placeholder="{{'dashboard.surveys.Select surveyType' | translate}}"></p-dropdown>
                        <div>
                            <div [hidden]="surveyType.valid || surveyType.untouched">
                                <small *ngIf="surveyType.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>


        <ul class="tabView__nav" >
            <li class="tabView__nav__link" [class.active]="step==1" (click)="step=1">
                <span>{{'dashboard.surveys.surveyquestion'| translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==2" (click)="checkStatusToSend()" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Canceled" >
                <span>{{'dashboard.surveys.surveyInfo'|translate}}</span></li>
            <li class="tabView__nav__link" [class.active]="step==3" (click)="step=3" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent && editSurvey?.surveyStatus!=StatusEnum.Draft  && editSurvey?.surveyStatus!=StatusEnum.Canceled && surveyId">
                <span>{{'dashboard.surveys.surveyAnswer'|translate}}</span>
            </li>

        </ul>
        <!-- Navigations Options -->

        <div class="tabView__content-survey">
            <!-- general Info -->
            <ng-container *ngIf="step==1">
                <div id="content">
                    <div class=" mt-5 custom-form custom-validation-form border" style="margin-bottom: 20rem;">
                        <form [formGroup]="surveyFormGrp" >

                            <!-----------------------------add row------------------------------->

                                <div class="subjects" formArrayName="questions">
                                    <div class="subject " *ngFor="let question of questions.controls ;let i=index" [formGroupName]="i">

                                            <div class="row gx-5 form-set mt-5 container-fluid">
                                                <div class="col-xs-4 col-lg-4">
                                                    <label for="PID8" class="label">{{'dashboard.surveys.questionType' | translate}} <span class="star">*</span></label>
                                                    <p-dropdown
                                                        formControlName="surveyQuestionType"
                                                        *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId"
                                                        [options]="questionType" inputId="day" optionLabel="name" optionValue="value" (onChange)="onChangesurveyQuestionType($event.value,i)"
                                                        placeholder="{{'dashboard.surveys.Selest questionType' | translate}}" [ngClass]="{'ng-invalid ng-dirty':question.get('surveyQuestionType').errors?.['required'] &&question.get('surveyQuestionType').touched}"></p-dropdown>

                                                        <p-dropdown
                                                        formControlName="surveyQuestionType"
                                                        [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId"
                                                        [options]="questionType" inputId="day" optionLabel="name" optionValue="value" (onChange)="onChangesurveyQuestionType($event.value,i)"
                                                        placeholder="{{'dashboard.surveys.Selest questionType' | translate}}" [ngClass]="{'ng-invalid ng-dirty':question.get('surveyQuestionType').errors?.['required'] &&question.get('surveyQuestionType').touched}"></p-dropdown>
                                                        <div>
                                                            <div [hidden]="question.get('surveyQuestionType').valid || question.get('surveyQuestionType').untouched">
                                                                <small *ngIf="question.get('surveyQuestionType').errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                                  {{'shared.This Field is Required'|translate}}
                                                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                                </small>
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="col-xs-4 col-lg-4">
                                                    <label for="PID7" class="label">{{'dashboard.surveys.questionText (inArabic)' | translate}} <span class="star">*</span></label>
                                                    <div class="p-inputgroup">
                                                        <input type="text" formControlName="arabicQuestionText"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" pInputText class="form-control"  [LangRestrict]="'ar'" placeholder="{{'dashboard.surveys.Write questionText' | translate}}" name="PID7" id="PID7">
                                                        <input type="text" formControlName="arabicQuestionText"  [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" pInputText class="form-control"  [LangRestrict]="'ar'" placeholder="{{'dashboard.surveys.Write questionText' | translate}}" name="PID7" id="PID7">
                                                    </div>
                                                    <div>
                                                        <div [hidden]="question.get('arabicQuestionText').valid || question.get('arabicQuestionText').untouched">
                                                            <small *ngIf="question.get('arabicQuestionText').errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                              {{'shared.This Field is Required'|translate}}
                                                               <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-4 col-lg-4">
                                                    <label for="PID7" class="label">{{'dashboard.surveys.questionText (inEnglish)' | translate}} <span class="star">*</span></label>
                                                    <div class="p-inputgroup">
                                                        <input type="text" formControlName="englishQuestionText"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" pInputText class="form-control leftaction"  [LangRestrict]="'en'" placeholder="{{'dashboard.surveys.Write questionText' | translate}}" name="PID7" id="PID7">
                                                        <input type="text" formControlName="englishQuestionText" [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" pInputText class="form-control leftaction"  [LangRestrict]="'en'" placeholder="{{'dashboard.surveys.Write questionText' | translate}}" name="PID7" id="PID7">
                                                    </div>
                                                    <div>
                                                        <div [hidden]="question.get('englishQuestionText').valid || question.get('englishQuestionText').untouched">
                                                            <small *ngIf="question.get('englishQuestionText').errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                              {{'shared.This Field is Required'|translate}}
                                                               <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class=" gx-5 form-set container-fluid">
                                               <!-- {{question.get('questionChoices').controls[i].errors?.['required']|json}} -->

                                           <ng-container *ngIf="question.get('surveyQuestionType').value==QuestionsTypeEnum.SurveyMultiChoiceQuestion">

                                                <div   formArrayName="questionChoices" >
                                                    <div    *ngFor="let option of question.get('questionChoices').controls; let j=index" [formGroupName]="j">
                                                     <div class="row sidebyside">
                                                        <span class="col-lg-4 mb-5" >
                                                            <label for="arabicChoice{{j}}"  class="label">{{'dashboard.replySurvey.Question options (inArabic)'|translate}} {{j+1}} <span class="star">*</span></label>
                                                            <input type="text"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" formControlName="arabicChoice" [LangRestrict]="'ar'" class="form-control" name="arabicChoice{{j}}" id="arabicChoice{{j}}"
                                                                placeholder="" >
                                                            <input type="text" [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" formControlName="arabicChoice" [LangRestrict]="'ar'" class="form-control" name="arabicChoice{{j}}" id="arabicChoice{{j}}"
                                                                placeholder="" >
                                                                <div>
                                                                    <div [hidden]="option.get('arabicChoice').valid || option.get('arabicChoice').untouched">
                                                                        <small *ngIf="option.get('arabicChoice').errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                                        {{'shared.This Field is Required'|translate}}
                                                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                    </span>
                                                    <span class="col-lg-4 mb-5">
                                                        <label for="englishChoice{{j}}"  class="label">{{'dashboard.replySurvey.Question options (inEnglish)'|translate}} {{j+1}} <span class="star">*</span></label>
                                                        <input type="text"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" formControlName="englishChoice" [LangRestrict]="'en'" class="form-control leftaction" name="englishChoice{{j}}" id="englishChoice{{j}}"
                                                            placeholder="" >
                                                        <input type="text" [readonly]="true" *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId" formControlName="englishChoice" [LangRestrict]="'en'" class="form-control leftaction" name="englishChoice{{j}}" id="englishChoice{{j}}"
                                                            placeholder="" >
                                                            <div>
                                                                <div [hidden]="option.get('englishChoice').valid || option.get('englishChoice').untouched">
                                                                    <small *ngIf="option.get('englishChoice').errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                                    {{'shared.This Field is Required'|translate}}
                                                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                                    </small>
                                                                </div>
                                                            </div>
                                                </span>
                                            </div>
                                                    </div>
                                                    <ng-container *permit="[ClaimsEnum.S_U_Survey,ClaimsEnum.S_C_Survey]">
                                                            <div  role="button" class="color-primary col-lg-2 mt-7 " (click)="addChoices(i)" *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId">
                                                                <fa-icon [icon]="faPlus"></fa-icon>
                                                                <span class="mx-3">{{'dashboard.surveys.AddChoices' |translate}}</span>
                                                            </div>
                                                    </ng-container>

                                                </div>


                                        </ng-container>

                                          <ng-container *ngIf="question.get('surveyQuestionType').value==QuestionsTypeEnum.SurveyAttachmentQuestion||question.get('surveyQuestionType').value==QuestionsTypeEnum.SurveyFreeTextQuestion">

                                             <div class="col-xs-4 col-lg-4" id="div_attachment_{{i}}" >
                                                    <label class="label" for="day" *ngIf="question.get('attachment').value||!surveyId">{{'dashboard.surveys.File'|translate}} <span class="star" *ngIf="question.get('surveyQuestionType').value==QuestionsTypeEnum.SurveyAttachmentQuestion">*</span></label>
                                                    <div>
                                                        <div class="file-hidden"  *ngIf="editSurvey?.surveyStatus!=StatusEnum.Sent&&editSurvey?.surveyStatus!=StatusEnum.Draft&&surveyId">
                                                           <app-file-upload [files]="[question.get('attachment').value]"  (onFileUpload)="onFileUpload($event,i)" view="full" ></app-file-upload>
                                                        </div>
                                                        <div *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId">
                                                                <ng-container *ngIf="!question.get('attachment').value">
                                                                <app-file-upload   *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" (onFileUpload)="onFileUpload($event,i)" view="full" ></app-file-upload>
                                                                </ng-container>
                                                                <ng-container *ngIf="question.get('attachment').value">
                                                                    <app-file-upload [files]="[question.get('attachment').value]"  *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId" (onFileUpload)="onFileUpload($event,i)" view="full" ></app-file-upload>
                                                                </ng-container>
                                                        </div>
                                                    </div>

                                            </div>
                                            </ng-container>




                                            </div>

                                            <hr class="color-gray-400 mb-4">
                                    </div>
                                <ng-container *permit="[ClaimsEnum.S_U_Survey,ClaimsEnum.S_C_Survey]">
                                    <div role="button"
                                        class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3"
                                        (click)="addNewQuestion()" *ngIf="editSurvey?.surveyStatus==StatusEnum.Sent||editSurvey?.surveyStatus==StatusEnum.Draft||!surveyId">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                        <span>{{'dashboard.surveys.AddSurvey' |translate}}</span>
                                    </div>
                                </ng-container>
                                </div>

                        </form>

                        <!-------------------------second row---------------------------------------------->

                        <!-------------------------end second row----------------------------------------------------------->
                    </div>

                </div>
            </ng-container>
            <!-- general Info -->
            <!-- school manager -->
            <ng-container *ngIf="step==2">
                <app-send-survey></app-send-survey>
            </ng-container>
            <!-- school managar -->


            <!-- school Classes -->

            <ng-container *ngIf="step==3">
                <app-survey-replies></app-survey-replies>

            </ng-container>

            <ng-container *ngIf="showExportModel">
                <div id="contentToConvert">
                           <app-survey-files></app-survey-files>
                </div>
            </ng-container>

            <!-- school Classes -->
        </div>
    </div>
</div>

