@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/nav-tabs';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/profile';
@import '../../../../../../../assets/css/components/model';


:host{
    position: relative;
}
// .details{

//     p-inputNumber {
//         width: 65% !important;
//     }
//     ::ng-deep  p-dropdown .p-dropdown {
//         width: 50% !important;
//     }

// }

textarea{
    height: 15rem!important;
}

.contactBtn{
    position: absolute;
    top: -7rem;
    left: 4rem;
}