@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/nav-tabs';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/profile';
@import '../../../../../../../assets/css/components/model';

.details{

    p-inputNumber {
        width: 65% !important;
    }
    ::ng-deep  p-dropdown .p-dropdown {
        width: 50% !important;
    }

}

textarea{
    height: 15rem!important;
}