<ng-container *ngIf="!(student$ |async)">
    <div class="row mb-4">
        <div class="col-4 d-flex gap-4 align-items-center">
            <app-skeleton size="7rem"></app-skeleton>
            <app-skeleton width="20rem" count="2" height="2rem"></app-skeleton>
        </div>
    </div>
    <div class="row g-5 mb-4">
        <ng-container *ngFor="let i of [1,2,3]">
            <div class="col-md-3">
                <app-skeleton> </app-skeleton>
            </div>
        </ng-container>

    </div>
    <div class="row g-5 mb-3">
        <ng-container *ngFor="let i of [1,2]">
            <div class="col-md-3">
                <app-skeleton height="1rem"> </app-skeleton>
                <app-skeleton height="1rem"> </app-skeleton>
                <app-skeleton height="1rem"> </app-skeleton>
            </div>
        </ng-container>

    </div>
    <div class="row g-5 mb-3">
        <ng-container *ngFor="let i of [1,2,3,4,5,6]">
            <div class="col-md-2">
                <app-skeleton> </app-skeleton>
            </div>
        </ng-container>

    </div>
</ng-container>



<div class="radius-15 border p-5 mb-5 bg-white custom-form" *ngIf="student$ |async as student">
    <div class="d-flex align-items-center justify-content-between bg-white">
        <div class="profile d-flex align-items-center">
            <div class="profile__avatar">
                <img src="assets/images/avatar.png" alt="Avatar">
            </div>
            <div class="profile__info">
                <div class="profile__name ">
                    <h4 class="heading heading--tertiary">{{student.name | currentLang}}</h4>
                    <div class="" *ngIf="student.isGifted">
                        <img src="assets/images/shared/medal.svg" alt="">
                        <span class="color-red-500">{{'dashboard.students.talent' |translate}}</span>
                    </div>
                    <div *ngIf="student.isGifted">
                        <img src="assets/images/shared/medal-cup.svg" alt="">
                        <span class="color-yellow-400">{{'dashboard.students.isFromTheFirst' |translate}}</span>
                    </div>
                    <div *ngIf="student.isChildOfAMartyr">
                        <img src="assets/images/shared/medal-flag.svg" alt="">
                        <span class="color-fuchsia-500">{{'dashboard.students.isChildOfAMartyr' |translate}}</span>
                    </div>
                </div>
                <div class="profile__details">
                    <div class="fs-4">
                        <img src="assets/images/shared/child.svg" alt="">
                        <span class="color-gray-300">{{student.age}} سنه</span>
                    </div>
                    <div>
                        <img src="assets/images/shared/fingure.svg" alt="">
                        <div [ngSwitch]="registrationStatus">
                            <div class="color-gray-300" *ngSwitchCase="statusEnum.Registered">{{'shared.allStatus.Registered' | translate}}</div>
                            <div class="color-red-500" *ngSwitchCase="statusEnum.Unregestered">{{'shared.allStatus.Unregestered' | translate}}</div>
                            <div class="color-red-500" *ngSwitchCase="statusEnum.WithdrawnRejected">{{'shared.allStatus.WithdrawnRejected' | translate}}</div>
                            <div class="color-red-500" *ngSwitchCase="statusEnum.Deleted">{{'shared.allStatus.Deleted' | translate}}</div>
                            <div class="color-red-500" *ngSwitchCase="statusEnum.Withdrawn">{{'shared.allStatus.Withdrawn' | translate}}</div>
                            <div class="color-gray-500" *ngSwitchCase="statusEnum.Transferd">{{'shared.allStatus.Transferd' | translate}}</div>
                            <div class="color-gray-300" *ngSwitchDefault>{{'shared.registerd' | translate}}</div>
                        </div>
                        <!-- <span class="color-gray-300 fs-4">{{'shared.registerd' | translate}}</span> -->
                    </div>
                    <div *ngIf="student.grade">
                        <img src="assets/images/shared/branch.svg" alt="">
                        <span class="color-gray-300 fs-4">{{student.grade?.name |currentLang}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions d-flex align-items-center gap-3 mb-5">
            <ng-container *ngIf="!(childService.showWithdrawalReqScreen$|async)">
                <ng-container *ngIf="onEditMode || (childService.onMedicalFileEditMode$|async)">
                    <button class="btn btn-primary btn--sm px-5" [disabled]="(childService.submitBtnClicked$ | async)" (click)="childService.submitBtnClicked$.next(true)">
                      <span>{{'shared.saveChanges'| translate}}</span>
                      <div class="spinner-border text-light" role="status" *ngIf="(childService.submitBtnClicked$ | async)"></div>
                  </button>
                </ng-container>
    
                <ng-container *ngIf="!onEditMode && !(childService.onMedicalFileEditMode$|async)">
                    <button class="btn btn-primary btn--sm px-5" (click)="transferStudentModelOpened=true" [disabled]="!currentStudent?.division.id" *permit="claimsEnum.S_TransferStudentToAnotherSchool">
                      <span>{{'dashboard.schools.transferStudentToAnotherDivision'|translate}}</span>
                  </button>
                    <app-dropdown [items]="items" (onItemClicked)="dropdownItemClicked($event)"></app-dropdown>
    
                </ng-container>
            </ng-container>
            
        </div>
    </div>

    <div class="row gx-5 p-4 bg-gray-30 my-5" *ngIf="!(childService.onEditMode$ | async)">
        <ng-container *ngIf="scope ==scopeEnum.SPEA">
            <div class="col-md-3  d-flex align-items-center  gap-4">
                <span class="color-gray-300">الرقم الموحد للطالب</span>
                <span class="color-primary">{{student.daleelId}}</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">الرقم الوزاري</span>
                <span class="color-primary">{{student.ministerialId}}</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">رقم المنهل</span>
                <span class="color-primary">{{student.manhalNumber}}</span>
            </div>
        </ng-container>
        
        <div class="col-md-3 d-flex align-items-center  gap-4" *ngIf="scope !=scopeEnum.SPEA">
            <span class="color-gray-300">{{ 'dashboard.students.studentSchoolId'|translate }}</span>
            <span class="color-primary">{{student?.studentNumber}}</span>
        </div>
    </div>

    <div class="row gx-5 mt-6 details" [formGroup]="studentForm">
        <div class="col-md-5" *ngIf="childService.onEditMode$ | async">
            <div class="grid-container align-items-center">
                <ng-container *ngIf="scope ==scopeEnum.SPEA">                    
                    <p class=" fs-4">{{ 'dashboard.students.studentUnifiedNumber'|translate }}</p>
                    <p-inputNumber formControlName="daleelId"></p-inputNumber>
    
                    <p class=" fs-4">{{ 'dashboard.parents.ministerialNumber'|translate }}</p>
                    <p-inputNumber formControlName="ministerialId"></p-inputNumber>
    
                    <p class=" fs-4">{{ 'dashboard.students.manhalNumber'|translate }}</p>
                    <p-inputNumber formControlName="manhalNumber"></p-inputNumber>
                </ng-container>

                <ng-container *ngIf="scope !=scopeEnum.SPEA">
                    <p class=" fs-4">{{ 'dashboard.students.studentSchoolId'|translate }}</p>
                    <p-inputNumber formControlName="studentNumber"></p-inputNumber>
                </ng-container>

            </div>
        </div>


        <ng-container formGroupName="prohibited">
            <div class="col">
                <h3 class="heading heading--tertiary mb-4">{{'dashboard.students.forbiddenFromWithdrow' | translate}}</h3>
                <div class="grid-container align-items-center">
                    <!-- Edit Mode -->
                    <ng-container *ngIf="childService.onEditMode$ | async">                        
                        <ng-container *permit="claimsEnum.S_ProhibitedFromWithdrawing">
                            <p class=" fs-4">{{ 'dashboard.students.fromAuthority'|translate }}</p>
                            <p-dropdown formControlName="withdrawingFromSPEA" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </ng-container>
                        
                        <ng-container *permit="claimsEnum.SE_ProhibitedFromWithdrawing">
                            <p class=" fs-4">{{ 'dashboard.students.fromSchool'|translate }}</p>
                            <p-dropdown formControlName="withdrawingFromSchool" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </ng-container>
        
                    </ng-container>

                    <!-- View Mode -->
                    <ng-container *ngIf="!(childService.onEditMode$ | async)">
                      <ng-container *ngIf="currentUserScope!=userScope.Employee">
                        <p class="color-gray-300 fs-4">{{ 'dashboard.students.fromAuthority'|translate }}</p>
                        <span class="fw-bold" [ngClass]="student.studentProhibited?.withdrawingFromSPEA ? 'color-red-500':'color-skyBlue-500'">{{student.studentProhibited?.withdrawingFromSPEA ?('shared.yes' |translate ): ('shared.no' |translate)}}</span>    
                      </ng-container>
                        <p class="color-gray-300 fs-4">{{ 'dashboard.students.fromSchool'|translate }}</p>
                        <span class="fw-bold" [ngClass]="student.studentProhibited?.withdrawingFromSchool ? 'color-red-500':'color-skyBlue-500'">{{student.studentProhibited?.withdrawingFromSchool ? ('shared.yes' |translate ): ('shared.no' |translate)}}</span>
                    </ng-container>

                </div>
            </div>

            <div class="col">
                <h3 class="heading heading--tertiary mb-4">{{'dashboard.students.forbiddenFromCertificate' | translate}}</h3>
                <div class="grid-container align-items-center">

                    
                    
                    <!-- Edite -->
                    <ng-container *ngIf="childService.onEditMode$ | async">
                        <ng-container *permit="claimsEnum.S_ProhibitedFromIssueeCertificate">
                            <p class=" fs-4">{{ 'dashboard.students.fromAuthority'|translate }}</p>
                            <p-dropdown formControlName="rCertificateFromSPEA" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </ng-container>
        
                        <ng-container *permit="claimsEnum.SE_ProhibitedFromIssueeCertificate">
                            <p class=" fs-4">{{ 'dashboard.students.fromSchool'|translate }}</p>
                            <p-dropdown formControlName="certificateFromSchool" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </ng-container>
                    </ng-container>

                    <!-- View -->
                    <ng-container *ngIf="!(childService.onEditMode$ | async)">
                      <ng-container *ngIf="currentUserScope!=userScope.Employee">
                        <p class="color-gray-300 fs-4">{{ 'dashboard.students.fromAuthority'|translate }}</p>
                        <span class="fw-bold" [ngClass]="student.studentProhibited?.rCertificateFromSPEA ? 'color-red-500':'color-skyBlue-500'">{{student.studentProhibited?.rCertificateFromSPEA ? ('shared.yes' |translate ): ('shared.no' |translate)}}</span>    
                       </ng-container>
                        <p class="color-gray-300 fs-4">{{ 'dashboard.students.fromSchool'|translate }}</p>
                        <span class="fw-bold" [ngClass]="student.studentProhibited?.certificateFromSchool ? 'color-red-500':'color-skyBlue-500'">{{student.studentProhibited?.certificateFromSchool ? ('shared.yes' |translate ): ('shared.no' |translate)}}</span>
                    </ng-container>

                </div>
            </div>
        </ng-container>

    </div>
</div>




<div class="tabView " [class.show-controls]="navListLength > 7" *ngIf="!(childService.showWithdrawalReqScreen$|async)">
    <!-- nav Controls -->
    <div class="arrow-left" (click)="scrollLeft(nav)">
        <img src="assets/images/shared/chevron-left.svg" alt="">
    </div>
    <div class="arrow-right" (click)="scrollRight(nav)" [class.d-none]="hideNavControl">
        <img src="assets/images/shared/chevron-right.svg" alt="">
    </div>
    <!-- Navigations Options -->
    <ul class="tabView__nav" [class.pe-0]="hideNavControl" #nav>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentInfo" data-step="1" [class.active]="step==1" (click)="step=1"><span>{{ 'dashboard.parents.personalInfo'|translate }}</span></li>
        <!-- <li class="tabView__nav__link" *permit="claimsEnum.E_Acc_R_StudentPayments" data-step="2" [class.active]="step==2" (click)="step=2"><span>{{ 'dashboard.students.payments'|translate }}</span></li> -->
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAcceptanceInfo" data-step="2" [class.active]="step==2" (click)="step=2"><span>{{ 'dashboard.parents.acceptanceInfo'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAbsenceAndAttendance" data-step="3" [class.active]="step==3" (click)="step=3"><span> {{ 'dashboard.parents.attendanceAndAbsence'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAttachments" data-step="4" [class.active]="step==4" (click)="step=4"><span>{{ 'dashboard.students.studentAttachedment'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentCertificates" data-step="5" [class.active]="step==5" (click)="step=5"><span> {{ 'dashboard.parents.certificateList'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentBehavior" data-step="6" [class.active]="step==6" (click)="step=6"><span>{{ 'dashboard.students.studentBehavior'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentMedicalFile" data-step="7" [class.active]="step==7" (click)="step=7" ><span>{{ 'dashboard.students.medicalFile'|translate }}</span></li>
        <!-- <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentEditList" data-step="8" [class.active]="step==8" (click)="step=8"><span>{{ 'dashboard.parents.editableList'|translate }}</span></li> -->
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentSubjectsAndDegrees" data-step="9" [class.active]="step==9" (click)="step=9"><span>{{ 'dashboard.parents.subjectsAndDegrees'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentRecord" data-step="10" [class.active]="step==10" (click)="step=10"><span>{{ 'dashboard.parents.studentRecord'|translate }}</span></li>

    </ul>
    <!-- Table Caption -->

    <div class="tabView__content">
        <form class="custom-form">

            <ng-container *ngIf="step==1">
                <app-personal-information [formGroup]="studentForm"></app-personal-information>
            </ng-container>

            <!-- <ng-container *ngIf="step==2">
                <app-payments [formGroup]="studentForm"></app-payments>
            </ng-container> -->

            <ng-container *ngIf="step==2">
                <app-accept-information [formGroup]="studentForm"></app-accept-information>
            </ng-container>


            <ng-container *ngIf="step==3">

                <app-absence-details></app-absence-details>
            </ng-container>


            <ng-container *ngIf="step==4">
                <app-attachments-child></app-attachments-child>
            </ng-container>


            <ng-container *ngIf="step==5">
                <app-certificate-list></app-certificate-list>
            </ng-container>

            <!-- Student Behavior -->
            <ng-container *ngIf="step==6">

                <ng-container *ngIf="!(student$ |async)">
                    <div class="row g-5">
                        <div class="col-md-4">
                            <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                        <div class="col-md-4">
                            <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                        <div class="col-md-4">
                            <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngIf="student$ |async as student">
                    <ng-container *ngIf="mode=='view' && !(childService.onEditMode$ | async)">
                        <div class="float-btn " (click)="childService.onEditMode$.next(true)" *permit="claimsEnum.SEG_U_StudentBehavior">
                            <img src="assets/images/shared/pen-blue-filled.svg" alt="">
                        </div>

                        <div class="custom-form">
                            <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.studentBehavior'| translate}}</h3>
                            <label class="label">{{'dashboard.students.behaviorDescription' | translate}}</label>
                            <p class="paragraph paragraph--sm color-gray-800 mb-6 w-75">
                                {{student.studentBehavior?.descrition}}
                            </p>

                            <div class="grid-container">
                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.employeeCreatedBehavior'|translate }}</p>
                                <span class="color-primary mb-2">{{student.studentBehavior?.createdBy}}</span>
            
                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.discribeBehaviorDate'|translate }}</p>
                                <span class="color-primary mb-2">{{student.studentBehavior?.updatedDate|LocalizeDate}}</span>
                
                            </div>
                        </div>
                    </ng-container>


                    <ng-container *ngIf="mode=='edit' || (childService.onEditMode$ | async)">
                        <form [formGroup]="studentForm" class="custom-form">
                            <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.studentBehavior'| translate}}</h3>
                            <div class="grid-container mb-5">
                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.employeeCreatedBehavior'|translate }}</p>
                                <span class="color-primary mb-2">{{student.name |currentLang}}</span>

                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.discribeBehaviorDate'|translate }}</p>
                                <span class="color-primary mb-2">{{student.name |currentLang}}</span>

                            </div>
    
                            <div class="col-md-6 form-set" formGroupName="studentBehavior">
                                <label class="label">{{'dashboard.students.behaviorDescription' | translate}}</label>
                                <textarea formControlName="descrition" [rows]="6" pInputTextarea ></textarea>
                            </div>
                        </form>
                    </ng-container>
                </ng-container>



            </ng-container>


            <!-- Medical Fils -->
            <ng-container *ngIf="step==7">

                <app-medical-file></app-medical-file>

            </ng-container>
            <!-------Student record---------->
            <ng-container *ngIf="step==9">
                <app-subjects-and-degrees></app-subjects-and-degrees>
            </ng-container>

            <ng-container *ngIf="step==10">
                <app-school-record></app-school-record>
            </ng-container>
        </form>

    </div>
</div>


<app-withdrawal-request [student]="currentStudent" *ngIf="childService.showWithdrawalReqScreen$|async"></app-withdrawal-request>





<!-- transfer Student to another division Dialog -->
<p-dialog header="{{'dashboard.schools.transferStudentToAnotherDivision'|translate}}" [(visible)]="transferStudentModelOpened" [modal]="true" [style]="{width: '40vw'}">
    <ng-template pTemplate="content">
        <div class="custom-form" ngForm #f="ngForm">
            <div class="row form-set">
                <div class="col-md-12">
                    <label class="label" >{{'dashboard.schools.currentDivision'|translate}} </label>
                    <p-dropdown name="current" 
                    [options]="[currentStudentDivision]" 
                    [(ngModel)]="transferStudentForm.currentDivisionId" 
                    optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" 
                    required></p-dropdown>
                </div>
            </div>

            <div class="row form-set">
                <div class="col-md-12">
                    <label class="label">{{'dashboard.schools.divisionToTransferTo'|translate}} </label>
                    <p-dropdown 
                    [ngClass]="{'ng-invalid ng-dirty': targetDivision && !targetDivision?.isAcceptStudent}" 
                    name="taget" 
                    [options]="gradeDivisions$ | async" 
                    ngModel #target="ngModel" 
                    (ngModelChange)="onTargetDivisionSelected($event)" 
                    optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}"
                    emptyMessage="  لا يوجد اخرى شعب متاحه"
                    placeholder="{{'shared.chooseDivition'|translate}}"
                    [required]="true"></p-dropdown>

                    <div *ngIf="targetDivision &&!targetDivision?.isAcceptStudent" class="mt-2 color-red-500 fs-4">لا يمكن تجاوز العدد الاعظمي للطلاب في الشعبة.</div>
                </div>
            </div>


            <div class="row form-set" *ngIf="targetDivision?.hasTrack">
                <div class="col-md-12">
                    <label class="label">{{'shared.track'|translate}} </label>
                    <p-dropdown name="track" [options]="divisionTracks$ | async" [(ngModel)]="transferStudentForm.trackId" (ngModelChange)="onTrackSelected($event)" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.chooseTrack'|translate}}"
                        [required]="targetDivision?.hasTrack"></p-dropdown>
                </div>
            </div>


            <div class="row gx-5 gy-4 form-set" *ngIf="(targetDivision?.hasTrack && isTrackSelected) || ( targetDivision && !targetDivision?.hasTrack)">
                <label *ngIf="optionalSubjectsList?.length" class="label fw-bold" for="">{{'shared.optionalSubjects'|translate}}</label>
                
                <!-- Loader -->
                <ng-container *ngIf="!optionalSubjectsList; then optionalSubjectsLoader"></ng-container>
                <!-- Loader -->
                    
                <ng-container *ngFor="let subject of optionalSubjectsList">
                    <div class="col-md-6 d-flex align-items-center gap-4">
                        <p-checkbox  name="subjects" [value]="subject.id" [(ngModel)]="transferStudentForm.electiveSubjectId"></p-checkbox>
                        <label class="label label--sm" for="">{{subject.name |currentLang}}</label>
                    </div>
                </ng-container>
            </div>

            <div class="d-flex  align-items-center justify-content-end mt-5">
                <button class="btn btn-primary btn--sm" (click)="transferStudent()" [disabled]="onSubmit || transferNotAllawed || !f.valid">
                  <!-- <fa-icon class="icon" [icon]="faCheck"></fa-icon> -->
                  <span>{{'shared.save'| translate}} </span>
                  <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
              </button>
            </div>
        </div>
    </ng-template>
</p-dialog>


<!-- ارسال طلب اعاده مرحله دراسيه -->
<p-dialog header="{{'dashboard.students.sendRepeateStudyPhaseReqest' | translate}}" [(visible)]="RepeateStudyPhaseModelOpend" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">

        <div class="custom-form" ngForm #f="ngForm">
            <label class="label">{{'dashboard.students.caseOfRepeateStudyPhase'| translate}}</label>
            <p-dropdown 
            [(ngModel)]="repeateStudyPhaseReqForm.requestReasonId"
            name="cause"
            [options]="reasonForRepeateStudyPhase$|async" 
            optionValue="id"
            optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" 
            placeholder="{{'dashboard.students.caseOfRepeateStudyPhase'|translate}}" [required]="true"></p-dropdown>
        </div>
        <div class="d-flex justify-content-end mt-6 mb-4" >
            <button class="btn btn-primary" (click)="sendRepeateStudyPhaseReq()" [disabled]="!f.valid || onSubmit">{{'shared.send'| translate}}</button>
            <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
        </div>
    </ng-template>

</p-dialog>

<!-- ارسال طلب الاعفاء من ماده دراسيه -->
<p-dialog header="{{'dashboard.students.exemptionFromSubjectStudey' | translate}}" [(visible)]="exemptionFromStudyModelOpend" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">

        <div class="custom-form" ngForm #f="ngForm">
            <label class="label">{{'dashboard.schools.chooseSubject'| translate}}</label>
            <p-dropdown 
            [(ngModel)]="exemptionFromStudySubjectReqForm.subjectId"
            name="cause"
            [options]="subjectsExemption$|async" 
            optionValue="id"
            optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" 
            placeholder="{{'dashboard.schools.chooseSubject'|translate}}" [required]="true"></p-dropdown>
        </div>
        <div class="d-flex justify-content-end mt-6 mb-4" >
            <button class="btn btn-primary" (click)="sendExemptionFromStudySubjectReq()" [disabled]="!f.valid || onSubmit">{{'shared.send'| translate}}</button>
            <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
        </div>
    </ng-template>

</p-dialog>


<!-- طلب تعديل هويه فى حاله الطالب يملك هويه -->
<p-dialog header="{{'dashboard.students.sendChangeIdentityReq' | translate}}" [(visible)]="changeIdentityNumModelOpened" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">

        <ng-container  ngForm #form="ngForm">

            <div class="custom-form mt-5">
                <p-inputNumber 
                name="identity" 
                #identity="ngModel"
                [(ngModel)]="changeIdentityNumForm.identityNumber" 
                [useGrouping]="false" [maxlength]="15" [minlength]="15" 
                [pattern]="'[784]{1}[0-9]{14}'"
                required placeholder="{{'dashboard.students.writeNewIdentityNumber'|translate}}"></p-inputNumber>

                <div *ngIf="identity.errors?.pattern" class="mt-2 color-red-500 fs-4"> {{'shared.Must Start With 784 and Contain 15 Numbers Only'|translate}}</div>

            </div>

    
            <app-file-upload 
            accept=".pdf" 
            label="{{'shared.clickToUploadFile'| translate}}" 
            view="full" 
            (onFileUpload)="changeIdentityNumForm.identityAttachmentPath=($event[0].url || null);onIdentityUploaded($event)"
            (onFileDelete)="changeIdentityNumForm.identityAttachmentPath=''"></app-file-upload>

            <div class="d-flex justify-content-end mt-4" >
                <button class="btn btn-primary" (click)="updateIdentityNum(changeIdentityNumForm)" [disabled]="!form.valid || !changeIdentityNumForm.identityAttachmentPath">{{'shared.send'| translate}}</button>
            </div>
        </ng-container>
    </ng-template>
</p-dialog>


<!-- طلب تعديل هويه فى حاله الطالب لا يملك هويه -->
<p-dialog header="{{'dashboard.students.sendChangeIdentityReq' | translate}}" [(visible)]="changeStudentIdentityInfoModelOpened" [draggable]="false" [modal]="true" [style]="{width: '45vw', height:'87vh'}">
    <ng-template pTemplate="content">
        <ng-container>

            <div class="custom-form mt-4" [formGroup]="changeStudentInfoReqForm">
                <div class="row gx-5 gy-4">
                    <ng-container formGroupName="studentName">
                        <div class="col-md-6">
                            <div class="" >
                                <label class="label">{{'dashboard.students.studentNameAr'|translate}}</label>
                                <input type="text" formControlName="ar"  pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
                            </div>
                
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <label class="label">{{'dashboard.students.studentNameEn'|translate}}</label>
                                <input type="text" formControlName="en"  pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
                            </div>
                        </div>
                    </ng-container>
                    
                    <ng-container formGroupName="studentSurName">
                        <div class="col-md-6">
                            <div class="">
                                <label class="label">{{'dashboard.students.studentsurnameAr'|translate}}</label>
                                <input type="text" formControlName="ar" pInputText placeholder="{{'dashboard.students.studentNickname'|translate}}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <label class="label">{{'dashboard.students.studentsurnameEn'|translate}}</label>
                                <input type="text" formControlName="en" pInputText placeholder="{{'dashboard.students.studentNickname'|translate}}" />
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-md-12"> 
                        <div class="">
                            <label class="label">{{'shared.birthDay'|translate}}</label>
                            <p-calendar formControlName="birthDate" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label class="label">{{'shared.gender'|translate}}</label>
                            <p-dropdown formControlName="gender" [options]="genderOptions" optionValue="value" optionLabel="name" [autoDisplayFirst]="false"></p-dropdown>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="">
                            <label class="label">{{'shared.nationality'|translate}}</label>
                            <p-dropdown formControlName="nationalityId" [options]="countries$ |async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <label class="label">{{'shared.religion'|translate}}</label>
                            <p-dropdown formControlName="religionId" [options]="religions$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeReligion' |translate}}"></p-dropdown>
                        </div>
                    </div>
 
                </div>
            </div>
    
            <div class="py-6"></div>
            <div class="d-flex justify-content-end mt-4" >
                <button 
                class="btn btn-primary" 
                (click)="updateIdentityInfoReq(changeStudentInfoReqForm.value)"
                 [disabled]="!changeStudentInfoReqForm.valid">{{'shared.send'| translate}}</button>
            </div>
        </ng-container>
        
    </ng-template>

</p-dialog>



<button *ngIf="scope == 'Guardian'" class="btn btn-primary contactBtn" (click)="showDialog()"> 
    تواصل مع ادارة المدرسة
</button>


<p-dialog header="{{'dashboard.Messages.Send a new message' | translate}}" [draggable]="false" [resizable]="false" [modal]="true"
[(visible)]="display" [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">

<app-send-message [schoolId]="schoolId" (hiddenDialog)="closeDialog()"></app-send-message>

</p-dialog>




<ng-template #optionalSubjectsLoader>
    <div class="row gx-5">
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>

    <div class="row gx-5">
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="2" height="1.5rem" [style]="{'margin-bottom': '2rem'}"></app-skeleton>
        </div>

    </div>
</ng-template>
