<form [formGroup]="certificateFormGrp" class="container-fluid " (ngSubmit)="sendData()">
    <div class="custom-form">
        <h4 class="mb-4">{{'dashboard.students.Issuance of certificate'|translate}} ( {{studentName}} )</h4>
        <div class="row gx-5 form-set">
            <div class="col-lg-4">
                <label class="label">{{'dashboard.students.type of certificate'|translate}}</label> 
                <p-dropdown placeholder="{{'dashboard.students.type of certificate'|translate}}" [options]="certificatesList"
                    optionLabel="name.ar" (onChange)="checkCertificateType()" formControlName="certificateName"  optionValue="value" ></p-dropdown>
           </div>
        </div>
         
    
    <button [disabled]="certificateFormGrp.invalid||isBtnLoading" class="btn btn-primary submitBtn">
        {{'dashboard.students.Issuance of certificate'|translate}}
        <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
    </button>
    <ng-container *ngIf=" certificateName.value==certificateType.GradesCertificate" class="issune-certificate-content">
      <div >

              <div class="row gx-5 form-set">
                  <div class="col-md-4 position-relative">
                      <label class="label"> {{'dashboard.issue of certificate.academic year' | translate}}  </label> 
                      <p-dropdown #dropdown  [dropdownIcon]="'none'" 
                        [options]="schoolYearsList" 
                        optionLabel="name.ar" formControlName="yearId" optionValue="id" placeholder="{{'dashboard.SchoolYear.Select School Year' | translate}}">
                        </p-dropdown>
                      <img src="assets/images/navBar/calendar.svg" alt="">
                  </div>
  
                  <div class="col-md-4 ">
                      <label class="label">{{'dashboard.issue of certificate.type of certificate' | translate}} </label>
                      <p-dropdown 
                          placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}"
                          formControlName="gradeCertificateType" [options]="degreescertificates" optionLabel="name.ar" optionValue="value">
                      </p-dropdown>
                  </div>
              </div>
  
         
      </div>
  </ng-container>


   
 
    <ng-container formArrayName="academicCertificates"  *ngIf="certificateName.value==certificateType.AcademicSequenceCertificate" >
        <ng-container *ngFor="let school of academicCertificates.controls; let i = index" [formGroupName]="i" >
            <div class="row gx-5 form-set ">
                <div class="col-md-4 position-relative ">
                    <label class="label">{{'dashboard.students.academic year'|translate}}</label> 
                    <p-dropdown #dropdown  [dropdownIcon]="'none'" 
                    [options]="schoolYearsList" 
                    optionLabel="name.ar" formControlName="schoolYearId" optionValue="id" placeholder="2022 / 2023">
                    </p-dropdown>
                 <img src="assets/images/navBar/calendar.svg" alt="">

                </div>
                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.School Name'| translate}}</label> 
                    <p-dropdown placeholder="{{'dashboard.students.School Name'| translate}}" [options]="schoolNames"
                      (onChange)="takeSchoolId($event.value)"  formControlName="schoolId" optionLabel="name.ar" optionValue="id" ></p-dropdown>

                </div>
                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.Class'|translate}}</label> 
                    <p-dropdown placeholder="{{'dashboard.students.Class'|translate}}" [options]="grades[i]"
                        formControlName="gradeId" optionLabel="name.ar" optionValue="id" (onChange)="checkRequiredAcademic()"></p-dropdown>
                </div>

            </div>
            
        </ng-container>
    </ng-container>
    </div>
</form>
