<div class="prim-table" *ngIf="allCertificates.totalAllData || allCertificates.loading">
    <app-table-caption [hasExport]="false" (onFilter)="filtration.Page=1;getAllCertificates()" (onSearch)="filtration.Page=1;filtration.KeyWord = $event; getAllCertificates()" (onClear)="clearFilter()">
        <div class="row gx-5 form-set">
            <div class="col-lg-3">
                <label class="label">{{'dashboard.students.academic year'|translate}}</label>
                <p-multiSelect   [options]="schoolYearsList" [(ngModel)]="filtration.SchoolYearId" display="chip"  optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" optionValue="id"     placeholder="{{'dashboard.SchoolYear.Select School Year' | translate}}" ></p-multiSelect>

            </div>
            <div class="col-lg-3">
                <label class="label">{{'Student Name'| translate}}</label>
                <p-multiSelect [options]="studentList"  [(ngModel)]="filtration.StudentId" display="chip"  optionValue="id" optionLabel="name.ar"  placeholder="{{'dashboard.students.Select StudentName'|translate }}"></p-multiSelect>

            </div>

            <div class="col-lg-3">
                <label class="label">{{'dashboard.issue of certificate.type of certificate' | translate}}</label>
                <p-multiSelect  [options]="certificatesList$ |async"  [(ngModel)]="filtration.CertificateType" display="chip"  optionLabel="name.ar" optionValue="value"     placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}" ></p-multiSelect>
            </div>
            <div class="col-lg-3">
                <label class="label" for="indexType">{{'dashboard.issue of certificate.CertificateStatus'|translate }} </label>
                <p-multiSelect   [options]="certificateStatusList"  [(ngModel)]="filtration.CertificateStatus" display="chip"  optionLabel="name" optionValue="value"      placeholder="{{'dashboard.issue of certificate.CertificateStatus'|translate }}" ></p-multiSelect>
            </div>
        </div>
    </app-table-caption>


    <ng-container *ngIf="!allCertificates.list.length&&allCertificates.totalAllData&&!allCertificates.loading">
        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>


    <div class="body  radius-15 bg-gray-30 p-5" *ngIf="allCertificates.list.length">

        <div class="d-flex justify-content-between mb-5">
            <div class="d-flex align-items-center gap-3">
                <img style="width:2.5rem" src="assets/images/shared/certificate.svg" alt="">
                <h3 class="heading heading--secondary color-primary">{{'dashboard.issue of certificate.selectCertificateToPrint' | translate}}</h3>
            </div>

            <div class="buttons d-flex px-5">
                <button class="btn btn-primary mx-2 mb-5" (click)="goToPayment()" [disabled]="!certificatesIds.length">{{'dashboard.issue of certificate.payment' | translate}}</button>
            </div>
        </div>

        <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3">
            <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
            <span class="color-gray-800">" {{'dashboard.issue of certificate.you should only select certificate that has pending for payment status only'|translate}} "</span>
        </div>
        <div class="elcard d-flex justify-content-between radius-15 my-5 bg-white px-4 py-5  border-danger"
        *ngFor="let certificate of allCertificates.list;let i = index">
            <div class="certificates-list d-flex  w-100">

                <div class="user d-flex gap-4">
                    <div class="mx-4 mt-3 ">
                        <p-checkbox   [value]="certificate.commonCertificateRequestId"  name="curriculum" [disabled]="certificate.status!=certificateStatus.PendingForPayment"  [(ngModel)]="certificatesIds"></p-checkbox>
                        </div>
                    <div class="elcard-img">
                        <img src="assets/images/shared/User male 2.png" alt="">
                    </div>
                </div>

                <div class="">
                    <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                    <span class="fw-bold fs-4">{{'dashboard.issue of certificate.'+certificate.certificateType| translate}}</span>
                </div>
                <div class="elcard-payment px-3">
                    <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                    <span class="fw-bold fs-4">{{certificate.fees}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                </div>
                <div class="">
                    <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.sons name' | translate}}</p>
                    <span class="fw-bold fs-4">{{certificate.studentName|currentLang}}</span>
                </div>
                <div class=" mx-3 text-center">
                    <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.CertificateStatus' | translate}}</p>
                    <div class="fw-bold fs-4">
                        <div [ngSwitch]="certificate.status">
                            <div class="alerting dark " *ngSwitchCase="certificateStatus.PendingForApproval"> {{'dashboard.issue of certificate.'+certificateStatus.PendingForApproval| translate}}</div>
                            <div class="alerting success " *ngSwitchCase="certificateStatus.PendingForPayment "> {{'dashboard.issue of certificate.'+certificateStatus.PendingForPayment| translate}}</div>
                            <div class="alerting  primary" *ngSwitchCase="certificateStatus.Payed"> {{'dashboard.issue of certificate.'+certificateStatus.Payed | translate}}</div>
                            <div class="alerting  danger" *ngSwitchCase="certificateStatus.Rejected "> {{'dashboard.issue of certificate.'+certificateStatus.Rejected | translate}}</div>
                        </div>
                    </div>

                </div>


                <div class="actions d-flex justify-content-center align-self-center gap-5">

                    <div *ngIf="certificate.status==certificateStatus.Payed"  class="d-flex gap-2  align-items-baseline" (click)="viewCertificate(certificate)">
                        <img src="assets/images/shared/eye.svg" alt="">
                        <a class="color-skyBlue-500">{{'shared.view' |translate}}</a>

                    </div>

                    <div *ngIf="certificate.status!=certificateStatus.Payed" class=" " role="button">
                        <img src="assets/images/shared/rect-xmark.svg" alt="" ConfirmDialog (onConfirm)="removeRequest(certificate.commonCertificateRequestId)" >
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div *ngIf="allCertificates.total> 6" class="mb-5">
        <app-pagination [totalItems]="allCertificates.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>

    <div class="ms-5 mt-5" *ngIf="allCertificates.loading">
        <app-skeleton  width="130rem" height="10rem" [style]="{'margin-bottom': '5rem'}" count="6"></app-skeleton>
    </div>

</div>
