@import "src/assets/css/utils/variables.scss";
// @import "src/assets/css/components/input";
@import "src/assets/css/components/buttons";
@import "src/assets/css/components/forms.scss";
// @import "src/assets/css/components/validation-form.scss";


.certificates-list{
    // gap: 6rem;

    & > div{
      width:  clamp( 15rem, 2.5vw, 20rem);
      flex-grow: 1;
    }
    .user, .actions{ width: 10rem;}

    .delete-btn{ margin-inline-start: auto; width: auto !important;}
}
