<div  style="overflow-x: hidden;">
    
      <div class="d-flex ">
     
      <div id="addeditAnnualHoliday" >
        <div  id="homesection">
            <div>
                <b class="fontstyle" id="addAnnualfont">تعريف تقويم الأجازات السنوية</b>
            </div>
            <div class="mb-1 mt-1">
                <fa-icon [icon]=" Homeicon" class="ms-1 " id="homeicon"></fa-icon> <span id="Annuallistfont"> > قائمة الأجازات السانوية > تعريف تقويم الاجأزات السانوية</span>
           </div>
          
            <div class=" rounded " >
                <button type="button" id="circlebtn" class="btn ms-2" data-mdb-ripple-color="dark"><fa-icon [icon]="righticon" id="rightarrow"></fa-icon></button>
              
                <button type="button" class="btn " id="addbtn"><a>حفظ</a></button>
             
            </div>
            
       
        </div>
      
    
        
            <div class="container mt-5 forms">
                <form  class="container-fluid " (ngSubmit)="SaveHoliday(newHoliday)">
                    <div class="mb-3 row ">
                        <div class="col-xs-2 col-lg-4">
                            <label for="PID" class="form-label mt-3"><b>مسمي التقويم السنوي </b></label>
                            <input type="text" name="PID" id="PID" class="form-control " [(ngModel)]="newHoliday.nationality" placeholder="   اكتب مسمى التقويم السنوي" required minlength="7" aria-describedby="helpId">
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="PName" class="form-label mt-3"><b>السنة الميلاديه</b></label>
                            <select dir="rtl" class="form-select form-select-lg mb-3 " name="PName" id="PName" aria-label=".form-select-lg example">
                                <option  selected><span >اختر السنه الميلاديه</span></option>
                                <option value="1"></option>
                              </select>
                            <small id="helpId" class="text-muted"></small>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-3 row ">
                        <div class="col-xs-2 col-lg-4">
                            <label for="PPrice" class="form-label"><b>المنهج</b></label>
                            <select class="form-select  mb-3" id="PPrice" name="PPrice" aria-label=".form-select-lg example">
                                <option selected>اختر المنهج</option>
                                <option value="1"></option>
                              </select>
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="cal1" class="form-label"><b>التاريخ من</b></label><br>
                            <p-calendar name="cal1" [inputStyle]="{'background-color':'#EFEFEF','border':'0px' }" styleClass="inputcalend" placeholder="    dd/mm" Calss="calenderinput"  [readonlyInput]="true"  [(ngModel)]="value1" dateFormat="dd/mm"  ></p-calendar>
                            <fa-icon [icon]=" calendericon "  class=" calendericon ms-1 "></fa-icon>
                            
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="cal2" class="form-label"><b>التاريخ إلي</b></label><br>
                            <p-calendar name="cal2"  [inputStyle]="{'background-color':'#EFEFEF','border':'0px'}"  styleClass="inputcalend"  placeholder="    dd/mm" Calss="calenderinput"  [readonlyInput]="true"  [(ngModel)]="value2" dateFormat="dd/mm"  ></p-calendar>
                            <fa-icon [icon]=" calendericon "  class=" calendericon ms-1 "></fa-icon>
                           
                            
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <div class="col-xs-4 col-lg-4">
                            <label for="PI" class="form-label"><b>حالة الاجازة</b></label>
                            <select class="form-select form-select-lg mb-3" name="PI" id="PI" aria-label=".form-select-lg example">
                                <option selected>اختر حالة الاجازة</option>
                                <option value="1"></option>
                              </select>
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <label for="PD" class="form-label"><b>مسمي الاجازة</b></label>
                            <input  type="text" name="PD" id="PD" class="form-control" placeholder="   اكتب مسمى الاجازة" required minlength="8" aria-describedby="helpId">
                            <small id="helpId" class="text-muted"></small>
                        </div>
                     
                    </div>
                    <hr > 
                    <div class="mb-3 row ">
                        <div class="col-xs-2 col-lg-4">
                            <label for="PP" class="form-label"><b>المنهج</b></label>
                            <select class="form-select  mb-3" id="PP" name="PP" aria-label=".form-select-lg example">
                                <option selected>اختر المنهج</option>
                                <option value="1"></option>
                              </select>
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-2 col-lg-4">
                            
                            <label for="cal3" class="form-label"><b>التاريخ من</b></label>  <br>
                            <p-calendar name="cal3"  [inputStyle]="{'background-color':'#EFEFEF','border':'0px'}" styleClass="inputcalend" placeholder="    dd/mm" Calss="calenderinput"  [readonlyInput]="true"  [(ngModel)]="value3" dateFormat="dd/mm"  ></p-calendar>
                            <fa-icon [icon]=" calendericon"  class=" calendericon ms-1 "></fa-icon>
                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="cal4" class="form-label"><b>التاريخ إلي</b></label><br>
                            <p-calendar name="cal4"  [inputStyle]="{'background-color':'#EFEFEF','border':'0px'}" styleClass="inputcalend"  placeholder="    dd/mm" Calss="calenderinput"  [readonlyInput]="true"  [(ngModel)]="value4" dateFormat="dd/mm"  ></p-calendar>
                            <fa-icon [icon]=" calendericon"  class=" calendericon ms-1 "></fa-icon>
                            
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <div class="col-xs-4 col-lg-4">
                            <label for="ID" class="form-label"><b>حالة الاجازة</b></label>
                            <select class="form-select form-select-lg mb-3" id="ID" name="ID" aria-label=".form-select-lg example">
                                <option selected>اختر حالة الاجازة</option>
                                <option value="1"></option>
                              </select>
                            <small id="helpId" class="text-muted"></small>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <label for="PN" class="form-label"><b>مسمي الاجازة</b></label>
                            <input type="text" name="PN" id="PN" class="form-control" [(ngModel)]="newHoliday.nationality" placeholder="   اكتب مسمى الاجازة" required minlength="8" aria-describedby="helpId">
                            <small id="helpId" class="text-muted"></small>
                        </div>
                     
                    </div>
                    <div  class="d-flex ">
                        
                        <button type="button" class="btn mb-5" id="addnewyearbtn"><fa-icon [icon]="plusicon" class="ms-1 " id="plusicon"></fa-icon><a>إضافة أجازه ثانوية</a></button>
                        <hr id="addnewyearline">
                    </div>
                </form>
              </div>                   
       
          
          
            <!-- change when use api -->
            
                <!-- <div class="mb-3">
                    <label for="PCat" class="form-label"><b>Select Catogry:</b></label>
                    <select required  [(ngModel)]="newHoliday.id" name="PCat" id="PCat">
                    
                        <option *ngFor="let item of Catogrylist" [ngValue]="item.id">{{item.name}}</option>
                        
                    </select>
                </div>    -->
                                    
                <!-- <button type="submit" class="btn btn-success" id="btn" >Submit</button>
                <button type="button" class="btn btn-success" id="btn" (click)="CancelAction()" >Cancel</button> -->
              
       
            

      
     
      </div>
    </div>
    
    </div>
