@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/primng-table';
@import '../../../../../../../assets/css/components/breadcrumb';
@import '../../../../../../../assets/css/components/message.scss';
.my-disable {
    pointer-events: none;
    color: $color-gray-500;
}

.shown {
    color: #41AEBC;
}

.shown:hover {
    text-decoration: underline;
}

::ng-deep p-table{
    thead.p-datatable-thead tr th{
        min-width: 14rem;
        
    }
    .p-datatable-tbody tr td{ 
    min-width: 14rem;

   }
}