@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/primng-table';
@import '../../../../../../../assets/css/components/breadcrumb';
@import '../../../../../../../assets/css/components/message.scss';
.my-disable {
    pointer-events: none;
    color: $color-gray-500;
}

.shown {
    color: $color-skyBlue-500;
}

.shown:hover {
    text-decoration: underline;
}

.prim-table{

           ::ng-deep app-loader{
   
               width:117rem;
            
           }
           .search{
           ::ng-deep app-informative-block{
   
               .informative-block{
                       width:100%;
                       min-height: 30rem !important;
                       position: relative;
                       right:35rem;
                       .title{
                           width: 90% !important;
                       
                       }
                   }
               }
       
           }
       
       ::ng-deep p-table{
           thead.p-datatable-thead tr th{
               min-width: 19rem;
           }
      .p-datatable-tbody tr td{ 
       min-width: 19rem;
  
          }
       }
   }