<div class="parents">


    <div class="prim-table mt-4" *ngIf="parent.totalAllData || parent.loading">
        <p-table #dt [value]="parent.list" (onSort)="onSort($event)" [lazy]="true">
            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <app-table-caption (onExport)="onExport($event)" (onFilter)="checkParentList()" (onSearch)="filtration.KeyWord = $event; checkParentList()" (onClear)="clearFilter()">

                    <div class="row gx-5 form-set">
                        <div class="col">
                            <label class="label">{{'dashboard.students.nationalities'| translate}}</label>
                            <p-dropdown [options]="(countries$ | async)" optionValue="id" [(ngModel)]="filtration.NationalityId" optionLabel="name.ar" placeholder="{{'dashboard.students.chooseNationalitie' |translate}}"></p-dropdown>
                        </div>
                    </div>
                </app-table-caption>

            </ng-template>

            <ng-template pTemplate="header" let-columns="columns">
                <tr>
                    <th pSortableColumn="name.ar">
                        <div class="content">
                            {{'dashboard.parents.parentName'|translate }}
                            <p-sortIcon field="name.ar"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="surname.ar">
                        {{'dashboard.parents.parentNickname'|translate }}
                        <p-sortIcon field="surname.ar"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nationalityName.ar">{{'shared.nationality'|translate }}
                        <p-sortIcon field="nationalityName.ar"></p-sortIcon>
                    </th>
                    <th pSortableColumn="mobile">{{'shared.phoneNumber'|translate }}
                        <p-sortIcon field="mobile"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">{{'shared.email'|translate }}
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="childrenCount">{{'dashboard.parents.childrenNumber'|translate }}
                        <p-sortIcon field="childrenCount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="actions"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parent let-columns="columns">
                <tr>
                    <!-- <td *ngFor="let col of cols | paginate:{ id: 'foo',itemsPerPage: 4 ,currentPage: p,totalItems: 8 }">
                        {{product[col.field]}}
                    </td> -->
                    <td>{{parent.name|currentLang}}</td>
                    <td>{{parent.surname |currentLang}}</td>
                    <td>{{parent.nationalityName |currentLang}}</td>
                    <td>{{parent.mobile}}</td>
                    <td>{{parent.email}}</td>
                    <td>{{parent.childrenCount? parent.childrenCount : ('shared.not found' |translate) }}</td>
                    <td (click)="parent.childrenCount == 0 ? showToastr(parent.childrenCount) :null;   ">
                        <div>
                            <a role="button" 
                            [ngClass]="{'my-disable':parent.childrenCount === 0 ,'shown':parent.childrenCount> 0}" 
                            class="gap-2 fs-4" (click)="navigatToChildren(parent)">
                                <p><span class=""></span>&nbsp;<span>{{'dashboard.parents.viewChildrenList'|translate }}</span></p>
                            </a>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="20">
                        <ng-container *ngIf="parent.totalAllData && parent.list.length == 0 &&  !parent.loading">
                            <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                        </ng-container>

                        <app-loader></app-loader>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <div *ngIf="parent.total  > paginationState.rows">
            <app-pagination [totalItems]="parent.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
        </div>
    </div>
    <ng-container *ngIf="!parent.totalAllData && !parent.loading">
        <app-informative-block title="{{'emptyList.Parent List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>
</div>