<ng-container *ngIf="!(student$ |async) && viewStudentInfo">
    <div class="row mb-4">
        <div class="col-4 d-flex gap-4 align-items-center">
            <app-skeleton size="7rem"></app-skeleton>
            <app-skeleton width="20rem" count="2" height="2rem"></app-skeleton>
        </div>
    </div>
    <div class="row g-5 mb-4">
        <ng-container *ngFor="let i of [1,2,3]">
            <div class="col-md-3">
                <app-skeleton> </app-skeleton>
            </div>
        </ng-container>

    </div>
    <div class="row g-5 mb-3">
        <ng-container *ngFor="let i of [1,2]">
            <div class="col-md-3">
                <app-skeleton height="1rem"> </app-skeleton>
                <app-skeleton height="1rem"> </app-skeleton>
                <app-skeleton height="1rem"> </app-skeleton>
            </div>
        </ng-container>

    </div>
    <div class="row g-5 mb-3">
        <ng-container *ngFor="let i of [1,2,3,4,5,6]">
            <div class="col-md-2">
                <app-skeleton> </app-skeleton>
            </div>
        </ng-container>

    </div>
</ng-container>

<div class="position-relative justify-content-end" *ngIf="student$ |async as student">
     <button *ngIf="scope == 'Guardian'" class="btn btn-primary contactBtn" (click)="showDialog()"> {{'dashboard.schools.contactWithSchool' |translate}}</button>
</div>

<div class="radius-15 border p-5 mb-5 bg-white custom-form" *ngIf="student$ |async as student">

    <div class="d-flex align-items-center justify-content-between bg-white">
        <div class="profile d-flex align-items-center ">
          <input type="file"
          #uploadImg
          accept="image/*"
          [hidden]="true"
          (change)="uploadProfileImage($event)">
          <!-- <div *ngIf="currentUserScope!=userScope.Guardian" class="profile__avatar position-relative" >
              <img [src]="student?.parsonalImagePath" onerror="this.src='assets/images/shared/image.svg'" alt="Avatar">
          </div> -->

          <div  class="profile__avatar position-relative"  (click)="uploadImg.value=null; uploadImg.click()">
              <i class="pi pi-camera" style="font-size: 2.5rem"></i>
              <div class="loader" *ngIf="uploading">
                  <div class="spinner-border text-light" role="status"></div>
              </div>
              <img [src]="student?.parsonalImagePath | blobToBase64 |async" onerror="this.src='assets/images/shared/image.svg'" alt="Avatar">
          </div>
            <!-- <div class="profile__avatar">
                <img [src]="student?.parsonalImagePath" onerror="this.src='assets/images/shared/image.svg'" alt="Avatar">
            </div> -->
            <div class="profile__info">
                <div class="profile__name">
                    <h4 class="heading heading--tertiary">{{student.name | currentLang}}</h4>
                    <div class="" *ngIf="student?.isGifted">
                        <img src="assets/images/shared/medal.svg" alt="">
                        <span class="color-red-500 fs-4">{{'dashboard.students.talent' |translate}}</span>
                    </div>
                    <div *ngIf="student?.isTopStudent">
                        <img src="assets/images/shared/medal-cup.svg" alt="">
                        <span class="color-yellow-400 fs-4">{{'dashboard.students.isFromTheFirst' |translate}}</span>
                    </div>

                    <ng-container *ngFor="let item of student?.studentCategory">
                        <div *ngIf="item==statusEnum.IsChildOfAMartyr">
                            <img src="assets/images/shared/medal-flag.svg" alt="">
                            <span class="color-fuchsia-500 fs-4">{{'dashboard.students.isChildOfAMartyr' |translate}}</span>
                        </div>
                        <div *ngIf="item==statusEnum.IsSpecialAbilities">
                            <img src="assets/images/shared/medal-green.svg" alt="">
                            <span class="color-pink-500 fs-4">{{'dashboard.students.withDisabilities' |translate}}</span>
                        </div>
                       <div *ngIf="(item!=statusEnum.IsSpecialAbilities&&item!=statusEnum.IsChildOfAMartyr)">
                        <img src="assets/images/shared/medal-blue.svg" alt="">
                        <span class="color-skyBlue-300 fs-4" >{{'shared.allStatus.'+item|translate}}</span>
                    </div>
                </ng-container>
                </div>
                <div class="profile__details">
                    <div class="fs-4">
                        <img src="assets/images/shared/child.svg" alt="">
                        <span class="color-gray-300">{{student.age}} {{'dashboard.issue of certificate.year' |translate}}</span>
                    </div>
                    <div>
                        <img src="assets/images/shared/fingure.svg" alt="">
                        <div [ngSwitch]="student.studentStatus">
                          <div class="color-gray-300" *ngSwitchCase="registrationStatusEnum.Registered">{{'shared.allStatus.Registered' | translate}}</div>
                          <div class="color-red-500" *ngSwitchCase="registrationStatusEnum.ReEnrolment">{{'shared.allStatus.Registered' | translate}}</div>
                            <div class="color-red-500" *ngSwitchCase="registrationStatusEnum.Unregistered">{{'shared.allStatus.Unregestered' | translate}}</div>
                            <!-- <div class="color-red-500" *ngSwitchCase="registrationStatusEnum.ReEnrolment">{{'shared.allStatus.ReEnrolment' | translate}}</div> -->
                            <!-- <div class="color-red-500" *ngSwitchCase="registrationStatusEnum.Deleted">{{'shared.allStatus.Deleted' | translate}}</div> -->
                            <!-- <div class="color-red-500" *ngSwitchCase="registrationStatusEnum.Withdrawal">{{'shared.allStatus.Withdrawal' | translate}}</div> -->
                            <!-- <div class="color-gray-500" *ngSwitchCase="registrationStatusEnum.Transferd">{{'shared.allStatus.Transferd' | translate}}</div> -->
                            <div class="color-gray-300" *ngSwitchDefault>{{'shared.allStatus.Unregestered' | translate}}</div>
                        </div>
                        <!-- <span class="color-gray-300 fs-4">{{'shared.registerd' | translate}}</span> -->
                    </div>
                    <div *ngIf="student.grade">
                        <img src="assets/images/shared/branch.svg" alt="">
                        <span class="color-gray-300 fs-4">{{student.grade?.name |currentLang}}</span>
                    </div>

                    <div *ngIf="student.isFinalGraduated">
                      <img style="width:1.5rem" src="assets/images/shared/cup.svg" alt="">
                      <span class="color-red-500 fs-4">{{'dashboard.students.graduated' |translate}}</span>
                  </div>

                </div>
            </div>
          </div>




            <ng-container *ngIf="currentStudent">
              <app-student-operations-dropdown [student]="currentStudent" (refreshStudent)="getStudent(studentId)"></app-student-operations-dropdown>
            </ng-container>
      </div>



    <div class="row gx-5 p-4 bg-gray-30 mt-5">

        <div class="col-md-3 d-flex align-items-center  gap-4">
            <span class="color-gray-300">{{'dashboard.students.daleelNumber2' |translate}}</span>
            <span class="color-primary">{{student.id}}</span>
        </div>

    </div>

    <!-- <app-student-prohibited-status
    [(mode)]="stuentProhiptedCurrentMode"
    (onFormSubmitted)="updateStudent()"
    [formGroup]="studentForm"></app-student-prohibited-status> -->

</div>






<div class="tabView " [class.show-controls]="navListLength > 7" >
    <!-- nav Controls -->
    <div class="arrow-left" (click)="scrollLeft(nav)">
        <img src="assets/images/shared/chevron-left.svg" alt="">
    </div>
    <div class="arrow-right" (click)="scrollRight(nav)" [class.d-none]="hideNavControl">
        <img src="assets/images/shared/chevron-right.svg" alt="">
    </div>
    <!-- Navigations Options -->
    <ul class="tabView__nav" [class.pe-0]="hideNavControl" #nav>
      <ng-container *ngFor="let step of steps; let first=first">
        <li class="tabView__nav__link" *permit="step.claims" [class.active]="step.isActive" (click)="setActiveTab(step.index)"><span>{{step.title}}</span> </li>
    </ng-container>
        <!-- <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentInfo" data-step="1" [class.active]="step==1" (click)="step=1; currentMode='view'"><span>{{ 'dashboard.parents.personalInfo'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAcceptanceInfo" data-step="2" [class.active]="step==2" (click)="step=2; currentMode='view'"><span>{{ 'dashboard.parents.acceptanceInfo'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAbsenceAndAttendance" data-step="3" [class.active]="step==3" (click)="step=3; currentMode='view'"><span> {{ 'dashboard.parents.attendanceAndAbsence'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentAttachments" data-step="4" [class.active]="step==4" (click)="step=4; currentMode='view'"><span>{{ 'dashboard.students.studentAttachedment'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentCertificates" data-step="5" [class.active]="step==5" (click)="step=5; currentMode='view'"><span> {{ 'dashboard.parents.certificateList'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentBehavior" data-step="6" [class.active]="step==6" (click)="step=6; currentMode='view'"><span>{{ 'dashboard.students.studentBehavior'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentMedicalFile" data-step="7" [class.active]="step==7" (click)="step=7; currentMode='view'" ><span>{{ 'dashboard.students.medicalFile'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentEditList" data-step="8" [class.active]="step==8" (click)="step=8; currentMode='view'"><span>{{ 'dashboard.parents.editableList'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentSubjectsAndDegrees" data-step="9" [class.active]="step==9" (click)="step=9; currentMode='view'"><span>{{ 'dashboard.parents.subjectsAndDegrees'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.SEG_R_StudentRecord" data-step="10" [class.active]="step==10" (click)="step=10; currentMode='view'"><span>{{ 'dashboard.parents.studentRecord'|translate }}</span></li> -->

    </ul>
    <!-- Table Caption -->

    <div class="tabView__content">
        <form class="custom-form">

            <ng-container *ngIf="step==0">


                <app-personal-information
                [(mode)]="currentMode"
                (onFormSubmitted)="updateStudent()"
                (openChangeIdentityModel)="changeIdentityNumModelOpened=true"
                [formGroup]="studentForm"></app-personal-information>

                <app-payments
                [(mode)]="paymentCurrentMode"
                (onFormSubmitted)="updateStudent()"
                [formGroup]="studentForm"></app-payments>
            </ng-container>

            <!-- <ng-container *ngIf="step==2">
                <app-payments [formGroup]="studentForm"></app-payments>
            </ng-container> -->

            <ng-container *ngIf="step==1">
                <app-accept-information
                (onFormSubmited)="updateStudent()"
                [(mode)]="currentMode"
                [formGroup]="studentForm">
                </app-accept-information>
            </ng-container>


            <ng-container *ngIf="step==2">
                <app-absence-details></app-absence-details>
            </ng-container>


            <ng-container *ngIf="step==3">
                <app-attachments-child></app-attachments-child>
            </ng-container>


            <ng-container *ngIf="step==4">
                <app-certificate-list></app-certificate-list>
            </ng-container>

            <!-- Student Behavior -->
            <ng-container *ngIf="step==5">

                <ng-container *ngIf="!(student$ |async)">
                    <div class="row g-5">
                        <div class="col-md-4">
                            <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                        <div class="col-md-4">
                            <app-skeleton count="2" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                        <div class="col-md-4">
                            <app-skeleton count="1" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngIf="student$ |async as student">
                    <ng-container *ngIf="stdBehaviorMode=='view'">
                        <div class="float-btn " (click)="stdBehaviorMode='edit'" *permit="claimsEnum.SEG_U_StudentBehavior">
                            <img src="assets/images/shared/pen-blue-filled.svg" alt="">
                        </div>

                        <div class="custom-form">
                            <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.studentBehavior'| translate}}</h3>
                            <label class="label">{{'dashboard.students.behaviorDescription' | translate}}</label>
                            <p class="paragraph paragraph--sm color-gray-800 mb-6 w-75">
                                {{student.studentBehavior?.descrition || '--'}}
                            </p>

                            <div class="grid-container">
                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.employeeCreatedBehavior'|translate }}</p>
                                <span class="color-primary mb-2">{{student.studentBehavior?.createdBy || (student.name |currentLang)}}</span>

                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.discribeBehaviorDate'|translate }}</p>
                                <span class="color-primary mb-2">{{student.studentBehavior?.createdDate || student.studentBehavior?.updatedDate|LocalizeDate}}</span>

                            </div>
                        </div>
                    </ng-container>


                    <ng-container *ngIf="stdBehaviorMode=='edit'">

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary "
                            [disabled]="(this.childService.loading$ |async )|| !studentForm.valid"
                            (click)="updateStudent()">
                                <span>{{'shared.saveChanges'| translate}}</span>
                                <div class="spinner-border text-light" role="status" *ngIf="this.childService.loading$ |async"></div>
                            </button>
                            <button  (click)="stdBehaviorMode='view'" ><a class="cancelbtn mx-4">{{'shared.Cancel'|translate}}</a></button>
                        </div>
                        <hr class="my-5">

                        <form [formGroup]="studentForm" class="custom-form">
                            <h3 class="heading heading--tertiary mb-6">{{'dashboard.students.studentBehavior'| translate}}</h3>
                            <div class="grid-container mb-5">
                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.employeeCreatedBehavior'|translate }}</p>
                                <span class="color-primary mb-2">{{student.name |currentLang}}</span>

                                <p class="color-gray-300 fs-4">{{ 'dashboard.students.discribeBehaviorDate'|translate }}</p>
                                <span class="color-primary mb-2">{{student.studentBehavior?.createdDate || student.studentBehavior?.updatedDate|LocalizeDate}}</span>

                            </div>

                            <div class="col-md-6 form-set" formGroupName="studentBehavior">
                                <label class="label">{{'dashboard.students.behaviorDescription' | translate}}</label>
                                <textarea formControlName="descrition" [rows]="6" pInputTextarea ></textarea>
                            </div>
                        </form>
                    </ng-container>
                </ng-container>



            </ng-container>


            <!-- Medical Fils -->
            <ng-container *ngIf="step==6">

                <app-medical-file></app-medical-file>

            </ng-container>
            <!-------Student record---------->
            <ng-container *ngIf="step==7">
                <app-subjects-and-degrees></app-subjects-and-degrees>
            </ng-container>

            <ng-container *ngIf="step==8">
                <app-school-record></app-school-record>
            </ng-container>
            <ng-container *ngIf="step==9">
              <app-edit-history></app-edit-history>
            </ng-container>
            <ng-container *ngIf="step==10">
              <app-child-requests requestsOwner="Student"></app-child-requests>
            </ng-container>
        </form>

    </div>
</div>


<!-- <app-withdrawal-request [student]="currentStudent" *ngIf="childService.showWithdrawalReqScreen$|async"></app-withdrawal-request> -->






<p-dialog *ngIf="display" header="{{'dashboard.Messages.Send a new message' | translate}}" [draggable]="false" [resizable]="false" [modal]="true"
[(visible)]="display" [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">

    <app-send-message [schoolId]="schoolId" (hiddenDialog)="closeDialog()"></app-send-message>

</p-dialog>

