@import '../../../../assets/css/utils/variables.scss';

%box{
    color:$color-gray-250;
    // background-color: $color-gray-50;
    border: 1px solid $color-gray-200;
    border-radius: 15px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: .7rem;
    height: 13rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}



.pi-spinner,
.pi-check-circle,
.pi-times-circle{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 2.3rem;
}
.pi-spinner{color: $color-primary !important;}
.pi-check-circle{color:$color-green-600}
.pi-times-circle{color:$color-red-500}



:host{
    flex-grow: 1;
}
.image-uploader{
    
    font-size: 1.6rem;

    &__upload{
       @extend %box;
        // width: 28rem;
        width: 47%;

        .icon-upload{
            width: 5.5rem;
            height: 5.5rem;
            padding: 2rem;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #F5F8FF;
        }

    
        &.upload-btn{
            .title{font-size: 1.6rem;}
            .sub-title{font-size: 1.3rem;}
        }

        
        
    }

    &.full &__upload{
        width: 100%;
        height: 16rem
    }

    // &.blue-theme &__box{
    //     background-color:  rgba(46, 80, 163, 0.12);
    //     border: 1px dashed $color-primary;
    //     height: 10rem;
    // }

    .box{
        @extend %box;
        width: 47%;
        &.image-wrapper{
            position: relative;
            // height: 100%;
            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }

        .icon-close{
            position: absolute;
            top: 1rem;
            left: 2rem;
            // color: red;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }


    .list{
        width: 47%;
    }

    &.rows{

        .image-uploader__upload{
            width: 28rem;
        }
    }

    .file{

        &__list{
            margin-top: 1rem;

            &__item{
                display: flex;
                align-items: center;
                gap: 2rem;
                background-color: #EFEFEF;
                padding: .75rem 1rem;
                border-radius: 10px;
                font-size: 1.5rem;
                margin-bottom: .75rem;

                .icon{

                    &--delete{
                        margin-inline-start: auto;
                        cursor: pointer;
                    }
                }
            }
        }
    }


}


// .uploadfilecontainer {
//     text-align: center;
//     font-size: 1.3rem;
//     background-color: #2e50a33b;
//     padding: 60px 0;
//     height: 200px;
//     width: 80%;
//     margin: 20px 0;
//     border: 2px dashed #1C8ADB;
//     border-radius: 10px;
//     color: #2E50A3;
// }

// .uploadfilecontainer:hover {
//     cursor: pointer;
//     background-color: #9ecbec !important;
//     opacity: 0.8;
// }

// .files-list {
//     display: flex;
//     justify-content: space-between;
//     margin: 10px auto;
//     border: 1px solid #EFEFEF;
//     border-radius: 12px;
//     padding: 5px;
//     color: #1c8adb;
//     background: #EFEFEF;
// }

// .files-list .delete-file {
//     background: transparent;
//     border: none;
//     cursor: pointer;
// }

// .files-list .delete-file img {
//     width: 30px;
// }