
    <div class="" (click)="upload.value=null; upload.click()" *ngIf="theme=='chat'">
        <!-- <div class="spinner-border text-light" role="status" *ngIf="inProgress"></div> -->
        <!-- <i class="pi pi-spin pi-spinner " *ngIf="inProgress"></i> -->
        <div class="spinner-border text-dark" role="status" *ngIf="inProgress"></div>

        <input type="file"
        #upload
        [disabled]="files.length > filesLimit || inProgress"
        [accept]="allowedFilesExtentions"
        [multiple]="multiple"
        [hidden]="true"
        (change)="validateSelectedFiles($event)">

        <div class="icon-upload sm" role="button" *ngIf="!inProgress">
            <img class="" src="assets/images/shared/upload.svg" alt="upload">
        </div>
    </div>



<div class="image-uploader flex-grow-1" [class]="view" *ngIf="theme=='default'">
    <h3 class="heading heading--tertiary mb-4" [style.minHeight.rem]="'2.7'"> {{title}}</h3>


    <div class=" gx-4 gap-4 gap-xxl-5 file-container" [class.row]="view==='box' || view==='list'">

            <div class="image-uploader__upload upload-btn"  (click)="upload.value=null; upload.click()">
                <!-- <div class="spinner-border text-light" role="status" *ngIf="inProgress"></div> -->
                <i class=" spinner pi pi-spin pi-spinner " *ngIf="inProgress"></i>
                <i [class.showSuccess]="uploaded" class="spinner pi pi-check-circle" *ngIf="uploaded && !hideCheck"></i>
                <i [class.showError]="!uploaded" class="spinner pi pi-times-circle" *ngIf="!uploaded && !hideCheck"></i>
                <!-- <fa-icon class="showError" [i con]="faFileCircleExclamation"></fa-icon> -->
                <input type="file"

                #upload
                [disabled]="files.length > filesLimit || inProgress"
                [accept]="allowedFilesExtentions || null"
                [multiple]="multiple"
                [hidden]="true"
                (change)="validateSelectedFiles($event)">

                <div class="icon-upload position-relative">
                    <img class="" src="assets/images/shared/upload.svg" alt="upload">
                </div>
                <!-- <p class="title">{{ 'dashboard.schools.enterForAttachSchoolLogo'|translate }}</p> -->
                <p class="title text-center" *ngIf="!inProgress && (hideCheck && !uploaded) || uploaded">{{ label }}</p>
                <p class="title text-center color-red-500" *ngIf="!uploaded && !hideCheck">{{'toasterMessage.error' |translate}}</p>

                <!-- <p class="sub-title">{{allowedFilesType}} (Maximum Size: {{maxFileSize}}mb)</p> -->
                <p class="sub-title color-primary" *ngIf="allowedFilesType && maxFileSize">{{'shared.fileMaxSize' |translate:{type :('shared.'+allowedFilesType |translate) || '', size: maxFileSize} }}</p>
                <p class="sub-title color-primary" *ngIf="allowedFilesType && !maxFileSize">{{'shared.requiredFileType' |translate:{type :('shared.'+allowedFilesType |translate) || ''} }}</p>

                <div class="d-flex  sub-title color-primary" *ngIf="!allowedFilesType && allAllowedFilesType?.length">
                  <span class="mx-3">{{'shared.fileType' |translate}}</span>
                  (<span *ngFor="let item of allAllowedFilesType; let i=index">
                    <span [class.d-none]="i==0">&nbsp;-&nbsp;</span>
                    {{'shared.'+item |translate}}
                  </span>)
                </div>

            </div>






        <!-- ----------------------------- -->
        <!-- Views Options -->
        <!-- ----------------------------- -->

        <ng-container  *ngIf="view=='box'">
            <div class=" box image-wrapper w px-5 d-flex flex-column" >
                <!-- <h3 class="heading heading--tertiary mb-4">{{'dashboard.schools.reliableLogo'|translate }} </h3> -->
                <!-- <div class="box images"> -->
                    <fa-icon *ngIf="imgUrl" class="icon-close" [icon]="faXmark" (click)="removeFile(0)"></fa-icon>
                    <img *ngIf="!imgUrl" src="assets/images/shared/image.svg" alt="">
                    <img *ngIf="imgUrl" [src]="imgUrl" alt="" onerror="this.src='assets/images/shared/image.svg'">
                <!-- </div>  -->
            </div>
        </ng-container>




        <ng-container  *ngIf="view=='full'">
          <ng-content></ng-content>
          <div class="gx-5 mt-5 full-file">
              <ng-container *ngFor="let file of files; let i = index">
                  <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5" *ngIf="file?.url">
                      <div role="button" (click)="openFile(file?.url)" class="d-flex align-items-center gap-5" >
                          <img [style.width.rem]="4.5" src="assets/images/shared/file.svg" alt="">
                          <span class="word-break-all"> {{file.name || 'ملف'}}</span>
                          <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2 cancel" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                      </div>
                      <ng-container *ngIf="hasComment">
                          <p class="position-relative paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                              <img class="icon" *ngIf="!editMode" (click)="editMode =true" role="button" class="position-absolute" style="top:1.5rem; left:1.5rem;width: 1.3rem; height: 1.3rem;" src="assets/images/shared/pen.svg" alt="">
                              <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                              <span class="comment" *ngIf="!editMode">{{file.comment}}</span>
                              <textarea  *ngIf="editMode" name="comment" [(ngModel)]="files[i].comment" rows="4" (blur)="editMode=false;this.onFileUpload.emit(this.files)"></textarea>
                          </p>
                      </ng-container>

                  </div>
              </ng-container>
          </div>
      </ng-container>







        <!-- <ng-container  *ngIf="view=='list'">
            <div class="list flex-column ">
                <ul>
                    <ng-container *ngFor="let file of files; let i = index">
                        <li class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                            <img src="assets/images/shared/pdf.svg" alt="">
                            <span>{{file?.name}}</span>
                            <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </ng-container>

    </div> -->

<!--
    <ng-container  *ngIf="view=='rows'">
        <div class="row gx-5 mt-5 rows">
            <ng-container *ngFor="let file of files; let i = index">
                <div class="col-md-6 ps-6">
                    <label class="label color-gray-700" for="day">{{'dashboard.students.studentIdentity' |translate}}  </label>
                    <div class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span>{{file?.name}}</span>
                        <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container> -->






</div>
