<div class="image-uploader flex-grow-1" [class]="view">
    <h3 class="heading heading--tertiary mb-4"> {{title}}</h3>

    <div class="row gx-4 gap-4 gap-xxl-5">
        <!-- <div class=" px-5 pe-0"> -->
            <div class="image-uploader__upload upload-btn" (click)="upload.value=null; upload.click()">
                <!-- <div class="spinner-border text-light" role="status" *ngIf="inProgress"></div> -->
                <i class="pi pi-spin pi-spinner" *ngIf="inProgress"></i>
                <i [class.showSuccess]="uploaded" class="pi pi-check-circle" *ngIf="uploaded && !hideCheck"></i>
                <i [class.showError]="!uploaded" class="pi pi-times-circle" *ngIf="!uploaded && !hideCheck"></i>
                <!-- <fa-icon class="showError" [icon]="faFileCircleExclamation"></fa-icon> -->
                <input 
                type="file" 
                #upload 
                [disabled]="files.length > maxFilesToUpload || inProgress"
                [accept]="accept" 
                [multiple]="multiple" 
                [hidden]="true" 
                (change)="validateSelectedFiles($event)">
                
                <div class="icon-upload position-relative">
                    <img class="" src="assets/images/shared/upload.svg" alt="upload">
                </div>
                <!-- <p class="title">{{ 'dashboard.schools.enterForAttachSchoolLogo'|translate }}</p> -->
                <p class="title text-center" *ngIf="!inProgress && (hideCheck && !uploaded) || uploaded">{{ label }}</p>
                <p class="title text-center color-red-500" *ngIf="!uploaded && !hideCheck">يرجى المحاوله مره اخرى</p>

                <!-- <p class="sub-title">Photo (Maximum Size: 5mp)</p> -->
            </div>
        <!-- </div> -->


        <!-- ----------------------------- -->
        <!-- Views Options -->
        <!-- ----------------------------- -->

        <ng-container  *ngIf="view=='box'">
            <div class=" box image-wrapper w px-5 d-flex flex-column" >
                <!-- <h3 class="heading heading--tertiary mb-4">{{'dashboard.schools.reliableLogo'|translate }} </h3> -->
                <!-- <div class="box images"> -->
                    <fa-icon *ngIf="imgUrl" class="icon-close" [icon]="faXmark" (click)="removeImage()"></fa-icon>
                    <img *ngIf="!imgUrl" src="assets/images/shared/image.svg" alt="">
                    <img *ngIf="imgUrl" [src]="imgUrl" alt="" onerror="this.src='assets/images/shared/image.svg'">
                <!-- </div>  -->
            </div>
        </ng-container>




        <ng-container  *ngIf="view=='list'">
            <div class="list flex-column ">
                <ul>
                    <ng-container *ngFor="let file of files; let i = index">
                        <li class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                            <img src="assets/images/shared/pdf.svg" alt="">
                            <span>{{file?.name}}</span>
                            <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </ng-container>

    </div>


    <ng-container  *ngIf="view=='rows'">
        <div class="row gx-5 mt-5 rows">
            <ng-container *ngFor="let file of files; let i = index">
                <div class="col-md-6 ps-6">
                    <label class="label color-gray-700" for="day">{{'dashboard.students.studentIdentity' |translate}}  </label>
                    <div class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span>{{file?.name}}</span>
                        <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>



    <ng-container  *ngIf="view=='full'">
        <div class="row gx-5 mt-5 rows">
            <ng-container *ngFor="let file of files; let i = index">
                <div class="ps-6">
                    <!-- <label class="label color-gray-700" for="day">{{'dashboard.students.studentIdentity' |translate}}  </label> -->
                    <div class="d-flex align-items-center gap-5 border-dark px-4 py-3 color-gray-800 radius-15 mb-3">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span>{{file?.name}}</span>
                        <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="removeFile(i)"></fa-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>