.uploadfilecontainer {
    text-align: center;
    font-size: 1.3rem;
    background-color: #2e50a33b;
    padding: 60px 0;
    height: 160px;
    width: 80%;
    margin: 20px 0;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    color: #2E50A3;

}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    margin-right:4px ;
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
    background: #EFEFEF;
    width: 80%;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}