<div class="ui-g" *ngIf="!isSkeletonVisible">
    <div class="students" *ngIf="students.length != 0">
        <h4><b>{{'dashboard.parents.registerSons'|translate }}<span *ngIf="currentUserScope==userScope.Employee">{{'dashboard.parents.in'|translate}}{{currentSchool}}</span></b></h4>
        <div class="cards ">
            <div class="row g-5">
                <div class="col-sm-4 col-md-3" *ngFor="let student of students">
                    <div class="card p-0" role="button" [routerLink]="['../', 'child',student.id]" [queryParams]="{ registered: 'true' }">

                        <div class="card__header px-4 pt-4 d-block">
                            
                            <div class="profile card__avatar mb-4">
                               
                                <div class="profile__avatar sm ">
                                    <img src="assets/images/avatar.png" alt="Avatar">
                                    <!-- <img [src]="student.imagePath" alt="Avatar"> -->
                                </div>
                                <div class="profile__info">
                                    <div class="info ms-auto">
                                        <h4 class="heading heading--tertiary color-primary mb-2">{{translationService.lang=='ar'?student.name.ar:student.name.en}}</h4>
                                        <p class="color-gray-300 fs-4">{{student.age}}سنه</p>
                                    </div>
                                </div>
                                <!-- <fa-icon class="icon color-gray-300" [icon]="faChevronLeft"></fa-icon> -->
                            </div>
                        </div>

                        <div class="card__body">

                            <div class="grid-container gap-3 gap-4">
                                <span class=" color-gray-300 fs-5">{{'dashboard.parents.grade'|translate }}</span>
                                <div class="color-gray-800 me-2 fs-4">
                                    <span *ngIf="student.grade !=null">{{translationService.lang=='ar'?student.grade.ar:student.school.en}}</span>
                                    <span *ngIf="student.grade ==null"> </span>

                                </div>

                                <span class=" color-gray-300 fs-5">{{'dashboard.parents.school'|translate }}</span>
                                <div class="color-gray-800 me-2 fs-4">
                                    <span *ngIf="student.school !=null"> {{translationService.lang=='ar'?student.school.ar:student.school.en}}</span>
                                    <span *ngIf="student.school ==null"> </span>
                                </div>

                                <span class=" color-gray-300 fs-5">{{'dashboard.parents.relativeRelation'|translate }}</span>
                                <div class="color-gray-800 me-2 fs-4">{{translationService.lang=='ar'?student.relativeRelation.ar:student.relativeRelation.en}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
   <ng-container *ngIf="currentUserScope!=userScope.Employee">
    <div class="chidren" *ngIf="chiledren.length != 0" >
        <h4><b>{{'dashboard.parents.UnregisterSons'|translate }}</b></h4>
        <div class="cards ">
            <div class="row g-5">
                <div class="col-sm-4 col-md-3" *ngFor="let child of chiledren">
                    <div class="card p-0"  role="button" [routerLink]="['../', 'child', child.id]" [queryParams]="{ registered: 'false' }">

                        <div class="card__header px-4 pt-4 d-block">
                            <div class="profile card__avatar mb-4">
                                <div class="profile__avatar sm ">
                                    <img src="assets/images/avatar.png" alt="Avatar">
                                    <!-- <img [src]="student.imagePath" alt="Avatar"> -->
                                </div>
                                <div class="profile__info">
                                    <div class="info ms-auto">
                                        <h4 class="heading heading--tertiary color-primary mb-2">{{translationService.lang=='ar'?child.name.ar :child.name.en}}</h4>
                                        <p class="color-gray-300 fs-4">{{child.age}}سنه</p>
                                    </div>
                                </div>
                                <!-- <fa-icon class="icon color-gray-300" [icon]="faChevronLeft"></fa-icon> -->
                            </div>


                        </div>

                        <div class="card__body">

                                <div class="grid-container gap-3 gap-4">
                                    <span class=" color-gray-300 fs-5 ">{{'dashboard.parents.relativeRelation'|translate }}</span>
                                    <div class="color-gray-800 me-2 fs-4 ">{{translationService.lang=='ar'?child.relativeRelation.ar:child.relativeRelation.en}}</div>
                                </div>

                        </div>

                        <div class="card__actions p-3 mb-1 ">
                            <button class="btn btn--full btn-primary "  [routerLink]="['../','child', child.id, 'register']" >
                            <span stopProp  class="ms-3 ">{{'dashboard.parents.sendRegisterReq'|translate }}</span>
                            <!-- <span class="ms-3 ">{{'dashboard.parents.registerInSchool'|translate }}</span> -->
                        </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
</div>


 <div class="d-flex ms-5" *ngIf="isSkeletonVisible">
        <app-skeleton size="38rem" [style]="{'margin-bottom': '5rem','margin-left': '3rem'}" count="2"></app-skeleton>
        <app-skeleton size="38rem" [style]="{'margin-bottom': '5rem','margin-left': '3rem'}" count="2"></app-skeleton>
        <app-skeleton size="38rem" [style]="{'margin-bottom': '5rem','margin-left': '3rem'}" count="2"></app-skeleton>
 </div>



