<div *ngIf="students.length == 0 && chiledren.length == 0">
    <app-informative-block title="{{'emptyList.childern List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</div>
<div class="students" *ngIf="students.length != 0">
    <h4><b>الابناء المسجلين </b></h4>
    <div class="cards ">
        <div class="row g-5">
            <div class="col-sm-4 col-md-3" *ngFor="let student of students">
                <div class="card p-0">

                    <div class="card__header px-4 pt-4 d-block">
                        <div class="profile card__avatar mb-4" role="button">
                            <div class="profile__avatar sm ">
                                <img src="assets/images/avatar.png" alt="Avatar">
                                <!-- <img [src]="student.imagePath" alt="Avatar"> -->
                            </div>
                            <div class="profile__info">
                                <div class="info ms-auto">
                                    <h4 class="heading heading--tertiary color-primary mb-2">{{student.name.ar}}</h4>
                                    <p class="color-gray-300 fs-4">{{student.age}}سنه</p>
                                </div>
                            </div>
                            <!-- <fa-icon class="icon color-gray-300" [icon]="faChevronLeft"></fa-icon> -->
                        </div>
                    </div>

                    <div class="card__body">

                        <div class="grid-container gap-3 gap-4">
                            <span class=" color-gray-300 fs-5">المستوى الدراسى</span>
                            <div class="color-gray-800 me-2 fs-4">
                                <span *ngIf="student.grade !=null">{{student.grade.ar}}</span>
                                <span *ngIf="student.grade ==null"> </span>

                            </div>

                            <span class=" color-gray-300 fs-5">المدرسه </span>
                            <div class="color-gray-800 me-2 fs-4">
                                <span *ngIf="student.school !=null"> {{student.school.ar}}</span>
                                <span *ngIf="student.school ==null"> </span>
                            </div>

                            <span class=" color-gray-300 fs-5">صله القرابه </span>
                            <div class="color-gray-800 me-2 fs-4">{{student.relativeRelation.ar}}</div>
                        </div>
                    </div>
                    <div class="card__actions p-3 mb-1">
                        <div class="d-flex justify-content-center radius-15 py-3 w-100 bg-gray-50 color-gray-150">
                            <span class="ms-3">مسجل</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="chidren" *ngIf="chiledren.length != 0">
    <h4><b>الابناء الغير مسجلين </b></h4>
    <div class="cards ">
        <div class="row g-5">
            <div class="col-sm-4 col-md-3" *ngFor="let child of chiledren">
                <div class="card p-0">

                    <div class="card__header px-4 pt-4 d-block">
                        <div class="profile card__avatar mb-4" role="button">
                            <div class="profile__avatar sm ">
                                <img src="assets/images/avatar.png" alt="Avatar">
                                <!-- <img [src]="student.imagePath" alt="Avatar"> -->
                            </div>
                            <div class="profile__info">
                                <div class="info ms-auto">
                                    <h4 class="heading heading--tertiary color-primary mb-2">{{child.name.ar}}</h4>
                                    <p class="color-gray-300 fs-4">{{child.age}}سنه</p>
                                </div>
                            </div>
                            <!-- <fa-icon class="icon color-gray-300" [icon]="faChevronLeft"></fa-icon> -->
                        </div>


                    </div>

                    <div class="card__body">

                        <div class="grid-container gap-3 gap-4">
                            <span class=" color-gray-300 fs-5">صله القرابه </span>
                            <div class="color-gray-800 me-2 fs-4">{{child.relativeRelation.ar}}</div>
                        </div>
                    </div>

                    <div class="card__actions p-3 mb-1">
                        <button class="btn btn--full btn-primary "  (click)="displayUnregisterChild(child.id);">
                            <span class="ms-3">سجل فى المدرسه</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>