
<div id="app-version" class="color-gray-800 fs-4"><a href="https://www.blackstoneeit.com/" class="color-gray-800 fs-4 powered" target="_blank">Powered by BlackstoneEIT</a> | V.{{version}}</div>

<router-outlet *ngIf="showContent$ |async"></router-outlet>

<app-confirm-model></app-confirm-model>


<ng-container *ngIf="currentUserScope!=userScope.Guardian">

    <div class="panal-wrapper" *ngIf="hideToolPanal">

        <div class="befor" [class.show]="firstChildHoverd"></div>
        <div class="panal">
            <ul class="panal__list">
                <li class="panal__list__item" (mouseover)="onFirstChildHoverd()" (mouseleave)="onFirstChildLeaved()">
                    <div class="icon">
                        <img src="assets/images/home/panal/home.svg" alt="">
                    </div>
                    <div class="lable" role="button" routerLink="/">
                        <span>{{'Home Page' |translate}}</span>
                    </div>
                </li>
                <li class="panal__list__item lang">
                    <div class="icon" (click)="changeLanguage()">
                        <span [class]="languge=='en'? 'font-en' : 'font-ar'"> {{lang=='ar' ? 'عربى': 'English'}}</span>
                    </div>
                    <div class="lable" (click)="changeLanguage()">
                        <span [class]="languge=='ar'? 'font-en' : 'font-ar'"> {{lang=='ar' ? 'English': 'عربى'}}</span>
                    </div>
                </li>

                <!-- *permit="ClaimsEnum.SE_ShowUserIcon" -->
                <li class="panal__list__item"  *ngIf="currentUserScope!=userScope.Guardian" >
                    <div class="icon">
                        <img src="assets/images/home/panal/user.svg" alt="">
                    </div>
                    <div class="lable" >
                        <span>{{currentUserName|currentLang}}</span>
                    </div>

                </li>

                <li class="panal__list__item" routerLink="/manager-tools/settings" *permit="ClaimsEnum.S_MenuItem_Setting">
                    <div class="icon">
                        <img src="assets/images/home/panal/setting.svg" alt="">
                    </div>
                    <div class="lable">
                        <span>{{'settings' |translate}}</span>
                    </div>
                </li>
                <li class="panal__list__item"  (click)="display = true;" *permit="ClaimsEnum.E_ContactWithSpea">
                    <div class="icon">
                        <img src="assets/images/home/panal/call.svg" alt="">
                    </div>
                    <div class="lable">
                        <span>{{'Contact with Spea Employee' |translate}}</span>
                    </div>
                </li>


                <li class="panal__list__item" (click)="logout();lastChildHoverd = false" (mouseover)="onLastChildHoverd()" (mouseleave)="onLastChildLeaved()">
                    <div class="icon">
                        <img src="assets/images/home/panal/logout.svg" alt="">
                    </div>
                    <div class="lable">
                        <span>{{'Loginout' |translate}}</span>
                    </div>
                </li>

            </ul>

        </div>
        <div class="after" [class.show]="lastChildHoverd"></div>
    </div>

</ng-container>


<div class="here">
    <p-dialog header="{{'dashboard.Messages.Send a new message' | translate}}" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="display" [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">
        <form [formGroup]="parentForm">
            <div class="custom-form custom-validation-form">
                <div class="mb-5">
                    <label class="label" for="">{{'dashboard.Messages.Enter the message title' | translate}} <span class="star">*</span></label>
                    <input class="form-control py-3 my-3" type="text" formControlName="title" placeholder="{{'dashboard.Messages.Enter the message title' | translate}}">
                    <div class="text-danger" *ngIf="parentForm.get('title')?.touched && parentForm.get('title')?.invalid && parentForm.get('title')?.errors">
                        <small *ngIf="parentForm.get('title')?.errors?.['required']">{{'dashboard.Messages.descriptionMessage' | translate}}</small>
                        <small *ngIf="parentForm.get('title')?.errors?.['maxlength']">{{'dashboard.Messages.maxLengtho' | translate}}</small>
                    </div>

                </div>

                <div class="mb-5">
                    <label class="label" for="">{{'dashboard.Messages.Enter the text of the message' | translate}} <span class="star">*</span></label>
                    <textarea class="form-control" formControlName="description" placeholder="{{'dashboard.Messages.Enter the text of the message' | translate}}" rows="5" cols="30" pInputTextarea></textarea>
                    <div class="text-danger" *ngIf="parentForm.get('description')?.touched && parentForm.get('description')?.invalid && parentForm.get('description')?.errors">
                        <small *ngIf="parentForm.get('description')?.errors?.['required']">{{'dashboard.Messages.descriptionMessage' | translate}}</small>
                        <small *ngIf="parentForm.get('description')?.errors?.['maxlength']">{{'dashboard.Messages.maxLength' | translate}}</small>
                    </div>
                </div>

                <div class="mb-5">
                    <label class="label" for="">{{'dashboard.Messages.MessageType' | translate}} <span class="star">*</span></label>
                    <p-dropdown [options]="messagesTypes$ |async" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" formControlName="messageType" placeholder="{{'dashboard.Messages.MessageType' | translate}}" optionValue="id"  [ngClass]="{'ng-invalid ng-dirty':parentForm.get('messageType')?.errors?.['required']&& parentForm.get('messageType')?.touched}"></p-dropdown>
                    <div class="text-danger" *ngIf="this.parentForm.get('messageType')?.touched && this.parentForm.get('messageType')?.invalid && this.parentForm.get('messageType')?.errors">
                        <small *ngIf="this.parentForm.get('messageType')?.errors?.['required']">{{'dashboard.Messages.descriptionMessage' | translate}}</small>
                    </div>
                </div>
                <div class="d-flex El-form my-4">
                    <div class="form-group d-flex align-items-baseline">
                        <label class="px-3" for="">  {{'dashboard.Messages.Possibility to reply' | translate}} <span class="star">*</span></label>
                        <p-inputSwitch (onChange)="isToggleLabel1($event)" class="px-3" formControlName="switch2"></p-inputSwitch>
                        <span class="Label" *ngIf="!isShown1">{{'shared.no'|translate}}</span>
                        <span class="Label" *ngIf="isShown1">{{'shared.yes'|translate}}</span>
                    </div>
                </div>

                <app-file-upload *ngIf="display" view="full" (onFileUpload)="messageUpload($event)" (onFileDelete)="messageDeleted($event?.files)"></app-file-upload>

            </div>
        </form>
        <ng-template pTemplate="footer">
            <button (click)="sendMessage()" style="float: left;" class="btn btn-primary" [disabled]="parentForm.invalid || onSubmit">
                {{'dashboard.Messages.Send' | translate}}
                <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>

            </button>
        </ng-template>
    </p-dialog>

</div>


