@import 'src/assets/css/utils/variables';
// -----------
@import "../assets/css/components/forms.scss";
@import 'src/assets/css/components/inputswitch';
@import '../assets/css/components/message.scss';
// -----------
.panal-wrapper {
    position: fixed;
    top: 50%;
    // left: 4rem;
    border-radius: 30px;
    transform: translateY(-40%);
    z-index: 9;
    .befor,
    .after {
        position: absolute;
        display: block;
        width: 11rem;
        height: 4rem;
        // left: 50%;
        background-color: $color-primary;
        transform: scaleX(0);
        // transform-origin: left;
        transition: all .4s ease-out;
        // z-index: -1;
        &.show {
            transform: scaleX(1);
        }
    }
    .befor {
        top: 0;
    }
    .after {
        bottom: 0;
    }
}

.panal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    // padding: .5rem 0;
    &__list {
        // padding: 0 .5rem;
        border-radius: 30px;
        box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.05);
        &__item {
            position: relative;
            padding: 1.7rem .5rem;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid #F5F5F5;
            }
            .icon {
                img {
                    width: 1.75;
                }
            }
            .lable {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                // inset-inline-start: calc(100% + .5rem);
                height: 100%;
                padding: 1.5rem 5rem;
                width: auto;
                color: #fff;
                background-color: $color-primary;
                // border-radius: 0 30px 30px 0;
                transform: scaleX(0);
                // transform-origin: left;
                transition: all .3s ease-out;
                z-index: 10;
                opacity: 0;
                .myInput {
                    height: 100%;
                    input {
                        height: 100%;
                        border-radius: 30px;
                        font-size: 1.6rem;
                    }
                }
                span {
                    flex-shrink: 0;
                }
            }
            &:hover {
                .lable {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
}


#app-version{
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    padding: 0rem 1.5rem;
    background-color: #F5F5F5;
    border-radius: 5px;
}