<div  style="overflow-x: hidden;">

  <div class="d-flex ">
 
    <div id="content" >
   

    
        <div class="container mt-5 custom-form custom-validation-form border" style="margin-bottom: 20rem;">
            <form [formGroup]="roleFormGrp" class="container-fluid  " (ngSubmit)="succeeded()">
                <div class=" row gx-4 form-set ">
                    <div class="col-xs-2 col-lg-4">
                        <label for="PID" class="label">{{'dashboard.UserRole.JobRole Name In Arabic'|translate}}</label>
                        <input type="text" pInputText formControlName="jobRoleNameInArabic"  class="form-control basicinput" appValidatorsInput  name="PID" id="PID" placeholder="{{'dashboard.UserRole.Write Job Role Name'|translate}}">
                        <div>
                          <div [hidden]="jobRoleNameInArabic.valid || jobRoleNameInArabic.untouched">
                              <small *ngIf="jobRoleNameInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                             
                              <small *ngIf="jobRoleNameInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                  {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                  <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>

                            
                           </div>
                         
                              
                          </div>
                    </div>
                    <div class="col-xs-2 col-lg-4">
                      <label for="PID" class="label">{{'dashboard.UserRole.JobRole Name In English'|translate}}</label>
                      <input type="text" pInputText formControlName="jobRoleNameInEnglish"  class="form-control basicinput" appValidatorsInput  name="PID" id="PID" placeholder="{{'dashboard.UserRole.Write Job Role Name'|translate}}">
                      <div>
                        <div [hidden]="jobRoleNameInEnglish.valid || jobRoleNameInEnglish.untouched">
                            <small *ngIf="jobRoleNameInEnglish.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                            <small *ngIf="jobRoleNameInEnglish.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>

                          
                         </div>
                       
                            
                        </div>
                  </div>
                  <div class="col-xs-2 col-lg-4">
                   
                    <label for="rolePowers" class="label">{{'dashboard.UserRole.RolePowers'|translate}}</label>
                    <p-multiSelect [options]="rolePowersList" display="chip" optionLabel="name.ar" optionValue="id" formControlName="rolePowers" class="form-control" appValidation name="PID4" id="PID4" styleClass="p-multiselect" defaultLabel="{{'dashboard.UserRole.Select Role Powers'|translate}}"></p-multiSelect>
             
                    <div>
                        <div [hidden]="rolePowers.valid || rolePowers.untouched">
                            <small *ngIf="rolePowers.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                           
                            
                         </div>
                         
                            
                    </div>
                   
                </div>

                    <!-- <div class="col-xs-2 col-lg-4">
                       
                      <label for="PID2" class="label">{{'dashboard.UserRole.JobRole Status'|translate}}</label>
                      <p-dropdown [options]="cities" formControlName="status" [(ngModel)]="jobRole.status" *ngIf="!urlParameter" placeholder="{{'dashboard.UserRole.Select Job Role Status'|translate}}" class="form-control" appValidation name="PID2" id="PID2" ></p-dropdown>
                      <p-dropdown [options]="cities" formControlName="status" [(ngModel)]="jobRole.status" *ngIf="urlParameter" class="form-control" appValidation name="PID2" id="PID2" ></p-dropdown>
                     
                  </div> -->
                </div>
                <div class=" row gx-4 form-set ">

               <div class="col-xs-2 col-lg-4" >
                     
                <label for="PID5" class="label">{{'dashboard.UserRole.Description In Arabic'|translate}}</label>
         
                <input type="text" pInputText formControlName="descriptionInArabic" class="form-control basicinput"  appValidatorsInput  name="PID5" id="PID5" placeholder="{{'dashboard.UserRole.Write Description'|translate}}">
                <div>
                    <div [hidden]="descriptionInArabic.valid || descriptionInArabic.untouched">
                       
                       
                        <small *ngIf="descriptionInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                          {{'shared.Numbres Of Characters Must not More than 256 character'|translate}}
                          <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                      </small>
                     </div>
                        
                </div>
                
            </div>
            <div class="col-xs-2 col-lg-4">
                 
              <label for="PID5" class="label">{{'dashboard.UserRole.Description In English'|translate}}</label>
       
              <input type="text" pInputText formControlName="descriptionInEnglish" class="form-control basicinput"  appValidatorsInput  name="PID5" id="PID5" placeholder="{{'dashboard.UserRole.Write Description'|translate}}">
              <div>
                  <div [hidden]="descriptionInEnglish.valid || descriptionInEnglish.untouched">
                     
                     
                      <small *ngIf="descriptionInEnglish.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                        {{'shared.Numbres Of Characters Must not More than 256 character'|translate}}
                        <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                    </small>
                   </div>
                      
              </div>
              
             </div>
                <div class="col-xs-2 col-lg-4">
                            
                  <label for="PID3" class="label">{{'dashboard.UserRole.DataRestrictionLevel'|translate}}</label>

                    <p-dropdown [options]="dataRestrictionLevelList" (onChange)="changedRestriction($event.value)" optionLabel="name.ar" optionValue="name.en" formControlName="datarestrictionLevel"   placeholder="{{'dashboard.UserRole.Select Data Restriction Level'|translate}}" class="form-control" appValidation name="PID3" id="PID3"  ></p-dropdown>
                    <div>
                      <div [hidden]="datarestrictionLevel.valid || datarestrictionLevel.untouched">
                          <small *ngIf="datarestrictionLevel.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                      </div>
                    </div>
          
              </div>
                 
             </div>
             <div class="row gx-4 gy-5 form-set "  *ngIf="showCurriculamList">
             
                    <p class="heading heading--tertiary mb-3 mt-5">{{'dashboard.UserRole.Select curriculums' | translate}}</p>
                    <div  formArrayName="curriculumSelected" class="d-flex curriclums" >
                    <ng-container  *ngFor="let cu of curriculumSelectedArr.controls let i=index">
                  
                      
                        <div class=" d-flex gap-2 align-items-center col-lg-3"  >
                        
                            <p-checkbox  class="col-lg-1" [formControlName]="i" binary="true" (onChange)="getCurriculumsAdded($event,curriculamList[i].id)"  [inputId]="i" ></p-checkbox>
                            <label class="label label--sm  col-lg-7" > {{curriculamList[i]?.name.ar}}</label>
                        </div>
                     
                    </ng-container>
                    </div>
            </div>

            <div class="row gx-4 gy-5 form-set " *ngIf="showSchoolList">
             
              <div class="d-flex align-items-center   ">
                <div class="btn btn-outline-skyBlue " role="button" (click)="selectSchoolModelOpened=true">
                    {{'dashboard.UserRole.Select School'|translate}}
                </div>
                </div>

                <div class="prim-table mt-4 col-lg-8" *ngIf="MarkedListLength&&!selectSchoolModelOpened">
                  <p-table #dt [lazy]="true" [value]="schoolIsSelectedList" sortMode="single" [scrollable]="true" scrollHeight="400px">

                      <ng-template pTemplate="header" let-columns="columns">
                          <tr>
                             
                              <th pSortableColumn="name">
                                <p-sortIcon field="name"></p-sortIcon>
                                {{'dashboard.schools.schoolName'|translate}}
            
                              </th>
                              <th pSortableColumn="state">
                                <p-sortIcon field="curriculum"></p-sortIcon>
                                {{'shared.state'|translate}}
                              </th>
                              <th pSortableColumn="curriculum">
                                <p-sortIcon field="curriculum"></p-sortIcon>
                                {{'shared.curriculum'|translate}}
                                 
                              </th>
                              <th  class="actions" ></th>
                          </tr>
                      </ng-template>
            
                      <ng-template pTemplate="body" let-school>
            
                          
                              <tr *ngIf="school.isSelected">
                               
                                  <td>{{school.name.ar}}</td>
                                  <td>{{school.state.ar}}</td>
                                  <td>{{school.curriculum.ar}}</td>
                                  <td class="actions">
                                    <button   (click)="unSelectMe(school.id)">
                                      <img  src="assets/images/shared/cancel.svg" alt="">
                                   </button>
                                  </td>
                              </tr>
                      </ng-template>
            
                   
                    
            
                  </p-table>
                 
            
              </div>
            
              <ng-container *ngIf="!MarkedListLength&&!selectSchoolModelOpened">
                  <app-informative-block title="{{'emptyList.Schools not selected yet' |translate}}" size="small" subTitle="{{'emptyList.Pleaze, Select School' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
              </ng-container>
              <div class="alert col-lg-8" *ngIf="MarkedListLength&&!selectSchoolModelOpened">
                <p>{{'dashboard.UserRole.exist'|translate}} {{MarkedListLength}} {{'dashboard.UserRole.school selected for this role'|translate}}</p>
             </div>
    
           </div>

              <div class=" row gx-4 form-set ">


              <div class="col-xs-2 col-lg-2  switch">
                <label for="PID2" class="label">{{'dashboard.UserRole.JobRole Status'|translate}}</label>
                <div class="d-flex status">
                    <span class="text">{{'shared.activated'|translate}}</span>
                    <p-inputSwitch  (onChange)="isToggleLabel($event)" formControlName="status"  ></p-inputSwitch>
                    <span class="Label" *ngIf="!isShown && !urlParameter">{{'shared.no'|translate}}</span>
                    <span class="Label" *ngIf="isShown && !urlParameter">{{'shared.yes'|translate}}</span>
                    <span class="Label" *ngIf="!jobRole.status && urlParameter">{{'shared.no'|translate}}</span>
                    <span class="Label" *ngIf="jobRole.status && urlParameter">{{'shared.yes'|translate}}</span>
                </div>
               
            </div>
               
            </div>
              <div class=" d-flex align-items-center justify-content-end ">
                    <div class="Btn-group d-flex ">
                      <button class="btn  btn-primary addBtn" [disabled]="roleFormGrp.invalid||isBtnLoading">
                        {{'shared.save'|translate}}
                        <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                      </button>
                      <button  ><a routerLink="/dashboard/manager-tools/user-roles/user-roles-list" class="cancelbtn">{{'shared.cancel'|translate}}</a></button>
                    </div>
              </div>
               
            </form>
          </div>                   
   
      
     
 
  </div>
</div>

</div>

<!-- SelectSchools -->

<p-dialog [closable]="false" [baseZIndex]="10000" [resizable]="false" [(visible)]="selectSchoolModelOpened" [draggable]="false" [modal]="true" [style]="{width: '45vw','height':'70vw'}">
 
 <ng-template pTemplate="header">
  <span class="headeritem mb-5">{{'dashboard.UserRole.Select School'|translate}}</span>
  <button (click)="selectSchoolModelOpened=false" ><i class="pi pi-times" ></i></button>
  <div class="alert" style="display: fixed;">
    <p>{{'dashboard.UserRole.You Select'|translate}}{{MarkedListLength}}{{'dashboard.UserRole.From School'|translate}}</p>

 </div>
</ng-template>
 
  <ng-template pTemplate="content">
   
    <div class="prim-table mt-4" *ngIf="schools.totalAllData || schools.loading">
      <p-table #dt [lazy]="true" [value]="schools.list" (onSort)="onSort($event)" >
          <!-- Table Caption -->
          <ng-template pTemplate="caption">
              <app-table-caption 
              (onExport)="onExport($event)" 
              (onFilter)="getSchools()" 
              (onSearch)="filtration.KeyWord = $event; getSchools()" 
              (onClear)="clearFilter()"
              size="small">
     
                 
                  <div class="row gx-5 form-set">
                    <div class="col">
                      <label class="label" for="region">{{'shared.state'|translate }}  </label>
                      <p-dropdown [options]="(states$ |async)" [(ngModel)]="filtration.StateId" optionValue="id" optionLabel="name.ar" placeholder="{{'shared.chooseState'|translate }}"></p-dropdown>
                    </div>
                      <div class="col">
                          <label class="label" for="curriculum">{{'shared.curriculum'|translate }}  </label>
                          <p-dropdown [options]="(curriculums$ | async)" [(ngModel)]="filtration.curricuulumId" optionValue="id" inputId="curriculum" optionLabel="name.ar" placeholder="{{'shared.chooseCurriculum'|translate }}"></p-dropdown>
                      </div>
                  </div>
              </app-table-caption>

          </ng-template>

          <ng-template pTemplate="header" let-columns="columns">
              <tr>
                  <th  ></th>
                  <th pSortableColumn="name">
                    <p-sortIcon field="name"></p-sortIcon>
                    {{'dashboard.schools.schoolName'|translate}}

                  </th>
                  <th pSortableColumn="state">
                    <p-sortIcon field="state"></p-sortIcon>
                    {{'shared.state'|translate}}
                  </th>
                  <th pSortableColumn="curriculum">
                    <p-sortIcon field="curriculum"></p-sortIcon>
                    {{'shared.curriculum'|translate}}
                     
                  </th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-school>

          
                  <tr >
                    <td class="custom-form">
                    
                      <ng-container *ngFor="let item of schoolIsSelectedList;let i=index ">
                        <p-checkbox  name="school" *ngIf="item.id==school.id" [(ngModel)]="school.isSelected" binary="true"  (onChange)="getSelectedSchool($event,school.id)"  [inputId]="school.id" ></p-checkbox>
                      </ng-container>
                  
                    </td>
                      <td>{{school.name.ar}}</td>
                      <td>{{school.state.ar}}</td>
                      <td>{{school.curriculum.ar}}</td>

                  </tr>
          </ng-template>

       
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="20">
                      <ng-container *ngIf="schools.totalAllData && schools.list.length == 0 &&  !schools.loading">
                          <app-informative-block  size="small" title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                      </ng-container>

                      <app-loader></app-loader>
                  </td>
              </tr>
          </ng-template>

      </p-table>
      
      <!-- <div *ngIf="schools.total > paginationState.rows">
          <app-pagination [totalItems]="schools.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
      </div> -->

  </div>

  <ng-container *ngIf="!schools.totalAllData && !schools.loading">
      <app-informative-block title="{{'emptyList.schools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
  </ng-container>



  </ng-template>

  <ng-template pTemplate="footer">
    <div class="d-flex  align-items-center justify-content-end mt-5 ">
      <button class="btn btn-primary " (click)=" showSelectedSchool()">
          <span>{{'shared.save'| translate}} </span>
      </button>
  </div>

  </ng-template>
</p-dialog>
