<div style="overflow-x: hidden;">


    <div class="d-flex">

        <div id="content">


            <div class=" mt-5 custom-form custom-validation-form border" style="margin-bottom: 20rem;">
                <form [formGroup]="assesmentFormGrp">
                    <div class="row gx-5 form-set container-fluid">
                        <div class="col-xs-2 col-lg-4">
                            <label for="PID" class="label">{{'dashboard.Assessment.AssessmentName (in Arabic)'|translate}} <span class="star">*</span></label>
                            <input  type="text" pInputText formControlName="arabicName" [LangRestrict]="'ar'"  class="form-control"  name="PID" id="PID" placeholder="{{'dashboard.Assessment.Write AssessmentName'|translate}}">
                            <div>
                                <div [hidden]="arabicAssesmentName.valid || arabicAssesmentName.untouched">
                                    <small *ngIf="arabicAssesmentName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>

                                    <small *ngIf="arabicAssesmentName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                              {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                              <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                                </div>

                            </div>


                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="PID" class="label">{{'dashboard.Assessment.AssessmentName (in English)'|translate}} <span class="star">*</span></label>
                            <input  type="text" pInputText formControlName="englishName" class="form-control  leftaction" [LangRestrict]="'en'"  name="PID" id="PID" placeholder="{{'dashboard.Assessment.Write AssessmentName'|translate}}">
                            <div>
                                <div [hidden]="englishAssesmentName.valid || englishAssesmentName.untouched">
                                    <small *ngIf="englishAssesmentName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>

                                    <small *ngIf="englishAssesmentName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                              {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                              <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                                </div>

                            </div>


                        </div>
                        <div class="col-xs-2 col-lg-4">
                        <label class="label mb-5" for="precantage">{{'dashboard.Assessment.AssessmentStatus'|translate}} <span class="star">*</span></label>
                        <div class="d-flex switch">
                        <span class="text">{{'shared.activated'|translate}}</span>
                        <p-inputSwitch class=" mx-3"  formControlName="assesmentStatus" ></p-inputSwitch>
                        <span class="text px-2" *ngIf="!assesmentStatus.value">{{'shared.no'|translate}}</span>
                        <span class="text px-2" *ngIf="assesmentStatus.value">{{'shared.yes'|translate}}</span>
                        </div>
                        </div>
                    </div>
                    <div class="row gx-5 form-set form-set container-fluid">

                        <div class="col-xs-2 col-lg-4">

                            <label for="PID2" class="label">{{'dashboard.Assessment.Maximum Degree'|translate}} <span class="star">*</span></label>
                            <input    type="text" pInputText formControlName="max" [LangRestrict]="'numb'" class="form-control "  placeholder="{{'dashboard.Assessment.Write Maximum Degree'|translate}}" name="PID2" id="PID2">

                            <div [hidden]="maximumDegree.valid ||  maximumDegree.untouched">
                                <small *ngIf="maximumDegree.errors?.['required']" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>
                                <small *ngIf="maximumDegree.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'dashboard.Assessment.Degrees must be more than or equal Zero'|translate}}
                            <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                            </div>
                            <div>
                                <div *ngIf="assesmentFormGrp.errors?.['degreesWrong']&&!maximumDegree.errors?.['required']">

                                    <small *ngIf="assesmentFormGrp.errors?.['degreesWrong']" id="helpId3" class="form-text text-muted d-block " class="alert-danger" >
                                        {{'dashboard.Subjects.maximum degree Must More than minmumDegree'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                    </small>
                                 </div>
                            </div>




                        </div>
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID3" class="label">{{'dashboard.Assessment.Minmum Degree'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText  formControlName="min" [LangRestrict]="'numb'" class="form-control" placeholder="{{'dashboard.Assessment.Write Minmum Degree'|translate}}" name="PID3" id="PID3">

                            <div [hidden]="minmumDegree.valid || minmumDegree.untouched">
                                <small *ngIf="minmumDegree.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                                <small *ngIf="minmumDegree.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'dashboard.Assessment.Degrees must be more than or equal Zero'|translate}}
                            <fa-icon  [icon]="exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                        </small>

                            </div>
                            <div>

                                <div *ngIf="assesmentFormGrp.errors?.['degreesWrong']&&!minmumDegree.errors?.['required']">
                                    <small *ngIf="assesmentFormGrp.errors?.['degreesWrong']" id="helpId3" class="form-text text-muted d-block " class="alert-danger" >
                                        {{'dashboard.Subjects.minimum degree Must Less than maxmumDegree'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                    </small>

                                 </div>
                            </div>




                        </div>

                    </div>

                    <div class="mt-6 mb-5 gx-5 form-set container-fluid">
                        <b>{{'dashboard.Assessment.AssessmentTable'|translate}}</b>
                        <!-- <hr id="assessmentline"> -->
                    </div>

                    <div class="">
                        <ul class="subjects" formArrayName="rateScores">
                            <li class="pb-5" *ngFor="let subject of rateScores.controls; let i=index" [formGroupName]="i">
                                <div class="">
                                    <div class="row gx-5 form-set container-fluid mb-6">
                                        <div class="col-xs-2 col-lg-4">
                                            <label for="PID8" class="label">{{'dashboard.Assessment.Assessment'| translate}} <span class="star">*</span></label>
                                            <input type="text"  pInputText  formControlName="code" class="form-control " [placeholder]="'dashboard.Assessment.Select Assessment'| translate" name="PID7" id="PID7">
                                            <div *ngIf="rateScores.controls[i].get('code').errors?.required && rateScores.controls[i].get('code').touched">
                                                <small id="helpId" class="form-text text-muted d-block" class="alert-danger">
                                                  {{'shared.This Field is Required'|translate}}
                                                  <fa-icon [icon]="exclamationIcon" class="dangericon ms-1"></fa-icon>
                                              </small>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-lg-4">
                                            <label for="PID7" class="label">{{'dashboard.Assessment.Deserving Degrees'| translate}} <span class="star">*</span></label>
                                            <div class="p-inputgroup d-flex flex-row justify-content-center align-items-start">
                                                <div class="d-flex flex-column ">
                                                    <input type="text" pInputText formControlName="from" [LangRestrict]="'numb'" (ngModelChange)="checkRating(i)"  [ngClass]="!rateArray[i]&& rateScores.controls[i].get('to').touched&&!rateScores.controls[i].get('to').errors?.required?'dangererror':''" class="form-control"   placeholder="{{'dashboard.Assessment.From'| translate}}" name="PID7" id="PID7">
                                                    <div *ngIf="rateScores.controls[i].get('from').errors?.required && rateScores.controls[i].get('from').touched">
                                                        <small id="helpId" class="form-text text-muted d-block" class="alert-danger">
                                                          {{'shared.This Field is Required'|translate}}
                                                          <fa-icon [icon]="exclamationIcon" class="dangericon ms-1"></fa-icon>
                                                      </small>
                                                    </div>

                                                </div>
                                                <div class=" mx-2">
                                                    <input type="text" pInputText formControlName="to" [LangRestrict]="'numb'" [ngClass]="!rateArray[i]&& rateScores.controls[i].get('to').touched&&!rateScores.controls[i].get('to').errors?.required?'dangererror':''" (ngModelChange)="checkRating(i)" class="form-control"   placeholder="{{'dashboard.Assessment.To'| translate}}" name="PID7" id="PID7">
                                                    <div *ngIf="rateScores.controls[i].get('to').errors?.required && rateScores.controls[i].get('to').touched">
                                                        <small id="helpId" class="form-text text-muted d-block" class="alert-danger">
                                                          {{'shared.This Field is Required'|translate}}
                                                          <fa-icon [icon]="exclamationIcon" class="dangericon ms-1"></fa-icon>
                                                      </small>
                                                    </div>

                                                </div>
                                            </div>
                                            <div *ngIf="!rateArray[i]&& rateScores.controls[i].get('to').touched&&!rateScores.controls[i].get('to').errors?.required">
                                                <small id="helpId" class="form-text text-muted d-block" class="alert-danger">
                                                  {{'dashboard.Assessment.should be more than the minmum deserving degree'|translate}}
                                                  <fa-icon [icon]="exclamationIcon" class="dangericon ms-1"></fa-icon>
                                              </small>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-lg-4">

                                            <label for="PID8" class="label">{{'dashboard.Assessment.succeeded'| translate}}/{{'dashboard.Assessment.Try again'| translate}} <span class="star">*</span></label>
                                            <p-dropdown [options]="statusList" formControlName="isSuccess"  (onFocus)="rateScores.controls[i].get('isSuccess').markAsTouched()" (onBlur)="rateScores.controls[i].get('isSuccess').markAsUntouched()"  placeholder="{{'dashboard.Assessment.succeeded'| translate}}" name="PID8" id="PID8"
                                            [ngClass]="{'ng-invalid ng-dirty':rateScores.controls[i].get('isSuccess').errors?.required&& rateScores.controls[i].get('isSuccess').touched}"  optionLabel="key" ></p-dropdown>
                                            <div *ngIf="rateScores.controls[i].get('isSuccess').errors?.required && rateScores.controls[i].get('isSuccess').touched">
                                                <small id="helpId" class="form-text text-muted d-block" class="alert-danger">
                                                  {{'shared.This Field is Required'|translate}}
                                                  <fa-icon [icon]="exclamationIcon" class="dangericon ms-1"></fa-icon>
                                              </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3" (click)="addRateScores()">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                <span>{{'dashboard.Assessment.AddAssessment' |translate}}</span>
                            </div>
                        </ul>

                    </div>

                    <div class=" d-flex align-items-center justify-content-end ">
                        <div class="Btn-group d-flex gap-3">
                            <button type="submit" class="btn  btn-primary" [disabled]="assesmentFormGrp.invalid||isBtnLoading" (click)="save()">
                                {{'shared.save'|translate}}
                                <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                            </button>
                            <button  ><a routerLink="/educational-settings/assessments/assements-list" class="cancelbtn">{{'shared.cancel'|translate}}</a></button>
                        </div>
                  </div>

                </form>
            </div>

        </div>
    </div>

</div>
