@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../assets/css/components/forms.scss';
@import '../../../../../../assets/css/components/validation-form.scss';
@import 'src/assets/css/components/inputswitch';


.submitBtn{
    position: absolute;
    top: 15rem;
    left: 20rem;
}

textarea{
    height: 176px;
    overflow: hidden;
    border-radius: 2rem;
}
::ng-deep p-calendar{
    box-shadow: none !important;
}
.star {
    color: red;
    font-size: 1.5rem;
 }