
@import 'src/assets/css/utils/variables.scss';
.error{
    
  
    padding: 1.2rem;
      .errorimg{margin-right: 4rem;}
      .errormsg{margin-right: 5rem;}
    .closeicon{position: absolute;right:138rem;}
}