
@import 'src/assets/css/utils/variables.scss';
.error{
    
  justify-content: center;
    padding: 1.2rem;
      .errorimg{margin-right: 4rem;padding-bottom: 1rem;width: 1.5%;}
      .errormsg{margin-right: 5rem;font-weight: 400;font-size: 20px;}
    .closeicon{position: absolute;right:138rem;}
}