<div class="prim-table mt-4" *ngIf="students.totalAllData || students.loading">
    <p-table #dt [value]="students.list" (onSort)="onSort($event)" [lazy]="true"> 
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
            <app-table-caption
            [hasFilter]="false" 
            (onExport)="onExport($event)" 
            (onSearch)="this.filtration.Page=1;filtration.KeyWord = $event; checkStudentList()" 
            (onClear)="clearFilter()"
            ></app-table-caption>
        </ng-template>
        
        <ng-template pTemplate="header" let-columns="columns">
            <tr>
                <!-- <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
                <th pSortableColumn="actions"></th> -->
                <th pSortableColumn="studentNumber">{{'dashboard.schools.studentId'|translate}} <p-sortIcon field="studentNumber"></p-sortIcon></th>
                <th pSortableColumn="name">{{'dashboard.students.studentName'|translate}} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="surname">{{'dashboard.students.studentNickname'|translate}} <p-sortIcon field="surname"></p-sortIcon></th>
                <th pSortableColumn="track">{{'shared.track'|translate}} <p-sortIcon field="track"></p-sortIcon></th>
                <th pSortableColumn="nationalityId">{{'shared.personalId'|translate}}  <p-sortIcon field="nationalityId"></p-sortIcon></th>
                <th class="actions" *ngIf="isGradeHaveTracks"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student >
            <!-- [routerLink]="['student/', student.id]" class="clickable" -->
            <tr >
                <td>{{student.studentNumber}}</td>
                <td>{{student.name |currentLang}}</td>
                <td>{{student.surname |currentLang }}</td>
                <td>{{student.track?.name |currentLang}}</td>
                <td>{{student.nationalityId}}</td>
                <td *ngIf="isGradeHaveTracks">
                    <div class="d-flex align-items-center gap-4" (click)="openChangeTrackModel(student)">
                        <span class="color-skyBlue-400">تعديل مسار</span>
                        <img src="assets/images/shared/left-arrow.svg" alt="">
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="!students.total &&  !students.loading">
                        <app-informative-block subTitle="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>
                    
                    <app-loader></app-loader>
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div *ngIf="students.total  > paginationState.rows">
        <app-pagination [totalItems]="students.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
</div>

<ng-container *ngIf="!students.totalAllData && !students.loading">
    <app-informative-block title="{{'emptyList.students' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>



<!-- change Student track Dialog -->
<p-dialog header="{{'dashboard.schools.addStudentToSection'|translate}}" [(visible)]="changeTrackModelOpened" [modal]="true" [style]="{width: '35vw'}">
    <ng-template pTemplate="content">
        <form class="custom-form" [formGroup]="changeTrackForm">

            <div class="grid-container mb-4">
                <p class="color-gray-300 fs-4">{{ 'dashboard.schools.student'|translate }}</p>
                <span class="color-primary mb-2">{{selectedStudent.name |currentLang}}</span>
            </div>
        

            <div class="row form-set">
                <div class="col-md-12">
                    <label class="label" for="track">{{'shared.track'|translate}} </label>
                    <p-dropdown [options]=" divisionTracks$|async" formControlName="trackId" (ngModelChange)="onTrackInputChange($event)" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.chooseTrack'|translate}}"></p-dropdown>
                </div>
            </div>

            <div class="row gx-5 gy-4 form-set">
                <label class="label fw-bold" for="">{{'shared.optionalSubjects'|translate}}</label>
                
                <div class="col-md-6 d-flex align-items-center gap-4" *ngFor="let subject of optionalSubjects$ |async">
                    <p-checkbox  name="subjects" formControlName="optionalSubjects" [value]="subject.id" [(ngModel)]="selectedSubjects"></p-checkbox>
                    <label class="label label--sm" for=""> {{subject.name|currentLang}}</label>
                </div>
     
            </div>
            <div class="d-flex  align-items-center justify-content-end mt-5">
                <button class="btn btn-primary btn--sm" [disabled]="!changeTrackForm.valid" (click)="changeStudentTrack(changeTrackForm.value)">
                    <!-- <fa-icon class="icon" [icon]="faCheck"></fa-icon> -->
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </form>
    </ng-template>
</p-dialog>
