<ng-container *ngIf="!school">
    <div class="row g-5">
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>

</ng-container>

<div class="general" *ngIf="school">

    <!-- <h3 class="heading heading--tertiary mb-4"> {{ 'schools.SchoolLogo'|translate }}</h3> -->
    <div class=" row gx-5">
        <div class="col ">
            <app-file-upload (onFileUpload)="onLogoFileUpload($event)" [accept]="fileTypeEnum.Image" [imgUrl]="school?.schoolLogoPath" view="box" title="{{ 'schools.SchoolLogo'|translate }}" ></app-file-upload>

            <div class=" box image-wrapper w px-5 d-flex flex-column" >
              <fa-icon *ngIf="imgUrl" class="icon-close" [icon]="faXmark" (click)="schoolAttacments.logo=''"></fa-icon>
              <!-- <img *ngIf="!imgUrl" src="assets/images/shared/image.svg" alt=""> -->
              <img  [src]="schoolAttacments.logo |blobToBase64 |async" fullbackImage>
            </div>
        </div>


        <div class="col flex-grow-0">
            <p-divider layout="vertical"></p-divider>
        </div>


        <div class="col">
            <app-file-upload (onFileUpload)="onDiplomaFileUpload($event)" [accept]="fileTypeEnum.Image" [imgUrl]="school?.diplomaLogoPath" view="box" title="{{'schools.reliableLogo'|translate }}" ></app-file-upload>

            <div class=" box image-wrapper w px-5 d-flex flex-column" >
              <fa-icon *ngIf="imgUrl" class="icon-close" [icon]="faXmark" (click)="schoolAttacments.reliableLogo=''"></fa-icon>
              <!-- <img *ngIf="!imgUrl" src="assets/images/shared/image.svg" alt=""> -->
              <img  [src]="schoolAttacments.reliableLogo | blobToBase64 |async" fullbackImage>
            </div>
        </div>


        <div class="col flex-grow-0">
          <p-divider layout="vertical"></p-divider>
        </div>

        <div class="col">
          <app-file-upload (onFileUpload)="onCertificateLogoFileUpload($event)" [accept]="fileTypeEnum.Image"  view="box" title="{{'schools.certificateReliableLogo'|translate }}" ></app-file-upload>

          <div class=" box image-wrapper w px-5 d-flex flex-column" >
            <fa-icon *ngIf="imgUrl" class="icon-close" [icon]="faXmark" (click)="schoolAttacments.stampSchoolLogoPath=''"></fa-icon>
            <!-- <img *ngIf="!imgUrl" src="assets/images/shared/image.svg" alt=""> -->
            <img  [src]="schoolAttacments.stampSchoolLogoPath | blobToBase64 |async" fullbackImage>
          </div>
      </div>
    </div>


    <h4 class="heading heading--tertiary my-5">{{'schools.schoolInfo'|translate }}</h4>

    <div class="general__info row ">
        <div class="col-md-5  grid-container">
            <span class="paragraph paragraph--sm color-gray-300">{{'schools.enSchoolName'|translate }}</span>
            <p class="color-primary">{{school?.name.ar}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.arSchoolName'|translate }}</span>
            <p class="color-primary">{{school?.name.en}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolId'|translate }}</span>
            <p class="color-primary">{{school?.code}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolCategory'|translate }}</span>
            <p class="color-primary">{{school?.classification?.name |currentLang}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolEmail'|translate }} </span>
            <p class="color-primary">{{school?.email}}</p>

         <ng-container *ngIf="currentUserScope==userScope.Employee">
            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolGrades'|translate }} </span>

            <div  *ngIf="school?.schoolGradeNumbers">
                <a role="button"  (click)="showGrades(school.id)">
                  <span class="color-primary  text-decoration-underline fs-3">{{school?.schoolGradeNumbers}}</span>
                </a>
            </div>
            <p *ngIf="!school?.schoolGradeNumbers" class="color-primary">{{'shared.notFound' |translate}}</p>

        </ng-container>
        </div>
        <div class="col-md-4   grid-container">

            <!-- <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolType'|translate }}</span>
            <p class="color-primary">{{school?.type}}</p> -->

             <span class="paragraph paragraph--sm color-gray-300">{{'shared.activated'|translate }}</span>
             <p class="color-primary mx-5">
                 <span class="status" *ngIf="school?.status=='Active'" >{{'shared.yes'|translate}}</span>
                 <span class="status" *ngIf="school?.status!='Active'" >{{'shared.no'|translate}}</span>
              </p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolLicenceNumber'|translate }}</span>
            <p class="color-primary">{{school?.terkhisNumber}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.course'|translate }}</span>
            <p class="color-primary">{{school?.curriculum?.name |currentLang}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.schoolStudentNumber'|translate }}</span>
            <p class="color-primary">{{school?.studentCount}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.educationalInstitution'|translate }}</span>
            <p class=" color-primary">{{school?.educationalInstitution|translate}}</p>
        </div>

        <div class="col-md-3 grid-container" *ngIf="currentUserScope!=userScope.Employee">
            <span class="paragraph paragraph--sm color-gray-300">{{'schools.daleelNumber'|translate }}</span>
            <p class="color-primary">{{school?.daleelId}}</p>

            <span class="paragraph paragraph--sm color-gray-300">{{'schools.tamamNumber'|translate }}</span>
            <p class="color-primary">{{school?.tamamId}}</p>
        </div>

    </div>
</div>



<div class="py-6"></div>



<div class="row" *ngIf="currentUserScope==userScope.Employee">
    <h4 class="heading heading--tertiary mb-5">{{'schools.schoolLocation'|translate }}</h4>
    <div class="col-md-8 offset-1">
        <div class="row bg-gray-30 radius-15 p-4">
            <div class="col-md-7 ps-5 pe-0 ">
                <div class="map-container">

                    <div class="row map-container mb-2">
                        <!-- Google Map -->
                        <div id="map" class="map"></div>
                    </div>
                    <!-- <p class="paragraph mb-5 color-gray-400 fw-normal">الإحداثيات: 25.081622124 - 55.2164479587 </p> -->
                </div>
            </div>

            <div class="col-md-5 align-self-center grid-container bg-gray-30 radius-15 p-4">
                <span class="paragraph paragraph--sm color-gray-200">{{'schools.SchoolPhone'|translate }}</span>
                <p class="color-primary"> {{school?.number}}</p>

                <span class="paragraph paragraph--sm color-gray-200">{{'shared.state'|translate }}</span>
                <p class="color-primary">{{(school?.address?.state.name |currentLang) || 'الشارقه'}}</p>

                <span class="paragraph paragraph--sm color-gray-200">{{'shared.street'|translate }}</span>
                <p class="color-primary">{{(school?.address?.street.name |currentLang) || 'شارع الأنوار، مجمع النخيل'}}</p>

                <span class="paragraph paragraph--sm color-gray-200">{{'shared.city'|translate }}</span>
                <p class="color-primary"> {{(school?.address?.city?.name |currentLang) || 'ابو ظبى'}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 align-self-center">
        <div class="mb-5 pe-4">
            <!-- <img src="assets/images/shared/qrc.svg" alt=""> -->
            <!-- school?.address?.locationURL -->
            <!-- https://www.google.com/maps/place/25%C2%B004'53.8%22N+55%C2%B012'59.2%22E/@25.0816221,55.216448,17z/data=!4m4!3m3!8m2!3d25.0816221!4d55.216448 -->
            <qr-code [value]="school?.address?.locationURL ||location" size="160" errorCorrectionLevel="L"></qr-code>

        </div>
        <p class="paragraph paragraph--sm color-gray-800">المرجو قراءة الرمز من الهاتف للحصول على الاتجاهات في خريطة جوجل</p>

    </div>

</div>



<p-dialog header="{{'schools.SchoolGradesList'|translate}}" [draggable]="false" [resizable]="false" [modal]="true"  [(visible)]="displayGradesList" [style]="{width: '28vw'}">
    <div class="container">
        <div class="mb-5" >
                <div class="row" *ngIf="!showLoader">
                    <div *ngFor="let grade of gradesList;let i=index " class="col-lg-6">
                       {{i+1}}- {{grade.name|currentLang}}
                    </div>

                </div>

                <div class="row" *ngIf="showLoader">
                    <app-skeleton count="7"  height="2rem"></app-skeleton>

                </div>
        </div>

    </div>


   </p-dialog>
