@import '../../../../../../assets/css/utils/variables.scss';
@import'../../../../../../assets/css/components/input';
@import '../../../../../../assets/css/components/forms.scss';
@import '../../../../../../assets/css/components/validation-form.scss';
.subjects{
    textarea{
    height: 176px !important;
    overflow: hidden;
    border-radius: 2rem !important;
}
}


.content {
    width: 100%;
    overflow-x: hidden;
    padding: 3rem;
}
  

hr {
    width: 90%;
}
.submitBtn{
    position: absolute;
    top: 15rem;
    inset-inline-end: 15rem;
}

::ng-deep p-calendar{
    box-shadow: none !important;
}
.star {
    color: red;
    font-size: 1.5rem;
 }
