@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/breadcrumb';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/model';
@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms.scss';
@import 'src/assets/css/components/validation-form.scss';
.Btn-group{
    position: absolute;
    bottom:100% ;
    padding-bottom: 3%;


}
.files{
    position: absolute;
    bottom:100% ;
    padding-bottom: 3%;
}
::ng-deep{
    .file-hidden{
      app-file-upload{
        .image-uploader{
          .file-container{display: none;}
    }
    .full-file{
        .cancel{display: none;}
    }
   }
}
}
.cancel{

    background-color: $color-red-500;
    &:hover{
        background-color: #e77777;

    }
}
.custom-validation-form {
 &.basic{
    padding-bottom: 0rem;
 }
}

.sidebyside{
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    .col-lg-4{width: 31.3% ;}
}

.survey {
    &__content {
        padding: 4.5rem 3rem;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 2px 4px 32px 2px rgba(0, 0, 0, 0.07);
        width: 95%;
    }
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #F5F5F5;
    margin-right: 4px;
    background: #F5F5F5;
    padding: 0 5px;
    color: #337ab7;
    border-radius: 2px;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 4px 3px 8px;
    gap: 4px;
}

.Surveystatus {
    width: 81px;
    height: 30px;
    background: rgba(57, 192, 71, 0.1);
    border-radius: 15px;
    text-align: center;
}
.leftbtn {
    font-family: 'Droid';
    right: 70.9%;
    position: relative;
    bottom: 4.6rem;
    width: 18rem;
}

.rightbtn {
    width: 22rem;
    font-family: 'Droid';
    right: 80.9%;
    position: relative;
    bottom: 8.8rem;
    font-size: 18px;
}
.survey-details {
    &__content {
        padding: 5rem 3rem;
        background-color: #fff;
        width: 93%;
        min-height: 100vh;
        .row {
            margin-bottom: 6rem;
        }
    }
}

.p-datatable .p-datatable-tbody>tr {
    color: #004684 !important;
}

p-table .p-datatable-tbody tr td {
    background-color: #FAFAFA;
    color: #004684 !important;
    font-weight: 500;
}




.Surveystatus-close {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #D55891;
    background: #FAEBF2;
    padding: 2px 30px;
    border-radius: 15px;
}
.survey {
    &__content {
        padding: 4.5rem 3rem;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 2px 4px 32px 2px rgba(0, 0, 0, 0.07);
        width: 95%;
    }
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #F5F5F5;
    margin-right: 4px;
    background: #F5F5F5;
    padding: 0 5px;
    color: #337ab7;
    border-radius: 2px;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 4px 3px 8px;
    gap: 4px;
}

.Surveystatus {
    width: 81px;
    height: 30px;
    background: rgba(57, 192, 71, 0.1);
    border-radius: 15px;
    text-align: center;
}
.leftbtn {
    font-family: 'Droid';
    right: 70.9%;
    position: relative;
    bottom: 4.6rem;
    width: 18rem;
}

.rightbtn {
    width: 22rem;
    font-family: 'Droid';
    right: 80.9%;
    position: relative;
    bottom: 8.8rem;
    font-size: 18px;
}

.visible{display: block;}
.invisible{display: none;}

%model{
    position: absolute;
    top: 140%;
    inset-inline-end: 0;
    background-color: #fff;
    border-radius: 15px;
    transition: all .3s ease-out;
    box-shadow: 0 5px 2rem 1rem rgba(0, 0, 0, 0.08);
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    &.show {
        opacity: 1;
        visibility: visible;
        top: 117%;
    }
}
.export{
    position: relative;

    &__model{

        @extend %model;
        top: 140%;
        width: 10vw;
        padding: 0.5rem 2rem 1rem 1rem;

        p{color: $color-primary ;font-weight: 400;font-size: 1.5rem;}

    }
}
