<p-dialog [(visible)]="isOpen" (onHide)="onclose()" [modal]="true" [style]="{width: '48vw',height:'83vh', fontSize:'2rem'}">
  <ng-template pTemplate="header">
      <div class="">
          <div class="fw-bold fs-3">{{'schools.editHolidayReq' | translate}}</div>
          <div class="paragraph paragraph--sm color-gray-200 mt-2">
              يرجى تحديد تاريخ بداية الاجازة المرنة وتاريخ نهاية الاجازة المرنة بحيث لا تتجاوز عدد أيام العطلة عدد الأيام المحددة مُسبقاً من قبل هيئة الشارقة للتعليم الخاص
          </div>
      </div>
  </ng-template>
  <ng-template pTemplate="content">
      <app-workflow [steps]="[{ar:'موافقة الهيئة', en:'Spea Approval'}]"></app-workflow>

      <div class="details">

          <div class="custom-form">
              <form class="custom-form" *ngIf="editHolidayForm" [formGroup]="editHolidayForm">
                  <div class="row gx-5 form-set">
                      <div class="col-md-6">
                          <label class="label"  for="password">{{'shared.dateFrom' | translate}}</label>
                          <p-calendar formControlName="dateFrom" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="--/--/--"></p-calendar>
                      </div>

                      <div class="col-md-6">
                          <label class="label"  for="password">{{'shared.dateTo' | translate}}</label>
                          <p-calendar
                          [ngClass]="{'ng-invalid ng-dirty': holidayForm?.dateTo?.errors && holidayForm?.dateTo?.errors?.['not']}"
                          formControlName="dateTo"
                          [style]="{'font-size': '1.6rem'}" icon="pi pi-clock"
                          [showIcon]="true" placeholder="--/--/--"></p-calendar>

                          <div class="errors" *ngIf="holidayForm?.dateTo?.invalid && (holidayForm?.dateTo?.dirty)">
                              <div class="color-red-500" *ngIf="holidayForm?.dateTo?.errors?.['not']">تاريخ النهاية يجب أن يكون مساوي أو بعد تاريخ البداية</div>
                          </div>
                      </div>
                  </div>

                  <div class="row" >
                      <div class="col">
                          <label class="label">{{'shared.cause' | translate}}</label>
                          <textarea pInputTextarea formControlName="description" placeholder="{{'shared.cause' | translate}}" [required]="true"></textarea>
                      </div>
                  </div>
                  <div class="py-5"></div>

                  <div class="d-flex  align-items-center justify-content-end mt-6"  *ngIf="mode=='edit'" >
                      <button class="btn btn-primary btn--md" (click)="updateFlexableHoliday()" [disabled]="editHolidayForm.invalid || submitted">
                          <span>{{'shared.send'| translate}} </span>
                          <div class="spinner-border text-light" role="status" *ngIf="submitted"></div>
                      </button>
                  </div>

                  <div class="d-flex  align-items-center justify-content-end mt-6" *ngIf="mode=='correct'" >
                      <button class="btn btn-primary "
                      [disabled]="editHolidayForm.invalid || submitted"
                      *ngFor="let action of actions"
                      (click)="resendFlexabelHolidayReq(action.id)">

                          <div class="spinner-border text-light" role="status" *ngIf="submitted"></div>
                          <span>{{action.title | currentLang}}</span>
                          <!-- <span>{{'Requests.resendRegstrationRequest' | translate}}</span> -->

                      </button>
                  </div>

              </form>
          </div>
      </div>
  </ng-template>
</p-dialog>
