<div class="col-6 value late-1" class="tittle" *ngIf="!jobRole">
    <p-skeleton width="24rem" height="2rem" styleClass="mb-2"></p-skeleton>
</div>


<app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/manager-tools/user-roles/edit-role/'+urlParameter" [content]="'shared.edit'"></app-add-btn>

<div class="content border">

   <div class="container ">
                <div class="row mb-5">
                                <div class="col-3">

                                       <div class="row">
                                                <div class="col-5 label">{{'shared.Created Date'|translate}}</div>
                                                <div class="col-7 value late-1" *ngIf="jobRole" >{{jobRole?.createdDate| LocalizeDate}}</div>
                                                <div class="col-7 value late-1" *ngIf="!jobRole">
                                                    <p-skeleton width="11.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                       </div>
                                
                                </div>
                                <div class="col-4">

                                    <div class="row">
                                                <div class="col-6 label">{{'dashboard.UserRole.created by'|translate}}</div>
                                                <div class="col-6 value username " *ngIf="jobRole">{{jobRole?.creatorName}}</div>
                                                <div class="col-6 value username" *ngIf="!jobRole">
                                                    <p-skeleton width="17.8rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                    </div>
                             
                               </div>                       
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-5 label">{{'dashboard.UserRole.Job Role Status'|translate}}</div>
                                        <div class="col-7 value switch" *ngIf="jobRole?.status&&jobRole">
                                           {{'shared.activated'|translate}}
                                            <p-inputSwitch readonly="true" [(ngModel)]="notCheckedStatus"></p-inputSwitch>
                                            {{'shared.yes'|translate}}
                                        </div>
                                        <div class="col-7 value switch" *ngIf="!jobRole?.status&&jobRole">
                                            {{'shared.activated'|translate}}
                                             <p-inputSwitch readonly="true" [(ngModel)]="checkedStatus"></p-inputSwitch>
                                             {{'shared.no'|translate}}
                                         </div>
                                         <div class="col-7 value switch" *ngIf="!jobRole">
                                            <p-skeleton width="12.2rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                        </div>
                                          
                                     </div>

                               </div>


                           
                </div>
                
                    <div class="row">
                                <div class="col-7">

                                    <div class="row mb-5">
                                            <div class="col-2 label" >{{'dashboard.UserRole.Job Role Description'|translate}}</div>
                                            <div class="col-10 value late-2" *ngIf="jobRole">{{jobRole?.description.ar|translate}}</div>
                                            <div class="col-10 value late-2" *ngIf="!jobRole">
                                                <p-skeleton width="49.2rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                            </div>
                                    </div>
                            
                                </div>
                                <div class="col-5">

                                    <div class="col-12 label mb-3">{{'dashboard.UserRole.RolePowers assigned to Role'|translate}}</div>
                                    <div class="col-5" >
                                       <div class="contain" [ngClass]="jobRole?.rolePowers.length>5?'scroll':''" *ngIf="jobRole">
                                            <div  *ngFor="let item of jobRole?.rolePowers" >
                                                        <div class="row value mb-4" >  
                                                            <span class="items" > {{item.name.ar|translate}}</span> 
                                                            
                                                        </div> 
                                                    </div>
                                            </div>
                                            <div class="row value mb-4" *ngIf="!jobRole" >
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                            </div>
                                    </div> 
                            
                                </div>
                              

                    </div>
                   
                    <div  >
                                <div class="row information">
                                    <div class="col-5">

                                        <div class="row" >
                                                <div class="col-4 label ">{{'dashboard.UserRole.RestrictedInformation assigned to Role'|translate}}</div>
                                                 <div class="col-8 value" *ngIf="jobRole&&roleRestrictionLevel">{{roleRestrictionLevel|translate}}</div>
                                                 <div class="col-8 value" *ngIf="jobRole&&!roleRestrictionLevel">-</div>
                                                 <div class="col-8 value" *ngIf="!jobRole" > 
                                                    <p-skeleton width="48.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                        </div>
                                
                                    </div>

                                </div>
                 
                    </div> 


  </div>
</div>

