
@import 'src/assets/css/utils/variables.scss';
.content{
    width: 100%;
    box-shadow:  0rem 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.06);
    border: #E9E9E9 solid 2px;
    border-radius: 12px;
    padding-top: 4rem;
    padding-bottom: 9rem;
    padding-right: 4rem;
    .label{
        font-weight: 400;
        color:$color-gray-300;
    }
    
    .value{
        font-weight: 400;
        color:$color-primary;
        &.late{
            &-2{padding-right: 2.2rem;}
            &-1{padding-right: 1rem;}
          }
       }
    .information{
        position: relative;
        bottom: 9rem;
    }
}