<div class="col-6 value late-1" class="tittle" *ngIf="showLoader">
    <p-skeleton width="24rem" height="2rem" styleClass="mb-2"></p-skeleton>
</div>


<app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/manager-tools/user-roles/edit-role/'+urlParameter" [content]="'shared.edit'"></app-add-btn>

<div class="content border">

   <div class="container ">
                <div class="row mb-5">
                                <div class="col-3">

                                       <div class="row">
                                                <div class="col-5 label">{{'shared.Created Date'|translate}}</div>
                                                <div class="col-6 value late-1" *ngIf="!showLoader" >{{jobRole.createdDate|date:'dd/mm/yyyy'|translate}}</div>
                                                <div class="col-6 value late-1" *ngIf="showLoader">
                                                    <p-skeleton width="11.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                       </div>
                                
                                </div>
                                <div class="col-4">

                                    <div class="row">
                                                <div class="col-6 label">{{'dashboard.UserRole.created by'|translate}}</div>
                                                <div class="col-6 value username " *ngIf="!showLoader">{{jobRole.creatorName|translate}}</div>
                                                <div class="col-6 value username" *ngIf="showLoader">
                                                    <p-skeleton width="17.8rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                    </div>
                             
                               </div>                       
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-5 label">{{'dashboard.UserRole.Job Role Status'|translate}}</div>
                                        <div class="col-7 value switch" *ngIf="jobRole.status&&!showLoader">
                                           {{'shared.activated'|translate}}
                                            <p-inputSwitch readonly="true" [(ngModel)]="notCheckedStatus"></p-inputSwitch>
                                            {{'shared.yes'|translate}}
                                        </div>
                                        <div class="col-7 value switch" *ngIf="!jobRole.status&&!showLoader">
                                            {{'shared.activated'|translate}}
                                             <p-inputSwitch readonly="true" [(ngModel)]="checkedStatus"></p-inputSwitch>
                                             {{'shared.no'|translate}}
                                         </div>
                                         <div class="col-7 value switch" *ngIf="showLoader">
                                            <p-skeleton width="12.2rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                        </div>
                                          
                                     </div>

                               </div>


                           
                </div>
                
                    <div class="row">
                                <div class="col-7">

                                    <div class="row mb-5">
                                            <div class="col-2 label" >{{'dashboard.UserRole.Job Role Description'|translate}}</div>
                                            <div class="col-10 value late-2" *ngIf="!showLoader">{{jobRole.description.ar|translate}}</div>
                                            <div class="col-10 value late-2" *ngIf="showLoader">
                                                <p-skeleton width="49.2rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                            </div>
                                    </div>
                            
                                </div>
                                <div class="col-5">

                                    <div class="col-12 label mb-3">{{'dashboard.UserRole.RolePowers assigned to Role'|translate}}</div>
                                    <div class="col-5">
                                            <ng-container  *ngFor="let item of jobRole.rolePowers" >
                                                        <div class="row value mb-4" >  
                                                            <span class="items" *ngIf="!showLoader"> {{item.name.ar|translate}}</span> 
                                                            
                                                        </div> 
                                            </ng-container>

                                            <div class="row value mb-4" *ngIf="showLoader" >
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                <p-skeleton width="28rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                            </div>
                                    </div> 
                            
                                </div>
                              

                    </div>
                   
                    <div class="information">
                                <div class="row">
                                    <div class="col-5">

                                        <div class="row">
                                                <div class="col-4 label ">{{'dashboard.UserRole.RestrictedInformation assigned to Role'|translate}}</div>
                                                 <div class="col-8 value" *ngIf="!showLoader&&roleRestrictionLevel">{{roleRestrictionLevel|translate}}</div>
                                                 <div class="col-8 value" *ngIf="!showLoader&&!roleRestrictionLevel">-</div>
                                                 <div class="col-8 value" *ngIf="showLoader" > 
                                                    <p-skeleton width="48.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
                                                </div>
                                        </div>
                                
                                    </div>

                                </div>
                 
                    </div> 


  </div>
</div>

