<div class="col-6 value late-1" class="tittle" *ngIf="!jobRole&&!noDetails">
    <p-skeleton width="24rem" height="2rem" styleClass="mb-2"></p-skeleton>
</div>

<ng-container *permit="ClaimsEnum.S_U_Role">
                            <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/manager-tools/user-roles/edit-role/'+urlParameter" [content]="'shared.edit'"></app-add-btn>
</ng-container>
<div class="content border">

   <div class="container ">
                <ng-container *ngIf="!jobRole">
                    <div class="row g-5">
                            <ng-container *ngIf="noDetails">
                              <app-informative-block title="{{'emptyList.no Details' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                            </ng-container>
                            <ng-container *ngIf="!noDetails">
                               <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                            </ng-container>
                    </div>
                
                </ng-container>
                <div class="row mb-5" *ngIf="jobRole">
                                <div class="col-3">

                                       <div class="row">
                                                <div class="col-5 label">{{'shared.Created Date'|translate}}</div>
                                                <div class="col-7 value late-1" *ngIf="jobRole" >{{jobRole?.createdDate| LocalizeDate}}</div>
                                                
                                       </div>
                                
                                </div>
                                <div class="col-4">

                                    <div class="row">
                                                <div class="col-6 label">{{'dashboard.UserRole.created by'|translate}}</div>
                                                <div class="col-6 value username " *ngIf="jobRole">{{jobRole?.creatorName}}</div>
                                              
                                    </div>
                             
                               </div>                       
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-5 label">{{'dashboard.UserRole.Job Role Status'|translate}}</div>
                                        <div class="col-7 value switch" *ngIf="jobRole?.status&&jobRole">
                                           {{'shared.activated'|translate}}
                                            <p-inputSwitch readonly="true" [(ngModel)]="notCheckedStatus"></p-inputSwitch>
                                            {{'shared.yes'|translate}}
                                        </div>
                                        <div class="col-7 value switch" *ngIf="!jobRole?.status&&jobRole">
                                            {{'shared.activated'|translate}}
                                             <p-inputSwitch readonly="true" [(ngModel)]="checkedStatus"></p-inputSwitch>
                                             {{'shared.no'|translate}}
                                         </div>
                                       
                                          
                                     </div>

                               </div>


                           
                </div>
                
                    <div class="row mb-5 mt-5" *ngIf="jobRole">
                               
                                <div class="col-7">
                                    <div class="row">
                                            <div class="col-4 label  mt-5">{{'dashboard.UserRole.RestrictedInformation assigned to Role'|translate}}</div>
                                            <div class="col-7 value  mt-5" *ngIf="jobRole&&roleRestrictionLevel">{{roleRestrictionLevel|translate}}</div>
                                            <div class="col-7 value  mt-5" *ngIf="jobRole&&!roleRestrictionLevel">-</div>
                                   </div>
                                </div>
                                <div class="col-5 ">
                                    <div class="row">
                                            <div class="col-4 label  mt-5 " >{{'dashboard.UserRole.Job Role Description'|translate}}</div>
                                            <div class="col-8 value  mt-5" *ngIf="jobRole">{{jobRole?.description|currentLang}}</div>
                               
                                        </div>
                                </div>

                    </div>

                    <hr class="my-6">
                    <div class="row mb-5 " *ngIf="jobRole" >
                      
                            <div class="fw-bold color-black">{{'dashboard.UserRole.RolePowers assigned to Role'|translate}}</div>
                            
                            
                               <div class="contain row mt-5" [ngClass]="jobRole?.rolePowers.length>5?'scroll':''" *ngIf="jobRole">
                                    <div  *ngFor="let item of jobRole?.rolePowers;let i=index" class="col-4" >
                                                <div class=" value mb-4" >  
                                                    <span class="items" >{{i+1}} - {{item.name|currentLang}}</span> 
                                                    
                                                </div> 
                                            </div>
                              </div>
                                
                          

                      
         
               </div> 


  </div>
</div>

