<!-- forget Password -->
<p-dialog styleClass="forgetpassword" header="{{tittle}}" [baseZIndex]="10000" (onHide)="closeModel()"  [resizable]="false" [(visible)]="openForgetModel"  [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">
        <ng-container *ngIf="step==1">
         <div class="sign up">
            <div class="  custom-form custom-validation-form pb-1" >
                <form  [formGroup]="resetPasswordFormGrp" >
                            <div class="row gx-5 form-set">
                                <div class="col-md-12">
                                    <label for="email" class="label">{{'login.Email or MobileNumber'|translate}}</label>
                                    <input type="text" pInputText formControlName="resetPasswordWay" [LangRestrict]="'en'" (ngModelChange)="checkValidators($event)"  class="form-control " placeholder="{{'login.Write Email or MobileNumber'|translate}}"  name="email"  id="email"> 
                                
                                    <div [hidden]=" resetPasswordWay.valid || resetPasswordWay.untouched" class="passerror">
                                        <small *ngIf="resetPasswordWay?.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                            {{'shared.This Field is Required'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    
                                        <small *ngIf="resetPasswordWay?.errors?.['pattern']&&isEmail" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Must be Valid Email'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                        <small *ngIf="resetPasswordWay?.errors?.['pattern']&&!isEmail" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Mobile Must Start With 05 and Contain 10 Numbers Only'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                    
                                 </div>
                            </div>
                            
                            <button class=" btn btn-primary forgetpassword " (click)="forgetPassword()" [disabled]="resetPasswordFormGrp.invalid">
                                <span>{{'login.change password'| translate}} </span>
                            </button>
                        
                   </form>
               </div>
        </div>
      </ng-container>
      <ng-container *ngIf="step==2">
        <div class="mt-2 mb-5 link">{{'login.we send link to your account'|translate}}</div>
        <div >
            <div class="emailimg ">
                 <img src="assets/images/shared/email.svg"/>
            </div>
           <div class="check">{{'login.Pleaze check your account'|translate}}</div>
       </div>
        </ng-container>
    </ng-template>


    <ng-template pTemplate="footer">
      
        
    
      </ng-template>
   
</p-dialog>



<p-dialog styleClass="forgetpassword" header="{{'login.Reset new password'|translate}}" [baseZIndex]="10000"   [resizable]="false" [(visible)]="openResetModel"  [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">
       
         <div class="sign up">
            <div class=" mt-5 custom-form custom-validation-form pb-1" >
                <form  [formGroup]="changePasswordFormGrp" >
                            <div class="row gx-5 form-set">
                                <div class=" col-md-12">
                                    <label for="PID6" class="label">{{'login.new password'| translate}}</label>
                                
                                    <p-password iconPos="left" [LangRestrict]="'en'" formControlName="newPassword"   [ngClass]="{'ng-invalid ng-dirty':newPassword.errors?.required&& newPassword.touched||newPassword.errors?.pattern && newPassword.touched}" [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'login.write new password'| translate}}"></p-password> 
                                    <div [hidden]="newPassword.valid || newPassword.untouched" class="passerror">
                                        <small *ngIf="newPassword.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                        {{'shared.This Field is Required'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    
                                        <small *ngIf="newPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                            
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                  </div>
                            </div>
                            <div class="row gx-5 form-set">
                                  <div class=" col-md-12">
                                    <label for="PID6" class="label">{{'login.confirmed new password'| translate}}</label>
                                
                                    <p-password iconPos="left"  [LangRestrict]="'en'"     [ngClass]="{'ng-invalid ng-dirty':confirmedNewPassword.errors?.required && confirmedNewPassword.touched || confirmedNewPassword.errors?.pattern && confirmedNewPassword.touched || changePasswordFormGrp.errors?.matching && confirmedNewPassword.touched}" formControlName="confirmedNewPassword"  [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'login.confirmed new password'| translate}}"></p-password> 
                                    <div [hidden]="confirmedNewPassword.valid || confirmedNewPassword.untouched" class="passerror">
                                        <small *ngIf="confirmedNewPassword.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                        {{'shared.This Field is Required'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    
                                        <small *ngIf="confirmedNewPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                            
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                    </div>
                                    <small *ngIf="changePasswordFormGrp.errors?.['matching'] && confirmedNewPassword.touched && !confirmedNewPassword.errors?.['required'] && newPassword.valid && !confirmedNewPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                        {{'shared.Confirm Password Must Match Password'|translate}}
                                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                         </small>
                                  </div>
                            </div>

                            <button class=" btn btn-primary forgetpassword " (click)="ResetPassword()" [disabled]="changePasswordFormGrp.invalid">
                                <span>{{'login.change password'| translate}} </span>
                            </button>
                   </form>
               </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
      
        
    
      </ng-template>
   
</p-dialog>
