@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms.scss';
@import 'src/assets/css/components/validation-form.scss';


::ng-deep{
    .p-dialog{
        .custom-validation-form{small{font-size: 1.4rem !important;}}
       border: none;
       .p-dialog-header {
        .p-dialog-title{
         font-size: 2rem;
         font-weight: 700;
         color: $color-primary;
        }
      }
      .forgetpassword{width:51.8rem;height: 57px;}
      .link{font-size: 1.8rem;}
      .emailimg{margin-inline-start: 19rem;}
      .check{ font-size: 2rem;
        font-weight: 700;
        color: $color-primary;
        margin-inline-start: 9.5rem;
    }
    }
}