@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms.scss';


:host{
    position: relative;
}

.actions{
    position: absolute;
    top: -45rem;
    inset-inline-end: 4rem;
}

.notes {
    position: absolute;
    width: 1207px;
    height: 122px;
    // left: 124px;
    top: 771px;
    background: #F8FAFB;
    padding: 1.5rem;
    border-radius: 0px 0px 15px 15px;
}


.diet-discription {
    // position: absolute;
    // width: 90%;
    &.p-inputtext {
        height: 17rem !important;
    }
}


