<!-- <div class="layout ">


    <div class="content-container">

      <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>
      <div class="mt-3 ">

        <app-page-header></app-page-header>
        <div class="" id="routeroutlet" [@routeSlide]="prepareRoute(outlet)">
            <div class="position-relative">

                <router-outlet #outlet="outlet" ></router-outlet>

            </div>
        </div>
      </div>
    </div>
</div> -->

<img class="top" src="assets/images/pattern-top.svg" alt="">
<img class="side-left" src="assets/images/bg-shap.svg" alt="">
<img class="side-right" src="assets/images/Frame2.svg" alt="">

<!-- <img class="top" src="assets/images/spea-logo-1.png" alt=""> -->
<!-- <img class="side-left" src="assets/images/spea-logo-1.svg" alt="">
<img class="side-right" src="assets/images/spea-logo-2.svg" alt=""> -->


<app-navbar></app-navbar>

<div class="layout wrapper">
  <div class="layout__content  d-flex">

      <div class="layout__navigator py-5 px-4">
          <app-side-navigator></app-side-navigator>
      </div>

      <div class="layout__loaded-conponent" [class.w-90]="currentUserScope==scopeEnum.Guardian">

        <app-page-header></app-page-header>
        <div class="" id="routeroutlet " [@routeSlide]="prepareRoute(outlet)">
          <div class="position-relative">
                <router-outlet #outlet="outlet" (activate)="onActive($event, outlet)"></router-outlet>
            </div>
        </div>

      </div>


  </div>
</div>
