.top{
  top: 8rem;
    position: absolute;
    width: 100%;
    object-fit: cover;
      z-index: -1;
}
.side-left{
  top: 26rem;
  inset-inline-end: 0;
  position: fixed;
  z-index: -1;
}
.side-right{
  top: 35rem;
  inset-inline-start: 0;
  position: fixed;
  z-index: -1;
}


// .top-list {
//   top: -12rem;
//   inset-inline-start: 0;
//   position: fixed;
//   z-index: -1;
//   width: 100%;
//   opacity: .4;
//   img{
//     width: 15%;
//     display: inline-block;
//     // flex-grow: 1;
//   }
// }
// .side-left{
//   bottom: -10rem;
//   inset-inline-end: 0;
//   position: fixed;
//   z-index: -1;
//   width: 15%;
//   opacity: .4;
// }
// .side-right{
//   top: 30rem;
//   inset-inline-start: 0;
//   position: fixed;
//   z-index: -1;
//   width: 15%;
//   opacity: .4;
// }


.bg {

  // width: 25%;
  // width: 100%;

  // img {
  //     width: 100%;
  //     object-fit: cover;
  // }
}

.layout {
  &__content {
      margin-top: 10rem;
      // margin-inline-end: 13rem;
  }
  &__loaded-conponent {
      padding: 1.5rem 0 7rem;
      width: 88%;
  }
  &__navigator{
       ::ng-deep app-side-navigator {
          .panal__list {
              // padding: 7px 1.1rem;
          }
      }
  }
}

.w-90{
  width: 92%;
}

