:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mat-drawer {
    width: 290px;

}

mat-drawer-container {
    height: 100%;
    
    &.mat-drawer-container{
        background-color: #fff;
    }
}

mat-drawer {
    background: #fff;
    box-shadow: -4px 0px 24px 0px #00000014;

    &.mat-drawer-side{z-index: 1;}
}




.layout{
    display: grid;
    grid-template-columns: 18% 82%;
    justify-content: stretch;

    .sideBar-container{
        position: relative;

    }

    .content-container{
        background-color: #fff;

        &.dark{
            background-color: #FAFAFA;
        }
        
        #routeroutlet {
            padding: 4rem 2rem 4rem 10rem;;
        }
    }
}