@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/forms';

.student{

    .submit-btn {
        position: relative;
        top: -8rem;
        left: 0;
        inset-inline-end: 0;
    }


    &__content{
        padding: 4rem 3rem;
        min-height: 80vh;
    }
}