<p class="head-title">{{'Delete Student From School'|translate}}<span>({{routeSub}})</span></p>
<!-- -----BreadCrumb-- -->
<div class="custom-breadcrumb test my-4">
    <ul class="d-flex align-items-center">
        <li>
            <fa-icon class="p-0" [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </li>
        <li>
            <p>{{'Students List' | translate}}</p>
        </li>
        <li>
            <fa-icon [icon]="faAngleLeft"></fa-icon>
            <p> {{'Removing the student from the exam' | translate}}</p>
        </li>
    </ul>
</div>
<!-- -------------- -->
<div class="buttons">
    <button class="back-btn">
        <img src="assets/images/back.svg" alt="">
    </button>
    <button class="form-save">
        {{'Send'| translate}}
    </button>
</div>

<!-- ---------------- -->

<div class="whole-form">
    <form class="forms">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Main reason for deletion'| translate}}
                    </label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> {{'Choose Main reason for deletion' | translate}}</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 files-upload">
                <h5>{{'Attach a file' | translate}}<span class="test">( {{'Optional'| translate}} )</span></h5>
                <app-file-upload></app-file-upload>
            </div>
        </div>
    </form>

</div>