
<ng-container *ngIf="!events">
    <div class="row g-5">
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-3">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="events">
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary btn--md mb-5" (click)="openAddClassModel()">
            <span>{{'dashboard.schools.addClass'|translate}} </span>
            <fa-icon class="icon" [icon]="faPlus"></fa-icon>
        </button>
    </div>
    <app-calender [events]="events" [showActions]="true" (onDelete)="confirmModelService.openModel(); eventIdToDelete=$event.lectureId" (onEdit)="onEventEdited($event)"></app-calender>
</ng-container>



<p-dialog header="{{mode=='add'? ('dashboard.schools.addClass' |translate) : ('dashboard.schools.editLecture' |translate)}}" (onHide)="resetForm()" [(visible)]="addClassModelOpened" [draggable]="false" [modal]="true" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">
        <form class="custom-form" [formGroup]="sessionTimeForm">

            <div class="row form-set">
                <div class="col">
                    <label class="label" for="day">{{'shared.day'|translate}} </label>
                    <p-dropdown [options]="getSchoolYearWorkingDays$|async" formControlName="day" optionValue="day"  optionLabel="name" placeholder="{{'shared.chooseDay' |translate}}"></p-dropdown>
                </div>
            </div>

            <div class="row gx-5 form-set">

                <div class="col-md-6">
                    <label *ngIf="mode=='add'"  class="label" for="classTime">{{'dashboard.schools.classStartTime'|translate}}</label>
                    <label *ngIf="mode=='edit'" class="label" for="classTime">{{'dashboard.schools.newClassStartTime'|translate}}</label>
                    <p-calendar 
                    formControlName="startTime" 
                    [timeOnly]="true"   
                    icon="pi pi-clock" 
                    [showIcon]="true" 
                    name="startTime" 
                    placeholder="15:30 PM - 17:00PM"></p-calendar>
                </div>

                <div class="col-md-6">
                    <label *ngIf="mode=='add'" class="label" for="classTime">{{'dashboard.schools.classEndTime'|translate}}</label>
                    <label *ngIf="mode=='edit'"  class="label" for="classTime">{{'dashboard.schools.newClassEndTime'|translate}}</label>
                    <p-calendar 
                    [ngClass]="{'ng-invalid ng-dirty': sessionFormCtr.endTime.errors && (sessionFormCtr.endTime.errors?.['not'] || sessionFormCtr.endTime.errors?.['outRang']) }" 
                    formControlName="endTime" 
                    [timeOnly]="true" 
                    icon="pi pi-clock" 
                    [showIcon]="true" 
                    name="endTime" 
                    placeholder="15:30 PM - 17:00PM" ></p-calendar>

                    <div class="errors" *ngIf="sessionFormCtr.endTime.invalid && (sessionFormCtr.endTime.dirty)">
                        <div class="color-red-500" *ngIf="sessionFormCtr.endTime.errors?.['not']">يجب ان يكون وقت نهايه الحصه بعد وقت البدايه</div>
                        <div class="color-red-500" *ngIf="sessionFormCtr.endTime.errors?.['outRang']">خارج ساعات العمل المحدده</div>
                    </div>
                </div>
            </div>

            <div class="d-flex  align-items-center justify-content-end mt-6 gap-4">
                <span *ngIf="mode=='edit'" role="button" class="color-red-500 text-decoration-underline" [ngClass]="small?'sm':''" (click)="addClassModelOpened=false">{{'shared.cancel'|translate}}</span>

                <button class="btn btn-primary btn--sm" (click)="prepareEventStep($event)" [disabled]="sessionTimeForm.invalid || isSubmitted">
                    <div class="spinner-border text-light" role="status" *ngIf="isSubmitted"></div>
                    <span>{{'shared.save'| translate}} </span>
                </button>
            </div>
        </form>
    </ng-template>
</p-dialog>