@import '../../../../assets/css/utils/variables.scss';
@import '../../../../assets/css/components/forms.scss';
@import '../../../../assets/css/components/profile';


.container{
    padding-top: 15rem;
}

.gx-6{
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 4rem;
}