<div  style="overflow-x: hidden;">
    
    <div class="d-flex ">
   
    <div id="content" >
        <div class="actions d-flex align-items-center gap-3 mb-5 mt-3">
            <app-back [route]="'/dashboard/educational-settings/subject/subjects-list'"></app-back>
            <button class="btn btn-primary btn--sm">
                <fa-icon class="icon" [icon]="checkIcon"></fa-icon>
                <span routerLink=''>{{'shared.save'| translate}} </span>
            </button>
          </div>
    
  
      
          <div class="container mt-5 custom-form custom-validation-form" style="margin-bottom: 20rem;">
              <form [formGroup]="subjectFormGrp" class="container-fluid  ">
                  <div class="row gx-4 form-set">
                      <div class="col-xs-2 col-lg-4">
                          <label for="PID" class="label"><b>{{'dashboard.Subjects.Subject Name in Arabic'|translate}}</b></label>
                          <input type="text" pInputText formControlName="subjectNameInArabic" (ngModelChange)="checkUniqueSubjectNameInArabic($event)" class="form-control basicinput" appValidatorsInput  placeholder="{{'dashboard.Subjects.Subject Name in Arabic'|translate}}" name="PID" id="PID"> 
                          <div>
                            <div [hidden]="subjectNameInArabic.valid || subjectNameInArabic.untouched">
                                <small *ngIf="subjectNameInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="subjectNameInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                              
                             </div>
                             <small *ngIf="isSubjectNotUnique && !subjectNameInArabic.errors?.['maxlength'] && !subjectNameInArabic.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Subjects.Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                            </div>
                      </div>
                      <div class="col-xs-2 col-lg-4">
                         
                          <label for="PID2" class="label"><b>{{'dashboard.Subjects.Subject Name in English'|translate}}</b></label>
                          <input type="text" pInputText formControlName="subjectNameInEnglish" (ngModelChange)="checkUniqueSubjectNameInEnglish($event)" class="form-control basicinput" appValidatorsInput placeholder="{{'dashboard.Subjects.Subject Name in English'|translate}}" name="PID2" id="PID2"> 
                          <div>
                            <div [hidden]="subjectNameInEnglish.valid || subjectNameInEnglish.untouched">
                                <small *ngIf="subjectNameInEnglish.errors?.['required']"   class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="subjectNameInEnglish.errors?.['maxlength']" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                          
                             </div>
                             <small *ngIf="isSubjectNotUnique && !subjectNameInEnglish.errors?.['maxlength'] && !subjectNameInEnglish.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Subjects.Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                            </div>
                         
                      </div>
                      <div class="col-xs-2 col-lg-4">
                        
                        <label for="PID3" class="label"><b>{{'dashboard.Subjects.Name in results screen in Arabic'|translate}}</b></label>
                        <input type="text" pInputText formControlName="nameInResultsScreenInArabic" (ngModelChange)="checkUniqueNameInResultsScreenInArabic($event)" class="form-control basicinput" appValidatorsInput placeholder="{{'dashboard.Subjects.Name in results screen in Arabic'|translate}}"  name="PID3" id="PID3"> 
                        <div>
                            <div [hidden]="nameInResultsScreenInArabic.valid || nameInResultsScreenInArabic.untouched">
                                <small *ngIf="nameInResultsScreenInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="nameInResultsScreenInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                             <small *ngIf="isSubjectNotUnique && !nameInResultsScreenInArabic.errors?.['maxlength'] && !nameInResultsScreenInArabic.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Subjects.Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                        </div>
                       
                    </div>
                  </div>
                  <div class=" row gx-4 form-set">
                    <div class="col-xs-2 col-lg-4"  >
                       
                        <label for="PID4"  class="label"><b>{{'dashboard.Subjects.Name in results screen in English'|translate}}</b></label>
                        <input type="text" pInputText formControlName="nameInResultsScreenInEnglish" (ngModelChange)="checkUniqueNameInResultsScreenInEnglish($event)" class="form-control basicinput" appValidatorsInput placeholder="{{'dashboard.Subjects.Name in results screen in English'|translate}}"  name="PID4" id="PID4"> 
                        <div>
                            <div [hidden]="nameInResultsScreenInEnglish.valid || nameInResultsScreenInEnglish.untouched">
                                <small *ngIf="nameInResultsScreenInEnglish.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="nameInResultsScreenInEnglish.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                             <small *ngIf="isSubjectNotUnique && !nameInResultsScreenInEnglish.errors?.['maxlength'] && !nameInResultsScreenInEnglish.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'dashboard.Subjects.Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                        </div>
                       
                    </div>
                    <div class="col-xs-2 col-lg-4">
                         
                        <label for="PID5" class="label"><b>{{'dashboard.Subjects.Subject Hours'|translate}}</b></label>
                        <p-inputNumber formControlName="subjectHours"  mode="decimal" [showButtons]="true" name="PID5" id="PID5" class="form-control" appValidation inputId="minmax-buttons"  [min]="0"  ></p-inputNumber>
                        <div>
                            <div [hidden]="subjectHours.valid || subjectHours.untouched">
                                <small *ngIf="subjectHours.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="subjectHours.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'dashboard.Subjects.Hours must be more than or equal 1 hour'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                                
                        </div>
                        
                    </div>
                    <div class="col-xs-2 col-lg-4">
                        
                        <label  for="minmax-buttons" class="label"><b >{{'dashboard.Subjects.Number Of Sessions Per Week'| translate}}</b></label>
                        <p-inputNumber formControlName="numberOfSessionsPerWeek"  mode="decimal" [showButtons]="true" name="PID6" id="PID6" class="form-control" appValidation inputId="minmax-buttons"  [min]="0"  ></p-inputNumber>
                 
                    </div>
                </div>
                <div class=" row gx-4 form-set ">
                    <div class="col-xs-2 col-lg-4">
                         
                        <label for="PID7" class="label"><b> {{'dashboard.Subjects.GPA'| translate}}</b></label>
                        <input type="text" pInputText formControlName="gpa"  class="form-control basicinput" appValidatorsInput placeholder="{{'dashboard.Subjects.GPA'| translate}}"  name="PID7" id="PID7"> 
                 
                    </div>
                    <div class="col-xs-2 col-lg-4">
                        <label for="PID8" class="label"><b>{{'dashboard.Subjects.Evaluation System'|translate}}</b></label>
                          <p-dropdown [options]="cities"  formControlName="evaluationSystem" placeholder="{{'dashboard.Subjects.Evaluation'|translate}}" name="PID8" id="PID8" class="form-control" appValidation  ></p-dropdown>
                       
                        <div>
                            <div [hidden]="evaluationSystem.valid || evaluationSystem.untouched">
                                <small *ngIf="evaluationSystem.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                             </div>
                                
                        </div>
                    </div>
                 
                </div> 
             
              
                 
              </form>
            </div>                   
     
        
       
   
    </div>
  </div>
  
  </div>
