
<div class="position-relative pb-6">

    <button class="editBtn btn btn-primary position-absolute" >
        <span>{{'shared.edit' | translate}}</span>
    </button>

    <div class="border-dark radius-15 px-5 py-6 bg-white">
        <div class="row gx-58">
            <div class="col-md-5">
                <div class="grid-container">
            
                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.parentName'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.name |currentLang}}</span>
        
                    
                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.parentNickname'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.nickName |currentLang}}</span>
        
                    
                    <p class="color-gray-300 fs-4">{{ 'shared.birthDay'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.birthday}}</span>
        
                    <p class="color-gray-300 fs-4">{{ 'shared.nationality'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.nationality}}</span>
        
                    <p class="color-gray-300 fs-4">{{ 'shared.gender'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.gender}}</span>
        
                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.pendingRequestNum'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.releatedPendingRequestNumber}}</span>
                </div>
            </div>

            <div class="col-md-5">
                <div class="grid-container">

                    <p class="color-gray-300 fs-4">{{ 'shared.email'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.email}}</span>

                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.emirateUid'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.emiratesId}}</span>
                    
                    <p class="color-gray-300 fs-4">{{ 'sign up.phoneNumber'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.phone}}</span>
                    
                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.registedDate'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.registrationDate}}</span>

                    <p class="color-gray-300 fs-4">{{ 'dashboard.parents.relatedStudent'|translate }}</p>
                    <span class="color-primary mb-2">{{parent?.releatedChildreensNumber}}</span>
                </div>
            </div>
        </div>

    </div>
</div>
