<div class="student">

    <!-- <div class="radius-15 border p-5 mb-5 bg-white">
        <div class="d-flex align-items-center justify-content-between bg-white">
            <div class="profile d-flex align-items-center">
                <div class="profile__avatar">
                    <img [src]="student.src" alt="Avatar">
                </div>
                <div class="profile__info">
                    <div class="profile__name ">
                        <h4 class="heading heading--tertiary">{{student.name}}</h4>
                        <div class="" *ngIf="student.regestered">
                            <img src="assets/images/shared/medal.svg" alt="">
                            <span class="color-red-500">الموهبه</span>
                        </div>
                    </div>
                    <div class="profile__details">
                        <div class="fs-4">
                            <img src="assets/images/shared/child.svg" alt="">
                            <span class="color-gray-300">12 سنه</span>
                        </div>
                        <div>
                            <img *ngIf="student.regestered" src="assets/images/shared/fingure.svg" alt="">
                            <img *ngIf="!student.regestered" src="assets/images/shared/fingure-red.svg" alt="">
                            <span class="color-gray-300 fs-4" [ngClass]="{'color-red-500':!student.regestered, 'color-gray-300': student.regestered}">
                             {{student.regestered ? 'مسجل': 'غير مسجل'}}
                            </span>
                        </div>
                        <div  *ngIf="student.regestered">
                            <img src="assets/images/shared/branch.svg" alt="">
                            <span class="color-gray-300 fs-4">الصف الرابع</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions d-flex align-items-center gap-3 mb-5">
                <ng-container *ngIf="student.regestered">
                    <ng-container *ngIf="step==7 || (step==1  )"></ng-container>
                    <button class="btn btn-primary btn--sm px-5">
                        <span>{{'shared.saveChanges'| translate}}</span>
                    </button>
                    <button class="btn btn-primary btn--sm px-5" [routerLink]="['/']"  >
                        <span>نقل الطالب</span>
                    </button>
                    <button class="btn btn-outline-primary btn--sm px-5">
                        <span>ارسال طلب اعاده مرحله دراسيه </span>
                    </button>
                </ng-container>
            </div>
        </div>

        <div class="row gx-5 p-4 bg-gray-30 my-5" *ngIf="student.regestered">
            <div class="col-md-3  d-flex align-items-center  gap-4">
                <span class="color-gray-300">الرقم الموحد للطالب</span>
                <span class="color-primary">204204205</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">الرقم الوزاري</span>
                <span class="color-primary">204204205</span>
            </div>
            <div class="col-md-3 d-flex align-items-center  gap-4">
                <span class="color-gray-300">رقم المنهل</span>
                <span class="color-primary">204204205</span>
            </div>
        </div>

        <div class="row" *ngIf="student.regestered">
             <div class="col-6">
                 <div class="d-flex align-items-center gap-4">
                     <span>محظور من طلب اصدار الشهادة: </span><span class="color-skyBlue-500">نعم</span>
                 </div>
             </div>
             <div class="col-6">
                 <div class="d-flex align-items-center gap-4">
                     <span>محظور من الانسحاب: </span><span class="color-skyBlue-500">نعم</span>
                 </div>
             </div>
        </div>
    </div> -->

    <app-register-child mode="edit"></app-register-child>
    
    <div class="student__content box-shadow radius-12">
            <!-- Navigations Options -->
            <!-- <div class="nav nav-tabs">
                <ul class=" nav__list">
                    <li class="nav__item" [class.active]="step==1" (click)="step=1"><span>{{ 'dashboard.parents.personalInfo'|translate }}</span></li>
                    <li class="nav__item" [class.active]="step==2" (click)="step=2"><span>{{ 'dashboard.students.acceptanceInfo'|translate }}</span></li>
                    <li class="nav__item" [class.active]="step==3" (click)="step=3"><span> {{ 'dashboard.students.absenceAndAttendanceDetails'|translate }}</span></li>
                    <li class="nav__item" [class.active]="step==4" (click)="step=4"><span> {{ 'dashboard.students.studentAttachedment'|translate }}</span></li>
                </ul>
            </div> -->
            <!-- Navigations Options -->

            <!-- <form class="custom-form" [formGroup]="studentFormm">
                <ng-container *ngIf="step==1">
                    <div class="">
                        <div class="row g-5 form-set">
                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'dashboard.students.studentName'|translate}}<span>(للاطلاع فقط)</span></label>
                                <input type="text" id="trackId" readonly="true" formControlName="arabicName" pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'dashboard.students.studentNickname'|translate}}</label>
                                <input type="text" id="trackId" formControlName="surName" pInputText placeholder="{{'dashboard.students.studentNickname'|translate}}" />
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="description">{{'shared.class'| translate}}</label>
                                <p-dropdown [options]="['yes', 'now']" formControlName="classRoomId" inputId="description" optionLabel="name"></p-dropdown>
                            </div>
                        </div>

                        <div class="row g-5 form-set">
                            <div class="col-md-4">
                                <label class="label" for="description">{{'shared.sectionName'| translate}}</label>
                                <p-dropdown [options]="['yes', 'now']" formControlName="trackId" inputId="description" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'shared.gender'|translate}}<span>(للاطلاع فقط)</span></label>
                                <p-dropdown [options]="['yes', 'now']" readonly="true" formControlName="genderId" inputId="description" optionLabel="name"></p-dropdown>
                            </div>

                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'shared.birthDay'|translate}}<span>(للاطلاع فقط)</span></label>
                                <p-calendar  
                                [disabled]="true"
                                formControlName="birthDate"
                                [style]="{'font-size': '1.6rem'}"
                                icon="pi pi-clock" 
                                [showIcon]="true" 
                                placeholder="2002/07/04"
                                ></p-calendar>
                            </div>
                        </div>

                        <div class="row g-5 form-set">
                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'dashboard.parents.currentSchoolName'|translate}}</label>
                                <p-dropdown [options]="['yes', 'now']" formControlName="schoolId" inputId="description" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="description">{{'dashboard.parents.schoolNumber'| translate}}</label>
                                <input type="text" id="trackId" formControlName="schoolCode" pInputText placeholder="34321" />
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="trackId">{{'shared.nationalId'|translate}}<span>(للاطلاع فقط)</span></label>
                                <input type="text" id="trackId" formControlName="nationalId" pInputText placeholder="23545" />
                            </div>
                        </div>
                    </div>

                    <div class="row g-5 form-set">
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'shared.nationalIdExpireDate'|translate}}</label>
                            <p-calendar  
                            formControlName="expireDate"
                            [style]="{'font-size': '1.6rem'}"
                            icon="pi pi-clock" 
                            [showIcon]="true" 
                            selectionMode="range" 
                            placeholder="2002/07/04"
                            ></p-calendar>
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="description">{{'shared.religion'| translate}}</label>
                            <p-dropdown [options]="['yes', 'now']" formControlName="religionId" inputId="description" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'shared.nationality'|translate}}<span>(للاطلاع فقط)</span></label>
                            <input type="text" id="trackId" readonly="true" formControlName="nationalityId" pInputText placeholder="اماراتى" />
                        </div>

                    </div>

                    <div class="row g-5 form-set">
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'dashboard.parents.ministerialStudentNumber'|translate}}</label>
                            <input type="text" id="trackId" formControlName="ministerialId" pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="description">{{'dashboard.students.specialStudent'| translate}}</label>
                            <p-dropdown [options]="['yes', 'now']" formControlName="isSpecialAbilities" inputId="description" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="description">{{'dashboard.students.isStudentOneOfFirst'| translate}}</label>
                            <p-dropdown [options]="['yes', 'now']" formControlName="isPassed" inputId="description" optionLabel="name"></p-dropdown>
                        </div>
                    </div>

                    <div class="row g-5 form-set">
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'shared.city'|translate}}</label>
                            <input type="text" id="trackId" formControlName="city" pInputText placeholder="{{'shared.writeCity'|translate}}" />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'shared.emara'|translate}}</label>
                            <input type="text" id="trackId" formControlName="emara" pInputText placeholder="{{'shared.writeEmara'|translate}}" />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'shared.state'|translate}}</label>
                            <input type="text" id="trackId" formControlName="state" pInputText placeholder="{{'shared.writeState'|translate}}" />
                        </div>
                    </div>

                    <div class="row g-5 form-set">
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'dashboard.parents.requiredAmount'|translate}}</label>
                            <input type="text" id="trackId" formControlName="requiredAmount" pInputText placeholder="50,000 AED" />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'dashboard.parents.paidAmount'|translate}}</label>
                            <input type="text" id="trackId" formControlName="paidAmount" pInputText placeholder="10,000 AED" />
                        </div>
                        <div class="col-md-4">
                            <label class="label" for="trackId">{{'dashboard.parents.restAmount'|translate}}</label>
                            <input type="text" id="trackId" formControlName="restAmount" pInputText placeholder="1,000 AED" />
                        </div>
                    </div>

                    <div class="row g-5 form-set">
                        <div class="col-md-8">
                            <label class="label" for="trackId">{{'dashboard.parents.accountantComment'|translate}}</label>
                            <input type="text" id="trackId" formControlName="accountantComment" pInputText placeholder="{{'dashboard.parents.accountantComment'|translate}}" />
                        </div>
                    </div>

                </ng-container>

                <ng-container *ngIf="step==4">
                    <div class="">
                        <div class="col-md-8">
                            <div class="image-uploader blue-theme">
                                <div class="">
                                        <label class="label" for="day">{{'dashboard.students.studentAttachedment' |translate}}</label>
                                        <div class="image-uploader__box upload-btn" (click)="upload.click()">
                                            <input type="file" #upload accept="image/*" [hidden]="true" (change)="attachedFile($event)">
                                            <img class="icon-upload" src="assets/images/shared/upload.svg" alt="upload">
                                            <p class="title">{{ 'shared.clickToUploadFiles'|translate }}</p>
                                            <p class="sub-title">{{ 'shared.fileMaxSize'|translate }}</p>
                                        </div>
                                </div>
            
                                <ul class="file__list">
                                    <li class="file__list__item" >
                                        <div class="icon--file">
                                            <img src="assets/images/shared/file.svg" alt="">
                                        </div>
                                        <span class="text color-primary">ملف.pdf</span>
            
                                        <div class="icon--delete">
                                            <img src="assets/images/shared/delete.svg" alt="">
                                        </div>
                                    </li>
                                    <li class="file__list__item" *ngFor="let file of uploadedFiles; let i=index">
                                        <div class="icon--file">
                                            <img src="assets/images/shared/file.svg" alt="">
                                        </div>
                                        <span class="text color-primary">{{file.name}}</span>
            
                                        <div class="icon--delete" (click)="deleteFile(i)">
                                            <img src="assets/images/shared/delete.svg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8 mt-5">
                            <label class="label" for="trackId">{{'shared.note'|translate}}</label>
                            <input type="text" id="trackId" pInputText placeholder="{{'shared.writeNote'|translate}}" />
                        </div>
                    </div>
                </ng-container>
            </form>
    </div> -->
</div>