@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/buttons';
@import'src/assets/css/components/forms';
@import 'src/app/shared/components/dropdown/dropdown.component.scss';
@import 'src/assets/css/components/message.scss';


.prim-table{
 .actions--sm{justify-content: center;}
        ::ng-deep app-loader{

            width:117rem;
         
        }
        .search{
        ::ng-deep app-informative-block{

            .informative-block{
                    width:100%;
                    min-height: 30rem !important;
                    position: relative;
                    right:35rem;
                    .title{
                        width: 90% !important;
                    
                    }
                }
            }
    
        }
    
    ::ng-deep p-table{
        thead.p-datatable-thead tr th{
            min-width: 15.5rem;
        }
   .p-datatable-tbody tr td{ 
    min-width: 15.5rem;
    &.actions{min-width: 11rem !important; justify-content: end;}
       }
    }
}
