<app-add-btn [backGroundColor]="'btn-outline-primary'" [route]="'/dashboard/educational-settings/subject/new-subject'" [content]="'dashboard.Subjects.Add New Subject'"></app-add-btn>
<div class="prim-table mt-4" *ngIf="subjects.totalAllData|| subjects.loading">
    <p-table #dt [lazy]="true" [value]="subjects.list" (onSort)="sortMe($event)" [scrollable]="true" >


        <ng-template pTemplate="caption">
            <app-table-caption (onExport)="onExport($event)" (onFilter)="getAllSubjects()" (onSearch)="filtration.KeyWord = $event; getAllSubjects()" (onClear)="clearFilter()">

                <div class="row gx-5 form-set">
                   
                    <div class="col-6">
                        <label class="label" for="evaluationType">{{'dashboard.Subjects.Evaluation System'|translate}} </label>
                        <p-dropdown [options]="evaluationTypeList" [showClear]="true" StopProp optionLabel="name" optionValue="value" [(ngModel)]="filtration.evaluation" inputId="evaluationType"  placeholder="{{'dashboard.Subjects.select evaluation type'|translate}}"></p-dropdown>
                    </div>
                   
                </div>

            </app-table-caption>

        </ng-template>

  
  
  
  <ng-template pTemplate="header" >
        <tr  >
          <th   pSortableColumn="subjectCode" >#</th>
          <th   pSortableColumn="subjectName" ><p-sortIcon  field="subjectName" ></p-sortIcon>{{'dashboard.Subjects.Subject Name'|translate}}</th>
          <th pSortableColumn="schoolName">{{'dashboard.schools.schoolName'|translate}}<p-sortIcon field="name"></p-sortIcon></th>
          <th   pSortableColumn="evaluationType"><p-sortIcon  field="evaluationType"></p-sortIcon>{{'dashboard.Subjects.Evaluation System'|translate}}</th>
          <th   pSortableColumn="creatorName" ><p-sortIcon  field="creatorName" ></p-sortIcon>{{'dashboard.Subjects.Created by'|translate}}</th>
          <th   pSortableColumn="createdDate"><p-sortIcon  field="createdDate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
          <th   pSortableColumn="editorName"><p-sortIcon field="editorName"></p-sortIcon>{{'dashboard.Subjects.Edited by'|translate}}</th>
          <th   pSortableColumn="lastEditedDate"><p-sortIcon field="lastEditedDate"></p-sortIcon>{{'dashboard.Subjects.Last EditDate'|translate}}</th>
          <th   pSortableColumn="subjectMinmumDegree"><p-sortIcon field="subjectMinmumDegree"></p-sortIcon>{{'dashboard.Subjects.Subject Minimum grade'|translate}}</th>
          <th   pSortableColumn="subjectMinmumDegree"><p-sortIcon field="subjectMinmumDegree"></p-sortIcon>{{'dashboard.Subjects.Subject Maximum grade'|translate}}</th>
          <th   pSortableColumn="edit" class="actions"></th>
        

          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-e  >
        <tr  >
            <td   >{{e?.subjectCode|translate}}#</td>
            <td  >{{e?.subjectName|currentLang}}</td>
            <td   *ngIf="e?.schoolName[lang]">{{e?.schoolName|currentLang}}</td>
            <td  *ngIf="!e?.schoolName[lang]" class="center ">-</td>
            <td   >{{e?.evaluationType|translate}}</td>
            <td   *ngIf="e?.creatorName">{{e?.creatorName}}</td>
            <td  *ngIf="!e?.creatorName" class="center ">-</td>
            <td >{{e?.createdDate| LocalizeDate}}</td>
            <td   *ngIf="e?.editorName">{{e?.editorName}}</td>
            <td  *ngIf="!e?.editorName" class="center ">-</td>
            <td   *ngIf="e?.lastEditedDate">{{e?.lastEditedDate| LocalizeDate}}</td>
            <td  *ngIf="!e?.lastEditedDate" class="center ">-</td>
            <td class=" degree" *ngIf="e?.evaluationType=='IPpoints'||e?.evaluationType=='Grades'">{{e?.subjectMinmumDegree}}</td>
            <td  class="degree" *ngIf="e?.evaluationType!='IPpoints'&&e?.evaluationType!='Grades'">-</td>
            <td  *ngIf="e?.evaluationType=='IPpoints'||e?.evaluationType=='Grades'">{{e?.maximumDegree}}</td>
            <td  *ngIf="e?.evaluationType!='IPpoints'&&e?.evaluationType!='Grades'">-</td>
            <!-- <td class="dropdown actions">
                 
                
             
                    <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                        <fa-icon class="fs-4" [icon]="faEllipsisVertical" ></fa-icon>
                    </div>
                    <ul class="dropdown-menu shadow-lg " aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item">
                            <a class="link"  routerLink="/dashboard/educational-settings/subject/edit-subject/{{e.id}}">
                              <img src="assets/images/shared/pen.svg" alt="">
                              <p>{{'shared.edit'|translate}}</p>
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="link" (click)="this.confirmModelService.openModel(); deletedSubject=e" >
   
                              <img src="assets/images/shared/delete.svg" alt="">
                              <p>{{'dashboard.Subjects.Delete subject'|translate}}</p>
                            </a>
                        </li>

                    </ul>
             
            
          
            </td> -->
            <td class="edit actions--sm"> 
                <button   routerLink="/dashboard/educational-settings/subject/edit-subject/{{e.id}}">
                    {{'shared.edit'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                 </button>
             </td>
        </tr>
    </ng-template>



    
    
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="20" class="search">
                <ng-container *ngIf="subjects.totalAllData && subjects.list.length == 0 &&  !subjects.loading" >
                    <app-informative-block  title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                </ng-container>
              
                <app-loader></app-loader>

            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="paginationState.rows<subjects.total">
    <app-pagination [totalItems]="subjects.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
</div>
</div>
<!-- emptymessage -->
<ng-container *ngIf="!subjects.totalAllData && !subjects.loading">
<app-informative-block title="{{'emptyList.Subject List is Empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>

