@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/buttons';
@import'src/assets/css/components/forms';
@import 'src/app/shared/components/dropdown/dropdown.component.scss';
@import'src/assets/css/components/confirm-dialog';
@import 'src/assets/css/components/message.scss';





