<div class="notification-header dashboard d-flex justify-content-between">
    <div class="right">
        <app-header-dashboard></app-header-dashboard>
    </div>
</div>

<div *ngIf="step" class="issune-certificate-content">
    <h4>{{'dashboard.issue of certificate.Please select a student' | translate}}</h4>
    <div class="cards mt-4">

        <div *ngIf="skeletonShown " class="row">
            <div class="col-md-4" *ngFor="let item of [1,2,3]">
                <app-skeleton size="38rem" [style]="{'margin-bottom': '5rem','margin-left': '3rem'}"></app-skeleton>
            </div>
        </div>

    <div class="row my-5 mx-0">
        <div class="col-sm-6 col-md-4 col-xxl-3 my-3" *ngFor="let item of childList; let i = index">
            <app-card-student [student]="item" [choosenStudents]="choosenStudents"  (addStudent)="increaseOrDecrease($event,item)"></app-card-student>
        </div>
        <app-informative-block *ngIf="childList.length == 0" src="assets/images/empty-list/empty-list.svg" title="{{'emptyList.noSons' |translate}}" subTitle="{{'emptyList.addNewSon' |translate}}"></app-informative-block>
    </div>
</div>
    <div class="end-of-content d-flex justify-content-between">
        <p class="topPara">{{'dashboard.issue of certificate.choose children' | translate}} <span>{{choosenStudents.length}}</span> {{'dashboard.issue of certificate.from childrens' | translate}}</p>
        <button class="btn btn-primary topBtn" (click)="changeRoute(item)" [disabled]="choosenStudents.length==0">{{'Next'| translate}}</button>
    </div>

</div>


<div *ngIf="step1" class="issune-certificate-content">
    <div class="custom-form align-items-center">
        <div class="title d-flex">
            <div class="form-group">
                <h4 class="mb-4">{{'dashboard.issue of certificate.type of certificate' | translate}}</h4>
           
                <p-dropdown  *ngIf="dropValue == undefined||null"  (onChange)="checkDropValue($event.value)" 
                    placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}" [options]="certificatesList"
                    optionLabel="name.ar" [(ngModel)]="certificate">
                </p-dropdown>
                <label class="Label color-skyBlue-400 mt-2"  *ngIf="dropValue !== undefined||null">{{certificateName|currentLang}}</label>
             
            </div>
            <a class="ellink"  *ngIf="dropValue !== undefined||null" (click)="changeRoute2()">{{'dashboard.issue of certificate.Click here to add the required
                information' |
                translate}}</a>
                <button  class="btn btn-light topBTTn" (click)="prevroute()">{{'dashboard.issue of certificate.previous' | translate}}</button>
        </div>

        
        <div class="body"
         *ngIf="
         allCost!==0 && showChain">
            <h4>{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4>

            <div class="elcard d-flex justify-content-between my-5" *ngFor="let std of chainStorage;let i = index">
                <div class="elcard-content d-flex">
                    <div class="elcard-img">
                        <img src="assets/images/shared/User male 2.png" alt="">
                    </div>
                    <div class="elcard-certificate mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                        <span>{{nameOfCertificate}}</span>
                    </div>
                    <div class="elcard-pay mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                        <span>{{fess}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                    </div>
                    <div class="elcard-name mx-5">
                        <p>{{'dashboard.issue of certificate.sons name' | translate}}</p>
                        <span>{{std.name}}</span>
                    </div>
                </div>
                <div class="elcard-slice">
                    <img src="assets/images/shared/Close small.svg" alt="" (click)="removeStudent(std,i)">
                </div>

            </div>
            <div class="end-of-content d-flex justify-content-between">
                <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p>
                <div class="buttons d-flex">
                    <button class="btn btn-primary mx-2" (click)="payFunc()">{{'dashboard.issue of certificate.pay' | translate}}</button>
                </div>

            </div>
        </div>

        
        <div class="body"
         *ngIf="
         allCost!==0 && showBoard">
            <h4>{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4>

            <div class="elcard d-flex justify-content-between my-5" *ngFor="let std of boardStorage;let i = index">
                <div class="elcard-content d-flex">
                    <div class="elcard-img">
                        <img src="assets/images/shared/User male 2.png" alt="">
                    </div>
                    <div class="elcard-certificate mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                        <span>{{nameOfCertificate}}</span>
                    </div>
                    <div class="elcard-pay mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                        <span>{{fess}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                    </div>
                    <div class="elcard-name mx-5">
                        <p>{{'dashboard.issue of certificate.sons name' | translate}}</p>
                        <span>{{std.name}}</span>
                    </div>
                </div>
                <div class="elcard-slice">
                    <img src="assets/images/shared/Close small.svg" alt="" (click)="removeStudent(std,i)">
                </div>

            </div>
            <div class="end-of-content d-flex justify-content-between">
                <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p>
                <div class="buttons d-flex">
                    <button class="btn btn-primary mx-2" (click)="payFunc()">{{'dashboard.issue of certificate.pay' | translate}}</button>
                </div>

            </div>
        </div>


        
         <div class="body"
         *ngIf="showDegree && allCost!==0">
         <!-- *ngIf="
         allCost!==0  && boardStorage.length==0 && chainStorage.length == 0 && showit && !showit2"> -->
            <h4>{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4>

            <div class="elcard d-flex justify-content-between my-5" *ngFor="let std of degreeStorage['names'];let i = index">
                <div class="elcard-content d-flex">
                    <div class="elcard-img">
                        <img src="assets/images/shared/User male 2.png" alt="">
                    </div>
                    <div class="elcard-certificate mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                        <span>{{nameOfCertificate}}</span>
                    </div>
                    <div class="elcard-pay mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                        <span>{{fess}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                    </div>
                    <div class="elcard-name mx-5">
                        <p>{{'dashboard.issue of certificate.sons name' | translate}}</p>
                        <span>{{std}}</span>
                    </div>
                </div>
                <div class="elcard-slice">
                    <img src="assets/images/shared/Close small.svg" alt="" (click)="removeStudent(degreeStorage['Students_Id'][i],i)">
                </div>

            </div>
            <div class="end-of-content d-flex justify-content-between">
                <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p>
                <div class="buttons d-flex">
                    <button class="btn btn-primary mx-2" (click)="payFunc()">{{'dashboard.issue of certificate.pay' | translate}}</button>
                </div>

            </div>
        </div> 


        
        <div class="body"
        *ngIf="showOther && allCost!==0">
        <!-- *ngIf="
        allCost!==0  && boardStorage.length==0 && chainStorage.length == 0 && !showit && showit2"> -->
            <h4>{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4>

             <div class="elcard d-flex justify-content-between my-5" *ngFor="let std of otherStorage['names'];let i = index">
                <div class="elcard-content d-flex">
                    <div class="elcard-img">
                        <img src="assets/images/shared/User male 2.png" alt="">
                    </div>
                    <div class="elcard-certificate mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                        <span>{{nameOfCertificate}}</span>
                    </div>
                    <div class="elcard-pay mx-5">
                        <p>{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                        <span>{{fess}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                    </div>
                    <div class="elcard-name mx-5">
                        <p>{{'dashboard.issue of certificate.sons name' | translate}}</p>
                        <span>{{std}}</span>
                    </div>
                </div>
                <div class="elcard-slice">
                    <img src="assets/images/shared/Close small.svg" alt="" (click)="removeStudent(otherStorage['Students_Id'][i],i)">
                </div>

            </div> 
            <div class="end-of-content d-flex justify-content-between">
                <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p>
                <div class="buttons d-flex">
                    <button class="btn btn-primary mx-2" (click)="payFunc()">{{'dashboard.issue of certificate.pay' | translate}}</button>
                </div>

            </div>
        </div>


        <div class="body"
        *ngIf="showHabit && allCost!==0">
        <!-- *ngIf="
        allCost!==0  && boardStorage.length==0 && chainStorage.length == 0 && showit && !showit2"> -->
           <h4>{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4>

           <div class="elcard d-flex justify-content-between my-5" *ngFor="let std of habitStorage['names'];let i = index">
               <div class="elcard-content d-flex">
                   <div class="elcard-img">
                       <img src="assets/images/shared/User male 2.png" alt="">
                   </div>
                   <div class="elcard-certificate mx-5">
                       <p>{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                       <span>{{nameOfCertificate}}</span>
                   </div>
                   <div class="elcard-pay mx-5">
                       <p>{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                       <span>{{fess}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                   </div>
                   <div class="elcard-name mx-5">
                       <p>{{'dashboard.issue of certificate.sons name' | translate}}</p>
                       <span>{{std}}</span>
                   </div>
               </div>
               <div class="elcard-slice">
                   <img src="assets/images/shared/Close small.svg" alt="" (click)="removeStudent(habitStorage['Students_Id'][i],i)">
               </div>

           </div>
           <div class="end-of-content d-flex justify-content-between">
               <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p>
               <div class="buttons d-flex">
                   <button class="btn btn-primary mx-2" (click)="payFunc()">{{'dashboard.issue of certificate.pay' | translate}}</button>
                   <button  class="btn btn-light" (click)="prevroute()">{{'dashboard.issue of certificate.previous' | translate}}</button>
               </div>

           </div>
       </div> 


        

    </div>
</div>



<div *ngIf="step2" class="issune-certificate-content">
    <form>
        <div class="custom-form">
            <h4 class="mb-4" style="font-weight: 700;">{{'dashboard.issue of certificate.Add the required information - Academic Sequence Certificate' | translate}}</h4>
            <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.please' | translate}}</span> <br>

            <div class="submitBtn d-flex">
                <button class="btn btn-primary" (click)="postData()">{{'dashboard.issue of certificate.Save' | translate}}</button>
                <button class="btn btn-light mx-2" (click)="prevroute2()"> {{'dashboard.issue of certificate.previous' | translate}}</button>
            </div>


            <div class="eltitle mx-5 my-5 d-flex">
            </div>


            <app-add-student-certificate *ngFor="let student of choosenStudents; let i = index" [student]="student"
                (result)="sendDataFromParent($event,i)"></app-add-student-certificate>


        </div>
    </form>

</div>


<div *ngIf="step3" class="issune-certificate-content">
    <div class="custom-form">
        <h4 class="mb-4" style="font-weight: 700;">{{'dashboard.issue of certificate.Add the required information - board certification' | translate}}</h4>
        <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.please2' | translate}}</span>
        <br>

        <div class="submitBtn d-flex">
            <p class="mx-4 my-2 fw-500">{{'dashboard.issue of certificate.was selected' | translate}} {{attachmentsNumbers}} {{'dashboard.issue of certificate.of the attachments of the son' | translate}}</p>
            <button class="btn btn-primary mx-2" (click)="sendBoardData()" [disabled]="!saveBtn"> {{'dashboard.issue of certificate.Save' | translate}}</button>
            <button class="btn btn-light" (click)="prevroute2()"> {{'dashboard.issue of certificate.previous' | translate}}</button>

        </div>
        
        <ng-container *ngFor="let student of choosenStudents; let i = index">
            <p-fieldset class="position-relative" [toggleable]="true">
                <ng-template pTemplate="header">
                     <span>{{student.name | currentLang}}</span>    
                </ng-template>
                 
        <div class="reason" >
            <p>ادخال السبب <span class="star">*</span></p>
                    <p-dropdown *ngIf="currentLang == 'ar'" #dropdown
                    [options]="boardArr"
                    optionLabel="name.ar" (ngModelChange)="onReasonChange($event,i)" name="reason" ngModel optionValue="id" placeholder="ادخال السبب">
                    </p-dropdown>
                    <p-dropdown *ngIf="currentLang == 'en'" #dropdown 
                    [options]="boardArr"
                    optionLabel="name.ar" (ngModelChange)="onReasonChange($event,i)" name="reason" ngModel optionValue="id" placeholder="put the reason">
                    </p-dropdown>
        </div>
        <h4 class="color-red-500 mb-4 mt-5" >{{'dashboard.issue of certificate.you can select from the following attachments :'|translate}}</h4>
        <div class="row">
           
            <div class="col-md-4 my-4"*ngFor="let item of student.attachments; let k = index" >
                
               <app-students-board-certificate  [studentBoard]="item"  (addAttachment)="onAttachmentSelected(item.id,i);item.isSelected = !item.isSelected"></app-students-board-certificate>
              
            </div>
        </div>
     </p-fieldset>
    </ng-container>


    </div>
</div>



<div *ngIf="step4" class="issune-certificate-content">
    <div class="custom-form">
        <h4 class="mb-4" style="font-weight: 700;"> {{'dashboard.issue of certificate.Add the required information - Degree Certificate' | translate}} </h4>
        <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.Please fill in the following information' | translate}} </span>
        <br>
        <form [formGroup]="degreeForm">
            <div class="submitBtn d-flex">
                <button class="btn btn-primary mx-2" (click)="sendDegreeForm()"
                    [disabled]="!degreeForm.valid">{{'dashboard.issue of certificate.Save' | translate}}</button>
                <button class="btn btn-light" (click)="prevroute2()">{{'dashboard.issue of certificate.previous' | translate}}</button>

            </div>


            <div class="row">
                <div class="col-md-4 my-4">
                    <label class="my-2"> {{'dashboard.issue of certificate.academic year' | translate}}  <span class="star">*</span></label> 
                    <div class="nav__dropdown custom-form">
                        <div class="icon arrow" (click)="dropdown.show()">
                            <fa-icon class="" [icon]="faAngleDown"></fa-icon>
                        </div>

                        <p-dropdown #dropdown
                            [options]="[{id: 0,name:'2022'}, {id: 1,name:'2023'}, {id: 2,name:'2024'}]"
                            optionLabel="name" formControlName="YEAR_Id" optionValue="id" placeholder="2022 / 2023">
                        </p-dropdown>
                        <div class="icon calendar" (click)="dropdown.show()">
                            <img src="assets/images/navBar/calendar.svg" alt=""> 
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-4">
                    <label class="my-2">{{'dashboard.issue of certificate.type of certificate' | translate}} <span class="star">*</span></label>
                    <p-dropdown (onChange)="checkEnumValue($event)"
                        placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}"
                        formControlName="certificateType" [options]="degreescertificates" optionLabel="name.ar" [optionValue]="value">
                    </p-dropdown>
                </div>
            </div>

        </form>
    </div>
</div>



<p-dialog header="{{headerModal}}" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="display"
    [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">
    <form class="habitForm" [formGroup]="habitForm">
    <div class="form-group">
    <label for="">{{'dashboard.issue of certificate.The name of the entity' | translate}} <span class="star">*</span></label>
    <input type="text" placeholder="{{'dashboard.issue of certificate.Enter the name of the entity'|translate}}" class="form-control" formControlName="destination" >
    </div>
    </form>
    <ng-template pTemplate="footer">
        <button [disabled]="habitForm.value.destination==''"  (click)="habitFunc()" label="ارسال طلب" class="btn btn-primary" style="float: left;">{{'dashboard.issue of certificate.Send a request' | translate}}</button>
    </ng-template>
</p-dialog>