
<div class="px-6 mb-5">
    <div class="notification-header dashboard d-flex justify-content-between">
        <div class="right">
            <app-header-dashboard></app-header-dashboard>
        </div>
    </div>
    
    
    <div *ngIf="step==1" class="issune-certificate-content">
        <div class="custom-form radius-15 border-dark p-5">

            <div class="d-flex gap-3 mb-5">
                <img style="width:1.75rem" src="assets/images/shared/certificate.svg" alt="">
                <h3 class="fw-bold color-primary">{{'dashboard.issue of certificate.issueNewCertificate' | translate}}</h3>
            </div>
    
            <div class="title d-flex">
                <div class="form-group mt-3">
                    <h4 class="mb-4">{{'dashboard.issue of certificate.type of certificate' | translate}}</h4>
               
                    <p-dropdown 
                    (onChange)="onCertificateSelected($event.value)" 
                    placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}" 
                    [options]="certificatesList$ |async" optionLabel="name.ar" 
                    [(ngModel)]="selectedCertificate">
                    </p-dropdown>
                    <!-- <label class="Label color-skyBlue-400 mt-2"  *ngIf="dropValue !== undefined||null">{{certificateName|currentLang}}</label> -->
                 
                </div>

                <ng-container *ngIf="selectedCertificate != undefined||null">
                    <div class="d-flex flex-column gap-4 align-items-center mx-6 mb-3" >
                         <span class="color-primary fw-bold">{{selectedCertificate?.name |currentLang}}</span>
                         <div class="d-flex gap-4 align-items-center">
                             <span class="color-gray-300">{{'dashboard.issue of certificate.Certificate fee' |translate}}</span>
                              <span class="color-red-500">{{selectedCertificate?.fees}} درهم</span>
                         </div>
                        <a class="color-skyBlue-500 text-decoration-underline "   (click)="showChildreens()">{{'dashboard.issue of certificate.Click here to add the required information' |translate}}</a>
                    </div>
    
                </ng-container>
                
                <!-- <button  class="btn btn-light topBTTn" (click)="prevroute()">{{'dashboard.issue of certificate.previous' | translate}}</button> -->
            </div>

            <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3" *ngIf="selectedCertificate?.value ==certificateType.DiplomaCertificate">
                <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                <span class="color-gray-800">" شهادة الدبلوم يمكن طلبها من جميع الصفوف الثاني عشر في كل المناهج، عدا المنهج الفلبيني فيمكن للطلاب طلب شهادة الدبلوم من الصف العاشر "</span>
            </div>

            <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3" *ngIf="selectedCertificate?.value ==certificateType.TransferCertificate">
                <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                <span class="color-gray-800">" شهادات الانسحاب (الانتقال) لا يمكن طلبها الا من قبل الأشخاص المنسحبين من قبل. "</span>
            </div>
        </div>

        <hr class="my-6">

      
            <div *ngIf="allCertificates.totalAllData || allCertificates.loading"> 
                
                <div class="body  radius-15 bg-gray-30 p-5" *ngIf="allCertificates.list.length">
                    
                    <div class="d-flex justify-content-between mb-5">
                        <div class="d-flex align-items-center gap-3">
                            <img style="width:2.5rem" src="assets/images/shared/certificate.svg" alt="">
                            <h3 class="heading heading--secondary color-primary">{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h3>
                        </div>
                        <!-- <h4 class="fw-bold">{{'dashboard.issue of certificate.Certificates to be issued' | translate}}</h4> -->
                    
                        <!-- <p>{{'dashboard.issue of certificate.final cost' | translate}} =<span class="mx-3">{{allCost}} {{'dashboard.issue of certificate.dirham' | translate}}</span> </p> -->
                        <div class="buttons d-flex px-5">
                            <button class="btn btn-primary mx-2 mb-5" (click)="goToPayment()" [disabled]="!certificatesIds.length">{{'dashboard.issue of certificate.pay' | translate}}</button>
                        </div>
                    </div>

                    <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3">
                        <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                        <span class="color-gray-800">" {{'dashboard.issue of certificate.you should only select certificate that has pending for payment status only'|translate}} "</span>
                    </div>
                    <div class="elcard d-flex justify-content-between radius-15 my-5 bg-white px-4 py-5  border-danger" *ngFor="let certificate of allCertificates.list;let i = index">
                        <div class="certificates-list d-flex  w-100">

                            <div class="user d-flex gap-4">
                                <div class="mx-4 mt-3 ">
                                    <p-checkbox   [value]="certificate.commonCertificateRequestId"  name="curriculum" [disabled]="certificate.status!=certificateStatus.PendingForPayment"  [(ngModel)]="certificatesIds"></p-checkbox>
                                 </div>
                                <div class="elcard-img">
                                    <img src="assets/images/shared/User male 2.png" alt="">
                                </div>
                            </div>

                            <div class="">
                                <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.Certificate name' | translate}}</p>
                                <span class="fw-bold fs-4">{{'dashboard.issue of certificate.'+certificate.certificateType| translate}}</span>
                            </div>
                            <div class="elcard-pay px-3">
                                <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.Certificate fee' | translate}}</p>
                                <span class="fw-bold fs-4">{{certificate.fees}} {{'dashboard.issue of certificate.dirham' | translate}}</span>
                            </div>
                            <div class="">
                                <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.sons name' | translate}}</p>
                                <span class="fw-bold fs-4">{{certificate.studentName|currentLang}}</span>
                            </div>
                            <div class=" mx-3 text-center">
                                <p class="color-gray-300 mb-3">{{'dashboard.issue of certificate.request Status' | translate}}</p>
                                <div class="fw-bold fs-4">
                                    <div [ngSwitch]="certificate.status">
                                        <div class="alerting dark " *ngSwitchCase="certificateStatus.PendingForApproval"> {{'dashboard.issue of certificate.'+certificateStatus.PendingForApproval| translate}}</div>
                                        <div class="alerting success " *ngSwitchCase="certificateStatus.PendingForPayment "> {{'dashboard.issue of certificate.'+certificateStatus.PendingForPayment| translate}}</div>
                                        <div class="alerting  primary" *ngSwitchCase="certificateStatus.Payed"> {{'dashboard.issue of certificate.'+certificateStatus.Payed | translate}}</div>
                                        <div class="alerting  danger" *ngSwitchCase="certificateStatus.Rejected "> {{'dashboard.issue of certificate.'+certificateStatus.Rejected | translate}}</div>
                                    </div>
                                </div>
        
                            </div>


                            <div class="actions d-flex justify-content-center align-self-center gap-5">

                                <div *ngIf="certificate.status==certificateStatus.Payed"  class="d-flex gap-2  align-items-baseline" (click)="viewCertificate(certificate)">
                                    <img src="assets/images/shared/eye.svg" alt="">
                                    <a class="color-skyBlue-500">{{'shared.view' |translate}}</a>

                                </div>
        
                                <div *ngIf="certificate.status!=certificateStatus.Payed" class=" " role="button">
                                    <img src="assets/images/shared/rect-xmark.svg" alt="" (click)="removeRequest(certificate.commonCertificateRequestId)">
                                </div>
                            </div>
                            <!-- <div class="elcard-name mx-5">
                                <p>{{'dashboard.issue of certificate.approved from organzation' | translate}}</p>
                                <span *ngIf="certificate.approved">{{'true'|translate}}</span>
                                <span *ngIf="!certificate.approved">{{'false'|translate}}</span>
                            </div> -->
                        </div>
                
        
                    </div>
        
                </div>
                <div *ngIf="allCertificates.total> 6" class="mb-5">
                    <app-pagination [totalItems]="allCertificates.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
                </div>
        
                <div class="ms-5 mt-5" *ngIf="allCertificates.loading">
                    <app-skeleton  width="130rem" height="10rem" [style]="{'margin-bottom': '5rem'}" count="6"></app-skeleton>
                
                </div>
        
            </div> 
     
    </div>
    
    <div *ngIf="step==2" class="issune-certificate-content position-relative" >
        <h4>{{'dashboard.issue of certificate.Please select a student' | translate}} <b class="color-primary">{{certificateName|currentLang}}</b></h4>
        <div class="cards mt-4">
    
            <div *ngIf="skeletonShown " class="row mt-6">
                <div class="col-md-4" *ngFor="let item of [1,2,3]">
                    <app-skeleton size="38rem" [style]="{'margin-bottom': '5rem','margin-left': '3rem'}"></app-skeleton>
                </div>
            </div>
    
            <div class="row g-5 my-6" style="margin-left: 2rem;">
                <div class="col-sm-6 col-md-4 col-xxl-3 my-3" *ngFor="let item of childList; let i = index">
                    <app-card-student [student]="item" [choosenStudents]="choosenStudents"  (addStudent)="increaseOrDecrease($event,item)"></app-card-student>
                </div>
                <app-informative-block *ngIf="childList.length == 0" subTitle="{{'emptyList.noRegisteredSons' |translate}}"></app-informative-block>
            </div>
        </div>
       
        <div class=" d-flex align-items-center justify-content-end ">
            <div class="Btn-group d-flex gap-3">
                <p class="topPara">{{'dashboard.issue of certificate.choose children' | translate}} <span>{{choosenStudents.length}}</span> {{'dashboard.issue of certificate.from childrens' | translate}}</p>
                <button class="btn btn-primary" (click)="changeRoute2(item)"  *ngIf="selectedCertificate.value==certificateType.BoardCertificate||selectedCertificate.value==certificateType.AcademicSequenceCertificate||selectedCertificate.value==certificateType.GradesCertificate||selectedCertificate.value==certificateType.GoodBehaviorCertificate" [disabled]="choosenStudents.length==0" >{{'Next'| translate}}</button>

                <button type="submit" class="btn  btn-primary" *ngIf="selectedCertificate.value!=certificateType.BoardCertificate&&selectedCertificate.value!=certificateType.AcademicSequenceCertificate&&selectedCertificate.value!=certificateType.GradesCertificate&&selectedCertificate.value!=certificateType.GoodBehaviorCertificate" (click)="changeRoute2(item)" [disabled]="choosenStudents.length==0||isBtnLoading">
                    {{'shared.save'|translate}}
                    <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                </button>
                <button (click)="goToFirst()" ><a  class="cancelbtn">{{'shared.Cancel'|translate}}</a></button>
            </div>
        </div>
    
    </div>
    
    <div class="content">
    
        <div *ngIf="step==3" class="issune-certificate-content">
            <form>
                <div class="custom-form mt-5">
                    <h4 class="mb-4" style="font-weight: 700;">{{'dashboard.issue of certificate.Add the required information - Academic Sequence Certificate' | translate}}</h4>
                    <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.please' | translate}}</span> <br>
        
                    <div class="submitBtn d-flex" *ngIf="!reqInstance">
                        <button class="btn btn-primary" (click)="sendAcademiccertificateReq()" [disabled]="isBtnLoading">
                            {{'dashboard.issue of certificate.Save' | translate}}
                            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                        </button>
                        <button class="btn btn-light mx-2" (click)="showChildreens()"> {{'dashboard.issue of certificate.previous' | translate}}</button>
                    </div>
        
                    <!-- Incase the Request is Returned From Spea -->
                    <div class="d-flex  align-items-center justify-content-end mt-6" *ngIf="reqInstance" >
                        <button class="btn btn-primary " 
                        [disabled]="isBtnLoading"  
                        *ngFor="let action of actions"
                        (click)="reSendAcademiccertificateReq(action.id)">
                        
                            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                            <span>{{action.title | currentLang}}</span>
                        </button>
                    </div>
        
                    <app-add-student-certificate *ngFor="let student of choosenStudents; let i = index" [student]="student"
                        (result)="sendDataFromParent($event,i)"></app-add-student-certificate>
        
        
                </div>
            </form>
        
        </div>
        
        
        <div *ngIf="step==4" class="issune-certificate-content">
            <div class="custom-form mt-6">
                <h4 class="mb-4 color-primary" style="font-weight: 700;">{{'dashboard.issue of certificate.Add the required information - board certification' | translate}}</h4>
                <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.please2' | translate}}</span>
                <br>
        
            
                <div class=" d-flex align-items-center justify-content-end ">
                    <div class=" d-flex ">
                        <button type="submit" class="btn btn-primary mx-2" (click)="boardFunc()" [disabled]="!saveBtn||isBtnLoading">
                            {{'dashboard.issue of certificate.Save' | translate}}
                            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                        </button>
                        <button class="btn btn-light" (click)="showChildreens()"> {{'dashboard.issue of certificate.previous' | translate}}</button>
                    </div>
                </div>
                
                <ng-container *ngFor="let student of choosenStudents; let i = index">
                    <p-fieldset [style]="{'minHeight':'65vh', 'padding':'3rem'}" class="position-relative p-5" [toggleable]="true">
                        <ng-template pTemplate="header">
                            <span class="fw-bold">{{student.name | currentLang}}</span>    
                        </ng-template>
                        
                        <div class="reason" >
                            <p class="label">{{'dashboard.issue of certificate.Select reason'|translate}}</p>
                            <p-dropdown  #dropdown [options]="boardReasons"
                            optionLabel="{{lang=='ar'?'name.ar':'name.en'}}" 
                            (ngModelChange)="onReasonChange($event,i)" name="reason" 
                            ngModel optionValue="id" placeholder="ادخال السبب">
                            </p-dropdown>
                        
                        </div>

                        <div class="row" *ngIf="student?.attachments?.length">
                            <h4 class="color-red-500 mb-4 mt-5" >{{'dashboard.issue of certificate.you can select from the following attachments :'|translate}}</h4>
                        
                            <div class="col-md-4 my-4"*ngFor="let item of student.attachments; let k = index" >
                                <app-students-board-certificate  [studentBoard]="item"  (addAttachment)="onAttachmentSelected(item.id,i);item.isSelected = !item.isSelected"></app-students-board-certificate>
                            </div>
                        </div>
                    </p-fieldset>
                </ng-container>
        
        
            </div>
        </div>
    
    </div>

    <div *ngIf="step==5" class="issune-certificate-content">
        <div class="custom-form mt-5">
            <h4 class="mb-5 fw-bold color-primary" > {{'dashboard.issue of certificate.Add the required information - Degree Certificate' | translate}} </h4>
            <!-- <span class="mb-4" style="color:#AFAFAF">{{'dashboard.issue of certificate.Please fill in the following information' | translate}} </span> -->
            <br>
            <form [formGroup]="degreeForm" class="custom-validation-form border-dark px-4">
                <div class="submitBtn d-flex">
                    <button class="btn btn-primary mx-2" (click)="degreeFunc()"
                        [disabled]="!degreeForm.valid||isBtnLoading">{{'dashboard.issue of certificate.Save' | translate}}
                        <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                    </button>
                    <button class="btn btn-light" (click)="showChildreens()">{{'dashboard.issue of certificate.previous' | translate}}</button>
    
                </div>
    
    
                <div class="row">
                    <div class="col-md-4 my-4">
                        <label class="my-2"> {{'dashboard.issue of certificate.academic year' | translate}}  <span class="star">*</span></label> 
                        <div class="nav__dropdown custom-form">
                            <div class="icon arrow" (click)="dropdown.show()">
                                <fa-icon class="" [icon]="faAngleDown"></fa-icon>
                            </div>
    
                            <p-dropdown #dropdown
                                [options]="schoolYearsList"
                                optionLabel="name.ar" formControlName="YEAR_Id" optionValue="id" placeholder="{{'dashboard.SchoolYear.Select School Year' | translate}}" >
                            </p-dropdown>
                            <div class="icon calendar" (click)="dropdown.show()">
                                <img src="assets/images/navBar/calendar.svg" alt=""> 
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4 my-4">
                        <label class="my-2">{{'dashboard.issue of certificate.type of certificate' | translate}} <span class="star">*</span></label>
                        <p-dropdown (onChange)="checkEnumValue($event)"
                            placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}"
                            formControlName="certificateType" [options]="degreescertificates" optionLabel="name.ar" [optionValue]="value">
                        </p-dropdown>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>


<p-dialog header="{{'dashboard.issue of certificate.The name of the entity to which the certificate is to be issued'|translate}}" [draggable]="false" [resizable]="false" [modal]="true" [(visible)]="display"
    [style]="{'width': '50vw'}" class="dialog-header" [baseZIndex]="10000">
    <form class="habitForm" [formGroup]="habitForm">
    <div class="form-group">
    <label for="">{{'dashboard.issue of certificate.The name of the entity' | translate}} <span class="star">*</span></label>
    <input type="text" placeholder="{{'dashboard.issue of certificate.Enter the name of the entity'|translate}}" class="form-control" formControlName="destination" >
    </div>
    </form>
    <ng-template pTemplate="footer">
        <button type="submit"  (click)="habitFunc()" class="btn btn-primary" style="float: left;"  [disabled]="habitForm.invalid||isBtnLoading">
            {{'dashboard.issue of certificate.Send a request' | translate}}
            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
        </button>
    </ng-template>
</p-dialog>


<!-- <p-dialog header="{{'dashboard.issue of certificate.The name of the entity to which the certificate is to be issued'|translate}}" [modal]="true" [(visible)]="certificateModelsOpend"> -->

    <!-- <link rel="html" href="https://valsquad.blob.core.windows.net/daleel/ebf86f8e-7ce3-45c0-b84d-ae29f19b4ad0.html"> -->
    
    <!-- <div class="" [innerHTML]="url"></div> -->

    <!-- <iframe [src]="url" frameborder="0"></iframe> -->

    <!-- <pdf-viewer 
    src="https://valsquad.blob.core.windows.net/daleel/ebf86f8e-7ce3-45c0-b84d-ae29f19b4ad0.html"
    [render-text]="true"
    [original-size]="false"
    style="width: 400px; height: 500px"
    ></pdf-viewer> -->

<!-- <object [data]=" url +'#toolbar=0&navpanes=0' " type="application/pdf" width="100%" height="600px"></object> -->

<!-- </p-dialog> -->




