@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/components/input";
@import "src/assets/css/components/buttons";
@import "../../../../../assets/css/components/forms.scss";
@import "../../../../../assets/css/components/validation-form.scss";
.content{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.star{
  color: red;
  font-size: 1.5rem;
}
.issune-certificate-content {
  padding-right: 4rem;
  .all {
    box-shadow: 0px 6px 21px 0px #0000000d;
    padding: 1rem 1rem;

    h4 {
      font-weight: 700;
    }
    .header {
      h3 {
        color: #3052a1;
        font-weight: 700;
      }
    }
    .content-body {
      .right {
        p {
          color: #afafaf;
          font-weight: 400;
          padding: 1rem 0;
        }
      }
      .left {
        padding-right: 2rem;
        span {
          padding: 0.8rem 0;
        }
      }
    }
    .footer {
      button {
        width: 100%;
      }
    }
  }



  .custom-form{
    margin-inline-end: 2rem;
    .title {
    .form-group {
      width: 35rem;
    }
    .ellink {
      margin: 0 8rem;
      padding-top: 5rem;
      color: #5bcedd;
      text-decoration: underline;
    }
  
  }
  .body{
    margin-top: 3rem;
    background: #F8FAFB;
    padding: 3rem 3rem;

    .elcard{
      padding: 3rem 3rem;
      background: #FFF;
      // width: 128rem;
      border: 1px solid #F5F5F5;
      padding: 3rem;

      .elcard-certificate ,.elcard-pay ,.elcard-name{
        p{
          color: #AFAFAF;
        }
        span{
          font-weight: 700;
        }
      }


      }
  }
  
  .elcardo{
        
    border: 1px solid #EEEEEE;
    border-radius: 1rem;
    padding: 2rem;
      .elcardo-body{
         padding: 2rem;
         background-color: #F8C0731F;
         border-radius: 1rem;
         margin: 2rem 0;
         h4{
          color: #F6AE4B;
         }
     }
    }
  }
}

.end-of-content {
  width: 100rem;
  p {
    color: #000000;
    span {
      color: #5bcedd;
    }
  }
}

.submitBtn{
  position: absolute;
  top: 23rem;
  left: 8rem;
}


.nav__dropdown {
  position: relative;
  p-dropdown{
   
    ::ng-deep span{
        padding: 0 6rem 0 !important; 
      }
      
      ::ng-deep .pi{
        position: absolute!important;
        top: 1.7rem!important;
        right: -4rem!important;
      }
  }
 .icon{
    position: absolute;
    top: 1.5rem;
    left: 2rem;
  }
}



.elcard-slice{
  cursor:pointer
}


a.disabled {
  cursor: not-allowed;
}

.habitForm{
  input{
    height: 4rem;
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
  }
}
.Btn-group{
  position: absolute;
  bottom:60% ;
  left: 6rem;

  .topPara{
  margin-left: 2rem;
  margin-top:1rem;
  }
}

.topBTTn{
  position: absolute;
  top: 29rem;
  left: 5rem;
  border: 1px solid;
  &:hover{
    border: 1px solid !important;
  }
}

::ng-deep p-fieldset{
  fieldset{
    margin: 4rem 0;
    border-radius: 2rem !important;

  }
  legend{
    display: flex;
    width: 30rem;
    border: 1px solid #AFAFAF !important ;
    position: relative;
    top: -2rem;
    right: -93rem;
    border-radius: 1.5rem !important;
  }
  a{
    background: none !important;
    &:hover{
      text-decoration: none !important;
    }
  }
 
}

.reason{
  p{
    font-size: 1.5rem;
  }
  ::ng-deep .p-dropdown{
    width: 33.1% !important
  }
}

.mw-6{
 width: 25rem;
 
}
.mw-5{
  width: 17rem;
  
 
}

