<!-- -----BreadCrumb-- -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <fa-icon class="ico" [icon]="faHome"></fa-icon>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Schools List</li>
    </ol>
</nav>
<!-- -------------- -->

<!-- ----------first-filter---------- -->
<div class="first-filter">
    <div class="inpWithIcon">
        <input type="text" placeholder="search..." class="form-control">
        <fa-icon class="ico" [icon]="faSearch"></fa-icon>
    </div>
    <button class="btn">
        filter
        <img src="assets/images/Frame.svg" alt="">
    </button>
</div>
<!-- -------------------------------- -->


<!-- second-filter -->
<div class="all-filters">
    <div class="filter">
        <label> status </label>
        <select class="form-select" aria-label="Default select example">
            <option selected>status</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
    <div class="filter">
        <label> Area </label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Area</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
    <div class="filter">
        <label> City </label>
        <select class="form-select" aria-label="Default select example">
            <option selected>City</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
    <div class="filter">
        <label> curriculum </label>
        <select class="form-select" aria-label="Default select example">
            <option selected>curriculum</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
</div>
<!-- -------------- -->
<div class="all">

    <div class="files">
        <a href="/downloads/archive.xls" download="archive.xls">
            <img src="assets/images/office.svg" alt="">
        </a> |
        <a href="/downloads/archive.xlsx" download="archive.xlsx">
            <img src="assets/images/csv.svg" alt="">
        </a>
    </div>
</div>

<!-- ------Table------- -->
<div class="prim-table">
    <p-table [value]="products1">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="second">second <p-sortIcon field="second"></p-sortIcon>
                </th>
                <th pSortableColumn="third">third <p-sortIcon field="third"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price | currency: 'USD'}}</td>
                <td>{{product.price | currency: 'USD'}}</td>
                <td>{{product.price | currency: 'USD'}}</td>

            </tr>
        </ng-template>
    </p-table>
</div>
<!-- ------------------ -->