<mat-nav-list>
    <div class="logo py-4">
        <img src="./assets/images/1.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>

    <button class="btn btn-primary">{{'Home Page' | translate}} <span> &#10229;</span></button>
    <p>{{'Schools And Students' | translate}}</p>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="schools">
        <mat-icon>school</mat-icon> {{'Schools'| translate}}
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="assignments">
        <mat-icon>school</mat-icon> {{'assignments'| translate}}
    </a>
    <a mat-list-item routerLink="students" routerLinkActive="list-item-active">
        <mat-icon>edit</mat-icon> {{'Students' | translate}}
    </a>
    <a mat-list-item>
        <mat-icon>edit</mat-icon> {{'Parents' | translate}}
    </a>
    <a mat-list-item outerLinkActive="active" routerLink="AnnualHoliday/ViewSpecific/:SID">
        <mat-icon>event_note</mat-icon> {{'Annual Holidays' | translate}}
    </a>

    <a mat-list-item outerLinkActive="active" routerLink="Subjects/ViewSubjectList">
        <mat-icon>format_paint</mat-icon> {{'Subjects' | translate}}
    </a>

    <a mat-list-item outerLinkActive="active" routerLink="UserRoles/ViewUserRoles">
        <mat-icon>person_outline</mat-icon> {{'Job Roles' | translate}}
    </a>

</mat-nav-list>