
    <ng-container *ngIf="!(student$ |async)">
        <div class="row g-5">
            <div class="col-md-4">
                <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
            <div class="col-md-4">
                <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="mode=='edit'">

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary "
          [disabled]="(this.childService.loading$ |async) || !studentForm.valid"
          (click)="onFormSubmitted.emit()">
              <span>{{'shared.saveChanges'| translate}}</span>
              <div class="spinner-border text-light" role="status" *ngIf="this.childService.loading$ |async"></div>
          </button>

          <button  (click)="mode='view'"><a class="cancelbtn mx-4">{{'shared.Cancel'|translate}}</a></button>
         </div>

          <hr class="my-5">
      </ng-container>

    <ng-container *ngIf="(student$ |async) as student">

      <app-student-prohibited-status
      [(mode)]="mode"
      (onFormSubmitted)="updateStudent()"
      [formGroup]="studentForm"></app-student-prohibited-status>

      <hr class="my-5">

        <ng-container *ngIf="mode=='view'">
            <div class="float-btn " (click)="mode='edit'; modeChange.emit(mode)" *permit="claimsEnum.SEG_U_StudentInfo">
                <img src="assets/images/shared/pen-blue-filled.svg" alt="">
            </div>
            <div class="row gx-5">
                <div class="col-md-4">
                    <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.StudentInfo'|translate}}</h3>
                    <app-identity-info [(mode)]="mode" [formGroup]="studentForm"></app-identity-info>

                    <div class="grid-container mt-4">
                      <p class="color-gray-300 fs-4">{{ 'Guardian'|translate }}</p>
                      <span class="color-primary mb-2">{{student?.guardianName | currentLang}}</span>

                      <p class="color-gray-300 fs-4">{{ 'dashboard.parents.relatedType'|translate }}</p>
                      <span class="color-primary mb-2">{{student?.relativeRelation?.name | currentLang}}</span>

                        <p class="color-gray-300 fs-4">{{ 'shared.nationalityCategory'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.nationalityCategory?.name | currentLang}}</span>


                        <p class="color-gray-300 fs-4">{{ 'shared.nativeLanguage'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.motherLanguage?.name | currentLang}}</span>

                        <p class="color-gray-300 fs-4">{{ 'shared.homeLanguage'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.languageAtHome?.name | currentLang}}</span>

                    </div>
                    <div class="d-flex gap-5 mt-5">
                        <p class="color-gray-300 fs-4">{{ 'shared.mostUsedLanguage'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.mostUsedLanguage?.name | currentLang}}</span>
                    </div>


                    <ng-container *ngIf="student.emiratesId">
                        <div class="d-flex gap-5 align-items-center mt-4 fs-4">
                            <p class="color-gray-300 ">{{'shared.Identity Number'|translate}}</p>
                            <span class="color-primary">{{student.emiratesId}}</span>
                            <!-- <a class="color-skyBlue-500" (click)="changeIdentityModelOpened=true">ارسال طلب تعديل </a> -->
                        </div>
                        <div class="grid-container mt-5">

                            <p class="color-gray-300 fs-4">{{ 'shared.nationalIdExpireDate'|translate }}</p>
                            <span class="color-primary mb-2">{{student.emiratesIdExpirationDate  | LocalizeDate}}</span>

                        </div>
                    </ng-container>

                    <ng-container *ngIf="!student.emiratesId">

                        <div class="grid-container mt-5">

                            <p class="color-gray-300 fs-4">{{ 'shared.Identity Number'|translate }}</p>
                            <span class="color-primary mb-2">{{'shared.notFound' |translate}}</span>

                            <p class="color-gray-300 fs-4">{{ 'shared.cause'|translate }}</p>
                            <span class="color-primary mb-2">{{student.reasonForNotHavingEmiratesId}}</span>

                            <p class="color-gray-300 fs-4">{{ 'shared.passportId'|translate }}</p>
                            <span class="color-primary mb-2">{{student.passportId}}</span>

                            <!-- <p class="color-gray-300 fs-4">{{'shared.expireDate'|translate}}</p>
                            <span class="color-primary mb-2">{{student.passportIdExpirationDate |LocalizeDate}}</span> -->

                        </div>
                    </ng-container>

                    <ng-container *ngIf="!student.emiratesId">
                        <ul class="mt-4">
                            <ng-container *ngFor="let item of student?.attachments">
                                <app-file [file]="item" [clickable]="true" [styles]="{'margin-bottom':'1rem'}"></app-file>
                            </ng-container>
                        </ul>
                    </ng-container>


                </div>


                <div class="col-md-4">
                    <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.Student School Information'|translate}}</h3>

                    <div class="d-flex gap-4 mb-4">
                        <p class="color-gray-300 fs-4 flex-shrink-0">{{'School'|translate}}</p>
                        <span *ngIf="currentUserScope==scopeEnum.SPEA" class="color-primary mb-2 flex-shrink-0" [routerLink]="['../../../schools/school/', student?.school?.id]">
                          <a class="color-skyBlue-500">{{student?.school?.name |currentLang}}</a>
                        </span>
                        <span *ngIf="currentUserScope==scopeEnum.Guardian || currentUserScope==scopeEnum.Employee" class="color-primary mb-2 flex-shrink-0">
                            {{student?.school?.name |currentLang}}
                          </span>
                    </div>
                    <div class="grid-container">
                        <p class="color-gray-300 fs-4">{{ 'shared.grade'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.grade.name |currentLang}}</span>


                        <p class="color-gray-300 fs-4">{{'shared.track'| translate}}</p>
                        <span *ngIf="student?.track?.id" class="color-primary mb-2">{{student.track.name |currentLang}}</span>
                        <span *ngIf="!student?.track?.id" class="color-red-500 mb-2">{{'shared.notFound' |translate}}</span>


                        <p class="color-gray-300 fs-4">{{'shared.division'| translate}}</p>

                        <span *ngIf="student.division?.id" class="color-primary mb-2">{{student.division.name |currentLang}}</span>
                        <span *ngIf="!student.division?.id" class="color-red-500 mb-2">{{'dashboard.students.notAddedToDivision'|translate }}</span>


                        <p class="color-gray-300 fs-4">{{ 'dashboard.parents.schoolNumber'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.schoolCode}}</span>

                        <p class="color-gray-300 fs-4">{{'dashboard.parents.ministerialNumber' |translate}}</p>
                        <span class="color-primary mb-2">{{student.ministerialId}}</span>

                        <p class="color-gray-300 fs-4">{{'dashboard.students.isGifted'| translate}}</p>
                        <span class="color-primary mb-2" *ngIf="student?.isGifted">{{'shared.yes'|translate}}</span>
                        <span class="color-primary mb-2" *ngIf="!student?.isGifted">{{'shared.no'|translate}}</span>
                        <ng-container *ngIf="student?.isGifted">
                            <p class="color-gray-300 fs-4">{{'dashboard.students.talent'| translate}}</p>
                            <div  class="mb-2 d-flex">
                                <span class="color-primary " *ngFor="let talent of student?.studentTalents;let i=index">
                                    {{talent?.talentName|currentLang}}<span *ngIf="student?.studentTalents.length>i+1"> , </span>
                                </span>
                            </div>

                        </ng-container>

                        <p class="color-gray-300 fs-4">{{'dashboard.students.withDisabilities'| translate}}</p>
                        <span class="color-primary mb-2">{{student?.isSpecialAbilities? ('shared.yes'| translate) : ('shared.no' | translate)}}</span>

                        <p class="color-gray-300 fs-4" *ngIf="student?.isSpecialAbilities">{{'shared.classroom'| translate}}</p>
                        <span class="color-primary mb-2" *ngIf="student?.isSpecialAbilities">{{student?.isSpecialClass? ('shared.specialClass'| translate) : ('shared.fusionClass' | translate)}}</span>

                        <ng-container *ngIf="student?.isSpecialClass">
                          <p class="color-gray-300 ">{{ 'dashboard.parents.specialEducation'|translate }}</p>
                          <span class="color-primary mb-2 fs-3">{{student?.specialEducation?.name | currentLang}}</span>
                        </ng-container>


                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.Student Address Information'|translate}}</h3>
                    <div class="grid-container">

                        <p class="color-gray-300 fs-4">{{'shared.city'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.address?.city |translate}}</span>

                        <p class="color-gray-300 fs-4">{{ 'shared.emara'|translate }}</p>
                        <span class="color-primary mb-2">{{student?.address?.emirate}}</span>

                        <p class="color-gray-300 fs-4">{{ 'shared.state'|translate}}</p>
                        <span class="color-primary mb-2">{{student?.address?.state}}</span>

                    </div>




                </div>





            </div>


        </ng-container>
    </ng-container>













<!----------------edit mode------------------->

<ng-container *ngIf="student$ |async as student">
    <ng-container *ngIf="mode=='edit'">
        <div class="row gx-5" [formGroup]="studentForm">
            <div class="col-md-4">
                <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.Student Information'|translate}}</h3>

                <app-identity-info [(mode)]="mode" [formGroup]="studentForm"></app-identity-info>

                <ng-container *ngIf="student.emiratesId">
                    <div class="d-flex gap-5 align-items-center mt-4 fs-4">
                        <p class="color-gray-300 "> رقم الهوية</p>
                        <span class="color-primary">{{student.emiratesId}}</span>
                        <a class="color-skyBlue-500" (click)="openChangeIdentityModel.emit()">ارسال طلب تعديل </a>
                    </div>
                    <!-- <div class="grid-container mt-5">

                        <p class="color-gray-300 fs-4">{{ 'shared.nationalIdExpireDate'|translate }}</p>
                        <span class="color-primary mb-2">{{student.emiratesIdExpirationDate | LocalizeDate}}</span>

                    </div> -->
                </ng-container>

                <ng-container *ngIf="!student.emiratesId">
                    <div class="grid-container mt-5">
                        <p class="color-gray-300 fs-4">{{ 'shared.Identity Number'|translate }}</p>
                        <span class="color-primary mb-2">{{'shared.notFound' |translate}}</span>
                    </div>

                    <div class=" custom-form mt-4" *ngIf="reasonForNotHaveIdentityOptions$ | async as options">
                        <div class="form-set ">
                            <label class="label">{{ 'shared.cause'|translate }}</label>
                            <p-dropdown [options]="options" formControlName="reasonForNotHavingEmiratesId" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar':'name.en'}}" placeholder="{{ 'shared.cause'|translate }}" ></p-dropdown>
                        </div>

                        <div class="form-set">
                            <label class="label">{{ 'shared.passportId'|translate }}</label>
                            <p-inputNumber formControlName="passportId" name="identity" [useGrouping]="false" [maxlength]="15" [minlength]="15" placeholder="{{ 'shared.passportId'|translate }}"></p-inputNumber>
                        </div>

                        <!-- <div class="form-set">
                            <label class="label">{{'shared.expireDate'|translate}}</label>
                            <p-calendar formControlName="passportIdExpirationDate"  useUtc dateFormat="DD dd-mm-yy"  icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
                        </div> -->
                    </div>


                </ng-container>

                <div class="form-set mt-4" formGroupName="nationalityCategory">
                    <label class="label required">{{'shared.nationalityCategory'|translate}}</label>
                    <p-dropdown formControlName="id" [options]="nationalitiesCategory$ |async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}"></p-dropdown>
                </div>

                <ng-container>
                    <div class="form-set">
                      <label class="label required">{{'Guardian'|translate}}</label>
                      <!-- <p-dropdown
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="30"
                      [lazy]="true"
                      (onLazyLoad)="onLazyLoad($event)"
                      [filter]="true"
                      (onFilter)="guardiansFilteration.KeyWord = $event.filter"
                      formControlName="guardianId"
                      [options]="AllGuardians"
                      optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeLanguage' |translate}}"></p-dropdown> -->
                      <p-dropdown
                      formControlName="guardianId"
                      [filter]="true"
                      (onFilter)="guardiansFilteration.KeyWord ==$event.filte; getGuardians()"
                      [options]="AllGuardians"
                      optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeLanguage' |translate}}"></p-dropdown>
                    </div>

                    <div class="form-set" formGroupName="motherLanguage">
                        <label class="label required">{{'shared.nativeLanguage'|translate}}</label>
                        <p-dropdown formControlName="id" [options]="languages$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeLanguage' |translate}}"></p-dropdown>
                    </div>

                    <div class="form-set" formGroupName="languageAtHome">
                        <label class="label required">{{'shared.homeLanguage'|translate}}</label>
                        <p-dropdown formControlName="id" [options]="languages$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeLanguage' |translate}}"></p-dropdown>
                    </div>

                    <div class="form-set"  formGroupName="mostUsedLanguage">
                        <label class="label required">{{'shared.mostUsedLanguage'|translate}}</label>
                        <p-dropdown formControlName="id" [options]="languages$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.writeLanguage' |translate}}"></p-dropdown>
                    </div>

                </ng-container>

                <!-- <div class="form-set" *ngIf="student.isGifted">
                    <label class="label">{{'dashboard.students.talent'|translate}}</label>
                    <p-multiSelect formControlName="talents" [options]="talents$ |async" optionValue="id" optionLabel="arabicName" placeholder="{{'dashboard.students.chooseTalent' |translate}}" display="chip"></p-multiSelect>
                </div> -->



                <!-- <div class="form-set">
                    <label class="label">{{'shared.nationalId'|translate}}</label>
                    <input type="text" pInputText placeholder="23545" />
                </div>

                </div> -->



            </div>


            <div class="col-md-4">
                <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.Student School Information'|translate}}</h3>


                <div class=" ">
                    <div class="d-flex gap-4 mb-4">
                        <p class="color-gray-300 fs-4 flex-shrink-0">{{ 'dashboard.parents.currentSchoolName'|translate }}</p>
                        <span class="color-primary mb-2 flex-shrink-0" [routerLink]="['../../../schools/school/', student.school?.id]">
                          <a class="color-skyBlue-500">{{student.school?.name | currentLang}}</a>
                        </span>
                    </div>
                    <div class="grid-container">

                        <p class="color-gray-300 fs-4">{{ 'dashboard.parents.schoolNumber'|translate }}</p>
                        <span class="color-primary mb-2">{{student.schoolCode}}</span>


                        <p class="color-gray-300 fs-4">{{ 'shared.grade'|translate }}</p>
                        <span class="color-primary mb-2">{{student.grade.name |currentLang}}</span>


                        <p class="color-gray-300 fs-4">{{'shared.track'| translate}}</p>
                        <span *ngIf="student?.track?.id" class="color-primary mb-2">{{student.track.name |currentLang}}</span>
                        <span *ngIf="!student?.track?.id" class="color-red-500 mb-2">{{'shared.notFound' |translate}}</span>


                        <p class="color-gray-300 fs-4">{{'shared.division'| translate}}</p>
                        <span *ngIf="student.division?.id" class="color-primary mb-2">{{student.division.name |currentLang}}</span>
                        <span *ngIf="!student.division?.id" class="color-red-500 mb-2">{{'dashboard.students.notAddedToDivision'|translate }}</span>

                        <p class="color-gray-300 fs-4">{{ 'dashboard.students.studentStatus'|translate }}</p>
                        <span class="color-primary mb-2" *ngIf="student.isPassed!=null">{{student.isPassed ? 'ناجح' : 'راسب'}}</span>
                        <span class="color-primary mb-2" *ngIf="student.isPassed==null">{{'shared.NotDeterminedYet'|translate}}</span>



                    </div>

                    <div class="mt-4">
                        <!-- <div class="form-set">
                            <label class="label" for="description">{{'shared.track'| translate}}</label>
                            <p-dropdown formControlName="trackId" [options]="['yes', 'now']" inputId="description" optionLabel="name"></p-dropdown>
                        </div> -->
                        <div class="form-set"  >
                            <label class="label required">{{'dashboard.parents.ministerialNumber' |translate}}</label>
                            <p-inputNumber formControlName="ministerialId" [useGrouping]="false" [maxlength]="10" [minlength]="1"></p-inputNumber>
                        </div>

                        <div class="form-set">
                            <label class="label" for="description">{{'dashboard.students.withDisabilities'| translate}}</label>
                            <p-dropdown formControlName="isSpecialAbilities" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </div>

                        <div class="form-set"*ngIf="isSpecialAbilities.value">
                            <label class="label" for="description">{{'shared.classroom'| translate}}</label>
                            <p-dropdown [(ngModel)]="classType" [ngModelOptions]="{standalone: true}" [options]="specialClassOptions" optionValue="value" (onChange)="onSpecialClassSelected($event.value)" optionLabel="name" placeholder="{{'dashboard.schools.SelectClassType' |translate}}"></p-dropdown>
                        </div>

                        <div class="form-set"*ngIf="isSpecialClass.value"  formGroupName="specialEducation">
                          <label class="label" for="description">{{'shared.classroom'| translate}}</label>
                          <p-dropdown formControlName="id" [options]="educationType$|async" optionValue="value" optionValue="id" optionLabel="{{lang=='ar'?'name.ar' : 'name.en'}}" placeholder="{{'dashboard.parents.specialEducationtype' |translate}}"></p-dropdown>
                        </div>

                        <div class="form-set">
                            <label class="label" for="description">{{'dashboard.students.isChildOfAMartyr'| translate}}</label>
                            <p-dropdown formControlName="isChildOfAMartyr" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </div>
                        <div class="form-set">
                            <label class="label" for="description">{{'dashboard.students.isGifted'| translate}}</label>
                            <p-dropdown #isGifted formControlName="isGifted" [options]="booleanOptions" optionValue="value" optionLabel="name" placeholder="{{'shared.yesOrNo' |translate}}"></p-dropdown>
                        </div>

                        <div class="form-set" *ngIf="isGifted.value">
                            <label class="label" for="description">{{'dashboard.students.chooseTalent'| translate}}</label>
                            <p-multiSelect formControlName="studentTalent" [options]="talents$ |async" optionValue="id" optionLabel="{{lang=='ar' ? 'name.ar': 'name.en'}}" placeholder="{{'dashboard.students.chooseTalent' |translate}}" display="chip"></p-multiSelect>
                        </div>




                    </div>

                    <!-- <ng-container *ngIf="student.emiratesId">
                        <div class="d-flex gap-5 align-items-center mt-4 fs-4">
                            <p class="color-gray-300 "> رقم الهوية</p>
                            <span class="color-primary">{{student.emiratesId}}</span>
                            <a class="color-skyBlue-500" (click)="changeIdentityModelOpened=true">ارسال طلب تعديل </a>
                        </div>
                        <div class="grid-container mt-5">

                            <p class="color-gray-300 fs-4">{{ 'shared.nationalIdExpireDate'|translate }}</p>
                            <span class="color-primary mb-2">{{student.emiratesIdExpirationDate | LocalizeDate}}</span>

                        </div>
                    </ng-container>

                    <ng-container *ngIf="!student.emiratesId">
                        <div class="grid-container mt-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.Identity Number'|translate }}</p>
                            <span class="color-primary mb-2">لا يوجد</span>
                        </div>

                        <div class=" custom-form mt-4">
                            <div class="form-set ">
                                <label class="label">{{ 'shared.cause'|translate }}</label>
                                <input type="text" pInputText placeholder="{{ 'shared.cause'|translate }}" />
                            </div>

                            <div class="form-set">
                                <label class="label">{{ 'shared.passportId'|translate }}</label>
                                <p-inputNumber name="identity" [useGrouping]="false" [maxlength]="15" [minlength]="15" placeholder="{{ 'shared.passportId'|translate }}"></p-inputNumber>
                            </div>

                            <div class="form-set">
                                <label class="label">{{'shared.expireDate'|translate}}</label>
                                <p-calendar [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
                            </div>
                        </div>


                    </ng-container> -->


                </div>



            </div>



            <div class="col-md-4" >
                <h3 class="heading heading--tertiary mb-5">{{'dashboard.students.Student Address Information'|translate}}</h3>
                <!-- <div class="form-set">
                    <label class="label" for="description">{{'shared.religion'| translate}}</label>
                    <p-dropdown [options]="['yes', 'now']" inputId="description" optionLabel="name"></p-dropdown>
                </div> -->
                <ng-container formGroupName="address">
                    <div class="form-set">
                        <label class="label">{{'shared.emara'|translate}}</label>
                        <input type="text" formControlName="emirate" pInputText placeholder="{{'shared.writeEmara'|translate}}" />
                    </div>

                    <div class="form-set">
                        <label class="label">{{'shared.city'|translate}}</label>
                        <input type="text" formControlName="city" pInputText placeholder="{{'shared.chooseCity'|translate}}" />
                        <!-- <p-dropdown formControlName="city" [options]="cities$|async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.chooseCity'|translate }}"></p-dropdown> -->
                    </div>
                    <div class="form-set">
                        <label class="label">{{'shared.state'|translate}}</label>
                        <input type="text" formControlName="state" pInputText placeholder="{{'shared.chooseState'|translate}}" />
                        <!-- <p-dropdown formControlName="state" [options]="(states$|async)" optionValue="value" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.chooseState'|translate }}"></p-dropdown> -->
                    </div>
                </ng-container>

            </div>

        </div>

        <div class="py-6"></div>

    </ng-container>
</ng-container>








<p-dialog header="{{'dashboard.students.sendChangeIdentityReq' | translate}}" [(visible)]="changeIdentityModelOpened" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">

        <div class="custom-form mt-5">
            <input type="text"  pInputText placeholder="{{'dashboard.students.writeNewIdentityNumber'|translate}}" />
        </div>
        <!-- accept=".xlsx, .xls, .csv" -->
        <app-file-upload accept=".pdf" label="{{'shared.clickToUploadFile'| translate}}" view="full" ></app-file-upload>
        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-primary">{{'shared.send'| translate}}</button>
        </div>
    </ng-template>

</p-dialog>



<p-dialog header="{{'dashboard.parents.accountantComment' | translate}}" [(visible)]="isAccountantCommentModel" [draggable]="false" [modal]="true" [style]="{width: '40vw'}">

    <ng-template pTemplate="content">
        <div class="custom-form mt-5" *ngIf="student$ |async as student" [formGroup]="studentForm">
            <!-- <label class="label">{{'dashboard.parents.accountantComment' | translate}}</label> -->
            <p class="paragraph paragraph--sm color-gray-800 mb-6 w-75">
                {{student?.studentPayments?.accountantComment}}
            </p>
        </div>
    </ng-template>

</p-dialog>



