<ng-container *ngIf="editStudentinfoMode==false">
    <div class="float-btn " (click)="childService.onEditMode$.next(true)">
        <img src="assets/images/shared/pen-blue-filled.svg" alt="">
    </div>
    <div class="row gx-5">
        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن طالب</h3>
            <div class="grid-container">
                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.studentName'|translate }}</p>
                <span class="color-primary mb-2">محمد على</span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.studentNickname'|translate }}</p>
                <span class="color-primary mb-2">طارق</span>

                <p class="color-gray-300 fs-4">{{'dashboard.parents.sectionName'|translate }}</p>
                <span class="color-primary mb-2">2002/07/04</span>

                <p class="color-gray-300 fs-4">{{ 'shared.gender'|translate }}</p>
                <span class="color-primary mb-2">مصرى</span>

                <p class="color-gray-300 fs-4">{{'shared.nationalId'|translate }}</p>
                <span class="color-primary mb-2">2002/07/04</span>

                <p class="color-gray-300 fs-4">{{ 'shared.nationalIdExpireDate'|translate }}</p>
                <span class="color-primary mb-2">مصرى</span>
            </div>
        </div>


        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن مدرسه الطالب</h3>
            <div class="grid-container">

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.currentSchoolName'|translate }}</p>
                <span class="color-primary mb-2">
                  <a class="color-skyBlue-500 text-decoration-underline">مدرسه الشارقه الابتدائيه</a>
              </span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.trackName'|translate }}</p>
                <span class="color-primary mb-2">علمى</span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.className'|translate }}</p>
                <span class="color-primary mb-2">
                  <a class="color-skyBlue-500 text-decoration-underline">A 3</a>
              </span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.ministerialNumber'|translate }}</p>
                <span class="color-primary mb-2">234144</span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.ministerialNumber'|translate }}</p>
                <span class="color-primary mb-2">234144</span>

                <p class="color-gray-300 fs-4">{{'dashboard.parents.sectionName'|translate }}</p>
                <span class="color-primary mb-2">2002/07/04</span>

                <p class="color-gray-300 fs-4">{{ 'dashboard.parents.schoolNumber'|translate }}</p>
                <span class="color-primary mb-2">345315252</span>

            </div>
        </div>



        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن عنوان طالب</h3>
            <div class="grid-container">

                <p class="color-gray-300 fs-4">{{'shared.city'|translate }}</p>
                <span class="color-primary mb-2">الرياض</span>

                <p class="color-gray-300 fs-4">{{ 'shared.emara'|translate }}</p>
                <span class="color-primary mb-2">الشارقه</span>

                <p class="color-gray-300 fs-4">{{ 'shared.state'|translate }}</p>
                <span class="color-primary mb-2">الاهليه</span>
            </div>
            <h3 class="heading heading--tertiary mb-5">دليل اثبات الهوية</h3>
            <div class="grid-container">

                <div class="col-md-12  d-flex align-items-center">
                    <span class="color-gray-300 ml-4"> رقم جواز السفر / الهوية</span>
                    <span class="color-primary">204204205</span>
                </div>
                <div class="col-md-12 d-flex align-items-center">
                    <span class="color-gray-300"> تاريخ انتهاء </span>
                    <span class="color-primary">204204205</span>
                </div>
                <div class="col-md-12 d-flex align-items-center">
                    <ul class="file__list">
                        <li class="file__list__item">
                            <div class="icon--file mb-4">
                                <img src="assets/images/shared/PDFSEC.svg" alt="">
                                <span class="text color-primary"> ملف خلاصة القيد.pdf</span>
                            </div>
                            <div class="icon--file mt-6">
                                <img src="assets/images/shared/PDFSEC.svg" alt="">
                                <span class="text color-primary"> ملف خلاصة القيد.pdf</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row gx-5 p-4 bg-gray-50 mt-6 radius-15">
        <h3 class="heading heading--tertiary mb-4">مدفوعات</h3>
        <div class="col d-flex align-items-center gap-3">
            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.paidAmount'|translate }}</p>
            <span class="color-primary mb-2">10,000 AED</span>
        </div>
        <div class="col d-flex align-items-center gap-3">
            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.requiredAmount'|translate }}</p>
            <span class="color-primary mb-2">10,000 AED</span>
        </div>
        <div class="col d-flex align-items-center gap-3">
            <p class="color-gray-300 fs-4">{{ 'dashboard.parents.restAmount'|translate }}</p>
            <span class="color-primary mb-2">5,000 AED</span>
        </div>
        <div class="col d-flex align-items-center gap-3">
            <p class="color-gray-800 fs-4 fw-bold">{{'dashboard.parents.accountantComment'|translate }}</p>
            <span class="mb-2">
              <a class="color-skyBlue-500">عرض التعليق</a>
          </span>
        </div>
    </div>
</ng-container>
<!----------------edit mode------------------->
<ng-container *ngIf="editStudentinfoMode==true">
    <div class="row gx-5">
        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن طالب</h3>
            <div class="form-set">
                <label class="label" for="trackId">{{'dashboard.students.studentName'|translate}}<span>(للاطلاع فقط)</span></label>
                <input type="text" id="trackId" readonly="true" formControlName="arabicName" pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'dashboard.students.studentNickname'|translate}}</label>
                <input type="text" id="trackId" formControlName="surName" pInputText placeholder="{{'dashboard.students.studentNickname'|translate}}" />
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.birthDay'|translate}}<span>(للاطلاع فقط)</span></label>
                <p-calendar [disabled]="true" formControlName="birthDate" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.gender'|translate}}<span>(للاطلاع فقط)</span></label>
                <p-dropdown [options]="['yes', 'now']" readonly="true" formControlName="genderId" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.nationality'|translate}}<span>(للاطلاع فقط)</span></label>
                <input type="text" id="trackId" readonly="true" formControlName="nationalityId" pInputText placeholder="اماراتى" />
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.nationalId'|translate}}<span>(للاطلاع فقط)</span></label>
                <input type="text" id="trackId" formControlName="nationalId" pInputText placeholder="23545" />
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.nationalIdExpireDate'|translate}}</label>
                <p-calendar formControlName="expireDate" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" selectionMode="range" placeholder="2002/07/04"></p-calendar>
            </div>

        </div>


        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن مدرسه الطالب</h3>
            <div class="form-set">
                <label class="label" for="trackId">{{'dashboard.parents.currentSchoolName'|translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="schoolId" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <div class="form-set">
                <label class="label" for="description">{{'dashboard.parents.schoolNumber'| translate}}</label>
                <input type="text" id="trackId" formControlName="schoolCode" pInputText placeholder="34321" />
            </div>

            <div class="form-set">
                <label class="label" for="description">{{'shared.class'| translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="classRoomId" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <div class="form-set">
                <label class="label" for="description">{{'shared.sectionName'| translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="trackId" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <!-- <div class="form-set">
              <label class="label" for="trackId">{{'dashboard.parents.currentSchoolName'|translate}}</label>
              <p-dropdown [options]="['yes', 'now']" formControlName="schoolId" inputId="description" optionLabel="name"></p-dropdown>
          </div> -->


            <div class="form-set">
                <label class="label" for="trackId">{{'dashboard.parents.ministerialStudentNumber'|translate}}</label>
                <input type="text" id="trackId" formControlName="ministerialId" pInputText placeholder="{{'dashboard.students.studentName'|translate}}" />
            </div>

            <div class="form-set">
                <label class="label" for="description">{{'dashboard.students.specialStudent'| translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="isSpecialAbilities" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <div class="form-set">
                <label class="label" for="description">{{'dashboard.students.isStudentOneOfFirst'| translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="isPassed" inputId="description" optionLabel="name"></p-dropdown>
            </div>
        </div>



        <div class="col-md-4">
            <h3 class="heading heading--tertiary mb-5">معلومات عن عنوان طالب</h3>
            <div class="form-set">
                <label class="label" for="description">{{'shared.religion'| translate}}</label>
                <p-dropdown [options]="['yes', 'now']" formControlName="religionId" inputId="description" optionLabel="name"></p-dropdown>
            </div>

            <div class="form-set">
                <label class="label" for="trackId">{{'shared.city'|translate}}</label>
                <input type="text" id="trackId" formControlName="city" pInputText placeholder="{{'shared.writeCity'|translate}}" />
            </div>
            <div class="form-set">
                <label class="label" for="trackId">{{'shared.emara'|translate}}</label>
                <input type="text" id="trackId" formControlName="emara" pInputText placeholder="{{'shared.writeEmara'|translate}}" />
            </div>
            <div class="form-set">
                <label class="label" for="trackId">{{'shared.state'|translate}}</label>
                <input type="text" id="trackId" formControlName="state" pInputText placeholder="{{'shared.writeState'|translate}}" />
            </div>

        </div>

    </div>


    <div class="row gx-5 p-4 bg-gray-50 mt-6 radius-15">
        <h3 class="heading heading--tertiary mb-4">مدفوعات</h3>
        <div class="col-md-4">
            <label class="label" for="trackId">{{'dashboard.parents.requiredAmount'|translate}}</label>
            <input type="text" id="trackId" formControlName="requiredAmount" pInputText placeholder="50,000 AED" />
        </div>
        <div class="col-md-4">
            <label class="label" for="trackId">{{'dashboard.parents.paidAmount'|translate}}</label>
            <input type="text" id="trackId" formControlName="paidAmount" pInputText placeholder="10,000 AED" />
        </div>
        <div class="col-md-4">
            <label class="label" for="trackId">{{'dashboard.parents.restAmount'|translate}}</label>
            <input type="text" id="trackId" formControlName="restAmount" pInputText placeholder="1,000 AED" />
        </div>

        <div class="col-md-12 mt-4">
            <label class="label" for="trackId">{{'dashboard.parents.accountantComment'|translate}}</label>
            <input type="text" id="trackId" formControlName="accountantComment" pInputText placeholder="{{'dashboard.parents.accountantComment'|translate}}" />
        </div>
    </div>
</ng-container>
