<app-workflow [steps]="[{ar:'موافقة الهيئة', en:'Spea Approval'}]"></app-workflow>

<div class="custom-form mt-6">
    <h4 class="mb-4 color-primary" style="font-weight: 700">
        {{
        "dashboard.issue of certificate.Add the required information - board certification"
        | translate
        }}
    </h4>
    <span class="mb-4" style="color: #afafaf">{{
        "dashboard.issue of certificate.please2" | translate
        }}</span>
    <br />


    <div class="d-flex align-items-center justify-content-end">
        <div class="d-flex">
            <button type="submit" class="btn btn-primary mx-2" (click)="sendBoardCertificateReq()"
                [disabled]="!saveBtn || isBtnLoading || !isBoardFileSelected()">
                {{ "dashboard.issue of certificate.Save" | translate }}
                <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
            </button>
            <button class="btn btn-light" *ngIf="!studentId" (click)="onBack.emit()">
                {{ "dashboard.issue of certificate.previous" | translate }}
            </button>
            <button class="btn btn-light mx-2" *ngIf="studentId" (click)="onCancel.emit()">
                {{ "dashboard.issue of certificate.previous" | translate }}
            </button>
        </div>
    </div>



    <ng-container *ngFor="let student of choosenStudents; let i = index">

        <p-fieldset [style]="{ minHeight: '65vh', padding: '3rem' }" class="position-relative p-5" [toggleable]="true">
            <ng-template pTemplate="header">
                <span class="fw-bold">{{ student.name | currentLang }}</span>
            </ng-template>

            <div class="col-md-4">
                <p class="label">
                    {{ "dashboard.issue of certificate.Select reason" | translate }}
                </p>
                <p-dropdown #dropdown [options]="boardReasons$ | async"
                    optionLabel="{{ lang == 'ar' ? 'name.ar' : 'name.en' }}" (ngModelChange)="onReasonChange($event, i)"
                    name="reason" ngModel optionValue="id" placeholder="ادخال السبب">
                </p-dropdown>
            </div>

            <div class="row align-items-end" *ngIf="student?.attachments?.length">

              <div class="d-flex align-items-center mb-3 mt-6 gap-5">
                <div class="bg-orange-50 p-3 fs-3 radius-15 flex-grow-1" >
                    <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                    <span class="color-gray-800">" يرجى إختيار ملف شهادة البورد صيغه (png / jpge) من المرفقات التالية . او إضافة ملف جديد "</span>
                </div>

                <a class="btn btn-primary" target="_blank" [routerLink]="['/parent', getCurrentGuardianId ,'child', student.id]" [queryParams]="{registered:true,step:3}">{{'shared.addNewFile' |translate}}</a>
              </div>

                <p class="color-red-500 fs-4 mt-6" *ngIf="showError">يجب ان يكون الملف المختار فى صيغة (jpge / png)</p>

                <div class="col-md-4 my-4" *ngFor="let file of student.attachments; let k = index">
                  <ng-container *ngIf="file?.url">
                    <label class="fw-bold fs-4 mb-3">{{file?.titel | currentLang}}</label>

                    <div class="elcardo" [ngClass]="{ selectedCard: file.isSelected == true }" (click)="onAttachmentSelected(file, i);">
                        <div class="elcardo-title d-flex">
                            <img src="assets/images/shared/file.svg" [style.width.rem]="4.5" alt="" alt="pdf" />
                            <p class="mx-5 my-2">{{ file?.name }}</p>
                        </div>
                        <!-- <div class="elcardo-body">
                            <h4>{{ "dashboard.issue of certificate.note" | translate }}:</h4>
                            <p>{{ file?.comment }}</p>
                        </div> -->
                    </div>
                  </ng-container>

                </div>
            </div>
        </p-fieldset>
    </ng-container>
</div>
