<app-workflow *ngIf="!activateSpeaView" [steps]="[{ar:'موافقة الهيئة', en:'Spea Approval'}]"></app-workflow>

<div class="custom-form mt-6 bg-white p-5 radius-15">

    <h4 class="mb-4 color-primary" style="font-weight: 700" *ngIf="!activateSpeaView">
        {{"issue of certificate.Add the required information - board certification"| translate}}
    </h4>
    <!-- <span class="mb-4" style="color: #afafaf">{{"issue of certificate.please2" | translate}}</span> -->
    <br />


    <div class="d-flex align-items-center justify-content-end position-relative" [style.top.rem]="'-5'">
        <div class="d-flex">
            <button type="submit" class="btn btn-primary mx-2" (click)="sendBoardCertificateReq()"
                [disabled]="!saveBtn || isBtnLoading || !isBoardFileSelected()">
                {{ "issue of certificate.Save" | translate }}
                <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
            </button>

            <ng-container *ngIf="!activateSpeaView">
              <button class="btn btn-light" *ngIf="!studentId" (click)="onBack.emit()">{{ "issue of certificate.previous" | translate }}</button>
              <button class="btn btn-light mx-2" *ngIf="studentId" (click)="onCancel.emit()">{{ "issue of certificate.previous" | translate }}</button>
            </ng-container>
        </div>
    </div>




    <ng-container *ngFor="let student of choosenStudents; let i = index">

        <div  class="border-dark radius-15 p-5 ">

            <div class="d-flex align-items-center gap-3 mb-6">
              <img  style="width:1.75rem" src="assets/images/home/student/student.svg" alt="">
              <h3 class="heading heading--secondary color-primary">{{'schools.student' | translate}} :- </h3>
              <span class="color-skyBlue-500 fw-bold">{{student?.name |currentLang}}</span>
            </div>


            <div class="col-md-4">
                <p class="label">
                    {{ "issue of certificate.Select reason" | translate }}
                </p>
                <p-dropdown [options]="boardReasons$ | async"
                    optionLabel="{{ lang == 'ar' ? 'name.ar' : 'name.en' }}" (ngModelChange)="onReasonChange($event, i)"
                    name="reason" ngModel optionValue="id" placeholder="{{'issue of certificate.Enter the reason' |translate}}">
                </p-dropdown>
            </div>

            <!-- <div class="d-flex align-items-center mb-3 mt-6 gap-5">
              <div class="bg-orange-50 p-3 fs-3 radius-15 flex-grow-1" >
                  <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
                  <span class="color-gray-800">يرجى إختيار ملف شهادة البورد صيغه (png / jpge) من المرفقات التالية .</span>
              </div>

            </div> -->

            <label class="fw-bold mt-6 mb-4">{{'students.boardFile' | translate}} :- </label>

            <div class="row align-items-end" *ngIf="student?.attachments?.length">
                <!-- <p class="color-red-500 fs-4 mt-6" *ngIf="showError">يجب ان يكون الملف المختار فى صيغة (jpge / png)</p> -->

                <div class="col-md-4 my-4" *ngFor="let attachment of student.attachments; let k = index">
                    <label class="fw-bold fs-4 mb-3">{{fiattachmentle?.titel | currentLang}}</label>

                    <div class="elcardo selectedCard" *ngFor="let file of attachment?.files">
                        <div class="elcardo-title d-flex ">
                            <img src="assets/images/shared/file.svg" [style.width.rem]="4.5" alt="" alt="file" />
                            <p class="mx-5 my-2 word-break-all">{{ file?.name }}</p>
                        </div>
                    </div>
                </div>
              </div>

              <app-informative-block *ngIf="!student?.attachments?.length || (student?.attachments?.length && !student?.attachments[0]?.files?.length)" size="sm" subTitle="{{'emptyList.missingBoardFile' |translate}}"></app-informative-block>

        </div>
    </ng-container>
</div>
