<h3 class="heading heading--tertiary mb-6"> {{'dashboard.SystemSetting.fileSettingList'|translate}}</h3>

<div class="actions-btn">
    <button (click)="updateRequiredFiles()" class="btn btn-primary" [disabled]="onSubmitForm">
        {{'shared.saveChanges' | translate}}
        <div class="spinner-border" role="status" *ngIf="onSubmitForm"></div>
    </button>
</div>

<ng-container  [formGroup]="requireFilesForm" *ngIf="requestsFilesCtr.controls && !loading">
    <ng-container  formArrayName="requestsFiles">
        <div class="pt-4 custom-form" *ngFor="let req of requestsFilesCtr.controls; let reqIndex=index" [formGroupName]="reqIndex">
            <div class="d-flex align-items-center gap-4 mb-6">
                <span class="fs-3 fw-bold">{{'dashboard.SystemSetting.requestName'|translate}} : </span>
                <span class="">{{'dashboard.Requests.'+req.value.requestType | translate}}</span>
            </div>

            <div class="row gx-5 mb-6">
                <div class="col-md-3">
                    <label  class="label">{{'dashboard.SystemSetting.maxFilesAllowedToUpload'|translate}}</label>
                    <p-inputNumber formControlName="filesCount" [showButtons]="true" [min]="0" [max]="100" (onInput)="filesCountChange($event.value, reqIndex)" placeholder="0" inputId="classCount"></p-inputNumber>
                </div>
                <div class="col-md-4 d-flex align-items-center gap-4 align-self-end mb-3">
                    <label class="mb-2" for="description">{{'shared.activated'|translate}}</label>
                    <p-inputSwitch formControlName="isRequired" [binary]="true"></p-inputSwitch>
                    <span class="mb-2" *ngIf="req.get('isRequired')?.value">{{'shared.yes' |translate}}</span>
                    <span class="mb-2" *ngIf="!req.get('isRequired')?.value">{{'shared.no' |translate}}</span>
                </div>
                <!-- <div class="col-md-6">
                    <div role="button" class="col-md-3 mb-4 d-flex align-items-end justify-content-end" >
                        <img (click)="deleteRow(reqIndex)" src="assets/images/shared/rect-xmark.svg" alt="">
                    </div>
                </div> -->
            </div>

            <div class="" formArrayName="files">
                <!-- <div class="col-md-4">
                    <label  class="label">{{'dashboard.SystemSetting.requestName'|translate}}</label>
                    <p-dropdown formControlName="request" [options]="diseases" optionLabel="name" placeholder="{{'dashboard.SystemSetting.chooseRequest'|translate}}"></p-dropdown>
                </div> -->
                <div class="mb-6 row gx-4" *ngFor="let file of reqFilesCtr(reqIndex).controls; let i=index" [formGroupName]="i">
                    <ng-container formGroupName="name">
                        <div class="col-md-3">
                            <label  class="label">{{'dashboard.SystemSetting.fileNameAr'|translate}}</label>
                            <input pInputText formControlName="ar" [LangRestrict]="'ar'">
                        </div>
                        <div class="col-md-3">
                            <label  class="label">{{'dashboard.SystemSetting.fileNameEn'|translate}}</label>
                            <input pInputText formControlName="en" [LangRestrict]="'en'">
                        </div>
                    </ng-container>

                    <div class="col-md-1">
                        <label  class="label">{{'shared.fileType'|translate}}</label>
                        <p-dropdown formControlName="type" [options]="filesTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'dashboard.SystemSetting.chooseAttachment'|translate}}"></p-dropdown>
                    </div>

                    <div class="col-md-3">
                        <label  class="label">{{'dashboard.SystemSetting.maxSizeAllowed'|translate}}</label>
                        <p-inputNumber formControlName="size" [showButtons]="true" [min]="1" [max]="32"  suffix="{{'dashboard.SystemSetting.mb'|translate}}"></p-inputNumber>
                    </div>

                    <div class="col-md-2 d-flex align-items-center gap-4 align-self-end mb-3">
                      <label class="mb-2" for="description">{{'dashboard.surveys.mandatory'|translate}}</label>
                      <p-inputSwitch formControlName="isMandatory" [binary]="true"></p-inputSwitch>
                      <span class="mb-2" *ngIf="file.get('isMandatory')?.value">{{'shared.yes' |translate}}</span>
                      <span class="mb-2" *ngIf="!file.get('isMandatory')?.value">{{'shared.no' |translate}}</span>
                  </div>
                </div>
                <!-- <div role="button"
                class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3 mt-6"
                (click)="addNewFileConditionToReq(reqIndex, i)">
                    <fa-icon [icon]="faPlus"></fa-icon>
                    <span>{{'dashboard.SystemSetting.addNewCondition' |translate}}</span>
                </div> -->


            </div>

            <hr class="my-6">
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="!requestsFilesCtr.controls.length && !loading">
    <app-informative-block subTitle="{{'emptyList.fileSettings' |translate}}"></app-informative-block>
</ng-container>


<ng-container *ngIf="loading">
    <div class="row g-5">
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="6" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>

</ng-container>
