@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import'src/assets/css/components/LargeForm';


#content{
    width: 100%;
  
   
}
.row{
    margin-bottom: 3.5rem;
   }
.line{
    margin-right: 1.2rem;
    width:98%;
    color:#a9a9a9;
}