<div class="prim-table">
    <p-table #dt [value]="students" [paginator]="true" [(rows)]="rows" [(first)]="first">
        <ng-template pTemplate="caption">
            <app-table-caption
            (onExport)="onExport($event)" 
            (onFilter)="getSchoolGrades()" 
            (onSearch)="filtration.KeyWord = $event; getSchoolGrades()"
            (onClear)="clearFilter()">
        </app-table-caption>
        </ng-template>
        
        <ng-template pTemplate="header" let-columns="columns">
            <tr>
                <!-- <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
                <th pSortableColumn="actions"></th> -->
                <th pSortableColumn="code">{{'dashboard.schools.gradeName'|translate}} <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">{{'dashboard.schools.classeNumberPerWeak'|translate}} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="category">{{'dashboard.schools.tracksNumber'|translate}} <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="quantity">{{'dashboard.schools.sectionsNumber'|translate}} <p-sortIcon field="quantity"></p-sortIcon></th>
                <th pSortableColumn="price">{{'dashboard.schools.studentNumber'|translate}} <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="actions" class="actions"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
                <!-- <td *ngFor="let col of cols | paginate:{ id: 'foo',itemsPerPage: 4 ,currentPage: p,totalItems: 8 }">
                    {{product[col.field]}}
                </td> -->
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>
                    <div class="color-skyBlue-700 ">
                        <a role="button" class="gap-2 color-skyBlue-700  text-decoration-underline fs-4" (click)="openSectionModal()">
                             <p><span class="">4</span>&nbsp;<span>{{'dashboard.schools.tracks' |translate}}</span></p>
                        </a>
                    </div>
                </td>
                <td>{{product.quantity}}</td>
                <td>{{product.price | currency: 'USD'}}</td>
                <td class="actions">
                    <button class="btn btn--sm btn-outline-none" routerLink="grade/1">
                        <img class="icon" src="assets/images/shared/pen.svg" alt="">
                        <span>{{'shared.edit' |translate}}</span>
                    </button>
                    <!-- <div class="color-skyBlue-700  d-flex align-items-center gap-2">
                        <fa-icon [icon]="faPencil"></fa-icon>
                        <a role="button" routerLink="grade/1" class=" color-skyBlue-700  text-decoration-underline fs-3">{{'shared.edit' |translate}}</a>
                    </div> -->
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div class="">
        <app-pagination [totalItems]="students.length" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
</div>


<p-dialog header="4 مسارات" [(visible)]="isDialogOpened"  [modal]="true" [style]="{width: '50vw', fontSize:'2rem'}">
    <ng-template pTemplate="content">
        <ul class="color-primary border-top-gray mb-5">
            <li class="border-bottom-gray py-4 d-flex align-items-baseline gap-3">
                <img src="assets/images/shared/bullet.svg" alt="">
                <span>مسار علمى</span>

            </li>
            <li class="border-bottom-gray py-4 d-flex align-items-baseline gap-3">
                <img src="assets/images/shared/bullet.svg" alt="">
                <span>مسار علمى</span>

            </li>
            <li class="border-bottom-gray py-4 d-flex align-items-baseline gap-3">
                <img src="assets/images/shared/bullet.svg" alt="">
                <span>مسار علمى</span>

            </li>
            <li class=" py-4 d-flex align-items-baseline gap-3">
                <img src="assets/images/shared/bullet.svg" alt="">
                <span>مسار علمى</span>

            </li>
            <!-- <li class="border-bottom-gray py-2">مسار آداب</li>
            <li class="border-bottom-gray py-2">مسار علوم تجريبية</li>
            <li class="border-bottom-gray py-2">مسار فنون تشكيلية</li> -->
        </ul>
    </ng-template>
</p-dialog>