@import '../.../../../../../assets/css/utils/variables.scss';
@import 'src/assets/css/components/buttons';
.leftbtn {
    font-family: 'Droid';
    // right: 70.9%;
    position: relative;
    bottom: 4.6rem;
    width: max-content;
}

.rightbtn {
    font-family: 'Droid';
    position: relative;
    bottom: 4.6rem;
    width: max-content;
}
