<div class="btn btn-primary leftbtn" role="button" (click)="goToAddNew()">
    <!-- <fa-icon [icon]="checkIcon" class="icon "></fa-icon> -->
    {{'breadcrumb.Save'|translate}}

</div>
<div class="btn color-orange-200 rightbtn" role="button" (click)="goToCancle()">

    {{'breadcrumb.Cancel'|translate}}

</div>
<!-- <div class="btn {{backGroundColor}} leftbtn" role="button" (click)="goToAddNew()">
    <fa-icon [hidden]="backGroundColor=='btn-primary'" [icon]="plusIcon" class="icon "></fa-icon>
    {{content|translate}}
</div> -->
