@import '../.../../../../../assets/css/utils/variables.scss';
@import 'src/assets/css/components/buttons';
.leftbtn {
    font-family: 'Droid';
    right: 70.9%;
    position: relative;
    bottom: 4.6rem;
    width: 18rem;
}

.rightbtn {
    width: 22rem;
    font-family: 'Droid';
    right: 80.9%;
    position: relative;
    bottom: 8.8rem;
    font-size: 18px;
}

.my-disable {
    pointer-events: none;
}