<app-add-btn bg-primary [backGroundColor]="'btn-outline-primary'" [route]="'/dashboard/educational-settings/assessments/new-assessment'" [content]="'breadcrumb.AddASSesment'">
    <fa-icon [icon]="plusIcon" class="icon "></fa-icon>
</app-add-btn>
<div class="prim-table" *ngIf="assessmentList.totalAllData || assessmentList.loading" >


    <p-table #dt [value]="assessmentList.list" (onSort)="onSort($event)" [lazy]="true">

        <!-- Table Caption -->
        <ng-template pTemplate="caption">
            <app-table-caption (onExport)="onExport($event)" (onFilter)="getRate()" (onSearch)="filtration.KeyWord = $event; getRate()" (onClear)="clearFilter()">
                <div class="row gx-5 form-set">
                    <div class="col">
                        <label class="label">{{'shared.activated'|translate}}</label>
                        <p-dropdown (onChange)="onChange($event)" [options]="filteration_status" optionLabel="name"></p-dropdown>
                    </div>
                </div>

            </app-table-caption>

        </ng-template>
    </p-table>

    <div class="row">
        <ng-container *ngIf="assessmentList.list.length > 0">
            <ng-container *ngFor="let rate of assessmentList.list">
                <div class="col-md-4 ml-3">
                    <p-card class="p-5 m-4 radius-5">
                        <ng-template pTemplate="header">
                            <div class="row  p-3  radius-5">
                                <div class="col-md-6">
                                    <h3 class="color-primary  fs-3 mt-4">{{'dashboard.Assessment.Academicevaluation'|translate}}</h3>
                                </div>

                                <div class="col-md-6 mt-3 " *ngIf="isAdmin">
                                    <label class="Label fs-3 m-3 fw-300">{{'shared.activated'|translate}}</label>
                                    <p-inputSwitch (onChange)="isToggleLabel($event)" [(ngModel)]="rate.isActive" id="switchbtn"></p-inputSwitch>
                                    <span class="Label" *ngIf="!rate.isActive">{{'shared.no'|translate}}</span>
                                    <span class="Label" *ngIf="rate.isActive">{{'shared.yes'|translate}}</span>
                                </div>
                            </div>
                        </ng-template>
                        <div class="row gx-5 p-3 bg-gray-50  radius-5">
                            <div class="col-md-6">
                                <span class="color-skyBlue-500 Minmum fw-500">{{'dashboard.Assessment.Minmum Degree'|translate}}: {{rate.min}} </span>
                            </div>
                            <div class="col-md-6">
                                <span class="color-skyBlue-500  Minmum fw-500"> {{'dashboard.Assessment.Maximum Degree'|translate}} :{{rate.max}}</span>
                            </div>
                        </div>
                        <div class="row" id="cardSize">

                            <ng-container *ngIf="rate.rateScores.length > 0">
                                <div class="col-md-4">
                                    <p class="color-skyBlue-300 fs-4 mb-4 mt-4">{{'dashboard.Assessment.RatingCode'|translate}}</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="color-skyBlue-300 fs-4 mb-4 mt-4">{{'dashboard.Assessment.sign'|translate}}</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="color-skyBlue-300 fs-4 mb-4 mt-4">{{'dashboard.Assessment.degreeLimit'|translate}}</p>
                                </div>
                                <ng-container *ngFor="let sc of rate.rateScores">
                                    <div class="col-md-4">
                                        <ul>
                                            <li class="symbol-one color-primary m-3 fs-3 fw-700 bg-gray-30 radius-5">{{sc.code}}</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li class="color-primary m-3 pt-3 fs-4 fw-700">
                                                {{ 'dashboard.Assessment.' + (sc.isSuccess ? 'successful' : 'unSuccessful') | translate}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul>
                                            <li class="m-1 pt-2">
                                                <p class="color-gray-300 fs-4">{{'dashboard.Assessment.Deserving Degrees'|translate}}</p>
                                                <span class="color-black mb-4">  {{'dashboard.Assessment.From'|translate}} {{sc.from}} {{'dashboard.Assessment.To'|translate}}{{sc.to}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <ng-template pTemplate="footer">
                            <div class="btn btn-primary " role="button" (click)="navigateToEditAssessment(rate.id)">
                                <fa-icon class="icon" [icon]="checkIcon"></fa-icon>
                                {{'shared.Edit'|translate}}
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div *ngIf="assessmentList.total > paginationState.rows">
        <app-pagination [totalItems]="assessmentList.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>

    
    <ng-container *ngIf="assessmentList.total == 0" >
        <app-informative-block title="{{'emptyList.Assessment List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>

    <app-loader></app-loader>
</div>