<div class="p-5 radius-15 bg-white border-dark custom-form">
  <h3 class="heading heading--secondary color-primary mb-5">{{'dashboard.students.Issuance of certificate' | translate}} :- </h3>


  <div class="row  justify-content-between" >
      <div class="col-lg-4">
          <label class="label">{{'dashboard.students.type of certificate'|translate}} <span class="star">*</span></label>
          <p-dropdown placeholder="{{'dashboard.students.type of certificate'|translate}}"
          [options]="certificatesList$ |async"
          optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}"
          [(ngModel)]="selectedCertificate"></p-dropdown>
      </div>

      <div class="col d-flex align-self-end justify-content-end mb-3" *ngIf="selectedCertificate?.value==certificateTypeEnum.TransferCertificate || selectedCertificate?.value==certificateTypeEnum.ContinuingEducationCertificate || selectedCertificate?.value==certificateTypeEnum.GoodBehaviorCertificate">
        <button  type="submit" class=" btn btn-primary mx-2" (click)="submitOtherCertifiates()"[disabled]="onSubmit">
          {{ "dashboard.issue of certificate.Save" | translate }}
        <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
        </button>

      </div>
  </div>

  <div class="mt-5">
    <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3" *ngIf="selectedCertificate?.value ==certificateTypeEnum.DiplomaCertificate">
        <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
        <span class="color-gray-800">"شهادة الدبلوم يمكن طلبها من جميع الصفوف الثاني عشر في كل المناهج عدا المنهج البريطانى فيمكن طلبها من الصف الثالث عشر و المنهج الفلبيني فيمكن طلبها من الصف العاشر "</span>
    </div>

    <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3" *ngIf="selectedCertificate?.value ==certificateTypeEnum.TransferCertificate">
        <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
        <span class="color-gray-800">"شهادات الانسحاب (الانتقال) لا يمكن طلبها الا من قبل الأشخاص المنسحبين من قبل."</span>
    </div>


    <div class="bg-orange-50 p-3 radius-15 mb-4 mt-3" *ngIf="selectedCertificate?.value ==certificateTypeEnum.SchoolInternalSubjectsCertificate">
      <span class="color-orange-300 ">{{'shared.note' |translate}} : </span>
      <span class="color-gray-800">"شهادة المواد الداخليه يتم اصدارها لطلاب المنهج البريطانى فقط."</span>
    </div>
  </div>

  <hr class="my-5">

  <div [ngSwitch]="selectedCertificate?.value">
    <div *ngSwitchCase="certificateTypeEnum.AcademicSequenceCertificate">
      <app-academic-sequence [choosenStudents]="[studentData]" [activateSpeaView]="true"></app-academic-sequence>
    </div>
    <div *ngSwitchCase="certificateTypeEnum.BoardCertificate">
      <app-board-certificate [choosenStudents]="[studentData]" [activateSpeaView]="true"></app-board-certificate>
    </div>
    <div *ngSwitchCase="certificateTypeEnum.GradesCertificate">
      <app-degree-certificate [certificateType]="selectedCertificate?.value" [choosenStudents]="[studentData]" [activateSpeaView]="true"></app-degree-certificate>
    </div>
    <div *ngSwitchCase="certificateTypeEnum.SchoolInternalSubjectsCertificate">
      <app-degree-certificate [certificateType]="selectedCertificate?.value" [choosenStudents]="[studentData]" [activateSpeaView]="true"></app-degree-certificate>
    </div>
    <div *ngSwitchCase="certificateTypeEnum.DiplomaCertificate">
      <app-diploma-certificate [choosenStudents]="[studentData]" [activateSpeaView]="true"></app-diploma-certificate>
    </div>

  </div>

  <form [formGroup]="certificateFormGrp">
    <ng-container *ngIf=" certificateName.value==certificateTypeEnum.GradesCertificate" class="issune-certificate-content">
      <div >

              <div class="row gx-5 form-set">

                  <div class="col-md-4 position-relative">
                      <label class="label"> {{'dashboard.issue of certificate.academic year' | translate}} <span class="star">*</span>  </label>
                      <p-dropdown #dropdown  [dropdownIcon]="'none'"
                        [options]="schoolYearsList"
                        optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" formControlName="yearId" optionValue="id" placeholder="{{'dashboard.SchoolYear.Select School Year' | translate}}">
                        </p-dropdown>
                      <img src="assets/images/navBar/calendar.svg" alt="">
                  </div>


                  <div class="col-md-4">
                    <label class="my-2">{{'dashboard.reports.semester' | translate}} <span class="star">*</span></label>
                    <p-dropdown
                        placeholder="{{'dashboard.reports.select semester'| translate}}"
                        formControlName="semester" [options]="semesters" optionLabel="name" optionValue="value">
                    </p-dropdown>
                  </div>

                  <div class="col-md-4 ">
                      <label class="label">{{'dashboard.issue of certificate.type of certificate' | translate}} <span class="star">*</span> </label>
                      <p-dropdown
                          placeholder="{{'dashboard.issue of certificate.choose certificate'| translate}}"
                          formControlName="gradeCertificateType" [options]="degreescertificates" optionLabel="name" optionValue="value">
                      </p-dropdown>
                  </div>
              </div>


      </div>
    </ng-container>

    <ng-container formArrayName="academicCertificates"  *ngIf="certificateName.value==certificateTypeEnum.AcademicSequenceCertificate" >
        <ng-container *ngFor="let school of academicCertificates.controls; let i = index" [formGroupName]="i" >
            <div class="row gx-5 form-set ">
                <div class="col-md-4 position-relative ">
                    <label class="label">{{'dashboard.students.academic year'|translate}} <span class="star">*</span></label>
                    <p-dropdown #dropdown  [dropdownIcon]="'none'"
                    [options]="schoolYearsList"
                    optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" formControlName="schoolYearId" optionValue="id" placeholder="2022 / 2023">
                    </p-dropdown>
                 <img src="assets/images/navBar/calendar.svg" alt="">

                </div>
                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.School Name'| translate}} <span class="star">*</span></label>
                    <p-dropdown placeholder="{{'dashboard.students.School Name'| translate}}" [options]="schoolNames"
                      (onChange)="takeSchoolId($event.value)"  formControlName="schoolId" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" optionValue="id" ></p-dropdown>

                </div>
                <div class="col-md-4">
                    <label class="label">{{'dashboard.students.Class'|translate}} <span class="star">*</span></label>
                    <p-dropdown placeholder="{{'dashboard.students.Class'|translate}}" [options]="grades[i]"
                        formControlName="gradeId" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" optionValue="id" (onChange)="checkRequiredAcademic()"></p-dropdown>
                </div>

            </div>

        </ng-container>
    </ng-container>
  </form>

</div>
