@import "src/assets/css/utils/variables.scss";

.d-grid{display: grid}
.d-flex{display: flex}
.grid-cols-1 {grid-template-columns: repeat(1, minmax(0, 1fr));}
.grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}
.grid-cols-3 {grid-template-columns: repeat(3, minmax(0, 1fr));}
.grid-cols-4 {grid-template-columns: repeat(4, minmax(0, 1fr));}
.grid-cols-5 {grid-template-columns: repeat(5, minmax(0, 1fr));}
.grid-cols-6 {grid-template-columns: repeat(6, minmax(0, 1fr));}
.grid-cols-7 {grid-template-columns: repeat(7, minmax(0, 1fr));}
.grid-cols-8 {grid-template-columns: repeat(8, minmax(0, 1fr));}
// .gap-3{gap: 1.5rem;}
// .gap-2{gap: 1rem;}
// .gap-1{gap: .5rem;}
// .justify-between{justify-content: space-between;}
// .align-center{align-items: center;}
// .justify-center{justify-content: center;}
// .justify-self-end{justify-self: end;}
// .text-center{text-align: center;}
// .under-line{ text-decoration: underline;}

// .fs-3{font-size: 20px;}
// .fw-bold{font-weight: 600;}

/* spaces */
// .mb-5{margin-bottom: 3rem;}
// .mb-4{margin-bottom: 2rem;}
// .mb-3{margin-bottom: 1.5rem;}
// .mb-2{margin-bottom: 1rem;}

// .mt-5{margin-top: 3rem;}
// .mt-4{margin-top: 2rem;}
// .mt-3{margin-top: 1.5rem;}
// .mt-2{margin-top: 1rem;}

.border-black {border: 1px solid #222;}
.border-end{border-inline-start: 1px solid #222 !important;}

.overflow-x-auto{overflow-x: auto;}

hr{margin: 30px 0;}

// .container{max-width: 1300px; margin: 0 auto;}

// header{width: 90%; margin: auto;}

// *{padding: 0; margin: 0; box-sizing: border-box;}
// ul{list-style: none;}
.container{
    margin-top: 10rem;
    padding-top: 2.5rem;

}

.layout{
  border: 2px solid $color-primary;
  padding: 1rem;
}

.linehieght-2{ line-height: 2;}

.border-skyBlue{
  border: 1px solid $color-skyBlue;
}

header{
    .logo{
        width: 12rem;
        height: 12rem;
        margin-inline-start: 10rem;
    }

    .logo-center{
      width: 12rem;
      height: 12rem;
    }
}


.social{
    li{
        width: 1.2rem;
        height: 1.2rem;
        padding: 1rem;
        border: 1px solid $color-gray-500;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;

        img{
            width: 1.2rem;
            height: 1.2rem;
        }
        &:hover{
            border: 1px solid $color-primary;
        }
    }
}

iframe{
    width: 100%;
    height: 800px;
}

::ng-deep pdf-viewer .ng2-pdf-viewer-container{
    overflow-x: unset !important;
    // overflow: hidden;
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    .ng2-pdf-viewer-container {
      }

}


table{width: 100%;}
table tr{height: 37px;}
table th{background-color: #d1d1d1; text-align: center;}
table, th, td {
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 5px;
}
table.blue-theme{
    th{
        // background-color: #40ade6;
        background-color: #4472C4;
    }
    tr td{
        // border: 2px solid #007cbf;
        border: 2px solid #4472C4;
    }
}
footer{padding-top: 1rem; border-top: 1px solid #999;}



// @media print  {
//  .print{visibility: hidden;}
// }
