
<div class="container " id="container">
  <div class="print d-flex justify-content-end mb-4">
    <button (click)="print()" class="btn btn-primary">اطبع الشهادة</button>
  </div>


  <div [ngSwitch]="certificateType" class="p-6" id="certificate">
    <div *ngSwitchCase="certificateTypeEnum.AcademicSequenceCertificate">
        <header>
          <div class="text-end">
              <img class="logo" src="assets/images/home/tab-logo.png" alt="">
              <h1 class="fw-bold">هيئة الشارقه للتعليم الخاص</h1>
              <hr class="m-0 color-black my-1">
              <h3 class="fw-bold font-en">SHRAJAH PRIVARE EDUCATION Authority</h3>
          </div>
          <div class="my-6"></div>
          <div class="d-grid grid-cols-2 justify-between">
              <div class="text-center fs-3">
                  <p class="text-decoration-underline mb-2 fw-bold">شهاده لمن يهمه الامر</p>
                  <span>(التسلسل الدراسى)</span>
              </div>
              <div class="text-center fs-3">
                  <p class="text-decoration-underline mb-2 fw-bold font-en">CERTIFICATE TO WHOM IT MAY CONCERN</p>
                  <span class="font-en">(Registration History)</span>
              </div>
          </div>
        </header>
  
        <section>
            <p class="mb-2 mt-6 fw-bold"> تشهد هيئه الشارقه للتعليم الخاص بأن :</p>
            <table class="blue-theme">
                <tr>
                    <td>اسم الطالب بالغة العربية</td>
                    <td>{{certificate?.StudentArabicName}}</td>
                </tr>
                <tr>
                    <td>إسم الطالب بالغه الانجليزية</td>
                    <td class="font-en">{{certificate?.StudentEnglishName}}</td>
                </tr>
                <tr>
                    <td>الهوية الإماراتية</td>
                    <td>78511115526688</td>
                </tr>
            </table>
      
            <p class="mb-2 mt-6 fw-bold">قد التحق بالمدارس على النحو التالى :</p>
            <table class="blue-theme">
                <thead>
                    <tr>
                        <th colspan="2">المرحله الدراسية</th>
                        <th  rowspan="2">
                            <p>المدرسه</p>
                            <p>School</p>
                        </th>
                        <th rowspan="2">
                            <p>العام الدراسى</p>
                            <p>Academic Year</p>
                        </th>
                    </tr>
                    <tr>
                        <th>الصف</th>
                        <th>Grade</th>
                    </tr>
                </thead>
      
                <tbody>
                    <tr *ngFor="let year of certificate?.StudyPhases | slice:0:5">
                        <td class="text-center">{{year.GradeName.Name.Ar}}</td>
                        <td class="text-center">{{year.GradeName.Name.En}}</td>
                        <td>{{year.SchoolName.Name.Ar}}</td>
                        <td>{{year.SchoolYear.Name.Ar}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    
        <section class="mt-6">
            <div class="d-grid grid-cols-3 align-items-center">
                <p>
                    هذا ايصال تلقائى تم إنشاؤها تلقائيا عن هيئه الشارقه للتعليم الخالص
                    <br>
                    للتحقق من صحه هذا الايصال يرجى عمل مسح ضوئى للرمز
                </p>
                <div class="text-center">
                  <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
                </div>
                <p dir="ltr" class="font-en text-start">
                    This is an auto created receipt, issued by Sharjah Private Education Authority.
                    <br>
                    To verify this receipt please scan QR code.
                </p>
            </div>
        </section>

        <div class="py-6"></div>

        <footer class="my-6 ">
            <div class="d-grid grid-cols-2 justify-between">
                <div class=" justify-content-end color-primary ">
                    <span class="font-en">SHJSPEA</span>
                    <ul class="social d-flex align-center gap-2">
                      <li>
                          <a href="www.google.com"><img src="assets/images/shared/google.png" alt=""></a>
                      </li>
                      <li>
                          <a href="www.google.com"><img src="assets/images/shared/instagram.png" alt=""></a>
                      </li>
                      <li>
                          <a href="www.google.com"><img src="assets/images/shared/twitter.png" alt=""></a>
                      </li>
                      <li>
                          <a href="www.google.com"><img src="assets/images/shared/linkedin.png" alt=""></a>
                      </li>
                      <li>
                          <a href="www.google.com"><img src="assets/images/shared/youtube.svg" alt=""></a>
                      </li>
                  </ul>
                    <a>web : spea.shj.ae</a>
                </div>
              
                <!-- <div class="d-flex gap-3 align-center justify-self-end">
                    <span>010201202012</span>
                    |
                    <span>010201202012</span>
                    <img src="assets/images/shared/call.svg" alt="">
                </div> -->
      
                <div class="d-flex gap-3 justify-content-end">
                  <div class="text-start color-primary font-en">
                    <p>TEL : 065045444</p>
                    <p>BO.BOX : 30020</p>
                    <p>EMAIL : INFO@SPEA.SHJ.AE</p>
                  </div>
                  <img src="assets/images/shared/call.svg" alt="">
              </div>
      
            </div>
      
        </footer>
      </div>


    <div *ngSwitchCase="certificateTypeEnum.GoodBehaviorCertificate">
      <header>
        <div class="row">
          <div class="col-md-3">
            <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fw-bold mb-3">شهادة حسن سير و سلوك</h1>
            <h1 class="fw-bold mb-3 font-en">Certificate of Good Conduct</h1>
            <p class="d-flex fs-2 justify-content-center gap-5 fw-bold ">
              <span>العام الدراسي</span>
              <span class="font-en">{{certificate?.SchoolYear}}</span>
              <span class="font-en">Academic Year</span>
            </p>
          </div>
          <div class="col-md-3">
            <img class="logo" [src]="certificate?.SchoolLogo" alt="">
          </div>
        </div>
      </header>

      <div class="row g-5 mt-6 fs-2">
        <div class="col-md-6 ">
          <div class="p-4 radius-15 border-dark">
            <div class="d-flex  mb-4 align-items-md-center gap-5">
              <span class="fw-bold">المنطقة التعليمية:</span>
              <span></span>
            </div>
            <div class="d-flex align-items-md-center gap-5">
              <span class="fw-bold">المدرسة:</span>
              <span>{{certificate?.SchoolArabicName}}</span>
            </div>
          </div>

        </div>

        <div class="col-md-6  justify-content-end" dir="ltr">
          <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
            <span class="fw-bold">Educational Zone:</span>
            <span></span>
          </div>
          <div class="d-flex align-items-md-center gap-5 font-en">
            <span class="fw-bold">School:</span>
            <span>{{certificate?.SchoolEnglishName}}</span>
          </div>
        </div>
      </div>


      <div class="row g-5 mt-6">
        <div class="col-md-6 fs-2 p-4 radius-15 border-dark">
          <p>
            تشهد ادارة المدرسة أن الطالب/ة {{certificate?.StudentArabicName| uppercase}} الكتبى
            .{{certificate?.DivisionAr ||'...'}} مقيد/ة بالصف ({{certificate?.GradeAr}} )، قسم (...)، شعبة
          </p>
          <div class="py-5"></div>

          <p class="mt-5">و هو/هي حسن/ة السيرة و السلوك طيلة وجوده/ها في .</p>
        </div>

        <div class="col-md-6 fs-2 text-start font-en " dir="ltr">
          <div class="p-4 radius-15 border-dark">
            <p>
              School administration certifies that student
              {{ certificate?.StudentEnglishName| uppercase}} is
              registered in grade ( {{certificate?.GradeEn}} ), section ( {{certificate?.DivisionEn ||'...'}} ), and
              class {{certificate?.DivisionEn ||'...'}}.
            </p>

            <div class="py-5"></div>

            <p>The student demonstrated good conduct and behavior during his/her stay at school.</p>
          </div>

        </div>
      </div>

      <div class="py-6"></div>

      <div class="">
        <div class="row bg-gray-150 border-black p-3 border-2 align-items-center">
          <div class="col-md-6 fs-2">للاستخدام الرسمي فقط</div>
          <div class="col-md-6 fs-2 text-start font-en" dir="ltr">For Official Use Only</div>
        </div>

        <div class="row fs-2 border-black p-3 border-2">
        
   
            <div class="col-md-6 ">
              <div class="">
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">اسم الموظف المختص:</span>
                  <span></span>
                </div>
                <div class="d-flex align-items-md-center gap-5 mb-4">
                  <span class="">التوقيع :</span>
                  <span></span>
                </div>
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">تاريخ الاصدار:</span>
                  <span></span>
                </div>
              
              </div>
    
            </div>
    
            <div class="col-md-6  justify-content-end" dir="ltr">
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Issued By:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Signature:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Date of Issue:</span>
                <span></span>
              </div>
            </div>
   

          <div class="d-flex justify-content-between">
            <span>اعتماد مدير المدرسة</span>
            <span class="font-en">Seal / الخ</span>
            <span class="font-en">School Principal</span>
          </div>

        </div>

      </div>

      <div class="row g-5 my-6">
        <div class="col-md-6 fs-2">. تعتبر هذه الشهادة صالحة لمدة سنة من تاريخ صدورها</div>
        <div class="col-md-6 fs-2 text-start font-en" dir="ltr">This certificate is valid for one year from the date of issue.</div>
      </div>


    </div>

    <div *ngSwitchCase="certificateTypeEnum.ContinuingEducationCertificate">
      <header>
        <div class="row">
          <div class="col-md-3">
            <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fw-bold mb-3">لمن يهمه الامر – الاستمرار في الدراسة</h1>
            <h1 class="fw-bold mb-3">إلى من يهمه الأمر - متابعة الدراسة</h1>
            <p class="d-flex fs-2 justify-content-center gap-5 fw-bold ">
              <span>العام الدراسي</span>
              <span class="font-en">{{certificate?.SchoolYear}}</span>
              <span class="font-en">Academic Year</span>
            </p>
          </div>
          <div class="col-md-3">
            <img class="logo" [src]="certificate?.SchoolLogo" alt="">
          </div>
        </div>
      </header>

      <div class="row g-5 mt-6 fs-2">
        <div class="col-md-6 ">
          <div class="p-4 radius-15 border-dark">
            <div class="d-flex  mb-4 align-items-md-center gap-5">
              <span class="fw-bold">المنطقة التعليمية:</span>
              <span></span>
            </div>
            <div class="d-flex align-items-md-center gap-5">
              <span class="fw-bold">المدرسة:</span>
              <span>{{certificate?.SchoolArabicName}}</span>
            </div>
          </div>

        </div>

        <div class="col-md-6  justify-content-end" dir="ltr">
          <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
            <span class="fw-bold">Educational Zone:</span>
            <span></span>
          </div>
          <div class="d-flex align-items-md-center gap-5 font-en">
            <span class="fw-bold">School:</span>
            <span>{{certificate?.SchoolEnglishName}}</span>
          </div>
        </div>
      </div>


      <div class="row g-5 mt-6">
        <div class="col-md-6 fs-2 p-4 radius-15 border-dark">
          <p>تشهد ادارة المدرسة أن الطالب/ة <b>{{certificate?.StudentArabicName| uppercase}}</b> </p>
          <div class="my-6">
            <p>رقم الهوية الوطنية: {{certificate?.EmiratesId }}</p>
            <p>تاريخ الميلاد: {{certificate?.BirthDate |LocalizeDate}}</p>
            <p>رقم الطالب: {{certificate?.StudentNumber}}</p>
          </div>
          <p>.{{certificate?.DivisionAr ||'...'}} مقيد/ة بالصف ({{certificate?.GradeAr}} )، قسم (...)، شعبة</p>

          <!-- <div class="py-5"></div> -->

          <p class="mt-5">و هو/هي مستمر/ة في الدراسة حتى تاريخه.</p>
        </div>

        <div class="col-md-6 fs-2 text-start font-en " dir="ltr">
          <div class="p-4 radius-15 border-dark">
            <p>School administration certifies that student <b>{{ certificate?.StudentEnglishName| uppercase}} </b> </p>

            <p>is registered in grade ( {{certificate?.GradeEn}} ), section ( {{certificate?.DivisionEn ||'...'}} ), and class {{certificate?.DivisionEn ||'...'}}.</p>

            <div class="my-6">
              <p>Emirate ID Number: {{certificate?.EmiratesId }}</p>
              <p>Date of Birth: {{certificate?.BirthDate |LocalizeDate}}</p>
              <p>Pupil Number: {{certificate?.StudentNumber}}</p>
            </div>
            <!-- <div class="py-5"></div> -->

            <p>and is currently pursuing study.</p>
          </div>

        </div>
      </div>

      <div class="py-6"></div>

      <div class="">
        <div class="row bg-gray-150 border-black p-3 border-2 align-items-center">
          <div class="col-md-6 fs-2">للإستخدام الرسمي فقط من قبل المدرسة</div>
          <div class="col-md-6 fs-2 text-start font-en" dir="ltr">For Official Use Only by School</div>
        </div>

        <div class="row fs-2 border-black p-3 border-2">
   
            <div class="col-md-6 ">
              <div class="">
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">اسم الموظف المختص:</span>
                  <span></span>
                </div>
                <div class="d-flex align-items-md-center gap-5 mb-4">
                  <span class="">التوقيع :</span>
                  <span></span>
                </div>
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">تاريخ الاصدار:</span>
                  <span></span>
                </div>
              
              </div>
    
            </div>
    
            <div class="col-md-6  justify-content-end" dir="ltr">
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Issued By:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Signature:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Date of Issue:</span>
                <span></span>
              </div>
            </div>
   

          <div class="d-flex justify-content-between">
            <span>اعتماد مدير المدرسة</span>
            <span class="font-en">Seal / الخ</span>
            <span class="font-en">School Principal</span>
          </div>

        </div>

      </div>

      <div class="my-6">
        <div class="row bg-gray-150 border-black p-3 border-2 align-items-center">
          <div class="col-md-6 fs-2">للإستخدام الرسمي فقط من قبل الإدارة المختصة</div>
          <div class="col-md-6 fs-2 text-start font-en" dir="ltr">For Official Use Only by Concerned Department</div>
        </div>

        <div class="row fs-2 border-black p-3 border-2">
   
            <div class="col-md-6 ">
              <div class="">
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">اسم الموظف المختص بالمجلس:</span>
                  <span></span>
                </div>
                <div class="d-flex align-items-md-center gap-5 mb-4">
                  <span class="">التوقيع :</span>
                  <span></span>
                </div>
                <div class="d-flex  mb-4 align-items-md-center gap-5">
                  <span class="">تاريخ الاصدار:</span>
                  <span></span>
                </div>
              
              </div>
    
            </div>
    
            <div class="col-md-6  justify-content-end" dir="ltr">
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Issued By:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Signature:</span>
                <span></span>
              </div>
              <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
                <span class="">Date of Issue:</span>
                <span></span>
              </div>
            </div>
   

          <div class="d-flex justify-content-between">
            <span>اعتماد مدير خدمة العملاء</span>
            <span class="font-en">Seal / الخ</span>
            <span class="font-en">ADEC Customer Service</span>
          </div>

        </div>

      </div>

    </div>


    <div *ngSwitchCase="certificateTypeEnum.TransferCertificate">
      <header>
        <div class="row">
          <div class="col-md-3">
            <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fw-bold mb-3">شهادة لمن يهمه الأمر بترك الدراسة</h1>
            <p class="d-flex mb-3 fs-2 justify-content-center gap-5 fw-bold ">
              <span>العام الدراسي</span>
              <span class="font-en">{{certificate?.SchoolYear}}</span>
              <span class="font-en">Academic Year</span>
            </p>
            <p class="fw-bold "> {{certificate?.StudentArabicName}} ( {{certificate?.StudentNumber}})</p>
          </div>
          <div class="col-md-3">
            <img class="logo" [src]="certificate?.SchoolLogo" alt="">
          </div>
        </div>
      </header>

      <div class="py-6"></div>

      <div class="">
        <div class=" bg-gray-150 border-black p-3 border-2 align-items-center">
          <div class="fs-2">البيانات الاساسية</div>
        </div>
        <div class="d-flex fs-2 border-black p-3 border-2">
          <div class="col-md-6 grid-container">
            <span class="">الصف</span>
            <span>{{certificate?.GradeAr}}</span>

            <span class="">تاريخ القبول:</span>
            <span>{{certificate?.AcceptanceDate |LocalizeDate}}</span>

            <span class="">تاريخ الانسحاب:</span>
            <span>{{certificate?.TransferDate |LocalizeDate}}</span>

            <span class="">الديانة:</span>
            <span>{{certificate?.Religion}}</span>

            <span class="">تاريخ الميلاد:</span>
            <span>{{certificate?.BirthDate |LocalizeDate}}</span>

            <span class="">رقم البلدة:</span>
            <span></span>

            <span class="">رقم الهوية:</span>
            <span>{{certificate?.EmiratesId}}</span>

            <span class="">رقم جواز السفر:</span>
            <span>{{certificate?.PassportId}}</span>

            <span class="">رقم الإقامة:</span>
            <span></span>
          </div>

          <div class="col-md-6 grid-container">
            <span class="">القسم:</span>
            <span>{{certificate?.DivisionAr}}</span>

            <span class="">اسم المدرسة:</span>
            <span>{{certificate?.StudentArabicName}}</span>

            <span class="">سبب القبول:</span>
            <span></span>

            <span class="">سبب الانسحاب:</span>
            <span>{{certificate?.TransferReason}}</span>

            <span class="">الجنسية:</span>
            <span></span>

            <span class="">مكان الميلاد:</span>
            <span></span>

            <span class="">رقم الأسرة:</span>
            <span></span>

            <span class="">تاريخ الانتهاء:</span>
            <span>{{certificate?.EmiratesIdExpirationDate |LocalizeDate}}</span>

            <span class="">تاريخ الانتهاء:</span>
            <span>{{certificate?.PassportIdExpirationDate |LocalizeDate}}</span>

            <span class="">تاريخ الانتهاء:</span>
            <span></span>
          </div>
        </div>

        <div class="row fs-2 border-black border-2 mt-6">
          <div class=" bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="fs-2">العائلة والمعارف</div>
          </div>
          <div class=" p-4 col-md-6 grid-container">
            <span class="">الاسم:</span>
            <span>{{certificate?.GuardianName}}</span>

            <span class="">العمل:</span>
            <span></span>

            <span class="">عنوان السكن:</span>
            <span></span>
          </div>

          <div class=" p-4 col-md-6 grid-container">
            <span class="">صلة القرابة:</span>
            <span>{{certificate?.GuardianRelativeRelation}}</span>

            <span class="">رقم هاتف العمل:</span>
            <span></span>

            <span class="">رقم هاتف المنزل:</span>
            <span></span>

            <span class="">رقم الهاتف المتحرك:</span>
            <span>{{certificate?.GuardianPhoneNumber}}</span>

          </div>
        </div>
    
   
        <div class="mt-6">
          <div class="row bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="col-md-6 fs-2">للاستخدام الرسمي فقط</div>
            <div class="col-md-6 fs-2 text-start font-en" dir="ltr">For Official Use Only by School</div>
          </div>
  
          <div class="row fs-2 border-black p-3 border-2">
     
              <div class="col-md-6 ">
                <div class="">
                  <div class="d-flex  mb-4 align-items-md-center gap-5">
                    <span class="">اسم الموظف المختص:</span>
                    <span></span>
                  </div>
                  <div class="d-flex align-items-md-center gap-5 mb-4">
                    <span class="">التوقيع :</span>
                    <span></span>
                  </div>
                </div>
      
              </div>

            <div class="d-flex justify-content-between">
              <span class="col-md-4">تاريخ الاصدار:</span>
              <span class="col-md-3"> مدير المدرسة</span>
              <span class="col-md-3" >الطابع / الخاتم</span>
            </div>
          </div>
  
        </div>

        <div class="mt-6">
          <div class="bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="col-md-6 fs-2">صحية</div>
          </div>
          <table>
            <tr>
              <td>الحالة الصحية</td>
              <td>التطعيمات</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>المشاكل الصحية</td>
              <td rowspan="2"></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td class="">
                <span class="w-50 float-end">التربية الخاصة</span>
                <span class="w-50 border-end">
                  <input class="mx-4" type="checkbox" style="height: 2rem; width: 2rem;">
                </span>
              </td>
              <td>العلاج</td>
              
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>


        <div class="mt-6">
          <div class="bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="col-md-6 fs-2">النتائج الدراسية</div>
          </div>
          <table>
            <thead>
              <tr>
                <th>سنة</th>
                <th>اسم المدرسة</th>
                <th>الصف</th>
                <th>الدرجة النهائية</th>
                <th>نتيجة الطالب</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018</td>
                <td>الأمريكية للإبداع العلمي</td>
                <td>الرابع</td>
                <td>85.4</td>
                <td>مرفع</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-6">
          <div class="bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="col-md-6 fs-2">فهرس النتائج الدراسية</div>
          </div>
          <table>
            <tbody>
              <tr>
                <td>-</td>
                <td>الدرجة النهائية غير مطبقة</td>
              </tr>
              <tr>
                <td>لم يكتمل العام الدراسي</td>
                <td>لم يتم اعتماد الدرجة النهائية</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-5">
          <div class="row bg-gray-150 border-black p-3 border-2 align-items-center">
            <div class="col-md-6 fs-2">للاستخدام الرسمي فقط</div>
          </div>
  
          <div class="row fs-2 border-black p-3 border-2">
     
              <div class="col-md-6 ">
                <div class="">
                  <div class="d-flex  mb-4 align-items-md-center gap-5">
                    <span class="">اسم الموظف المختص:</span>
                    <span></span>
                  </div>
                  <div class="d-flex align-items-md-center gap-5 mb-4">
                    <span class="">التوقيع :</span>
                    <span></span>
                  </div>
                </div>
      
              </div>

            <div class="d-flex justify-content-between">
              <span class="col-md-4">تاريخ الاصدار:</span>
              <span class="col-md-3"> مدير المدرسة</span>
              <span class="col-md-3" >الطابع / الخاتم</span>
            </div>
          </div>
  
        </div>


      </div>

    </div>

    <div *ngSwitchCase="certificateTypeEnum.BoardCertificate">
      <!-- <iframe [srcdoc]="certificate" frameborder="0"></iframe> -->
      <!-- <iframe allowfullscreen="true" src="https://valsquad.blob.core.windows.net/daleel/5692ff01-7e5a-4e7e-b1f2-a5fc8546a51c.pdf" ></iframe> -->
      <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
      <pdf-viewer 
      src="https://valsquad.blob.core.windows.net/daleel/5692ff01-7e5a-4e7e-b1f2-a5fc8546a51c.pdf"
      [original-size]="true"
      style="height: 500px"
      [show-all]="false"
      ></pdf-viewer>
    </div>
    
    <div *ngSwitchCase="certificateTypeEnum.DiplomaCertificate">
      <header>
        <div class="row">
          <div class="col-md-3">
            <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fw-bold mb-3">شهادة الدبلوم الثانوي​</h1>
            <p class="d-flex mb-3 fs-2 justify-content-center gap-5 fw-bold ">
              <span>العام الدراسي</span>
              <span class="font-en">{{certificate?.SchoolYear}}</span>
              <span class="font-en">Academic Year</span>
            </p>
            <p class="fw-bold "> {{certificate?.StudentArabicName}} ( {{certificate?.StudentNumber}})</p>
          </div>
          <div class="col-md-3">
            <img class="logo" [src]="certificate?.SchoolLogo" alt="">
          </div>
        </div>
      </header>
    </div>


    <div *ngSwitchCase="certificateTypeEnum.GradesCertificate || certificateTypeEnum.SchoolInternalSubjectsCertificate">
      <header>
        <div class="row">
          <div class="col-md-3">
            <qr-code [value]="location" size="160" errorCorrectionLevel="L"></qr-code>
          </div>

          <div class="col-md-6 text-center">
            <h1 class="fw-bold mb-3">بطاقة تقييم العام الدراسي</h1>
            <p class="d-flex mb-3 fs-2 justify-content-center gap-5 fw-bold ">
              <span>العام الدراسي</span>
              <span class="font-en">{{certificate?.SchoolYear}}</span>
              <span class="font-en">Academic Year</span>
            </p>
            <!-- <p class="fw-bold "> {{certificate?.StudentArabicName}} ( {{certificate?.StudentNumber}})</p> -->
          </div>
          <div class="col-md-3">
            <img class="logo" [src]="certificate?.SchoolLogo" alt="">
          </div>
        </div>
      </header>

      <table class="mt-6 fs-4">
     

        <thead>
          <tr>
            <td colspan="6"  class="p-4">
              <div class="d-flex fs-2 fs-4">
                <div class="col-md-6 grid-container">
                  <span class="">مدرسة:</span>
                  <span>{{certificate?.SchoolArabicName}}</span>
      
                  <span class="">منهاج المدرسة:</span>
                  <span>{{certificate?.Curriculum }}</span>
      
                  <span class="">الفترة الإختبارية:</span>
                  <span>{{certificate?.TransferDate}}</span>
      
                  <span class="">إسم الطالب:</span>
                  <span>{{certificate?.StudentArabicName}} </span>
      
                  <span class="">رقم الطالب:</span>
                  <span>{{certificate?.StudentNumber }}</span>
      
                  <span class="">الصف:</span>
                  <span>{{certificate?.GradeAr}} </span>
                </div>
      
                <div class="col-md-6 grid-container font-en text-start" dir="ltr">
                  <span class="">School:</span>
                  <span>{{certificate?.SchoolEnglishName}}</span>
      
                  <span class="">School curriculum:</span>
                  <span>{{certificate?.CurriculumEn}}</span>
      
                  <span class="">Reporting Period:</span>
                  <span></span>
      
                  <span class="">Student Name:</span>
                  <span>{{certificate?.StudentEnglishName}}</span>
                  
                  <span class="">Student #:</span>
                  <span>{{certificate?.StudentNumber}}</span>
  
                  <span class="">Grade:</span>
                  <span>{{certificate?.GradeEn}}</span>
  
                </div>
              </div>
            </td>
          </tr>
          <tr class="text-center fw-bold">
            <td style="width: 20%;" rowspan="2">المواد الدراسية</td>
            <td style="width: 20%;" rowspan="2">Subject</td>
            <td style="width: 10%;">النهاية الصغرى</td>
            <td style="width: 10%;">النهاية العظمى</td>
            <td style="width: 10%;">الدرجة</td>
            <td style="width: 30%">ملاحظات</td>
          </tr>
          <tr class="text-center fw-bold font-en">
            <td style="width: 10%;">Min</td>
            <td style="width: 10%;">Max</td>
            <td style="width: 10%;">Mark</td>
            <td style="width: 30%">Comments</td>
          </tr>
        </thead>

        <tr class="text-center" *ngFor="let item of [1,1,1,4,1]">
          <td style="width: 10%;">التربية الإسلامية - للعرب</td>
          <td class="font-en" style="width: 10%;">Islamic Education</td>
          <td style="width: 10%;">50</td>
          <td style="width: 10%;">50</td>
          <td style="width: 10%;">50</td>
          <td style="width: 30%">Comments</td>
        </tr>

        <tr class="text-center  fw-bold">
          <td  style="width: 10%;">المجموع</td>
          <td class="font-en" style="width: 10%;">Total</td>
          <td style="width: 10%;">560</td>
          <td style="width: 10%">1000</td>
          <td style="width: 10%;">560</td>
          <td style="width: 30%" rowspan="2">
            rowspan="2"
          </td>
        </tr>

        <tr class="text-center  fw-bold">
          <td  style="width: 10%;">النسبة المئوية</td>
          <td class="font-en" style="width: 10%;">Average (%)</td>
          <td style="width: 10%;">---</td>
          <td style="width: 10%">---</td>
          <td style="width: 10%;">85.4</td>
          <!-- <td style="width: 30%" >1000</td> -->
        </tr>

        <tr class="text-center bg-gray-150">
          <td  style="width: 10%;">التربية الأخلاقية</td>
          <td class="font-en" style="width: 10%;">Moral Education</td>
          <td style="width: 10%;">0</td>
          <td style="width: 10%">100</td>
          <td style="width: 10%;">50</td>
          <td style="width: 30%"></td>
        </tr>

        <tr class="text-center bg-gray-150">
          <td  style="width: 10%;">القرآن</td>
          <td class="font-en" style="width: 10%;">Quran</td>
          <td style="width: 10%;">0</td>
          <td style="width: 10%">100</td>
          <td style="width: 10%;">50</td>
          <td style="width: 30%"></td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="d-flex mb-3 justify-content-between fw-bold">
              <span>عدد أيام الغياب</span>
              <span class="font-en">Absences</span>
            </div>
            <div class="d-flex mb-3 justify-content-between">
              <span>بعذر مقبول</span>
              <span>-</span>
              <span class="font-en">Excused Absences</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>بدون عذر مقبول</span>
              <span>-</span>
              <span class="font-en">Unexcused Absences</span>
            </div>
          </td>
          <td colspan="4">
            <div class="d-flex justify-content-between">
              <span>إمتحان إعادة</span>
              <span>-</span>
              <span class="font-en">Retry Exam</span>
            </div>
          </td>
        </tr>

      </table>

      <div class="border-black border-3 d-flex align-items-center mt-4 p-3">
        <div class="col-md-3">النتيجة</div>
        <div class="col-md-3">يرفع للصف الخامس</div>
        <div class="col-md-3 text-start font-en">Promoted to 5</div>
        <div class="col-md-3 text-start font-en">Result</div>

      </div>


      <div class="fs-2 border-black p-4 border-2 fs-4 mt-4">
   
        <div class="d-flex ">
          <div class="col-md-6 ">
            <div class="">
              <div class="d-flex  mb-4 align-items-md-center gap-5">
                <span class="">اسم الموظف المختص :</span>
                <span></span>
              </div>
   
              <div class="d-flex  mb-4 align-items-md-center gap-5">
                <span class="">تاريخ الاصدار:</span>
                <span></span>
              </div>
  
              <div class="d-flex align-items-md-center gap-5 mb-4">
                <span class="">يعتمد</span>
                <span></span>
              </div>
            
            </div>
  
          </div>
  
          <div class="col-md-6  justify-content-end" dir="ltr">
            <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
              <span class="">Issued By:</span>
              <span></span>
            </div>
           
            <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
              <span class="">Date of Issue:</span>
              <span></span>
            </div>
  
            <div class="d-flex mb-4  align-items-md-center gap-5 font-en">
              <span class="">Approved</span>
              <span></span>
            </div>
          </div>
        </div>
        
        <div class="d-flex justify-content-between">
          <span>مدير المدرسة</span>
          <span class="font-en">Seal / الخاتم</span>
          <span class="font-en">School Principal</span>
        </div>
      </div>

      

    </div>







    <div class="my-6"></div>

  </div>

 
</div>
