@import '../../../../../../../assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';
@import 'src/assets/css/components/message.scss';
#content {
    width: 100%;
    .border{
        padding-bottom: 0rem;
    }
    
    .Btn-group{
        position: absolute;
        bottom:100% ;
        padding-bottom: 2.6%;
   

     
    }

    .form-btn-group{
       
        margin-left: 1rem;
        .copy{
       
           margin-left: 1.5rem;
            border: 1px solid #E9E9E9;
        }
       

    }
    .prim-table{
            .rightpostion{position: relative;right: 5rem;}
            ::ng-deep p-table{
                .p-datatable-tbody tr{     
                    &.expandrow{ border-bottom: none ;}  
                }
                .p-datatable-tbody tr td{  
                    &.action{
                        color: $color-black;
                        &-b{font-weight: 700;}
                    } 
                  
                    &:first-child{
                        &.expand{padding:0rem}
                    }
                }
                
                .p-datatable-wrapper{
                            border-top: none;
                        }
                    
            }
    }

}

