@import '../../../../../../../assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';
#content {
    width: 100%;
    .Btn-group {
        position: absolute;
        right: 79.3%;
        bottom: 100%;
        padding-bottom: 3%;
        .leftbtn {
            margin-right: 1rem;
        }
    }
}


   hr{
    width:100%;
    color:$color-gray-100;

   }