


<div  style="overflow-x: hidden;">

    <div class="d-flex ">

    <div id="content" >





          <div class=" mt-5 custom-form custom-validation-form border" style="margin-bottom: 20rem;">
            <ng-container *ngIf="!annualHolidayObj&&urlParameter">
                <div class="row g-5">

                        <app-skeleton count="9"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>

                </div>

             </ng-container>
              <form [formGroup]=" annualHolidayFormGrp" *ngIf="annualHolidayObj||!urlParameter" >



                      <div class="align-items-center justify-content-end d-flex">
                         <div class="d-flex form-btn-group">
                                <!-- <div class="btn btn-outline-primary copy " *ngIf="!urlParameter" role="button" >
                                    <img src="assets/images/shared/copy.svg">
                                    {{'dashboard.AnnualHoliday.copy content'|translate}}

                                </div> -->
                                <div class="btn btn-primary mb-5 Add" role="button" (click)="newHoliday()">

                                    {{'dashboard.AnnualHoliday.Add Annual Holiday'|translate}}

                                </div>
                         </div>
                    </div>


                  <div class="row gx-5 form-set container-fluid" >
                    <div class="col-xs-2 col-lg-4" >
                        <label for="PID" class="label">{{'dashboard.AnnualHoliday.Annual Calender Name in Arabic'|translate}} <span class="star">*</span></label>
                        <input type="text" pInputText formControlName="arabicSmester"[LangRestrict]="'ar'"  class="form-control "   name="PID" id="PID" placeholder="{{'dashboard.AnnualHoliday.Write Annual Calender Name'|translate}}">
                    <div>
                        <div [hidden]="arabicSmester.valid || arabicSmester.untouched">
                            <small *ngIf="arabicSmester.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                              {{'shared.This Field is Required'|translate}}
                               <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>

                            <small *ngIf="arabicSmester.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'shared.Numbres Of Characters must not more than 256 character'|translate}}
                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                         </div>

                        </div>


                    </div>
                    <div class="col-xs-2 col-lg-4" >
                      <label for="PID" class="label">{{'dashboard.AnnualHoliday.Annual Calender Name in English'|translate}} <span class="star">*</span></label>
                      <input type="text" pInputText formControlName="englishSmester"[LangRestrict]="'en'" class="form-control leftaction"  name="PID" id="PID" placeholder="{{'dashboard.AnnualHoliday.Write Annual Calender Name'|translate}}">
                  <div>
                      <div [hidden]="englishSmester.valid || englishSmester.untouched">
                          <small *ngIf="englishSmester.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                            {{'shared.This Field is Required'|translate}}
                             <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>

                          <small *ngIf="englishSmester.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                              {{'shared.Numbres Of Characters must not more than 256 character'|translate}}
                              <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                          </small>
                       </div>

                      </div>


                  </div>
                    <div class="col-xs-2 col-lg-4">
                        <label for="PName" class="label">{{'dashboard.AnnualHoliday.Year'|translate}} <span class="star">*</span></label>
                          <input type="text" pInputText formControlName="year"   class="form-control "  name="PID" id="PID" placeholder="{{'dashboard.AnnualHoliday.Write year'|translate}}">
                          <div [hidden]="year.valid||year.untouched">
                            <small *ngIf="year.errors?.['required']" id="helpId" class="form-text text-muted d-block alert-danger" class="alert-danger" >{{'shared.This Field is Required'|translate}}<fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon></small>
                        </div>

                    </div>




                </div>

                  <div class="prim-table mt-4 smallBlock" *ngIf="holidayFixedLength>0">
                      <p-table  #dt [value]="holidayList" sortMode="single"  [scrollable]="true" scrollHeight="700px" [virtualScroll]="true" [virtualRowHeight]="95"  dataKey="id">

                              <!-- Table Caption -->
                                  <ng-template pTemplate="caption">
                                      <app-table-caption
                                      (onExport)="export($event)"
                                      (onFilter)="filter()"
                                      (onSearch)="search($event)"
                                      (onClear)="clearFilter()">

                                      <!-- <div class="row gx-5 form-set">
                                          <div class="col-6">
                                              <label class="label" for="curriculumName">{{'dashboard.AnnualHoliday.curriculum'|translate }} </label>
                                              <p-dropdown [options]="curriculumList"  optionLabel="name.ar" optionValue="id"    formControlName="curriculum" inputId="curriculumName"  placeholder="{{'dashboard.AnnualHoliday.Select curriculum'|translate }}"></p-dropdown>
                                          </div>
                                      </div> -->
                                      <div class="row gx-5 form-set">
                                          <div class="col-4 mx-4">
                                              <label class="label" for="flexibilityStatus">{{'dashboard.AnnualHoliday.Holiday Status'|translate }}  </label>
                                              <p-dropdown [options]="holidayStatusList" optionLabel="name" optionValue="value"     formControlName="status" inputId="flexibilityStatus"  placeholder="{{'dashboard.AnnualHoliday.Select Holiday Status'|translate }}"></p-dropdown>
                                          </div>

                                      </div>
                                      </app-table-caption>

                                  </ng-template>


                                          <ng-template pTemplate="header"  >
                                              <tr >
                                              <th style="max-width: 0rem"  ></th>
                                                <th   pSortableColumn="name.ar" ><p-sortIcon   field="arabicName" ></p-sortIcon>{{'dashboard.AnnualHoliday.Holiday Name'|translate}}</th>
                                                <th style="min-width:15rem"  pSortableColumn="name.ar" ><p-sortIcon   field="arabicName" ></p-sortIcon>{{'shared.User Name'|translate}}</th>
                                                <th style="min-width:15rem"  pSortableColumn="curriculums"><p-sortIcon  field="curriculumName" ></p-sortIcon>{{'dashboard.AnnualHoliday.curriculum'|translate}}</th>
                                                <th style="min-width:29rem"  pSortableColumn="dateFrom"><p-sortIcon  field="dateFrom" ></p-sortIcon>{{'dashboard.AnnualHoliday.Date'|translate}}</th>
                                                <th   pSortableColumn="createdDate" ><p-sortIcon  field="createdDate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
                                                <th   pSortableColumn="flexibilityStatus.id"><p-sortIcon  field="flexibilityStatus" ></p-sortIcon>{{'dashboard.AnnualHoliday.Holiday Status'|translate}}</th>
                                                <th   pSortableColumn="edit" class="actions "></th>



                                              </tr>
                                          </ng-template>
                                          <ng-template pTemplate="body" let-e let-expanded="expanded" >

                                              <tr [ngClass]="expanded ? 'expandrow' : ''" >

                                                  <td style="max-width:11rem">

                                                      <button type="button" pButton pRipple [pRowToggler]="e"  class="p-button-text p-button-rounded p-button-plain" [icon]="(expanded && e.curriculums.length>1) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                                  </td>
                                                  <td style="min-width:15rem" [ngClass]="expanded ? 'action action-b' : ''" >{{e.name|currentLang}}</td>
                                                  <td style="min-width:15rem" [ngClass]="expanded ? 'action' : ''" >{{e.userName|currentLang}}</td>
                                                  <td style="min-width:15rem" [ngClass]="expanded ? 'action' : ''" >{{e.curriculums[0].name|currentLang}}</td>
                                                  <td style="min-width:29rem" [ngClass]="expanded ? 'action' : ''" >{{'shared.From'|translate}} {{e.dateFrom| LocalizeDate}} - {{'shared.To'|translate}} {{e.dateTo| LocalizeDate}}</td>
                                                  <td  [ngClass]="expanded ? 'action' : ''">{{e.createdDate | LocalizeDate}}</td>
                                                  <td >
                                                              <div class="d-flex align-items-center gap-4">
                                                                  <div [ngClass]="e.flexibilityStatus.value==statusEnum.Flexible?'alerting success':'alerting danger'">{{e.flexibilityStatus.name}}</div>

                                                              </div>
                                                  </td>



                                                  <td class="actions d-flex gap-4">
                                                                  <button   (click)="editHoliday(e)">
                                                                      <img  src="assets/images/shared/rect-bluepen.svg" alt="">
                                                                  </button>

                                                                  <button   (click)="this.confirmModelService.openModel(); deletedHoliday=e.id">
                                                                      <img  src="assets/images/shared/rect-xmark.svg" alt="">
                                                                  </button>
                                                  </td>



                                              </tr>
                                          </ng-template>
                                          <ng-template  pTemplate="rowexpansion" let-e>
                                              <tr >
                                                  <td colspan="15"  class="expand " *ngIf="e.curriculums.length>1">

                                                              <p-table  #dt [value]="e.curriculums" dataKey="name"    >



                                                                  <ng-template pTemplate="body" let-curriculum  let-expanded="expanded">
                                                                      <tr class="border-bottom-0" *ngIf="curriculum.id!=e.curriculums[0].id">

                                                                          <td  style="min-width:24rem"></td>

                                                                          <td  class=" action d-flex justify-content-end" style="min-width:20rem">{{curriculum.name|currentLang}}</td>
                                                                          <td class="justify-content-center" style="min-width:24rem;" >-</td>
                                                                          <td class="justify-content-center" style="min-width:16rem;" >-</td>
                                                                          <td  style="min-width:16rem;"></td>
                                                                          <td  style="min-width:16rem;"></td>




                                                                      </tr>
                                                                  </ng-template>


                                                              </p-table>


                                                     
                                              </td>
                                        </tr>


                                          </ng-template>


                                            <ng-template pTemplate="emptymessage" let-columns>
                                              <tr>
                                                  <td [attr.colspan]="20">
                                                      <ng-container >
                                                          <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                                                      </ng-container>



                                                  </td>
                                              </tr>
                                          </ng-template>
                      </p-table>



                 </div>
                <!-- emptymessage -->
                <ng-container *ngIf="holidayFixedLength==0">
                    <app-informative-block title="{{'emptyList.Holidays List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                </ng-container>


                <div class=" d-flex align-items-center justify-content-end ">
                    <div class="Btn-group d-flex gap-3">
                      <button class="btn  btn-primary addBtn" type="submit" (click)="saveHoliday()" [disabled]="annualHolidayFormGrp.invalid||isBtnLoading" *permit="[ClaimsEnum.S_C_Holiday,ClaimsEnum.S_U_Holiday]">
                        {{'shared.save'|translate}}
                        <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                      </button>
                      <button  ><a routerLink="/dashboard/educational-settings/annual-holiday/annual-holiday-list" class="cancelbtn">{{'shared.cancel'|translate}}</a></button>
                    </div>
              </div>
              </form>
            </div>

    </div>
  </div>

  </div>

<div *ngIf="(!urlParameter&&parameterInAddHoliday=='')||(urlParameter&&parameterInAddHoliday=='')">

        <app-holiday-model (onSave)="getHoliday($event)"  Title="dashboard.AnnualHoliday.Add Holiday" isOpened="openModel"></app-holiday-model>

</div>
<div *ngIf="(!urlParameter&&parameterInAddHoliday)||(urlParameter&&parameterInAddHoliday)">

        <app-holiday-model (onSave)="getHoliday($event)"  Title="dashboard.AnnualHoliday.Edit Holiday" isOpened="openModel"></app-holiday-model>

</div>

