



<div class="custom-form" *ngIf="schoolDetails">
    <div class="actions-btn d-flex align-items-center gap-4">
        <button (click)="onSubmit()" class="btn btn-primary" [disabled]="onSubmitted">
            {{'shared.save' | translate}}
            <div class="spinner-border text-light" role="status" *ngIf="onSubmitted"></div>
        </button>
        <span  role="button" class="color-red-500 text-decoration-underline" routerLink="../../">{{'shared.cancel' |translate}}</span>
    </div>

    <div class=" mb-4 border-dark radius-15  p-5">
        <div class="mb-6">
            <div class="mb-3">{{'dashboard.schools.schoolName'|translate}}</div>
            <h3 class="heading heading--tertiary">{{schoolDetails?.schoolName|currentLang}}</h3>
        </div>

        <h3 class="heading heading--tertiary mb-5">{{'shared.grades' |translate}}</h3>
        <div class="" [formGroup]="schoolForm">
            <ng-container  formArrayName="grades">
                <ng-container *ngFor="let grade of getGradesCtr().controls; let i=index" [formGroupName]="i">
                    <div class="row  mb-5">
                        <div class="col-md-2">
                            <label class="label">{{'shared.grade' |translate}}</label>
                            <h3 class="heading heading--tertiary">{{grade.value.name|currentLang}}</h3>
                        </div>

                        <div class="col-md-4 d-flex align-items-end gap-3 color-primary"
                        *ngIf="!getDivisionsCtr(i).value.length && !isOpenForSelection(i)"
                         (click)="divisionsInputs.push(i); getGradeDivisions(grade.value.id, i) ">
                            <span>+</span>
                            <span>تحديد شعبه</span>
                        </div>
                        <div class="col-md-4 " *ngIf="getDivisionsCtr(i)?.value.length || isOpenForSelection(i)">
                            <label class="label">{{'shared.division' |translate}}</label>
                            <p-multiSelect formControlName="allowedDivisions" [options]="gradesDivisions[i] || []" optionLabel="{{lang=='ar'? 'name.ar' :'name.en'}}" optionValue="id" display="chip"></p-multiSelect>
                        </div>

                        <div class="col-md-4 d-flex align-self-end gap-3 me-5">
                            <label class="ms-3" for="description">{{'shared.activated'| translate}}</label>
                            <p-inputSwitch name="status" formControlName="isAllowed"></p-inputSwitch>
                            <span class="mb-2">نعم</span>
                        </div>
                    </div>
                </ng-container>
                
            </ng-container>
            
        </div>

        <ng-container *ngIf="!schoolDetails.grades.length">
            <app-informative-block subTitle="{{'emptyList.grades'  | translate}}"></app-informative-block>
        </ng-container>
    </div>
</div>



<ng-container *ngIf="!schoolDetails">
    <div class="row g-5">
        <div class="col-md-4">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
        <div class="col-md-4">
            <app-skeleton count="5" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
        </div>
    </div>
    
</ng-container>