<div class="schools">
    <div class="ui-g">
        <div class="row">
            <div class="col-md-4">

                <p-card id="card-chart">
                    <div class="row">
                        <div class="col-md-6" id="DoughnutChart">
                            <p-chart type="doughnut" [data]="seconduserAppData" height="173"></p-chart>
                            <div class="mt-4">
                                <h2 class="chart-title">عدد المدارس الكلية</h2>
                                <h2 class="number-chart">100</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="chart-Info">
                                <li class="Active mb-4">

                                    <span class="color-primary-700 mb-2  percentage">25%</span>
                                    <span class="color-gray-300 fs-4">المنهج الاسترالي</span>

                                </li>
                                <li class="second">
                                    <span class="color-primary-700 mb-2 percentage">25%</span>
                                    <span class="color-gray-300 fs-4"> المنهج الأميركي</span>
                                </li>
                                <li class="notActive">
                                    <span class="color-primary-700 mb-2 percentage">25%</span>
                                    <span class="color-gray-300 fs-4">المنهج البريطاني</span>
                                </li>
                                <li class="four">
                                    <span class="color-primary-700 mb-2  percentage">25%</span>
                                    <span class="color-gray-300 fs-4"> المنهج الآسيوي</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                </p-card>

            </div>
            <div class="col-md-5">
                <p-card>
                    <div class="row">
                        <div class="col-md-8">
                            <p-chart type="bar" id="card-chart-bar" [data]="userUsageHoursData" [options]="options" height="228" width="100"></p-chart>
                        </div>
                        <div class="col-md-4 mt-5 Bar-char-Info">
                            <h2 class="title">عدد المدارس</h2>
                            <ul class="chart-Info-bar">
                                <li class="Active mb-2">
                                    <span class="color-primary-700 mb-2 percentage">30</span>
                                    <span class="color-gray-300 fs-4">المنطقة الوسطى</span>
                                </li>
                                <li class="second">
                                    <span class="color-primary-700 mb-2 percentage">28</span>
                                    <span class="color-gray-300 fs-4">المنطقة الشرقية</span>
                                </li>
                                <li class="notActive">
                                    <span class="color-primary-700 mb-2 percentage">19</span>
                                    <span class="color-gray-300 fs-4"> المنطقة الشارقة</span>
                                </li>

                            </ul>
                        </div>
                        <!-- <p-chart type="bar" [data]="userUsageHoursData" [options]="options" style="overflow:hidden;"></p-chart> -->
                    </div>
                </p-card>
            </div>
            <div class="col-md-3">
                <p-card id="card-chart">
                    <div class="row">
                        <div class="col-md-6" id="DoughnutChart" style="margin-top: 5vh;">
                            <p-chart type="doughnut" [data]="userAppData" [style]="{'width': '20%'}"></p-chart>
                            <div class="mt-4">
                                <h2 class="chart-title">عدد المدارس الكلية</h2>
                                <h2 class="number-chart">100</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="chart-Info">
                                <li class="notActive mb-4">
                                    <span class="color-gray-300 fs-4">غير مفعله</span>
                                </li>
                                <li class="Active">
                                    <span class="color-gray-300 fs-4">مفعله </span>
                                </li>
                            </ul>
                        </div>
                    </div>


                </p-card>
            </div>
        </div>



    </div>
    <div class="prim-table mt-4">
        <p-table #dt [value]="schoolClasses" [paginator]="true" [(rows)]="rows" [(first)]="first">
            <!-- Table Caption -->
            <ng-template pTemplate="caption">
                <app-table-caption (onExport)="onExport($event)"></app-table-caption>

            </ng-template>

            <ng-template pTemplate="header" let-columns="columns">
                <tr>
                    <!-- <th *ngFor="let col of cols">
                      {{col.header}}
                  </th>
                  <th pSortableColumn="actions"></th> -->
                    <th pSortableColumn="code">{{'dashboard.schools.schoolName'|translate}}
                        <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name">{{'shared.city'|translate}}
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">{{'shared.state'|translate}}
                        <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="category">{{'shared.course'|translate}}
                        <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity">{{'dashboard.schools.studentsNumber'|translate}}
                        <p-sortIcon field="quantity"></p-sortIcon>
                    </th>
                    <th pSortableColumn="actions">{{'dashboard.schools.schoolStablishmentDate'|translate}}</th>
                    <th pSortableColumn="actions">{{'dashboard.schools.schoolStatus'|translate}}</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product>

                <!-- <ng-container *ngIf="false then thenBlock else emptyList"></ng-container> -->

                <tr routerLink="school/4">
                    <td>{{product.code}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                        <div class="alerting danger">مغلقه</div>
                    </td>
                </tr>
            </ng-template>

            <!-- <ng-template pTemplate="footer" let-columns="columns">
              <tr  class="p-rowgroup-footer">
                  <td [attr.colspan]="7" style="width: 100%">
                      <div *ngIf="schoolClasses.length > 0">
                          <app-pagination [totalItems]="schoolClasses.length" (paginationChanged)="paginationChanged($event)"></app-pagination>
                      </div>
                  </td>
              </tr>
          </ng-template> -->

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="20">
                        <app-informative-block title="{{'emptyList.schools' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </td>
                </tr>
            </ng-template>

        </p-table>
        <div class="">
            <app-pagination [totalItems]="schoolClasses.length" (paginationChanged)="paginationChanged($event)"></app-pagination>
        </div>

    </div>
</div>