@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';
@import'src/assets/css/components/buttons';
@import '../../../../../../../assets/css/components/forms.scss';
@import '../../../../../../../assets/css/components/validation-form.scss';
.content {
    width: 100%;
    .Btn-group {
        position: absolute;
        right: 79.2%;
        bottom: 100%;
        padding-bottom: 3%;
        // top:-9rem;
        .leftbtn {
            width: 14.5rem;
            margin-right: 1rem;
        }
        .addBtn {
            margin-right: 14.8rem;
        }
    }
    .tabView {
        .tabView__nav {
            column-gap: 7rem;
        }
        .tabView__content {
            .custom-validation-form {
                padding-top: 0rem;
            }
            .curriculum,
            .class {
                .btn {
                    width: 20%;
                    margin-right: 39.5rem;
                }
                .btn-outline-primary {
                    border: none;
                }
            }
        }
    }
}

.heading--tertiary {
    padding-top: 2.5rem;
    font-size: 1.4rem;
    line-height: 22.87px;
    font-weight: 700;
}

 ::ng-deep {
    .p-dialog {
        &.large {
            margin-top: 12rem;
            &--2 {
                margin-bottom: 3.2rem;
            }
        }
        border: none;
        .p-dialog-header {
            font-family: 'Droid';
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            display: inline-block;
            padding-bottom: 0rem;
            padding-top: 2.5rem;
            .tittle {
                color: $color-gray-300;
                font-weight: 400;
                font-size: 12px;
                font-family: 'Droid';
            }
            .detail {
                color: $color-primary;
                font-weight: 400;
                font-size: 14px;
                font-family: 'Droid';
            }
            .custom-form {
                .form-set {
                    margin-bottom: 2.5rem;
                }
                .label {
                    margin-bottom: 1rem;
                    font-size: 13px;
                    font-weight: 400;
                }
                .row {
                    padding-left: 0rem;
                }
                 ::ng-deep {
                    input {
                        height: 40px;
                        &.p-inputtext {
                            line-height: 2;
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                    p-dropdown {
                        .p-dropdown {
                            .p-dropdown-label {
                                line-height: 2;
                                font-weight: 400;
                                font-size: 14px;
                            }
                            height: 40px;
                        }
                    }
                    p-inputnumber {
                        .p-inputnumber {
                            border: 1px solid rgba(165, 162, 162, 0.38);
                            border-radius: 15px;
                            height: 40px;
                            input {
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .caption__filter {
                input {
                    width: 100%;
                    margin-top: 2.5rem;
                    &.p-inputtext {
                        padding: 0.5rem 3.5rem;
                        font-family: 'Droid';
                    }
                }
                i {
                    margin-top: 1.5rem;
                }
            }
            .header {
                .headeritem {
                    font-weight: 700;
                    font-family: 'Droid';
                    font-size: 1.4rem;
                    line-height: 26.68px;
                    &.send {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                button {
                    color: rgba(0, 0, 0, 0.6);
                    width: 9px;
                    position: relative;
                    bottom: 1rem;
                    right: 75%;
                    &.sm {
                        position: relative;
                        right: 84%;
                    }
                    &.md {
                        position: relative;
                        right: 57%;
                    }
                }
            }
        }
        .p-dialog-content {
            flex-grow: 0;
            padding-top: 0rem;
            line-height: 24px;
            font-family: "Droid";
            font-weight: 400;
            .space {
                line-height: 24px;
            }
            .heading--tertiary {
                padding-top: 0rem;
                font-size: 12px;
                font-weight: 700;
                font-family: 'Droid';
            }
        }
        .p-dialog-footer {
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
            padding-top: 0rem;
            .footeritem {
                color: $color-skyBlue-400;
                width: 100%;
                margin-top: 1rem;
                font-weight: 400;
                font-size: 14px;
                font-family: 'Droid';
            }
        }
    }
}