
<div style="overflow-x: hidden;">

    <div class="d-flex">
        <div id="content">
            <div class="container mt-5 custom-form custom-validation-form border" style="margin-bottom: 20rem;">
                <ng-container *ngIf="!accountModel&&userId">
                    <div class="row g-5">
                       
                            <app-skeleton count="6"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                    
                    </div>
                
                 </ng-container>
                <form [formGroup]="userFormGrp" class="container-fluid  " *ngIf="accountModel||!userId">
                    <div class=" row gx-5 form-set">
                        <div class="col-xs-2 col-lg-4">
                            <label for="PID" class="label">{{'dashboard.UserInformation.UserName (in Arabic)'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="arabicFullName" [LangRestrict]="'ar'" class="form-control "  placeholder="{{'shared.Write User Name'|translate}}">
                            <div [hidden]="arabicFullName.valid || arabicFullName.untouched">
                                <small *ngIf="arabicFullName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                                <small *ngIf="arabicFullName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>



                        </div>
                        <div class="col-xs-2 col-lg-4">
                            <label for="PID" class="label">{{'dashboard.UserInformation.UserName (in English)'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="englishFullName" [LangRestrict]="'en'" class="form-control leftaction"  placeholder="{{'shared.Write User Name'|translate}}">
                            <div [hidden]="englishFullName.valid || englishFullName.untouched">
                                <small *ngIf="englishFullName.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                                <small *ngIf="englishFullName.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>



                        </div>
                    
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID3" class="label">{{'shared.phoneNumber'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="phoneNumber" [LangRestrict]="'numb'"  class="form-control "  placeholder="{{'shared.Write phoneNumber'|translate}}">
                            
                            <div [hidden]="phoneNumber.valid || phoneNumber.untouched">
                                    <small *ngIf="phoneNumber.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                                    <small *ngIf="phoneNumber.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                    {{'shared.Mobile Must Start With 05 and Contain 10 Numbers Only'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                            </div>
                            

                            

                        </div>
                    </div>
                    <div class=" row gx-5 form-set ">
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID2" class="label">{{'sign up.NickName (in Arabic)'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="arabicNickName" [LangRestrict]="'ar'" class="form-control"   placeholder="{{'shared.Write Nick Name'|translate}}">
                            <div [hidden]="arabicNickName.valid || arabicNickName.untouched">
                                <small *ngIf="arabicNickName.errors?.['required']" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                                <small *ngIf="arabicNickName.errors?.['maxlength']" class="form-text text-muted d-block " class="alert-danger">
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                            </div>

                        </div>
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID2" class="label">{{'sign up.NickName (in English)'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="englishNickName" class="form-control leftaction" [LangRestrict]="'en'"  placeholder="{{'shared.Write Nick Name'|translate}}">
                            <div [hidden]="englishNickName.valid || englishNickName.untouched">
                                <small *ngIf="englishNickName.errors?.['required']" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                                <small *ngIf="englishNickName.errors?.['maxlength']" class="form-text text-muted d-block " class="alert-danger">
                                    {{'shared.Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                            </div>

                        </div>
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID5" class="label">{{'shared.Identity Number'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="identityNumber"  class="form-control " maxlength="15" [LangRestrict]="'numb'"  placeholder="{{'shared.Write Identity Number'|translate}}">
                            <div>
                                <div [hidden]="identityNumber.valid || identityNumber.untouched">
                                    <small *ngIf="identityNumber.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'shared.This Field is Required'|translate}}
                                   <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                                    <small *ngIf="identityNumber.errors?.['pattern']" id="helpId" class="form-text text-muted d-block " class="alert-danger">
                                  {{'shared.Must Start With 784 and Contain 15 Numbers Only'|translate}}
                                  <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class=" row gx-5 form-set ">
                        <div class="col-xs-2 col-lg-4">

                            <label for="PID4" class="label">{{'shared.email'|translate}} <span class="star">*</span></label>
                            <input type="text" pInputText formControlName="email"  class="form-control"   placeholder="{{'shared.Write email'|translate}}">
                            
                            <div [hidden]="email.valid || email.untouched">
                                    <small *ngIf="email.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                      {{'shared.This Field is Required'|translate}}
                                       <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                  </small>

                                    <small *ngIf="email.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                     {{'shared.Must be Valid Email'|translate}}
                                      <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                    </small>
                            </div>
                           

                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <label for="PID8" class="label">{{'dashboard.UserInformation.Determine Private Role'|translate}} <span class="star">*</span></label>

                            <p-dropdown  [options]="roles" optionLabel="name.ar" optionValue="id" formControlName="privateRole"    [ngClass]="{'ng-invalid ng-dirty':privateRole.errors?.['required'] && privateRole.touched}"   placeholder="{{'dashboard.UserInformation.Select Private Role' | translate}}"></p-dropdown>

                            <div>
                                <div [hidden]="privateRole.valid || privateRole.untouched">
                                    <small *ngIf="privateRole.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                {{'shared.This Field is Required'|translate}}
                                 <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                              </small>

                                </div>

                            </div>
                        </div>
                        <div class="col-xs-1 col-lg-2">

                            <label for="PID8" class="label mb-5">{{'dashboard.UserInformation.User Status'|translate}} <span class="star">*</span></label>
                            <div class="d-flex gap-3 align-items-center">
                                <span>{{'shared.activated'|translate}}</span>
                                <p-inputSwitch  formControlName="userStatus"   id="switchbtn" ></p-inputSwitch>
                                <span class="Label" *ngIf="!userStatus.value">{{'shared.no'|translate}}</span>
                                <span class="Label" *ngIf="userStatus.value">{{'shared.yes'|translate}}</span>
                            </div>


                        </div>
                        <div  class="col-xs-1 col-lg-2 changePassword "  *ngIf="userId">
                           <button  (click)="openPasswordModel=true;clearPasswordModel()"><a class="color-skyBlue-400">{{'shared.editPassword'|translate}}</a></button> 
                        </div>
                     
                    </div>
                    <div class=" row gx-5 form-set " *ngIf="!userId">


                        <div class="col-xs-2 col-lg-4">

                            <label for="password" class="label">{{'shared.password'| translate}} <span class="star">*</span></label>


                            <p-password iconPos="left" formControlName="password"  [feedback]="false"  [toggleMask]="true" name="password"   [ngClass]="{'ng-invalid ng-dirty':password.errors?.['required']&& password.touched||password.errors?.['pattern'] && password.touched}" placeholder="{{'shared.Write Password'| translate}}"></p-password>
                            <div [hidden]="password.valid || password.untouched" class="passerror">
                                <small *ngIf="password.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                          {{'shared.This Field is Required'|translate}}
                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                        </small>

                                <small *ngIf="password.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                            {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                        </small>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4">

                            <label for="confirmPassword" class="label">{{'shared.confirmPassword'| translate}} <span class="star">*</span></label>

                            <p-password [feedback]="false" formControlName="confirmPassword"     [ngClass]="{'ng-invalid ng-dirty':confirmPassword.errors?.['required'] && confirmPassword.touched || confirmPassword.errors?.['pattern'] && confirmPassword.touched || userFormGrp.errors?.['matching'] &&confirmPassword.touched}" [toggleMask]="true" name="confirmPassword" placeholder="{{'shared.confirmPassword'| translate}}"></p-password>

                            <div [hidden]="confirmPassword.valid || confirmPassword.untouched" class="passerror">
                                <small *ngIf="confirmPassword.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                         {{'shared.This Field is Required'|translate}}
                          <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                       </small>

                                <small *ngIf="confirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                           {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                       </small>


                            </div>
                            <small *ngIf="userFormGrp.errors?.['matching'] && confirmPassword.touched && !confirmPassword.errors?.['required'] && password.valid && !confirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                        {{'shared.Confirm Password Must Match Password'|translate}}
                        <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                    </small>

                        </div>



                    
                    </div>

                    <div class=" row gx-5 form-set " *ngIf="accountModel?.roles[0]==47">
                        <span>{{'dashboard.UserInformation.ThisUserIsRelatedToSchool'|translate}} : 
                            <a  [routerLink]="['/dashboard/schools-and-students/schools/school/'+ accountModel?.school?.id]" target="_blank"  [style.height.rem]="'8'"  class="text color-skyBlue-500 fs-3 align-items-center">{{accountModel?.school?.name|currentLang}}</a>
                        </span>
                    </div>
                   
         

                    
              <div class=" d-flex align-items-center justify-content-end ">
                <div class="Btn-group d-flex gap-3">
                  <button class="btn  btn-primary addBtn" [disabled]="userFormGrp.invalid||isBtnLoading"  (click)="AddAccount()" *permit="[ClaimsEnum.S_U_User,ClaimsEnum.S_C_User]">
                    {{'shared.save'|translate}}
                    <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                  </button>
                  <button  ><a routerLink="/dashboard/manager-tools/user-information/users-list/" class="cancelbtn">{{'shared.Cancel'|translate}}</a></button>
                </div>
              </div>


                </form>
            </div>




        </div>
    </div>

</div>


<p-dialog header="{{'shared.editPassword'|translate}}" [baseZIndex]="10000"    [resizable]="false" [(visible)]="openPasswordModel"  [draggable]="false" [modal]="true" [style]="{width: '35vw'}">
    <ng-template pTemplate="content">
     

    
            <ng-container >
                <div class="sign up">
                    <div class=" mt-5 custom-form custom-validation-form " >
                        <form   [formGroup]="userFormGrp"  >
                                    <div class="row gx-5 form-set">
                                            <div class="col-12">
                                                <label class="label" for="nationality">{{'Your password'|translate }} <span class="star">*</span></label>
                                                <p-password iconPos="left"  formControlName="password"    [ngClass]="{'ng-invalid ng-dirty':password.errors?.required&& password.touched||password.errors?.pattern && password.touched}" [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'Enter Your password'| translate}}"></p-password> 
                                                <div [hidden]="password.valid || password.untouched" class="passerror">
                                                    <small *ngIf="password.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                      {{'shared.This Field is Required'|translate}}
                                                      <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                    
                                                    <small *ngIf="password.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                     {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                                     <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                    </small>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="row gx-5 form-set">
                                            <div class="col-12" >
                                                <label class="label" for="precantage">{{'Confirm ypur Password'|translate}} <span class="star">*</span></label>
                                                <p-password iconPos="left"  formControlName="confirmPassword"   [LangRestrict]="'en'"  [ngClass]="{'ng-invalid ng-dirty':confirmPassword.errors?.required && confirmPassword.touched || confirmPassword.errors?.pattern && confirmPassword.touched || userFormGrp.errors?.matching && confirmPassword.touched}" [feedback]="false" [toggleMask]="true" name="password" placeholder="{{'Confirm ypur Password'| translate}}"></p-password> 
                                                <div [hidden]="confirmPassword.valid || confirmPassword.untouched" class="passerror">
                                                    <small *ngIf="confirmPassword.errors?.['required']" id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                                    {{'shared.This Field is Required'|translate}}
                                                     <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                   </small>
                    
                                                    <small *ngIf="confirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                    {{'shared.Password Must contain at least one number and one uppercase and lowercase letter and one non alphabetic'|translate}}
                                                    <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                     </small>
                    
                    
                                                 </div>
                                                 <small *ngIf="userFormGrp.errors?.['matching'] && confirmPassword.touched && !confirmPassword.errors?.['required'] && password.valid && !confirmPassword.errors?.['pattern']" id="helpId2" class="form-text text-muted d-block " class="alert-danger">
                                                {{'shared.Confirm Password Must Match Password'|translate}}
                                                <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                                 </small>
                                            </div>
                                    </div>
                           </form>
                       </div>
                </div>
                
            </ng-container>
           
        </ng-template>
        <ng-template pTemplate="footer">
         
       
        <ng-container >
            <div class="d-flex align-items-center justify-content-end  ">

                <button class="btn btn-primary " (click)="openPasswordModel=false" [disabled]="userFormGrp.errors?.['matching'] || confirmPassword.errors?.['required'] || password.invalid || confirmPassword.errors?.['pattern']">
                    <span>{{'sign up.Next'| translate}} </span>
                </button>
            </div>
        </ng-container>
       
        
        
        </ng-template>
    
    </p-dialog>
