

<div class="prim-table mt-4" *ngIf="editList.totalAllData || editList.loading">
  <p-table #dt [value]="editList.list">
      <ng-template pTemplate="caption">
          <app-table-caption
          [hasFilter]="false"
          [hasExport]=false
          (onSearch)="this.filtration.Page=1;filtration.KeyWord = $event; getEditList()"
          (onClear)="clearFilter()">

      </app-table-caption>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="code"><p-sortIcon field="code"></p-sortIcon>{{'dashboard.schools.editBy' |translate}} </th>
              <th pSortableColumn="code"><p-sortIcon field="code"></p-sortIcon>{{'dashboard.schools.jobTitle' |translate}} </th>
              <th pSortableColumn="name"><p-sortIcon field="name"></p-sortIcon>{{'dashboard.schools.editionDate' |translate}} </th>
              <th pSortableColumn="category"><p-sortIcon field="category"></p-sortIcon>{{'dashboard.schools.editSummary' |translate}} </th>
              <th class="actions" pSortableColumn="category"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product?.createdBy|currentLang}}</td>
              <td>{{product?.jobTitle|currentLang}}</td>
              <td>{{product?.createdDate|LocalizeDate}}</td>
              <td>

                  {{product?.type|translate}}

              </td>
              <td>
                  <div class="d-flex align-items-center gap-4" (click)="openEditListModel=true;showDetails(product.id)" role="button">
                      <span class="color-skyBlue-400">{{'shared.details'|translate}}</span>
                      <fa-icon [class.rotate180]="lang=='en'" class="color-skyBlue-400 fs-6" [icon]="faChevronCircleLeft"></fa-icon>
                  </div>
              </td>
          </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="20">
                  <ng-container *ngIf="editList.totalAllData && editList.list.length == 0 &&  !editList.loading">
                      <app-informative-block subTitle="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                  </ng-container>

                  <app-loader></app-loader>
              </td>
          </tr>
      </ng-template>
  </p-table>

  <div class="" *ngIf="editList.total > paginationState.rows">
      <app-pagination [totalItems]="editList.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
  </div>
</div>

<ng-container *ngIf="!editList.totalAllData && !editList.loading">
  <app-informative-block subTitle="{{'emptyList.editList' |translate}}"></app-informative-block>
</ng-container>




<p-dialog [(visible)]="openEditListModel"  [modal]="true" [style]="{width: '45vw', fontSize:'2rem'}">
  <ng-template pTemplate="header">
      <div class="">
          <div class="fw-bold">{{'dashboard.schools.editDetailsOnEmployee' | translate}}(254555)</div>
       <ng-container  *ngIf="editItem?.createdBy">
          <p class="paragraph paragraph--sm color-skyBlue-400 mt-3">{{'dashboard.schools.editBy'|translate}} <span class="color-primary text-decoration-underline">{{editItem?.createdBy|currentLang}}</span> {{'shared.in date'|translate}} <span>{{editItem?.createdDate|LocalizeDate}}</span></p>
        </ng-container>
        <ng-container *ngIf="!editItem?.createdBy">
          <div class="row g-5">

                  <app-skeleton count="1" width="56.5rem" [style]="{'margin-bottom': '1rem','margin-top': '3rem'}"></app-skeleton>

          </div>

        </ng-container>
      </div>
  </ng-template>
  <ng-template pTemplate="content">
      <div class="details">

          <div class="">
          <ng-container *ngIf="!editItem?.modificationDetails">
                  <div class="row g-5">

                          <app-skeleton count="4"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>

                  </div>

          </ng-container>
          <ng-container *ngIf="editItem?.modificationDetails">
             <ng-container *ngFor="let item of editItem?.modificationDetails">
                  <div class="row gx-5 form-set" >
                      <label class="label color-primary fw-bold fs-3 mb-5"  for="password">{{'shared.edit' | translate}} {{item?.colomnName}}</label>
                      <div class="col-md-6 d-flex gap-3 align-items-baseline">
                          <img src="assets/images/shared/bullet.svg" alt="">
                          <div class="d-flex gap-5  align-items-center">
                              <span class="fs-3">{{'shared.From'|translate}}</span>
                              <span class="color-gray-600">{{item?.from}}</span>

                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="d-flex gap-5  align-items-center">
                              <span class="fs-3">{{'shared.To'|translate}}</span>
                              <span class="color-gray-600">{{item?.to}}</span>

                          </div>
                      </div>
                  </div>

                  <hr class="my-6">

              </ng-container>
          </ng-container>


          </div>
      </div>
  </ng-template>
</p-dialog>
