<ng-container *ngIf="mode=='view' && !(childService.onEditMode$| async)">
    <div class="float-btn " (click)="childService.onEditMode$.next(true)">
        <img src="assets/images/shared/pen-blue-filled.svg" alt="">
    </div>

    <div class="">
        <div class="row">
            <div class="col-md-4 mt-6 gx-5">
                <label class="mb-4 color-gray-700" > هوية الطالب</label>
                <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                    <div class="d-flex align-items-center gap-5">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span> ملف خلاصة القيد.pdf</span>
                    </div>
                    <p class="paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                        <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                        <span>وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت</span>
                    </p>

                </div>
            </div>

            <div class="col-md-4 mt-6">
                <label class="mb-4 color-gray-700" > هوية الطالب</label>
                <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                    <div class="d-flex align-items-center gap-5">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span> ملف خلاصة القيد.pdf</span>
                    </div>
                    <p class="paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                        <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                        <span>وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="mode=='edit' || (childService.onEditMode$| async)">
    <div class="">
        <div class="row">
            <app-file-upload [files]="files" [accept]="'.pdf'" (onFileUpload)="onFileUpload($event)"></app-file-upload>
        </div>
        <div class="row">
            <ng-container *ngFor="let file of files; let i=index">
                <div class="col-md-4 mt-6 gx-5">
                    <label class="mb-4 color-gray-700" > هوية الطالب</label>
                    <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                        <div class="d-flex align-items-center gap-5">
                            <img src="assets/images/shared/pdf.svg" alt="">
                            <span> {{file.name}}</span>
                            <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark" (click)="onDeleteFile(i)"></fa-icon>
                        </div>
                        <p class="position-relative paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                            <img role="button" class="position-absolute" style="top:1.5rem; left:1.5rem;width: 1.3rem; height: 1.3rem;" src="assets/images/shared/pen.svg" alt="">
                            <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                            <span>وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت</span>
                        </p>
    
                    </div>
                </div>
            </ng-container>
            

            <!-- <div class="col-md-4 mt-6">
                <label class="mb-4 color-gray-700" > هوية الطالب</label>
                <div class=" border-dark px-4 py-3 color-gray-800 radius-15 mb-5">
                    <div class="d-flex align-items-center gap-5">
                        <img src="assets/images/shared/pdf.svg" alt="">
                        <span> ملف خلاصة القيد.pdf</span>
                        <fa-icon role="button" class="color-fuchsia-600 me-auto ms-2" [icon]="faXmark"></fa-icon>
                    </div>
                    <p class="position-relative paragraph paragraph--sm color-gray-600 bg-orange-50 p-4 radius-15 mt-4">
                        <img role="button" class="position-absolute" style="top:1.5rem; left:1.5rem;width: 1.3rem; height: 1.3rem;" src="assets/images/shared/pen.svg" alt="">
                        <span class="d-block color-orange-300 mb-2">ملاحظه :</span>
                        <span>وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت</span>
                    </p>

                </div>
            </div> -->
        </div>
    </div>
</ng-container>
