
 





<div class=" rounded-4 "  style="margin-bottom: 8rem;">
<div class="prim-table mt-1">
<p-table  #dt [value]="SubjectsList "    sortMode="multiple"   >
  <ng-template pTemplate="caption">
    <div class="caption" >
        <!-- Serach and Filter Button -->
        <div class="caption__filter caption__filter--actions d-flex">
            <div class="myInput myInput--md myInput--search p-input-icon-left ">
                <i class="pi pi-search fs-3"></i>
                <input class="input rounded-4" type="text" pInputText placeholder="{{'Search...' | translate}}" [(ngModel)]="searchText" />
            </div>

            <button class="btn btn--sm btn-secondary" >
                {{'Filter' | translate}}
                <img src="assets/images/Frame.svg" alt="">
            </button>

            <button class=" btn-primary mx-3 btn-rounded px-4 addbtn"  (click)="gotoAddSubject()">
              {{'dashboard.Subjects.Add New Subject'|translate}}
            </button>
        </div>

        <!-- Import Export -->
        <div class="actions">
            <div role="button"  pTooltip="CSV" (click)="dt.exportCSV()">
                <img src="assets/images/shared/csv.svg" alt="import">
            </div>
            <p-divider layout="vertical"></p-divider>
            <div  pTooltip="XLS"  role="button">
                <img src="assets/images/shared/excel.svg" alt="import">
            </div>
        </div>
    </div>
</ng-template> 
  
  
  
  <ng-template pTemplate="header" >
        <tr  >
          <th   pSortableColumn="name" ><p-sortIcon  field="name" ></p-sortIcon>{{'dashboard.Subjects.School Name'|translate}}</th>
          <th   pSortableColumn="id"><p-sortIcon  field="id"></p-sortIcon>{{'dashboard.Subjects.Subject Hours'|translate}}</th>
          <th   pSortableColumn="phoneno"><p-sortIcon field="phoneno"></p-sortIcon>{{'dashboard.Subjects.Is Contain'|translate}}GPA</th>
          <th   pSortableColumn="email"><p-sortIcon  field="email"></p-sortIcon>{{'dashboard.Subjects.Evaluation System'|translate}}</th>
          <th   pSortableColumn="gender"><p-sortIcon field="gender"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
          <th   pSortableColumn="nationality"><p-sortIcon field="nationality"></p-sortIcon>{{'dashboard.Subjects.Subject Minimum grade'|translate}}</th>
       
        

          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-e  >
        <tr  >
            <td  >{{e.name|translate}}</td>
            <td   >{{e.id|translate}}</td>
            <td  >{{e.name|translate}}</td>
            <td  >{{e.phoneno|translate }}</td>
            <td  >{{e.email|translate}}</td>
            <td>
              <div class="d-flex align-items-center gap-4">
                 
                  <div [ngClass]="e.gender=='Female'?'alerting success':'alerting danger'">{{e.gender|translate}}</div>
                  
              </div>
          </td>
           
        </tr>
    </ng-template>
</p-table>

</div>
</div>