@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/input';
@import'src/assets/css/components/forms';
@import 'src/assets/css/components/primng-table';

:host{position: relative;}

.prim-table{

    ::ng-deep p-table{
        thead.p-datatable-thead tr th{
            min-width: 12rem;

            &.actions{min-width: 17rem; }
        }
        .p-datatable-tbody tr td{
        min-width: 12rem;
        &.actions{
            justify-content: end;min-width: 17rem;
            .dropdown-menu {

                transform: translate3d(100px, -20px, 0px) !important;
        }
         }
       }
    }
}



