

<!-- -------------- -->
<ng-container *permit="claimsEnum.S_UploadExam">
    <div *ngIf="currentUserScope==userScope.SPEA">
        <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/performance-managment/assignments/upload-assignment'" [content]="'breadcrumb.Addassignment'">
        </app-add-btn>
    </div>
    <div *ngIf="currentUserScope==userScope.Employee">
        <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/school-performance-managent/assignments/upload-assignment'" [content]="'breadcrumb.Addassignment'">
        </app-add-btn>
    </div>
</ng-container>

<!-- ------Table------- -->

<div class="prim-table mt-4" *ngIf="assignments.totalAllData || assignments.loading">

    <p-table  [lazy]="true" [value]=" assignments.list" (onSort)="onSort($event)" [scrollable]="true">
            <ng-template pTemplate="caption">
                <app-table-caption
                (onExport)="onExport($event)"
                (onFilter)="filtration.Page=1;getAssignmentList()"
                (onSearch)="filtration.Page=1; filtration.KeyWord = $event; getAssignmentList()"
                (onClear)="clearFilter()">
                <div class="row gx-5 form-set">
                    <div class="col-4">
                        <label class="label" for="flexibilityStatus">{{'dashboard.Assignments.Assignment Status'|translate }}  </label>
                        <p-dropdown [options]="examStatusList" [showClear]="true" optionLabel="name" optionValue="value" [(ngModel)]="filtration.Status" inputId="Status"  placeholder="{{'dashboard.Assignments.Select Assignment Status'|translate }}"></p-dropdown>
                    </div>

                </div>
            </app-table-caption>
            </ng-template>


        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="{{lang=='ar'? 'ArabicName' : 'EnglishName'}}">
                    <p-sortIcon field="{{lang=='ar'? 'ArabicName' : 'EnglishName'}}"></p-sortIcon>{{'dashboard.Assignments.Assignment Name' | translate}}
                </th>
                <th style="min-width: 20rem;" pSortableColumn="{{lang=='ar'? 'schoolArabicName' : 'schoolEnglishName'}}" *ngIf="currentUserScope==userScope.SPEA">
                    <p-sortIcon field="{{lang=='ar'? 'schoolArabicName' : 'schoolEnglishName'}}"></p-sortIcon>{{'shared.school' | translate}}
                </th>
                <th pSortableColumn="{{lang=='ar'? 'GradeArabicName' : 'GradeEnglishName'}}">
                    <p-sortIcon field="{{lang=='ar'? 'GradeArabicName' : 'GradeEnglishName'}}"></p-sortIcon>{{'dashboard.Assignments.Class' | translate}}
                </th>

                <th pSortableColumn="{{lang=='ar'? 'CurriculmArabicName' : 'CurriculmEnglishName'}}" *ngIf="currentUserScope!=userScope.Employee">
                    <p-sortIcon field="{{lang=='ar'? 'CurriculmArabicName' : 'CurriculmEnglishName'}}"></p-sortIcon>{{'dashboard.Assignments.curriculum' | translate}}
                </th>

                <th pSortableColumn="SchoolCount" *ngIf="currentUserScope!=userScope.Employee">
                    <p-sortIcon field="SchoolCount"></p-sortIcon>{{'dashboard.Assignments.schoolCount' | translate}}
                </th>


                <th style="min-width: 15rem;" pSortableColumn="{{lang=='ar'? 'SubjectArabicName' : 'SubjectEnglishName'}}">
                    <p-sortIcon field="{{lang=='ar'? 'SubjectArabicName' : 'SubjectEnglishName'}}"></p-sortIcon>{{'dashboard.Assignments.Subject' | translate}}
                </th>
                <th  style="min-width: 23rem;" pSortableColumn="ExamShowDate">
                    <p-sortIcon field="ExamShowDate"></p-sortIcon>{{'dashboard.Assignments.Exam Date And Time' | translate}}
                </th>
                <th  style="min-width: 22rem;" pSortableColumn="CreatedDate">
                    <p-sortIcon field="CreatedDate"></p-sortIcon>{{'dashboard.surveys.createdDate' | translate}}
                </th>
                <th  pSortableColumn="UserFullName">
                    <p-sortIcon field="UserFullName"></p-sortIcon>{{'dashboard.surveys.createdBefore' | translate}}
                </th>
                <th pSortableColumn="examStatus">
                    <p-sortIcon field="examStatus"></p-sortIcon> {{'dashboard.Assignments.Status' | translate}}
                </th>
                <th alignFrozen="left" pFrozenColumn [frozen]="true" pSortableColumn="actions" class="actions"></th>
                <!-- <th style="min-width: 17rem;"></th> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-assignment>
            <tr>
                <td>{{assignment.name |currentLang}}</td>
                <td style="min-width: 20rem;" *ngIf="currentUserScope==userScope.SPEA">{{assignment.schoolName|currentLang}}</td>
                <td>{{assignment.gradeName |currentLang}}</td>
                <td *ngIf="currentUserScope!=userScope.Employee">{{assignment.curriculmName |currentLang}}</td>
                <td  *ngIf="currentUserScope!=userScope.Employee">{{assignment.schoolCount}}</td>
                <td style="min-width: 15rem;">{{assignment.subjectName|currentLang}}</td>
                <td  style="min-width: 23rem;">
                    <div class="d-flex flex-shrink-0">
                        {{assignment.examShowDate | LocalizeDate}}&nbsp;-&nbsp;{{assignment.examShowTime}} UTC
                    </div>
                </td>
                <td style="min-width: 22rem;">
                    <div class="d-flex flex-shrink-0">
                        {{assignment.createdDate |LocalizeDate:'d MMMM y hh:mm a'}}
                    </div>
                </td>

                <td>{{assignment.userFullName}}</td>

                <td>
                    <div class="d-flex align-items-center gap-4">

                        <div [ngClass]="assignment.examStatus=='Available'?'alerting success':'alerting danger'">
                            {{assignment.examStatus | translate}}</div>

                    </div>
                </td>
                <td pFrozenColumn [frozen]="true" class="actions" >
                    <div>

                        <app-dropdown [items]="items" label="{{'shared.ExamFileMangment' | translate}}"
                          (onItemClicked)="dropdownItemClicked($event, assignment)"></app-dropdown>
                    </div>
                </td>



            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf=" assignments.totalAllData &&  assignments.list.length == 0 &&  ! assignments.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <div class="w-100">
                        <app-loader></app-loader>
                    </div>
                </td>
            </tr>
        </ng-template>

    </p-table>


    <div *ngIf="assignments.total > paginationState.rows">
        <app-pagination [totalItems]="assignments.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>

</div>

    <ng-container *ngIf="!assignments.totalAllData && !assignments.loading">
        <app-informative-block title="{{'emptyList.Assignments List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
    </ng-container>


