

.informative-block{

    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .title{
        width: 50%;
        font-family: 'Droid';
    }

    &.sm{
        min-height: 20rem;
        justify-content: start;
        position: relative;
        bottom:2rem;

    }
}