<nav class="nav-container" [ngClass]="classes">

  <div class="nav">
    <ng-container>

        <div class="nav__logo nav__logo--main">
            <img src="assets/images/spea-logo.png" alt="">
        </div>
        <div class="divider"></div>
    </ng-container>

    <div class="nav__logo nav__logo--daleel" routerLink="/">
        <img src="assets/images/navBar/daleel.svg" alt="">
    </div>



    <!-- NavBar Menu -->
    <div class="nav__menu__container  nav-auto" *ngIf="currentUserScope ==ScopeEnum.Guardian" >
        <ul class="nav__menu">
            <div class="mx-5"></div>
            <li *ngFor="let navItem of guardianNavItems" class="nav__menu__item">
                <a routerLinkActive="active" routerLink="{{navItem.Link}}"  [routerLinkActiveOptions]="{exact: true}">
                    <div class="text"> {{navItem.name |async}}</div>
                </a>
            </li>
        </ul>
    </div>

    <!--  *permit="claimsEnum.SE_NavBarMenu"-->
    <div class="mx-auto" (clickOutside)="atclickOutside()" *ngIf="!(currentUserScope ==ScopeEnum.Guardian)" >

        <div class="nav__menu__container ">
            <ul class="nav__menu">
              <!-- | excludeEmptyList :'links'  -->
                <ng-container *ngFor="let item of menuItems ; let i= index">
                    <li class="nav__menu__item" (click)="openMenu(item.id)" *permit="item.claims">
                        <a [class.active]="item.enum == (activeRoute$|async)">
                            <div class="text">{{item.title |async}}</div>
                            <div class="icon">
                                <fa-icon class="" [icon]="faAngleDown"></fa-icon>
                            </div>
                        </a>
                    </li>
                </ng-container>

            </ul>
        </div>

        <!-- NavBar modal -->

        <div class="menu" [class.show]="isMenuOpend">
            <div class="links-wrapper w-50">
              <!--  @slide -->
                <div class="links" *ngIf="activeMenuItemChanged">
                    <h2 class="heading heading--secondary">{{activeMenuItem?.title |async}}</h2>
                    <ul>
                        <ng-container *ngFor="let link of activeMenuItem?.links" >
                          <ng-container *ngIf="!link?.isHidden">
                            <li (click)="isMenuOpend=false" [routerLink]="[link.url]" [queryParams]="link?.queryParams" *permit="link.claims">
                                {{link?.name | async}}
                            </li>
                          </ng-container>
                        </ng-container>

                    </ul>
                </div>
            </div>

            <div class="more-common">
                <h2 class="heading heading--secondary">{{'The most popular services'|translate}}</h2>
                <ul>
                    <li>
                        <!-- <div class="icon">
                            <img src="assets/images/home/comunication-managment/parents.svg" alt="">
                        </div> -->
                        <div class="content" role="button" routerLink="/reports-managment/degrees-reports" (click)="isMenuOpend=false">
                            <div class="title">
                                <h4 class="heading heading--tertiary">{{'Score report'|translate}}</h4>
                                <fa-icon [class.rotate180]="lang=='en'" [icon]="faArrowLeft"></fa-icon>
                            </div>
                            <p class="">{{'An employee of the Sharjah Private Education Authority who controls and manages relations with the schools affiliated with the Sharjah Authority' | translate}}</p>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="icon">
                            <img src="assets/images/home/comunication-managment/parents.svg" alt="">
                        </div> -->
                        <div class="content" role="button" routerLink="/manager-tools/settings" (click)="isMenuOpend=false">
                            <div class="title">
                                <h4 class="heading heading--tertiary">{{'system configuration' | translate}}</h4>
                                <fa-icon [class.rotate180]="lang=='en'" [icon]="faArrowLeft"></fa-icon>
                            </div>
                            <p class="">{{'An employee of the Sharjah Private Education Authority who controls and manages relations with the schools affiliated with the Sharjah Authority' |translate}}</p>
                        </div>
                    </li>
                    <li>
                        <!-- <div class="icon">
                            <img src="assets/images/home/comunication-managment/parents.svg" alt="">
                        </div> -->
                        <div class="content" role="button" routerLink="/schools-and-students/students" (click)="isMenuOpend=false">
                            <div class="title">
                                <h4 class="heading heading--tertiary">{{'shared.students' | translate}}</h4>
                                <fa-icon [class.rotate180]="lang=='en'" [icon]="faArrowLeft"></fa-icon>
                            </div>
                            <p class="">{{'An employee of the Sharjah Private Education Authority who controls and manages relations with the schools affiliated with the Sharjah Authority' |translate}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- NavBar modal -->


    </div>



    <div class="nav__messages">
        <div class="">
            <div class="dropdown" role="button">

                <div class="px-4 message" routerLink="/messages/messages">
                    <!-- <img src="assets/images/navBar/message.svg" alt=""> -->
                    <ng-container *ngIf="messageService.unReadedMessagesCount$|async as unReadedMessagesCount">
                      <i *ngIf="unReadedMessagesCount" class="pi pi-comments color-primary fs-2" pBadge style="font-size: 2rem;" severity="danger"  [value]="unReadedMessagesCount"></i>
                      <i *ngIf="!unReadedMessagesCount " class="pi pi-comments color-primary fs-2" style="font-size: 2rem;" ></i>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>

    <app-notification-icon></app-notification-icon>


    <!-- *permit="claimsEnum.S_SchoolYear"  -->
    <div class="d-flex align-items-center">
      <span class="color-primary year  mb-2 fs-4" *ngIf="!(currentUserScope ==ScopeEnum.Guardian)">{{'shared.SchoolYear'|translate}}</span>
      <div class="nav__dropdown custom-form" *ngIf="!(currentUserScope ==ScopeEnum.Guardian)">
          <!-- <label>hhh</label> -->

          <div class="icon arrow" (click)="dropdown.show()">
              <fa-icon class="" [icon]="faAngleDown"></fa-icon>
          </div>
              <p-dropdown
              #dropdown
              [options]="schoolYearsList"
              [(ngModel)]="schoolYearId"
              optionLabel="{{lang=='ar' ? 'name.ar' : 'name.en'}}"
              optionValue="id"
              (onChange)="onYearSelected($event.value)"></p-dropdown>
              <div class="icon calendar" (click)="dropdown.show()">
                  <img src="assets/images/navBar/calendar.svg" alt="">
            </div>

      </div>
   </div>

    <!-- *permit="claimsEnum.G_Profile" -->
    <div class="nav__user"  *ngIf="currentUserScope ==ScopeEnum.Guardian" >
        <div class="dropdown">
            <div class="dropdown__action" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                <!-- <fa-icon class="icon" [icon]="faAngleDown"></fa-icon> -->
                <!-- <fa-icon class="fs-4" [icon]="faEllipsisVertical" ></fa-icon> -->
                <span class="name" *ngIf="guardianName">{{guardianName[lang]||null}}</span>
                <div class="image">
                    <img src="assets/images/shared/User male 2.png" alt="">
                </div>
            </div>
            <ul class="dropdown-menu dropdown-menu-end shadow-lg " aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item">
                    <a class="link" (click)="changeLanguage()">
                      <i class="pi pi-globe color-primary" style="font-size: 2rem"></i>
                      <p [class]="lang=='en' ? 'font-ar'  : 'font-en' ">{{lang=='en' ? 'عربى': 'English'}}</p>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a class="link" routerLink="/parent/profile">
                        <img src="assets/images/shared/user.svg" alt="">
                        <p>{{'shared.account' |translate}}</p>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a class="link" (click)="logout()">
                        <img src="assets/images/shared/logout.svg" alt="">
                        <p class="red">{{'shared.signOut' |translate}}</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>
  </div>




    <div class="history" *ngIf="routeListenrService?.routeHistory?.length">
      <hr >
      <ul class="history__list" >
        <!-- <i class="pi pi-history color-primary" style="font-size: 1.5rem;"></i> -->
        <img [src]="'assets/images/shared/delete-busket.svg'" role="button" style="width: 1.7rem;" alt="clear" (click)="routeListenrService.clearRouteHistory()">

        <ng-container *ngFor="let item of routeListenrService?.routeHistory; let i =index; trackBy:item?.url">
          <span [class.d-none]="i==0">|</span>
          <li class="history__list__item">
              <a class="flex-shrink-0" target="_blank" href="{{item.url}}">{{item.title |currentLang}}</a>
              <i (click)="routeListenrService.removeFromRouteHistory(i)" StopProp class="pi pi-times" style="font-size: 1rem"></i>
          </li>
        </ng-container>
      </ul>
    </div>

</nav>
