<div class="">
  <div class="row">
      <div class="col-md-12">

          <div id="content">
              <ul class="timeline text-black">
                  <div class="d-flex gap-3 align-items-center header border-bottom mb-5" >
                      <span class="action-author mx-2 fw-bold color-primary py-2">صاحب الإجراء</span>
                      <div class=" border-end" style="height: 5rem;"></div>
                      <span class="action-name fw-bold color-primary py-2">الإجراءالمتخذ</span>
                      <div class=" border-end" style="height: 5rem;"></div>
                      <span class="fw-bold color-primary py-2">إسم الطلب</span>
                  </div>
                  <!-- <hr class="mb-5 mt-0"> -->

                  <ng-container *ngFor="let state of states">

                      <ng-container *ngIf="state.status==statusEnum.Completed; then completedStateTemp; else  pendingStateTemp"></ng-container>

                      <ng-template #pendingStateTemp>
                          <!-- *ngFor="let task of state.tasks | slice :0:1" -->
                          <li class="event"
                          [class.active]="timeline.currentState.mappedStatusCode==state.state.mappedStatusCode"
                          *ngFor="let task of state.tasks | slice :0:1"
                          >
                              <ng-container *ngIf="!state.state.isFinal">
                                  <p class="event__time mb-6">{{state.createdDate|LocalizeDate:'d MMMM y - hh:mm a'}}</p>
                                  <div class="event__separator">
                                      <div class="event__marker"></div>
                                      <div class="event__connector"></div>
                                  </div>
                                  <div class="event__content">
                                      <div class="profile__name ">
                                          <h4 class="color-red-500 fs-3">{{state.state.title | currentLang}}</h4>
                                          <!-- <span class="color-black-500 fs-4 ">{{task.action?.title | currentLang}}
                                              <span class="heading heading--tertiary">{{task.rejectThing | currentLang}}</span>
                                          </span> -->
                                          <!-- {{task.status.title | currentLang}} -->
                                          <span class="color-red-500 me-auto"> قيد الانتظار </span>
                                      </div>
                                      <!-- <p class="fs-4 color-gray-800 w-75">{{task.content | currentLang}}</p> -->

                                      <!-- <div class="icon--file m-4">
                                          <img src="assets/images/shared/PDFSEC.svg" alt="">
                                          <span class="text color-primary">{{task.attachment.name}}</span>
                                      </div> -->
                                  </div>
                              </ng-container>

                          </li>
                      </ng-template>

                      <ng-template #completedStateTemp>
                          <li class="event" *ngFor="let task of state.tasks">
                              <p class="event__time" mb-6 >{{task.createdDate|LocalizeDate:'d MMMM y - hh:mm a'}}</p>
                              <div class="event__separator">
                                  <div class="event__marker"></div>
                                  <div class="event__connector"></div>
                              </div>
                              <div class="event__content">
                                  <div class="d-flex gap-4">
                                      <span class="fw-bold color-primary action-author" *ngIf="task.assignedTo.scope==userScopeEnum.SPEA">مسؤل الهيئة</span>
                                      <span class="fw-bold color-primary action-author" *ngIf="task.assignedTo.scope!=userScopeEnum.SPEA">{{task.assignedTo.fullName |currentLang}}</span>

                                      <span class="color-black-500 fs-4 fw-bold color-skyBlue-500 action-name">{{task.action?.title | currentLang}} </span>
                                      <span class="fw-bold ">{{'dashboard.Requests.' + requestDetails?.requestType |translate}}</span>
                                      <span class="color-skyBlue-500 me-auto">  {{task.action?.title | currentLang}}</span>
                                  </div>
                                  <p class="fs-4 color-gray-800 w-75">{{task.action?.comments}}</p>

                                  <!-- <ng-container *ngTemplateOutlet="attachments; context: {$implicit: task.action.attachments}"></ng-container> -->
                                  <div class="row mt-4 mb-5" *ngIf="task.action?.attachments">
                                      <div  class="col-md-4" *ngFor="let item of task.action?.attachments">
                                          <app-file [file]="item"></app-file>
                                      </div>
                                  </div>
                                  <!-- <div class="icon--file m-4">
                                      <img src="assets/images/shared/PDFSEC.svg" alt="">
                                      <span class="text color-primary">{{task.action.attachment}}</span>
                                  </div> -->
                              </div>
                          </li>
                      </ng-template>

              </ng-container>
              </ul>
          </div>
      </div>
      <!-- <div class="col-md-6 ">
      </div> -->
  </div>
</div>
