<div  style="overflow-x: hidden;">
    
    <div class="d-flex ">
   
    <div id="addeditAnnualHoliday" >
      <div  id="homesection">
          <div>
              <b class="fontstyle" id="addAnnualfont">{{'Add New Subject'|translate}}</b>
          </div>
          <div class="mb-1 mt-1">
              <fa-icon [icon]=" Homeicon" class="ms-1 " id="homeicon"></fa-icon> <span id="Annuallistfont"> > {{'List Of Subjects'|translate}} > {{'Add New Subject'|translate}}</span>
         </div>
        
          <div class=" rounded d-flex" >
              <button type="button" id="circlebtn" class=" ms-2" data-mdb-ripple-color="dark"><fa-icon [icon]="righticon" id="rightarrow"></fa-icon></button>
            
              <button type="button" class="btn " id="addbtn"><a>{{'Save'|translate}}</a></button>
           
          </div>
          
     
      </div>
    
  
      
          <div class="container mt-5 forms" style="margin-bottom: 20rem;">
              <form [formGroup]="SubjectFormgrp" class="container-fluid  ">
                  <div class="mb-3 row ">
                      <div class="col-xs-2 col-lg-4">
                          <label for="PID" class="form-label mt-3"><b>{{'Subject Name in Arabic'|translate}}</b></label><br>
                          <input type="text" name="PID" id="PID" (ngModelChange)="CheckUniqueSubjectNameInArabic($event)" formControlName="SubjectNameInArabic"  class="form-control" placeholder="{{'Subject Name in Arabic'|translate}}"aria-describedby="helpId">
                          <div>
                            <div [hidden]="SubjectNameInArabic.valid || SubjectNameInArabic.untouched">
                                <small *ngIf="SubjectNameInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="SubjectNameInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>

                              
                             </div>
                             <small *ngIf="IsSubjectNotUnique && !SubjectNameInArabic.errors?.['maxlength'] && !SubjectNameInArabic.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                            </div>
                      </div>
                      <div class="col-xs-2 col-lg-4">
                         
                          <label for="PID2" class="form-label mt-3"><b>{{'Subject Name in English'|translate}}</b></label><br>
                          <input type="text" name="PID2" id="PID2" (ngModelChange)="CheckUniqueSubjectNameInEnglish($event)" formControlName="SubjectNameInEnglish" class="form-control" placeholder="{{'Subject Name in English'|translate}}" aria-describedby="helpId">
                          <div>
                            <div [hidden]="SubjectNameInEnglish.valid || SubjectNameInEnglish.untouched">
                                <small *ngIf="SubjectNameInEnglish.errors?.['required']"   class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="SubjectNameInEnglish.errors?.['maxlength']" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                          
                             </div>
                             <small *ngIf="IsSubjectNotUnique && !SubjectNameInEnglish.errors?.['maxlength'] && !SubjectNameInEnglish.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                            </div>
                         
                      </div>
                      <div class="col-xs-2 col-lg-4">
                        
                        <label for="PID3" class="form-label mt-3"><b>{{'Name in results screen in Arabic'|translate}}</b></label><br>
                        <input type="text" name="PID3" id="PID3" (ngModelChange)="CheckUniqueNameInResultsScreenInArabic($event)" formControlName="NameInResultsScreenInArabic" class="form-control" placeholder="{{'Name in results screen in Arabic'|translate}}" aria-describedby="helpId">
                        <div>
                            <div [hidden]="NameInResultsScreenInArabic.valid || NameInResultsScreenInArabic.untouched">
                                <small *ngIf="NameInResultsScreenInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="NameInResultsScreenInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                             <small *ngIf="IsSubjectNotUnique && !NameInResultsScreenInArabic.errors?.['maxlength'] && !NameInResultsScreenInArabic.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                        </div>
                       
                    </div>
                  </div>
                  <div class="mb-3 row ">
                    <div class="col-xs-2 col-lg-4">
                       
                        <label for="PID4" class="form-label mt-3"><b>{{'Name in results screen in English'|translate}}</b></label><br>
                        <input type="text" name="PID4" id="PID4" (ngModelChange)="CheckUniqueNameInResultsScreenInEnglish($event)" formControlName="NameInResultsScreenInEnglish" class="form-control" placeholder="{{'Name in results screen in English'|translate}}" aria-describedby="helpId">
                        <div>
                            <div [hidden]="NameInResultsScreenInEnglish.valid || NameInResultsScreenInEnglish.untouched">
                                <small *ngIf="NameInResultsScreenInEnglish.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="NameInResultsScreenInEnglish.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'Numbres Of Characters must not more than 65 character'|translate}}
                                    <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                             <small *ngIf="IsSubjectNotUnique && !NameInResultsScreenInEnglish.errors?.['maxlength'] && !NameInResultsScreenInEnglish.errors?.['required']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                {{'Subject Name Must Be Unique'|translate}}
                                <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                            </small>
                                
                        </div>
                       
                    </div>
                    <div class="col-xs-2 col-lg-4">
                         
                        <label for="PID5" class="form-label mt-3"><b>{{'Subject Hours'|translate}}</b></label><br>
                        <input type="number" name="PID5" id="PID5" formControlName="SubjectHours" class="form-control" placeholder="{{'Subject Hours'|translate}}" aria-describedby="helpId">
                        <div>
                            <div [hidden]="SubjectHours.valid || SubjectHours.untouched">
                                <small *ngIf="SubjectHours.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                                <small *ngIf="SubjectHours.errors?.['min']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                    {{'Hours must be more than or equal 1 hour'|translate}}
                                    <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                             </div>
                                
                        </div>
                        
                    </div>
                    <div class="col-xs-2 col-lg-4">
                        
                        <label for="PID6" class="form-label mt-3"><b >{{'Number Of Sessions Per Week'| translate}}</b></label><br>
                        <input type="number" formControlName="NumberOfSessionsPerWeek" name="PID6" id="PID6" class="form-control" placeholder="{{'Number Of Sessions Per Week'| translate}}" aria-describedby="helpId">
                      
                    </div>
                </div>
                <div class="mb-3 row ">
                    <div class="col-xs-4 col-lg-4">
                         
                        <label for="PID7" class="form-label mt-3"><b> {{'GPA'| translate}}</b></label><br>
                        <input type="text" formControlName="GPA" name="PID7" id="PID7" class="form-control" placeholder="{{'GPA'| translate}}" aria-describedby="helpId">
                 
                    </div>
                    <div class="col-xs-4 col-lg-4">
                        <label for="PID8" class="form-label mt-3"><b>{{'Evaluation System'|translate}}</b></label><br>
                        
                        <select dir="rtl"  class="form-select form-select-lg  " formControlName="EvaluationSystem"  name="PID8" id="PID8"  >
                            <option [defaultSelected]="">تقييم</option>
                            <option ><span >1</span></option>
                            <option  ><span >2022</span></option>
                          </select>
                       
                        <div>
                            <div [hidden]="EvaluationSystem.valid || EvaluationSystem.untouched">
                                <small *ngIf="EvaluationSystem.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                  {{'This Field is Required'|translate}}
                                   <fa-icon  [icon]=" Exclamationicon"  class="dangericon ms-1 "></fa-icon>
                                </small>
                               
                             </div>
                                
                        </div>
                    </div>
                 
                </div> 
             
              
                 
              </form>
            </div>                   
     
        
       
   
    </div>
  </div>
  
  </div>
