@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import'src/assets/css/components/input';

#homeicon{
    width:12px;
    height:12.32px;
    color: #8B8B8B;
    font-size: 1.4rem;
}
#addAnnualfont{
    width:278px;
height:35px;
    font-family: 'DIN Next LT Arabic';
font-style: normal;
font-size: 24px;
}
#Annuallistfont{
    color: #8B8B8B;
    width:127px;
    height:22px;
    font-family: 'DIN Next LT Arabic';
    font-style: Regular;
    font-size: 15px; 
}
#addeditAnnualHoliday{
    width: 100%;
    background-color:  #FAFAFA;
    margin-top: 4%;
}

#addbtn{
   color:white;
    background-color:#2E50A3; 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 8px;
    width:106px;
    height:29px;
    a{
        font-family: 'DIN Next LT Arabic';
          font-style: Medium;
          font-size: 16px;
    }
}

    #rightarrow{
       font-size:12px;
       color:#2E50A3;
    }
    #circlebtn{
        height: 30px;
      width: 30px;
     border:solid #2E50A3 0.05em ;
     border-radius: 50%;
      display: inline-block;
     background-color:  #FFFFFF;
    }

    
   hr{
    width:90%;
   

   }
   #addnewyearline{
   
    width:75.4%;
    margin-right: 0.5%;
    margin-top: 1.2%;
   }
   #addnewyearbtn{
    color:#2E50A3;
   width: 14%;
    height:20%;
    background-color:rgba(46, 80, 163, 0.16); 
    border: 0.05em solid rgba(46, 80, 163, 0.16); 
    border-radius: 8px;
    
    font-family: 'DIN Next LT Arabic';
    font-style: Medium;
    font-size: 85%;
  
   }
   #plusicon{
    color:#2E50A3;
    font-size: 0.6em;
  
   }
   
   .calendericon{
  
    position: relative;
    left: 11%;
    top: 2%;
    font-size:1.1em ;
    font-family: 'DIN Next LT Arabic';
    color: #AFAFAF;
   
    
   }

  