<div  style="overflow-x: hidden;">
    
    <div class="d-flex ">
   
    <div id="addeditAnnualHoliday" >
      <div  id="homesection">
          <div>
              <b class="fontstyle" id="addAnnualfont">إضافة مادة دراسية جديدة</b>
          </div>
          <div class="mb-1 mt-1">
              <fa-icon [icon]=" Homeicon" class="ms-1 " id="homeicon"></fa-icon> <span id="Annuallistfont"> > قائمة المواد الدراسية > إضافة مادة دراسية جديدة</span>
         </div>
        
          <div class=" rounded d-flex" >
              <button type="button" id="circlebtn" class=" ms-2" data-mdb-ripple-color="dark"><fa-icon [icon]="righticon" id="rightarrow"></fa-icon></button>
            
              <button type="button" class="btn " id="addbtn"><a>حفظ</a></button>
           
          </div>
          
     
      </div>
    
  
      
          <div class="container mt-5 forms" style="margin-bottom: 20rem;">
              <form  class="container-fluid  ">
                  <div class="mb-3 row ">
                      <div class="col-xs-2 col-lg-4">
                          <label for="PID" class="form-label mt-3"><b>{{'إسم المادة باللغة العربية'|translate}}</b></label><br>
                          <input type="text" name="PID" id="PID" placeholder="       إسم المادة باللغه العربية"aria-describedby="helpId">
                          <small id="helpId" class="text-muted"></small>
                      </div>
                      <div class="col-xs-2 col-lg-4">
                         
                          <label for="PID" class="form-label mt-3"><b>{{'إسم المادة باللغة اللإنجليزية'|translate}}</b></label><br>
                          <input type="text" name="PID" id="PID" placeholder="       إسم المادة باللغة الأنجليزيه" aria-describedby="helpId">
                          <small id="helpId" class="text-muted"></small>
                         
                      </div>
                      <div class="col-xs-2 col-lg-4">
                        
                        <label for="PID" class="form-label mt-3"><b>{{'الإسم في شاشة الدرجات باللغة العربية'|translate}}</b></label><br>
                        <input type="text" name="PID" id="PID" placeholder="        الإسم في شاشة الدرجات باللغة العربية" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                       
                    </div>
                  </div>
                  <div class="mb-3 row ">
                    <div class="col-xs-2 col-lg-4">
                       
                        <label for="PID" class="form-label mt-3"><b>{{'الإسم في شاشة الدرجات باللغة اللإنجليزية'|translate}}</b></label><br>
                        <input type="text" name="PID" id="PID" placeholder="       الإسم في شاشة الدرجات باللغة الإنجليزية" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                       
                    </div>
                    <div class="col-xs-2 col-lg-4">
                         
                        <label for="PID" class="form-label mt-3"><b>{{'الساعات الدراسية للمادة'|translate}}</b></label><br>
                        <input type="number" name="PID" id="PID" placeholder="       الساعات الدراسية للمادة" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="col-xs-2 col-lg-4">
                        
                        <label for="PID" class="form-label mt-3"><b >{{'عدد الحصص الدراسية بالأسبوع'| translate}}</b></label><br>
                        <input type="number" name="PID" id="PID" placeholder="        عدد الحصص الدراسية بالأسبوع" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                       
                        
                    </div>
                </div>
                <div class="mb-3 row ">
                    <div class="col-xs-4 col-lg-4">
                         
                        <label for="PID" class="form-label mt-3"><b> {{'المعدل التراكمي'| translate}}GPA</b></label><br>
                        <input type="text" name="PID" id="PID" placeholder="       المعدل التراكمي GPA" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="col-xs-4 col-lg-4">
                        <label for="PID" class="form-label mt-3"><b>{{'نظام التقييم'|translate}}</b></label><br>
                        <input type="number" name="PID" id="PID" placeholder="        نظام التقييم" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                 
                </div> 
             
              
                 
              </form>
            </div>                   
     
        
       
   
    </div>
  </div>
  
  </div>
