// html {
// 	-webkit-font-smoothing: antialiased!important;
// 	-moz-osx-font-smoothing: grayscale!important;
// 	-ms-font-smoothing: antialiased!important;
// }
// body {
//   font-family: 'Open Sans', sans-serif;
//   font-size:16px;
//   color:#555555; 
// }
.md-stepper-horizontal {
    display:table;
	width:100%;
    margin: 2rem auto;
	background-color:#FFFFFF;
    border-radius: 15px;
    border: 1px solid #F5F5F5;
	// box-shadow: 0 0  12px 0 rgba(0,0,0,.05);
    .md-step {
        display:table-cell;
        position:relative;
        padding:24px;
    }
    .md-step:hover,
    .md-step:active {
        background-color:rgba(0,0,0,0.04);
    }
    .md-step:active {
        border-radius: 15% / 75%;
    }
    .md-step:first-child:active {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .md-step:last-child:active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .md-step:hover .md-step-circle {
        background-color:#757575;
    }
    .md-step:first-child .md-step-bar-left,
    .md-step:last-child .md-step-bar-right {
        display:none;
    }
    .md-step .md-step-circle {
        width:30px;
        height:30px;
        margin:0 auto;
        background-color:#999999;
        border-radius: 50%;
        text-align: center;
        line-height:30px;
        font-size: 16px;
        font-weight: 600;
        color:#FFFFFF;
    }

    .md-step.done .md-step-circle:before {
        font-family:'FontAwesome';
        font-weight:100;
        content: "\f00c";
    }
    .md-step.done .md-step-circle *,
    .md-step.editable .md-step-circle * {
        display:none;
    }
    .md-step.editable .md-step-circle {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .md-step.editable .md-step-circle:before {
        font-family:'FontAwesome';
        font-weight:100;
        content: "\f040";
    }
    .md-step .md-step-title {
        margin-top:16px;
        font-size:16px;
        font-weight:600;
    }
    .md-step .md-step-title,
    .md-step .md-step-optional {
        text-align: center;
        color:rgba(0,0,0,.26);
    }
    .md-step.active .md-step-title {
        font-weight: 600;
        color:rgba(0,0,0,.87);
    }
    .md-step.active.done .md-step-title,
    .md-step.active.editable .md-step-title {
        font-weight:600;
    }
    .md-step .md-step-optional {
        font-size:12px;
    }
    .md-step.active .md-step-optional {
        color:rgba(0,0,0,.54);
    }
    .md-step .md-step-bar-left,
    .md-step .md-step-bar-right {
        position:absolute;
        top:36px;
        height:1px;
        border-top:1px solid #5CD0DF;
    }
    .md-step .md-step-bar-right {
        inset-inline-end:0;
        inset-inline-start:50%;
    
        margin-inline-start:20px;
    }
    .md-step .md-step-bar-left {
        inset-inline-start:0;
        inset-inline-end:50%;
        margin-inline-end:20px;
    }
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color:#5CD0DF;
}
.md-step.active .md-step-circle {
    background-color: rgb(33,150,243);
}