<div class="md-stepper-horizontal orange">
    <div class="md-step active">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">{{baseStep |currentLang}}</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>

    <div class="md-step active" *ngFor="let step of steps; let i =index">
      <div class="md-step-circle"><span>{{i + 2}}</span></div>
      <div class="md-step-title">{{step | currentLang}}</div>
      <!-- <div class="md-step-optional">Optional</div> -->
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>

    <!-- <div class="md-step active">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">اعتماد الهيئه</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div> -->

    <!-- <div class="md-step">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">Review</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div> -->
  </div>
