<div class=" d-flex align-items-center justify-content-end " *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'">
    <div class="Btn-group d-flex gap-3">
        <button type="submit" class="btn  btn-primary" (click)="saveClass()"  [disabled]="schoolYearClassFormGrp.invalid||isBtnLoading" >
            {{'shared.save'|translate}}
            <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
        </button>
        <button (click)="goBack()" class="d-block" ><a  class="cancelbtn">{{'shared.cancel'|translate}}</a></button>
    </div>
</div>


<div class="justify-content-center status" *ngIf="schoolYearUrlParameter">
    <span  class="heading--secondary">{{schoolYearName|currentLang}}</span>             
    <div   *ngIf="schoolYearStatus?.en=='Current'" class='alerting danger mx-4'>{{schoolYearStatus|currentLang}}</div>
    <div   *ngIf="schoolYearStatus?.en=='Finished'" class='alerting success mx-4'>{{schoolYearStatus|currentLang}}</div>
    <div   *ngIf="schoolYearStatus?.en=='Sent'" class='alerting primary mx-4'>{{schoolYearStatus|currentLang}}</div>
    <div   *ngIf="schoolYearStatus?.en=='Draft'" class='alerting dark mx-4'>{{schoolYearStatus|currentLang}}</div>
    <ng-container *ngIf="!schoolYearStatus">
        <p-skeleton width="11.5rem" height="2rem" styleClass="mb-2"></p-skeleton>
      </ng-container>
  
</div>
<ng-container *ngIf="!class&&classUrlParameter">
    <div class="row g-5">
       
            <app-skeleton count="10"  [style]="{'margin-bottom': '3rem'}"></app-skeleton>
    
    </div>

 </ng-container>

<div class="content" *ngIf="class||!classUrlParameter">
   
    <div class=" custom-form custom-validation-form " >
        <form [formGroup]="schoolYearClassFormGrp" class="container-fluid  ">
            <div class="row mb-5" *ngIf="schoolYearStatus?.en=='Finished'||schoolYearStatus?.en=='Current'">
                <div class="col-4">

                       <div class="row">
                                <div class="col-4 label">{{'dashboard.SchoolYear.Related curriculum'|translate }}</div>
                                <div class="col-6 value ">{{class?.curriculum|currentLang}}</div>
                               
                       </div>
                
                </div>
                <div class="col-4"  >

                       <div class="row">
                                <div class="col-4 label">{{'dashboard.SchoolYear.Class'|translate}}</div>
                                <div class="col-6 value ">{{class?.grade|currentLang}}</div>
                               
                       </div>
                
                </div>
                <div class="col-4"   >

                    <div class="row">
                                <div class="col-8 label">{{'dashboard.SchoolYear.Minmum Subject Numbers that fails student'|translate}}</div>
                                <div class="col-4 value " >{{class?.minmumSubjectNumbers}}</div>
                              
                    </div>
             
               </div>     
         
           </div>  
           <div class="row mb-5"  *ngIf="schoolYearStatus?.en=='Finished'||schoolYearStatus?.en=='Current'" >
            <div class="col-4">

                   <div class="row">
                    <div class="col-8 label" for="nationality">{{'dashboard.SchoolYear.Are you need to Activate Age for this class'|translate}}</div>
                    <div class="col-4 statusvalue">
                             {{'shared.activated'|translate}}
                             <p-inputSwitch    formControlName="activateAge" readonly="true"></p-inputSwitch>
                             <span class="Label" *ngIf="!class?.activateAge">{{'shared.no'|translate}}</span>
                             <span class="Label" *ngIf="class?.activateAge">{{'shared.yes'|translate}}</span>
                             </div>
                           
                   </div>
            
            </div>
            <div class="col-4">

                   <div class="row">
                            <div class="col-8 label">{{'dashboard.SchoolYear.Minmum Age for student from insidecountry'|translate}}</div>
                            <div class="col-4 value ">{{'shared.From'|translate}}  {{class?.minAgeInsideCountryFrom}}  {{'shared.To'|translate}}  {{class?.minAgeOutsideCountryTo}}</div>
                           
                   </div>
            
            </div>
            <div class="col-4">

                <div class="row">
                            <div class="col-8 label">{{'dashboard.SchoolYear.Minmum Age for student from outsidecountry'|translate}}</div>
                            <div class="col-4 value " >{{'shared.From'|translate}}  {{class?.minAgeOutsideCountryFrom}}  {{'shared.To'|translate}}  {{class?.minAgeOutsideCountryTo}}</div>
                          
                </div>
         
           </div>     
     
       </div>  
    <div class="row gx-5 form-set" *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'">
           <div class="col-xs-4 col-lg-4" >
               <label class="label" for="nationality">{{'dashboard.SchoolYear.Related curriculum'|translate }} <span class="star">*</span> </label>
               <div class="col-6 value mt-5" *ngIf="classUrlParameter">{{class?.curriculum|currentLang}}</div>
               <p-dropdown [options]="curriculumClassList"[showClear]="true" (onModelChange)="checkSubjectSelected($event)" StopProp *ngIf="!classUrlParameter" optionLabel="name.ar" optionValue="curriculumId" inputId="precantage" formControlName="relatedCurriculumId" (onChange)="onCurriculumChange($event.value)"  placeholder="{{'dashboard.SchoolYear.Select Related curriculum'|translate }}" name="PID5" id="PID5" [ngClass]="{'ng-invalid ng-dirty':relatedCurriculumId.errors?.['required'] && relatedCurriculumId.touched}" ></p-dropdown>
               <div [hidden]="relatedCurriculumId.valid || relatedCurriculumId.untouched">
                <small *ngIf="relatedCurriculumId.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                </small>
       
               
             </div>
           </div>
           <div class="col-xs-4 col-lg-4">
               <label class="label" for="precantage">{{'dashboard.SchoolYear.Class'|translate}} <span class="star">*</span> </label>
               <p-dropdown [options]="classList" [showClear]="true" StopProp  optionLabel="name.ar" optionValue="id"  inputId="precantage" formControlName="classId" [ngClass]="{'ng-invalid ng-dirty':classId.errors?.['required'] && classId.touched}"  placeholder="{{'dashboard.SchoolYear.Select Class'|translate}}" name="PID5" id="PID5"  ></p-dropdown>
               <div [hidden]="classId.valid || classId.untouched">
                <small *ngIf="classId.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                  {{'shared.This Field is Required'|translate}}
                   <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                </small>
       
               
             </div>
              </div>
           <div class="col-xs-4 col-lg-4">
            <label class="label" for="nationality">{{'dashboard.SchoolYear.Minmum Subject Numbers that fails student'|translate}}</label>
            <input type="text" pInputText formControlName="minmumSubjectNumbers"  class="form-control " [LangRestrict]="'numb'"  placeholder="{{'dashboard.SchoolYear.Enter Subject Numbers'|translate}}" name="PID" id="PID"> 
          
          </div>
     </div>
     <div class="row gx-5 form-set" *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'">
       <div class="col-xs-4 col-lg-4">
           <label class="label" for="nationality">{{'dashboard.SchoolYear.Are you need to Activate Age for this class'|translate}} <span class="star">*</span></label>
           <div class="Status">
                    {{'shared.activated'|translate}}
                    <p-inputSwitch  (onChange)="isToggleLabel($event.checked)" formControlName="activateAge"></p-inputSwitch>
                    <span class="Label" *ngIf="!isLabelShown&& !classUrlParameter">{{'shared.no'|translate}}</span>
                    <span class="Label" *ngIf="isLabelShown&& !classUrlParameter">{{'shared.yes'|translate}}</span>
                    <span class="Label" *ngIf=" classUrlParameter&&!class.activateAge ">{{'shared.no'|translate}}</span>
                    <span class="Label" *ngIf="classUrlParameter&&class.activateAge">{{'shared.yes'|translate}}</span>
                    </div>
       
        </div>
       <div class="col-xs-4 col-lg-4 ">
           <label class="label" for="precantage">{{'dashboard.SchoolYear.Minmum Age for student from insidecountry'|translate}} </label>
         
            <div class="d-flex gap-2">
                
                  <p-inputNumber formControlName="minAgeInsideCountryFrom" (onFocus)="minAgeInsideCountryFrom.markAsTouched()" (onBlur)="minAgeInsideCountryFrom.markAsUntouched()" [min]="1"  placeholder="{{'dashboard.SchoolYear.From year'| translate}}" [ngClass]="{'ng-invalid ng-dirty':minAgeInsideCountryFrom.value>minAgeInsideCountryTo.value && minAgeInsideCountryFrom.untouched }" mode="decimal"  inputId="minmax-buttons"    ></p-inputNumber>
        
                  <p-inputNumber  formControlName="minAgeInsideCountryTo" (onFocus)="minAgeInsideCountryTo.markAsTouched()" (onBlur)="minAgeInsideCountryTo.markAsUntouched()" [max]="32" placeholder="{{'dashboard.SchoolYear.to year'| translate}}" [ngClass]="{'ng-invalid ng-dirty':minAgeInsideCountryTo.value<minAgeInsideCountryFrom.value && minAgeInsideCountryTo.untouched}" mode="decimal"   inputId="minmax-buttons"    ></p-inputNumber>
                   
                </div>
                <div [hidden]="minAgeInsideCountryFrom.value<=minAgeInsideCountryTo.value">
                    <small   id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                      {{'dashboard.SchoolYear.you should enter ages correctly'|translate}}
                       <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
                    </small>

                 </div>
    </div>
       <div class="col-xs-4 col-lg-4">
        <label class="label" for="precantage">{{'dashboard.SchoolYear.Minmum Age for student from outsidecountry'|translate}} </label>
     
           <div class="d-flex gap-2">
           
                  <p-inputNumber formControlName="minAgeOutsideCountryFrom" (onFocus)="minAgeOutsideCountryFrom.markAsTouched()" (onBlur)="minAgeOutsideCountryFrom.markAsUntouched()" [min]="1" placeholder="{{'dashboard.SchoolYear.From year'| translate}}" [ngClass]="{'ng-invalid ng-dirty':minAgeOutsideCountryFrom.value>minAgeOutsideCountryTo.value &&  minAgeOutsideCountryFrom.untouched}" mode="decimal"  inputId="minmax-buttons"    ></p-inputNumber>
           
                  <p-inputNumber  formControlName="minAgeOutsideCountryTo" (onFocus)="minAgeOutsideCountryTo.markAsTouched()" (onBlur)="minAgeOutsideCountryTo.markAsUntouched()"  [max]="32" placeholder="{{'dashboard.SchoolYear.to year'| translate}}" [ngClass]="{'ng-invalid ng-dirty':minAgeOutsideCountryTo.value<minAgeOutsideCountryFrom.value && minAgeOutsideCountryTo.untouched}" mode="decimal"   inputId="minmax-buttons"    ></p-inputNumber>
                
        </div>
        <div [hidden]="minAgeOutsideCountryFrom.value<=minAgeOutsideCountryTo.value">
            <small   id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                {{'dashboard.SchoolYear.you should enter ages correctly'|translate}}
               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
            </small>

         </div>
      </div>
     </div>
  
    </form>
   </div>
   <div  *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'" role="button" class=" mb-5 color-primary d-flex color-gray-50 align-items-center justify-content-center gap-3 p-3" (click)="openSubjectModel()" >
    <fa-icon [icon]="faPlus"></fa-icon>
    <span>{{'dashboard.SchoolYear.add subject' |translate}}</span>
   </div>
   <div class="prim-table ">
    <p-table  #dt [value]="classSubjectsList"  sortMode="single"  [scrollable]="true" scrollHeight="480px" [virtualScroll]="true" [virtualRowHeight]="95" >

      
      <ng-template pTemplate="header" >
            <tr  >
              <th  pSortableColumn="name.ar" ><p-sortIcon  field="name" ></p-sortIcon>{{'dashboard.SchoolYear.Subject Name'|translate}}</th>
              <th  style="min-width:18rem"  pSortableColumn="subjectHours"><p-sortIcon  field="id"></p-sortIcon>{{'dashboard.Subjects.subjectHours'|translate}}</th>
              <th  style="min-width:19rem" pSortableColumn="numberOfCoursesPerWeek"><p-sortIcon field="phoneno"></p-sortIcon>{{'dashboard.SchoolYear.Number Of Courses Per Week'|translate}}</th>
              <th  style="min-width:19rem" pSortableColumn="inFinalResult"><p-sortIcon  field="email"></p-sortIcon>{{'dashboard.SchoolYear.Is in finalresult'|translate}}</th>
              <th   pSortableColumn="isThereGPA"><p-sortIcon field="isThereGPA"></p-sortIcon>{{'dashboard.SchoolYear.GPA'|translate}}</th>
              <th  style="min-width:21.5rem" pSortableColumn="maxGPA"><p-sortIcon field="nationality"></p-sortIcon>{{'dashboard.SchoolYear.Maximum GPA'|translate}}</th>
              <th pSortableColumn="edit" class="actions"  *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'"></th>

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
            
                <td style="min-width:13rem">{{e?.name|currentLang}}</td>
                <td  ><span *ngIf="e?.subjectHours">{{e?.subjectHours|translate}}</span><span *ngIf="!e?.subjectHours">{{'shared.not found'|translate}}</span></td>
                <td >{{e?.numberOfCoursesPerWeek|translate}}</td>
                <td style="min-width:19rem"><span *ngIf="e?.inFinalResult">{{'true'|translate}}</span><span *ngIf="!e?.inFinalResult">{{'false'|translate}}</span></td>
                <td ><span *ngIf="e?.isThereGPA">{{'true'|translate}}</span><span *ngIf="!e.isThereGPA">{{'false'|translate}}</span></td>
                <td *ngIf="e?.maxGPA" >{{e?.maxGPA|translate}}</td>
                <td *ngIf="!e?.maxGPA">{{'shared.notFound'|translate}}</td>
              
             
          
                <td class="edit"  *ngIf="schoolYearStatus?.en!='Finished'&&schoolYearStatus?.en!='Current'">
                        <button (click)="tittle='dashboard.SchoolYear.Edit subject to this class';editSubject(e)" >
                            {{'shared.edit'|translate}}   <img  src="assets/images/shared/arrow.svg" alt="">
                         </button>
                </td>
                
              
                
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>

            <tr>

                <td [attr.colspan]="20" [att.rowspan]="10" class="search">

                    <app-informative-block title="{{'emptyList.Subject List is Empty'  |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>

                </td>

            </tr>

          </ng-template>
    </p-table>
  
  
    
    
    </div>
</div>




<!-- Add Subject -->

<p-dialog [baseZIndex]="10000" header="{{tittle|translate}}" (onHide)="clearSubjectForm()"   [resizable]="false" [(visible)]="addSubjectModelOpened" [draggable]="false" [modal]="true" [style]="{width: '47vw'}">
   
<ng-template pTemplate="content">
    <div class=" custom-form custom-validation-form " >
        <form [formGroup]="schoolYearSubjectFormGrp" class="container-fluid  ">

 
    <div class="row gx-5 form-set">
      <div class="col-6">
          <label class="label" for="nationality">{{'dashboard.SchoolYear.Subject'|translate}} <span class="star">*</span> </label>
          <p-dropdown [options]="subjectList"  optionLabel="name.ar" optionValue="id" formControlName="subject" [ngClass]="{'ng-invalid ng-dirty':subject.errors?.['required'] && subject.touched}" inputId="nationality" placeholder="{{'dashboard.SchoolYear.Select Subject'|translate}}"></p-dropdown>
          <div [hidden]="subject.valid || subject.untouched">
            <small *ngIf="subject.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
              {{'shared.This Field is Required'|translate}}
               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
            </small>
           
         </div>
        </div>
      <div class="col-6">
          <label class="label" for="precantage">{{'dashboard.Subjects.Subject Hours'|translate}} (Credit Hours)</label>
          <p-inputNumber formControlName="subjectHours" [min]="1" [ngClass]="{'ng-invalid ng-dirty':subjectHours.errors?.['required'] && subjectHours.touched}" mode="decimal" [showButtons]="true"  inputId="minmax-buttons"    ></p-inputNumber>
         
        </div>
    </div>
    <div class="row gx-5 form-set">
      <div class="col-6">
          <label class="label" for="nationality">{{'dashboard.SchoolYear.Number Of Courses Per Week'| translate}} <span class="star">*</span> </label>
          <p-inputNumber formControlName="numberOfCoursesPerWeek"  mode="decimal" [showButtons]="true" [ngClass]="{'ng-invalid ng-dirty':numberOfCoursesPerWeek.errors?.['required'] && numberOfCoursesPerWeek.touched}" inputId="minmax-buttons"  [min]="1"  [max]="32"  ></p-inputNumber>
          <div [hidden]="numberOfCoursesPerWeek.valid || numberOfCoursesPerWeek.untouched">
            <small *ngIf="numberOfCoursesPerWeek.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
              {{'shared.This Field is Required'|translate}}
               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
            </small>
           
         </div>
        </div>
      <div class="col-6">
      
        <label class="label mb-5" for="precantage">{{'dashboard.SchoolYear.Is in finalresult'|translate }} <span class="star">*</span> </label>
        <p-radioButton  [value]="true"   formControlName="inFinalResult" label="{{'true'|translate}}" ></p-radioButton>
        <p-radioButton  [value]="false"  formControlName="inFinalResult"  class="mx-5"  label="{{'false'|translate}}" ></p-radioButton>
      
    </div>
    </div>
  
    <div class="row gx-5 form-set">
      <div class="col-6">
          <label class="label mb-5" for="nationality">{{'dashboard.SchoolYear.is Mandatory'| translate}} <span class="star">*</span> </label>
          <p-radioButton [value]="true" (onClick)="checkMandatory($event.value)" formControlName="isMandatory" label="{{'true'|translate}}" ></p-radioButton>
          <p-radioButton [value]="false" (onClick)="checkMandatory($event.value)" formControlName="isMandatory" class="mx-5"  label="{{'false'|translate}}" ></p-radioButton>
      </div>
      <div class="col-6">
      
        <label class="label mb-5" for="precantage">{{'dashboard.SchoolYear.is there GPA'|translate }} <span class="star">*</span> </label>
        <p-radioButton  [value]="true" (onClick)="checkExistInGPA($event.value)" formControlName="isThereGPA" label="{{'true'|translate}}" ></p-radioButton>
        <p-radioButton [value]="false" (onClick)="checkExistInGPA($event.value)" formControlName="isThereGPA" class="mx-5"  label="{{'false'|translate}}" ></p-radioButton>

    </div>
    </div>
    <div class="row gx-5 form-set" *ngIf="isThereGPA.value">
        <div class="col-6">
          <label class="label " for="precantage">{{'dashboard.SchoolYear.Maximum GPA'|translate }} <span class="star" *ngIf="maxGPA.errors?.['required']">*</span> </label>
          <p-inputNumber formControlName="maxGPA"  mode="decimal" [showButtons]="false"  class=" form-control number b-0" inputId="minmax-buttons"  [min]="1"  ></p-inputNumber>
          <div [hidden]="maxGPA.valid || maxGPA.untouched">
            <small *ngIf="maxGPA.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
              {{'shared.This Field is Required'|translate}}
               <fa-icon  [icon]=" exclamtionIcon"  class="dangericon ms-1 "></fa-icon>
            </small>
           
         </div>
        </div>
       
      </div>
        </form>
    </div>
    
    </ng-template>
    
  
    <ng-template pTemplate="footer">
      
      <div class="d-flex align-items-center justify-content-end  ">
        
        <button class="btn btn-primary" (click)="saveSubjectList()" [disabled]="schoolYearSubjectFormGrp.invalid||minAgeInsideCountryFrom.value>minAgeInsideCountryTo.value||minAgeInsideCountryFrom.value>minAgeInsideCountryTo.value">
            <span>{{'shared.save'| translate}} </span>
        </button>
    </div>
  
    </ng-template>
  </p-dialog>




  