@import '../../../../../../../assets/css/utils/variables.scss';
@import '../../../../../../../assets/css/components/forms.scss';
.survey {
    &__content {
        padding: 4.5rem 3rem;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 2px 4px 32px 2px rgba(0, 0, 0, 0.07);
        width: 95%;
    }
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #F5F5F5;
    margin-right: 4px;
    background: #F5F5F5;
    padding: 0 5px;
    color: #337ab7;
    border-radius: 2px;
    float: right;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 4px 3px 8px;
    gap: 4px;
}

.Surveystatus {
    width: 81px;
    height: 30px;
    background: rgba(57, 192, 71, 0.1);
    border-radius: 15px;
    text-align: center;
}
.leftbtn {
    font-family: 'Droid';
    right: 70.9%;
    position: relative;
    bottom: 4.6rem;
    width: 18rem;
}

.rightbtn {
    width: 22rem;
    font-family: 'Droid';
    right: 80.9%;
    position: relative;
    bottom: 8.8rem;
    font-size: 18px;
}