<div class="survey">
    <div class="actions d-flex align-items-center gap-3 mb-5 mt-3">
        <app-back [route]="'../'"></app-back>
        <button class="btn btn-primary btn--sm">
            <fa-icon class="icon" [icon]="faCheck"></fa-icon>
            <span routerLink="../../surveys/send-survey">{{'shared.save'| translate}} </span>
        </button>
    </div>
    <div class="survey__content my-5 rounded">

        <div class="custom-form">
            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">عنوان الاستبيان </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="اكتب عنوان الاستبيان"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نوع الاستبيان </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نوع الاستبيان" />
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="اختر من متعدد" ></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">خيارات السؤال </label>
                    <p-chips [(ngModel)]="values" placeholder=""></p-chips>
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="ملف" ></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day" >الملف </label>

                    <div class="file-upload" (click)="file.click()">
                        <input type="file" name="" id="" hidden #file (change)="uploadFile($event)">
                        <img src="assets/images/shared/file.svg" alt="upload">
                        
                        <div class="file">{{fileName}}</div>
                        <img src="assets/images/shared/delete.svg" alt="delete file">
                    </div>
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="نجوم"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="نص حر"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

            </div>

        </div>
    </div>
</div>