<!-- <app-add-btn [route]="'/dashboard/educational-settings/surveys'" [content]="'breadcrumb.saveList'">
</app-add-btn> -->
<app-send-btn [route]="'/dashboard/educational-settings/surveys'" [content]="'breadcrumb.sendSurvey'"></app-send-btn>

<div class="survey">

    <div class="survey__content my-5 rounded">
        <form class="custom-form" [formGroup]="medicalFileForm">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">عنوان الاستبيان </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="اكتب عنوان الاستبيان"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نوع الاستبيان </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نوع الاستبيان" />
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="اختر من متعدد"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">خيارات السؤال </label>
                    <p-multiSelect [options]="diseases" formControlName="chronicDiseases" optionLabel="name" display="chip"></p-multiSelect>
                    <!-- <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown> -->
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="ملف"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">الملف </label>

                    <div class="file-upload" (click)="file.click()">
                        <input type="file" name="" id="" hidden #file (change)="uploadFile($event)">
                        <img src="assets/images/shared/PDFSEC.svg" alt="upload">

                        <div class="file">{{fileName}}</div>
                        <img src="assets/images/shared/delete.svg" alt="delete file">
                    </div>
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="نجوم"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>
            </div>

            <hr class="color-gray-400 mb-4">

            <div class="row gx-5 form-set">
                <div class="col-md-4">
                    <label class="label" for="day">نوع السؤال </label>
                    <p-dropdown [options]="[{'name':'yes'}, {'name':'now'}]" inputId="day" optionLabel="name" placeholder="نص حر"></p-dropdown>
                </div>

                <div class="col-md-4">
                    <label class="label" for="day">نص السؤال </label>
                    <input type="text" id="day" pInputText placeholder="اكتب نص السؤال" />
                </div>

            </div>
        </form>
    </div>
</div>
