<!-- <app-send-btn [route]="'/dashboard/educational-settings/surveys'" [content]="assesmentFormGrp"
    [typeOfAdd]="'AddSurvey'">
</app-send-btn> -->
<button class="btn btn-primary leftbtn align-items-center " role="button" (click)="goToAddNew()">
    <!-- <fa-icon [icon]="checkIcon" class="icon "></fa-icon> -->
    {{'breadcrumb.Save'|translate}}

</button>
<div class="btn color-orange-200 rightbtn" role="button" (click)="goToCancle()">

    {{'breadcrumb.Cancel'|translate}}

</div>

<div class="tabView">


    <div id="content">
        <div class="container mt-5 custom-form custom-validation-form" style="margin-bottom: 20rem;">
            <form [formGroup]="assesmentFormGrp" class="container-fluid ">
                <div class="radius-15 border p-5 mb-5 bg-white">
                    <div class="row gx-5 form-set  custom-form ">
                        <div class="col-md-4">
                            <label class="label" for="day">عنوان الاستبيان </label>
                            <input type="text" formControlName="surveyTitle" id="day" pInputText placeholder="اكتب عنوان الاستبيان" />
                        </div>

                        <div class="col-md-4">
                            <label class="label" for="day">نوع الاستبيان </label>
                            <p-dropdown [options]="surveyType" formControlName="surveyType" optionLabel="name" placeholder="اجباري / اختياري"></p-dropdown>
                        </div>
                    </div>
                </div>

                <!-----------------------------add row------------------------------->
                <div class="row">
                    <ul class="subjects" formArrayName="subjects">
                        <li class="subject border p-4 pb-5" *ngFor="let subject of classSubjects.controls ;let i=index" [formGroupName]="i">
                            <div class="p-5">
                                <div class="row gx-5 form-set">
                                    <div class="col-xs-4 col-lg-4">
                                        <label for="PID8" class="label"><b>نوع السؤال</b></label>
                                        <p-dropdown (onChange)="onChangesurveyQuestionType($event , i)" formControlName="surveyQuestionType" [options]="surveyQuestionType" inputId="day" optionLabel="name" placeholder="اختر نوع السؤال" appValidation></p-dropdown>
                                    </div>

                                    <div class="col-xs-4 col-lg-4">
                                        <label for="PID7" class="label"><b>نص السؤال </b></label>
                                        <div class="p-inputgroup">
                                            <input type="text" formControlName="questionText" pInputText class="form-control basicinput " placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4" id="div_questionChoices_{{i}}" [ngStyle]="{'display': 'none'}">
                                        <label class="label" for="day">خيارات السؤال </label>
                                        <div class="p-inputgroup">
                                            <input type="text" formControlName="questionChoices" pInputText class="form-control basicinput " placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                            
                                            <p-button label="Add" icon="pi pi-plus" iconPos="left" (click)="AddQuestion(i)"></p-button>
                                        </div>
                                        <!-- <p-multiSelect formControlName="questionChoices" [options]="diseases" optionLabel="name" display="chip" appValidationoption></p-multiSelect> -->
                                    </div>
                                    
                                    <div class="col-md-4" id="div_attachment_{{i}}" [ngStyle]="{'display': 'none'}">
                                        <label class="label" for="day">الملف </label>

                                        <div class="file-upload" (click)="file.click()">
                                            <input type="file" name="" id="" hidden #file formControlName="attachment" (change)="uploadFile($event,i)">
                                            <img src="assets/images/shared/PDFSEC.svg" alt="upload">

                                <div class="file">{{_fileName[i]==null  ? fileName : _fileName[i] }}</div>
                                            <img src="assets/images/shared/delete.svg" alt="delete file">
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-lg-4" id="div_Added_1_questionChoices_{{i}}" [ngStyle]="{'display': 'none'}">
                                        <label class="label" for="day">  </label>
                                        <div class="p-inputgroup">
                                            <input type="text"    formControlName="questionChoices1" pInputText class="form-control basicinput " placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4" id="div_Added_2_questionChoices_{{i}}" [ngStyle]="{'display': 'none'}">
                                        <label class="label" for="day">  </label>
                                        <div class="p-inputgroup">
                                            <input type="text"  formControlName="questionChoices2" pInputText class="form-control basicinput " placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-lg-4" id="div_Added_3_questionChoices_{{i}}" [ngStyle]="{'display': 'none'}">
                                        <label class="label" for="day">  </label>
                                        <div class="p-inputgroup">
                                            <input type="text" formControlName="questionChoices3" pInputText class="form-control basicinput " placeholder="اكتب نص السؤال" name="PID7" id="PID7">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <div role="button" class="color-primary d-flex align-items-center justify-content-center gap-3 bg-gray-30 p-3" (click)="addSubject()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            <span>{{'dashboard.surveys.AddSurvey' |translate}}</span>
                        </div>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>