@import "src/assets/css/utils/variables.scss";
@import "src/assets/css/components/forms.scss";

:host{position: relative;}

.submitBtn{
    position: absolute;
    top: -3rem;
    inset-inline-end: 2rem;
}


.nav__dropdown {
    position: relative;
    p-dropdown{
     
      ::ng-deep span{
          padding: 0 6rem 0 !important; 
        }
        
        ::ng-deep .pi{
          position: absolute!important;
          top: 1.7rem!important;
          right: -4rem!important;
        }
    }
   .icon{
      position: absolute;
      top: 1.5rem;
      left: 2rem;
    }
  }
  