
<ng-container *permit="ClaimsEnum.S_C_Role">
                                <app-add-btn [backGroundColor]="'btn-primary'" [route]="'/dashboard/manager-tools/user-roles/new-role'" [content]="'dashboard.UserRole.Add New Role'"></app-add-btn>
</ng-container>
<div class="prim-table mt-4" *ngIf="roles.totalAllData || roles.loading">
    <p-table  #dt [value]="roles.list" (onSort)="sortMe($event)" [lazy]="true"  >
     
         <!-- Table Caption -->
         <ng-template pTemplate="caption">
            <app-table-caption (onExport)="onExport($event)" (onFilter)="filtration.Page=1;getAllRole()" (onSearch)="filtration.Page=1;filtration.KeyWord = $event; getAllRole()" (onClear)="clearFilter()">

                <div class="row gx-5 form-set">
                    <div class="col-lg-4">
                        <label class="label" for="roleStatus">{{'dashboard.UserRole.Status'|translate }} </label>
                        <p-dropdown [options]="roleStatusList" [showClear]="true" StopProp [(ngModel)]="filtration.isactive" inputId="roleStatus" optionLabel="name" optionValue="value" placeholder="{{'dashboard.UserRole.Select Job Role Status'|translate }}"></p-dropdown>
                    </div>
                </div>

            </app-table-caption>

         </ng-template>
      
      
      <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="{{lang=='ar' ? 'arabicname' : 'name'}}" ><p-sortIcon  field="{{lang=='ar' ? 'arabicname' : 'name'}}" ></p-sortIcon>{{'dashboard.UserRole.JobRole Name'|translate}}</th>
              <th   pSortableColumn="creatorname"><p-sortIcon  field="creatorname"></p-sortIcon>{{'shared.User Name'|translate}}</th>
              <th   pSortableColumn="roleUsers"><p-sortIcon field="roleUsers"></p-sortIcon>{{'dashboard.UserRole.Role Users'|translate}}</th>
              <th   pSortableColumn="createddate"><p-sortIcon field="createddate"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
              <th   pSortableColumn="status"><p-sortIcon field="status"></p-sortIcon>{{'dashboard.UserRole.Status'|translate}}</th>
              <th   pSortableColumn="nationality" class="actions"></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
               
                <td  >{{e?.jobRoleName|currentLang}}</td>
                <td   >{{e?.creatorName|translate}}</td>
                <td ><a (click)="showUserList(e?.id)"  *ngIf="e?.roleUsers>0" class="users">{{e?.roleUsers|translate}}{{'shared.Users'|translate}}</a>
                <span  *ngIf="e?.roleUsers==0"  >{{'shared.notFound'|translate}}</span>
                </td>
                <td  >{{e?.createdDate| LocalizeDate}}</td>
                <td  >
                
                    <div class="d-flex align-items-center gap-4">
                       
                        <div [ngClass]="e?.status?'alerting success':'alerting danger'">
                           <span *ngIf="e?.status">{{'shared.allStatus.active'|translate}}</span> 
                           <span *ngIf="!e?.status">{{'shared.allStatus.inActive'|translate}}</span> 
                        </div>
                        
                        
                    </div>
                </td>
                <td class="dropdown "> 
                        <div class="d-grid justify-content-end mx-4">
                        <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                            <span role="button" class="color-primary link  d-flex" >{{'shared.RoleMangment'|translate}}<img  class=" mt-2 rotate270"  src="assets/images/shared/blue-arrow.svg" alt=""></span>  
                        </div>
                        <ul class="dropdown-menu shadow-lg " aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item" >
                                <a class="link"  routerLink="/dashboard/manager-tools/user-roles/role-details/{{e.id}}">
                                  <img src="assets/images/shared/file.svg" alt="">
                                  <p>{{'shared.Show Details'|translate}}</p>
                                </a>
                            </li>
                            <li class="dropdown-item" *permit="ClaimsEnum.S_D_Role">
                                <a class="link" (click)="this.confirmModelService.openModel();  selectedRole=e;" >
       
                                  <img src="assets/images/shared/delete.svg" alt="">
                                  <p>{{'dashboard.UserRole.Delete Job Role'|translate}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            
            </tr>
        </ng-template>


          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="roles.totalAllData && roles.list.length == 0 &&  !roles.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>

                </td>
            </tr>
        </ng-template>
    </p-table>
  
    <div *ngIf="paginationState.rows<roles.total">
        <app-pagination [totalItems]="roles.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
    
 </div>
<!-- emptymessage -->
<ng-container *ngIf="!roles.totalAllData && !roles.loading">
    <app-informative-block title="{{'emptyList.UserRoles List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>
    
    

 

   <!-- popup to show userlist of this role  -->
   <div class="prim-table" >
   <p-dialog header="{{'dashboard.UserInformation.List Of Users'|translate}}" [draggable]="false" [resizable]="false" [modal]="true"  [(visible)]="displayUserList" [style]="{width: '28vw'}">
    <div class="container">
        <div class="mb-5" >
                <div class="row" *ngIf="!showLoader">
                    <div *ngFor="let user of userListForSpecificRole;let i=index " class="col-lg-6">
                       {{i+1}}- {{user.name|currentLang}}
                    </div>

                </div>

                <div class="row" *ngIf="showLoader">
                    <app-skeleton count="7"  height="2rem"></app-skeleton>
                   
                </div>
        </div>

    </div>

    
   </p-dialog>
</div>
    

