
<app-add-btn [backGroundColor]="'btn-outline-primary'" [route]="'/dashboard/manager-tools/user-roles/new-role'" [content]="'dashboard.UserRole.Add New Role'"></app-add-btn>
    
<div class="prim-table mt-4" *ngIf="roles.totalAllData || roles.loading">
    <p-table  #dt [value]="roles.list" (onSort)="sortMe($event)" [lazy]="true"  >
     
         <!-- Table Caption -->
         <ng-template pTemplate="caption">
            <app-table-caption (onExport)="onExport($event)" (onFilter)="getAllRole()" (onSearch)="filtration.KeyWord = $event; getAllRole()" (onClear)="clearFilter()">

                <div class="row gx-5 form-set">
                    <div class="col-6">
                        <label class="label" for="roleStatus">{{'dashboard.UserRole.Status'|translate }} </label>
                        <p-dropdown [options]="roleStatusList" [(ngModel)]="filtration.isactive" inputId="roleStatus" optionLabel="name.ar" optionValue="name.en" placeholder="{{'dashboard.UserRole.Select Job Role Status'|translate }}"></p-dropdown>
                    </div>
                </div>

            </app-table-caption>

         </ng-template>
      
      
      <ng-template pTemplate="header" >
            <tr  >
              <th   pSortableColumn="name" ><p-sortIcon  field="name" ></p-sortIcon>{{'dashboard.UserRole.JobRole Name'|translate}}</th>
              <th   pSortableColumn="id"><p-sortIcon  field="id"></p-sortIcon>{{'shared.User Name'|translate}}</th>
              <th   pSortableColumn="phoneno"><p-sortIcon field="phoneno"></p-sortIcon>{{'dashboard.UserRole.Role Users'|translate}}</th>
              <th   pSortableColumn="gender"><p-sortIcon field="gender"></p-sortIcon>{{'shared.Created Date'|translate}}</th>
              <th   pSortableColumn="nationality"><p-sortIcon field="nationality"></p-sortIcon>{{'dashboard.UserRole.Status'|translate}}</th>
              <th   pSortableColumn="nationality" class="actions"></th>
            

              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e  >
            <tr  >
               
                <td  >{{e.jobRoleName.ar|translate}}</td>
                <td   >{{e.creatorName|translate}}</td>
                <td ><a (click)="showUserList(e.id)"  *ngIf="e.roleUsers>0" class="users">{{e.roleUsers|translate}}{{'shared.Users'|translate}}</a>
                <span  *ngIf="e.roleUsers==0"  >{{'shared.not found'|translate}}</span>
                </td>
                <td  >{{e.createdDate|date:'dd/mm/yyyy'|translate}}</td>
                <td  >
                
                    <div class="d-flex align-items-center gap-4">
                       
                        <div [ngClass]="e.status==true?'alerting success':'alerting danger'">
                           <span *ngIf="e.status">{{'shared.allStatus.active'|translate}}</span> 
                           <span *ngIf="!e.status">{{'shared.allStatus.inActive'|translate}}</span> 
                        </div>
                        
                        
                    </div>
                </td>
                <td class="dropdown"> 
                      
                        <div class="" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                            <fa-icon class="fs-4" [icon]="faEllipsisVertical" ></fa-icon>
                        </div>
                        <ul class="dropdown-menu shadow-lg " aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item">
                                <a class="link"  routerLink="/dashboard/manager-tools/user-roles/role-details/{{e.id}}">
                                  <img src="assets/images/shared/file.svg" alt="">
                                  <p>{{'shared.Show Details'|translate}}</p>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a class="link" (click)="this.confirmModelService.openModel();  selectedRole=e;" >
       
                                  <img src="assets/images/shared/delete.svg" alt="">
                                  <p>{{'dashboard.UserRole.Delete Job Role'|translate}}</p>
                                </a>
                            </li>
                        </ul>
                  
                </td>
            
            </tr>
        </ng-template>


          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="20">
                    <ng-container *ngIf="roles.totalAllData && roles.list.length == 0 &&  !roles.loading">
                        <app-informative-block title="{{'emptyList.noDataMatch' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
                    </ng-container>

                    <app-loader></app-loader>

                </td>
            </tr>
        </ng-template>
    </p-table>
  
    <div *ngIf="paginationState.rows<roles.total">
        <app-pagination [totalItems]="roles.total" (paginationChanged)="paginationChanged($event)"></app-pagination>
    </div>
    
 </div>
<!-- emptymessage -->
<ng-container *ngIf="!roles.totalAllData && !roles.loading">
    <app-informative-block title="{{'emptyList.UserRoles List is empty' |translate}}" src="assets/images/empty-list/empty-list.svg"></app-informative-block>
</ng-container>
    
    

 

   <!-- popup to show userlist of this role  -->
   <div class="prim-table" >
   <p-dialog header="{{'dashboard.UserInformation.List Of Users'|translate}}" [draggable]="false" [resizable]="false" [modal]="true"  [(visible)]="displayUserList" [style]="{width: '20vw',height:'20vw'}">
    <div class="container">
        <div  >
                <div class="row" *ngIf="!showLoader">
                    <div *ngFor="let user of userListForSpecificRole;let i=index " class="col-lg-6">
                       {{i+1}}- {{user.name.ar}}
                    </div>

                </div>

                <div class="row" *ngIf="showLoader">
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="23rem" height="2rem" styleClass="mb-2"></p-skeleton>
                </div>
        </div>

    </div>

    
   </p-dialog>
</div>
    

