@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/input';
@import'src/assets/css/components/forms';
@import'src/assets/css/components/confirm-dialog';
@import 'src/app/shared/components/dropdown/dropdown.component.scss';
@import 'src/assets/css/components/message.scss';

.prim-table{
 .users{
    text-decoration-line: underline;
    color: inherit;
      }
.col-6{
     margin-top: 1.5rem;  
    }
    ::ng-deep
    {
        .p-dialog{
            .p-dialog-content{
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }
        }
    }
}