@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/input';
@import'src/assets/css/components/forms';
@import'src/assets/css/components/confirm-dialog';
@import 'src/app/shared/components/dropdown/dropdown.component.scss';

.prim-table{
 
    
::ng-deep{
    .p-dialog{
        font-family: 'Droid';
        .p-dialog-content{
            margin: 0px;
            padding: 0px;
            border-top-right-radius: 12px;
            border-top-left-radius: 16px;
         
            border: none;
          
        }
         .p-dialog-header {
            height: 0px;
            padding: 0px;
            
            .p-dialog-title {
                margin-right: 3rem;
            font-size: 32px; 
            font-family: 'DINNext';
            font-weight: 500;}}
            .btn{color: white;width: 30%;margin-right: 20rem;font-weight: 400;}
    }
    

           
  
 }

}