@import 'src/assets/css/utils/variables.scss';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/buttons';
@import 'src/assets/css/components/input';
@import'src/assets/css/components/forms';
@import 'src/app/shared/components/dropdown/dropdown.component.scss';
@import 'src/assets/css/components/message.scss';

.prim-table{
 .users{
    text-decoration-line: underline;
    color: inherit;
      }

   

    ::ng-deep p-dialog{
    
        .p-dialog{
            overflow: hidden;
            border-radius: 15px;
            .p-dialog-header{
                padding:1.2rem  !important;
                display: flex;
                .p-dialog-title{
                font-size: 20px;
                font-family: "Droid";
                font-weight: 700;
              
                }
            }
            .p-dialog-content{
                font-size: 1.6rem;
                font-weight: 400;
                font-family: "Droid";
                padding:1rem 2rem 0rem 0rem;
              
            }
            
        }
    }
}