<div class="radius-15 border p-5 mb-5 bg-white">

    <div class="d-flex align-items-center justify-content-between bg-white">
        <div class="profile d-flex align-items-center">
            <input type="file"
            #uploadImg
            accept="image/*"
            [hidden]="true"
            (change)="uploadProfileImage($event)">
            <div *ngIf="currentUserScope!=userScope.Guardian" class="profile__avatar position-relative" >
                <img [src]="child?.imagePath" onerror="this.src='assets/images/shared/image.svg'" alt="Avatar">
            </div>

            <div *ngIf="currentUserScope==userScope.Guardian" class="profile__avatar position-relative"  (click)="uploadImg.value=null; uploadImg.click()">
                <i class="pi pi-camera" style="font-size: 2.5rem"></i>
                <div class="loader" *ngIf="uploading">
                    <div class="spinner-border text-light" role="status"></div>
                </div>
                <img [src]="child?.imagePath | blobToBase64 |async" onerror="this.src='assets/images/shared/image.svg'" alt="Avatar">
            </div>

            <div class="profile__info">
                <div class="profile__name ">
                    <h4 class="heading heading--tertiary">{{child?.name|currentLang}}</h4>
                </div>
                <div class="profile__details">
                    <div class="fs-4">
                        <img src="assets/images/shared/child.svg" alt="">
                        <span class="color-gray-300">{{child?.age}} {{'issue of certificate.year' |translate}}</span>
                    </div>
                    <div>
                        <!-- <img *ngIf="student.regestered" src="assets/images/shared/fingure.svg" alt=""> -->
                        <img src="assets/images/shared/fingure-red.svg" alt="">
                        <span class="color-red-500 fs-4">{{'shared.allStatus.Unregestered' |translate}}</span>
                    </div>

                </div>

            </div>
        </div>

        <div class="actions d-flex align-items-center gap-3 mb-5">

            <ng-container *permit="claimsEnum.G_DeleteChild">
                <button class="btn btn-primary bg-skyBlue-600 btn--sm px-5" [ConfirmDialog]="getDialogData" (onConfirm)="deleteChild(i)">
                    <span>{{'shared.delete' |translate}} </span>
                </button>
            </ng-container>

            <ng-container *permit="claimsEnum.GS_RegisterChild">
                <button class="btn btn-primary btn--sm px-5"  (click)="navigateToRequestPage()">
                    <span>{{'parents.registerInSchool' |translate}} </span>
                </button>
            </ng-container>

            <ng-container *ngIf="editMode || AttachmentEditMode">
                <button class="btn btn-primary btn--sm px-5" [disabled]="!childForm.valid || onSubmit" (click)="updateChild(childForm.value)">
                    {{'shared.saveChanges' | translate}}
                    <div class="spinner-border text-light" role="status" *ngIf="onSubmit"></div>
                </button>
            </ng-container>

        </div>
    </div>

</div>



<div class="tabView">

    <!-- Navigations Options -->
    <ul class="tabView__nav">
        <li class="tabView__nav__link" *permit="claimsEnum.GSE_R_ChildInfo" [class.active]="step==1" (click)="step=1"><span>{{ 'parents.personalInfo'|translate }}</span></li>
        <li class="tabView__nav__link" s [class.active]="step==2" (click)="step=2;"><span>{{ 'parents.sonAttachments'|translate }}</span></li>
        <li class="tabView__nav__link" *permit="claimsEnum.GSE_R_ChildRequests" [class.active]="step==3" (click)="step=3"><span> {{ 'parents.requests'|translate }}</span></li>

    </ul>

    <div class="tabView__content">
        <!-- In case student Not Registered -->

        <ng-container *ngIf="step==1">
            <ng-container *ngIf="!child">
                <div class="row g-5">
                    <div class="col-md-4">
                        <app-skeleton count="3" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                    </div>
                    <div class="col-md-4">
                        <app-skeleton count="3" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                    </div>
                    <div class="col-md-4">
                        <app-skeleton count="3" [style]="{'margin-bottom': '3rem'}"></app-skeleton>
                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="!editMode && child">
                <ng-container *permit="claimsEnum.GSE_U_ChildInfo">
                    <div class="float-btn" *ngIf="!editMode &&  !child?.isEnterFromICA" (click)="editMode=true">
                        <img src="assets/images/shared/pen-blue-filled.svg" alt="">
                    </div>
                </ng-container>

                <div class="">
                    <div class="row g-5">
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'parents.childName'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.name |currentLang}}</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'parents.nickname'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.surname |currentLang}}</h4>
                        </div>
                        <div class="col-2 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.gender'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.gender=='Female' ? ('shared.genderType.Female'|translate): 'shared.genderType.Male'|translate}}</h4>
                        </div>

                        <div class="col-2 d-flex align-items-center gap-5">
                          <p class="color-gray-300 fs-4">{{ 'shared.religion'|translate }}</p>
                          <h4 class="color-primary mb-2">{{child?.religion?.name |currentLang}}</h4>
                      </div>

                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{'shared.birthDay'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.birthDate | LocalizeDate}}</h4>
                        </div>
                        <div class="col-3 d-flex align-items-center gap-5" *ngIf="child.emiratesId">
                            <p class="color-gray-300 fs-4">{{ 'shared.personalId'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.emiratesId}}</h4>
                        </div>

                        <div class="col-3 d-flex align-items-center gap-5" *ngIf="!child.emiratesId">
                            <p class="color-gray-300 fs-4">{{ 'TheReasonForLackOfIdentification'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.reasonForNotHavingEmirates?.name |currentLang}}</h4>
                        </div>

                        <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.nationality'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.nationlity?.name |currentLang}}</h4>
                        </div>

                        <div class="col-2 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'parents.relatedType'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.relativeRelation?.name |currentLang }}</h4>
                        </div>

                        <!-- <div class="col-3 d-flex align-items-center gap-5">
                            <p class="color-gray-300 fs-4">{{ 'shared.passportId'|translate }}</p>
                            <h4 class="color-primary mb-2">{{child?.passportNumber}}</h4>
                        </div> -->
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="editMode">
                <div class="row g-5 custom-form" [formGroup]="childForm">
                        <ng-container formGroupName="name">
                            <div class="form-set  col-md-4" >
                                <label class="label required">{{'shared.nameAr'|translate}}</label>
                                <input type="text" appFormControlValidationMsg formControlName="ar"  pInputText placeholder="{{'students.studentName'|translate}}" />
                            </div>

                            <div class="form-set  col-md-4">
                                <label class="label required">{{'shared.nameEn'|translate}}</label>
                                <input type="text" appFormControlValidationMsg formControlName="en"  pInputText placeholder="{{'students.studentName'|translate}}" />
                            </div>
                        </ng-container>

                        <ng-container formGroupName="surname" >
                            <div class="form-set col-md-4" >
                                <label class="label required">{{'shared.surnameAr'|translate}}</label>
                                <input type="text" appFormControlValidationMsg formControlName="ar" pInputText placeholder="{{'students.studentNickname'|translate}}" />
                            </div>

                            <div class="form-set col-md-4">
                                <label class="label required">{{'shared.surnameEn'|translate}}</label>
                                <input type="text" appFormControlValidationMsg formControlName="en" pInputText placeholder="{{'students.studentNickname'|translate}}" />
                            </div>
                        </ng-container>

                        <div class="form-set col-md-4">
                            <label class="label required">{{'shared.gender'|translate}}</label>
                            <p-dropdown appFormControlValidationMsg formControlName="gender" [options]="genderOptions" optionValue="value" optionLabel="name"></p-dropdown>
                        </div>

                        <div class="form-set col-md-4">
                          <label class="label required">{{'shared.religion'|translate}}</label>
                          <p-dropdown appFormControlValidationMsg formControlName="religionId" [options]="religion$|async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'shared.religion' |translate}}"></p-dropdown>
                      </div>

                        <div class="form-set col-md-4">
                            <label class="label required">{{'shared.birthDay'|translate}}</label>
                            <p-calendar appFormControlValidationMsg formControlName="birthDate" dateFormat="DD dd / mm / yy" [style]="{'font-size': '1.6rem'}" icon="pi pi-clock" [showIcon]="true" placeholder="2002/07/04"></p-calendar>
                        </div>


                        <div class="form-set col-md-4" *ngIf="!child.emiratesId">
                          <label class="label required">{{'TheReasonForLackOfIdentification'|translate}}</label>
                          <p-dropdown formControlName="reasonForNotHavingEmiratesId" [options]="NoIdentityReason$|async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'addChild.The reason for the lack of identification' | translate}}"></p-dropdown>
                        </div>

                        <div class="form-set col-md-4">
                            <label class="label required">{{'shared.nationality'|translate}}</label>
                            <!-- <input type="text" formControlName="nationalityId" pInputText placeholder="اماراتى" /> -->
                            <p-dropdown
                            appFormControlValidationMsg
                            [filter]="true"
                            filterBy="{{lang=='ar'? 'name.ar' : 'name.en'}}"
                            formControlName="nationlityId" [options]="countries$ |async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}"></p-dropdown>
                        </div>

                        <div class="form-set col-md-4">
                            <label class="label required">{{'parents.relatedType'|translate}}</label>
                            <p-dropdown appFormControlValidationMsg formControlName="relativeRelationId" [options]="relativeRelation$|async" optionValue="id" optionLabel="arabicName"></p-dropdown>
                        </div>

                </div>
            </ng-container>

        </ng-container>


        <ng-container *ngIf="step==2">

          <!-- READE MOOODE -------------->
            <ng-container *ngIf="!AttachmentEditMode">
                <ng-container >
                    <div class="float-btn" *ngIf="!AttachmentEditMode" (click)="AttachmentEditMode=true">
                        <img src="assets/images/shared/pen-blue-filled.svg" alt="">
                    </div>
                </ng-container>

                <div class="row mt-5">
                    <ng-container *ngFor="let file of attachmentsList.controls; let i = index">
                        <div class="col-md-4 mt-6" *ngIf="file?.value?.url">
                            <app-file [file]="file.value" ></app-file>
                        </div>
                    </ng-container>

                </div>

                <ng-container *ngIf="!attachmentsList?.controls.length">
                    <app-informative-block subTitle="{{'emptyList.noAttachments' |translate}}" ></app-informative-block>
                </ng-container>

            </ng-container>

            <!-- EDIT MOOODE ------------->
            <ng-container *ngIf="AttachmentEditMode">

                <div class="d-flex justify-content-end gap-3">
                    <button class="btn btn-primary" (click)="addMode=true" >{{'shared.addNewFile' |translate}}</button>
                    <button  (click)="addMode=false;AttachmentEditMode=false" ><a class="cancelbtn mx-4">{{'shared.Cancel'|translate}}</a></button>
                </div>

                <div class="mt-5 row gx-5 border-dark radius-15 p-5 custom-form" *ngIf="addMode" [formGroup]="fileForm">
                    <div class="col-md-4">
                      <label class="label required">{{'students.attachmentsToAdd'|translate}}</label>
                      <p-dropdown formControlName="indexId" (ngModelChange)="fileTypeChanged($event)" [options]="gurdiansAttachmentsTypes$ | async" optionValue="id" optionLabel="{{lang=='ar'? 'name.ar' : 'name.en'}}" placeholder="{{'SystemSetting.chooseAttachment' |translate}}"></p-dropdown>
                      <p *ngIf="showErrMess" class="color-red-500 fs-4 mt-3">هناك بالفعل مرفقات محفوظه لهذا النوع ، وبهذا الحفظ ستحل محل البيانات السابقة</p>
                    </div>

                    <ng-container formGroupName="titel">
                        <div class="col-md-3">
                            <label  class="label">{{'SystemSetting.fileNameAr'|translate}}</label>
                            <input pInputText formControlName="ar" >
                        </div>
                        <div class="col-md-3">
                            <label  class="label">{{'SystemSetting.fileNameEn'|translate}}</label>
                            <input pInputText formControlName="en" >
                        </div>
                    </ng-container>

                    <!-- <div class="col-md-2">
                        <label  class="label">{{'SystemSetting.attachmentType'|translate}}</label>
                        <p-dropdown formControlName="fileType" [options]="filesTypesOptions" optionValue="name" optionLabel="name" placeholder="{{'SystemSetting.chooseAttachment'|translate}}"></p-dropdown>
                    </div> -->

                    <div class="col mb-2 gap-3 align-self-end d-flex justify-content-end mt-4">
                        <button class="btn btn-primary" (click)="addNewFileUpload()" [disabled]="!fileForm.valid">{{'shared.save' |translate}}</button>
                        <button class="fs-3" ><a (click)="addMode=false" class="cancelbtn">{{'shared.Cancel'|translate}}</a></button>
                    </div>

                </div>

                <hr class="my-5">

                <div class="row g-5">
                    <div class="col-md-4"  *ngFor="let file of attachmentsList.controls; let i=index">
                        <div class="" >
                            <app-file-upload
                            [files]="[{url: file.value?.url,name:file.value?.name, comment:file.value?.comment}]"
                            [title]="file.value.titel.ar"
                            [hasComment]="true"
                            view="full"
                            (onFileUpload)="addnewAttachmentTo($event, i)"
                            ></app-file-upload>
                        </div>
                    </div>
                </div>
            </ng-container>

        </ng-container>

        <ng-container *ngIf="step==3">
            <app-child-requests requestsOwner="Child"></app-child-requests>
        </ng-container>

    </div>
