<!-- -----BreadCrumb-- -->

<!-- -------------- -->
<div class="actions d-flex align-items-center gap-3 mb-5">
    <div class="actions__back" role="button" (click)="GoBack()" routerLink="../../">
        <fa-icon [icon]="righticon" class="icon color-primary"></fa-icon>
    </div>
    <button class="btn btn-primary btn--sm">
        <fa-icon class="icon" [icon]="checkicon"></fa-icon>
        <span>{{'shared.save'| translate}} </span>
    </button>
</div>

<!-- ---------------- -->

<div class="custom-form">
    <form >
        <div class="form-group">
            <label for="">
                {{'School' | translate}}
            </label>
            <div class="first-filter d-flex">
             
                <p-dropdown [options]="cities"  placeholder="{{'Sharjah Primary School for Special Education' | translate}}" class="selectcontrol form-control prime-formcontrol"  ></p-dropdown>
                <button class="filerBtn">
                    <img src="assets/images/Frame.svg" alt="">
                </button>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Class' | translate}}
                    </label>
                 
                    <p-dropdown [options]="cities"  placeholder="{{'Choose Class' | translate}}" class="selectcontrol form-control prime-formcontrol"  ></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Subject' | translate}}
                    </label>
                
                    <p-dropdown [options]="cities"  placeholder="{{'Choose Subject' | translate}}" class="selectcontrol form-control prime-formcontrol"  ></p-dropdown>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam name' | translate}}
                    </label>
                    <input type="text" pInputText  class="form-control"    placeholder="{{'Write Exam name' | translate}}">
            
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam duration (in minutes)' | translate}}
                    </label>
                    
                    <input type="text" pInputText  class="form-control"    placeholder="{{'Minute' | translate}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'Exam date' | translate}}
                    </label>
                    <div class="field col-12 md:col-4">
                    
                        <p-calendar  [showIcon]="true" inputId="icon" class="form-control prime-formcontrol selectcontrol"    [inputStyle]="{'background-color':'#EFEFEF','border':'0px'}" styleClass="inputcalend "  placeholder="dd/mm/yy" Calss="calenderinput"  [readonlyInput]="true"   dateFormat="dd/mm/yy" ></p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">
                        {{'School' | translate}}
                    </label>
                    <input class="form-control" type="time">
      

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 files-upload">
                <h5>{{'Exam questions in both paper and audio formats' | translate}}</h5>
                <app-file-upload></app-file-upload>
            </div>
        </div>
    </form>

</div>