<!-- -----BreadCrumb-- -->

<!-- -------------- -->
<div style="overflow-x: hidden;">
    <div class="d-flex ">
        <div id="content">
            <div class=" d-flex align-items-center justify-content-end ">
                <div class="Btn-group d-flex align-items-center justify-content-end gap-3">
                    <button type="submit" (click)="UploadAssignment()" class="btn  btn-primary" [disabled]="assignmentFormGrp.invalid||isBtnLoading">
                        {{'shared.save'|translate}}
                        <div class="spinner-border text-light" role="status" *ngIf="isBtnLoading"></div>
                    </button>
                    <button  ><a routerLink="/dashboard/performance-managment/assignments/assignments-list" class="cancelbtn">{{'shared.cancel'|translate}}</a></button>
 
                </div>
            </div>

            <!-- ---------------- -->

            <div class="container custom-form custom-validation-form">
                <form [formGroup]="assignmentFormGrp" class="container-fluid ">

                    <div class="row gx-5 form-set">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'shared.curriculum' | translate}}
                                </label>

                                <p-dropdown [(ngModel)]="CurriculumSelected" (onChange)="onChange($event)"optionLabel="name.ar" optionValue="id"  [options]="curriculums" formControlName="curriculum" [ngClass]="{'ng-invalid ng-dirty':curriculum.errors?.['required'] && curriculum.touched}"      placeholder="{{'Choose Curriculum' | translate}}">
                                </p-dropdown>
                                <div>
                                    <div [hidden]="curriculum.valid || curriculum.untouched">
                                        <small *ngIf="curriculum.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="row gx-5 form-set">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'Class' | translate}}
                                </label>

                                <p-dropdown [(ngModel)]="GradeSelected" [options]="gradesList" formControlName="grades" [ngClass]="{'ng-invalid ng-dirty':grades.errors?.['required'] &&grades.touched}" optionLabel="name.ar" optionValue="id"  placeholder="{{'Choose Class' | translate}}">
                                </p-dropdown>
                                <div>
                                    <div [hidden]="grades.valid || grades.untouched">
                                        <small *ngIf="grades.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'Subject' | translate}}
                                </label>
                                <p-dropdown [(ngModel)]="SubjectSelected" [options]="subjectsList" optionLabel="subjectName.ar" optionValue="id" formControlName="subjects"  [ngClass]="{'ng-invalid ng-dirty':subjects.errors?.['required'] &&subjects.touched}"  placeholder="{{'Choose Subject' | translate}}">
                                </p-dropdown>
                                <div>
                                    <div [hidden]="subjects.valid || subjects.untouched">
                                        <small *ngIf="subjects.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'Exam name in Arabic' | translate}}
                                </label>
                                <input formControlName="ExamNameInArabic"  [LangRestrict]="'ar'" type="text" pInputText class="form-control " placeholder="{{'Write Exam name' | translate}}">
                                <div>
                                    <div [hidden]="ExamNameInArabic.valid || ExamNameInArabic.untouched">
                                        <small *ngIf="ExamNameInArabic.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                        <small *ngIf="ExamNameInArabic.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 256 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gx-5 form-set">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'Exam name in English' | translate}}
                                </label>
                                <input formControlName="ExamNameInEnglish"  [LangRestrict]="'en'" type="text" pInputText class="form-control leftaction"  placeholder="{{'Write Exam name' | translate}}">
                                <div>
                                    <div [hidden]="ExamNameInEnglish.valid || ExamNameInEnglish.untouched">
                                        <small *ngIf="ExamNameInEnglish.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                        <small *ngIf="ExamNameInEnglish.errors?.['maxlength']" id="helpId2" class="form-text text-muted d-block " class="alert-danger" >
                                            {{'shared.Numbres Of Characters must not more than 256 character'|translate}}
                                            <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group custom-form">
                                <label class="label" for="">
                                    {{'Exam duration (in minutes)' | translate}}
                                </label>
                                <p-inputNumber formControlName="ExamDuration"  [showButtons]="true" [min]="1" suffix="{{' '+('Minute'|translate)}}" [max]="300" [ngClass]="{'ng-invalid ng-dirty':ExamDuration.errors?.['required'] &&ExamDuration.touched}"  placeholder="{{'dashboard.students.weight'|translate}}"></p-inputNumber>
                                <!-- <input formControlName="ExamDuration" type="text" pInputText class="form-control basicinput" appValidatorsInput placeholder="{{'Minute' | translate}}"> -->
                                <div>
                                    <div [hidden]="ExamDuration.valid || ExamDuration.untouched">
                                        <small *ngIf="ExamDuration.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'dashboard.Assignments.Exam Date' | translate}}
                                </label>
                                <div class="field col-12 md:col-4">
                                    <p-calendar formControlName="ExamDate" [ngClass]="{'ng-invalid ng-dirty':ExamDate.errors?.['required'] &&ExamDate.touched}" [showIcon]="true" inputId="icon" [minDate]="minDateValue"  placeholder="{{'dd/mm/yy'|translate}}" [readonlyInput]="true"dateFormat="DD dd-mm-yy"></p-calendar>
                                </div>
                                <div>
                                    <div [hidden]="ExamDate.valid || ExamDate.untouched">
                                        <small *ngIf="ExamDate.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row gx-5 form-set">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="label" for="">
                                    {{'dashboard.Assignments.Exam Time' | translate}}
                                </label>
                                <!-- <input class="form-control basicinput" appValidatorsInput selectionMode="range" type="time" > -->
                                <p-calendar formControlName="ExamTime"  [ngClass]="{'ng-invalid ng-dirty':ExamTime.errors?.['required'] &&ExamTime.touched}"  icon="pi pi-clock" [timeOnly]="true"   showIcon="true" [hourFormat]="12" inputId="timeonly"></p-calendar>
                                <div>
                                    <div [hidden]="ExamTime.valid || ExamTime.untouched">
                                        <small *ngIf="ExamTime.errors?.['required']"  id="helpId" class="form-text text-muted d-block  " class="alert-danger">
                                          {{'shared.This Field is Required'|translate}}
                                           <fa-icon  [icon]=" exclamationIcon"  class="dangericon ms-1 "></fa-icon>
                                        </small>
                                       
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-md-4">
               
                                <label class="label" for="">
                                    {{'Exam questions in audio formats' | translate}}
                                </label>
                                <app-file-upload  (onFileUpload)="onAudioUpload($event)" [accept]="fileTypesEnum.Audio"  view="full"></app-file-upload>
                               
                            
                            </div>
                            <div class="col-md-4">
                                <label class="label" for="">
                                    {{'Exam questions in paper formats' | translate}}
                                </label>
                               <app-file-upload  (onFileUpload)="onFileUpload($event)" [accept]="fileTypesEnum.Pdf" view="full" ></app-file-upload>

                              
                            
                            </div>


                        </div>
                
                </form>

            </div>
        </div>
    </div>