    @import '../../../../../../../assets/css/utils/variables.scss';
    @import '../../../../../../../assets/css/components/breadcrumb';
    @import '../../../../../../../assets/css/components/forms.scss';
    @import '../../../../../../../assets/css/components/model';
    @import '../../../../../../../assets/css/utils/variables.scss';
    @import '../../../../../../../assets/css/components//forms.scss';
    @import '../../../../../../../assets/css/components/validation-form.scss';
    
  
    
    .contain{
        height:40rem;
        
        &.scroll{
        overflow-y:scroll;
        overflow-x: hidden;
        
        
        }
     }   