@import 'src/assets/css/utils/variables';
@import 'src/assets/css/components/primng-table';
@import 'src/assets/css/components/forms.scss';


::ng-deep p-table{
    .p-datatable-tbody tr td{
        &:first-child{padding: 1rem !important;}
    }
}

.btn{
    &.reject{
        color: $color-red-500;
        background: white;
        border: 1px solid $color-red-500;
        &:hover{
            color: white ;
            background: $color-red-500;
        }
    }
    &.accept{
        color: $color-skyBlue-500;
        background: white;
        border: 1px solid $color-skyBlue-500;
        &:hover{
            color: white ;
            background: $color-skyBlue-500;
        }
    }
}
